{% if parametro_hide == 0 %}
    <table style="margin-left: 35px;">
        <thead>
            <tr>
                <th style="width: 70px; ">Todo Cant.</th>
                <th style="width: 70px; ">Todo Costo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">
                    <input type="radio"  id="all_cantidad" name="tipo-all" value="1"/>
                </td>
                <td style="text-align: center;">
                    <input type="radio"  id="all_costo" name="tipo-all" value="2">
                </td>
            </tr>
        </tbody>
    </table>
    <table id="tabla_formset_venta_dev_a" style="margin-top: 30px;" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle">
        <thead>
            <tr>
                <th style="background: #F6F6F6; width: 35px;"></th>
                <th style="width: 70px;">Cantidad</th>
                <th style="width: 70px;">Costo</th>
                <th style="width: 490px;">Item</th>
                <th style="width: 100px;">Cant.Venta</th>
                <th style="width: 100px;">Cant.Ent.</th>
                <th style="width: 100px;">Precio</th>
                <th style="width: 100px;">Valor Desc.</th>
                <th style="width: 100px;">Cant.Devolver</th>
                <th style="width: 150px;">Subtotal</th>
            </tr>
        </thead>
        {{ forms.management_form }}
        <tbody>
            {% for formularios in forms %}
                <tr>
                    <td style="background: #F6F6F6 !important;"></td>
                    <td style="display: none">{{ formularios.id_detalle_venta }}</td>
                    <td style="display: none">{{ formularios.id_item }}</td>
                    <td  style="text-align: center;"><input type="radio" class="cantidad" name="tipo-{{ forloop.counter }}" value="1"></td>
                    <td  style="text-align: center;"><input  type="radio" class="costo" name="tipo-{{ forloop.counter  }}" value="2"></td>
                    <td>{{ formularios.item }}</td>
                    <td>{{ formularios.cant_vendida }}</td>
                    <td>{{ formularios.cant_ent }}</td>
                    <td>{{ formularios.precio }}</td>
                    <td>{{ formularios.desc_valor }}</td>
                    <td style="display: none;">{{ formularios.iva }}</td>
                    <td style="display: none;">{{ formularios.ice }}</td>
                    <td style="display: none;">{{ formularios.desc_porc }}</td>
                    <td>{{ formularios.cant_dev }}</td>
                    <td>{{ formularios.subtotal }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="tiene_venta" style="display: none" data-error="0"></div>
{% else %}
    <div id="tiene_venta" style="display: none" data-error="1"></div>
    <div> </div>
    <p style="text-align: center; margin: auto;" id="parametro_hide"> Ha realizado la devolución completa de la venta seleccionada, para continuar la devolución escoja otro numero de documento de venta.</p>
{% endif %}