{% load widget_tweaks %}
{{ forms.management_form }}
<table class="tabla-comprobante-detalle-externa">
   <tr>
       <td style="border: none;">
            <table id="tabla_formset_venta_test" class="tabla-venta-item-final tabla tabla-comprobante-detalle tabla-formato-detalle tabla-comprobante-venta">
                <thead>
                    <tr>
                        <th style="background: #F6F6F6; width: 35px;"></th>
                        <th style="display: none"></th>
                        <th style="width: 242px;">Item</th>
                        <th style="width: 450px;">Concepto</th>
                        <th style="width: 160px;">Centro de Costo</th>
                        <th style="width: 90px;">Cantidad</th>
                        <th>Precio U.</th>
                        <th>% IVA</th>
                        <th>% ICE</th>
                        <th><span class="descuento" id="simbolo_descuento"></span>Descuento</th>
                        <th style="width: 100px;">Subtotal</th>
                        <th style="width: 80px;">Cant. Ent.</th>
                    </tr>
                </thead>
                <tbody>
                {% for formularios in forms %}
                    <tr>
                          <td style="background: #F6F6F6 !important;" class="tr-delete"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                <img src="/static/cm_html/images/eliminar_tr_icono.png"></a>
                          </td>
                        {% for form in formularios %}
                            {% if form.label == "id_item" or form.label == "tipo_item"  %}
                                    <td style="display: none">{{ form }}</td>
                            {% elif form.label == "concepto" %}
                                <td class="td-concepto">
                                    {{ form }}
                                    <ul class="lista-concepto">
                                        <li class="li-concepto">
                                             <input name="detalle_vent" class="concepto detalle_vent" type="text" maxlength="75" style="width: 416px;"/>
                                             <span class="spacer" style="display: none;"></span>
                                             <span class="ancho" style="display: none;">0px</span>
                                             <a class="tr-agregar-concepto" id="add-concepto" style="color: #E75300; position: relative; left: 3px;" title="Agregar">
                                                <img src="/static/cm_html/images/agregar_tr_icono.png" height="20px">
                                            </a>
                                            <a class="tr-eliminar-concepto" title="Eliminar" style="display: none">
                                               <img src="/static/cm_html/images/eliminar_tr_icono.png">
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            {% else %}
                                <td>{% if form.errors %}{{ form|add_class:"campo_requerido" }}{% else %}{{ form }}{% endif %}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
       </td>
   </tr>
    <tr style="margin: 0px; padding: 0px;">
       <td style="border: none; margin: 0px; padding: 0px;">
           <table id="tb-boton-add">
             <tr>
                 <td  style="border: 0px;">
                     <a class="tr-agregar" id="add" style="color: #E75300;">
                         <img src="/static/cm_html/images/agregar_tr_icono.png">
                            Agregar otra fila
                    </a>
                 </td>
            </tr>
           </table>
       </td>
    </tr>
</table>