{% load widget_tweaks %}
    <table style="margin-left: 182px; margin-bottom: 20px">
        <thead>
            <tr>
                <th style="width: 70px; ">Todo Cant.</th>
                <th style="width: 70px; ">Todo Costo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">
                    <input type="radio"  id="all_cantidad_man" name="tipo-all-man" value="1"/>
                </td>
                <td style="text-align: center;">
                    <input type="radio"  id="all_costo_man" name="tipo-all-man" value="2">
                </td>
            </tr>
        </tbody>
    </table>

<table class="tabla-comprobante-detalle-externa" style="width: 1016px; margin: auto; position: relative;left: 2px;">
   <tr>
       <td style="border: none;">
            <table id="tabla_formset_venta_dev_m" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-comprobante-venta">
                <thead>
                    <tr>
                        <th style="background: #F6F6F6; width: 35px;"></th>
                        <th style="width: 70px;">Cantidad</th>
                        <th style="width: 70px;">Costo</th>

                        <th style="width: 394px;">Item</th>
                        <th style="width: 70px;">Cant. Devolver</th>
                        <th style="width: 70px;">Precio U.</th>
                        <th style="width: 100px;">Subtotal</th>
                        <th style="width: 80px;">Act. Inven.</th>
                    </tr>
                </thead>
                 {{ forms.management_form }}
                <tbody>
                {% for formularios in forms %}
                    <tr>
                        <td style="background: #F6F6F6 !important;">
                          <a class="boton-eliminar-tr eliminar" title="Eliminar"><img src="/static/cm_html/images/eliminar_tr_icono.png"></a>
                        </td>

                    <td style="text-align: center;">{% if formularios.errors %}{{ formularios.item|add_class:"campo_requerido" }}{% else %}{{ formularios.item }}{% endif %}</td>
                    <td style="text-align: center;">{% if formularios.errors %}{{ formularios.cant_dev }}{% else %}{{ formularios.cant_dev }}{% endif %}</td>
                    <td style="text-align: center;">{% if formularios.errors %}{{ formularios.precio }}{% else %}{{ formularios.precio }}{% endif %}</td>
                    <td style="text-align: center;">{% if formularios.errors %}{{ formularios.subtotal }}{% else %}{{ formularios.subtotal }}{% endif %}</td>
                    <td style="text-align: center;">{{ formularios.act_inven }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
       </td>
   </tr>
    <tr style="margin: 0px; padding: 0px;">
       <td style="border: none; margin: 0px; padding: 0px;">
           <table id="tb-boton-add">
                 <tr>
                     <td  style="border: 0px;">
                         <a class="tr-agregar" id="add" style="color: #E75300;">
                             <img src="/static/cm_html/images/agregar_tr_icono.png">
                                Agregar otra fila
                        </a>
                     </td>
                </tr>
           </table>
       </td>
    </tr>
</table>
