{% extends "base.html" %}
{% block title %}Reporte Kárdex por Item{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}
{% block stylesheet %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>

    .numero{

        text-align: right;
    }

    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_bancos/movimientos_bancarios.js"></script>
    <script>

      jQuery(document).ready(function($) {

           var formulario = $('#formulario');

            $('#limpiar').click(function(){
               limpiar_form(formulario);
               show_hide_prov($("#id_all_items"));
                //esto de abajo quita los componentes que hacen los reportes si es que he limpiado el buscador, para que el sitio no trate de hacer reportes con nulls y asi no se caiga
               //implementar esto para que el div datos-mostrar-ocultar se vaya
               $('.datos-mostrar-ocultar').remove();
            });

          show_hide_prov($("#id_all_items"));

            $("#id_all_items").click(function(){
                show_hide_prov(this);
            });


            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

        });
    </script>

    <script>
        jQuery(document).ready(function($) {
            var formulario = $("#formulario");
            $(".selectpicker").selectpicker();

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(){
                EliminarFila(this);
            });

            $("#id_all_items").click(function(){
                show_hide_prov(this);
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();

            $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
            });

        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Inventarios / Kárdex por Item{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_kardex_por_item" %}" data-action="{% url "reporte_kardex_por_item" %}"  class="form-group" id="formulario" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">

                     <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>
                            <td>
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                            <td>

                            </td>
                        </tr>
                         <tr>

                             <td>
                                <label>{{ buscador.all_items.label }}</label>
                             </td>
                             <td colspan="3">
                                    {{ buscador.all_items|add_class:"check" }}
                             </td>
                         </tr>

                    </table>
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table class="tabla-comprobante-cabecera" id="proveedores">
                                    {{ formset_item.management_form }}
                                    <tbody>
                                    {% for form in formset_item %}
                                        <tr>
                                            <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                            </td>
                                            <td class="td-label1" style="text-align: left; width: 116px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.item.label }}">
                                                {% if form.item.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.item.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.item.errors %}{{ form.item|add_class:"campo_requerido combo" }}{% else %}{{ form.item|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="margin: 0; padding: 0;">
                            <td style="border: none; margin: 0; padding: 0;">
                                <table id="tb-boton-add" style="margin: 0">
                                    <tr>
                                        <td  style="border: 0;">
                                            <a class="tr-agregar" id="add_proveedor"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otro Item</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>



                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>


    </form>


    {% if objetos %}

        <div class="div div-descargas" style="padding: 0; ">
                    <a  class="img_report img_excel excel" href="{% url "reporte_kardex_por_item_impreso" 1%}"></a>
                    <a  class="img_report img_pdf excel" href="{% url "reporte_kardex_por_item_impreso" 2%}"></a>
                </div>

        <div style="border: 2px solid #E5E5E5;">
                {{ objetos.content|safe }}
            </div>
    {% else %}
        {% mensaje_no_data request %}
    {% endif %}

    {% if objetos2 %}
        <div class ="datos-mostrar-ocultar">



        <div class="div div-descargas" style="padding-bottom: 30px;">
            <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_kardex_por_item_excel" %}"></a>
            <a class="img_report img_pdf excel" title="Descagar en PDF" target="_blank" href="{% url "reporte_kardex_item_pdf" %}"></a>
        </div>

        <div class="table-responsive">
            {% for obj in objetos %}
                <h3 class="reporte-subtitle">Item: {{ obj.item.nombre }} - {{ obj.item.codigo }}</h3>
                <table id="tabla_reporte" class="table tabla table-striped tabla-formato" style="margin-bottom: 30px;">
                    <thead>
                        <tr>
                            <th>Fecha Reg</th>
                            <th>Tipo Comp.</th>
                            <th style="width: 104px;">Num Comp.</th>
                            <th>Tipo Mov.</th>
                            <th  style="width: 120px;">Num Doc</th>
                            <th>Descripción</th>
                            <th style="width: 50px;">Cantidad</th>
                            <th>Costo Inventario</th>
                            <th>Debito</th>
                            <th>Crédito</th>
                            <th>Saldo</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">Saldos Iniciales: </td>
                            <td class="text-right"></td>
                            <td class="text-right">{% divicion_snippet obj.saldo_inicial obj.cantidad_inicial 7 %} </td>
                            <td colspan="2"></td>
                            <td class="text-right">{{ obj.saldo_inicial|floatformat:2  }}</td>
                            <td class="text-right">{{ obj.cantidad_inicial|floatformat:2  }}</td>
                        </tr>
                        {% for obj_list in obj.lista %}
                            <tr>
                                <td style="width: 90px; text-align: center;"> {{ obj_list.inv_detalle.inventario_cabecera.fecha_reg|date:"Y-m-d" }}</td>
                                <td style="width: 130px;"> {{ obj_list.inv_detalle.inventario_cabecera.tipo_comprobante.descripcion }}</td>
                                <td style="width: 90px;"> {{ obj_list.inv_detalle.inventario_cabecera.num_comp }}</td>
                                <td  style="width: 130px;"> {{ obj_list.inv_detalle.inventario_cabecera.tipo_mov_inventario.descripcion}}</td>
                                <td> {{ obj_list.inv_detalle.inventario_cabecera.num_doc }}</td>
                                <td title="{{ obj_list.inv_detalle.inventario_cabecera.detalle}}"> {{ obj_list.inv_detalle.inventario_cabecera.detalle |slice:"0:47" }}{% if obj_list.inv_detalle.inventario_cabecera.detalle|length > 47 %}...{% endif %}</td>
                                <td class="text-right"> {{ obj_list.inv_detalle.cantidad|floatformat:2 }}</td>
                                <td style="text-align: right;"> {{ obj_list.inv_detalle.costo }}</td>
                                {% if obj_list.inv_detalle.inventario_cabecera.tipo_comprobante_id == 14%}
                                    <td class="text-right"> {% multiplicacion_snippet obj_list.inv_detalle.cantidad obj_list.inv_detalle.costo %}</td>
                                    <td class="text-right">0.00</td>
                                {% else %}
                                    <td class="text-right">0.00</td>
                                    <td class="text-right"> {% multiplicacion_snippet obj_list.inv_detalle.cantidad obj_list.inv_detalle.costo %}</td>
                                {% endif %}
                                <td class="text-right"> {{ obj_list.saldo|floatformat:2 }}</td>
                                <td class="text-right"> {{ obj_list.cantidad|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
       </div>
    {% else %}
        {% mensaje_no_data request %}
    {% endif %}
    <div class="div div-agregar" style="margin-bottom: 10px;">
            <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar</a>
    </div>
{% endblock %}