{% extends "base.html" %}
{% block title %}
    {% if tipo == 1 %}
        Agregar Empleado
    {% elif tipo == 2 %}
        Editar Empleado
    {% else %}
        Detalle Empleado
    {% endif %}
{% endblock %}
{% load widget_tweaks %}
{% load formulario_base %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        .campo_requerido{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }
        .campo_requerido:hover{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }
        .numerico{
            text-align: left !important;
        }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            // Inhabilita el boton de submit evitando que se haga más de una petición
            $("input[type='submit']").click(function(){
                $(this).attr("disabled", false);
                $("form").submit(function(){
                  $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
                  return true;
                });
            });

             $(".numerico").each(function(){
                $(this).keydown(function(event){
                    NumeroEntero(event);
                });
             });

            $('.selectpicker').selectpicker();

        });
    </script>
 {% endblock %}

{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"
 {% endblock %}
 {% block ruta-principal %}Contabilidad{% endblock %}
 {% block ruta-actual %}
    {% if tipo == 1 %}
        Agregar Empleado
     {% elif tipo == 2 %}
        Editar Empleado
    {% else %}
        Detalle  del Empleado
     {% endif %}
 {% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{% if tipo == 1 %}
                                    {% url "agregar_empleado" %}
                                {% elif tipo == 2 %}
                                    {% url "editar_empleado" id %}
                                {% elif tipo == 3 %}
                                    {% url "detalle_empleado" id %}
                                {% endif %}" enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}

         <div class="row row-persona-cabecera" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                {% if tipo == 1 %}
                    <h3  class="sub-title-comprobante">
                          AGREGAR EMPLEADO
                    </h3>
                {% elif tipo == 2 %}
                    <h3  class="sub-title-comprobante">
                          EDITAR EMPLEADO
                    </h3>
                {% elif tipo == 3 %}
                    <h3  class="sub-title-comprobante">
                          VER EMPLEADO
                    </h3>
                {% endif %}
                    <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                        <tr>
                            <td style="width: 175px;">
                            <label class="control-label" for="{{ formulario.num_id.label }}">
                            {% if formulario.num_id.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.num_id.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.num_id.errors %}{{ formulario.num_id|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.num_id|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 175px;">
                            <label class="control-label" for="{{ formulario.nombres.label }}">
                            {% if formulario.nombres.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.nombres.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.nombres.errors %}{{ formulario.nombres|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.nombres|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <label class="control-label" for="{{ formulario.apellidos.label }}">
                            {% if formulario.apellidos.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.apellidos.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.apellidos.errors %}{{ formulario.apellidos|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.apellidos|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <label class="control-label" for="{{ formulario.sueldo.label }}">
                            {% if formulario.sueldo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.sueldo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.sueldo.errors %}{{ formulario.sueldo|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.sueldo|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                   </table>
            </div>
         </div>

        <div class="text-center" style="padding: 30px 0px;">
            {% if tipo != 3 %}
                <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
                <a class="boton boton-gray" href="{% url "lista_empleados" %}">Cancelar</a>
            {% else %}
                <a class="boton boton-gray" href="{% url "lista_empleados" %}">Regresar</a>
            {% endif %}
        </div>
    </form>

    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                           <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <!-- AQUI VA EL MENSAJE -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary  yes" id="ok-alert" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title-ok" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert-ok">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}