{% extends "base.html" %}
{% block title %}Generar Sueldo Mensual{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <style type="text/css">
        .numero{
            text-align: right;
        }
        #tabla_reporte tbody tr td.numero:first-child{
            text-align: center;
        }
        .td-item{
            text-align: left;
        }
        .reprocesar{
            background-color: red;
        }
        .info_empleado{
            padding-left: 20px;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var url_get_empleados = "{% url "get_detalle_empleados_sueldo" %}";
    </script>
    <script src="{{ STATIC_URL }}js/js_empleados/generar_sueldo_mensual.js"></script>

    <script type="text/javascript">
        $(document).ready(function($) {
            $("#grabar").hide();
            $(".selectpicker").selectpicker();
            $('#id_anio').mask('9999');
            $("#id_anio").datepicker({
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years"
            });

            $("#generar").click(function(){
               get_detalle_sueldos(url_get_empleados);

            });
        });
    </script>
{% endblock %}

 {% block item-contabilidad %}item-activo-menu{% endblock %}
 {% block container-navigation-media %}container-navigation-media{% endblock %}
 {% block container-contenido-media %}container-contenido-media{% endblock %}

 {% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"{% endblock %}
 {% block ruta-principal %}{% endblock %}
 {% block ruta-actual %} Generar Sueldo Mensual {% endblock %}

{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

      <form action="{% url "generar_sueldo_empleado" %}" class="form-group" id="formulario" method="POST">
            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td style="width: 85px;" >
                                    <label class="control-label" for="{{ formulario.anio.label }}">
                                    {% if formulario.anio.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.anio.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td style="width: 150px; padding-right: 20px;">
                                    {% if formulario.anio.errors %}{{ formulario.anio|add_class:"campo_requerido" }}{% else %}{{ formulario.anio|add_class:"calendario-gris input-calendario" }}{% endif %}
                                </td>
                                <td>
                                    <label class="control-label" for="{{ formulario.mes.label }}">
                                    {% if formulario.mes.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.mes.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td style="width: 230px; padding-left: 25px;">
                                    {% if formulario.mes.errors %}{{ formulario.mes|add_class:"campo_requerido" }}{% else %}{{ formulario.mes.value }}{% endif %}
                                </td>
                            </tr>

                            <tr style="display: none;">
                                <td class="td-label1">
                                    <label class="control-label" for="{{ formulario.sueldo.label }}">
                                    {% if formulario.sueldo.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.sueldo.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control1" style="padding-top: 10px;">
                                    {% if formulario.sueldo.errors %}{{ formulario.sueldo|add_class:"campo_requerido" }}{% else %}{{ formulario.sueldo }}{% endif %}
                                </td>
                            </tr>
                        </table>

                        <div style="margin-top: 35px; text-align: center;">
                                <button type="button" class="boton boton-silver"  id="generar">Generar</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row row-comprobante-detalle" style="margin-top: 50px;">
                <div id="div_detalle_transacciones">
                    {% if parametro_hide == 0 %}
                        <table id="tabla_formset_detalle_doc" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-conciliacion">
                            <thead>
                                <tr>
                                    <th style="display: none"></th>
                                    <th style="width: 80px;"></th>
                                    <th style="width: 350px;">Empleado</th>
                                    <th style="width: 100px;">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for formularios in forms %}
                                    <tr>
                                        {% for form in formularios %}
                                            {% if form.label == "id_empleado"  %}
                                                <td style="display: none">{{ form }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td> {{ formularios.empleado.value}}</td>
                                        <td style="text-align: right;">  {{ formularios.valor }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {{ forms.management_form }}
                        </table>
                    {% endif %}
               </div>
            </div>

            <div class="text-center div-botones-alto" style="padding-bottom: 0px;">
                <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
                <a class="boton boton-gray" href="{% url "lista_empleados" %}">Cancelar</a>
            </div>
      </form>


    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}