{% extends "base.html" %}
{% block title %}{% if tipo == 1 %}Agregar{% else %}Editar{% endif %} Contrato{% endblock %}
{% load widget_tweaks %}
{% load formulario_base %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
        .td-label12{
            padding-left: 5px;
            width: 110px;
        }
        .td-label1{
            padding-left: 0px;
            width: 110px;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script>
        var fecha_actual = "{% now "Y-m-d" %}";
    </script>
    <script src="{{ STATIC_URL }}js/js_contrato/agregar_contrato.js"></script>
{% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"
 {% endblock %}
 {% block ruta-principal %}Inventarios{% endblock %}
 {% block ruta-actual %}Registrar Contrato{% endblock %}
 {% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form role="form" id="formulario" enctype="multipart/form-data" action="#" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: inherit">
            <div class="col-lg-12">
                <div class="comprobante-cabecera-left" style="margin: auto; width: 680px;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td class="td-label1" style="width: 130px">
                                <label class="control-label" for="{{ formulario.fecha_reg.label }}">
                                {% if formulario.fecha_reg.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.fecha_reg.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario.fecha_reg.errors %}{{ formulario.fecha_reg|add_class:"campo_requerido" }}{% else %}{{ formulario.fecha_reg }}{% endif %}
                            </td>
                            <td class="td-label1"  style="width: 130px; text-align: right; padding-right: 5px;">
                                <label class="control-label" for="{{ formulario.fecha_ent.label }}">
                                {% if formulario.fecha_ent.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.fecha_ent.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario.fecha_ent.errors %}{{ formulario.fecha_ent|add_class:"campo_requerido" }}{% else %}{{ formulario.fecha_ent }}{% endif %}
                            </td>
                        </tr>
                        {% if tipo == 1 %}
                            <tr>
                                <td>
                                    <label class="control-label" for="{{ formulario.secuencia.label }}">
                                    {% if formulario.secuencia.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.secuencia.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td colspan="3">
                                    {% if formulario.secuencia.errors %}{{ formulario.secuencia|add_class:"campo_requerido combo" }}{% else %}{{ formulario.secuencia|add_class:"combo" }}{% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.cliente.label }}">
                                {% if formulario.cliente.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.cliente.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.cliente.errors %}{{ formulario.cliente|add_class:"campo_requerido combo" }}{% else %}{{ formulario.cliente|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.tipo_pago.label }}">
                                {% if formulario.tipo_pago.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.tipo_pago.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.tipo_pago.errors %}{{ formulario.tipo_pago|add_class:"campo_requerido combo" }}{% else %}{{ formulario.tipo_pago|add_class:"combo" }}{% endif %}
                            </td>
                            <td class="td-label12 plazo">
                                <label class="control-label" for="{{ formulario.plazo.label }}">
                                {% if formulario.plazo.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.plazo.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control12 plazo">
                                {% if formulario.plazo.errors %}{{ formulario.plazo|add_class:"campo_requerido" }}{% else %}{{ formulario.plazo }}{% endif %}
                            </td>
                        </tr>
                        <tr class="vence">
                            <td class="td-label12">
                                <label class="control-label">
                                    <span class="no-requerido"></span>
                                    <b>Vencimiento</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control12">
                                <label id="vence"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.vendedor.label }}">
                                {% if formulario.vendedor.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.vendedor.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.vendedor.errors %}{{ formulario.vendedor|add_class:"campo_requerido combo" }}{% else %}{{ formulario.vendedor|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.responsable.label }}">
                                {% if formulario.responsable.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.responsable.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.responsable.errors %}{{ formulario.responsable|add_class:"campo_requerido combo" }}{% else %}{{ formulario.responsable|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.descripcion.label }}">
                                {% if formulario.descripcion.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.descripcion.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.descripcion.errors %}{{ formulario.descripcion|add_class:"campo_requerido combo" }}{% else %}{{ formulario.descripcion|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.costo_estimado.label }}">
                                {% if formulario.costo_estimado.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.costo_estimado.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.costo_estimado.errors %}{{ formulario.costo_estimado|add_class:"campo_requerido combo" }}{% else %}{{ formulario.costo_estimado|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.valor.label }}">
                                {% if formulario.valor.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.valor.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.valor.errors %}{{ formulario.valor|add_class:"campo_requerido combo" }}{% else %}{{ formulario.valor|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.iva.label }}">
                                {% if formulario.iva.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.iva.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario.iva.errors %}{{ formulario.iva|add_class:"campo_requerido combo" }}{% else %}{{ formulario.iva|add_class:"combo" }}{% endif %}
                            </td>


                            <td style="text-align: right; padding-right: 20px;">
                                <label class="control-label" for="{{ formulario.monto_iva.label }}">
                                {% if formulario.monto_iva.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.monto_iva.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario.monto_iva.errors %}{{ formulario.monto_iva|add_class:"campo_requerido" }}{% else %}{{ formulario.monto_iva }}{% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.total.label }}">
                                {% if formulario.total.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.total.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.total.errors %}{{ formulario.total|add_class:"campo_requerido combo" }}{% else %}{{ formulario.total|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.utilidad.label }}">
                                {% if formulario.utilidad.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.utilidad.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.utilidad.errors %}{{ formulario.utilidad|add_class:"campo_requerido combo" }}{% else %}{{ formulario.utilidad|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="text-center" style="padding: 30px 0px;">
           <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
           <a class="boton boton-gray" href="{% url "lista_contrato" %}" title="Cancelar">Cancelar</a>
        </div>
    </form>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}