{% extends "base.html" %}
{% load widget_tweaks %}
{% load formulario_detalle_costo_contrato %}
{% block title %}Costo Adicionales Contrato{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        #id_concepto{
            height: 60px;
            width: 100%;
            padding: 10px;
            max-width: 100%;
            min-width: 100%;
        }
        #encabezado{
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            padding: 10px;
        }

        h6{
            color: #dd4814;
            padding-bottom: 20px;
            text-align: justify;
            font-size: 16px;
        }

        #total{
           padding: 15px;
           text-align: center;
           margin: auto;
           margin-bottom: 25px;
        }

        .campo_requerido{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }
        .campo_requerido:hover{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }

        input[type=checkbox]{
            cursor: pointer;
            display: inline-block;

            width: 16px;
            height: 25px;
        }

        .tabla-comprobante-detalle tbody tr td:last-child {
            background: #FFF !important;
            border: 0px !important;
            border-right: 2px solid #E6E6E6 !important;
            border-bottom: 2px solid #E6E6E6 !important;
        }

        #id_valor{
            width: 100px !important;
            text-align: right;
        }

        .horas{
            text-align: right !important;
        }

        .td-control1{
            padding-top: 7px !important;
        }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script type="text/javascript">
        var url_get_facturas_compras = "{% url "get_facturas_costo_contrato" %}";
        var flag_post = "{{ flag_post }}";
        var url_get_valor_costo_contrato = "{% url "get_valor_costo_contrato" %}";
    </script>
    <script src="{{ STATIC_URL }}js/js_contrato/costo_contrato.js"></script>
{% endblock %}

{% block item-proyecto %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-700{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/proyecto_icono.png"
{% endblock %}
{% block ruta-principal %}Contrato{% endblock %}
 {% block ruta-actual %}Costos Adicionales de Contrato{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{% url "costo_contrato"  %}" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}
        <div class="comprobante-cabecera-left" style="margin: auto; width: 680px;">
            <div style="margin-top: 20px;">
                <table class="tabla">
                    <tr>
                        <td class="td-label1" style="width: 200px !important;">
                            <label class="control-label" for="{{ formulario.fecha_reg.label }}">
                            {% if formulario.fecha_reg.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.fecha_reg.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 500px !important;">
                            {% if formulario.fecha_reg.errors %}{{ formulario.fecha_reg|add_class:"campo_requerido" }}{% else %}{{ formulario.fecha_reg }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label1" style="width: 200px !important;">
                            <label class="control-label" for="{{ formulario.tipo.label }}">
                            {% if formulario.tipo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.tipo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 500px !important;">
                            {% if formulario.tipo.errors %}{{ formulario.tipo|add_class:"campo_requerido" }}{% else %}{{ formulario.tipo }}{% endif %}
                        </td>
                    </tr>
                    <tr id="tr_proveedor">
                        <td class="td-label1" style="width: 200px !important;">
                            <label class="control-label" for="{{ formulario.proveedor.label }}">
                            {% if formulario.proveedor.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.proveedor.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 500px !important;">
                            {% if formulario.proveedor.errors %}{{ formulario.proveedor|add_class:"campo_requerido" }}{% else %}{{ formulario.proveedor }}{% endif %}
                        </td>
                    </tr>
                    <tr id="tr_empleado">
                        <td class="td-label1" style="width: 200px !important;">
                            <label class="control-label" for="{{ formulario.empleado.label }}">
                            {% if formulario.empleado.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.empleado.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 500px !important;">
                            {% if formulario.empleado.errors %}{{ formulario.empleado|add_class:"campo_requerido" }}{% else %}{{ formulario.empleado }}{% endif %}
                        </td>
                    </tr>
                    <tr id="tr_factura">
                        <td class="td-label1" style="width: 200px !important;">
                            <label class="control-label" for="{{ formulario.factura.label }}">
                            {% if formulario.factura.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.factura.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 500px !important;">
                            {% if formulario.factura.errors %}{{ formulario.factura|add_class:"campo_requerido" }}{% else %}{{ formulario.factura }}{% endif %}
                        </td>
                    </tr>
                    <tr id="tr_valor_cmp">
                        <td class="td-label1" style="width: 200px !important;">
                            <label class="control-label" for="{{ formulario.valor_cmp.label }}">
                            {% if formulario.valor_cmp.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.valor_cmp.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 500px !important;">
                            {% if formulario.valor_cmp.errors %}{{ formulario.valor_cmp|add_class:"campo_requerido" }}{% else %}{{ formulario.valor_cmp }}{% endif %}
                        </td>
                    </tr>
                    <tr id="tr_sueldo">
                        <td class="td-label1" style="width: 200px !important;">
                            <label class="control-label" for="{{ formulario.sueldo.label }}">
                            {% if formulario.sueldo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.sueldo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 500px !important;">
                            {% if formulario.sueldo.errors %}{{ formulario.sueldo|add_class:"campo_requerido" }}{% else %}{{ formulario.sueldo }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label1" style="width: 200px !important;">
                            <label class="control-label" for="{{ formulario.concepto.label }}">
                            {% if formulario.concepto.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.concepto.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 500px !important;">
                            {% if formulario.concepto.errors %}{{ formulario.concepto|add_class:"campo_requerido" }}{% else %}{{ formulario.concepto }}{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

         <div id="div_detalle_empleado">
            <div class="row row-comprobante-detalle">
                {% formulario_costo_contrato_detalle detalle_contrato_costo_empleado %}
            </div>
         </div>

         <div id="div_detalle_proveedor">
            <div class="row row-comprobante-detalle">
                {% formulario_costo_contrato_detalle_proveedor detalle_contrato_costo_proveedor %}
            </div>
         </div>


         <div class="text-center" style="margin-top: 50px; margin-bottom: 30px;">
            <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
            <a class="boton boton-gray" href="{% url "lista_contrato" %}">Cancelar</a>
        </div>

    </form>

    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
