{% extends "base.html" %}
{% block title %}Contratos{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">

{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_contrato/lista_contrato.js"></script>
    <script src="{{ STATIC_URL }}js/js_compras/funciones.js"></script>
{% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"
 {% endblock %}
 {% block ruta-principal %}Inventarios{% endblock %}
 {% block ruta-actual %}Buscar Contratos{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
    <div class="container-buscador container-buscador-hide">
        <div class="div div-buscador-cerrar">
            <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
        </div>
        <form action="" class="form-group" method="GET" id="formulario">
            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera" style="color: #9A9A9A;">
                            <tr>
                                <td>
                                    <label><b>Fecha Registro desde:</b></label>
                                </td>
                                <td style="width: 135px">
                                    {{ buscador.fecha_reg_ini|add_class:"form-control" }}
                                </td>
                                <td style="width: 100px">
                                    <label style="margin-left: 5px"><b>Hasta:</b></label>
                                </td>
                                <td  style="width: 135px">
                                    {{ buscador.fecha_reg_fin|add_class:"form-control" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Fecha Entrega desde:</b></label>
                                </td>
                                <td style="width: 135px">
                                    {{ buscador.fecha_ent_ini|add_class:"form-control" }}
                                </td>
                                <td style="width: 100px">
                                    <label style="margin-left: 5px"><b>Hasta:</b></label>
                                </td>
                                <td style="width: 135px">
                                    {{ buscador.fecha_ent_fin|add_class:"form-control" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>{{ buscador.cliente.label }}</b></label>
                                </td>
                                <td colspan="3">
                                    {{ buscador.cliente|add_class:"form-control" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>{{ buscador.tipo_pago.label }}</b></label>
                                </td>
                                <td colspan="3">
                                    {{ buscador.tipo_pago|add_class:"form-control" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>{{ buscador.vendedor.label }}</b></label>
                                </td>
                                <td colspan="3">
                                    {{ buscador.vendedor|add_class:"form-control" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>{{ buscador.responsable.label }}</b></label>
                                </td>
                                <td colspan="3">
                                    {{ buscador.responsable|add_class:"form-control" }}
                                </td>
                            </tr>
                        </table>
                        {{ buscador.page }}
                    </div>
                </div>
            </div>

            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                <input class="boton boton-ok" id="busqueda2" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
            </div>
        </form>
    </div>
    <div class="div div-agregar">
            <a class="boton boton-ok" href="{% url "agregar_contrato" %}">Agregar
        </a>
    </div>

    <div class="botones-administracion">
        {% if objetos %}
        <a id="ver" class="boton boton-administrador" href="#">Ver</a>
        <a id="editar" class="boton boton-administrador" href="#">Editar</a>
        <a id="anular" class="boton boton-administrador" href="#">Anular</a>
        {% endif %}

        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>

    {% if objetos %}
        <div class="table-responsive">
            <table id="lista" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th></th>
                        <th># Contrato</th>
                        <th>Fecha Registro</th>
                        <th>Fecha Entraga</th>
                        <th>Cliente</th>
                        <th>Vendedor</th>
                        <th>Responsable</th>
                        <th>Concepto</th>
                        <th>Valor</th>
                        <th>Impuesto</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in objetos %}
                    <tr>
                        <td  style="width: 51px; text-align: center;"><input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                data-ver="{% url "detalle_contrato" obj.id %}"
                                data-anular="{% url "anular_contrato" obj.id%}"
                                data-editar="{% url "editar_contrato" obj.id%}"
                                data-status="{{ obj.status }}"/></td>

                        <td class="nombre">{{ obj.num_cont }}</td>
                        <td>{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                        <td>{{ obj.fecha_entrega|date:"Y-m-d" }}</td>
                        <td>{{obj.cliente.razon_social|slice:"0:20"}}</td>
                        <td>{{obj.vendedor.nombres_completos }} {{ obj.vendedor.apellidos_completos }}</td>
                        <td>{{obj.responsable|slice:"0:30"}}</td>

                        {% if obj.concepto %}
                            <td>{{obj.concepto|slice:"0:40"}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        <td>{{obj.baseiva|floatformat:"2" }}</td>
                        <td>{{obj.monto_iva|floatformat:"2" }}</td>
                        {% if obj.status == 1%}
                            <td><span class="item_activo">Activo</span></td>
                        {% else %}
                            <td><span class="sin-acceso">Anulada</span></td>
                        {% endif %}
                    </tr>
                {% endfor%}
                </tbody>
            </table>

            {% paginacion_html objetos arreglo_paginado muestra_paginado %}

        </div>
{% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
{% endif %}

    <!-- Div para los formulario Popup-->
    <div id="cambio_ret" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Cambion de Retención</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <p class="sub-titulo-modal">Datos de la nueva retención</p>
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                    <form id="form-nueva-ret" method="POST">
                        <div class="row row-formulario-modal">
                            {% for form in formulario_retencion %}
                                {% if form.html_name == "id_ret" %}
                                    <div style="display: none">
                                        {{ form|add_class:"form-control text-modal numerico" }}
                                    </div>
                                {% else %}
                                    <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                        <label class="label-modal">{{ form.label }}</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                        {{ form|add_class:"text-modal" }}
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>


                    </form>

                    <div class="modal-footer">
                        <button type="button" class="boton yes boton-ok" id="ok-ret">Aceptar</button>
                        <button type="button" class="boton cancel boton-gray" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <div id="error" class="alert alert-danger alert-dismissable" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" type="button" class="close"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">

                                    <p id="error-retencion" class="alert--text"></p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}