{% extends 'base.html' %}
{% block title %}Clipmaestro | Respaldo{% endblock %}
{% load formulario_configuracion_empresa%}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.si.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>


    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.si.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>

    </script>
{% endblock %}

{% block item-administracion %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/administracion_icono.png"{% endblock %}

{% block ruta-principal %}Administración{% endblock %}
{% block ruta-actual %}Respaldo{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

        <div class="row row-persona-cabecera row-configuracion-empresa" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                <h3  class="sub-title-comprobante">
                      RESPALDO DE INFORMACIÓN
                </h3>
                <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                    <tr>
                        <td style="width: 180px;">
                            Archivo:
                        </td>
                        <td>
                            {% if file_exist %}
                            <a href="{% url "respaldo" %}">Descargar Información | {{ fecha|date:"Y-m-d"}}</a>
                            {% else %}
                                El respaldo aún no está disponiblem regrese más tarde.
                            {% endif %}
                        </td>
                    </tr>
            </div>
        </div>
{% endblock %}