{% extends "base.html" %}
{% block title %}Reportes del Sistema{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    #tabla_reportes_lista td{
        vertical-align: top;
    }

    #tabla_reportes_lista img {
        width: 12% !important;
        padding-top: 25px;
    }

    .texto_lista_inventario{
        padding-top: 0px;
        padding-bottom: 20px;
    }

    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>

        function limpiar_form(){
            $(".filter-option" ).empty();
            $('#formulario').find('input[type=text]').each(function(){
                $(this).val("");
            });
        }
    </script>

    <script>
        jQuery(document).ready(function($) {
            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_param = document.URL.split("?")[1]
                var url = $(this).attr("href");
                window.location.href = url + "?" + url_param;
            });
            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();
            $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
            });

        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Listado de Reportes{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="table-responsive" id="contenedor-reportes">
        <!-- Default panel contents -->
         <!-- Table -->

        <table id="tabla_reportes_lista" class="table tabla tabla-formato">

            <tbody>
                <tr>
                    <td>
                        <div class="texto_lista_inventario">
                            <h2 class="titulo_lista_inventario" >
                                Contabilidad General
                            </h2>
                            <ul>
                                {% if_tiene_permiso request "reporte_libro_mayor" %}
                                    <li>
                                        <a href="{% url "reporte_libro_mayor" %}" title="Libro Mayor" >Libro Mayor</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_libro_mayor_centro_costo" %}
                                    <li>
                                        <a href="{% url "reporte_libro_mayor_centro_costo" %}" title="Libro Mayor Centro Costo" >Libro Mayor por Centro de Costo</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "libro_diario" %}
                                    <li>
                                        <a href="{% url "libro_diario" %}" title="Libro Diario" >Libro Diario</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_balance_comprobacion" %}
                                    <li>
                                        <a href="{% url "reporte_balance_comprobacion" %}" title="Balance de Comprobación" >Balance de Comprobación</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_saldos_cuentas" %}
                                    <li>
                                        <a href="{% url "reporte_saldos_cuentas" %}" title="Saldos de Cuentas" >Saldos de Cuentas</a>
                                    </li>
                                {% endif_tiene_permiso %}


                                    <li>
                                        <a href="{% url "reporte_proyectado_vs_real" %}" title="Proyectado Vs Real" >Proyectado Vs Real</a>
                                    </li>
                                {% if_tiene_permiso request "reporte_proyectado_vs_real" %}
                                {% endif_tiene_permiso %}
                                <li>
                                        <a href="{% url "reporte_plan_cuenta" %}" title="Plan de cuentas" >Plan de cuentas</a>
                                    </li>


                            </ul>
                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                                <img title="Contabilidad General" src="{{ STATIC_URL }}cm_html/images/modulos/contabilidad_general.png" alt="Icono"/>
                            </p>
                        </div>
                    </td>

                    <td>
                       <div class="texto_lista_inventario">
                            <h2 class="titulo_lista_inventario" >
                                Bancos
                            </h2>
                            <ul>
                                {% if_tiene_permiso request "reporte_saldo_bancos_por_fecha" %}
                                    <li>
                                        <a  href="{% url "reporte_saldo_bancos_por_fecha" %}" title="Saldo de Bancos">Saldo de Bancos</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_listado_cheques_girados" %}
                                    <li>
                                       <a  href="{% url "reporte_listado_cheques_girados" %}" title="Cheques Girados">Cheques Girados</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_movimientos_bancarios" %}
                                    <li>
                                        <a  href="{% url "reporte_movimientos_bancarios" %}" title="Movimientos por Fecha">Movimientos por Fecha</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                <li>
                                    <a  href="{% url "reporte_transacciones_bancarias_por_conciliar" %}" title="Movimientos por Conciliar">Conciliación Bancaria</a>
                                </li>
                            </ul>

                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                               <img title="Bancos" src="{{ STATIC_URL }}cm_html/images/modulos/bancos.png" alt="Icono"/>
                            </p>
                        </div>
                    </td>


                </tr>
                <tr >
                   <td>

                        <div class="texto_lista_inventario">
                            <h2 class="titulo_lista_inventario" >
                                Compras
                            </h2>
                            <ul>
                                {% if_tiene_permiso request "reporte_compras_por_fecha" %}
                                    <li>
                                        <a href="{% url "reporte_compras_por_fecha" %}" title="Compras por Fecha" >Compras por Fecha</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_compras_por_fecha" %}
                                    <li style="display: none">
                                        <a  href="{% url "reporte_compras_por_fecha_proveedor" %}" title="Compras por Fecha y Proveedor" >Compras por Fecha y Proveedor</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                <li>
                                        <a href="{% url "reporte_compras_x_proveedor" %}" title="Compras por Proveedor" >Compras por Proveedor</a>
                                </li>
                                <li >
                                    <a href="{% url "reporte_compras_x_cuenta" %}">Compras por Cuenta</a>
                                </li>
                                <li >
                                    <a href="{% url "reporte_estadistica_compras_x_proveedor" %}">Estadística Compra / Proveedor</a>
                                </li>
                                <li >
                                    <a href="{% url "reporte_secuencia_reten_compra" %}">Secuencia de Retenciones en Compra</a>
                                </li>


                            </ul>

                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                               <img title="Compras" src="{{ STATIC_URL }}cm_html/images/modulos/compras.png" alt="Icono"/>
                            </p>
                        </div>

                    </td>


                    <td>
                        <div class="texto_lista_inventario">
                            <h2 class="titulo_lista_inventario" >
                                Ventas
                            </h2>
                            <ul>
                                {% if_tiene_permiso request "reporte_venta_por_fecha" %}
                                    <li>
                                        <a href="{% url "reporte_venta_por_fecha" %}"  title="Ventas por Fecha" >Ventas por Fecha</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                <li>
                                    <a href="{% url "reporte_ventas_cliente" %}"  title="Ventas por Cliente" >Ventas por Cliente</a>
                                </li>

                                <li>
                                    <a href="{% url "reporte_ventas_item" %}"  title="Ventas por Item" >Ventas por Item</a>
                                </li>

                                {% if_tiene_permiso request "reporte_ventas_pendientes" %}
                                    <li>
                                       <a href="{% url "reporte_ventas_pendientes" %}" title="Ventas Pendientes por Fecha" >Ventas Pendientes por Fecha</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                <li>
                                   <a href="{% url "reporte_ventas_contado_credito_fecha" %}" title="Ventas Contado/Crédito por Fecha">
                                       Ventas Contado Crédito por Fecha (En Proceso)
                                   </a>
                                </li>

                                    <li >
                                        <a  href="{% url "reporte_comisiones" %}" title="Comisiones" >Comisiones</a>
                                    </li>

                                <li >
                                        <a  href="{% url "reporte_venta_retencion_control" %}" title="Control de Retenciones Recibidas" >Control de Retenciones Recibidas</a>
                               </li>
<li >
                                    <a href="{% url "reporte_estadistica_ventas_x_cliente" %}">Estadística Venta / Cliente</a>
                                </li>


                            </ul>

                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                               <img title="Ventas" src="{{ STATIC_URL }}cm_html/images/modulos/ventas.png" alt="Icono"/>
                            </p>

                        </div>

                    </td>


                </tr>
                <tr>


                    <td>
                        <div class="texto_lista_inventario">
                            <h2 class="titulo_lista_inventario" >
                                Proveedores
                            </h2>
                            <ul>
                                {% if_tiene_permiso request "reporte_proveedores" %}
                                    <li>
                                        <a href="{% url "reporte_proveedores" %}"   title="Datos Generales">Datos Generales</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_monto_proveedor_por_fecha" %}
                                    <li>
                                        <a href="{% url "reporte_monto_proveedor_por_fecha" %}"  title="Estado de Cuenta" >Estado de Cuenta</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_cuentas_por_pagar_pendientes" %}
                                    <li>
                                        <a  href="{% url "reporte_cuentas_por_pagar_pendientes" %}" title="Cuentas y Documentos Pendientes por Pagar"  >Cuentas y Documentos Pendientes por Pagar</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_saldos_por_proveedores" %}
                                    <li>
                                        <a  href="{% url "reporte_saldos_por_proveedores" %}"      title ="Saldos por Proveedor">Saldos por Proveedor</a>
                                    </li>
                                {% endif_tiene_permiso %}

                                 <li >
                                        <a  href="{% url "reporte_cartera_compras" %}" title="Cuentas por Pagar por Plazo" >Cuentas por Pagar por Plazo</a>
                                    </li>
                            </ul>
                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                               <img title="Proveedores" src="{{ STATIC_URL }}cm_html/images/modulos/proveedores.png" alt="Icono"/>
                            </p>
                        </div>
                    </td>

                    </td>
                    <td>

                        <div class="texto_lista_inventario">
                            <h2 class="titulo_lista_inventario" >
                                Clientes
                            </h2>
                            <ul>
                                {% if_tiene_permiso request "reporte_clientes" %}
                                    <li>
                                        <a  href="{% url "reporte_clientes" %}" title="Datos Generales">Datos Generales</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_monto_cliente_por_fecha" %}
                                    <li>
                                        <a  href="{% url "reporte_monto_cliente_por_fecha" %}" title="Estado de Cuenta">Estado de Cuenta</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_cuentas_por_cobrar_pendientes" %}
                                    <li>
                                        <a  href="{% url "reporte_cuentas_por_cobrar_pendientes" %}" title="Reporte Cuentas por cobrar Pendientes"  > Cuentas y Documentos Pendientes por Cobrar</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                    <li>
                                        <a href="{% url "reporte_saldos_por_clientes" %}" title="Reporte Saldos por Cliente" >Saldos por Cliente</a>
                                    </li>

                                 {% if_tiene_permiso request "reporte_cartera_compras" %}

                                {% endif_tiene_permiso %}

                                <li >
                                        <a  href="{% url "reporte_cartera_ventas" %}" title="Cuentas por Cobrar por Plazo" >Cuentas por Cobrar por Plazo</a>
                                </li>


                            </ul>

                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                               <img title="Clientes" src="{{ STATIC_URL }}cm_html/images/modulos/costos.png" alt="Icono"/>
                            </p>

                        </div>

                    </td>
                </tr>

                <tr >


                    <td>
                         <div class="texto_lista_inventario">
                             <h2 class="titulo_lista_inventario" >
                                Inventarios
                            </h2>
                            <ul>
                                {% if_tiene_permiso request "reporte_items" %}
                                    <li>
                                        <a  href="{% url "reporte_items" %}" title="Lista de Items">Lista de Items</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_kardex_por_item" %}
                                    <li>
                                        <a  href="{% url "reporte_kardex_por_item" %}" title="Kárdex por Item">Kárdex por Item</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_movim_inventario_motivo" %}
                                    <li>
                                       <a href="{% url "reporte_movim_inventario_motivo" %}" title="Kárdex por Motivo">Kárdex por Motivo</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_saldo_por_item" %}
                                    <li>
                                        <a href="{% url "reporte_saldo_por_item" %}" title="Saldos por Item">Saldos por Item</a>
                                    </li>
                                {% endif_tiene_permiso %}
                            </ul>

                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                                <img title="Inventarios" src="{{ STATIC_URL }}cm_html/images/modulos/inventarios.png" alt="Icono"/>
                            </p>
                        </div>
                        </td>

                        <td>
                       <div class="texto_lista_inventario">
                            <h2 class="titulo_lista_inventario" >
                                Contratos
                            </h2>
                            <ul>
                                <li>
                                    <a href="{% url "reporte_listado_contratos_fechas" %}" title="Reporte en Proceso" >Listado de Contratos</a>
                                </li>
                            </ul>

                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                               <img title="Bancos" src="{{ STATIC_URL }}cm_html/images/modulos/sri.png" alt="Icono"/>
                            </p>
                        </div>
                    </td>


                </tr>

                <tr >
                   <td>

                       <div class="texto_lista_inventario">
                            <h2 class="titulo_lista_inventario" >
                                SRI
                            </h2>
                            <ul>
                                {% if_tiene_permiso request "reporte_103" %}
                                    <li>
                                        <a href="{% url "reporte_103" %}" title="103" >Formulario 103</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_104" %}
                                    <li>
                                        <a href="{% url "reporte_104" %}" title="104" >Formulario 104</a>
                                    </li>
                                {% endif_tiene_permiso %}
                            </ul>

                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                               <img title="Bancos" src="{{ STATIC_URL }}cm_html/images/modulos/sri.png" alt="Icono"/>
                            </p>
                        </div>
                    </td>
                     <td>
                        <div class="texto_lista_inventario">
                             <h2 class="titulo_lista_inventario" >
                                Financiero
                            </h2>
                            <ul>
                                {% if_tiene_permiso request "balance_general" %}
                                    <li>
                                        <a href="{% url "balance_general" %}">Balance General</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "balance_general_detallado" %}
                                    <li>
                                        <a href="{% url "balance_general_detallado" %}">Balance General Detallado</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_perdidas_ganacias" %}
                                    <li>
                                        <a href="{% url "reporte_perdidas_ganacias" %}">Pérdidas y Ganancias</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                {% if_tiene_permiso request "reporte_perdidas_ganacias_detallado" %}
                                    <li>
                                        <a href="{% url "reporte_perdidas_ganacias_detallado" %}">Pérdidas y Ganancias Detallado</a>
                                    </li>
                                {% endif_tiene_permiso %}
                                <li style="display: none">
                                    <a href="{% url "comparativo_estado_resultado" %}">Comparativo Estado de Resultado</a>
                                </li>
                                <li >
                                    <a href="{% url "balance_general_o_PIG" %}">Balance General o PIG</a>
                                </li>
                            </ul>
                        </div>
                        <div class="imagen_lista_inventario">
                            <p class="modulo-item-icon">
                                <img title="Financiero" src="{{ STATIC_URL }}cm_html/images/modulos/requisiciones.png" alt="Icono"/>
                            </p>

                        </div>

                    </td>
                </tr>

            </tbody>

        </table>
        <div style="width: 820px; margin: auto;">
            <!--
            <iframe align="middle" scrolling="yes" frameborder="0" src="http://inpulso.mobi/personalitytest/Rpt_Curriculum.aspx?id_persona=2281" allowtransparency="true" marginheight="0" marginwidth="0" style="width: 820px; height: 500px; margin: auto;">
            </iframe>
            -->

        </div>
    </div>
{% endblock %}