{% extends "base.html" %}
{% block title %}Reporte lista de Contratos{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{
        margin-bottom: 0px;
    }



    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>

    <script>
        jQuery(document).ready(function($) {
            var formulario = $('#formulario');

            $('#limpiar').click(function(){
               limpiar_form(formulario);
               $('.div-descargas').remove();
               $('.row-cabecera').remove();
               $('.table-responsive').remove();


            });


            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center td-item");
                    }
                })
            });

             $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $("#id_fecha_ini").datepicker();
            $('#id_fecha_ini').mask('9999-99-99');
             $("#id_fecha_final").datepicker();
            $('#id_fecha_final').mask('9999-99-99');




        });

    </script>



{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Contratos / Listado de Contratos{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
 <form action="{% url "reporte_listado_contratos_fechas" %}" data-action="{% url "reporte_listado_contratos_fechas" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>

                            <td style="width: 100px; text-align: right; padding-right: 20px;">
                                <label>*Fecha Inicio</label>
                            </td>
                            <td style="width: 100px;">
                                {{ buscador.fecha_ini }}
                            </td>

                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>
    {% if contratos %}
        <div class="div div-descargas">
            <a class=" img_report img_excel excel " href="{% url "reporte_listado_contratos_fechas_excel" %}">Excel</a>
            <a class="img_report img_pdf excel" href="{% url "reporte_listado_contratos_fechas_pdf" %}">PDF</a>
        </div>
        <div class="row row-cabecera">
            <div class="div-centrar div-tabla">


            </div>
        </div>
    {% else %}

    {% endif %}
    {% if contratos %}
     <div class="table-responsive">
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    <th title="Fecha de Registro" style="width: 90px;">Fecha Reg.</th>
                    <th style="width: 150px;">Contrato</th>
                    <th>Cod. Cliente</th>
                    <th>Nombre</th>
                    <th style="width: 90px;">Fecha Ent.</th>
                    <th style="width: 90px;">Fecha Cie.</th>
                    <th>Valor</th>
                    <th>Iva</th>
                    <th>Total</th>
                    <th>Costo</th>
                    <th>N° Doc.</th>

                </tr>
            </thead>
            <tbody>
                {% for obj in contratos %}
                    <tr>
                        <td style="text-align: left;">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                        <td style="text-align: left;"><a class="link-comprobante" target="_blank" href="{% url "reporte_contrato_detalle" obj.id %}">{{ obj.num_cont }}</a> <!--<a style="margin-left: 30px;" class="link-comprobante" target="_blank" href="{% url "print_contrato_detalle" obj.id %}">{{ obj.num_cont }}</a>--></td>
                        <td style="text-align: left;">
                            {% if obj.cliente %}
                                {{ obj.cliente.ruc }}
                            {% else %}
                                Sin Cliente
                            {% endif %}
                        </td>
                        <td title="{{ obj.cliente.razon_social}}" style="text-align: left;">
                            {% if obj.cliente.razon_social %}
                                {{ obj.cliente.razon_social|slice:"0:27" }}{% if obj.cliente.razon_social|length > 27 %}...{% endif %}
                            {% else %}
                                Sin Cliente
                            {% endif %}
                        </td>
                        <td style="text-align: left;">{{ obj.fecha_entrega|date:"Y-m-d" }}</td>
                        <td style="text-align: left;">
                            {% if obj.fecha_cierre %}
                                {{ obj.fecha_cierre }}
                            {% endif %}
                        </td>
                        <td style="text-align: right;">{% suma_2_snippet obj.base0 obj.baseiva %}</td>
                        <td style="text-align: right;">{{ obj.monto_iva|floatformat:2  }}</td>
                        <td style="text-align: right;">{% suma_n obj.base0 obj.baseiva obj.monto_iva|floatformat %}</td>
                        <td style="text-align: right;">{{ obj.getTotalDetallesCabecera|floatformat:2 }}</td>

                        <td style="text-align: right;">{{ obj.getNumerosDocumentosVentasContrato }}</td>

                    </tr>

                {% endfor %}
            </tbody>
        </table>
     </div>
    {% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}
    <div class="div div-agregar" style="padding-bottom: 60px; ">
            <a class="boton boton-gray" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>


{% endblock %}