{% extends "base_reporte_pdf.html" %}
{% load operaciones_template %}
{% block titulo %}Reporte Contrato Detalle{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}clipmaestro/media/{{empresa.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{usuario}}{% endblock %}
{% block reporte_titulo %}Contrato Detalle{% endblock %}
{% block tabla_contenido %}
    {% if contrato %}
        <div class="cabecera-left"  style="width: 100%; margin-bottom: 20px;">
            <table class="tabla-contrato">
                <tr>
                    <td style="width:180px;">
                        <label class="label">N° de Contrato:</label>
                    </td>
                    <td class="td-dato" style="width: 400px;">
                        {{ contrato.num_cont }}
                    </td>
                    <td style="width:100px;">
                        <label class="label">Valor:</label>
                    </td>
                    <td style="text-align: right;">
                        <label>{% suma_2_snippet contrato.base0 contrato.baseiva %}</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label">  Fecha de Registro:</label>
                    </td>
                    <td class="td-dato">
                        <label>  {{ contrato.fecha_reg|date:"Y-m-d" }}
                        </label>
                    </td>
                    <td>
                        <label class="label">Iva:</label>
                    </td>
                    <td style="text-align: right;">
                        <label>{{ contrato.monto_iva|floatformat:2  }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">Código del Cliente: </label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {{ contrato.cliente.ruc }}
                        </label>
                    </td>
                    <td>
                        <label class="label">Total:</label>
                    </td>
                    <td style="text-align: right;">
                        <label>{% suma_n contrato.base0 contrato.baseiva contrato.monto_iva %}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">Razón Social del Cliente: </label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {{ contrato.cliente.razon_social }}
                        </label>
                    </td>
                     <td>
                        <label class="label">Costo:</label>
                    </td>
                    <td style="text-align: right;">
                        <label>{{ contrato.getTotalDetallesCabecera|floatformat:2 }}</label>
                    </td>
                </tr>



            </table>
        </div>

            {% if detalles %}
             <div class="table-responsive">
                {% for detalle in detalles %}
                    {% detalle_contrato_pdf detalle.id %}

                {% endfor %}

            {% endif %}

    {% else %}
        <p class="msn-vacio">El Contrato actual no se encuentra disponible.</p>
    {% endif %}
{% endblock %}