{% extends "base.html" %}
{% load formulario_detalle_comp_asiento %}
{% load widget_tweaks %}

{% block title %}
    {% if tipo == 1 %}Agregar Asiento Contable{% endif %}
    {% if tipo == 2 %}Anular y Generar Asiento Contable{% endif %}
    {% if tipo == 3 %}Copiar Asiento Contable{% endif %}
    {% if tipo == 4 %}Modificar Asiento Contable{% endif %}
    {% if tipo == 5 %}Asiento Contable Inicial{% endif %}

{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/compras.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    #id_concepto{
        height: 60px;
        width: 100%;
        padding: 10px;
        max-width: 100%;
        min-width: 100%;
    }
    #encabezado{
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        padding: 10px;
    }

    h6{
        color: #dd4814;
        padding-bottom: 20px;
        text-align: justify;
        font-size: 16px;
    }

    #total{
       padding: 15px;
       text-align: center;
       margin: auto;
       margin-bottom: 25px;
    }

    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }

    input[type=checkbox]{
        cursor: pointer;
        display: inline-block;
        margin-left: 48px;
        width: 16px;
        height: 25px;
    }

    #alert-yn .modal-item p:first-child{
        padding-bottom: 10px;
    }
    #alert-yn .modal-item p:first-child i{
        display: none;
    }
    .input-calendario{
        width: auto !important;
        margin-bottom: 5px;
    }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_contabilidad/comprobante_detalle_asiento_contable.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var url_detalle_comp = "{% url "generar_asiento_pdf" 0 %}";
        var url_fecha_secuencia = "{% url "get_fecha_secuencia_contabilidad" %}";
    </script>
    <script src="{{ STATIC_URL }}js/validar_rucs.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.selectpicker').selectpicker();
            $(".concepto").change(function(){
                $(this).attr("data-modificado", 1);
            });
            // Inhabilita el boton de submit evitando que se haga más de una petición
            $("input[type='submit']").click(function(){
                $(this).attr("disabled", false);
                $("form").submit(function(){
                  $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
                  return true;
                });
            });

            $('#id_fecha').mask("9999-99-99").datepicker({
                 todayBtn: true,
                 autoclose: true
            }).on('changeDate', function (ev) {
                get_fecha_ultimo_secuencia(url_fecha_secuencia);

            });

            $("#id_fecha").focusout(function(){
                get_fecha_ultimo_secuencia(url_fecha_secuencia);

            });

            $(".numerico").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,110,13,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
        });

        $(function(){
            imprimir_comprobante(url_detalle_comp);
        });
    </script>

    <script type="text/javascript">
        $(function () {
            var tipo = "{{ tipo }}";
            if (tipo == 1){
               recalculardebehaber();
            }else{
                recalculardebehaber();
            }

            if (tipo==2 ||tipo == 3){
                validar_ceros();
                recalculardebehaber();
            }

            if (tipo==4){
                validar_ceros();
                recalculardebehaber();
            }
        });
    </script>
{% endblock %}

{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"
{% endblock %}
{% block ruta-principal %}Contabilidad{% endblock %}
{% block ruta-actual %}
        {% if tipo == 1 %}
            Agregar Asiento Contable
        {% elif tipo ==  2 %}
            Anular - Generar Asiento Contable
        {% elif tipo ==  3 %}
            Copiar Asiento Contable
        {% elif tipo ==  4 %}
            Modificar Asiento Contable
        {% else %}
            Asiento Contable Inicial
        {% endif %}
{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" id="formulario" action="{% if tipo == 1 %}{% url "registrar_asiento_contable" %}{% elif  tipo == 2 %}{% url "anular_generar_asiento_contable" id %}{% elif  tipo == 3 %}{% url "copia_asiento" id %}{%  elif  tipo == 4 %}{% url "modificar_asiento" id %}{%  else %}{% url "agregar_asiento_inicial" %}{% endif %}{% if param == "1" %}?param=1{% endif %}"enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}
        <div class="row row-comprobante-medio" style="padding-bottom: 30px;">
                <h2 class="sub-title-comprobante"> ASIENTO CONTABLE</h2>
                <div class="col-lg-12" style="margin-top: 20px;">
                <table class="tabla">
                    <tr>
                        <td class="td-label1" style="width: 130px;">
                            <label class="control-label" for="{{ formulario.fecha.label }}">
                            {% if formulario.fecha.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.fecha.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>

                        {% if tipo == 4 or tipo == 5 %}
                            <td class="td-control1">
                                {{ formulario.fecha.value }}
                            </td>
                        {% else %}
                            <td class="td-control1">
                                {% if formulario.fecha.errors %}{{ formulario.fecha|add_class:"campo_requerido  input-calendario" }}{% else %}{{ formulario.fecha|add_class:"input-calendario" }}{% endif %}
                            </td>
                        {% endif %}

                   </tr>

                   {% if tipo == 1 %}
                       <tr>
                            <td class="td-label1" style="width: 150px;">
                                <label class="control-label" for="{{ formulario.utlimo_asiento.label }}">
                                {% if formulario.utlimo_asiento.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.utlimo_asiento.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario.utlimo_asiento.errors %}{{ formulario.utlimo_asiento|add_class:"campo_requerido" }}{% else %}{{ formulario.utlimo_asiento }}{% endif %}
                            </td>
                       </tr>
                   {% endif %}

                   <tr>
                        <td class="td-label1" style="vertical-align: top; padding-top: 5px;">
                             <label class="control-label" for="{{ formulario.concepto.label }}">
                            {% if formulario.concepto.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.concepto.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1"  style="vertical-align: top; padding-top: 5px;">
                            {{ formulario.concepto }}
                        </td>
                    </tr>
               </table>
            </div>
        </div>

        <div class="row row-comprobante-detalle" style="margin-top: 50px;">
             {% formulario_detalle_comprobante_asiento formulario_detalle %}
        </div>

        <div class="text-center" style="text-align: right; margin-top: 70px;">
            <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
            <input  class="boton boton-silver transaccion" id="grabar_imprimir" name="grabar_imprimir" type="button" value="Grabar e Imprimir" title="Graba e imprima el comprobante"/>
            <input class="boton boton-silver" id="grabar_agregar" name="grabar_agregar" type="button" value="Grabar y Agregar Otro" title="Graba y agrega un nuevo asiento contable"/>
            <a class="boton boton-gray" href="{% if param == "1" %}{% url "libro_diario" %}{% else %}{% url "lista_asientos" %}{% endif %}">Cancelar</a>
        </div>
    </form>

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                           <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes" id="ok-alert" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




