{% extends "base.html" %}
{% block title %}Cierre Contable{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <style type="text/css">
        .numero{
            text-align: right;
        }

        #tabla_reporte tbody tr td.numero:first-child{
            text-align: center;
        }

        .td-item{
            text-align: left;
        }
        .reprocesar{
            background-color: red;
        }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var formulario = $("#formulario");
            $(".selectpicker").selectpicker();

            $("#ok-alert").click(function(){
                var action = formulario.attr("action");
                formulario.attr("action", action+"?reprocesar=1");
                $("#buscar").click();
            });
        });
    </script>
{% endblock %}

{% block item-contabilidad %}item-activo-menu{% endblock %}
 {% block container-navigation-media %}container-navigation-media{% endblock %}
 {% block container-contenido-media %}container-contenido-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"
 {% endblock %}
 {% block ruta-principal %}Contabilidad{% endblock %}
 {% block ruta-actual %}Cierre Contable {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "cierre_anio_contable" %}" data-action="{% url "cierre_anio_contable" %}"
          class="form-group" id="formulario" method="POST">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Año:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.anio.value}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Mes:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.mes.value}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Enviar">
            <a class="boton boton-gray excel" href="{% url "lista_asientos" %}">Cancelar</a>
        </div>
    </form>

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}