{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Comprobante Contable{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Asiento Contable: N° {{ objeto_cabecera.numero_comprobante }}{% endblock %}
{% block tabla_contenido %}
    <table id="table-info-basica">
             <tr>
                <td class="td-label1">
                    Fecha:
                </td>
                <td class="td-info1">
                    {{ objeto_cabecera.fecha|date:"d/m/Y" }}

                </td>
                <td class="td-label2">

                </td>
                <td class="td-info2">

                </td>
            </tr>

            <tr>
                <td class="td-label1">
                    Estado:
                </td>
                <td class="td-info1">
                    {% if objeto_cabecera.status == 1 %}
                        Activo
                    {% else %}
                        Anulado
                    {% endif %}

                </td>
                <td class="td-label2">

                </td>
                <td class="td-info2">

                </td>
            </tr>

             <tr>
                <td class="td-label1">
                   Glosa:
                </td>
                <td class="td-info1">
                    {{ objeto_cabecera.concepto_comprobante|slice:"0:75" }}
                </td>
                <td class="td-label2">

                </td>
                <td class="td-info2">

                </td>
            </tr>

         </table>
         <div style="clear: both"></div>
        </div>

        <div class="div-centrar div-tabla">
            <h4 style="font-size: 11px;  font-weight: normal; font-style: normal; padding-top: 10px; padding-bottom: 0px;">Detalle de Asiento</h4>
                <table id="table-info-registro" cellpadding="0" cellspacing="0" border="0">
                    <thead style="">
                        <tr>
                            <th style="font-size: 11px; width: 120px; font-weight: normal;">Código</th>
                            <th style="font-size: 11px; font-weight: normal;">Cuenta</th>
                            <th style="font-size: 11px; font-weight: normal;">Concepto</th>
                            <th style="font-size: 11px;width: 120px; font-weight: normal;">Debe</th>
                            <th style="font-size: 11px;width: 120px; font-weight: normal;">Haber</th>
                            <th style="font-size: 11px; font-weight: normal;">Centro de Costos</th>
                        </tr>
                    </thead>
                    <tbody style="">
                        {% for obj in objeto_detalle_debe %}
                            <tr>
                                <td style="font-size: 11px;"> {{ obj.plan_cuenta.codigo  }}</td>
                                <td style="font-size: 11px;"> {{ obj.plan_cuenta.descripcion  }}</td>
                                <td style="font-size: 11px;"> {{ obj.detalle|slice:"0:85" }}{% if obj.detalle|length > 85 %}...{% endif %}</td>
                                <td style="font-size: 11px;" class="td-derecha">$ {{ obj.valor }}</td>
                                <td style="font-size: 11px;" class="td-derecha"></td>
                                <td style="font-size: 11px;" class="td-derecha">{{ obj.centro_costo.descripcion  }}</td>
                            </tr>
                        {% endfor%}
                        {% for obj in objeto_detalle_haber %}
                            <tr>
                                <td style="font-size: 11px;" class="td-haber-cuenta"> {{ obj.plan_cuenta.codigo  }}</td>
                                <td style="font-size: 11px;" class="td-haber-cuenta"> {{ obj.plan_cuenta.descripcion  }}</td>
                                <td style="font-size: 11px;"> {{ obj.detalle|slice:"0:85" }}{% if obj.detalle|length > 85 %}...{% endif %}</td>
                                <td style="font-size: 11px;" class="td-derecha"></td>
                                <td style="font-size: 11px;" class="td-derecha">$ {{ obj.valor }}</td>
                                <td style="font-size: 11px;" class="td-derecha">{{ obj.centro_costo.descripcion  }}</td>
                            </tr>
                        {% endfor%}
                        <tr>
                            <td style="border-top: 1px solid #A2A3A5;"></td>
                            <td style="border-top: 1px solid #A2A3A5; font-size: 11px;" colspan="2" class="td-total">Total</td>
                            <td style="border-top: 1px solid #A2A3A5; font-size: 11px;" class="td-derecha">$ {{ total_debe|floatformat:2  }}</td>
                            <td style="border-top: 1px solid #A2A3A5; font-size: 11px;" class="td-derecha">$ {{ total_haber|floatformat:2  }}</td>
                            <td style="border-top: 1px solid #A2A3A5; font-size: 11px;" class="td-derecha"></td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <div class="div-centrar div-tabla">
               <div id="div-firmas">
                    <table id="table-firmas" style="margin-top: 40px; text-align: center">
                         <tr>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                            </td>
                            <td style="border: none; width: 30px;">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                            </td>
                            <td style="border: none; width: 30px; ">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Revisado por:</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="clear: both"></div>
            </div>
{% endblock %}


