{% extends "base.html" %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load snnipet_generales %}
{% load widget_tweaks %}
{% block title %}Contabilidad{% endblock %}
{% block stylesheet %}
   <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_contabilidad/lista_contabilidad.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
{% endblock %}
{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"{% endblock %}
{% block ruta-principal %}Contabilidad{% endblock %}
{% block ruta-actual %}Buscar Asientos Contables{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
       <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>
            <form action="" class="form-group" id="formulario" method="GET">
                <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera" style="color: #9A9A9A;">
                            <tr>
                                <td style="width: 140px;">
                                    <label><b>Fecha Inicio</b></label>
                                </td>
                                <td>
                                   {{ buscador.fecha_inicio|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>
                                <td style="width: 120px; text-align: right; padding-right: 20px;">
                                    <label><b>Fecha Fin</b></label>
                                </td>
                                <td>
                                   {{ buscador.fecha_fin|add_class:"calendario-gris input-calendario txt-100pc" }}
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <label><b># Comp.</b></label>
                                </td>
                                <td colspan="3">
                                    {{ buscador.num_comp|add_class:"txt-100pc" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Tipo Comprobante</b></label>
                                </td>

                                <td colspan="3">
                                   {{ buscador.tipo_comprobante|add_class:"combo txt-100pc" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Cuenta Contable</b></label>
                                </td>

                                <td colspan="3">
                                   {{ buscador.cuenta|add_class:"combo txt-100pc" }}
                                </td>
                            </tr>
                        </table>
                        <div style="display: none;">
                            {{ buscador.page }}
                        </div>

                    </div>
                </div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
            </div>
         </form>
       </div>
       <div class="div div-agregar">
            <a class="boton boton-ok" href="{% url "registrar_asiento_contable" %}">Agregar</a>
       </div>
       <div class="botones-administracion">
           {% if cabecera %}
            <a id="ver" class="boton boton-administrador" href="#">Ver</a>
            <a id="editar" class="boton boton-administrador" href="#">Editar</a>
            <a id="copiar" class="boton boton-administrador" href="#">Copiar</a>
            <a id="anular_generar" class="boton boton-administrador" href="#">Anular - Generar</a>
            <a id="anular" class="boton boton-administrador" href="#">Anular</a>
           {% endif %}
            <div class="opcion-buscar">
                <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
            </div>
       </div>

        <div class="table-responsive">
            {% if cabecera %}
            <table id="lista" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 110px;">Fecha</th>
                        <th style="width: 195px;">Tipo Comp.</th>
                        <th style="width: 140px;">Nº Comp.</th>
                        <th>Concepto</th>
                    </tr>
                </thead>
                <tbody>
                     {% for obj in cabecera %}
                        <tr>
                            <td  style="width: 51px; text-align: center;">
                                <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                    data-copiar = "{% url "copia_asiento" obj.id %}"
                                    data-anular = "{% url "anular_asiento_contable" obj.id %}"
                                    data-editar = "{% url "modificar_asiento" obj.id %}"
                                    data-anular-generar = "{% url "anular_generar_asiento_contable" obj.id %}"
                                    data-ver = "{% url "detalle_asiento_contable" obj.id %}"
                                    data-status-modulo = {{ obj.getStatusModulo }}>
                            </td>
                            <td>{{obj.fecha|date:"d-m-Y" }}</td>
                            <td class="id_tipo" style="display: none;">{{obj.tipo_comprobante.id}}</td>
                            <td class="tipo">{{obj.tipo_comprobante.descripcion}}</td>
                            <td class="nombre">{{obj.numero_comprobante}}</td>
                            <td title="{{obj.concepto_comprobante }}" >{{obj.concepto_comprobante|slice:"0:70" }}{% if obj.concepto_comprobante|length > 70 %}...{% endif %}</td>
                            <td class="status" style="display: none;">{{ obj.status }}</td>
                     {% endfor%}
                         </tr>
                  </tbody>
            </table>
            {% endif %}
            {% paginacion_html cabecera arreglo_paginado muestra_paginacion %}
        </div>
        {% if not cabecera %}
         <p class="resultado-vacio">Su consulta no generó resultados.</p>
        {% endif %}


    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
