{% extends "base.html" %}
{% load formulario_base %}
{% load widget_tweaks %}
{% load permisostag %}
{% block title %}
    {% if tipo == 1 %}
        Registro del Proveedor
    {% elif tipo == 2 %}
        Modificar Proveedor
    {% else %}
        Detalle Proveedor
    {% endif %}
{% endblock %}
{% block stylesheet %}
     <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/compras.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
    <script src="{{ STATIC_URL }}js/validar_rucs.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script type="text/javascript">
        var ID_TABLA_CONTACTOS = "#contactos";
        function FormaPago(){
            var pago = $("#id_forma_pago").val();
            var plazo = $("#id_plazo");
            var monto = $("#id_monto_credito");

            if ($("#id_forma_pago").val()!=""){
                if (pago==1){
                    $("label[for='Plazo']").attr("style", "display:none");
                    $("#id_plazo").attr("style", "display:none; text-align: right;");
                    $("label[for='Monto Crédito']").attr("style", "display:none");
                    $("#id_monto_credito").attr("style", "display:none");
                }
                if (pago==2){
                    $("label[for='Plazo']").attr("style", "display: show");
                    $("#id_plazo").attr("style", "display: block; text-align: right;");
                    $("label[for='Monto Crédito']").attr("style", "display: show;");
                    $("#id_monto_credito").attr("style", "display: block; text-align: right;");
                }
            }else{

                $("label[for='Plazo']").attr("style", "display:none");
                $("#id_plazo").attr("style", "display: none; text-align: right;");
                $("label[for='Monto Crédito']").attr("style", "display: none;");
                $("#id_monto_credito").attr("style", "display: none");

            }
        }
        function TipoProveedorHide(){
            var tipo_ident = $("#id_tipo_identificacion").val();

            if (tipo_ident != "P"){
                $("#hide_tipo_proveedor").attr("style", "display: none");

                $("#id_Num_identificacion").keydown(function(event) {
                        if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                            (event.keyCode == 65 && event.ctrlKey === true) ||
                            (event.keyCode >= 35 && event.keyCode <= 39)) {
                                 return;
                        }
                        else
                        {
                            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                                event.preventDefault();
                            }
                        }
                });

            }else{
                    $("#hide_tipo_proveedor").attr("style", "display: show");

                    $("#id_Num_identificacion").removeClass("campo_requerido");

                    $("#id_Num_identificacion").off("keydown");

                    $("#id_Num_identificacion").keydown(function(event){
                        return;
                     });
                     $("#id_Num_identificacion").removeAttr('keydown');
            }
        }
        function recalcular_cliente_ids(tableid){
            var nombre_form = "";
            $(tableid+" tbody > tr").not("td tr").each(function(index)
            {
                var cont = index;
                $(this).find(":input:not(:button, .input-block-level)").each(function()
                {
                    var name_campo = $(this).attr("name").split("-");
                    nombre_form = name_campo[0];
                    var nombre_campo = name_campo[0]+"-" + cont + "-"+name_campo[2];
                    $(this).attr("name", nombre_campo);
                    $(this).attr("id", "id_"+nombre_campo);
                });
            });

             $('#id_'+nombre_form+'-TOTAL_FORMS').val($(tableid+" tbody > tr").not("td tr").length);
        }
        function EliminarFilaContactos(e, fila, tableid){
            e.preventDefault();
            if($(tableid+" tbody > tr").not("td tr").length>1){
                $(fila).parent().parent().parent().parent().parent().parent().remove();
                 recalcular_cliente_ids(tableid);

            }
            else{
                mensaje_alerta("No se puede eliminar el formulario");
            }
        }

        $(document).ready(function(e){
            // Inhabilita el boton de submit evitando que se haga más de una petición
            $("input[type='submit']").click(function(){
                $(this).attr("disabled", false);
                $("form").submit(function(){
                  $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
                  return true;
                });
            });

            $(".numerico").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else
                {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });

            TipoProveedorHide();
            $('.selectpicker').selectpicker();

            $("#id_tipo_identificacion").change(function(){
               TipoProveedorHide();
            });

                FormaPago();

            $("#id_forma_pago").change(function(){
                FormaPago();
            });

            $(".eliminar_contacto").click(function(e){
                EliminarFilaContactos(e, this, ID_TABLA_CONTACTOS);
            });

             //$(".movil").mask("(99) 9999-9999");

            $("#add_contacto").click(function(e){
                e.preventDefault();
                 var clonar_tr3 = $(ID_TABLA_CONTACTOS+" tbody tr:first").clone();
                 clonar_tr3.find(".bootstrap-select").remove();
                 $(clonar_tr3.find(".nombres")).val("");
                 $(clonar_tr3.find(".apellidos")).val("");
                 $(clonar_tr3.find(".email")).val("");
                 $(clonar_tr3.find(".actividad")).val("");
                 $(clonar_tr3.find(".telefono_contacto")).val("");
                 $(clonar_tr3.find(".movil")).val("");
                 $(clonar_tr3.find(".departamento")).prop('selectedIndex', 0).selectpicker("refresh");
                 //$(clonar_tr3.find(".movil")).mask("(99) 9999-9999");
                 $(clonar_tr3.find(".eliminar_contacto")).click(function(e){
                    EliminarFilaContactos(e, this, ID_TABLA_CONTACTOS);
                 });

                /********************************  Númerico ************************************************************/
                $(clonar_tr3.find(".numerico")).keydown(function(event) {
                    if ( $.inArray(event.keyCode,[46,8,9,27,110,13,190]) !== -1 ||
                        (event.keyCode == 65 && event.ctrlKey === true) ||
                        (event.keyCode >= 35 && event.keyCode <= 39)) {
                             return;
                    }
                    else {
                        if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                            event.preventDefault();
                        }
                    }
                });

                $(clonar_tr3.find(".numerico2")).keydown(function(event) {
                    if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                        (event.keyCode == 65 && event.ctrlKey === true) ||
                        (event.keyCode >= 35 && event.keyCode <= 39)) {
                             return;
                    }
                    else {
                        if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                            event.preventDefault();
                        }
                    }
                });
                 /*******************************************************************************************************/

                 $(ID_TABLA_CONTACTOS).append(clonar_tr3);
                 recalcular_cliente_ids(ID_TABLA_CONTACTOS);
            });

            $("#id_monto_credito").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,110,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
            $("#id_plazo").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
        });
        function isCedula(obj){
        var number = $(obj).val();
        var residuo=0;
        var respuesta=0;
        var suma_cedula=0;
        var result=0;
        var divi= number.substring(0,9);
        var porcion1 = number.substring(2,3);
        var rdivi3 = number.substring(9,10);//Digito a verificar cedula
        var contador=0;

            if(porcion1<6 && number.length == 10 && number.substring(0,2)<=24)
            {
                var tmp=0;
                var test=0;
                     for(var y=0; y<divi.length; y++){
                         if(y%2==0){
                            tmp=divi[y]*2;

                             if(tmp<=9){
                                suma_cedula= suma_cedula+tmp;
                             }
                             else{
                                    result = tmp-9;
                                    suma_cedula = suma_cedula+result;
                             }
                         }
                         else{
                                test= divi[y]*1;
                                suma_cedula=suma_cedula+test;
                         }
                     }

                     residuo = suma_cedula % 10;
                     if(residuo==0){
                         respuesta=0;
                         if(respuesta == rdivi3 || respuesta == 0){
                             contador++;
                         }
                     }
                     else{
                          respuesta = parseInt(10-residuo);
                          if(respuesta == rdivi3 || respuesta == 0){
                              contador++;
                          }
                     }
            }

            if(contador==0){
                return false;
            }
            else{
                return true;
            }
        }
        function isPersonaJuridica(obj){
          var number = $(obj).val();
          var mruc = [4,3,2,7,6,5,4,3,2];
          var suma_total = 0;
          var residuo=0;
          var respuesta=0;
          var divi= number.substring(0,9);
          var porcion1 = number.substring(2,3);
          var rdivi2 = number.substring(9,10);// Digito a verificar ruc
          var contador=0;

            if(porcion1==9 && number.substring(10,13)==001  && number.substring(0,2)<=24){
                for(var k=0; k<divi.length; k++){
                   suma_total = suma_total + (mruc[k]*parseInt(divi[k]));
                   residuo = suma_total % 11;
                   respuesta = parseInt(11-residuo);
                }
                    if (rdivi2 == respuesta || residuo==0){
                        contador++;
                    }
            }
            if(contador==0)
                return false;
            else
                return true;

        }
        function isIntitucionPublica(obj){
          var number = $(obj).val();
          var nruc_empresa = [3,2,7,6,5,4,3,2 ];
          var suma_total = 0;
          var residuo=0;
          var respuesta=0;
          var digiempresa = number.substring(0,8);
          var porcion1 = number.substring(2,3);

          var rdivi1 = number.substring(8,9);// Digito a verificar empresa pública
          var contador=0;

              if(porcion1==6 && number.substring(9,13)==0001 && number.substring(0,2)<=24)
              {
                  for(var k=0; k<digiempresa.length; k++)
                  {
                       suma_total = suma_total + (nruc_empresa[k]*parseInt(digiempresa[k]));
                       residuo = suma_total % 11;
                       respuesta = parseInt(11-residuo);
                  }
                    if (rdivi1 == respuesta || residuo==0){
                        contador++;
                    }
              }

              if(contador==0)

                return false;
              else
                return true;

        }
        function isPersonaNatural(obj){
            var number = $(obj).val();
            var residuo=0;
            var respuesta=0;
            var suma_cedula=0;
            var result=0;
            var divi= number.substring(0,9);
            var rdivi3 = number.substring(9,10);//Digito a verificar cedula
            var porcion1 = number.substring(2,3);
            var contador=0;
                if(porcion1<6 && number.substring(10,13)==001 && number.substring(0,2)<=24)
                {
                    var tmp=0;
                    var test=0;
                         for(var y=0; y<divi.length; y++){
                             if(y%2==0){
                                tmp=divi[y]*2;

                                 if(tmp<=9){
                                    suma_cedula= suma_cedula+tmp;
                                 }
                                 else{
                                        result = tmp-9;
                                        suma_cedula = suma_cedula+result;
                                 }
                             }
                             else{
                                    test= divi[y]*1;
                                    suma_cedula=suma_cedula+test;
                             }
                         }

                         residuo = suma_cedula % 10;
                         if(residuo==0){
                             respuesta=0;
                             if(respuesta == rdivi3 || respuesta == 0){
                                 contador++;
                             }
                         }
                         else{
                              respuesta = parseInt(10-residuo);
                              if(respuesta == rdivi3 || respuesta == 0){
                                  contador++;
                              }
                         }
                }

                if(contador==0){
                    return false;
                }
                else{
                    return true;
                }
        }
        function isRUC(obj){
            var cont=0;
            if (isPersonaJuridica(obj) ){
                cont++;
            }
            if(isIntitucionPublica(obj)){
                cont++;
            }
             if(isPersonaNatural(obj)){
                cont++;
            }
            if(cont==0)
                return false;
            else
                return true;
        }
        function validar_ruc(){
            var tipo_ident = $("#id_tipo_identificacion").val();
            var ruc = $("#id_ruc");

            if ($(ruc).val() != ""){
                if (tipo_ident=="R"){
                    if (isRUC(ruc) && $(ruc).val().length==13){
                        $("#id_ruc").removeClass("campo_requerido");
                    }
                    else{
                        $("#id_ruc").val("");
                        $("#id_ruc").addClass("campo_requerido");
                    }
                }
                if(tipo_ident=="C"){
                    if(isCedula(ruc) && $(ruc).val().length==10){
                        $("#id_ruc").removeClass("campo_requerido");
                    }else{
                        $("#id_ruc").val("");
                        $("#id_ruc").addClass("campo_requerido");
                    }

                }
            }
        }
    </script>
 {% endblock %}

{% block item-compra %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"{% endblock %}
{% block ruta-principal %}Compras{% endblock %}
{% block ruta-actual %}
     {% if  tipo == 1 %}
     Agregar Proveedor
     {% elif tipo == 2 %}
     Editar Proveedor
     {% else %}
     Detalles del Proveedor
     {% endif %}
{% endblock %}

{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% if tipo == 1 %}
                                    {% url "registrar_proveedor" %}
                                {% elif tipo == 2 %}
                                    {% url "modificar_proveedor" id numero %}
                                {% else %}
                                    {% url "detalle_proveedor" id numero %}

                                {% endif %}" enctype="multipart/form-data" class="form-horizontal" role="form"  >{% csrf_token %}

        <div class="row row-persona-cabecera" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                {% if tipo == 1 %}
                <h3  class="sub-title-comprobante">
                      AGREGAR PROVEEDOR
                </h3>
                {% elif tipo == 2 %}
                   <h3  class="sub-title-comprobante">
                      EDITAR PROVEEDOR
                    </h3>
                {% else %}
                <h3  class="sub-title-comprobante">
                      VER PROVEEDOR
                </h3>
                {% endif %}

                    <table class="tabla-persona-cabecera" style="margin-top: 12px;">
                    <tr>
                        <td style="width: 250px;">
                            <label class="control-label" for="{{ formulario.grupo.label }}">
                            {% if formulario.grupo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.grupo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.grupo.errors %}{{ formulario.grupo|add_class:"combo campo_requerido" }}{% else %}{{ formulario.grupo|add_class:"combo" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                           <label class="control-label" for="{{ formulario.tipo_identificacion.label }}">
                            {% if formulario.tipo_identificacion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.tipo_identificacion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td >
                            {% if formulario.tipo_identificacion.errors %}{{ formulario_cabecera.tipo_identificacion|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.tipo_identificacion|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.num_identificacion.label }}">
                            {% if formulario.num_identificacion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.num_identificacion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td >
                            {% if formulario.num_identificacion.errors %}{{ formulario.num_identificacion|add_class:"txt-auto campo_requerido" }}{% else %}{{ formulario.num_identificacion|add_class:"txt-auto"}}{% endif %}
                        </td>
                    </tr>
                    <tr id = "hide_tipo_proveedor">
                        <td style="width: 150px;">
                            <label class="control-label" for="{{ formulario.tipo_proveedor.label }}">
                            {% if formulario.tipo_proveedor.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.tipo_proveedor.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1">
                            {% if formulario.tipo_proveedor.errors %}{{ formulario.tipo_proveedor|add_class:"combo campo_requerido" }}{% else %}{{ formulario.tipo_proveedor|add_class:"combo" }}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.razon_social.label }}">
                            {% if formulario.razon_social.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.razon_social.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td >
                            {% if formulario.razon_social.errors %}{{ formulario.razon_social|add_class:"campo_requerido txt-auto" }}{% else %}{{ formulario.razon_social|add_class:"txt-auto" }}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.nombre.label }}">
                            {% if formulario.nombre.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.nombre.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td >
                            {% if formulario.nombre.errors %}{{ formulario.nombre|add_class:"campo_requerido txt-auto" }}{% else %}{{ formulario.nombre|add_class:"txt-auto" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.actividad.label }}">
                            {% if formulario.actividad.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.actividad.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.actividad.errors %}{{ formulario.actividad|add_class:"combo campo_requerido" }}{% else %}{{ formulario.actividad|add_class:"combo" }}{% endif %}
                        </td>
                     </tr>
                    <tr>
                        <td>
                            <label>
                                {% if formulario.email.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.email.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.email.errors %}{{ formulario.email|add_class:"campo_requerido txt-auto" }}{% else %}{{ formulario.email|add_class:"txt-auto" }}{% endif %}
                        </td>
                     </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.ciudad.label }}">
                            {% if formulario.ciudad.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.ciudad.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.ciudad.errors %}{{ formulario.ciudad|add_class:"combo campo_requerido" }}{% else %}{{ formulario.ciudad|add_class:"combo" }}{% endif %}
                        </td>
                     </tr>

                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.direccion.label }}">
                            {% if formulario.direccion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.direccion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.direccion.errors %}{{ formulario.direccion|add_class:"txt-auto" }}{% else %}{{ formulario.direccion|add_class:"txt-auto" }}{% endif %}
                        </td>
                     </tr>

                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.telefono.label }}">
                            {% if formulario.telefono.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.telefono.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.telefono.errors %}{{ formulario.telefono|add_class:"txt-auto campo_requerido" }}{% else %}{{ formulario.telefono|add_class:"txt-auto"}}{% endif %}
                        </td>
                     </tr>

                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.forma_pago.label }}">
                            {% if formulario.forma_pago.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.forma_pago.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.forma_pago.errors %}{{ formulario.forma_pago|add_class:"combo campo_requerido" }}{% else %}{{ formulario.forma_pago|add_class:"combo"}}{% endif %}
                        </td>
                     </tr>

                    <tr>
                        <td style="text-align: left;">
                            <label class="control-label" style="text-align: left;" for="{{ formulario.plazo.label }}">
                            {% if formulario.plazo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.plazo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.plazo.errors %}{{ formulario.plazo|add_class:"campo_requerido" }}{% else %}{{ formulario.plazo}}{% endif %}
                        </td>
                     </tr>

                    <tr>
                        <td>
                            <label class="control-label"  style="text-align: left;" for="{{ formulario.monto_credito.label }}">
                            {% if formulario.monto_credito.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.monto_credito.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.monto_credito.errors %}
                                {{ formulario.monto_credito|add_class:"campo_requerido" }}
                            {% else %}
                                {{ formulario.monto_credito}}
                            {% endif %}
                        </td>
                     </tr>
                </table>
            </div>
        </div>
        {% if formulario_contactos %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                 CONTACTO
                </a>
                </h4>
            </div>

            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <table id="contactos">
                        {{ formulario_contactos.management_form }}
                        <tbody>
                            {% for form in formulario_contactos %}
                                <tr>
                                    <td>
                                        <table class="tabla-persona-cabecera">
                                            <tr>
                                                <td>
                                                   {% if tipo != 3 %}
                                                       <a class="boton-eliminar-tr eliminar_contacto" title="Eliminar">
                                                                     <img src="/static/cm_html/images/eliminar_tr_icono.png">
                                                       </a>
                                                   {% endif%}
                                               </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 130px;">
                                                    <label class="control-label" for="{{ form.apellidos.label }}">
                                                    {% if form.apellidos.field.required %}
                                                        <span class="requerido">*</span>
                                                    {% else %}
                                                        <span class="no-requerido"></span>
                                                    {% endif %}
                                                    <b>{{ form.apellidos.label }}</b>
                                                    <span class="dospuntos">:</span></label>
                                                </td>
                                                <td style="width: 185;">
                                                    {% if form.apellidos.errors %}{{ form.apellidos|add_class:"campo_requerido  txt-100pc" }}{% else %}{{ form.apellidos|add_class:"txt-100pc" }}{% endif %}
                                                </td>

                                                <td style="width: 120px; padding-left: 20px;">
                                                    <label class="control-label" for="{{ form.nombres.label }}">
                                                    {% if form.nombres.field.required %}
                                                        <span class="requerido">*</span>
                                                    {% else %}
                                                        <span class="no-requerido"></span>
                                                    {% endif %}
                                                    <b>{{ form.nombres.label }}  </b>
                                                    <span class="dospuntos">:</span></label>
                                                </td>
                                                <td>
                                                    {% if form.nombres.errors %}{{ form.nombres|add_class:"campo_requerido txt-100pc" }}{% else %}{{ form.nombres|add_class:"txt-100pc" }}{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label" for="{{ form.email.label }}">
                                                    {% if form.email.field.required %}
                                                        <span class="requerido">*</span>
                                                    {% else %}
                                                        <span class="no-requerido"></span>
                                                    {% endif %}
                                                    <b>{{ form.email.label }}  </b>
                                                    <span class="dospuntos">:</span></label>
                                                </td>
                                                <td colspan="3">
                                                    {% if form.email.errors %}{{ form.email|add_class:"campo_requerido txt-100pc" }}{% else %}{{ form.email|add_class:"txt-100pc" }}{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label" for="{{ form.telefono_contacto.label }}">
                                                    {% if form.telefono_contacto.field.required %}
                                                        <span class="requerido">*</span>
                                                    {% else %}
                                                        <span class="no-requerido"></span>
                                                    {% endif %}
                                                    <b>{{ form.telefono_contacto.label }}  </b>
                                                    <span class="dospuntos">:</span></label>
                                                </td>
                                                <td>
                                                    {% if form.telefono_contacto.errors %}{{ form.telefono_contacto|add_class:"campo_requerido txt-100pc" }}{% else %}{{ form.telefono_contacto|add_class:"txt-100pc" }}{% endif %}
                                                </td>

                                                <td style="width: 120px; padding-left: 20px;">
                                                    <label class="control-label" for="{{ form.movil.label }}">
                                                    {% if form.movil.field.required %}
                                                        <span class="requerido">*</span>
                                                    {% else %}
                                                        <span class="no-requerido"></span>
                                                    {% endif %}
                                                    <b>{{ form.movil.label }}  </b>
                                                    <span class="dospuntos">:</span></label>
                                                </td>
                                                <td>
                                                    {% if form.movil.errors %}{{ form.movil|add_class:"campo_requerido txt-100pc" }}{% else %}{{ form.movil|add_class:"txt-100pc" }}{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label" for="{{ form.departamento.label }}">
                                                    {% if form.departamento.field.required %}
                                                        <span class="requerido">*</span>
                                                    {% else %}
                                                        <span class="no-requerido"></span>
                                                    {% endif %}
                                                    <b>{{ form.departamento.label }}  </b>
                                                    <span class="dospuntos">:</span></label>
                                                </td>
                                                <td colspan="3">
                                                    {% if form.departamento.errors %}{{ form.departamento|add_class:"combo campo_requerido" }}{% else %}{{ form.departamento|add_class:"combo" }}{% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if tipo != 3 %}
                        <a class="tr-agregar" id="add_contacto" style="color: #E75300;">
                            <img src="/static/cm_html/images/agregar_tr_icono.png">
                                Agregar otro contacto
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endif %}

        <div class="text-center" style="margin-top: 20px;">
            {% if tipo != 3 %}
                <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
            {% else %}

            {% endif %}

            {% if tipo == 3 %}
                 <a class="boton boton-gray" href="{% url "proveedores" %}" title="Cancelar">Regresar</a>
            {% else %}
                  <a class="boton boton-gray" href="{% url "proveedores" %}" title="Cancelar">Cancelar</a>
            {% endif %}


        </div>
    </form>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                           <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <!-- AQUI VA EL MENSAJE -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary  yes" id="ok-alert" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}