<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Levo Admin Theme</title>

	<link rel="apple-touch-icon" href="touch-icon-iphone.png" /> 
	<link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png" /> 
	<link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

	<link href="{{ STATIC_URL }}cm_html/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.css"/>
	<link href="{{ STATIC_URL }}cm_html/css/helper.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}cm_html/css/style.css" rel="stylesheet" />

</head>
<body>

	<header class="top-bar err-page">
		<div class="main-logo">Levo <span>Theme</span></div>
	</header> <!-- /top-bar -->

	<div class="wrapper err-page">

		<div class="row mtop-100">
			<div class="col-md-4 col-md-offset-4 center">
				<i class="pe-7s-close-circle color--red"></i>
				<h1 class="color--dark mtop-10">There was an error</h1>
				<a href="index.html" class="btn btn-light btn-xsmall">Go home</a>
			</div>
		</div>

	</div> <!-- /wrapper -->


	
	

	<!-- Scripts -->
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/bootstrap.min.js"></script>
    <!--
	<script type="text/javascript" src="amcharts/amcharts.js"></script>
	<script type="text/javascript" src="amcharts/serial.js"></script>
	<script type="text/javascript" src="amcharts/pie.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/chart.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/map.js"></script>
	 -->
	<script src="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-us-aea-en.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/main.js"></script>


</body>
</html>