{% extends "base.html" %}
{% block title %}Plan de Cuentas{% endblock %}
{% load widget_tweaks %}
{% load formulario_base %}
{% load permisostag %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery.treeview/jquery.treeview.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/plancuentas.css" media="screen">


    <style>
        .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }
        .campo_requerido:hover{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }
    </style>
{% endblock %}

{% block script %}
    <script>
        function get_url_plan_cta(){
            return "{% url "lista_plan_cuenta" %}";
        }
        function get_url_get_datos_cta(){
            return "{% url "obtener_datos" %}";
        }
        function get_url_add_cta(){
            return "{% url "agregar_plan" %}";
        }
        function get_url_edit_cta(){
            return "{% url "editar_plan" %}";
        }
        function get_url_del_cta(){
            return "{% url "eliminar_cuenta" %}";
        }
        function get_url_tipo_cuenta(){
            return "{% url "get_tipo_cuenta" %}";
        }
    </script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.treeview/lib/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.treeview/jquery.treeview.js"></script>
    <script src="{{ STATIC_URL }}js/js_contabilidad/plan_cuenta.js"></script>


{% endblock %}
{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"{% endblock %}
{% block ruta-principal %}Contabilidad{% endblock %}
{% block ruta-actual %}Plan de Cuentas{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
        <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
        {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}

    <div class="row row-plan-cuentas" style="width: auto;">
        <div class="col-lg-12 contenedor">
            <div class="comprobante-cabecera-left" style="margin: auto; width: auto;">
                <div class="sub-title-comprobante" style="padding-bottom: 20px;">
                    <div style="width: 100%; margin: auto; text-align: right;">

                        <div id="treecontrol" style="display: block; text-align: right; width: 270px; float: right; margin-top: 0px;">

                            <a title="recoger" class="boton boton-gray" style="margin-right: 10px;">Recoger Todo</a>
                            <a title="expandir" class="boton boton-gray">Expandir Todo</a>
                        </div>
                        {% if_tiene_permiso request "agregar_plan"%}
                            <a title="Agregar Grupo" class="icon add-icon-principal agregar boton boton-ok" style="float: right;">Agregar Grupo</a>
                        {% endif_tiene_permiso %}
                    </div>
                      PLAN DE CUENTAS
                </div>

                <div id="plan-cuentas">

                    <ul id="arbol" class="filetree">
                    {% for n1 in nivel1 %}
                        {% if n1.status == 1 %}
                        <li style="margin-top: 10px;"><span class="folder folder-up" style="position: relative; top: -8px; left: 6px;"><ins style="font-size: 12px; font-weight: bold;">{{ n1.codigo|slice:":1" }} {{n1.descripcion}}</ins>
                            {% if_tiene_permiso request "agregar_plan"%}
                                <a name="{{n1.id}}" style="margin-left: 12px" data-nivel="{{ n1.nivel }}" class="icon add-icon agregar boton-add"></a>
                            {% endif_tiene_permiso %}
                            {% if_tiene_permiso request "editar_plan"%}
                                <a name="{{n1.id}}" data-nivel="{{ n1.nivel }}" data-name="{{ n1.descripcion }}" class="icon edit-icon editar boton-edit"></a>
                            {% endif_tiene_permiso %}
                            {% if_tiene_permiso request "eliminar_cuenta"%}
                                <a name="{{n1.id}}" data-nivel="{{ n1.nivel }}" data-name="{{ n1.descripcion }}" class="icon delete-icon eliminar boton-delete"></a>
                            {% endif_tiene_permiso %}
                        </span>
                            {% if n1.getHijos %}
                                <ul>
                                    {% for n2 in n1.getHijos %}
                                    {% if n2.status == 1 %}
                                    <li><span style="position: relative; top:-4px;"><ins style="position: relative; top: -6px; left: 6px; margin-right: 20px;">{{ n2.codigo|slice:":1" }}.{{ n2.codigo|slice:"1:2" }} {{ n2.descripcion }}</ins>
                                        {% if_tiene_permiso request "agregar_plan"%}
                                            <a name="{{n2.id}}" style="margin-left: 12px" data-nivel="{{ n2.nivel }}" class="icon add-icon agregar boton-add"></a>
                                        {% endif_tiene_permiso %}
                                        {% if_tiene_permiso request "editar_plan"%}
                                            <a name="{{n2.id}}"  data-nivel="{{ n2.nivel }}" data-name="{{ n2.descripcion }}" class="icon edit-icon editar boton-edit"></a>
                                        {% endif_tiene_permiso %}
                                        {% if_tiene_permiso request "eliminar_cuenta"%}
                                            <a name="{{n2.id}}"  data-nivel="{{ n2.nivel }}" data-name="{{ n2.descripcion }}" class="icon delete-icon eliminar boton-delete"></a>
                                        {% endif_tiene_permiso %}
                                    </span>
                                        {% if n2.getHijos %}
                                        <ul>
                                            {% for n3 in n2.getHijos %}
                                            {% if n3.status == 1 %}
                                            <li><span  style="position: relative; top:-4px;"><ins style="position: relative; top: -6px; left: 6px; margin-right: 20px;">{{ n3.codigo|slice:":1" }}.{{ n3.codigo|slice:"1:2" }}.{{ n3.codigo|slice:"2:4" }} {{ n3.descripcion }}</ins>
                                                {% if_tiene_permiso request "agregar_plan"%}
                                                    <a name="{{n3.id}}" style="margin-left: 12px" data-nivel="{{ n3.nivel }}" class="icon add-icon agregar boton-add"></a>
                                                {% endif_tiene_permiso %}
                                                {% if_tiene_permiso request "editar_plan"%}
                                                    <a name="{{n3.id}}"  data-nivel="{{ n3.nivel }}" data-name="{{ n3.descripcion }}" class="icon edit-icon editar boton-edit"></a>
                                                {% endif_tiene_permiso %}
                                                {% if_tiene_permiso request "eliminar_cuenta"%}
                                                    <a name="{{n3.id}}"  data-nivel="{{ n3.nivel }}" data-name="{{ n3.descripcion }}" class="icon delete-icon eliminar boton-delete"></a>
                                                {% endif_tiene_permiso %}
                                            </span>
                                                {% if n3.getHijos %}
                                                    <ul>
                                                    {% for n4 in n3.getHijos %}
                                                        {% if n4.status == 1 %}
                                                            <li><span  style="position: relative; top:-4px;"><ins style="position: relative; top: -6px; left: 6px; margin-right: 20px;">{{ n4.codigo|slice:":1" }}.{{ n4.codigo|slice:"1:2" }}.{{ n4.codigo|slice:"2:4" }}.{{ n4.codigo|slice:"4:6" }} {{ n4.descripcion }}</ins>
                                                            {% if_tiene_permiso request "agregar_plan"%}
                                                                {% if n4.tipo.alias == 1 %} {# Cuando es de tipo banco #}
                                                                    {% if_tiene_permiso request 'registrar_banco'%}
                                                                        <a name="{{n4.id}}" data-nivel="{{ n4.nivel }}" data-tipo="{{ n4.tipo.alias }}" style="margin-left: 12px" href="{% url "registrar_banco" %}" target="_blank" class="icon add-icon agregar boton-add"></a>
                                                                    {% endif_tiene_permiso %}
                                                                {% else %}
                                                                    <a name="{{n4.id}}" data-nivel="{{ n4.nivel }}" data-tipo="{{ n4.tipo.alias }}" style="margin-left: 12px" class="icon add-icon agregar boton-add"></a>
                                                                {% endif %}

                                                            {% endif_tiene_permiso %}
                                                            {% if_tiene_permiso request "editar_plan"%}
                                                                <a name="{{n4.id}}" data-nivel="{{ n4.nivel }}" data-tipo="{{ n4.tipo.alias }}" data-name="{{ n4.descripcion }}" class="icon edit-icon editar boton-edit"></a>
                                                            {% endif_tiene_permiso %}
                                                            {% if_tiene_permiso request "eliminar_cuenta"%}
                                                                <a name="{{n4.id}}" data-nivel="{{ n4.nivel }}" data-tipo="{{ n4.tipo.alias }}" data-name="{{ n4.descripcion }}" class="icon delete-icon eliminar boton-delete"></a>
                                                            {% endif_tiene_permiso %}
                                                            </span>
                                                            {% if n4.getHijos %}
                                                                <ul>
                                                                {% for n5 in n4.getHijos %}
                                                                    {% if n5.status == 1  %}
                                                                        <li style="padding-top: 0;">
                                                                            <span  style="position: relative; top:-4px;"><ins style="position: relative; top: -6px; left: 6px; margin-right: 20px;">{{ n5.codigo|slice:":1" }}.{{ n5.codigo|slice:"1:2" }}.{{ n5.codigo|slice:"2:4" }}.{{ n5.codigo|slice:"4:6" }}.{{ n5.codigo|slice:"6:9" }} {{ n5.descripcion }}</ins>
                                                                                {% if_tiene_permiso request "editar_plan"%}
                                                                                    <a name="{{n5.id}}" data-nivel="{{ n5.nivel }}" data-codigo="{{ n5.codigo }}" data-tipo="{{ n5.tipo.alias }}" data-name="{{ n5.descripcion }}" class="icon edit-icon editar boton-edit"></a>
                                                                                {% endif_tiene_permiso %}
                                                                                {% if_tiene_permiso request "eliminar_cuenta"%}
                                                                                    <a name="{{n5.id}}" data-nivel="{{ n5.nivel }}" data-codigo="{{ n5.codigo }}" data-tipo="{{ n5.tipo.alias }}" data-name="{{ n5.descripcion }}" class="icon delete-icon eliminar boton-delete"></a>
                                                                                {% endif_tiene_permiso %}
                                                                            </span>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-del" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item">
                    <p id="body-alert">Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="modal-cuenta" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-cuenta">Agregar Cuenta</h4>
                </div>
                <div class="modal-body" id="body-cuenta">
                    <form id="form_prov" method="POST" data-search="{% url "get_proveedores" %}">
                        <div class="row row-formulario-modal">
                            <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                <label class="label-modal">{{ formulario.descripcion.label }}</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                {{ formulario.descripcion|add_class:"text-modal txt-100pc" }}
                            </div>
                            <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                <label class="label-modal">{{ formulario.naturaleza.label }}</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                {{ formulario.naturaleza|add_class:"text-modal txt-100pc" }}
                            </div>
                            <div class="tipo_cuenta">
                                <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                    <label class="label-modal">{{ formulario.tipo_cuenta.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                    {{ formulario.tipo_cuenta|add_class:"text-modal txt-100pc" }}
                                </div>
                            </div>
                            {{ formulario.id_cta }}
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="send_form_cta">Aceptar</button>
                        <button type="button" class="boton cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <div id="error" class="alert alert-danger alert-dismissable" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" class="close" aria-hidden="true" type="button">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p id="error-cuenta" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}