{% extends "base.html" %}

{% block title %}Cierre Mensual Banco{% endblock %}

{% block stylesheet %}
    <style type="text/css">

    .fechas{

    font-size: 13px;
    color: #000000;
    }

    .encabezado-saldo{
        font-size: 13px;
        float: right;
    }

</style>

{% endblock %}

{% block content %}

    <h2 class="titulo-vista">Cierre Mensual Banco</h2>
    <div>
        <label class="fechas"> FECHA INICIO: {{ fecha_inicio|date }} </label>
    </div>

    <div>
        <label class="fechas"> FECHA FINAL: {{ fecha_fin|date }} </label>
    </div>

    <div class="encabezado-saldo">
          <div>
        <label class="fechas"> Año: {{ saldo.anio }} </label>
    </div>

    <div>
        <label class="fechas"> Mes: {{ saldo.mes }} </label>
    </div>

    </div>

    <h2 class="titulo-vista">Banco</h2>
    <div class="table-responsive">
            <!-- Default panel contents -->
             <!-- Table -->

                <table class="table table-hover  tabla table-striped">
                  <thead>
                        <tr>
                            <th>Codigo Cuenta</th>
                            <th>Descripcion</th>
                            <th>Nº Cuenta</th>
                            <th>Secuencia Cheque</th>
                            <th>Fecha Ultimo Cierre</th>
                            <th>Fecha Ultima Conciliación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{objetos.codigo}}</td>
                            <td>{{objetos.descripcion}}</td>
                            <td>{{objetos.numero_cuenta}}</td>
                            <td>{{objetos.secuencia_cheque}}</td>
                            <td>{{objetos.fecha_ultimo_cierre|date:"d-m-Y" }}</td>
                            <td>{{objetos.fecha_ultimo_conciliacion|date:"d-m-Y" }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>

      <h2 class="titulo-vista">Detalle Comprobante Contable</h2>
      <div class="table-responsive">
            <!-- Default panel contents -->
             <!-- Table -->

                <table class="table table-hover  tabla table-striped">
                  <thead>
                        <tr>
                            <th>Codigo Cuenta</th>
                            <th>Comprobante Contable</th>
                            <th>Debe</th>
                            <th>Haber</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <td>{{objetos.codigo}}</td>
                           <td>{{objetos.descripcion}}</td>

                        </tr>
                    </tbody>
                </table>
        </div>

       <div class="div div-botones">
                <a  class="boton boton-ok " href="#">
                        Guardar
                </a>

                 <a class="boton boton-cancel" href="#" >
                       Cancelar
                </a>

                 <a class="boton boton-ok" href="#" >
                        Otro
                </a>
       </div>

{% endblock %}