{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Comprobante de Transacción Bancaria{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Transacción Bancaria: N° {{ banco.num_comp }}{% endblock %}
{% block tabla_contenido %}
         <table id="table-info-basica" class="tabla-datos-basicos">
            <tr>
                <td class="td-label1" style="font-size: 11px;">
                    Fecha:
                </td>
                <td class="td-info1" style="font-size: 11px;">
                    {{ banco.fecha_reg|date:"d-m-Y" }}
                </td>

                <td class="td-label2" style="font-size: 11px;">
                    El valor de:
                </td>

                <td class="td-info2" style="font-size: 11px;">
                    $ {{ banco.valor|floatformat:2 }}
                </td>
            </tr>

            <tr>
                <td class="td-label1" style="font-size: 11px;">
                    Con cargo a cuenta:
                </td>
                <td class="td-info1" style="font-size: 11px;">
                    {{ banco.cuenta_banco.descripcion }} - N°:{{ banco.cuenta_banco.numero_cuenta }}
                </td>
                <td class="td-label2" style="font-size: 11px;">
                        Paguese a:
                    </td>
                <td class="td-info2" style="font-size: 11px;">
                    {{ banco.persona|default_if_none:"" }}
                </td>
            </tr>

            {% if banco.num_cheque %}
                <tr>
                    <td class="td-label1" style="font-size: 11px;">
                        Fecha de Cheque:
                    </td>
                    <td class="td-info1" style="font-size: 11px;">
                        {{ banco.fecha_cheque|date:"d-m-Y" }}
                    </td>

                    <td class="td-label2" style="font-size: 11px;">
                        Número de Cheque:
                    </td>
                    <td class="td-info2" style="font-size: 11px;">
                        {{ banco.num_cheque }}
                    </td>
                </tr>
            {% endif %}

            {% if banco.referencia %}
                <tr>
                    <td class="td-label1" style="font-size: 11px;">
                        Referencia:
                    </td>

                    <td class="td-info1" style="font-size: 11px;">
                        {{ banco.referencia|default_if_none:"" }}
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td class="td-label1" style="font-size: 11px;">
                    Descripción:
                </td>

                <td class="td-info1" style="font-size: 11px;">
                    {{ banco.concepto|default_if_none:"" }}
                </td>
            </tr>

            <tr>
                <td class="td-label1" style="font-size: 11px;">
                        Estado:
                    </td>
                <td class="td-info1" style="font-size: 11px;">
                    {% if banco.status == 1 %}
                        Activo
                    {% else %}
                        Anulado
                    {% endif %}
                </td>
            </tr>
         </table>

         <div style="clear: both"></div>

    <div class="div-centrar div-tabla">
        <h4 style="font-size: 12px; font-style: italic; padding-top: 10px; padding-bottom: 0px;">Detalle de la Transacción</h4>
          <table id="table-info-registro" cellpadding="0" cellspacing="0">
                <thead style="">
                <tr>
                    <th style="font-size: 11px; width: 120px;">Código</th>
                    <th style="font-size: 11px;">Cuenta</th>
                    <th style="font-size: 11px;width: 120px;">Debe</th>
                    <th style="font-size: 11px;width: 120px;">Haber</th>
                    <th style="font-size: 11px;">Centro de Costos</th>

                </tr>
                </thead>
             <tbody style="">
                {% for obj in lista_detalle %}
                    <tr>
                        <td style="font-size: 10px;"> {{ obj.plan_cuenta.codigo  }}</td>
                        <td style="font-size: 10px;"> {{ obj.plan_cuenta.descripcion  }}</td>
                        <td style="font-size: 10px;" class="td-derecha">{% if obj.dbcr == "D" %} $ {{ obj.valor }} {% endif %}</td>
                        <td style="font-size: 10px;" class="td-derecha">{% if obj.dbcr == "H" %} $ {{ obj.valor }} {% endif %}</td>
                        <td style="font-size: 10px;">{{ obj.centro_costo.descripcion  }}</td>
                    </tr>
                {% endfor%}
                    <tr>
                        <td style="font-size: 10px;border-top: 1px solid #A2A3A5;" colspan="2" class="td-total">Total</td>
                        <td style="font-size: 10px;border-top: 1px solid #A2A3A5;" class="td-derecha">$ {{ banco.valor|floatformat:2  }}</td>
                        <td style="font-size: 10px;border-top: 1px solid #A2A3A5;" class="td-derecha">$ {{ banco.valor|floatformat:2  }}</td>
                        <td style="border-top: 1px solid #A2A3A5;"></td>
                    </tr>
             </tbody>
          </table>


        <p class="desc-label" style="font-size: 12px;">Descripción: <span class="desc-info">{{ banco.concepto }}</span></p>

        <div style="clear: both"></div>
    </div>


    <div class="div-centrar div-tabla" style="padding: 0px;">
       <div id="div-firmas">
            <table id="table-firmas" style="margin-top: 30px; text-align: center">
                 <tr>
                    <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">

                    </td>
                    <td style="border: none; width: 30px;">
                    </td>
                    <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">

                    </td>
                    <td style="border: none; width: 30px; ">
                    </td>
                    <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                       <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Recibí conforme</p>
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear: both"></div>
    </div>

    <div class="div-centrar div-tabla" style="padding: 0px;">
       <div id="div-firmas">
            <table id="table-firmas" style="margin-top: 10px; text-align: center">
                 <tr>
                    <td style="padding: 0px;padding-bottom: 10px; padding-top: 20px; padding-left: 10px; padding-right: 10px;">
                       <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado</p>
                    </td>
                    <td style="border: none; width: 30px;">
                    </td>
                    <td style="padding: 0px;padding-bottom: 10px; padding-top: 20px; padding-left: 10px; padding-right: 10px;">
                       <p style="font-size: 11px;border-top: 1px solid #000000; ">Revisado</p>
                    </td>
                    <td style="border: none; width: 30px; ">
                    </td>
                    <td style="padding: 0px;padding-bottom: 10px; padding-top: 20px; padding-left: 10px; padding-right: 10px;">
                       <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Administrativo</p>
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear: both"></div>
    </div>

    <div class="div-centrar div-tabla" style="padding: 0px;">
       <div id="div-firmas">
            <table id="table-firmas" style="margin-top: 10px; text-align: center">
                 <tr>
                    <td style="padding: 0px;padding-bottom: 10px; padding-top: 20px; padding-left: 10px; padding-right: 10px;">
                       <p style="font-size: 11px;border-top: 1px solid #000000; ">Gerente Financiero</p>
                    </td>
                    <td style="border: none; width: 30px;">
                    </td>
                    <td style="padding: 0px;padding-bottom: 10px; padding-top: 20px; padding-left: 10px; padding-right: 10px;">
                       <p style="font-size: 11px;border-top: 1px solid #000000; "></p>
                    </td>
                    <td style="border: none; width: 30px; ">
                    </td>
                    <td style="padding: 0px;padding-bottom: 10px; padding-top: 20px; padding-left: 10px; padding-right: 10px;">
                       <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Gerente General</p>
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear: both"></div>
    </div>


{% endblock %}