{% extends "base.html" %}
{% block title %}Comprobante de Transacción Bancaria{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .td-label2{
        padding-left: 0;
    }
       .linea-total{
            border-top: 2px solid !important;
        }
    </style>
{% endblock %}

{% block item-banco %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/banco_icono.png"
 {% endblock %}
 {% block ruta-principal %}Bancos{% endblock %}
 {% block ruta-actual %}Detalles de Transacción Bancaria{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
    <div class="row row-cabecera">
        <div class="cabecera-left"  style="height: 225px; width: 490px;">
            <table>
                <tr>
                    <td style="width:140px;">
                        <label>Comprobante de:</label>
                    </td>

                    <td class="td-dato">
                        <label>{{ banco.tipo_comprobante.descripcion }}</label>
                    </td>
                </tr>

                <tr>
                    <td style="width:140px;">
                        <label>Núm. Comprobante:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ banco.num_comp }}</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Fecha de Registro:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ banco.fecha_reg|date:"d-m-Y" }}</label>
                    </td>
                </tr>

            {% if banco.num_cheque %}
                <tr>
                    <td class="td-label1">
                        Fecha de Cheque:
                    </td>
                    <td class="td-info1">
                        {{ banco.fecha_cheque|date:"d-m-Y" }}
                    </td>
                </tr>

                <tr>
                    <td class="td-label2">
                        Número de Cheque:
                    </td>
                    <td class="td-info2">
                        {{ banco.num_cheque }}
                    </td>
                </tr>

            {% endif %}

                 <tr>
                    <td class="td-label1">
                        Con cargo a cuenta:
                    </td>
                    <td class="td-info1">
                        {{ banco.cuenta_banco.descripcion }} ({{ banco.cuenta_banco.tipo_cuenta_banco.descripcion }}) - N°:{{ banco.cuenta_banco.numero_cuenta }}
                    </td>
                </tr>

                <tr>
                    <td class="td-label1">
                        Beneficiario:
                    </td>
                    <td class="td-info1">
                        {{ banco.persona|default_if_none:"" }}
                    </td>
                </tr>

            </table>
        </div>
        <div class="cabecera-right" style="height: 225px; width: 480px;">
            <table>

                <tr>
                    <td class="td-label2">
                        El valor de:
                    </td>
                    <td class="td-info2" colspan="3">
                        $ {{ banco.valor|floatformat:2 }}({{ banco.monto_to_word }} {% splits banco.valor "." 1 %}/100 dólares)
                    </td>
                </tr>

                <tr>
                    <td class="td-label1">
                       Estado:
                    </td>

                    <td class="td-info1">
                        {% if banco.status == 2 %} Anulada {% else %}Activa{% endif %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label> Usuario Creación: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ banco.usuario_creacion }}</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label> Fecha Creación: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ banco.fecha_creacion|date:"Y-m-d" }}</label>
                    </td>
                </tr>

            </table>
        </div>

        <div class="div-centrar div-tabla">
            <h3 class="sustitulo-comprobante">Detalle de la Transacción</h3>
                <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Código</th>
                        <th>Cuenta</th>
                        <th>Debe</th>
                        <th>Haber</th>
                    </tr>
                    {% for obj_asiento in lista_detalle %}
                        <tr>
                            <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                            <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                            <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                            <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2" style="text-align: right; font-weight: bold;"> TOTALES: </td>
                        <td class="linea-total" style="text-align: right">{{ mayor_cab.get_total_debe|floatformat:"2" }}</td>
                        <td class="linea-total" style="text-align: right">{{ mayor_cab.get_total_haber|floatformat:"2" }}</td>

                    </tr>
                </table>

                <p class="desc-label">Descripción: <span class="desc-info">{{ banco.concepto }}</span></p>

               <div class="text-center div-botones-alto" style="margin-top: 30px;">
                    <a class="boton boton-ok" href="{% url "detalle_transaccion_banco_reportepdf" banco.id %}" target="_blank">Generar PDF</a>
                    <a class="boton boton-gray" href="{% url "lista_transaccion_banco" %}">Regresar</a>
               </div>
        </div>
    </div>
{% endblock %}