{% extends "base.html" %}
{% block title %}Detalle del Banco{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
           <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
               {{ message }}.
           </div>
         {% endfor %}
    {% endif %}

    <div class="table-responsive">
        <h2 class="titulo-vista">Detalle del Banco</h2>
        <!-- Default panel contents -->
         <!-- Table -->
            <table class="table table-hover  tabla table-striped tabla_detalle_cliente">
                <col style="width: 80px" />
                <col style="width: 80px" span="3"/>
                    <tr>
                    <td scope="row">Código</td>
                    <td>{{ objeto.id }}</td>
                    </tr>

                    <tr>
                    <td scope="row">Descripción</td>
                    <td>{{ objeto.descripcion}}</td>
                    </tr>

                    <tr>
                    <td scope="row">N° de Cuenta</td>
                    <td>{{ objeto.numero_cuenta }}</td>
                    </tr>

                    {% if objeto.secuencia_cheque %}
                    <tr>
                    <td scope="row">Secuencia Cheque</td>
                    <td>{{ objeto.secuencia_cheque }}</td>
                    {% else %}
                    <tr>
                        <td scope="row">Secuencia Cheque</td>
                         <td> </td>
                    </tr>
                    {% endif %}

                    <tr>
                    <td scope="row">Fecha de Ultimo Cierre</td>
                    <td>{{ objeto.fecha_ultimo_cierre|date:"d-m-Y" }}</td>
                    </tr>

                    <tr>
                    <td scope="row">Fecha de Ultimo Conciliación</td>
                    <td>{{ objeto.fecha_ultimo_conciliacion|date:"d-m-Y" }}</td>
                    </tr>



                   {% if objeto.usuario_creacion %}
                    <tr>
                        <td scope="row">Usuario de Creación</td>
                        <td>{{ objeto.usuario_creacion }}</td>
                     {% else %}
                     <tr>
                        <td scope="row">Usuario de Creación</td>
                        <td></td>
                     </tr>
                     {% endif %}



                    {% if objeto.usuario_actualizacion %}
                    <tr>
                        <td scope="row">Usuario de Actualización</td>
                        <td>{{ objeto.usuario_actualizacion }}</td>
                     {% else %}
                     <tr>
                        <td scope="row">Usuario de Actualización</td>
                        <td>Este registro no ha sido actualizado</td>
                     </tr>
                     {% endif %}

                    <tr>
                    <td scope="row">Fecha de Creación</td>
                    <td>{{ objeto.fecha_creacion|date:"d-m-Y" }}</td>
                    </tr>

                    {% if objeto.usuario_actualizacion %}
                    <tr>
                        <td scope="row">Fecha de Actualización</td>
                        <td>{{ objeto.fecha_actualizacion|date:"d-m-Y" }}</td>
                    {% else %}
                     <tr>
                        <td scope="row">Fecha de Actualización</td>
                        <td>Este registro no ha sido actualizado</td>
                     </tr>
                     {% endif %}

            </table>
            <div style="clear: both"></div>
                <div class="controles-vista">
                    <a class="boton boton-ok" href="{% url "modificar_banco" id  numero%}">
                       Editar
                    </a>
                    <a class="boton boton-cancel" href="/bancos/?page={{numero}}">Cancelar</a>
                </div>
    </div>
{% endblock %}