{% extends "base.html" %}
{% block title %}Comprobante de Cheque Bancario{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">

    <style>
    .td-label2{
        padding-left: 0;
    }
       .linea-total{
            border-top: 2px solid !important;
        }
    .div-tabla table tr td{
        font-size: 12px !important;
        font-family: "Arial" !important;
        font-weight: 400 !important;
    }
    </style>

{% endblock %}

{% block item-banco %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/banco_icono.png"
 {% endblock %}
 {% block ruta-principal %}Bancos{% endblock %}
 {% block ruta-actual %}Detalles de Cheque Bancario{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}cm_html/js/jquery.PrintArea.js"></script>
    <div class="row row-cabecera">
           <style>
        *{
			margin:0px;
			padding: 0px;
		}
		.div-cheque{
            background: url("{{ STATIC_URL }}cm_html/images/cheque.jpeg") no-repeat #dfdfdf;
			background-size:593px 265px;
        }
    </style>

        <div class="div-centrar div-tabla div-cheque" id="areaimprime_visor"  style="width: 593px; height: 265px; margin: auto;">
            <table id="table-info-basica" style="width: 100%;"  cellspacing="0" cellpadding="0">
                <tr>
                    <td style="height: 54px;">

                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 15%;">

                                </td>
                                <td class="a-la-orden-de" style="width: 45%; font-size: 14px; vertical-align: bottom;">
                                    {{ banco.persona|default_if_none:"" }}
                                </td>
                                <td style="width: 13.5%;">

                                </td>
                                <td class="valor" style="width: 30%; font-size: 14px; vertical-align: bottom;">
                                    {{ banco.valor|floatformat:2 }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 10%;">

                                </td>
                                <td class="a-la-orden-de" style="width: 72%; font-size: 14px; vertical-align: top; height: 40px;line-height: 21px;">
                                    {{ banco.monto_to_word }} {% splits banco.valor "." 1 %}/100 XXXXX.
                                </td>
                                <td style="width: 18%;">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 2%;"></td>
                                <td style="width: 17%;font-size: 14px; text-align: center; vertical-align: bottom;">
                                    Guayaquil
                                </td>
                                <td style="width: 1%;"></td>
                                <td class="a-la-orden-de" style="width: 18%; font-size: 14px; text-align: center;height: 24px; vertical-align: bottom;">
                                    {{ banco.fecha_reg|date:"Y-m-d" }}
                                </td>
                                <td style="width: 62%;font-size: 14px; vertical-align: bottom;">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="div-centrar div-tabla div-cheque" id="areaimprime_real" style="display:none; width: 593px; height: 265px; margin: auto; font-size: 12px !important;">
            <table id="table-info-basica" style="width: 100%;"  cellspacing="0" cellpadding="0">
                <tr>
                    <td style="height: 55px;">

                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 12%;">

                                </td>
                                <td class="a-la-orden-de" style="width: 39%; font-size: 12px; vertical-align: middle;">
                                    {{ banco.persona|default_if_none:"" }}
                                </td>
                                <td style="width: 8%;">

                                </td>
                                <td class="valor" style="width: 49%; height: 26px; font-size: 12px; vertical-align: middle;">
                                    {{ banco.valor|floatformat:2 }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 10%;">

                                </td>
                                <td class="a-la-orden-de" style="width: 72%; font-size: 12px; vertical-align: top; height: 43px;line-height: 21px;">
                                    {{ banco.monto_to_word }} {% splits banco.valor "." 1 %}/100 XXXXX.
                                </td>
                                <td style="width: 18%;">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 14%; font-size: 12px; text-align: center; vertical-align: middle;">
                                    Guayaquil
                                </td>
                                <td style="width: 14%; font-size: 12px; text-align: center;height: 22px; vertical-align: middle;">
                                    {{ banco.fecha_reg|date:"Y-m-d" }}
                                </td>
                                <td style="width: 72%;font-size: 12px; vertical-align: top;">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="div-centrar div-tabla" >
                <h3 class="sustitulo-comprobante">Detalle de la Transacción</h3>


                    <p class="desc-label">Descripción: <span class="desc-info">{{ banco.concepto }}</span></p>

                   <div class="text-center div-botones-alto" style="margin-top: 30px;">
                      <!--  <a class="boton boton-ok" href="{% url "detalle_cheque_reportepdf" banco.id %}" target="_blank" id="btnPrint">Generar PDF</a>
                       --> <a class="boton boton-ok" href="#"   id="btnPrint">Imprimir</a>

                       <a class="boton boton-gray" href="{% url "lista_transaccion_banco" %}">Regresar</a>
                   </div>
            </div>
    </div>

<script type="text/javascript">
                 $("#btnPrint").click(function () {
                   $("#areaimprime_real").printArea();
                });
           </script>
{% endblock %}