{% extends "base.html" %}
{% load operaciones_template %}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}
{% block title %}Transacciones Bancarias{% endblock %}
{% block stylesheet %}
   <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        .cheque-final{
            float: left;
            padding-left: 14px;
        }
        .comprobante-final{
            float: left;
            padding-left: 14px;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var url_anular_cheque = "{% url "anular_cheque" %}";
        var url_ultimo_cheque = "{% url "get_ultimo_cheque_usado" %}";
        var url_ultimo_comp = "{% url "get_ultimo_comprobante_egreso_usado" %}";
    </script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_transaccion_banco/lista_transaccion_banco.js"></script>
{% endblock %}
{% block item-banco %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/banco_icono.png"{% endblock %}
{% block ruta-principal %}Bancos{% endblock %}
{% block ruta-actual %}Buscar Transacciones Bancarias{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}

                    </figure>
                <div class="media-body">

                    <p class="alert--text">{{ message }}.</p>
                </div>
                </div>
            </div>
      {% endfor %}
    {% endif %}
       <div class="container-buscador container-buscador-hide">
         <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
         </div>
            <form action="" class="form-group" id="formulario" method="GET">
                <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera" style="color: #9A9A9A;">
                            <tr>
                                <td>
                                     <label class="control-label" for="{{ buscador.num_comp.label }}">
                                        # de Comprobante:
                                     <span class="dospuntos">:</span></label>
                                </td>
                                <td>
                                    {{ buscador.num_comp|add_class:"txt-100pc" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <label class="control-label" for="{{ buscador.fecha_inicio.label }}">
                                    {% if buscador.fecha_inicio.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ buscador.fecha_inicio.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>

                                <td>
                                   {{ buscador.fecha_inicio|add_class:"calendario-gris input-calendario txt-100pc" }}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                     <label class="control-label" for="{{ buscador.fecha_fin.label }}">
                                    {% if buscador.fecha_fin.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ buscador.fecha_fin.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td>
                                    {{ buscador.fecha_fin|add_class:"calendario-gris input-calendario txt-100pc" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <label class="control-label" for="{{ buscador.tipo_comprobante.label }}">
                                    {% if buscador.tipo_comprobante.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ buscador.tipo_comprobante.label }}</b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td>
                                  {{ buscador.tipo_comprobante|add_class:"combo txt-100pc" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <label class="control-label" for="{{ buscador.cuenta_banco.label }}">
                                    <b>{{ buscador.cuenta_banco.label }}</b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td>
                                  {{ buscador.cuenta_banco|add_class:"combo txt-100pc" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <label class="control-label" for="{{ buscador.estado.label }}">
                                    <b>{{ buscador.estado.label }}</b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td>
                                  {{ buscador.estado|add_class:"combo txt-100pc" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <label class="control-label" for="{{ buscador.concepto.label }}">
                                    {% if buscador.concepto.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ buscador.concepto.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td>
                                    {{ buscador.concepto|add_class:"txt-100pc" }}
                                </td>
                            </tr>
                             <div style="display: none;">
                                {{ buscador.page }}
                             </div>
                        </table>

                    </div>
                </div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
            </div>
        </form>
      </div>

      {% if_tiene_permiso request "transacciones_bancarias" %}
        <div class="div div-agregar">
            <a class="boton boton-ok" href="{% url "transacciones_bancarias" %}">Agregar Transacción</a>
        </div>
      {% endif_tiene_permiso %}

     <div class="botones-administracion">
{% if objetos %}
        {% if_tiene_permiso request "detalle_transaccion_banco" %}
            <a id="ver" class="boton boton-administrador" href="#">Ver</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "copiar_transaccion_bancaria" %}
            <a id="copiar" class="boton boton-administrador" href="#">Copiar</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "anular_generar_transaccion_bancaria" %}
            <a id="anular_generar" class="boton boton-administrador" href="#">Anular - Generar</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "anular_transaccion_bancaria" %}
            <a id="anular" class="boton boton-administrador" href="#">Anular</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "anular_cheque" %}
            <a id="anular-cheque" class="boton boton-administrador" href="#">Anular - Cheque</a>
        {% endif_tiene_permiso %}
        <a id="ver-cheque" style="display: none;" class="boton boton-administrador" href="#">Detalles - Cheque</a>
{% endif %}

         <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>

{% if objetos %}
    <div class="table-responsive">
        <table id="lista" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 100px; text-align: center">F. Registro</th>
                    <th style="width: 125px; text-align: center">Tipo Comprobante</th>
                    <th style="width: 108px; text-align: center"># Comprobante</th>
                    <th style="width: 150px; text-align: center">Cta. Banco</th>
                    <th style="width: 85px; text-align: center"># Cuenta</th>
                    <th>Descripción</th>
                    <th style="width: 85px; text-align: center">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% if objetos %}
                    {% for obj in objetos %}
                    <tr>
                        <td  style="width: 51px; text-align: center;"><input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                data-ver="{% url "detalle_transaccion_banco" obj.id %}"
                                data-ver-cheque="{% url "detalle_cheque" obj.id %}"
                                data-anular="{% url "anular_transaccion_bancaria" obj.id %}"
                                data-anular-generar ="{% url "anular_generar_transaccion_bancaria" obj.id %}"
                                data-copiar ="{% url "copiar_transaccion_bancaria" obj.id %}"
                                data-tipo-comp-id="{{ obj.getTipoComprobanteId }}"
                                data-status="{{ obj.status }}"/>
                        </td>
                        <td class="text-center">{{obj.fecha_reg|date:"d-m-Y"}}</td>
                        <td class="text-center">{{ obj.tipo_comprobante.descripcion }} </td>
                        <td class="num_comp text-center">{{obj.num_comp }}</td>
                        <td class="text-center">{{ obj.cuenta_banco.descripcion }}</td>
                        <td class="text-center">{{ obj.cuenta_banco.numero_cuenta }} </td>
                        <td>
                            {{obj.concepto|slice:"0:40" }}
                            {% if obj.concepto|length|get_digit:"-1" > 40 %}...{% endif %}
                        </td>
                         <td class="td_enlace_crud text-center">
                             {% if obj.status == 1 %}
                                 <a class="enlace_crud alerta" data-tipo="1" id="{{obj.id}}" >
                                     <span >Activo</span>
                                 </a>

                             {% elif obj.status == 2 %}
                                 <a class="enlace_crud alerta"  data-tipo="2" id="{{obj.id}}">
                                    <span class="item_inactivo"  >Anulada</span>
                                 </a>
                             {% elif obj.status == 3 %}
                                 <a class="enlace_crud alerta"  data-tipo="2" id="{{obj.id}}">
                                    <span class="item_inactivo"  >Pendiente</span>
                                 </a>
                            {% endif %}
                        </td>
                    {% endfor%}
                {% endif %}
                </tr>
            </tbody>
        </table>
{% endif %}
       {% paginacion_html  objetos arreglo_paginado muestra_paginacion %}

    </div><!-- comentario  -->
    {% if not objetos %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}

    <!-- Div para los formulario Popup-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    {# Div Formulario para Anular N° de Cheque #}
    <div id="anular_cheque_modal" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title-modal" id="tit-cheque">Anular N° de Cheque</h4>
                </div>

                <div class="modal-body" id="body-factura">
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                    <form id="form_anular_cheque" method="POST">
                        <div class="row row-formulario-modal">
                        {# Aqui se valida si el ingreso de los documentos es manual o automático #}
                            {% if False %}
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anula_cheque.cuenta_banco.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anula_cheque.cuenta_banco|add_class:"text-modal" }}
                                </div>

                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anula_cheque.numero_cheque.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anula_cheque.numero_cheque|add_class:"text-modal" }}
                                </div>
                            {% else %}
                                <p style="padding-bottom: 20px"><label class="label-modal">Tenga en cuenta que se anulará el siguiente número de cheque,
                                    como el sistema es en línea, presione
                                   el icono de actualizar para mostrarle el último número de cheque utilizado en la cuenta seleccionada antes de aceptar</label>
                                </p>

                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anula_cheque.fecha_reg.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anula_cheque.fecha_reg|add_class:"text-modal" }}
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anula_cheque.cuenta_banco.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anula_cheque.cuenta_banco|add_class:"text-modal" }}
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">Último # Comp. utilizado:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    <span id="ultimo_comprobante" class="comprobante-final"></span>
                                    <a class="retencion-reload" title="Actualizar Número de Comprobante"></a>
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">Último # Cheque utilizado:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    <span id="ultimo_cheque" class="cheque-final"></span>
                                    <a class="retencion-reload" title="Actualizar Número de Cheque"></a>

                                </div>

                            {% endif %}
                        </div>

                    </form>

                    <div class="modal-footer">
                        <button type="button" class="boton yes boton-ok" id="ok-cheque-anul">Aceptar</button>
                        <button type="button" class="boton cancel boton-gray" data-dismiss="modal" id="cancel-cheque">Cancelar</button>

                        <div class="alert alert-danger alert-dismissable error-modal" style="margin-bottom:0; margin-top: 20px;">
                            <button type="button" class="close cerrar-error"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p class="alert--text mensaje-error-retencion"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
