{% extends "base.html" %}
{% block title %}
    {% if tipo == 1 %}
        Agregar Cuenta Bancaria
    {% elif tipo == 2 %}
        Editar Cuenta Bancaria
    {% else %}
        Detalle Cuenta Bancaria
    {% endif %}
{% endblock %}
{% load widget_tweaks %}
{% load formulario_base %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        .campo_requerido{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }
        .campo_requerido:hover{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }
        .formulario_cliente {
            max-width: 800px;
        }

    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        function tipoValidation(){
             if ($("#id_tipo").val()=="1"){
                   $("#hide_cheque").attr("style","display:none");
             }
             else{
                    $("#hide_cheque").attr("style","display:show");
               }
        }

        function cuentas_bancos(){
            if($("#id_cuentas").val()!=""){
                $("#hide_descripcion").hide();
            }else{
                $("#hide_descripcion").show();
            }
        }

        $(document).ready(function(e){
            // Inhabilita el boton de submit evitando que se haga más de una petición
            $("input[type='submit']").click(function(){
                $(this).attr("disabled", false);
                $("form").submit(function(){
                  $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
                  return true;
                });
            });
            tipoValidation();

            $("#id_cuentas").change(function(){
                cuentas_bancos();
            });

            cuentas_bancos();

            $('.selectpicker').selectpicker();
            $("#id_fecha_conciliacion").datepicker();
            $("#id_numero_cuenta").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }

            });
            $("#id_secuencia_cheque").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
            $("#id_tipo").change(function(e){
                tipoValidation();
            });
            $("#id_fecha_ultimo_cierre").datepicker();
        });

    </script>
 {% endblock %}

{% block item-banco %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/banco_icono.png"
 {% endblock %}
 {% block ruta-principal %}Bancos{% endblock %}
 {% block ruta-actual %}Cuentas Bancarias{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% if tipo == 1 %}
                                    {% url "registrar_banco" %}
                                {% elif tipo == 2 %}
                                    {% url "modificar_banco" id numero %}
                                {% elif tipo == 3 %}
                                    {% url "detalle_banco" id numero %}
                                {% endif %}" enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}

         <div class="row row-persona-cabecera" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                {% if tipo == 1 %}
                    <h3  class="sub-title-comprobante">
                          AGREGAR CUENTA BANCARIA
                    </h3>
                {% elif tipo == 2 %}
                    <h3  class="sub-title-comprobante">
                          EDITAR CUENTA BANCARIA
                    </h3>
                {% elif tipo == 3 %}
                    <h3  class="sub-title-comprobante">
                          VER CUENTA BANCARIA
                    </h3>
                {% endif %}
                    <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                        <tr>
                            <td style="width: 175px;">
                            <label class="control-label" for="{{ formulario.cuentas.label }}">
                            {% if formulario.cuentas.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.cuentas.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.cuentas.errors %}{{ formulario.cuentas|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.cuentas|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr id="hide_descripcion">
                            <td style="width: 175px;">
                            <label class="control-label" for="{{ formulario.descripcion.label }}">


                                <span class="requerido">*</span>

                            <b>{{ formulario.descripcion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.descripcion.errors %}{{ formulario.descripcion|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.descripcion|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <label class="control-label" for="{{ formulario.numero_cuenta.label }}">
                            {% if formulario.numero_cuenta.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.numero_cuenta.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.numero_cuenta.errors %}{{ formulario.numero_cuenta|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.numero_cuenta|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <label class="control-label" for="{{ formulario.tipo.label }}">
                            {% if formulario.tipo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.tipo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.tipo.errors %}{{ formulario.tipo|add_class:"combo campo_requerido" }}{% else %}{{ formulario.tipo|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr id="hide_cheque">
                            <td>
                            <label class="control-label" for="{{ formulario.secuencia_cheque.label }}">
                            {% if formulario.secuencia_cheque.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.secuencia_cheque.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.secuencia_cheque.errors %}{{ formulario.secuencia_cheque|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.secuencia_cheque|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                            <label class="control-label" for="{{ formulario.fecha_ultimo_cierre.label }}">
                            {% if formulario.fecha_ultimo_cierre.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.fecha_ultimo_cierre.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.fecha_ultimo_cierre.errors %}{{ formulario.fecha_ultimo_cierre|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.fecha_ultimo_cierre|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                            <label class="control-label" for="{{ formulario.fecha_conciliacion.label }}">
                            {% if formulario.fecha_conciliacion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.fecha_conciliacion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.fecha_conciliacion.errors %}{{ formulario.fecha_conciliacion|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.fecha_conciliacion|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>

                   </table>
            </div>
         </div>

        <div class="text-center" style="padding: 30px 0px;">
            {% if tipo != 3 %}
                <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
            {% endif %}
            {% if tipo == 3 %}
                <a class="boton boton-gray" href="{% url "lista_bancos" %}">Regresar</a>
            {% else %}
                <a class="boton boton-gray" href="{% url "lista_bancos" %}">Cancelar</a>
            {% endif %}
        </div>
    </form>

    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                           <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <!-- AQUI VA EL MENSAJE -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary  yes" id="ok-alert" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title-ok" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert-ok">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}