{% load widget_tweaks %}

{% if parametro_hide == 0 %}
    <table id="tabla_formset_detalle_doc" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-conciliacion">
        <thead>
            <tr>
                <th style="display: none"></th>
                <th style="width: 80px;"></th>
                <th style="width: 95px;"># Comp.</th>
                <th style="width: 120px;">Fecha Reg.</th>
                <th style="width: 80px;"># Cheque</th>
                <th style="width: 150px;">Beneficiario</th>
                <th style="width: 230px;">Detalle</th>
                <th style="width: 135px;">Valor</th>
            </tr>
        </thead>

        <tbody>
            {% for formularios in forms %}
                <tr>
                    {% for form in formularios %}
                        {% if form.label == "id_banco"  or  form.label == "conciliado" %}
                            <td style="display: none">{{ form }}</td>
                        {% endif %}
                    {% endfor %}
                    <td style="width: 50px; text-align: center"> {{ formularios.check}}</td>

                    <td> {{ formularios.num_comp.value }}</td>
                    <td> {{ formularios.fecha_reg.value|date:"Y-m-d" }}</td>
                    <td> {{ formularios.num_cheque.value|default_if_none:"" }}</td>
                    <td style="width: 150px;"> {{ formularios.beneficiario.value|default_if_none:"" }}</td>
                    <td title="{{ formularios.detalle.value }}" style="width: 230px;"> {{ formularios.detalle.value|slice:"0:40"|default_if_none:"" }}{% if obj.detalle.value|length > 40 %}...{% endif %}</td>
                    <td style="text-align: right;"> $ {{ formularios.valor.value|floatformat:"2" }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {{ forms.management_form }}
    </table>
    <div id="tiene_docs" style="display: none" data-error="0"></div>

{% elif parametro_hide == 1 %}
    <div id="tiene_docs" style="display: none" data-error="1"></div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="media">
                        <figure class="pull-left alert--icon">
                            {% if message.tags %}
                                {% if message.tags == "error" %}
                                    <i class="pe-7s-close-circle"></i>
                                {% else %}
                                    <i class="pe-7s-info"></i>
                                {% endif %}
                            {% endif %}
                        </figure>
                        <div class="media-body" style="text-align: center;">
                            <p class="alert--text">{{ message }}.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
{% else  %}
    <div id="tiene_docs" style="display: none" data-error="1"></div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="media">
                        <figure class="pull-left alert--icon">
                            {% if message.tags %}
                                {% if message.tags == "error" %}
                                    <i class="pe-7s-close-circle"></i>
                                {% else %}
                                    <i class="pe-7s-info"></i>
                                {% endif %}
                            {% endif %}
                        </figure>
                        <div class="media-body" style="text-align: center;">
                            <p class="alert--text">{{ message }}.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

{% endif %}

