{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
    {% if tipo == 1 %}
        Agregar Transacciones Bancarias
    {% elif tipo == 2 %}
        Copiar Transacción Bancaria
    {% elif tipo == 3 %}
        Anular - Generar Transacción Bancaria
    {% endif %}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        #id_concepto{
            height: 60px;
            width: 100%;
            padding: 10px;
            max-width: 100%;
            min-width: 100%;
        }
        #encabezado{
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            padding: 10px;
        }

        h6{
            color: #dd4814;
            padding-bottom: 20px;
            text-align: justify;
            font-size: 16px;
        }

        #total{
           padding: 15px;
           text-align: center;
           margin: auto;
           margin-bottom: 25px;
        }

        .campo_requerido{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }
        .campo_requerido:hover{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }

        input[type=checkbox]{
            cursor: pointer;
            display: inline-block;
            margin-left: 48px;
            width: 16px;
            height: 25px;
        }

        .tabla-comprobante-detalle tbody tr td:last-child {
            background: #FFF !important;
            border: 0px !important;
            border-right: 2px solid #E6E6E6 !important;

            border-bottom: 2px solid #E6E6E6 !important;
        }

        #secuencia_cheque{
            font-weight: bold;
            color: #444;
        }

        #id_check_provision{
            margin-left: 6px !important;
        }

    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var url_get_fecha_t = "{% url "get_fecha_transaccion" %}";
        var url_get_secuencia_cheque = "{% url "get_secuencia_cheque_transaccion" %}";
        var tipo = "{{ tipo }}";
        var url_detalle_comp = "{% url "detalle_transaccion_banco_reportepdf" 0 %}";
        var ur_get_cheque_prov = "{% url "get_cheques_provisionados" %}";
    </script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_transaccion_banco/tansacciones_banco.js"></script>
    <script type="text/javascript">
        var tipo = "{{ tipo }}";
        var fecha_data = $("#id_fecha").val();
        var dia = "{{ dia }}";
        var fecha_comp = dia.split("-");
        var dia_fecha_asiento = new Date(parseInt(fecha_comp[0]),parseInt(fecha_comp[1]),parseInt(fecha_comp[2]));

        $(function () {
            {% if flag_banco %}

            {% else %}

                if (tipo != 1){
                    calcularTotal();
                }
            {% endif %}

            imprimir_comprobante(url_detalle_comp);

        });

        function mostrar_datos_cheques_prov(){
            if($("#id_check_provision").is(":checked")){
                $(".ult-cheque").hide();
                $(".cheques-prov").show();
            }
            else{
                $(".ult-cheque").show();
                $(".cheques-prov").hide();
            }
        }

        function get_cheques_provisionados(){
            var select_cheques_prov = $("#id_cheques_provisionados");
            var banco = $("#id_cuenta_bancaria").find("option:selected");
            select_cheques_prov.empty();
            if (banco.val() != "")
            {
                $.ajax(
                {
                    url: ur_get_cheque_prov,
                    type: 'POST',
                    async: false,
                    cache: false,
                    timeout: 300,
                    data:{
                        id: banco.val()
                    },
                    beforeSend: function(msj){
                        $('#loading').show();
                        $('body').css('display', '0.5');
                    },
                    error: function(){
                        return true;
                    },
                    success: function(data)
                    {
                        for(var i=0; i<data.length; i++)
                        {
                            if( i==0 )
                                select_cheques_prov.append('<option value="' + data[i].id + '" data-fecha="'+ data[i].fecha +'"' +
                                    ' selected="selected" >' +
                                    data[i].descripcion + '</option>');
                            else
                                select_cheques_prov.append('<option value="' + data[i].id + '" data-fecha="'+ data[i].fecha +'"' +
                                    ' >' + data[i].descripcion + '</option>');
                        }

                        $('#loading').fadeOut();
                        $('body').css('opacity', '1');
                    }
                });
            }
            select_cheques_prov.selectpicker("refresh");
        }
        $(document).ready(function() {
            $('.selectpicker').selectpicker();

            get_fecha_ultimo_tipo_motivo(url_get_fecha_t);
            show_data_cheque();  // Muestra u oculta campos del formulario dependiendo del motivo
            copiarAnularCtasValidate();
            mostrar_datos_cheques_prov();  // Muestra los datos de los cheques provisionaods

            var tipo_movimient = $("#id_tipo_movimiento");
            if( tipo == 2 ){ // Cuando es la opción copiar transaccion
                if (tipo_movimient.val() == "2") // Además cuando es tipo egreso
                {
                    get_secuencia_ultimo_cheque(url_get_secuencia_cheque);  // carga el último cheque girado
                }
            }

            $("#id_cheques_provisionados").change(function(){
                if($(this).val() != "")
                {
                    $("#id_fecha").val($(this).find("option:selected").attr("data-fecha"))
                }
                else{
                    $("#id_fecha").val("")
                }
            });
            $("#id_cuenta_bancaria").change(function(){
                var fecha_reg = $("#id_fecha");
                var cheque_prov_sel = $("#id_cheques_provisionados");

                if($("#id_check_provision").is(":checked")){
                    fecha_reg.addClass("input_deshabilitado");
                    fecha_reg.attr("disabled", true);
                    fecha_reg.val("");
                    if($("#id_cuenta_bancaria").val() == ""){
                        cheque_prov_sel.empty();
                        cheque_prov_sel.selectpicker("refresh");
                    }
                    else
                    {
                        get_cheques_provisionados();
                    }
                }
            });
            $("#id_check_provision").click(function(){
                var fecha_reg = $("#id_fecha");
                var cheque_prov_sel = $("#id_cheques_provisionados");
                mostrar_datos_cheques_prov();
                if($("#id_check_provision").is(":checked")){
                    fecha_reg.addClass("input_deshabilitado");
                    fecha_reg.attr("disabled", true);
                    fecha_reg.val("");

                    if($("#id_cuenta_bancaria").val() == ""){
                        cheque_prov_sel.empty();
                        cheque_prov_sel.selectpicker("refresh");
                    }
                    else
                    {
                        get_cheques_provisionados();
                    }

                }
                else{
                    fecha_reg.removeClass("input_deshabilitado");
                    fecha_reg.attr("disabled", false);
                    get_fecha_ultimo_tipo_motivo(url_get_fecha_t);
                }
            })
        });
    </script>

{% endblock %}

{% block item-banco %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/banco_icono.png"
{% endblock %}
{% block ruta-principal %}Bancos{% endblock %}
     {% block ruta-actual %}
         {% if tipo == 1 %}
            Agregar Transacción Bancaria
         {% elif tipo == 2 %}
            Copiar Transacción Bancaria
         {% elif tipo == 3 %}
             Anular - Generar Transacción
         {% endif %}
 {% endblock %}

{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" id="formulario" action="{% if tipo == 1 %}{% url "transacciones_bancarias" %}{% elif tipo == 2 %}{% url "copiar_transaccion_bancaria" id %}{% elif tipo == 3 %}{% url "anular_generar_transaccion_bancaria" id %}{% endif %}" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}
        <div class="comprobante-cabecera-left" style="margin: auto; width: 680px;">
            <h2 class="sub-title-comprobante">Datos de la Transacción</h2>
            <div style="margin-top: 20px;">
                <table class="tabla">
                    <tr>
                        <td class="td-label1" style="width: 130px;">
                            <label class="control-label" for="{{ formulario.tipo_movimiento.label }}">
                            {% if formulario.tipo_movimiento.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.tipo_movimiento.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>

                        <td class="td-label1" style="width: 200px; padding-bottom: 5px;">
                            <div style="width: 80%; float: left">
                                {% if formulario.tipo_movimiento.errors %}{{ formulario.tipo_movimiento|add_class:"campo_requerido" }}{% else %}{{ formulario.tipo_movimiento }}{% endif %}
                            </div>
                            <div style="width: 20%; float: right">
                                {{ formulario.check_provision }}
                            </div>
                        </td>
                        <td class="td-label1" style="width: 130px; text-align: right; padding-right: 20px;">
                            <label class="control-label" for="{{ formulario.fecha.label }}">
                            {% if formulario.fecha.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.fecha.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1">
                            {% if formulario.fecha.errors %}
                                {{ formulario.fecha |add_class:"calendario-gris input-calendario campo_requerido" }}
                            {% else %}
                                {{ formulario.fecha |add_class:"calendario-gris input-calendario" }}
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td class="td-label1" style="width: 130px;">
                            <label class="control-label" for="{{ formulario.cuenta_bancaria.label }}">
                            {% if formulario.cuenta_bancaria.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.cuenta_bancaria.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-label1" colspan="3" style="width: 210px;">
                            {% if formulario.cuenta_bancaria.errors %}{{ formulario.cuenta_bancaria|add_class:"campo_requerido" }}{% else %}{{ formulario.cuenta_bancaria }}{% endif %}
                        </td>
                    </tr>
                    <tr id="datos_cheque">
                        <td class="td-label1" style="vertical-align: top; padding-top: 5px; text-align: left; padding-right: 20px;">
                             <label class="control-label" for="{{ formulario.fecha_cheque.label }}">
                            <span class="requerido">*</span>
                            <b>{{ formulario.fecha_cheque.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1"  style="vertical-align: top; padding-top: 5px;">
                            {% if formulario.fecha_cheque.errors %}{{ formulario.fecha_cheque|add_class:"campo_requerido" }}{% else %}{{ formulario.fecha_cheque }}{% endif %}
                        </td>
                        <td class="td-label1 ult-cheque">
                            <label class="control-label" ><b>Último Cheque Girado</b><span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-label1 ult-cheque" style="vertical-align: top; padding-top: 5px; text-align: left; padding-left: 22px;" colspan="2">
                            <span>
                                <b id="secuencia_cheque"></b>
                                <a id="actualizar_secuencia_cheque" title="Actualizar Secuencia del Cheque">
                                    <i id="icon-load" class="fa fa-cog" style="font-size: 18px; cursor: pointer"></i>
                                </a>
                            </span>
                        </td>
                        <td class="td-label1 cheques-prov" style="width: 130px;">
                            <label class="control-label" for="{{ formulario.cheques_provisionados.label }}">
                            {% if formulario.cheques_provisionados.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.cheques_provisionados.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-label1 cheques-prov" style="width: 210px;">
                            {% if formulario.cheques_provisionados.errors %}{{ formulario.cheques_provisionados|add_class:"campo_requerido" }}{% else %}{{ formulario.cheques_provisionados }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label1 paguese" style="vertical-align: top; padding-top: 5px;">
                            <label class="control-label" for="{{ formulario.paguese.label }}">
                            <span class="requerido">*</span>
                            <b id="change_label">{{ formulario.paguese.label }}</b>
                            <b id="change_label2"> Recibí de</b>
                            <b id="change_label3">Págese/Recibí</b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1 paguese" colspan="3" style="vertical-align: top; padding-top: 5px;">
                            {% if formulario.paguese.errors %}{{ formulario.paguese|add_class:"campo_requerido" }}{% else %}{{ formulario.paguese }}{% endif %}
                        </td>

                    </tr>
                    <tr>
                        <td class="td-label1 referencia" style="vertical-align: top; padding-top: 5px;">
                             <label class="control-label" for="{{ formulario.referencia.label }}">
                            {% if formulario.referencia.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.referencia.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1 referencia" colspan="3"  style="vertical-align: top; padding-top: 5px;">
                            {{ formulario.referencia }}
                        </td>

                    </tr>
                    <tr>
                        <td class="td-label1" style="vertical-align: top; padding-top: 5px;">
                                 <label class="control-label" for="{{ formulario.concepto.label }}">
                                {% if formulario.concepto.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.concepto.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" colspan="3"  style="vertical-align: top; padding-top: 5px;">
                                {{ formulario.concepto }}
                            </td>
                    </tr>
               </table>
            </div>
        </div>

        <div class="row row-comprobante-detalle" style="margin-top: 50px;">
            {{ formulario_detalle.management_form }}
            <table class="tabla-comprobante-detalle-externa" style="width: 1033px; margin-left: 0px; position: relative; left: -18px;">
               <tr>
                   <td style="border: none;">
                        <table id="tabla_detalle_trans" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle" style="max-width: 100%; margin: auto;">
                            <thead>
                                <tr>
                                    <th style="background: #F6F6F6; width: 35px;"></th>
                                    <th style="width: 300px;">Cuenta</th>
                                    <th>Concepto</th>
                                    <th style="width: 140px;">Debe</th>
                                    <th style="width: 140px;">Haber</th>
                                    <th style="width: 180px;">Centro de Costo</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for formularios in formulario_detalle %}
                                <tr>
                                      <td style="background: #F6F6F6 !important;"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                            <img class="btn-borrar" src="/static/cm_html/images/eliminar_tr_icono.png">
                                        </a>
                                      </td>
                                    {% for form in formularios %}
                                            <td>{% if form.errors %}{{ form|add_class:"campo_requerido" }}{% else %}{{ form }}{% endif %}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                   </td>

               </tr>

                <tr style="margin: 0px; padding: 0px;">
                   <td style="border: none; margin: 0px; padding: 0px;" colspan="2">
                       <table id="tb-boton-add" style="margin-left: 80px;">
                           <tr>
                               <td  style="border: 0px; width: 196px;">
                                   <a class="tr-agregar" id="add" style="color: #E75300;">
                                       <img src="/static/cm_html/images/agregar_tr_icono.png">
                                        Agregar otra fila
                                   </a>
                               </td>
                               <td  style="width: 156px; text-align: right; padding-right: 20px; color: #696969;">

                               </td>
                               <td style="width: 140px; text-align: right; padding-right: 10px;">Total</td>
                               <td style="width: 142px; text-align: right; padding-right: 10px; background: #E6E6E6;" id="total_debe"></td>
                               <td style="width: 142px; text-align: right; padding-right: 10px; background: #E6E6E6;" id="total_haber"></td>
                               <td style="width: 180px;"></td>
                           </tr>
                       </table>
                   </td>

                </tr>

            </table>

        </div>

         <div class="text-center" style="margin-top: 50px; margin-bottom: 30px;">
            <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
            <input  class="boton boton-silver transaccion" id="grabar_imprimir" name="grabar_imprimir" type="button" value="Grabar e Imprimir" title="Graba la transacción e imprima el comprobante"/>
            <input class="boton boton-silver" id="grabar_agregar" name="grabar_agregar" type="button" value="Grabar y Agregar Otra" title="Graba y agrega una nueva transacción"/>
            <a class="boton boton-gray" href="{% url "lista_transaccion_banco" %}">Cancelar</a>
        </div>
    </form>

    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}




