{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Compras{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 Landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario}}{% endblock %}
{% block reporte_titulo %}Reporte Compras{% endblock %}
{% block tabla_contenido %}

        {% if provedor_ruc != "" and total_registros > 0 and fecha_inicio %}
            <p style="text-align: center; font-weight: bold;">Proveedor: {{ provedor_ruc }} | Fechas:  {{ fecha_inicio|date:"d/m/Y"}} - {{fecha_fin|date:"d/m/Y"}}

            </p>

        {% endif %}
        {% if provedor_ruc == "" and total_registros > 0 and fecha_inicio %}
            <p style="text-align: center; font-weight: bold;">Fechas:  {{ fecha_inicio|date:"d/m/Y"}} - {{fecha_fin|date:"d/m/Y"}}

            </p>

        {% endif %}


        <table class="table table-hover  tabla table-striped" border="1">
            <thead>
                <tr>

                    <th style="text-align: center; padding: 5px; width: 100px;"># Comprobante</th>
                    <th style="text-align: center; padding: 5px; width: 70px;">Fecha</th>
                    <th style="text-align: center;  padding: 5px;">Tipo Doc.</th>
                    <th style="text-align: center;  padding: 5px; width: 100px;"># Documento</th>
                    <th style="text-align: center; padding: 5px; width: 140px;">Proveedor</th>
                    <th style="text-align: center; padding: 5px;">Base 0%</th>
                    <th style="text-align: center; padding: 5px;">B IVA</th>
                    <th style="text-align: center; padding: 5px;">Monto IVA</th>
                    <th style="text-align: center; padding: 5px;">Total</th>
                    <th style="text-align: center; padding: 5px; width: 100px; "># Retención</th>
                    <th style="text-align: center;padding: 5px;">Retención Fte</th>
                    <th style="text-align: center; padding: 5px;">Retención IVA</th>
                    <th style="text-align: center;padding: 5px; width: 60px;">Por Pagar</th>
                    <th style="text-align: center;padding: 5px; width: 60px;">Estado</th>
                </tr>
            </thead>
          <tbody>
                {% for obj in objetos %}
                <tr>
                    <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.num_comp}}</td>
                    <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{obj.fecha_reg|date:"Y-m-d"}}</td>
                    <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.documento.descripcion_documento}}</td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.num_doc}}</td>
                    <td style="text-align: left; padding: 2px 5px; font-size: 9px;">{{obj.proveedor.razon_social|slice:"0:30"}}</td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.base0|floatformat:"2"}}</td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.baseiva|floatformat:"2"}}</td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.monto_iva|floatformat:"2"}}</td>
                    {# Crea las lista para el Snnipet SumaResta #}
                    {% make_list obj.base0 obj.baseiva obj.monto_iva as sum_list %}
                    {% make_list 0 as rest_list %}
                    {# Recibe dos listas, la cual la primera es para los valores que se van a summar y la segunda #}
                    {# los que se van a restar #}
                    <td style="text-align: center;padding: 2px 5px;  font-size: 9px;">{% SumaResta sum_list rest_list %}</td>
                    {% if obj.getRetencion %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.getRetencion.vigencia_doc_empresa.serie }}-{{ obj.getRetencion.numero_ret }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.getRetencion.totalretfte|floatformat:"2" }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.getRetencion.totalretiva|floatformat:"2" }}</td>
                            {% make_list obj.getRetencion.totalretfte obj.getRetencion.totalretiva as rest_list %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% SumaResta sum_list rest_list %}</td>
                        {% else %}
                            <td></td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% SumaResta sum_list rest_list %}</td>
                        {% endif %}
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% if obj.status == 1 %}Activa{% else %}Anulada{% endif %}</td>
                {% endfor%}
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;">Total de Compras activas: </td>
                    <td style="padding: 2px 5px; text-align: right;">{{ base0 }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ baseiva }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ monto }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ total }}</td>
                    <td></td>
                    <td style="padding: 2px 5px; text-align: right;">{{ ret_fte }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ ret_iva }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ pagar }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

{% endblock %}