{% extends "base.html" %}
{% block title %}Clientes{% endblock %}
{% load widget_tweaks %}
{% load permisostag %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        #busqueda{
            margin-left: 275px;
        }
        #boton{
            margin-top: -48px;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_cliente/lista_clientes.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".selectpicker").selectpicker();
            $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
            });
        });
    </script>
{% endblock %}

 {% block item-venta %}item-activo-menu{% endblock %}
 {% block ruta-icono %}
    {{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}

{% block ruta-principal %}Ventas{% endblock %}

 {% block ruta-actual %}Buscar Clientes{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
    <div class="container-buscador container-buscador-hide">
         <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
         </div>
        <form action="" class="form-group" id="formulario" method="GET">
                <div class="row row-comprobante-cabecera" style="width: auto;">
                    <div class="col-lg-12 contenedor">
                        <div class="comprobante-cabecera-left" style="margin: auto;">
                            <table class="tabla-comprobante-cabecera" style="color: #9A9A9A;">
                                <tr>
                                    <td>
                                        <label><b>Tipo Identificación</b></label>
                                    </td>
                                    <td colspan="3">
                                       {{ buscador.tipo_identificacion|add_class:"combo txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 140px;">
                                        <label><b># Identificación</b></label>
                                    </td>
                                    <td>
                                       {{ buscador.num_id|add_class:" txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b>Razon Social</b></label>
                                    </td>
                                    <td colspan="3">
                                        {{ buscador.razon_social|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b>Nombre</b></label>
                                    </td>
                                    <td colspan="3">
                                        {{ buscador.nombre_comercial|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                            </table>

                            <div style="display: none;">
                                {{ buscador.page }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                    <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                    <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
                </div>
         </form>
   </div>

   {% if_tiene_permiso request "registrar_cliente" %}
       <div class="div div-agregar">
            <a class="boton boton-ok" href="{% url "registrar_cliente" %}">Agregar </a>
       </div>
   {% endif_tiene_permiso %}

   <div class="botones-administracion">
   {% if objetos %}
        {% if_tiene_permiso request "detalle_cliente" %}
            <a id="ver" class="boton boton-administrador" href="#">Ver</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "modificar_cliente" %}
            <a id="editar" class="boton boton-administrador" href="#">Editar</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "cambiar_estado_cliente" %}
            <a style="display: none;" id = "estado" class="boton boton-administrador" href="#">Cambiar Estado</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "eliminar_cliente" %}
            <a id="eliminar" class="boton boton-administrador" href="#">Eliminar</a>
        {% endif_tiene_permiso %}
    {% endif %}

        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
   </div>

{% if objetos %}
   <div class="table-responsive">
         <table id="lista" class="table tabla table-striped tabla-formato">
              <thead>
                    <tr>
                        <th></th>
                        <th style="width: 130px; text-align: center;">N° Identificación</th>
                        <th style="width: 255px;">Razón Social</th>
                        <th style="width: 210px;">Nombre</th>
                        <th>Dirección</th>
                        {% if_emite_docs_electronicos %}
                            <th style="width: 220px">Email</th>
                        {% endif_emite_docs_electronicos %}
                        <th style="display: none;">Estado</th>
                    </tr>
              </thead>

              <tbody>
                    {% for obj in objetos %}
                    <tr>
                        <td  style="width: 51px; text-align: center;">
                            <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                            data-eliminar = "{% url "eliminar_cliente" obj.id %}"
                            data-ver = "{% url "detalle_cliente" obj.id numero %}"
                            data-editar ="{% url "modificar_cliente" obj.id numero %}"
                            data-estado = "{% url "cambiar_estado_cliente" obj.id %}"/>
                        </td>
                        <td>{{obj.ruc}}</td>
                        <td title="{{obj.razon_social}}" class="nombre">{{obj.razon_social|slice:"0:25" }}{% if obj.razon_social|length > 25 %}...{% endif %}</td>

                        {% if obj.nombre %}
                            <td title="{{obj.nombre}}">{{obj.nombre|slice:"0:25"}}{% if obj.nombre|length > 25 %}...{% endif %}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        <td title="{{ obj.getDirecciones }}">{{ obj.getDirecciones|slice:"0:45" }}{% if obj.getDirecciones|length > 45 %}...{% endif %} </td>

                        {% if_emite_docs_electronicos %}

                            {% if obj.email %}
                                <td>{{ obj.email|slice:"0:25"|default_if_none:"" }}{% if obj.email|length > 25 %}...{% endif %}</td>
                            {% else %}
                            <td></td>
                            {% endif %}

                        {% endif_emite_docs_electronicos %}

                        <td style="display:none; text-align: center;" class="td_enlace_crud">
                             {% if obj.status == 1 %}
                                <label class="enlace_crud estado" data-pro_estado="Inactivar" id="{{obj.id}}"  name="{{obj.nombre}}">Activo</label>
                             {% else %}
                                <label class="enlace_crud estado" data-pro_estado="Activar" id="{{obj.id}}"  name="{{obj.nombre}}">Inactivado</label>
                             {% endif %}
                        </td>
                    {% endfor%}
                    </tr>
              </tbody>
         </table>
   {% endif %}
        {% paginacion_html objetos arreglo_paginado muestra_paginacion %}
     </div>
    {% if not objetos %}
        <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}


    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}