{% extends "base.html" %}
{% load widget_tweaks %}
{% load formulario_base %}
{% block title %}
    {% if tipo == 1 %}
    Agregar Cliente
    {% elif tipo == 2 %}
    Editar Cliente
    {% else %}
        Detalles del Cliente
    {% endif %}
{% endblock %}
{% block stylesheet %}
    <noscript>
        <META HTTP-EQUIV="Refresh" CONTENT="1;URL=http://www.google.es/">
    </noscript>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/compras.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .panel-group .panel{
        overflow: inherit !important;
    }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
    <script src="{{ STATIC_URL }}js/validar_rucs.js"></script>
    <script src="{{ STATIC_URL }}js/js_cliente/cliente.js"></script>

    <script type="text/javascript">
        function TipoClienteHide(){
            var tipo_cliente = $("#id_tipo_cliente").parent().get(0);
            var tipo_ident = $("#id_tipo_identificacion").val();

            if (tipo_ident != "P"){
                $("label[for='Tipo Cliente']").attr("style", "display: none");
                $(tipo_cliente).css("display","none");
                $("#id_ruc").keydown(function(event) {
                        if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                            (event.keyCode == 65 && event.ctrlKey === true) ||
                            (event.keyCode >= 35 && event.keyCode <= 39)) {
                                 return;
                        }
                        else
                        {
                            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                                event.preventDefault();
                            }
                        }
                });

            }else{
                    $("label[for='Tipo Cliente']").attr("style", "display: show");
                    $(tipo_cliente).css("display","block");

                    $("#id_ruc").removeClass("campo_requerido");

                    $("#id_ruc").off("keydown");

                    $("#id_ruc").keydown(function(event){
                        return;
                    });

                    $("#id_ruc").removeAttr('keydown');
            }
        }
        $(document).ready(function(e){
            TipoClienteHide();
            $("#id_telefono").mask("(99) 9999-9999");
            $('.selectpicker').selectpicker();
            $("#id_tipo_identificacion").change(function(){
                TipoClienteHide();
            });
                FormaPago();
            $("#id_forma_pago").change(function(){
                FormaPago();
            });
            $("#id_monto_credito").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,110,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
            $("#id_plazo").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });

            // Inhabilita el boton de submit evitando que se haga más de una petición
            $("input[type='submit']").click(function(){
                $(this).attr("disabled", false);
                $("form").submit(function(){
                  $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
                  return true;
                });
            });
        });
    </script>

 {% endblock %}
{% block item-venta %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
 {% block ruta-principal %}Ventas{% endblock %}
 {% block ruta-actual %}
     {% if  tipo == 1 %}
     Agregar Cliente
     {% elif tipo == 2 %}
     Editar Cliente
     {% else %}
     Detalles del Cliente
     {% endif %}

 {% endblock %}

{% block container-contenido-700 %}container-contenido-700{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% if tipo == 1 %}
                                    {% url "registrar_cliente" %}
                                {% elif tipo == 2 %}
                                    {% url "modificar_cliente" id numero %}
                                {% else %}
                                    {% url "detalle_cliente" id numero %}
                                {% endif %}" enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}

            <div class="row row-persona-cabecera" style="margin: auto;">
                <div class="col-lg-12 col-persona">
                    <h3  class="sub-title-comprobante">
                          * DATOS BÁSICOS
                    </h3>
                        <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                        <tr>
                            <td style="width: 150px;">
                               <label class="control-label" for="{{ formulario.tipo_identificacion.label }}">
                                {% if formulario.tipo_identificacion.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.tipo_identificacion.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.tipo_identificacion.errors %}{{ formulario_cabecera.tipo_identificacion|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.tipo_identificacion|add_class:"combo  txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.Num_Identificacion.label }}">
                                {% if formulario.Num_Identificacion.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.Num_Identificacion.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td style="width: 150px;">
                                {% if formulario.Num_Identificacion.errors %}{{ formulario.Num_Identificacion|add_class:"campo_requerido" }}{% else %}{{ formulario.Num_Identificacion}}{% endif %}
                            </td>

                            <td style="width: 150px; text-align: right; padding-right: 20px;">
                                <label class="control-label" for="{{ formulario.tipo_cliente.label }}">
                                {% if formulario.tipo_cliente.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.tipo_cliente.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" style="padding-top: 3px;">
                                {% if formulario.tipo_cliente.errors %}{{ formulario.tipo_cliente|add_class:"combo campo_requerido" }}{% else %}{{ formulario.tipo_cliente|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.razon_social.label }}">
                                {% if formulario.razon_social.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.razon_social.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.razon_social.errors %}{{ formulario.razon_social|add_class:"campo_requerido txt-auto" }}{% else %}{{ formulario.razon_social|add_class:"txt-auto" }}{% endif %}
                            </td>
                        </tr>

                        <tr style="margin-top: 4px;">
                            <td>
                                <label class="control-label" for="{{ formulario.nombre.label }}">
                                {% if formulario.nombre.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.nombre.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.nombre.errors %}{{ formulario.nombre|add_class:"campo_requerido txt-auto" }}{% else %}{{ formulario.nombre|add_class:"txt-auto" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.actividad.label }}">
                                {% if formulario.actividad.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.actividad.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.actividad.errors %}{{ formulario.actividad|add_class:"combo campo_requerido" }}{% else %}{{ formulario.actividad|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <label>
                                    {% if formulario.email.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.email.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.email.errors %}{{ formulario.email|add_class:"campo_requerido txt-auto" }}{% else %}{{ formulario.email|add_class:"txt-auto" }}{% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


    <div class="panel-group accordion-cm" id="accordion" style="margin: auto;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a id="change_class" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
             * UBICACIÓN
            </a>
          </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">

                <table id="direcciones">
                    {{ formulario_direcciones.management_form }}
                    <tbody>
                        {% for formulario_direccion in formulario_direcciones %}
                            <tr>
                                <td>
                                    <table class="tabla-persona-cabecera">
                                        <tr>
                                            <td>
                                            {% if tipo != 3 %}
                                               <a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                             <img src="/static/cm_html/images/eliminar_tr_icono.png">
                                               </a>
                                            {% endif %}
                                           </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100px;">
                                                <label class="control-label" for="{{ formulario_direccion.descripcion.label }}">
                                                {% if formulario_direccion.descripcion.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ formulario_direccion.descripcion.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td colspan="3">
                                                {% if formulario_direccion.descripcion.errors %}{{ formulario_direccion.descripcion|add_class:"campo_requerido txt-100pc" }}{% else %}{{ formulario_direccion.descripcion|add_class:"txt-100pc" }}{% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width: 100px;">
                                                <label class="control-label" for="{{ formulario_direccion.direccion1.label }}">
                                                {% if formulario_direccion.direccion1.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ formulario_direccion.direccion1.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td colspan="3">
                                                {% if formulario_direccion.direccion1.errors %}{{ formulario_direccion.direccion1|add_class:"campo_requerido txt-auto" }}{% else %}{{ formulario_direccion.direccion1|add_class:"txt-auto" }}{% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width: 100px;">
                                                <label class="control-label" for="{{ formulario_direccion.direccion2.label }}">
                                                {% if formulario_direccion.direccion2.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ formulario_direccion.direccion2.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td colspan="3">
                                                {% if formulario_direccion.direccion2.errors %}{{ formulario_direccion.direccion2|add_class:"campo_requerido txt-auto" }}{% else %}{{ formulario_direccion.direccion2|add_class:"txt-auto" }}{% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width: 100px;">
                                                <label class="control-label" for="{{ formulario_direccion.atencion.label }}">
                                                {% if formulario_direccion.atencion.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ formulario_direccion.atencion.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td colspan="3">
                                                {% if formulario_direccion.atencion.errors %}{{ formulario_direccion.atencion|add_class:"campo_requerido txt-auto" }}{% else %}{{ formulario_direccion.atencion|add_class:"txt-auto" }}{% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="control-label" for="{{ formulario_direccion.ciudad_direccion.label }}">
                                                {% if formulario_direccion.ciudad_direccion.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ formulario_direccion.ciudad_direccion.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td style="width: 270px;">
                                                {% if formulario_direccion.ciudad_direccion.errors %}{{ formulario_direccion.ciudad_direccion|add_class:"campo_requerido" }}{% else %}{{ formulario_direccion.ciudad_direccion }}{% endif %}
                                            </td>

                                            <td style="padding-left: 20px;" >
                                                <label class="control-label" for="{{ formulario_direccion.telefono.label }}">
                                                {% if formulario_direccion.telefono.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ formulario_direccion.telefono.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td style="width: 150px;">
                                                {% if formulario_direccion.telefono.errors %}{{ formulario_direccion.telefono|add_class:"campo_requerido txt-100pc " }}{% else %}{{ formulario_direccion.telefono|add_class:"txt-100pc " }}{% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if tipo != 3 %}
                    <a class="tr-agregar" id="add_direccion" style="color: #E75300;">
                            <img src="/static/cm_html/images/agregar_tr_icono.png">
                                Agregar otra dirección
                    </a>
                {% endif %}
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
               INFORMACIÓN COMERCIAL
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="tabla-persona-cabecera">
                <tr>
                    <td style="width: 150px;">
                        <label class="control-label" for="{{ formulario.grupo.label }}">
                        {% if formulario.grupo.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.grupo.label }}  </b>
                        <span class="dospuntos">:</span></label>
                    </td>
                    <td colspan="3">
                        {% if formulario.grupo.errors %}{{ formulario.grupo|add_class:"combo campo_requerido" }}{% else %}{{ formulario.grupo|add_class:"combo" }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                         <label class="control-label" for="{{ formulario.margen_utilidad.label }}">
                        {% if formulario.margen_utilidad.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.margen_utilidad.label }}  </b>
                        <span class="dospuntos">:</span></label>
                    </td>
                    <td style="width: 160px;">
                        {% if formulario.margen_utilidad.errors %}{{ formulario.margen_utilidad|add_class:"campo_requerido txt-150" }}{% else %}{{ formulario.margen_utilidad|add_class:"txt-150" }}{% endif %}
                        <span>%</span>
                    </td>

                    <td style="padding-left: 20px;">
                        <label class="control-label" for="{{ formulario.forma_pago.label }}">
                        {% if formulario.forma_pago.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.forma_pago.label }}  </b>
                        <span class="dospuntos">:</span></label>
                    </td>
                    <td style="width: 140px;">
                        {% if formulario.forma_pago.errors %}{{ formulario.forma_pago|add_class:"campo_requerido txt-150" }}{% else %}{{ formulario.forma_pago|add_class:"txt-150" }}{% endif %}
                    </td>
                </tr>

                <tr>
                    <td>
                         <label class="control-label" for="{{ formulario.plazo.label }}">
                        {% if formulario.plazo.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.plazo.label }}  </b>
                        <span class="dospuntos">:</span></label>
                    </td>
                    <td>
                        {% if formulario.plazo.errors %}{{ formulario.plazo|add_class:"campo_requerido" }}{% else %}{{ formulario.plazo }}{% endif %}
                    </td>
                    <td  style="text-align: right;padding-right: 8px;">
                         <label class="control-label" for="{{ formulario.monto_credito.label }}">
                        {% if formulario.monto_credito.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.monto_credito.label }}  </b>
                        <span class="dospuntos">:</span></label>
                    </td>
                    <td>
                         {% if formulario.monto_credito.errors %}{{ formulario.monto_credito|add_class:"campo_requerido" }}{% else %}{{ formulario.monto_credito }}{% endif %}
                    </td>
                </tr>

            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                 CONTACTO
                </a>
              </h4>
            </div>

            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">

                   <table id="contactos">
                        {{ formulario_contactos.management_form }}
                       <tbody>
                            {% for form in formulario_contactos %}
                            <tr>
                                <td>
                                    <table class="tabla-persona-cabecera">
                                        <tr>
                                            <td>
                                               {% if tipo != 3 %}
                                                   <a class="boton-eliminar-tr eliminar_contacto" title="Eliminar">
                                                                 <img src="/static/cm_html/images/eliminar_tr_icono.png">
                                                   </a>
                                               {% endif%}
                                           </td>
                                        </tr>

                                        <tr>
                                            <td style="width: 130px;">
                                                <label class="control-label" for="{{ form.apellidos.label }}">
                                                {% if form.apellidos.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ form.apellidos.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td style="width: 185;">
                                                {% if form.apellidos.errors %}{{ form.apellidos|add_class:"campo_requerido  txt-100pc" }}{% else %}{{ form.apellidos|add_class:"txt-100pc" }}{% endif %}
                                            </td>

                                            <td style="width: 120px; padding-left: 20px;">
                                                <label class="control-label" for="{{ form.nombres.label }}">
                                                {% if form.nombres.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ form.nombres.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td>
                                                {% if form.nombres.errors %}{{ form.nombres|add_class:"campo_requerido txt-100pc" }}{% else %}{{ form.nombres|add_class:"txt-100pc" }}{% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label" for="{{ form.email.label }}">
                                                {% if form.email.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ form.email.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td colspan="3">
                                                {% if form.email.errors %}{{ form.email|add_class:"campo_requerido txt-100pc" }}{% else %}{{ form.email|add_class:"txt-100pc" }}{% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label" for="{{ form.telefono_contacto.label }}">
                                                {% if form.telefono_contacto.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ form.telefono_contacto.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td>
                                                {% if form.telefono_contacto.errors %}{{ form.telefono_contacto|add_class:"campo_requerido txt-100pc" }}{% else %}{{ form.telefono_contacto|add_class:"txt-100pc" }}{% endif %}
                                            </td>

                                            <td style="width: 120px; padding-left: 20px;">
                                                <label class="control-label" for="{{ form.movil.label }}">
                                                {% if form.movil.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ form.movil.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td>
                                                {% if form.movil.errors %}{{ form.movil|add_class:"campo_requerido txt-100pc" }}{% else %}{{ form.movil|add_class:"txt-100pc" }}{% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label" for="{{ form.departamento.label }}">
                                                {% if form.departamento.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido"></span>
                                                {% endif %}
                                                <b>{{ form.departamento.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td colspan="3">
                                                {% if form.departamento.errors %}{{ form.departamento|add_class:"combo campo_requerido" }}{% else %}{{ form.departamento|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                   </table>
                    {% if tipo != 3 %}
                        <a class="tr-agregar" id="add_contacto" style="color: #E75300;">
                            <img src="/static/cm_html/images/agregar_tr_icono.png">
                                Agregar otro contacto
                        </a>
                    {% endif %}

                </div>
            </div>
      </div>



    </div>

        <div class="text-center" style="margin-top: 60px;">
            {% if tipo != 3 %}
                <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
            {% else %}

            {% endif %}

            {% if tipo == 3 %}
                <a class="boton boton-gray" href="{% url "clientes" %}">Regresar</a>
            {% else %}
               <a class="boton boton-gray" href="{% url "clientes" %}" title="Cancelar">Cancelar</a>
            {% endif %}

        </div>
    </form>


<div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-title">
                <table>
                    <tr>
                       <td style="vertical-align: top; width: 48px;">
                            <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                        </td>
                        <td style="vertical-align: top;">
                            <span id="tit-alert" class="alert-title">Alerta</span>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-body modal-item" id="body-alert">
                <!-- AQUI VA EL MENSAJE -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary  yes" id="ok-alert" data-dismiss="modal">Aceptar</button>
                <button type="button" class="boton cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}