{% extends "base.html" %}
{% block title %}Reporte Saldos de Cuentas{% endblock %}
{% load formulario_base %}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_reportes %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{
        margin-bottom: 0px;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_contabilidad/balance_comprobacion.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script>
        jQuery(document).ready(function($) {
             $(".numerico").keydown(function(event){
                Numerico(event, this)
            });
            var formulario = $('#formulario');
            $('#limpiar').click(function(){
               limpiar_form(formulario);
                /*esto evita que el formulario se caiga por ser nulo*/
                $('.div-descargas').remove();
                $('.tabla-formato').remove();


            });
            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function()
                {
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });
            $("#limpiar").click(function(){
                limpiar_form();
                show_hide_prov($("#id_sel_all"));
            });
            show_hide_prov($("#id_sel_all"));
            saldo_cuenta();
            $(".eliminar").click(function(e){
                EliminarFila(e, this, "#cuenta");
            });
            $("#id_sel_all").click(function(){
                show_hide_prov(this);
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });
            $(".selectpicker").selectpicker();

            $('#id_anio').mask('9999');
            $("#id_anio").datepicker({format: " yyyy", viewMode: "years", minViewMode: "years" });

        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Contabilidad General / Saldos de Cuentas{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url "reporte_saldos_cuentas" %}" data-action="{% url "reporte_saldos_cuentas" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td>
                                <label>*Mes</label>
                            </td>
                            <td>
                                {{ buscador.mes|add_class:"combo" }}
                            </td>
                            <td style="width: 80px; text-align: right; padding-right: 20px;">
                                <label>*Año</label>
                            </td>
                            <td style="width: 100px;">
                                {{ buscador.anio }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Reporte Acumulado</label>
                            </td>
                            <td colspan="3">{{ buscador.acumulado|add_class:"check" }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>
    {% if saldos %}
        <div class="div div-descargas">
            <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_saldos_cuentas_excel" %}"></a>
            <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_saldos_cuentas_pdf" %}" ></a>
            </div>
            <div class="table-responsive">
            <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th>Código de Cuenta</th>
                        <th>Descripción de Cuenta</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in saldos %}
                    <tr>
                        <td style="text-align: left;">{{ obj.codigo }}</td>
                        <td style="text-align: left;">{{ obj.descripcion }}</td>
                        <td style="text-align: right;">{{ obj.total|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p style="text-align: center; padding: 30px 0px;">{{ mensaje }}</p>
    {% endif %}
    <div class="div div-agregar">
            <a class="boton boton-gray " href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

{% endblock %}