{% if muestra_paginacion %}
    <div class="paginacion">
        <ul  class="pager">
            {% if objetos.has_previous %}
              <span class="page">
              <a data-page="">&lt;< </a>
              </span>
            {% else %}
                <b><<</b>
            {% endif %}

            {% if objetos.has_previous %}
              <span class="page">
                    <a data-page="{{ objetos.previous_page_number }}" class="evento_page" > < </a>
              </span>
            {% else %}
                <b><</b>
            {% endif %}

            {% for numero in arreglo_paginado %}
                {% ifequal numero objetos.number %}
                 <span class="current"> <b>{{ numero }}</b></span>

                {% else %}
                    <a  data-page="{{ numero }}"  class="evento_page"> {{ numero }} </a>
                {% endifequal %}
            {% endfor %}

            {% if objetos.has_next %}
              <span class="page">
                <a data-page="{{ objetos.next_page_number }}" class="evento_page"> >  </a>
              </span>

            {% else %}
                 <b>></b>
            {% endif %}

            {% if objetos.has_next %}
              <span class="page">
              <a data-page="{{ total_paginas }}" class="evento_page">&gt;> </a>
              </span>
            {% else %}
                <b>>></b>
            {% endif %}
        </ul>
    </div>
{% endif %}