{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte 104{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Guía de Remisión{% endblock %}
{% block tabla_contenido %}



            <table id="table-info-basica">
                <tr>
                    <td style="width:140px;"  class="td-label1">
                            <label>Fecha Emisión:</label>
                    </td>
                    <td class="td-info1">
                        <label>{{ cabecera_guia_rem.fecha_emi|date:"d-m-Y" }}</label>
                    </td>

                    <td style="width:150px;" class="td-label1">
                            <label>Ciudad:</label>
                    </td>
                    <td class="td-info1">
                        <label>{{ cabecera_guia_rem.ciudad.descripcion }}</label>
                    </td>
                </tr>

                <tr>
                    <td class="td-label1">
                        Documento:
                    </td>
                    <td class="td-info1">
                        Nº: {{ cabecera_guia_rem.num_doc }}
                    </td>

                    <td class="td-label1">
                            <label>Fecha Traslado:</label>
                        </td>
                    <td class="td-info1">
                        <label>
                             {{ cabecera_guia_rem.fecha_inicio|date:"d-m-Y" }}
                        </label>
                    </td>

                </tr>

                <tr>
                    <td class="td-label1">
                        Cliente:
                    </td>
                    <td class="td-info1">
                        {{ cabecera_guia_rem.cliente.razon_social}}
                    </td>

                    <td class="td-label1">
                            <label>Fecha Entrega:</label>
                        </td>
                    <td class="td-info1">
                        <label>
                             {{ cabecera_guia_rem.fecha_final|date:"d-m-Y" }}
                        </label>
                    </td>
                </tr>

                <tr>
                     <td class="td-label1">
                            Dirección:
                        </td>
                        <td class="td-info1">
                            {{ cabecera_guia_rem.cliente.getDirecciones }}
                        </td>

                     <td class="td-label1">
                            <label>Conductor:</label>
                     </td>
                     <td class="td-info1">
                        <label>
                             {{ cabecera_guia_rem.nombre_conductor }}
                        </label>
                     </td>
                </tr>

                <tr>
                    <td class="td-label1">
                        Estado:

                    </td>
                    <td class="td-info1">
                        {% if cabecera_guia_rem.status == 2 %}Anulada{% else %}Activa{% endif %}
                    </td>

                    <td class="td-label1">
                            <label>N° de Identificación:</label>
                        </td>
                        <td class="td-info1">
                            <label>
                                 {{ cabecera_guia_rem.identificacion_conductor }}
                            </label>
                    </td>

                </tr>

                <tr>
                    <td class="td-label1">

                    </td>
                    <td class="td-info1">

                    </td>

                    <td class="td-label1">
                        <label>Dirección Compañía:</label>
                    </td>
                    {% if  cabecera_guia_rem.direccion_conductor %}
                        <td class="td-info1">
                            <label>
                                 {{ cabecera_guia_rem.direccion_conductor }}
                            </label>
                        </td>

                    {% else %}
                         <td class="td-info1">
                            <label>
                            </label>
                         </td>

                    {% endif %}
                </tr>

            </table>
            <div style="clear: both"></div>

        <div class="div-centrar div-tabla">
            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px;">Detalle de la Venta</p>
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none">
                <thead style="">
                    <tr>
                        <th style="border: none;border-bottom: 1px solid #A2A3A5;">Item</th>
                        <th style="width: 120px;border: none; border-bottom: 1px solid #A2A3A5;">Cantidad</th>
                    </tr>
                </thead>
                <tbody style="">
                    {% for obj_det in detalle_guia_rem %}
                        <tr>
                            <td style="border: none;">{{ obj_det.item.codigo }} - {{ obj_det.item.nombre }}</td>
                            <td style="border: none;" class="td-derecha">{{ obj_det.cantidad}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="div-centrar div-tabla">
            <p style="font-size: 11px; font-weight: bold;">Descripción: <span class="desc-info"  style="font-size: 11px; font-weight: normal;">{{ cabecera_guia_rem.concepto}}</span></p>

            <div class="div-centrar div-tabla">
                   <div id="div-firmas">
                        <table id="table-firmas" style="margin-top: 10px; text-align: center">
                             <tr>
                                <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                                   <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                                </td>
                                <td style="border: none; width: 30px;">
                                </td>
                                <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                                   <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                                </td>
                                <td style="border: none; width: 30px; ">
                                </td>
                                <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                                   <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Revisado por:</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="clear: both"></div>
                </div>
            <div style="clear: both"></div>
        </div>
{% endblock %}