{% extends "base.html" %}
{% block title %}Detalle Guía Remisión{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
{% endblock %}
{% block container-navigation-700 %}container-navigation-media{% endblock %}
{% block item-inventario %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"
{% endblock %}
{% block ruta-principal %}Inventarios{% endblock %}
{% block ruta-actual %}Ver - Guia Remisión{% endblock %}
{% block container-contenido-700 %}container-contenido-media{% endblock %}
{% block content %}
      <div class="row row-cabecera">
            <div class="cabecera-left"  style="height: 210px;">
                <table>
                    <tr>
                        <td style="width:140px;">
                            <label>Fecha Emisión:</label>
                        </td>
                        <td class="td-dato">
                            <label>{{ cabecera_guia.fecha_emi|date:"d-m-Y" }}</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Documento: </label>
                        </td>
                        <td class="td-dato">
                            <label> Nº: {{  cabecera_guia.num_doc }}</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label> Cliente: </label>
                        </td>
                        <td class="td-dato">
                            <label>{{ cabecera_guia.cliente.razon_social }}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Dirección: </label>
                        </td>
                        <td class="td-dato">
                            <label>{{ cabecera_guia.cliente.getDirecciones }}</label>
                        </td>
                    </tr>
                    {% if cabecera_guia.tipo_mov_guia_rem %}
                        <tr>
                            <td>
                                <label> Tipo Mov. :</label>
                            </td>
                            <td class="td-dato">
                                <label>{{ cabecera_guia.tipo_mov_guia_rem.descripcion }}</label>
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td>
                            <label>Estado: </label>
                        </td>
                        <td class="td-dato">
                            <label>{% if cabecera_guia.status == 2 %}Anulada{% else %}Activa{% endif %}</label>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="cabecera-right" style="height: 210px;">
                <table>
                    <tr>
                        <td style="width:150px;">
                            <label>Ciudad:</label>
                        </td>
                        <td class="td-dato">
                            <label>{{ cabecera_guia.ciudad.descripcion }}</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:150px;">
                            <label>Fecha Traslado:</label>
                        </td>
                        <td class="td-dato">
                            <label>
                                 {{ cabecera_guia.fecha_inicio|date:"d-m-Y" }}
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:150px;">
                            <label>Fecha Entrega:</label>
                        </td>
                        <td class="td-dato">
                            <label>
                                 {{ cabecera_guia.fecha_final|date:"d-m-Y" }}
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:150px;">
                            <label>Conductor:</label>
                        </td>
                        <td class="td-dato">
                            <label>
                                 {{ cabecera_guia.nombre_conductor }}
                            </label>
                        </td>
                    </tr>
                     <tr>
                        <td style="width:150px;">
                            <label>N° de Identificación:</label>
                        </td>
                        <td class="td-dato">
                            <label>
                                 {{ cabecera_guia.identificacion_conductor }}
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:150px;">
                            <label>Dirección Compañía:</label>
                        </td>
                        {% if  cabecera_guia.direccion_conductor %}
                            <td class="td-dato">
                                <label>
                                     {{ cabecera_guia.direccion_conductor }}
                                </label>
                            </td>

                        {% else %}
                             <td class="td-dato">
                                <label>
                                </label>
                             </td>

                        {% endif %}
                    </tr>

                </table>
            </div>
      </div>

        <h3 class="sustitulo-comprobante">DETALLE</h3>

        <table class="table tabla tabla-guia-remision-detalle" cellpadding="0" cellspacing="0">
            <tr>
                <th>Item</th>
                <th>Cantidad</th>
            </tr>
            {% for obj_det in detalle_guia %}
                <tr>
                    <td>{{ obj_det.item.codigo }} - {{ obj_det.item.nombre }} </td>
                    <td>  {{ obj_det.cantidad  }}</td>
                </tr>
            {% endfor %}
        </table>

    <div class="div-centrar div-tabla">
        <p class="desc-label">Descripción: <span class="desc-info"> {{ cabecera_guia.concepto }}</span></p>
        <div class="text-center div-botones-alto" style="margin-top: 30px;">
            <a class="boton boton-ok" href="{% url "detalle_guia_remision_pdf" cabecera_guia.id %}" target="_blank">Generar PDF</a>
            <a class="boton boton-gray" href="{% if param == "1" %}{% url "lista_guias_remision" cabecera_guia.venta_cabecera.id %}{% else %}{% url "listado_todas_guias_remision" %}{% endif %}">Regresar</a>
        </div>
    </div>

    </div>
{% endblock %}