{% extends "base.html" %}
{% block title %}Guía Remisión Venta{% endblock %}
{% load formulario_base %}
{% load permisostag %}
{% load formulario_guia_remision %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/compras.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
    .numerico{
        text-align: right;
    }
    .numerico2{
        text-align: right;
    }

    .popover {
        background-color: #F2DEDE;
    }
    .popover fade right in{

        top: 698.5px;
        left: 379.875px;
        display: block;
        background-color: #F2DEDE;
    }
    .popover.bottom .arrow:after{
        border-bottom-color: #F2DEDE;
    }
    .popover-title{
        padding: 5px;
        margin-bottom: -8px;
        color:#B94A48;
        background-color: #F2DEDE;
    }
    .popover-content{
        padding-top: 1px;
        background-color: #F2DEDE;
        border-color: #F2DEDE;
    }

    #contenedor_detalle_comp{
        margin-top: 35px;
        margin-bottom: 35px;
    }

    #contenedor_detalle_comp div[class^="col-"] > div[class^="col-"]{
        padding: 2px;
    }
    .form-group > input{
        padding: 0px;
    }

    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }

    /*Diseño Nuevo*/

    #id_plazo {
        top: 0px;
    }
    .td-label1{
        width: 100px;
    }

    .td-label2{
        width: 100px;
    }

    .item {
        border-left: 1px solid #E5E5E5 !important;
    }

    .tabla-comprobante-detalle tbody tr td:last-child{
        border: 0px !important;
    }



    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        function getIdCliente(){
            return "{{ id_cliente }}";
        }

        function getCantidadBodega(){
            return "{% url "get_cantidades_bodega" %}";
        }

        var url_valida_guia_remision = "{% url "valida_documentos_guia_remision_vigentes" %}";
    </script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script type="text/javascript">
        $(function(){
            var dia = "{{ fecha_actual }}";
            var fecha_comp = dia.replace(",","-");

            $("#id_fecha_reg").val(fecha_comp);
            $("#id_fecha_reg").html(fecha_comp);


            $("#id_fecha_inicio").val(fecha_comp);
            $("#id_fecha_inicio").html(fecha_comp);

        });
    </script>
    <script src="{{ STATIC_URL }}js/js_ventas/guia_remision_venta.js"></script>


{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
{% endblock %}
{% block ruta-principal %}VENTAS{% endblock %}
{% block ruta-actual %}Agregar Guía Remisión - Venta{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>


         {% endfor %}
    {% endif %}
    <form method="POST" action="{% url "agregar_guia_rem_venta" id %}" enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="comprobante-cabecera-left" style="width: 550px; margin: auto; padding-right: 20px;">
                <h3  class="sub-title-comprobante">GUÍA DE REMISIÓN</h3>
                    <table class="tabla-retencion-detalle">
                        <tr>
                           <td class="td-label" style="width: 130px;">
                                <label class="control-label" for="{{ formulario_guia_venta.fecha_reg.label }}">
                                {% if formulario_guia_venta.fecha_reg.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_guia_venta.fecha_reg.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control" style="padding-bottom: 3px;">
                                {% if formulario_guia_venta.fecha_reg.errors %}{{ formulario_guia_venta.fecha_reg|add_class:"input-calendario txt-100pc campo_requerido" }}{% else %}{{ formulario_guia_venta.fecha_reg|add_class:"txt-100pc input-calendario" }}{% endif %}
                            </td>
                        </tr>

                        <tr style="margin-top: 15px;">
                            <td class="td-label1" style="width: 130px;">
                                <label class="control-label" for="{{ formulario_guia_venta.num_doc.label }}">
                                {% if formulario_guia_venta.num_doc.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_guia_venta.num_doc.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" style="padding-bottom: 3px;">

                            {% if formulario_guia_venta.num_doc.errors %}{{ formulario_guia_venta.num_doc|add_class:" campo_requerido" }}{% else %}{{ formulario_guia_venta.num_doc|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>

                        <tr style="margin-top: 15px;">
                            <td class="td-label1" style="width: 130px;">
                                <label class="control-label" for="{{ formulario_guia_venta.cliente.label }}">
                                {% if formulario_guia_venta.cliente.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_guia_venta.cliente.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" style="padding-bottom: 3px;">

                            {% if formulario_guia_venta.cliente.errors %}{{ formulario_guia_venta.cliente|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario_guia_venta.cliente|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                    </table>
            </div>
        </div>

        <div class="row row-comprobante-detalle comprobante-venta" style="margin-bottom: 0px;margin-top: 0px;">
            <div class="row row-comprobante-detalle">
                {% formulario_detalle_guia formulario_detalle_guia_venta %}
            </div>
        </div>

        <div style="margin: auto;">
            <div class="row row-comprobante-retencion" style="width: 680px; margin: auto; padding-right: 20px; margin-left: 70px !important;">
                <div class="col-retencion-detalle">
                    <div class="retencion-detalle" id="guia_remision" >
                        <h3 class="sub-title-comprobante">DATOS DE LA GUÍA DE REMISIÓN </h3>
                        <table class="tabla-retencion-detalle">
                            <tr>
                                <td colspan="8" style="text-align: right;color: #E75300; padding-bottom: 10px;">
                                    Fecha de Translado:
                                </td>
                            </tr>
                            <tr style=" height: 40px;">
                                <td style="width: 80px;">
                                   <label class="control-label" for="{{ formulario_guia.serie_guia.label }}">
                                    {% if formulario_guia.serie_guia.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario_guia.serie_guia.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td style="width: 120px; padding-right: 20px;">
                                    {% if formulario_guia.serie_guia.errors %}{{ formulario_guia.serie_guia|add_class:"campo_requerido" }}{% else %}{{ formulario_guia.serie_guia|add_class:"" }}{% endif %}
                                </td>
                                <td style="display: none;">
                                    <a id="add_doc" class="enlace_add_cliente" style="margin-left:10px; padding: 8px 12px; ">
                                        +
                                    </a>
                                </td>

                               <td class="td-label" style="width: 30px; display: none;">
                                   <label class="control-label" for="{{ formulario_guia.num.label }}">
                                    {% if formulario_guia.num.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario_guia.num.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control" style="display: none;">
                                    {% if formulario_guia.num.errors %}{{ formulario_guia.num|add_class:"txt-100 campo_requerido" }}{% else %}{{ formulario_guia.num|add_class:"txt-100" }}{% endif %}
                                </td>

                               <td class="td-label" style="width: 75px;">
                                   <label class="control-label" for="{{ formulario_guia.fecha_inicio.label }}">
                                    {% if formulario_guia.fecha_inicio.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario_guia.fecha_inicio.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                               </td>
                               <td class="td-control">
                                    {% if formulario_guia.fecha_inicio.errors %}{{ formulario_guia.fecha_inicio|add_class:"txt-120 input-calendario campo_requerido" }}{% else %}{{ formulario_guia.fecha_inicio|add_class:"txt-120 input-calendario" }}{% endif %}
                               </td>
                               <td class="td-label">
                                    <label class="control-label" for="{{ formulario_guia.fecha_final.label }}">
                                    {% if formulario_guia.fecha_final.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario_guia.fecha_final.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control" style="text-align: right;">
                                    {% if formulario_guia.fecha_final.errors %}{{ formulario_guia.fecha_final|add_class:"input-calendario txt-120 campo_requerido" }}{% else %}{{ formulario_guia.fecha_final|add_class:"txt-120 input-calendario" }}{% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td class="td-label">
                                   <label class="control-label" for="{{ formulario_guia.direccion_guia.label }}">
                                    {% if formulario_guia.direccion_guia.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{formulario_guia.direccion_guia.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td colspan="7">
                                    {% if formulario_guia.direccion_guia.errors %}{{ formulario_guia.direccion_guia|add_class:"txt-100pc combo campo_requerido" }}{% else %}{{ formulario_guia.direccion_guia|add_class:"txt-100pc combo" }}{% endif %}
                                </td>
                            </tr>

                        </table>

                            <h3 class="sub-title-comprobante" style="padding-top: 40px;">TRANSPORTISTA</h3>

                            <table class="tabla-retencion-detalle">
                                <tr style="height: 30px;">
                                    <td style="width: 120px;">
                                       <label class="control-label" for="{{ formulario_guia.compania.label }}">
                                        {% if formulario_guia.compania.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.compania.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                     <td style="width: 230px;">
                                        {% if formulario_guia.compania.errors %}{{ formulario_guia.compania|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario_guia.compania|add_class:"txt-100pc" }}{% endif %}
                                    </td>

                                    <td style="width: 130px; padding-left: 20px;">
                                       <label class="control-label" for="{{ formulario_guia.ruc_remision.label }}">
                                        {% if formulario_guia.ruc_remision.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.ruc_remision.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td >
                                        {% if formulario_guia.ruc_remision.errors %}{{ formulario_guia.ruc_remision|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario_guia.ruc_remision|add_class:"txt-100pc" }}{% endif %}
                                    </td>

                                </tr>
                                 <tr>
                                     <td style="width: 120px;">
                                       <label class="control-label" for="{{ formulario_guia.ciudad.label }}">
                                        {% if formulario_guia.ciudad.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.ciudad.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td >
                                        {% if formulario_guia.ciudad.errors %}{{ formulario_guia.ciudad|add_class:"combo campo_requerido" }}{% else %}{{ formulario_guia.ciudad|add_class:"combo" }}{% endif %}
                                    </td>

                                    <td style="width: 130px; padding-left: 20px;">
                                       <label class="control-label" for="{{ formulario_guia.direccion_conductor.label }}">
                                        {% if formulario_guia.direccion_conductor.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.direccion_conductor.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td >
                                        {% if formulario_guia.direccion_conductor.errors %}{{ formulario_guia.direccion_conductor|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario_guia.direccion_conductor|add_class:"txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
         </div>

        <div class="text-center" style="margin-top: 60px; margin-bottom: 30px;">
            <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
            <a class="boton boton-gray" href="{% url "lista_ventas" %}" title="Cancelar">Cancelar</a>
        </div>
    </form>


    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="enviar" data-href="{% url "agregar_vigencia_documento_empresa" %}"
                            data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="div-doc-guia" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="tit-ret">Agregar Vigencia de Documento</h4>
                    </div>

                <div class="modal-body" id="body-ret">
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                        <form id="form_vigencia_doc" method="POST" action="{% url "registrar_vigencia_doc" %}" data-search="{% url "get_vigencia_doc" %}">
                            <div class="row row-formulario-modal">
                                {% for form in formulario_doc %}
                                    <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                        <label class="label-modal">{{ form.label }}</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                        {{ form|add_class:"text-modal txt-100pc" }}
                                    </div>
                                {% endfor %}
                            </div>
                        </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="send_form_doc_guia">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <div id="error" class="alert alert-danger alert-dismissable" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p id="error-doc-vigente" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}