{% extends "base.html" %}
{% block title %}Reporte estado de Cuenta de Cliente{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load snnipet_cabecera_transaccion_id %}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_proveedores/estado_cuenta_proveedores.js"></script>
    <script>
      jQuery(document).ready(function($) {

            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

        });

        jQuery(document).ready(function($) {

            var formulario = $('#formulario');
            $('#limpiar').click(function(){
               limpiar_form(formulario);
               show_hide_prov($("#id_all_client"));
                /*para que el excel y pdf no maten al sistema*/
               $('.div-descargas').remove();
               $('.row-cabecera').remove();

            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function()
                {
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });

            show_hide_prov($("#id_all_client"));
            //saldo_proveedor(2);

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(){
                EliminarFila(this);
            });
            $("#id_all_client").click(function(){
                show_hide_prov(this);
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();
        });

    </script>


{% endblock %}

{% block item-rol %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Clientes / Estado de Cuenta{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_monto_cliente_por_fecha" %}" data-action="{% url "reporte_monto_cliente_por_fecha" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>

                            <td>
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>{{ buscador.all_client.label }}</label>
                            </td>
                            <td colspan="3">{{ buscador.all_client }}</td>
                        </tr>
                    </table>
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table class="tabla-comprobante-cabecera" id="proveedores">
                                    {{ clientes.management_form }}
                                    <tbody>
                                    {% for form in clientes %}
                                        <tr>
                                            <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                            </td>
                                            <td class="td-label1" style="text-align: left; width: 116px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.cliente.label }}">
                                                {% if form.cliente.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.cliente.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.cliente.errors %}{{ form.cliente|add_class:"campo_requerido combo" }}{% else %}{{ form.cliente|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="margin: 0; padding: 0;">
                            <td style="border: none; margin: 0; padding: 0;">
                                <table id="tb-boton-add" style="margin: 0">
                                    <tr>
                                        <td  style="border: 0;">
                                            <a class="tr-agregar" id="add_proveedor"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otro cliente</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>


    {% if lista %}
            <div class ="datos-mostrar-ocultar">
            <div class="div-content-report-jasper">
                <div class="div div-descargas" style="padding: 0; ">
                    <a  class="img_report img_excel excel" href="{% url "reporte_monto_cliente_por_fecha_excel" %}"></a>
                    <a  class="img_report img_pdf excel" href="{% url "reporte_monto_cliente_por_fecha_pdf" %}"></a>
                </div>

                <div style="border: 2px solid #E5E5E5;">
                    {{ lista.content|safe }}
                </div>
            </div>
            </div>
        {% else %}
            <p class="resultado-vacio"></p>
        {% endif %}



    {% if lista_saldo_client %}
        <div class="div div-descargas" style="padding: 0">
            <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_monto_cliente_por_fecha_excel" %}"></a>
            <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_monto_cliente_por_fecha_pdf" %}"></a>
        </div>
        <div class="row row-cabecera">
            {% for obj_saldo in lista_saldo_client %}
                <div class="div-centrar div-tabla">
                    <h4 class="reporte-subtitle">Saldos de: {{ obj_saldo.cliente.razon_social }} ({{ obj_saldo.cliente.ruc }})</h4>
                    <table id="table-info-registro" class="table tabla tabla-comprobante table-striped tabla_saldos" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="text-center" style="width: 120px">Fecha</th>
                            <th class="text-center" style="width: 120px">Tipo Documento</th>
                            <th class="text-center" style="width: 140px"># Documento</th>
                            <th class="text-center" style="width: 90px">Débito</th>
                            <th class="text-center" style="width: 90px">Crédito</th>
                            <th class="text-center">Forma Pago</th>
                            <th class="text-center" style="width: 125px">Saldo Documento</th>
                            <th class="text-center" style="width: 95px">Saldo cliente</th>
                        </tr>
                            <tr>
                                <td colspan="6"></td>
                                <td>Saldo Inicial</td>
                                <td style="text-align: right" class="saldo_ini">{% float_con_comas_snippet obj_saldo.saldo %}</td>
                            </tr>
                        {% for obj in obj_saldo.lista_saldo %}
                            {% if obj.tipo == 1 %}
                                <tr>
                                    <td>{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                                    <td>{{ obj.cuentas_x_cobrar.documento.descripcion_documento }} </td>
                                    <td>{{ obj.num_doc }}</td>
                                    {% if obj.cuentas_x_cobrar.naturaleza == 1 %}
                                        <td style="text-align: right" class="saldo_deudor">{% float_con_comas_snippet obj.cuentas_x_cobrar.monto%}</td>
                                        <td></td>
                                    {% else %}
                                        <td></td>
                                        <td style="text-align: right" class="saldo_acreedor">{% float_con_comas_snippet obj.cuentas_x_cobrar.monto%}</td>
                                    {% endif %}
                                    <td></td>
                                    <td style="text-align: right">{% float_con_comas_snippet obj.cuentas_x_cobrar.monto%}</td>
                                    <td style="text-align: right">{% float_con_comas_snippet obj.saldo %}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                                    <td></td>
                                    <td>{{ obj.num_doc }}</td>
                                    {% if obj.cxc_cobro.cuentas_x_cobrar.naturaleza == 2 %}
                                        <td style="text-align: right">{% float_con_comas_snippet obj.cxc_cobro.monto %}</td>
                                        <td></td>
                                    {% else %}
                                        <td></td>
                                        <td style="text-align: right">{% float_con_comas_snippet obj.cxc_cobro.monto %}</td>
                                    {% endif %}
                                    <td>{{ obj.cxc_cobro.cobro.forma_pago.descripcion }} - <ins> <a target="_blank" href="{% get_url_detalle_comp_num_comp obj.cxc_cobro.cobro.num_comp %}">{{ obj.cxc_cobro.cobro.num_comp }}</a></ins></td>

                                    <td style="text-align: right">{% float_con_comas_snippet obj.cxc_cobro.get_saldo_doc %}</td>
                                    <td style="text-align: right">{% float_con_comas_snippet obj.saldo %}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="3"></td>
                            <td style="text-align: right">{% float_con_comas_snippet obj_saldo.saldo_deudor %}</td>
                            <td style="text-align: right">{% float_con_comas_snippet obj_saldo.saldo_acreedor %}</td>
                            <td colspan="3"></td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% else %}
    {% endif %}



    <div class="div div-agregar">
            <a class="boton boton-gray" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}