{% load widget_tweaks %}

<tr>
    <td style="background: #F6F6F6 !important;"><a class="boton-eliminar-tr eliminar" title="Eliminar">
        <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png">
    </a></td>
    {% for field in form.visible_fields %}
        <td>
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endif %}
            {% if field.errors %}
                {{ field|add_class:"campo_requerido" }}
            {% else %}
                {{ field }}
            {% endif %}
        </td>
    {% endfor %}
</tr>