{% load widget_tweaks %}
{{ forms|add_class:"form-control" }}

{% for form in forms %}
<div class="form-group">
        {% if form.field.required %}
        <label  style="text-align: left" class="col-sm-4" for="{{ form.label }}">
            {% if form.field.required %} <b>{% endif %}
            {{ form.label }}
            {% if form.field.required %} </b>{% endif %}
        </label>
        {% endif %}
            <div class="col-sm-8">
                <span style="color:#97310e">
                    {{ forms.errors }}
                </span>
            </div>
</div>
{% endfor %}