{% load widget_tweaks %}
{% for form in forms %}
    {% if form.html_name == "tipo_retencion" %}
        <div id="text-ret">
            <p class="text-danger">* Por favor llene estos datos si la cuenta representa una retención</p>
        </div>
    {% endif %}
    <div class="row" {% if form.html_name == "cod_relacion_super_cia" %}id="cod_rel"{% elif form.html_name == "tipo_retencion"%}id="tipo_ret"{% elif form.html_name == "porc_retencion"%}id="porc_ret"{% endif %}>
        <div class="form-group col-sm-6" >
            <label  style="text-align: left; height: 20px" class="control-label" for="{{ form.label }}">
                {{ form.label }}
            </label>
        </div>
        <div class="form-group col-sm-6" >
            {{ form|add_class:"form-control" }}
        </div>
    </div>
{% endfor %}
