{% load widget_tweaks %}
<div  class="row">
    {% for form in forms %}
        <div class='col-sm-4 col-md-4'>
            <div class='row'>
                <label  style="text-align: left" class="col-sm-4 col-md-4" for="{{ form.label }}" id="{{ form.label }}">
                    {{ form.label }}
                </label>
                <div class='col-sm-8 col-md-8'>
                    {{ form|add_class:'form-control'}}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

