{% load widget_tweaks %}
{% load formulario_comp_contable %}
    <table id="tabla_hide" class="tabla-comprobante-detalle-externa" style="width: 1300px !important; margin-left: 14px;">
        <tr>
            <td style="border: none;">
                <table id="tabla_formset" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle">
                    <thead>
                        <tr>
                            <th style="background: #F6F6F6; width: 26px;"></th>
                            <th style="width: 130px">Cuenta Código-Nombre</th>
                            <th style="width: 70px;">Centro de Costos</th>
                            <th style="width: 100px">Sustento Trib.</th>
                            <th style="width: 60px;">IVA</th>
                            <th style="width: 40px;">B/S</th>
                            <th style="width: 50px;">Cod. Ret. Fte.</th>
                            <th style="width: 50px;">%. Ret. Fte.</th>
                            <th style="width: 50px;">Cod. RET. Iva</th>
                            <th style="width: 50px;">%. RET. Iva</th>
                            <th style="width: 60px;">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for formularios in forms %}
                        {% agregar_filas_tabla_detalle_compra formularios %}
                    {% endfor %}
                    </tbody>
                    {{ forms.management_form }}
                </table>
            </td>
        <tr>
        <tr style="margin: 0px; padding: 0px;">
             <td style="border: none; margin: 0px; padding: 0px;">
                 <table id="tb-boton-add">
                     <tr>
                         <td  style="border: 0px;">
                             <a class="tr-agregar" id="add">
                                 <img src="/static/cm_html/images/agregar_tr_icono.png">
                                    Agregar otra fila
                            </a>

                         </td>
                     </tr>
                 </table>
             </td>
        </tr>
    </table>
    <!-- Div para elegir la forma de pago cuando los
        totales superan los 1000 dólares
    -->
    <div id="forma_pago" class="text-center" {% if compra.getTotal < 1000 %}style="display: none"{% else %}style="right: 6px"{% endif %}             >
        <table>
            <tr>
                <td>Forma de pago (SRI): </td>
                <td style="width: 350px;">
                    <select class="selectpicker show-tick" data-style="slc-b-s slc-primary" data-size="5" data-width="330px" name="forma_pago_exc">
                        {% for obj in forma_pago %}
                            <option {% if codigo == obj.codigo %}selected="selected"{% endif %} value="{{ obj.codigo }}" title="{{ obj.descripcion }}">{{ obj.descripcion }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
