{% load widget_tweaks %}
{% for form in forms %}
<div class="row form-group">
        <label  style="text-align: left" class="col-sm-3" for="{{ form.label }}">
            {% if form.field.required %}
                <span class="requerido">*</span>
            {% endif %}<b>
            {{ form.label }}
             </b>
        </label>
            <div class="col-sm-4" >
                {% if form.field.label != "Foto" %}
                    {{ form|add_class:"form-control" }}
                   {% else %}
                    {{ form }}
                {% endif %}
            </div>

            <span class="col-sm-11">
                    {{ form.errors }}
             </span>
</div>
{% endfor %}
