{% load widget_tweaks %}
{% for form in forms %}
    <div class="row form-group">
        <label  style="text-align: left" {% if forms.errors %}class="col-xs-3 col-sm-3 col-md-3 col-lg-3"{% else %}class="col-xs-4 col-sm-4 col-md-4 col-lg-4"{% endif %} for="{{ form.label }}" id="{{ form.label }}">
            {% if form.field.required %}
                <span class="requerido">*</span>
            {% else %}
                <span style="margin-right: 14px;"></span>
            {% endif %}
            <b>{{ form.label }}</b>
        </label>
        <div {% if forms.errors %}class="col-xs-6 col-sm-6 col-md-6 col-lg-6"{% else %}class="col-xs-8 col-sm-8 col-md-8 col-lg-8"{% endif %} >
            {% if form.field.label != "Foto" %}
                {{ form|add_class:"form-control" }}
            {% else %}
                <div id="foto_usuario"></div>
                {{ form }}
            {% endif %}
        </div>
        {% if forms.errors %}
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>{{ form.errors }}</span>
            </div>
        {% endif %}
    </div>
{% endfor %}




