{% load widget_tweaks %}
{% for form in forms %}
<div class="row form-group">
    {% if form.field.required %}
        <label  style="text-align: left" class="col-sm-3" for="{{ form.label }}">
            {% if form.field.required %}
                <span class="requerido">*</span>
            {% else %}
                <span style="margin-right: 14px;"></span>
            {% endif %}<b>
            {{ form.label }}
             </b>
        </label>

        <div class="col-sm-5" >
            {{ form|add_class:"form-control cab_form_cont" }}
        </div>
        <span class="col-sm-4">
            {{ form.errors }}
        </span>
    {% else %}
        <label  style="text-align: left; display: none" class="col-sm-3" for="{{ form.label }}">
            {% if form.field.required %}
                <span class="requerido">*</span>
            {% else %}
                <span style="margin-right: 14px;"></span>
            {% endif %}<b>
            {{ form.label }}
             </b>
        </label>
        <div class="col-sm-4" style="display: none">
                {{ form|add_class:"form-control cab_form_cont" }}
        </div>
    {% endif %}
</div>
{% endfor %}