{% load widget_tweaks %}
{% load formulario_base %}

{{ formset.non_form_errors.as_ul }}
{{ formset.management_form }}

<table id="tabla_hide" class="tabla-comprobante-detalle-externa">
    <tr>
        <td style="border: none;">
            <table id="{{ formset.0.id_table }}" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle">
                {% for form in formset.forms %}
                    {% if forloop.first %}
                        <thead>
                            <tr>
                            <th style="background: #F6F6F6; width: 35px;"></th>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                    {% endif %}
                    {% fila_tabla_formset request form %}
                {% endfor %}
            </table>
        </td>
    </tr>
    {% if formset.0.id_button_add_form_name %}
        <tr style="margin: 0px; padding: 0px;">
            <td style="border: none; margin: 0px; padding: 0px;">
                <table id="tb-boton-add">
                    <tr>
                        <td  style="border: 0px;">
                            <a class="tr-agregar" id="{{ formset.0.id_button_add_form_name }}"
                               {% if formset.0.url_get_row %} data-url="{{ formset.0.url_get_row }}" {% endif %}
                               {% if  formset.0.id_table %} data-id_tabla="{{ formset.0.id_table }}" {% endif %}
                                    >
                            <img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">
                            Agregar otra fila
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endif %}
</table>