{% extends "base.html" %}
{% block title %}Reporte de Cuentas por fechas{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <style>

    td a span{
        cursor: pointer; cursor: hand;
    }

    .td-label1{
        padding: 3px 30px;
        text-align: left;
        font-weight: bold;
    }

    </style>
{% endblock %}
{% block script %}
     <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
     <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
<script>
/*
        $(function($){
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
        });
        $(document).ready(function(e){
            $("#fecha-inicio").datepicker({constrainInput: false,changeMonth: true,changeYear: true,yearRange: "1900:2014"});
            $("#fecha-inicio").datepicker("option", "dateFormat","yy-mm-dd");
            $("#fecha-inicio").val($("#fecha-inicio").attr("value"));


            $("#fecha-fin").datepicker({constrainInput: false,changeMonth: true,changeYear: true,yearRange: "1900:2014"});
            $("#fecha-fin").datepicker("option", "dateFormat","yy-mm-dd");
            $("#fecha-fin").val($("#fecha-fin").attr("value"));
        });
        */





     $(document).ready(function(){



          $('#fecha-inicio').datepicker({
                todayBtn: true,
                autoclose: true
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

            $('#fecha-fin').datepicker({
                todayBtn: true,
                autoclose: true
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

    });

    </script>
    <!---
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
    -->
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}.
            </div>
        {% endfor %}
    {% endif %}

     <div id="buscadores">
        <table>
            <tr>
                <td >
                    <form action="" class="row form-group" method="GET">
                        <table>
                            <tr>

                                <td>
                                    <label class="label-td"> Fecha Inicial: </label>
                                </td>
                                <td>
                                    <input type="text" id="fecha-inicio" class="form-control" data-date-format="yyyy-mm-dd" readonly="readonly" style="width: 200px; margin-right: 30px;"  value="{{ request.GET.fecha_inicio }}" name="fecha_inicio">
                                </td>
                                <td>
                                    <label class="label-td"> Fecha Fin: </label>
                                </td>
                                <td>
                                    <input type="text" id="fecha-fin" class="form-control" data-date-format="yyyy-mm-dd" readonly="readonly" style="width: 200px;"  value="{{ request.GET.fecha_fin }}" name="fecha_fin">
                                </td>
                                <td>
                                    <input type="submit" class="btn-buscadores"/>

                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="table-responsive">
        <!-- Default panel contents -->
         <!-- Table -->
        <h2 class="titulo-vista" style="padding-bottom: 0px;">Detalles de Cuenta por Fechas</h2>
        <div class="div-centrar div-info-basica">

            <table id="table-info-basica" style="margin: auto;">
                {% if cuenta_id %}
                 <tr>
                    <td class="td-label1">
                        Cuenta:
                    </td>
                    <td class="td-info1">
                       {{ cuenta_id.descripcion }}
                    </td>

                 </tr>
                    <tr>
                    <td class="td-label1">
                        Código:
                    </td>
                    <td class="td-info1">
                       {{ cuenta_id.codigo }}
                    </td>

                 </tr>
                {% endif %}
                 <tr>
                      {% if fecha_inicio == "0001-01-01" %}
                            <td class="td-label1">
                                Fecha:
                            </td>

                            <td class="td-info1">
                           {{ fecha_fin|date:"d-m-Y" }}

                            </td>
                         {% else %}
                            <td class="td-label1">
                               Fechas:
                            </td>

                            <td class="td-info1">
                            {{ fecha_inicio|date:"d-m-Y" }} - {{ fecha_fin|date:"d-m-Y" }}

                            </td>

                         {% endif %}

                </tr>

            </table>
        </div>
        {% if objetos %}
         <div class="total-registros">
            <p><span>Registros:</span> {{total_registros}}</p>
         </div>
         <table class="table table-hover  tabla table-striped">
              <thead>
                    <tr>

                        <th>Fecha</th>
                        <th>Glosa</th>

                        <th>Debe</th>
                        <th>Haber</th>
                        <th>Total</th>

                    </tr>
                </thead>
                <tbody>
                        {% for obj in objetos %}
                    <tr>

                        <td>{{obj.fecha_creacion|date:"d-m-Y"}}</td>
                        <td>{{obj.concepto_comprobante}}</td>

                         <td style="text-align: right;">
                            {% if obj.dbcr == 'D' %}
                                {{obj.valor|floatformat:2}}
                            {% else %}
                                0,00
                            {% endif %}
                        </td>
                        <td style="text-align: right;">
                            {% if obj.dbcr == 'H' %}
                                {{obj.valor|floatformat:2}}
                            {% else %}
                                0,00
                            {% endif %}
                        </td>
                        <td style="text-align: right;">


                                {{obj.total|floatformat:2}}

                        </td>


                    {% endfor%}
                    </tr>
                </tbody>
            </table>

        <div class="paginacion">
            <ul  class="pager">
            {% if objetos.has_previous %}
              <span class="page"><a href="?page={{ previous }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}">&lt;< </a></span>{% else %}<b><<</b>{% endif %}

            {% if objetos.has_previous %}
              <span class="page"><a href="?page={{ objetos.previous_page_number }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}" > < </a></span>{% else %}<b><</b>{% endif %}

            {% for num in objetos.paginator.page_range %}
                {% ifequal num objetos.number %}
                 <span class="current"> <b>{{ num }}</b></span>
                {% else %}
                    <a  href="?page={{ num }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}"> {{ num }} </a>
                {% endifequal %}
            {% endfor %}

            {% if objetos.has_next %}
              <span class="page"><a href="?page={{ objetos.next_page_number }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}">></a></span>{% else %}<b>></b>{% endif %}

            {% if objetos.has_next %}
              <span class="page"><a href="?page={{ total_paginas }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}" >&gt;> </a></span>{% else %} <b>>></b> {% endif %}
            </ul>
        </div>
        {% else %}
                <p style="text-align: center;">Actualmente esta cuenta no ha tiene movimientos.</p>
        {% endif %}

</div>
     <div class="div-botones" style="text-align: center;">
            <a class="boton boton-print" href="{% url 'reporte_cuenta_fechas_pdf'%}?id_cuenta={{ id_cuenta }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}" target="_blank">Generar PDF</a>
            <a class="boton boton-ok" href="{% url "reporte_cuenta_fechas_excel" %}?id_cuenta={{ id_cuenta }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}" target="_blank">Generar XLS</a>
            <a class="boton boton-cancel" href="{% url 'reporte_cuentas_lista' %}">Regresar</a>
        </div>


{% endblock %}