{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Convetir Guia Compra{% endblock %}
{% block stylesheet %}

    <noscript>
        <META HTTP-EQUIV="Refresh" CONTENT="1;URL=http://www.google.es/">
    </noscript>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/compras.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <!--
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    -->


{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
    <script src="{{ STATIC_URL }}js/validar_rucs.js"></script>
    <script type="text/javascript">
        function getURLBusqCuenta(){
            return "{% url "buscar_cuenta" %}"
        }
        function getURLBusqItem(){
            return "{% url "buscar_item" %}"
        }
    </script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        function validar_fecha_reg_inv(obj)
        {
            var fecha_reg =  $(obj).val();
            var tipo = $("#id_tipo").val();
            $.ajax({
                url: "{% url "validar_fecha_inventario_ie" %}",
                type: "POST",
                async: false,
                cache: false,
                timeout: 300,
                data:{
                    'fecha': fecha_reg,
                    'tipo': tipo
                },
                success: function( data ){
                    if(data.status == "0"){
                        $("#tit-alert").html("Alerta");
                        $("#body-alert").html("<p><strong>Error</strong>, la fecha ingresada es menor a la " +
                            "ultima fecha de "+ data.tipo +" de inventario." +
                            "<p>La última fecha es: <b>"+data.fecha+"</b> </p>");
                        $("#alert-yn").modal();
                        $(obj).val(data.fecha);
                    }
                }
            });

            return null;
        }
        function CalcularPunitario(obj)
        {
            var tr = $(obj).parent().parent();
            var cantidad = parseFloat($(tr).find(".cantidad").val());
            var subtotal = parseFloat($(tr).find(".costo").val());
            var p_unitario = $(tr).find(".p_unitario");

            var p_unit = subtotal/cantidad;
            if(!isNaN(p_unit))
                p_unitario.val(p_unit.toFixed(2));
            else
                p_unitario.val("");
        }
        function AgregarFunciones(obj)
        {
            $(obj).find(".cantidad").change(function(){
                CalcularPunitario(this);
            })
            $(obj).find(".costo").change(function(){
                CalcularPunitario(this);
            })
        }
        function AutocompletarCeros(obj)
        {
            var valor = $(obj).val();
            var valor_final = valor.replace(/_/g , "");
            var separador = valor_final.split("-");
            if(separador.length > 1)
            {
                var a= ("00000000"+separador[2]);
                $(obj).val(separador[0]+"-"+separador[1]+"-"+a.slice(-9));
            }
            // Para el numero de retencion
            else
            {
                var a= ("00000000"+separador);
                $(obj).val(a.slice(-9));
            }
        }
        function cambiar_proveedor(obj)
        {
            if($(obj).val() == "")
            {
                $("#grabar").hide();
                $("#div_compra").hide();
            }
            else
            {
                $.ajax(
                {
                    url:"{% url "cargar_guia_compra" %}",
                    type: 'POST',
                    async: false,
                    cache: false,
                    timeout: 300,
                    data:{id:$(obj).val()},
                    error: function(){
                        return true;
                    },
                    success: function(data)
                    {
                        $("#detalle_compra_guia").html(data);
                        AgregarFunciones($("#detalle_compra_guia"));
                    }
                });
                $("#div_compra").show();
                $("#grabar").show();
            }
        }
        $(function()
        {
            $(".datepicker").datepicker();
            $("#id_num_doc").mask("999-999-999999999");
            $("#id_num_doc").focusout(function(){AutocompletarCeros(this)});

            if(!$("#detalle_compra_guia").children().length > 0 )
            {
                $.ajax(
                {
                    url:"{% url "cargar_guia_compra" %}",
                    type: 'POST',
                    async: false,
                    cache: false,
                    timeout: 300,
                    data:{id:$("#id_proveedor").val()},
                    error: function(){
                        return true;
                    },
                    success: function(data)
                    {
                        $("#detalle_compra_guia").html(data);
                        AgregarFunciones($("#detalle_compra_guia"));
                    }
                });
            }
            else{
               AgregarFunciones($("#detalle_compra_guia"));
            }
            $("#id_proveedor").change(function(){
                cambiar_proveedor(this);
            });
            {% if not bandera %}
                cambiar_proveedor($("#id_proveedor"));
            {% endif %}
            $(".selectpicker").selectpicker();
        });
    </script>
{% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"
 {% endblock %}
 {% block ruta-principal %}Inventarios{% endblock %}
 {% block ruta-actual %}Convertir Guía a Compra{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form role="form" id="formulario" enctype="multipart/form-data" action="{% url "convertir_guia_compra" %}" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr id="tr_proveedor">
                            <td class="td-label1" style="width: 180px;">
                                <label class="control-label" for="{{ formulario.proveedor.label }}">
                                {% if formulario.proveedor.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.proveedor.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario.proveedor.errors %}{{ formulario.proveedor|add_class:"campo_requerido combo" }}{% else %}{{ formulario.proveedor|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr id="tr_tipo_doc">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.tipo_doc.label }}">
                                {% if formulario.tipo_doc.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.tipo_doc.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario.tipo_doc.errors %}{{ formulario.tipo_doc|add_class:"campo_requerido" }}{% else %}{{ formulario.tipo_doc }}{% endif %}
                            </td>
                        </tr>

                        <tr id="tr_num_doc">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.fecha_reg.label }}">
                                {% if formulario.fecha_reg.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.fecha_reg.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative">
                                {% if formulario.fecha_reg.errors %}{{ formulario.fecha_reg|add_class:"campo_requerido" }}{% else %}{{ formulario.fecha_reg }}{% endif %}
                            </td>
                            <td class="td-label1" style="text-align: right; padding-right: 20px;">
                                <label class="control-label" for="{{ formulario.num_doc.label }}">
                                {% if formulario.num_doc.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.num_doc.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative">
                                {% if formulario.num_doc.errors %}{{ formulario.num_doc|add_class:"campo_requerido" }}{% else %}{{ formulario.num_doc }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.concepto.label }}">
                                {% if formulario.concepto.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.concepto.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario.concepto.errors %}{{ formulario.concepto|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.concepto|add_class:"txt-100pc"}}{% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div id="div_compra">
            <div id="detalle_compra_guia" class="row row-comprobante-detalle">
                {% if bandera %}
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table id="tabla_detalle_compra_guia" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle">
                                    <thead>
                                        <tr>
                                            <th style="display: none"></th>
                                            <th>Item</th>
                                            <th>Cantidad Guía</th>
                                            <th>Cantidad Documento</th>
                                            <th>Costo Total</th>
                                            <th>P. Unitario</th>
                                        </tr>
                                    </thead>
                                    {{ detalle_form.management_form }}
                                    <tbody>
                                    {% for formularios in detalle_form %}
                                        <tr>
                                            {% for form in formularios %}
                                                    {% if form.label == "id_item"%}
                                                        <td style="display: none">{{ form }}</td>
                                                    {% else %}
                                                        <td>{% if form.errors %}{{ form|add_class:"campo_requerido" }}{% else %}{{ form }}{% endif %}</td>
                                                    {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        <tr>
                    </table>
                {% endif %}
            </div>
        </div>

        <div class="text-center" style="margin-top: 30px; margin-bottom:30px;">

           <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
           <a class="boton boton-gray" href="{% url "lista_inventario" %}" title="Cancelar">Cancelar</a>
        </div>
    </form>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default yes" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}