{% extends "base.html" %}
{% block title %}Comprobante Inventario{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% load permisostag %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
{% endblock %}


{% block item-inventario %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"
 {% endblock %}
 {% block ruta-principal %}Inventarios{% endblock %}
 {% block ruta-actual %}Detalles de Movimiento de Inventario{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}


{% block content %}

     <div class="row row-cabecera">
        <div class="cabecera-left"  style="width: 100%;">
            <table>
                <tr>
                    <td style="width:140px;">
                        <label>Comp. de Inventario:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ inventario.num_comp }}</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label> Fecha de Registro:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ inventario.fecha_reg|date:"Y-m-d" }}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Motivo: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ inventario.tipo_mov_inventario.descripcion }}</label>
                    </td>
                </tr>
                {% if inventario.get_cliente_prov %}
                    <tr>
                        <td>
                            <label>
                                {% if inventario.tipo_mov_inventario.id == 1 or inventario.tipo_mov_inventario.id == 6 or inventario.tipo_mov_inventario.id == 2%}
                                    Proveedor:
                                {% else %}
                                    Cliente:
                                {% endif %}
                            </label>
                        </td>
                        <td class="td-dato">
                            <label>{{ inventario.get_cliente_prov }}</label>
                        </td>
                    </tr>
                {% endif %}
                {% if inventario.documento %}
                    {% if inventario.documento.descripcion_documento %}
                    <tr>
                        <td>
                            <label> Tipo de Documento: </label>
                        </td>
                        <td class="td-dato">
                            <label>{{ inventario.documento.descripcion_documento }}</label>
                        </td>
                    </tr>
                    {% endif %}
                <tr>
                    <td>
                        <label> # de Documento: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ inventario.num_doc }}</label>
                    </td>
                </tr>
                {% endif %}


                <tr>
                    <td>
                        <label>Detalle: </label>
                    </td>
                    <td class="td-dato">
                        <table style="word-break: break-all; table-layout: fixed;">
                            <td>{{ inventario.detalle }}</td>
                        </table>
                    </td>
                </tr>

            </table>
        </div>

        <h3 class="sustitulo-comprobante">Detalle de Inventario</h3>

        <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">

            <tr>
                <th>Item</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Costo</th>
                <th>Total</th>
                <th>Cuenta</th>
            </tr>
            {% for obj in detalle_inv %}
                <tr>
                    <td>{{ obj.item.codigo }} - {{ obj.item.nombre }}</td>
                    <td class="td-derecha">{% if obj.cantidad %}{{ obj.cantidad }}{% endif %}</td>
                    <td class="td-centrar">{{ obj.item.unidad.descripcion }}</td>
                    <td class="td-derecha">{% if obj.costo %}$ {{ obj.costo|floatformat:5 }}{% endif %}</td>
                    <td class="td-derecha">{% if obj.costo and obj.cantidad %}$ {% multiplicacion_snippet obj.costo obj.cantidad %}{% endif %}</td>
                    <td>{% if obj.plan_cuenta %}{{ obj.plan_cuenta.descripcion }}{% endif %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Totales</td>
                <td class="td-derecha">{{ total_cantidad }}</td>
                <td></td>
                <td class="td-derecha">$ {{ total_costo|floatformat:5 }}</td>
                <td class="td-derecha">$ {{ total|floatformat:"2" }}</td>
                <td></td>
            </tr>
        </table>

        {% if detalle_may %}
        <div class="div-centrar div-tabla">
        <h3 class="sustitulo-comprobante">Asiento Contable</h3>

        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
            <tr>
                <th>Código</th>
                <th>Cuenta</th>
                <th>Debe</th>
                <th>Haber</th>
                <th>Centro de Costos</th>
            </tr>
            {% for obj_asiento in detalle_may%}
                <tr>
                    <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                    <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                    <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    <td class="td-derecha">{{ obj_asiento.centro_costo.descripcion }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">Totales</td>
                <td class="td-derecha">{{ total_debe|floatformat:2 }}</td>
                <td class="td-derecha">{{ total_haber|floatformat:2 }}</td>
                <td></td>
            </tr>
        </table>
       </div>
      {% endif %}

     <p class="desc-label">Descripción: <span class="desc-info"><table style="word-break: break-all; table-layout: fixed;">
                            <td>{{ inventario.detalle }}</td>
                        </table></span></p>
     <div class="text-center div-botones-alto" style="margin-top: 30px;">
         {% if_tiene_permiso request "detalle_inventario_pdf" %}
             <a class="boton boton-ok" style="margin-right: 10px;" href="{% url "detalle_inventario_pdf" inventario.id%}" target="_blank">
                 Generar PDF
             </a>
         {% endif_tiene_permiso %}
         <a class="boton boton-gray" href="{% url "lista_inventario" %}">
             Regresar
         </a>
     </div>
     </div>

{% endblock %}