{% extends "base.html" %}
{% block title %}Inventario{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    td a span{
        cursor: pointer; cursor: hand;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>
    $(document).ready(function()
        {
            $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
            });

            /*****************************************
             * Función para que solo acepte números
             */
            $(".numerico").keydown(function(event) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ( $.inArray(event.keyCode,[8,27,13,127]) !== -1 ||
                     // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                     // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39))
                    {
                         // let it happen, don't do anything
                         return;
                }
                else {
                    // Ensure that it is a number and stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
            $(".numerico_doc").keydown(function(event) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ( $.inArray(event.keyCode,[8,27,13,127,109,173]) !== -1 ||
                     // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                     // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39))
                    {
                         // let it happen, don't do anything
                         return;
                }
                else {
                    // Ensure that it is a number and stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });

            $("#id_fecha").mask('9999-99-99');
            $("#id_fecha_final").mask('9999-99-99');
            $("#id_numero_ret").mask('999999999');
            $("#id_numero_ret").focusout(function(){
                var valor = $(this).val();
                var valor_final = valor.replace(/_/g , "");
                var a= ("00000000"+valor_final);
                $(this).val(a.slice(-9));
            });

        });
    </script>
    <script>
        $(document).ready(function(e){

            $(".selectpicker").selectpicker();
            $("#ver").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    window.location.href = $("#lista input[type='radio']:checked").attr("data-ver");
                }else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para Ver</p>');
                    $("#alert-ok").modal();
                }
            });

            $("#ok-alert").on("click",function(){
                var url = $("#alert-yn").attr("data-href");
                window.location.href = url;
            });

            $("#id_fecha_emision").datepicker().on('changeDate', function(ev) {
                    $(this).datepicker("hide")});

            var now = new Date(2000,1,1, 0, 0, 0, 0);
            var checkin = $('#id_fecha').datepicker({
                onRender: function(date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
                }
            }).on('changeDate', function(ev)
            {
                if (ev.date.valueOf() > checkout.date.valueOf())
                {
                    var newDate = new Date(ev.date)
                    newDate.setDate(newDate.getDate());
                    checkout.setValue(newDate);
                }
                checkin.hide();
                $('#id_fecha_final')[0].focus();
            }).data('datepicker');
            var checkout = $('#id_fecha_final').datepicker({
                onRender: function(date)
                {
                    return date.valueOf() < checkin.date.valueOf() ? '' : '';
                }
                }).on('changeDate', function(ev) {
                    checkout.hide();
                }).data('datepicker');
        });

        function limpiar_form(){
            var form = $('#formulario');
            form.find('input[type=text]').each(function(){
                $(this).val("");
                $(this).attr("value", "");
            });
            form.find('select').each(function(){
                $(this).find("option").each(function(){
                    $(this).removeAttr("selected");
                });
                $(this).find("option:first").attr("selected", "selected");
            });
            form.find(".selectpicker").selectpicker('refresh');
        }
    </script>

    <script>
        jQuery(document).ready(function($) {

            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });

            $(".buscador-cerrar").click(function(){

                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").removeClass("opcion-buscar-hide");

            });

        });

    </script>


{% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"
 {% endblock %}
 {% block ruta-principal %}Inventarios{% endblock %}
 {% block ruta-actual %}Buscar Movimientos de Inventario{% endblock %}

{% block content %}

    {% if messages %}
         {% for message in messages %}

            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>


         {% endfor %}
    {% endif %}



    <form action="" class="form-group" id="formulario" method="GET">
        <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>

            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="width: 680px; margin: auto;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td style="width: 150px;">
                                    <label>Rango de Fechas:</label>
                                </td>
                                <td>
                                    {{ buscador.fecha|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>

                               <td style="width: 150px; padding-right: 20px; text-align: right;">
                                    <label>Hasta</label>
                                </td>

                                <td style="text-align: right;">
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>{{ buscador.prov.label }}</label>
                                </td>

                                <td style="width: 150px;" colspan="3">
                                    {{ buscador.prov }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>{{ buscador.cliente.label }}</label>
                                </td>

                                <td style="width: 150px;" colspan="3">
                                    {{ buscador.cliente }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Item:</label>
                                </td>

                                <td colspan="3">
                                    {{ buscador.item|add_class:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>{{ buscador.tipo_movimiento.label }}</label>
                                </td>

                                <td colspan="3">
                                    {{ buscador.tipo_movimiento }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>{{ buscador.motivo.label }}</label>
                                </td>

                                <td colspan="3">
                                    {{ buscador.motivo }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Tipo de Documento:</label>
                                </td>

                                <td colspan="3">
                                    {{ buscador.tipo_documento|add_class:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>{{ buscador.ndocumento.label }}</label>
                                </td>

                                <td>
                                    {{ buscador.ndocumento|add_class:"txt-100pc" }}
                                </td>
                                 <td style="width: 150px; padding-right: 20px; text-align: right;">
                                    <label>{{ buscador.num_comp.label }}</label>
                                </td>
                                <td>
                                    {{ buscador.num_comp|add_class:"txt-100pc" }}
                                </td>
                            </tr>
                            <tr>

                            <td>
                                <label>{{ buscador.concepto.label }}</label>
                            </td>
                            <td colspan="3">
                                {{ buscador.concepto|add_class:"txt-100pc" }}
                            </td>
                        </tr>

                        </table>
                    </div>
                </div>
                <div style="display: none">{{ buscador.page }}</div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 20px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" value="Limpiar" onclick="limpiar_form()" title="Limpiar">
            </div>
        </div>
    </form>

    <div class="div div-agregar">
        {% if_tiene_permiso request "registrar_inventario" %}
            <a class="boton boton-ok" href="{% url "registrar_inventario" %}">Agregar</a>
        {% endif_tiene_permiso %}
        {% if_tiene_permiso request "convertir_guia_compra" %}
            <a class="boton boton-ok" href="{% url "convertir_guia_compra" %}">Convertir Guia Compra</a>
        {% endif_tiene_permiso %}
            <a class="boton boton-ok" href="{% url "conversion_items" %}">Conversión de medida</a>
    </div>

    <div class="botones-administracion">
        {% if objetos %}
        {% if_tiene_permiso request "detalle_inventario" %}
            <a id="ver" class="boton boton-administrador" href="#">Ver</a>
        {% endif_tiene_permiso %}
        {% endif %}
        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>



    </div>



{% if objetos %}
    <div class="table-responsive">
        <!-- Default panel contents -->
         <!-- Table -->

        <table id="lista" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 120px;">Fecha</th>
                    <th>Motivo</th>
                    <th style="width: 130px;"># de Comprobante</th>
                    <th>Descripción Movim.</th>

                    <th style="width: 180px;">Documento</th>
                    <th style="width: 160px;"># Documento</th>
                </tr>
            </thead>
            <tbody>
                {% if objetos %}
                    {% for obj in objetos %}
                    <tr>
                        <td  style="width: 51px; text-align: center;"><input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                data-ver="{% url "detalle_inventario" obj.id %}"></td>
                        <td>{{obj.fecha_reg|date:"d-m-Y"}}</td>
                        <td title="{{obj.tipo_mov_inventario.descripcion}}">{{obj.tipo_mov_inventario.descripcion|slice:"0:15" }}{% if obj.tipo_mov_inventario.descripcion|length > 15 %}...{% endif %}</td>
                        <td>{{obj.num_comp }}</td>
                        <td title="{{obj.detalle}}">{{obj.detalle|default_if_none:""|slice:"0:60" }}{% if obj.detalle|length > 60 %}...{% endif %}</td>

                        <td>{{obj.documento.descripcion_documento}}</td>
                        <td>{{obj.num_doc}}</td>
                    {% endfor%}
                {% endif %}
                </tr>
            </tbody>
        </table>
        <div class="paginacion">
            <ul  class="pager">

            {% if objetos.has_previous %}
                <span class="page">
                    <a href="?page={{ previous }}">&lt;< </a>
                </span>
            {% else %}
                <b><<</b>
            {% endif %}


            {% if objetos.has_previous %}
              <span class="page">
              <a href="?page={{ objetos.previous_page_number }}" > < </a>
              </span>

            {% else %}
                <b><</b>
            {% endif %}


            {% for num in objetos.paginator.page_range %}
                {% ifequal num objetos.number %}
                 <span class="current"> <b>{{ num }}</b></span>
                {% else %}
                    <a  data-page="{{ num }}" class="evento_page"> {{ num }} </a>
                {% endifequal %}
            {% endfor %}


            {% if objetos.has_next %}
                <span class="page">
                    <a data-page="{{ objetos.next_page_number }}" class="evento_form"> > </a>
                </span>

            {% else %}
                 <b>></b>
            {% endif %}

            {% if objetos.has_next %}
                <span class="page">
                    <a data-page="{{ total_paginas }}" class="evento_form">&gt;> </a>
                </span>
            {% else %}
                <b>>></b>
            {% endif %}

            </ul>
        </div>
    </div>

{% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
{% endif %}
    <!-- Div para los alert-->


       <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}