
{% extends "base.html" %}
{% load widget_tweaks %}
{% load formulario_base %}
{% block title %}Registrar Inventario{% endblock %}
{% block stylesheet %}

    <noscript>
        <META HTTP-EQUIV="Refresh" CONTENT="1;URL=http://www.google.es/">
    </noscript>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/compras.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">

    <style>
        .tabla-comprobante-detalle tbody tr td:last-child {
            border: 0px !important;
         }

        .tabla-comprobante-detalle-externa input[type="text"]{
            height: 28px !important;
        }

        input.unidad, #tabla_con_interno input.costo{
            width: 100%;
            background: #EBEBE4;
        }

        .tabla-comprobante-cabecera #id_numero_guia_r{
            width: 100%;
        }
        select{
            width: 100%;
            border-radius: 0;
            -webkit-border-radius: 0px 0px;  /* Safari  */
            -moz-border-radius: 0px 0px;     /* Firefox */
        }

        select.item{
            height: 28px;
            border: 1px solid #E5E5E5;
        }

        .tabla-comprobante-detalle-externa  input.cantidad_contrato{
            height: 34px !important;
        }

        .tabla-comprobante-detalle-externa  input.numerico,
        .tabla-comprobante-detalle-externa  input.unidad,
        .tabla-comprobante-detalle-externa  input.cuenta{
            height: 34px !important;
        }

        .tabla-comprobante-detalle-externa  input.costo{
            height: 34px !important;
            width: 100% !important;
        }

        .info-existe-contrato{
            padding-top: 50px;
            margin: auto;
            text-align: center;
        }


        .td_proveedor .ac_container{
            width: 93% !important;
        }

        #add_prov:hover{
            cursor: pointer;
        }

    </style>

{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/validar_rucs.js"></script>
    <script type="text/javascript">

        function getURLCantBodegaInventario(){
            return "{% url "get_cantidades_bodega_det_inventario" %}"
        }

        function getURLExisteBodegaInventario(){
            return "{% url "get_existe_item_bodega_contrato" %}"
        }

        function getURLSelectNumContratos(){
            return "{% url "get_select_cliente_contrato" %}"
        }

        var url_get_unidad_medida = "{% url "get_unidad_medida_item" %}";
        var url_get_costo = "{% url "get_costo_item" %}";
        var url_validar_fecha_inventario = "{% url "validar_fecha_inventario_ie" %}";
        var url_calcular_totales_compra_inventario = "{% url "calcular_totales_compra_inventario" %}";
        var fecha_actual = "{% now "Y-m-d" %}";
        var dir_combo_vineta = "{{ STATIC_URL }}cm_html/images/combo_vineta.png";

    </script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_ventas/funciones_venta.js"></script>
    <script src="{{ STATIC_URL }}js/js_inventario/funciones_inventario.js"></script>
    <script src="{{ STATIC_URL }}js/js_inventario/inventario.js"></script>
    <script type="text/javascript">

    </script>
{% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"
 {% endblock %}
 {% block ruta-principal %}Inventarios{% endblock %}
 {% block ruta-actual %}Registro de Movimiento de Inventario{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div id="mensajes"></div>
    <form role="form" id="formulario" enctype="multipart/form-data" action="{% url "registrar_inventario" %}" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">

            <div class="comprobante-cabecera-left" style="width: 680px; margin: auto; padding-right: 20px;">
                    <table class="tabla-comprobante-cabecera" >
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.tipo.label }}">
                                {% if formulario.tipo.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.tipo.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" style="width: 200px">
                                {% if formulario.tipo.errors %}{{ formulario.tipo|add_class:"campo_requerido combo" }}{% else %}{{ formulario.tipo|add_class:"combo" }}{% endif %}
                            </td>
                            <td class="td-label2">
                                <label class="control-label" for="{{ formulario.fecha_reg.label }}">
                                {% if formulario.fecha_reg.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.fecha_reg.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control2">
                                {% if formulario.fecha_reg.errors %}{{ formulario.fecha_reg|add_class:"campo_requerido calendario-gris txt-100pc input-calendario" }}{% else %}{{ formulario.fecha_reg|add_class:"calendario-gris txt-100pc input-calendario" }}{% endif %}
                            </td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr class="tr_motivo_ingreso">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.motivo.label }}">
                                {% if formulario.motivo.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.motivo.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario.motivo.errors %}{{ formulario.motivo|add_class:"campo_requerido combo" }}{% else %}{{ formulario.motivo|add_class:"combo" }}{% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr class="tr_motivo_egreso">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.motivo_egreso.label }}">
                                {% if formulario.motivo_egreso.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.motivo_egreso.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario.motivo_egreso.errors %}{{ formulario.motivo_egreso|add_class:"campo_requerido combo" }}{% else %}{{ formulario.motivo_egreso|add_class:"combo" }}{% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr id="tr_proveedor">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.proveedor.label }}">
                                {% if formulario.proveedor.field.required %}
                                 <!--   <span class="requerido">*</span> -->
                                {% else %}
                                <!--    <span class="no-requerido"></span> -->
                                {% endif %}
                                <span class="requerido">*</span>
                                <b>{{ formulario.proveedor.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative td_proveedor" colspan="3">

                                {% if formulario.proveedor.errors %}{{ formulario.proveedor|add_class:"campo_requerido combo" }}{% else %}{{ formulario.proveedor|add_class:"combo" }}{% endif %}

                            </td>
                            <td>
                                <a id="add_prov" class="enlace_add_proveedor" style="margin-left:0; position: relative; top: 0px; right: 20px;">
                                    +
                                </a>
                            </td>
                        </tr>
                         <tr id="tr_num_contrato">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.num_contrato.label }}">
                                {% if formulario.num_contrato.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.num_contrato.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario.num_contrato.errors %}{{ formulario.num_contrato|add_class:"campo_requerido combo" }}{% else %}{{ formulario.num_contrato|add_class:"combo" }} {% endif %}
                            </td>
                            <td></td>
                        </tr>

                        <tr id="tr_num_guia_r">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.numero_guia_r.label }}">
                                {% if formulario.numero_guia_r.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.numero_guia_r.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario.numero_guia_r.errors %}{{ formulario.numero_guia_r|add_class:"campo_requerido" }}{% else %}{{ formulario.numero_guia_r }}{% endif %}
                            </td>
                            <td></td>
                        </tr>

                        <tr id="tr_tipo_doc">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.tipo_doc.label }}">
                                {% if formulario.tipo_doc.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.tipo_doc.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario.tipo_doc.errors %}{{ formulario.tipo_doc|add_class:"campo_requerido" }}{% else %}{{ formulario.tipo_doc }}{% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr id="tr_num_doc">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.num_doc.label }}">
                                {% if formulario.num_doc.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.num_doc.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario.num_doc.errors %}{{ formulario.num_doc|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.num_doc|add_class:"txt-100pc" }}{% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td-label1" style="vertical-align: top; padding-top: 10px;">
                                <label class="control-label" for="{{ formulario.concepto.label }}">
                                {% if formulario.concepto.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.concepto.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3" style="padding-top: 2px;">
                                {% if formulario.concepto.errors %}{{ formulario.concepto|add_class:"textarea campo_requerido" }}{% else %}{{ formulario.concepto|add_class:"textarea" }}{% endif %}
                            </td>

                        </tr>
                    </table>
                </div>

        </div>

        <div id="div_gr_venta" class="row row-comprobante-cabecera" style="width: auto;">
            <div class="comprobante-cabecera-left" style="width: 680px; margin: auto; padding-right: 20px;">
                <h3 class="sub-title-comprobante">GUÍA DE REMISIÓN</h3>
                <table class="tabla-comprobante-cabecera" >
                    <tr>
                        <td class="td-label1">
                            <label class="control-label" for="{{ guia.serie.label }}">
                            {% if guia.serie.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ guia.serie.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 350px">
                            {% if guia.serie.errors %}{{ guia.serie|add_class:"campo_requerido combo" }}{% else %}{{ guia.serie }}{% endif %}
                        </td>

                        <td class="td-label2">
                            <label class="control-label" for="{{ guia.fecha_emision.label }}">
                            {% if guia.fecha_emision.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ guia.fecha_emision.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control2" colspan="3">
                            {% if guia.fecha_emision.errors %}{{ guia.fecha_emision|add_class:"campo_requerido calendario-gris input-calendario" }}{% else %}{{ guia.fecha_emision }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label1">
                            <label class="control-label" for="{{ guia.cliente.label }}">
                            {% if guia.cliente.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ guia.cliente.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1 td-relative" colspan="5">
                            {% if guia.cliente.errors %}{{ guia.cliente|add_class:"campo_requerido combo" }}{% else %}{{ guia.cliente|add_class:"combo" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label1">
                            <label class="control-label" for="{{ guia.direccion_guia.label }}">
                            {% if guia.direccion_guia.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ guia.direccion_guia.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1 td-relative" colspan="3">
                            {% if guia.direccion_guia.errors %}{{ guia.direccion_guia|add_class:"campo_requerido combo" }}{% else %}{{ guia.direccion_guia|add_class:"combo" }}{% endif %}
                        </td>
                        <td class="td-label1">
                            <label class="control-label" for="{{ guia.motivo_guia.label }}">
                            {% if guia.motivo_guia.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ guia.motivo_guia.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1 td-relative" style="width: 350px">
                            {% if guia.motivo_guia.errors %}{{ guia.motivo_guia|add_class:"campo_requerido" }}{% else %}{{ guia.motivo_guia }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="tr-agregar">Fecha de Traslado</a></td>
                        <td>
                            <label class="control-label" for="{{ guia.fecha_inicio.label }}">
                                {% if guia.fecha_inicio.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ guia.fecha_inicio.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" style="width: 352px">
                            {% if guia.fecha_inicio.errors %}{{ guia.fecha_inicio|add_class:"campo_requerido" }}{% else %}{{ guia.fecha_inicio }}{% endif %}
                        </td>
                        <td>
                            <label class="control-label" for="{{ guia.fecha_final.label }}">
                                {% if guia.fecha_final.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ guia.fecha_final.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1 td-relative">
                            {% if guia.fecha_final.errors %}{{ guia.fecha_final|add_class:"campo_requerido" }}{% else %}{{ guia.fecha_final }}{% endif %}
                        </td>
                    </tr>
                </table>
                <h3 class="sub-title-comprobante" style="padding-top: 15px">TRANSPORTISTA</h3>
                <table class="tabla-comprobante-cabecera" >
                    <tr>
                        <td class="td-label1">
                            <label class="control-label" for="{{ guia.compania.label }}">
                            {% if guia.compania.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ guia.compania.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1">
                            {% if guia.compania.errors %}{{ guia.compania|add_class:"campo_requerido combo" }}{% else %}{{ guia.compania }}{% endif %}
                        </td>
                        <td class="td-label2">
                            <label class="control-label" for="{{ guia.ruc_remision.label }}">
                            {% if guia.ruc_remision.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ guia.ruc_remision.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control2">
                            {% if guia.ruc_remision.errors %}{{ guia.ruc_remision|add_class:"campo_requerido" }}{% else %}{{ guia.ruc_remision }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label1">
                            <label class="control-label" for="{{ guia.ciudad.label }}">
                            {% if guia.ciudad.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ guia.ciudad.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1 td-relative" style="width: 200px">
                            {% if guia.ciudad.errors %}{{ guia.ciudad|add_class:"campo_requerido combo" }}{% else %}{{ guia.ciudad|add_class:"combo" }}{% endif %}
                        </td>
                        <td class="td-label1">
                            <label class="control-label" for="{{ guia.direccion_conductor.label }}">
                            {% if guia.direccion_conductor.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ guia.direccion_conductor.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1 td-relative">
                            {% if guia.direccion_conductor.errors %}{{ guia.direccion_conductor|add_class:"campo_requerido" }}{% else %}{{ guia.direccion_conductor }}{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>





        <div id="div_compra">
            <div class="row row-comprobante-detalle">
                {% tabla_formset request detalle_compra_inventario %}
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: right; padding-right: 20px; padding-top: 10px;">
                                <label>Costo Total</label>
                            </td>
                            <td style="width: 162px; text-align: right;">
                                <label id="costo_total">0.00</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 20px; padding-top: 10px;">
                                <label>Sub Total 12%</label>
                            </td>
                            <td style="width: 162px; text-align: right;">
                                <label id="sub_total_12">0.00</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right: 20px; padding-top: 10px;">
                                <label>TOTAL</label>
                            </td>
                            <td style="width: 162px; text-align: right;">
                                <label  id="total">0.00</label>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div id="div_eg_compra">
        </div>

        <div id="div_venta"></div> <!-- Vacio hasta que lo haga Roberto -->

        <div id="div_produccion"></div> <!-- Vacio hasta que salga con la nueva version -->

        <div id="div_ajuste_cant">
            <div class="row row-comprobante-detalle">
                {% tabla_formset request detalle_inv_aju_cant %}
            </div>
        </div>
        <div id="div_ajuste_costo">
            <div class="row row-comprobante-detalle">
                {% tabla_formset request detalle_inv_aju_costo %}
            </div>
        </div>
        <div id="div_gr_compra">
            <div class="row row-comprobante-detalle">
                {% tabla_formset request detalle_inv_gr_form %}
            </div>
        </div>

        <div id="div_formset_contrato">
            <div class="row row-comprobante-detalle">
                {% tabla_formset request detalle_inv_contrato %}
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: right; padding-right: 20px; padding-top: 10px;">
                                <label>Total</label>
                            </td>
                            <td style="width: 162px; text-align: right;">
                                <label id="costo_total_produccion">0.00</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="div_formset_con_interno">
            <div class="row row-comprobante-detalle">
                {% tabla_formset request detalle_con_interno %}
            </div>
        </div>
        <div id="div_inventario_inicial">
            <div class="row row-comprobante-detalle">
                {% tabla_formset request detalle_compra_inventario_inicial %}
            </div>
        </div>
        <div class="text-center div-botones-alto" style="margin-top: 30px;">
           <input class="boton boton-ok btn_grabar" id="grabar" type="submit" value="Grabar">
           <a class="boton boton-gray btn_cancelar" href="{% url "lista_inventario" %}" title="Cancelar">Cancelar</a>
        </div>
    </form>

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                           <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <!-- AQUI VA EL MENSAJE -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="div-proveedor" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Agregar Proveedor</h4>
                </div>
                <div class="modal-body" id="body-ret">

                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                    <form id="form_prov" method="POST" action="{% url "registrar_proveedor" %}" data-search="{% url "get_proveedores" %}">
                        <div class="row row-formulario-modal">
                            {% for form in form_proveedor %}
                                {% if form.field.required %}
                                    <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                        <label class="label-modal">{{ form.label }}</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                        {{ form|add_class:"text-modal txt-100pc" }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-xs-5 col-sm-5 tipo_identificacion_prov" style="padding: 0; display:none">
                            <label class="label-modal">{{ form_proveedor.tipo_proveedor.label }}</label>
                        </div>
                        <div class="col-xs-7 col-sm-7 control-modal tipo_identificacion_prov" style="padding: 0; display:none">
                            {{ form_proveedor.tipo_proveedor|add_class:"text-modal txt-100pc" }}
                        </div>

                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="send_form_prov">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <div id="error" class="alert alert-danger alert-dismissable" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" type="button" class="close"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">

                                    <p id="error-proveedor" class="alert--text"></p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}