{% load widget_tweaks %}
{% if bandera %}
    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
        <tr>
            <td style="border: none;">
                <table id="tabla_detalle_compra_guia" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle">
                    <thead>
                        <tr>
                            <th style="display: none"></th>
                            <th>Item</th>
                            <th>Cantidad Guía</th>
                            <th>Cantidad Documento</th>
                            <th>Costo Total</th>
                            <th>P. Unitario</th>
                        </tr>
                    </thead>
                    {{ forms.management_form }}
                    <tbody>
                    {% for formularios in forms %}
                        <tr>
                            {% for form in formularios %}
                                    {% if form.label == "id_item"%}
                                        <td style="display: none">{{ form }}</td>
                                    {% else %}
                                        <td>{% if form.errors %}{{ form|add_class:"campo_requerido" }}{% else %}{{ form }}{% endif %}</td>
                                    {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        <tr>
    </table>
{% else %}
    No tiene
{% endif %}