{% extends "base.html" %}
{% block title %}Reporte Movimientos Bancarios{% endblock %}
{% load snnipet_cabecera_transaccion_id %}
{% load operaciones_template %}
{% load permisostag %}
{% load snnipet_generales %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">

{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_bancos/movimientos_bancarios.js"></script>
    <script>
      jQuery(document).ready(function($) {

            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

        });

        jQuery(document).ready(function($) {
            var formulario = $('#formulario');
            $('#limpiar').click(function(){
               limpiar_form(formulario);
               show_hide_prov($("#id_sel_all"));
                //estas lineas me controlan el error de los reportes que se caen al ser generados desde un elemento de nulls cuando limpio con el boton de limpiar la consulta
                $('.div-descargas').remove();
               $('.row-cabecera').remove();
            });

            calcular_totales();

            show_hide_prov($("#id_sel_all"));

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(){
                EliminarFila(this);
            });
            $("#id_sel_all").click(function(){
                show_hide_prov(this);
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();
        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Bancos / Movimientos Bancarios{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_movimientos_bancarios" %}" data-action="{% url "reporte_movimientos_bancarios" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>

                            <td>
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Todos los bancos</label>
                            </td>
                            <td colspan="3">{{ buscador.sel_all }}</td>
                        </tr>
                    </table>
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table class="tabla-comprobante-cabecera" id="proveedores">
                                    {{ bancos.management_form }}
                                    <tbody>
                                    {% for form in bancos %}
                                        <tr>
                                            <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                            </td>
                                            <td class="td-label1" style="text-align: left; width: 116px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.banco.label }}">
                                                {% if form.banco.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.banco.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.banco.errors %}{{ form.banco|add_class:"campo_requerido combo" }}{% else %}{{ form.banco|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="margin: 0; padding: 0;">
                            <td style="border: none; margin: 0; padding: 0;">
                                <table id="tb-boton-add" style="margin: 0">
                                    <tr>
                                        <td  style="border: 0;">
                                            <a class="tr-agregar" id="add_proveedor"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otro banco</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" id="limpiar" title="Limpiar">
        </div>
    </form>
    {% if lista %}
            <div class ="datos-mostrar-ocultar">
            <div class="div-content-report-jasper">
                <div class="div div-descargas" style="padding: 0; ">
                    <a  class="img_report img_excel excel" href="{% url "reporte_movimientos_bancarios_excel" %}"></a>
                    <a  class="img_report img_pdf excel" href="{% url "reporte_movimientos_bancarios_pdf" %}"></a>
                </div>

                <div style="border: 2px solid #E5E5E5;">
                    {{ lista.content|safe }}
                </div>
            </div>
            </div>
        {% else %}
            <p class="resultado-vacio"></p>
        {% endif %}
    <div class="div div-agregar">
            <a class="boton boton-gray " href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}