{% extends "base.html" %}
{% block title %}Reporte Lista Cheques Girados{% endblock %}
{% load snnipet_cabecera_transaccion_id %}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_bancos/saldo_bancos_por_fecha.js"></script>
    <script>
      jQuery(document).ready(function($) {

            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

        });

        jQuery(document).ready(function($) {
            var formulario = $('#formulario');
            $('#limpiar').click(function(){
               limpiar_form(formulario);
               show_hide_prov($("#id_sel_all"));
                //esto de abajo quita los componentes que hacen los reportes si es que he limpiado el buscador, para que el sitio no trate de hacer reportes con nulls y asi no se caiga
                $('.div-descargas').remove();
               $('.row-cabecera').remove();
            });

            $(".tabla_reporte").each(function(){
                var td_total_valor = $(this).find(".total_valor");
                var total_valor = 0.0;
                $(this).find(".valor").each(function()
                {
                    total_valor += parseFloat($(this).text());
                });
                td_total_valor.text(total_valor.toFixed(2));
            });

            show_hide_prov($("#id_sel_all"));

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(){
                EliminarFila(this);
            });
            $("#id_sel_all").click(function(){
                show_hide_prov(this);
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();
        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}
 {% block container-navigation-media %}container-navigation-media{% endblock %}
 {% block container-contenido-media %}container-contenido-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Bancos / Cheques Girados{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_listado_cheques_girados" %}" data-action="{% url "reporte_listado_cheques_girados" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>

                            <td>
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Todos los bancos</label>
                            </td>
                            <td colspan="3">{{ buscador.sel_all }}</td>
                        </tr>
                    </table>
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table class="tabla-comprobante-cabecera" id="proveedores">
                                    {{ bancos.management_form }}
                                    <tbody>
                                    {% for form in bancos %}
                                        <tr>
                                            <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                            </td>
                                            <td class="td-label1" style="text-align: left; width: 116px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.banco.label }}">
                                                {% if form.banco.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.banco.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.banco.errors %}{{ form.banco|add_class:"campo_requerido combo" }}{% else %}{{ form.banco|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="margin: 0; padding: 0;">
                            <td style="border: none; margin: 0; padding: 0;">
                                <table id="tb-boton-add" style="margin: 0">
                                    <tr>
                                        <td  style="border: 0;">
                                            <a class="tr-agregar" id="add_proveedor"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otro banco</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" id="limpiar" title="Limpiar">
        </div>
    </form>

    {% if lista|length > 0 %}
        <div class="div div-descargas">
            {% if_tiene_permiso request "reporte_listado_cheques_girados_excel"%}
                <a class="img_report img_excel excel" title="Descagar en Excel" href="{% url "reporte_listado_cheques_girados_excel" %}"></a>
            {% endif_tiene_permiso %}
            <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_listado_cheques_girados_pdf" %}"></a>
        </div>
        <div class="row row-cabecera">
            {% for obj_list in lista %}
                {% if obj_list.lista %}
                    <div class="div-centrar div-tabla">
                        <h4 class="reporte-subtitle">{{ obj_list.banco.descripcion }}</h4>
                        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped tabla_reporte" cellpadding="0" cellspacing="0">
                            <tr>
                                <th class="text-center" style="width: 120px"># Comprobante</th>
                                <th class="text-center" style="width: 110px">Fecha Registro</th>
                                <th class="text-center" style="width: 100px"># Cheque</th>
                                <th class="text-center">Beneficiario</th>
                                <th class="text-center">Concepto</th>
                                <th class="text-center" style="width: 100px">Valor</th>
                            </tr>
                            {% for obj in obj_list.lista %}
                                {% if obj.num_cheque %}
                                    <tr>
                                        <td><a href="{% get_url_detalle_comp_num_comp obj.num_comp %}" target="_blank"><ins>{{ obj.num_comp }}</ins></a></td>
                                        <td class="text-center">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                                        <td class="text-center">{{ obj.num_cheque}}</td>
                                        <td>{{ obj.persona|default_if_none:""|slice:"0:30" }}</td>
                                        <td>{{ obj.concepto|slice:"0:40"}}</td>
                                        <td style="text-align: right" class="valor">{{ obj.valor|floatformat:"2" }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td colspan="5">Total</td>
                                <td style="text-align: right" class="total_valor"></td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {% mensaje_no_data request %}
    {% endif %}
    <div class="div div-agregar">
            <a class="boton boton-gray " href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}