{% load operaciones_template %}
<!-- Tipo Inventario -->
{% if tipo == 1 %}
    {% if inventario %}
        <table class="tabla-formato" style="width: 100%;">
            <tr style="border-bottom: 1px solid gray;">
                <td colspan="4">
                    Inventario
                </td>
            </tr>
            <tr>
                <td>
                    N° Comp: {{ inventario.num_comp }}
                </td>
                <td>
                    N° Doc: {{ inventario.num_doc }}
                </td>
                <td>
                    Fecha Registro: {{ inventario.fecha_reg|date:"Y-m-d" }}
                </td>
                <td>
                    Detalle: {{ inventario.detalle }}
                </td>
            </tr>
        </table>
        <table id="tabla_reporte" class="tabla table-striped tabla-formato" style="margin-bottom: 20px;">
            <tr>
                <th>Item</th>
                <th>Cantidad</th>
                <th>Costo</th>
                <th>Total</th>
            </tr>
           {% for detalle in inventario.getInventarioDetalles %}
                <tr>
                    <td>{{ detalle.item.nombre }}</td>
                    <td class="td-numero">{{ detalle.cantidad|floatformat:2 }}</td>
                    <td class="td-numero">{{ detalle.costo|floatformat:2 }}</td>
                    <td class="td-numero">{% multiplicacion_snippet  detalle.cantidad detalle.costo %}</td>
                </tr>

           {% endfor %}

        </table>
    {% endif %}
{% endif %}

<!-- Tipo Venta -->
{% if tipo == 2 %}
    {% if venta %}

        <table class="tabla-formato" style="width: 100%; margin-bottom: 10px;">
            <tr style="border-bottom: 1px solid gray;">
                <td colspan="2">
                    Venta
                </td>
            </tr>
            <tr>
                <td>
                    N° Comp: {{ venta.numero_comprobante }}
                </td>
                <td>
                    N° Doc: {{ venta.num_documento }}
                </td>
            </tr>
            <tr>
                <td>
                    Fecha Registro: {{ venta.fecha|date:"Y-m-d" }}
                </td>
                <td>
                    Concepto: {{ venta.concepto }}
                </td>
            </tr>
        </table>

    {% endif %}
{% endif %}


<!-- Tipo Venta -->
{% if tipo == 3 %}
    {% if compra %}

        <table class="tabla-formato" style="width: 100%; margin-bottom: 10px;">
            <tr style="border-bottom: 1px solid gray;">
                <td colspan="2">
                    Compra
                </td>
            </tr>
            <tr>
                <td>
                    N° Comp: {{ compra.num_comp }}
                </td>
                <td>
                    Código Proveedor: {{ compra.proveedor.ruc}}
                </td>
            </tr>
            <tr>
                <td>
                    N° Doc: {{ compra.num_doc }}

                </td>
                <td>
                    Base 0: {{ compra.base0|floatformat:2}}
                </td>
            </tr>
            <tr>
                <td>
                    Fecha Registro: {{ compra.fecha_emi|date:"Y-m-d" }}

                </td>
                <td>
                    Base Iva: {{ compra.baseiva|floatformat:2 }}
                </td>

            </tr>
            <tr>
                <td>
                    Razón Social Proveedor: {{ compra.proveedor.razon_social }}

                </td>
                <td>
                    Monto Iva: {{ compra.monto_iva|floatformat:2}}
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    Concepto: {{ compra.concepto }}
                </td>
            </tr>
        </table>

    {% endif %}
{% endif %}