{% load operaciones_template %}
<!-- Tipo Inventario -->
{% if tipo == 1 %}
    {% if inventario %}
        <table class="tabla-formato" style="width: 100%;margin-top: 5px;">
            <tr style="border-bottom: 1px solid gray;">
                <td style="text-align: left; padding: 2px 0px;  width: 100px;">
                    Inventario
                </td>
                <td  colspan="2" style="text-align: left;  padding: 2px 5px 0px 0px;">
                    N° Doc: {{ inventario.num_doc }}
                </td>
            </tr>
            <tr>
                <td style="text-align: left;  padding: 2px 5px 0px 0px; width: 150px;">
                    N° Comp: {{ inventario.num_comp }}
                </td>

                <td style="text-align: left;  padding: 2px 5px 0px 0px; width: 200px;">
                    Fecha Registro: {{ inventario.fecha_reg|date:"Y-m-d" }}
                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 0px;">
                    Detalle: {{ inventario.detalle }}
                </td>
            </tr>
        </table>
        <table id="tabla_reporte" class="tabla table-striped tabla-formato" style="margin-bottom: 20px; width: 100%;">
            <tr>
                <th style="text-align: center; border-bottom: 1px solid gray;padding: 2px 5px; ">Item</th>
                <th style="text-align: center; border-bottom: 1px solid gray;width: 100px; padding: 2px 5px; ">Cantidad</th>
                <th style="text-align: center; border-bottom: 1px solid gray;width: 100px; padding: 2px 5px; ">Costo</th>
                <th style="text-align: center; border-bottom: 1px solid gray;width: 100px; padding: 2px 5px; ">Total</th>
            </tr>
           {% for detalle in inventario.getInventarioDetalles %}
                <tr>
                    <td style="text-align: left;  padding: 2px 5px 0px 5px;">{{ detalle.item.nombre }}</td>
                    <td style="text-align: right;  padding: 2px 5px 0px 5px;">{{ detalle.cantidad|floatformat:2 }}</td>
                    <td style="text-align: right;  padding: 2px 5px 0px 5px;">{{ detalle.costo|floatformat:2 }}</td>
                    <td style="text-align: right;  padding: 2px 5px 0px 5px;">{% multiplicacion_snippet  detalle.cantidad detalle.costo %}</td>
                </tr>

           {% endfor %}

        </table>
    {% endif %}
{% endif %}

<!-- Tipo Venta -->
{% if tipo == 2 %}
    {% if venta %}

        <table class="tabla-formato" style="width: 100%; margin-bottom: 10px;">
            <tr style="border-bottom: 1px solid gray;">
                <td colspan="2" style="text-align: left; border-bottom: 1px solid gray; padding: 2px 0px; ">
                    Venta
                </td>
            </tr>
            <tr>
                <td style="text-align: left;  padding: 2px 0px;">
                    N° Comp: {{ venta.numero_comprobante }}
                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px;">
                    N° Doc: {{ venta.num_documento }}
                </td>
            </tr>
            <tr>
                <td style="text-align: left;  padding: 2px 0px;">
                    Fecha Registro: {{ venta.fecha|date:"Y-m-d" }}
                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px;">
                    Concepto: {{ venta.concepto }}
                </td>
            </tr>
        </table>

    {% endif %}
{% endif %}


<!-- Tipo Venta -->
{% if tipo == 3 %}
    {% if compra %}

        <table class="tabla-formato" style="width: 100%; margin-bottom: 10px;">
            <tr style="border-bottom: 1px solid gray;">
               <td colspan="4" style="text-align: left; border-bottom: 1px solid gray; padding: 2px 0px; ">
                    Compra
                </td>
            </tr>
            <tr>
                <td style="text-align: left;  padding: 2px 0px; width: 150px;">
                    N° Comp:
                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px; width: 300px;">
                   {{ compra.num_comp }}
                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px;">
                    Código Proveedor:
                </td>
                <td style="text-align: right;  padding: 2px 5px 0px 5px;">
                     {{ compra.proveedor.ruc}}
                </td>
            </tr>
            <tr>
                <td style="text-align: left;  padding: 2px 0px;">
                    N° Doc:

                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px;">
                    {{ compra.num_doc }}

                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px;">
                    Base 0:
                </td>
                <td style="text-align: right;  padding: 2px 5px 0px 5px;">
                    {{ compra.base0|floatformat:2}}
                </td>
            </tr>
            <tr>
                <td style="text-align: left;  padding: 2px 0px;">
                    Fecha Registro:

                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px;">
                    {{ compra.fecha_emi|date:"Y-m-d" }}

                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px;">
                    Base Iva:
                </td>
                <td style="text-align: right;  padding: 2px 5px 0px 5px;">
                    {{ compra.baseiva|floatformat:2 }}
                </td>

            </tr>
            <tr>
                <td style="text-align: left;  padding: 2px 0px;">
                    Razón Social Proveedor:

                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px;">
                    {{ compra.proveedor.razon_social }}

                </td>
                <td style="text-align: left;  padding: 2px 5px 0px 5px;">
                    Monto Iva:
                </td>
                <td style="text-align: right;  padding: 2px 5px 0px 5px;">
                    {{ compra.monto_iva|floatformat:2}}
                </td>
            </tr>

            <tr>
                <td style="text-align: left;  padding: 2px 0px;">
                    Concepto: {{ compra.concepto }}
                </td>
                <td colspan="3" style="text-align: left;  padding: 2px 0px;">
                    Concepto: {{ compra.concepto }}
                </td>
            </tr>
        </table>

    {% endif %}
{% endif %}