{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Libro Mayor{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Reporte Libro Mayor{% endblock %}
{% block tabla_contenido %}


    {% for obj in lista %}

        <table class="table table-hover  tabla table-striped" border="0">
            <thead>
                <tr>
                    <th colspan="6" style="text-align: left; padding: 3px 2px 0px 2px; width: 80px;">
                        Saldos de: {{ obj.cuenta.descripcion }} - {{ obj.cuenta.codigo }}
                    </th>

                </tr>
                <tr>
                    <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 2px 0px 2px; width: 80px;">Fecha</th>
                    <th style="text-align: center;border-top: 1px solid gray;  border-bottom: 1px solid gray;  padding: 2px 2px 0px 2px; width: 100px;"># Comprobante</th>
                    <th style="text-align: center;border-top: 1px solid gray;  border-bottom: 1px solid gray;   padding: 2px 2px 0px 2px;">Concepto</th>
                    <th style="text-align: center;border-top: 1px solid gray;  border-bottom: 1px solid gray;   padding: 2px 2px 0px 2px; width: 70px;">Débito</th>
                    <th style="text-align: center;border-top: 1px solid gray;  border-bottom: 1px solid gray;  padding: 2px 2px 0px 2px; width: 70px;">Crédito</th>
                    <th style="text-align: center;border-top: 1px solid gray;  border-bottom: 1px solid gray;  padding: 2px 2px 0px 2px; width: 70px;">Saldo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" style="text-align: left; border-bottom: 1px solid gray;  padding: 2px 5px; font-size: 9px;">Saldo Inicial</td>
                    <td style="text-align: right; border-bottom: 1px solid gray;  padding: 2px 5px; font-size: 9px;">{{ obj.saldo|floatformat:"2" }}</td>
                </tr>
                {% for obj_det in obj.lista %}
                    <tr>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj_det.detalle.cabecera_contable.fecha|date:"Y-m-d" }}</td>
                        <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{ obj_det.detalle.cabecera_contable.numero_comprobante }}</td>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj_det.detalle.cabecera_contable.concepto_comprobante }}</td>
                        {% if obj_det.detalle.dbcr == "D" %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj_det.detalle.valor|floatformat:"2" }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;"></td>
                        {% else %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;"></td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj_det.detalle.valor|floatformat:"2" }}</td>
                        {% endif %}
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj_det.saldo|floatformat:"2" }}</td>
                    </tr>
                {% endfor%}
                <tr>
                    <td colspan="3" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;">Totales:</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj.saldo_debe|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj.saldo_haber|floatformat:"2" }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}