{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% load snnipet_generales %}
{% block titulo %}Reporte 103{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Reporte 103{% endblock %}
{% block tabla_contenido %}
    {% for obj in lista %}
        <p class="tabla-pre-detalles"><label class="detalle-codigo">Codigo de Retención: </label> {{ obj.codigo.codigo }} </p>
        <p class="tabla-pre-detalles"><label class="detalle-codigo">Descripción: </label> {{ obj.codigo.descripcion }} </p>
        <table class="table table-hover  tabla table-striped" border="0">
            <thead>
                <tr>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;"># Comprobante</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 70px;">Fecha</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;  width: 70px;">Tipo Doc.</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;  width: 100px;"># Documento</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 300px;">Proveedor</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;  ">Concepto</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;  width: 80px;">Base</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;  width: 80px;">%</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 80px;">Valor Retenido</th>
                </tr>
            </thead>
            <tbody>
                {% for det in obj.lista %}
                        <tr>
                            <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ det.compra_cabecera.num_comp }}</td>
                            <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{ det.compra_cabecera.fecha_reg|date:"Y-m-d" }}</td>
                            <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ det.compra_cabecera.documento.descripcion_documento }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ det.compra_cabecera.num_doc }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ det.compra_cabecera.proveedor.razon_social|slice:"0:30" }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ det.compra_cabecera.concepto|slice:"0:60" }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% float_con_comas_snippet det.valor%}</td>
                            <!--
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ det.porc_ret_fte|floatformat:"2" }}</td>
                            --><!--  20 julio 2015 esto de atras no mostraba correcta la retencion el porcentale de la hilera principal no era el de los hijos   -->
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.codigo.porcentaje|floatformat:"2" }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% float_con_comas_snippet det.monto_ret_fte%}</td>
                        </tr>
                {% endfor%}
                <tr>
                    <td colspan="6" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;">Totales:</td>
                    <td style="padding: 2px 5px; text-align: right;">$ {% float_con_comas_snippet obj.total_base%}</td>
                    <td style="padding: 2px 5px; text-align: right;"></td>
                    <td style="padding: 2px 5px; text-align: right;">$ {% float_con_comas_snippet obj.total_ret%}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
   <!-- por aqui debo poner los totales finales de las sumas  -->
    <br>
                <table>
                <tr>
                    <td colspan="6" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;"></td>
                    <td style="padding: 2px 5px; text-align: right; font-size: 10px; font-weight: bold">Total Base</td>
                    <td style="padding: 2px 5px; text-align: right; font-size: 10px; font-weight: bold">Total Valor Retenido</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;"></td>
                    <td style="padding: 2px 5px; text-align: right;">$ {% float_con_comas_snippet total_todas_compras%}</td>
                    <td style="padding: 2px 5px; text-align: right;">$ {% float_con_comas_snippet total_todas_ret%}</td>
                </tr>
                </table>
{% endblock %}