{% extends "base.html" %}
{% block title %}Reporte 103{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script>
        jQuery(document).ready(function($) {
            var inp_fech_ini = $("#id_fecha_ini");
            var inp_fech_final = $("#id_fecha_final");
            var formulario = $('#formulario');

             $('#limpiar').click(function(){
               limpiar_form(formulario);
                $('.div-descargas').remove();
                $('.row-cabecera').remove();
            });

            inp_fech_final.datepicker().mask('9999-99-99').val(inp_fech_final.attr("value"));
            inp_fech_ini.datepicker().mask('9999-99-99').val(inp_fech_ini.attr("value"));

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });

            $(".excel").click(function(e){
                cambiar_action_form(e, formulario, this);
                formulario.submit();
            });

            $("#buscar").click(function(e){
                cambiar_action_form(e, formulario, null);
                formulario.submit();
            });

        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}SRI / Formulario 103{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_103" %}" data-action="{% url "reporte_103" %}" class="form-group" id="formulario" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {% if buscador.fecha_ini.errors %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>
                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>
                            <td>
                                {% if buscador.fecha_final.errors %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="display: none">
                            <td>{{ buscador.page }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>
{% if lista %}
    <div class="div div-descargas" style="padding: 0">
        <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_103_excel" %}"></a>
        <a class="img_report img_pdf excel" title="Descagar en PDF" target="_blank" href="{% url "reporte_103_pdf" %}"></a>
    </div>
{% endif %}
{% if lista %}
    <div class="row row-cabecera">
        <div class="div-centrar div-tabla">
            {% for obj in lista %}
                <p class="tabla-pre-detalles"><label class="detalle-codigo">Codigo de Retención: </label> {{ obj.codigo.codigo }} </p>
                <p class="tabla-pre-detalles"><label class="detalle-codigo">Porcentaje de Retención: </label> {{ obj.codigo.porcentaje }}%</p>
                <p class="tabla-pre-detalles"><label class="detalle-codigo">Descripción: </label> {{ obj.codigo.descripcion }} </p>
                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="text-center" style="width: 100px"># Comprobante</th>
                        <th class="text-center" style="width: 100px">Fecha</th>
                        <th class="text-center" style="width: 160px">Tipo Documento</th>
                        <th class="text-center" style="width: 136px"># Documento</th>
                        <th class="text-center" style="width: 136px">Proveedor</th>
                        <th class="text-center">Concepto</th>
                        <th class="text-center" style="width: 90px">Base</th>
                        <th class="text-center" style="width: 90px"> % </th>
                        <th class="text-center" style="width: 90px">Retenido</th>
                    </tr>
                    {% for det in obj.lista %}
                        <tr>
                            <td><a href="{% url "detalle_compra" det.compra_cabecera.id%}"><ins>{{ det.compra_cabecera.num_comp }}</ins></a></td>
                            <td style="text-align: center;">{{ det.compra_cabecera.fecha_reg|date:"Y-m-d" }}</td>
                            <td>{{ det.compra_cabecera.documento.descripcion_documento }}</td>
                            <td>{{ det.compra_cabecera.num_doc }}</td>
                            <td>{{ det.compra_cabecera.proveedor.razon_social }}</td>
                            <td>{{ det.compra_cabecera.concepto|slice:"0:50" }}</td>
                            <td style="text-align: right">{% float_con_comas_snippet det.valor %}</td>
                            <!--
                            <td style="text-align: right">{{ det.porc_ret_fte }}yo puse lo de iva {{ det.porc_ret_iva }}</td>
                            --><!--  20 julio cambio, lo de atras estaba hasta antes, funcionaba raro porque el codigo de la glosa unitaria a veces no era el del titulo de cada grupo  -->
                            <td style="text-align: right">{{ obj.codigo.porcentaje }}</td>
                            <td style="text-align: right">{% float_con_comas_snippet det.monto_ret_fte%}</td>
                        </tr>
                    {% endfor%}
                    <tr>
                        <td colspan="5" style="background: white !important; border: 0px;"></td>
                        <td style="text-align: right; padding-right: 10px;background: white !important; border: 0px;">Totales</td>
                        <td style="text-align: right; border: 0px;background: #E6E6E6 !important;">$ {% float_con_comas_snippet obj.total_base%}</td>
                        <td style="text-align: right; border: 0px;background: #E6E6E6 !important;"></td>
                        <td style="text-align: right; border: 0px;background: #E6E6E6 !important;">$ {% float_con_comas_snippet obj.total_ret%}</td>
                    </tr>
                </table>
            {% endfor %}
        </div>

        <table id="table-info-registro" style="margin-top: 55px;width: 390px !important; float: right" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
            <tr>
                <th class="text-center" style="width: 195px">Total Base</th>
                <th class="text-center" style="width: 195px">Total Retenido</th>
            <tr>
                <td style="text-align: right; border: 0;background: #E6E6E6 !important;">$ {% float_con_comas_snippet total_todas_compras %}</td>
                <td style="text-align: right;border: 0;background: #E6E6E6 !important;">$ {% float_con_comas_snippet total_todas_ret%}</td>
            </tr>
        </table>
    </div>
{% else %}
    {% mensaje_no_data request %}
{% endif %}

    <div class="div div-agregar" id="btn-regresar">
            <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}