{% extends "base.html" %}
{% block title %}
    {% if tipo == 1 %}
        Agregar Usuario
    {% elif tipo == 2 %}
        Editar Usuario
    {% elif tipo == 3 %}
        Perfil Usuario
    {% else %}
        Detalle Usuario
    {% endif %}
{% endblock %}
{% load snnipet_generales %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
         .campo_requerido{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
         }
         .campo_requerido:hover{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
         }
    </style>

{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    function isCedula(obj){
        var number = $(obj).val();
        var residuo=0;
        var respuesta=0;
        var suma_cedula=0;
        var result=0;
        var divi= number.substring(0,9);
        var porcion1 = number.substring(2,3);
        var rdivi3 = number.substring(9,10);//Digito a verificar cedula
        var contador=0;

            if(porcion1<6 && number.length == 10 && number.substring(0,2)<=24)
            {
                var tmp=0;
                var test=0;
                     for(var y=0; y<divi.length; y++){
                         if(y%2==0){
                            tmp=divi[y]*2;

                             if(tmp<=9){
                                suma_cedula= suma_cedula+tmp;
                             }
                             else{
                                    result = tmp-9;
                                    suma_cedula = suma_cedula+result;
                             }
                         }
                         else{
                                test= divi[y]*1;
                                suma_cedula=suma_cedula+test;
                         }
                     }

                     residuo = suma_cedula % 10;
                     if(residuo==0){
                         respuesta=0;
                         if(respuesta == rdivi3 || respuesta == 0){
                             contador++;
                         }
                     }
                     else{
                          respuesta = parseInt(10-residuo);
                          if(respuesta == rdivi3 || respuesta == 0){
                              contador++;
                          }
                     }
            }

            if(contador==0){
                return false;
            }
            else{
                return true;
            }
        }
        $(document).ready(function() {
            $("#foto-clear_id").attr("style", "display: none;");
            $("label[for='foto-clear_id']").attr("style", "display: none;");
            $(":file").filestyle({buttonText: "Buscar"});
            $('.selectpicker').selectpicker();
            $("#id_cedula").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)){
                     return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
            $("#id_telefono").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)){
                     return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
            /*Sólo letras */
            $("#id_nombres").keypress(function(event) {
                var inputValue = event.which;
                    if((inputValue > 47 && inputValue < 58) && (inputValue != 32)){
                        event.preventDefault();
                    }
                });
            /*Sólo letras */
            $("#id_apellidos").keypress(function(event) {
                 var inputValue = event.which;
                 if((inputValue > 47 && inputValue < 58) && (inputValue != 32)){
                    event.preventDefault();
                 }
            });

            //$( "#id_fecha_Nac" ).mask("9999-99-99").datepicker();
            $("#id_fecha_Nac").datepicker({format: 'yyyy-mm-dd',
                                           range: '1980-01-01 : 2009-12-31',
                                           startDate: '1980-01-01',
                                           endDate: '2009-12-31'});



            $("#id_contrasenia2").focusout(function(){
                var pass1 = $("#id_contrasenia").val();
                if(pass1 != $(this).val()){
                    $("#alert-yn").attr("data-id", $(this).attr("id"));
                    $("#alert-yn").attr("data-target",1);
                    $("#tit-alert").html("Alerta");
                    $("#body-alert").html('<p><i class="glyphicon glyphicon-remove tick"></i><strong class="tick-text">Por favor revise que las contraseñas coincidan.</strong></p>');
                    $("#alert-yn").modal();
                    $("#id_contrasenia").val("");
                    $("#id_contrasenia").addClass("campo_requerido");
                    $("#id_contrasenia2").val("");
                    $("#id_contrasenia2").addClass("campo_requerido");

                }else{
                    $("#id_contrasenia").removeClass("campo_requerido");
                    $("#id_contrasenia2").removeClass("campo_requerido");
                }
            });
        });
    </script>
 {% endblock %}


{% block item-administracion %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/administracion_icono.png"{% endblock %}

{% block ruta-principal %}Administración{% endblock %}
{% block ruta-actual %}
    {% if tipo == 1 %}Agregar Usuario{% elif tipo == 2 %}Editar Usuario{% elif tipo == 3 %}Perfil Usuario{% else %}
        Detalle Usuario{% endif %}
{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% if tipo == 1 %}
                                    {% url "agregar_persona" %}
                                {% elif tipo == 2 %}
                                    {% url "modificar_persona" id %}
                                {% elif tipo == 3 %}
                                     {% url "detalle_persona" id %}
                                {% endif %}" enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}

        <div class="row row-persona-cabecera" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                {% if tipo == 1 %}
                    <h3  class="sub-title-comprobante">
                          AGREGAR USUARIO
                    </h3>
                {% elif tipo == 2 %}
                    <h3  class="sub-title-comprobante">
                          Editar USUARIO
                    <table  style="margin-top: 15px; width: 100%;">
                        <tr>
                            <td style="width: 150px;">

                            </td>
                            <td style="text-align: center">
                                <img  src="{% get_avatar  obj.fotografia %}" alt="user" style="max-height: 160px;max-width: 160px;">
                            </td>
                        </tr>
                    </table>
                    </h3>
                {% elif tipo == 3 or tipo == 4 %}

                    <h3  class="sub-title-comprobante">
                          VER USUARIO
                    </h3>
                    <table  style="margin-top: 15px; width: 100%;">
                       <tr>
                            <td style="width: 150px;"></td>
                            <td style="text-align: center;">
                                {% if objeto.fotografia %}
                                <img src="{{ MEDIA_URL }}usuarios/{{ objeto.fotografia }}" height="160">
                                {% else %}
                                <img src="{{ MEDIA_URL }}usuarios/user_default.png" height="160">
                                {% endif %}
                            </td>
                       </tr>
                    </table>
                {% endif %}
                    <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.cedula.label }}">
                            {% if formulario.cedula.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.cedula.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.cedula.errors %}{{ formulario.cedula|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.cedula|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.nombres.label }}">
                            {% if formulario.nombres.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.nombres.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.nombres.errors %}{{ formulario.nombres|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.nombres|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.apellidos.label }}">
                            {% if formulario.apellidos.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.apellidos.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.apellidos.errors %}{{ formulario.apellidos|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.apellidos|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>

                    {% if tipo == 1 or tipo == 3  %}
                         <tr>
                            <td style="width: 150px;">
                                 <label class="control-label" for="{{ formulario.usuario.label }}">
                                {% if formulario.usuario.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.usuario.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.usuario.errors %}{{ formulario.usuario|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.usuario|add_class:"combo  txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if tipo == 1 %}
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label" for="{{ formulario.contrasenia.label }}">
                                {% if formulario.contrasenia.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.contrasenia.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.contrasenia.errors %}{{ formulario.contrasenia|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.contrasenia|add_class:"combo  txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label" for="{{ formulario.comfirma_contrasenia.label }}">
                                {% if formulario.comfirma_contrasenia.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.comfirma_contrasenia.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.comfirma_contrasenia.errors %}{{ formulario.comfirma_contrasenia|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.comfirma_contrasenia|add_class:"combo  txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.fecha_nac.label }}">
                            {% if formulario.fecha_nac.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.fecha_nac.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.fecha_nac.errors %}
                                {{ formulario.fecha_nac|add_class:"combo txt-100pc campo_requerido" }}
                            {% else %}
                                {{ formulario.fecha_nac|add_class:"combo  txt-100pc" }}
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.telefono.label }}">
                            {% if formulario.telefono.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.telefono.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.telefono.errors %}{{ formulario.telefono|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.telefono|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.direccion.label }}">
                            {% if formulario.direccion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.direccion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.direccion.errors %}{{ formulario.direccion|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.direccion|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.email.label }}">
                            {% if formulario.email.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.email.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.email.errors %}{{ formulario.email|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.email|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.estado_civil.label }}">
                            {% if formulario.estado_civil.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.estado_civil.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.estado_civil.errors %}{{ formulario.estado_civil|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.estado_civil|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.sexo.label }}">
                            {% if formulario.sexo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.sexo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.sexo.errors %}{{ formulario.sexo|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.sexo|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>

                    {% if tipo != 3 %}
                        <tr class="tr-foto">
                            <td style="width: 150px;">
                                 <label class="control-label" for="{{ formulario.foto.label }}">
                                {% if formulario.foto.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.foto.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td style="padding-top: 10px;">
                                {% if formulario.foto.errors %}{{ formulario.foto|add_class:"combo txt-100pc campo_requerido" }}{% else %}

                                    <div id="foto_usuario">
                                        <div id="foto_usuario_int">
                                            {{ formulario.foto|add_class:"txt-100pc" }}
                                        </div>
                                    </div>

                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.facebook.label }}">
                            {% if formulario.facebook.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.facebook.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.facebook.errors %}{{ formulario.facebook|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.facebook|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 150px;">
                             <label class="control-label" for="{{ formulario.twitter.label }}">
                            {% if formulario.twitter.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.twitter.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.twitter.errors %}{{ formulario.twitter|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.twitter|add_class:"combo  txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
    </div>
        <div class="row row-persona-cabecera" style="margin-right: auto; margin-left: auto; margin-top: 20px">
            <div class="col-lg-12 col-persona">
                <h3  class="sub-title-comprobante">
                      GRUPOS / ROL
                </h3>
                <div class="persona-roles">
                    <ul>
                        {% for obj in grupos %}
                            <li  title="{{ obj.nombre }}">{{obj.nombre|slice:"0:47" }}{% if obj.nombre|length > 47 %}...{% endif %}<input type="checkbox"
                                                       name="grupos-{{ obj.id }}"
                                                       value="{{ obj.id }}" {% if tipo == 2 %}
                                                                                {% activar_grupo id obj.id %}
                                                                            {% endif %}>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center" style="padding: 30px 0px;">
            {% if tipo != 3 %}
                <button class="boton boton-ok" type="submit">Guardar</button>
            {% endif %}

            {% if tipo == 3 %}
                 <a class="boton boton-gray" href="{% url "lista_persona" %}">Regresar</a>
            {% else %}
                 <a class="boton boton-gray" href="{% url "lista_persona" %}">Cancelar</a>
            {% endif %}
        </div>
    </form>

    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                           <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <!-- AQUI VA EL MENSAJE -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary  yes" id="ok-alert" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title-ok" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert-ok">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}