{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
    Cambio de Contraseña
{% endblock %}
{% load formulario_base %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
         $(document).ready(function(){
            $("#id_password2").focusout(function(){
                var pass1 = $("#id_password1").val();
                if(pass1 != $(this).val()){
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p><i class="glyphicon glyphicon-remove tick"></i><strong class="tick-text">Por favor revise que coincidan las contraseñas.</strong></p>');
                    $("#alert-ok").modal();
                    $("#id_password1").val("");
                    $("#id_password1").addClass("campo_requerido");
                    $("#id_password2").val("");
                    $("#id_password2").addClass("campo_requerido");

                }else{
                    $("#id_password1").removeClass("campo_requerido");
                    $("#id_password2").removeClass("campo_requerido");
                }
            });
         });
    </script>

{% endblock %}

{% block item-administracion %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/administracion_icono.png"{% endblock %}
{% block ruta-principal %}Usuarios{% endblock %}
    {% block ruta-actual %}
       Cambio de Contraseña
    {% endblock %}
    {% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% url "cambiar_contrasenia" %}" enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}
         <div class="row row-persona-cabecera" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                    <h3  class="sub-title-comprobante">
                          Usuario
                    </h3>
                <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                    <tr>
                        <td style="width: 150px; vertical-align: top; padding-top: 10px;">
                             <label class="control-label" for="{{ formulario.clave_actual.label }}">
                            {% if formulario.clave_actual.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.clave_actual.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.clave_actual.errors %}{{ formulario.clave_actual|add_class:"txt-100pc textarea-cc campo_requerido" }}{% else %}{{ formulario.clave_actual|add_class:"textarea-cc txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px; vertical-align: top; padding-top: 10px;">
                             <label class="control-label" for="{{ formulario.password1.label }}">
                            {% if formulario.password1.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.password1.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.password1.errors %}{{ formulario.password1|add_class:"txt-100pc textarea-cc campo_requerido" }}{% else %}{{ formulario.password1|add_class:"textarea-cc txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px; vertical-align: top; padding-top: 10px;">
                             <label class="control-label" for="{{ formulario.password2.label }}">
                            {% if formulario.password2.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.password2.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.password2.errors %}{{ formulario.password2|add_class:"txt-100pc textarea-cc campo_requerido" }}{% else %}{{ formulario.password2|add_class:"textarea-cc txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
         </div>

         <div class="text-center" style="margin-top: 20px;">
            <button class="boton boton-ok" type="submit">Guardar</button>
             <a class="boton boton-gray" href="{% url "administracion" %}">Cancelar</a>
         </div>
    </form>

        <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal" id="enviar" data-href="{% url "agregar_vigencia_documento_empresa" %}?param=1">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Div para los formulario Popup-->
    <div id="div-cliente" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="tit-ret">Agregar Cliente</h4>
                    </div>

                <div class="modal-body" id="body-ret">
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                        <form id="form_cliente" method="POST" action="{% url "registrar_cliente" %}" data-search="{% url "get_clientes" %}">
                            <div class="row row-formulario-modal">
                                {% for form in form_cliente %}
                                    {% if form.field.required or form.html_name == "tipo_cliente" %}
                                        {% if form.html_name == "tipo_cliente" %}
                                            <div id="select_tipo_cliente">
                                                <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                                    <label class="label-modal">{{ form.label }}</label>
                                                </div>
                                                <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                                    {{ form|add_class:"text-modal txt-100pc" }}
                                                </div>
                                            </div>

                                        {% else %}

                                                <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                                    <label class="label-modal">{{ form.label }}</label>
                                                </div>
                                                <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                                    {{ form|add_class:"text-modal txt-100pc" }}
                                                </div>

                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for form2 in form_direccion %}
                                    {% if form2.field.required %}
                                        <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                            <label class="label-modal">{{ form2.label }}</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                            {{ form2|add_class:"text-modal txt-100pc" }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="send_form_cliente">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <div id="error" class="alert alert-danger alert-dismissable" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p id="error-cliente" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}