{% extends "base.html" %}
{% block title %}
    {% if tipo == 3 %}
        Detalle Usuario
    {% elif tipo == 4 %}
        Perfil Usuario
    {% endif %}
{% endblock %}
{% load formulario_base %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        .numerico{
            text-align: left !important;
        }
        .bootstrap-filestyle{
            display: block !important;
        }

    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.selectpicker').selectpicker();
            $(":file").filestyle({buttonText: "Buscar"});
            $("#id_fecha_nac" ).mask("9999-99-99").datepicker();
            $(".numerico").each(function(){
                $(this).keydown(function(event){
                    NumeroEntero(event);
                });
             });

            $("#id_foto").change(function(){
                cargar_imagen(this, $('#foto_user'));
                cargar_imagen(this, $('#foto_mini'));
            });
        });
    </script>
 {% endblock %}

{% block item-administracion %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/administracion_icono.png"{% endblock %}

{% block ruta-principal %}Administración{% endblock %}
{% block ruta-actual %}
     {% if tipo == 3 %}
        Detalles de Usuario
     {% endif %}
{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if tipo == 3 %}
            <div class="row row-persona-cabecera" style="margin: auto;">
                <div class="col-lg-12 col-persona">
                    <h3  class="sub-title-comprobante">
                          VER USUARIO
                    </h3>
                    <table  style="margin-top: 15px; width: 100%;">
                        <tr>
                            <td style="width: 150px;"></td>
                            <td style="text-align: center;">

                                <img src="{% get_avatar objetos.fotografia %}" height="160">
                            </td>
                        </tr>
                    </table>
                    <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label" for="{{ objetos.cedula }}">
                                <b># Documento</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.cedula }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label" for="{{ objetos.nombres_completos }}">
                                <b>Nombres: </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.nombres_completos }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label class="control-label" for="{{ objetos.apellidos_completos }}">
                                <b>Apellidos:</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.apellidos_completos }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label class="control-label" for="{{ objetos.username }}">
                                <b>Usuario</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.username }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label">
                                <b>Fecha de Nacimiento</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.fecha_nacimiento|date:"Y-m-d" }}
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label">
                                <b>Teléfono</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.telefono|default_if_none:"" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label">
                                <b>Dirección</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.direccion|default_if_none:"" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label">
                                <b>Email: </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.email|default_if_none:"" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label class="control-label">
                                <b>Estado Civil</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.estado_civil|default_if_none:"" }}
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label">
                                <b>Sexo</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.sexo|default_if_none:"" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label">
                                <b>Facebook</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.facebook|default_if_none:"" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label">
                                <b>Twitter</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {{ objetos.twitter|default_if_none:"" }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

    {% elif tipo == 4 %}
            <form method="POST" action="{% url "perfil" id %}" enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}
                <div class="row row-persona-cabecera" style="margin: auto;">
                    <div class="col-lg-12 col-persona">
                    <h3  class="sub-title-comprobante">
                              PERFIL
                        </h3>
                    <table  style="margin-top: 15px; width: 100%;">
                            <tr>
                                <td style="width: 150px;"></td>
                                <td style="text-align: center;">
                                    <img id="foto_user" src="{% get_avatar request.user.persona.fotografia %}" height="160">
                                </td>
                            </tr>
                        </table>

                    <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                        <tr>
                            <td style="width: 150px;">
                                 <label class="control-label" for="{{ formulario.cedula.label }}">
                                {% if formulario.cedula.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.cedula.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.cedula.errors %}{{ formulario.cedula|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.cedula|add_class:"combo  txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.nombres.label }}">
                                        {% if formulario.nombres.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.nombres.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.nombres.errors %}{{ formulario.nombres|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.nombres|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.apellidos.label }}">
                                        {% if formulario.apellidos.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.apellidos.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.apellidos.errors %}{{ formulario.apellidos|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.apellidos|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.fecha_nac.label }}">
                                        {% if formulario.fecha_nac.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.fecha_nac.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.fecha_nac.errors %}{{ formulario.fecha_nac|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.fecha_nac|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.telefono.label }}">
                                        {% if formulario.telefono.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.telefono.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.telefono.errors %}{{ formulario.telefono|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.telefono|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.direccion.label }}">
                                        {% if formulario.direccion.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.direccion.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.direccion.errors %}{{ formulario.direccion|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.direccion|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.email.label }}">
                                        {% if formulario.email.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.email.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.email.errors %}{{ formulario.email|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.email|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.sexo.label }}">
                                        {% if formulario.sexo.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.sexo.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.sexo.errors %}{{ formulario.sexo|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.sexo|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.estado_civil.label }}">
                                        {% if formulario.estado_civil.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.estado_civil.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.estado_civil.errors %}{{ formulario.estado_civil|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.estado_civil|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                                <tr class="tr-foto">
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.foto.label }}">
                                        {% if formulario.foto.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.foto.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.foto.errors %}{{ formulario.foto|add_class:"combo txt-100pc campo_requerido" }}{% else %}
                                            <div id="foto_usuario">
                                                <div id="foto_usuario_int">
                                                     {{ formulario.foto|add_class:"txt-100pc" }}
                                                </div>
                                           </div>

                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.facebook.label }}">
                                        {% if formulario.facebook.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.facebook.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.facebook.errors %}{{ formulario.facebook|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.facebook|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;">
                                         <label class="control-label" for="{{ formulario.twitter.label }}">
                                        {% if formulario.twitter.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario.twitter.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td>
                                        {% if formulario.twitter.errors %}{{ formulario.twitter|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.twitter|add_class:"combo  txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                            </table>

                    </div>
                </div>
                 <div class="text-center" style="padding: 30px 0px;">
                    <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
                    <a class="boton boton-gray" href="{% url "administracion" %}">Cancelar</a>
               </div>
            </form>

    {% endif %}
    {% if tipo == 3 %}
            <div class="row row-persona-cabecera" style="margin-right: auto; margin-left: auto; margin-top: 20px">
                <div class="col-lg-12 col-persona">
                    <h3  class="sub-title-comprobante">
                          Grupos al que pertenece
                    </h3>
                    {% if objetos.get_grupos %}
                        <div>
                            <ul>
                                {% for obj in objetos.get_grupos %}
                                    <li>{{ obj.nombre }}<input type="checkbox" checked="checked" disabled="disabled"></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <div><p style="padding-top:5px; font-size: 12px; font-weight: bold">NO PERTENECE A NINGÚN GRUPO</p></div>
                    {% endif %}
                </div>
            </div>
            <div class="text-center" style="padding: 30px 0px;">
                <a class="boton boton-gray" href="{% url "lista_persona" %}">Regresar</a>
            </div>
    {% endif %}
{% endblock %}