{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Proveedores{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 Landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Reporte Proveedores{% endblock %}
{% block tabla_contenido %}
        <table class="table table-hover  tabla table-striped" border="0">
            <thead>
                <tr>

                    <th style="text-align: center; width: 70px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Tipo Persona</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Tipo Iden.</th>
                    <th style="text-align: center;  width: 100px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">N° Iden.</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Razon Social</th>
                    <th style="text-align: center;width: 80px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Actividad</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Direccion</th>
                    <th style="text-align: center;">Teléfono</th>
                    <th style="text-align: center;">Correo Electrónico</th>
                    <th style="text-align: center;">Estado</th>
                </tr>
            </thead>
          <tbody>

                {% for obj in items %}
                <tr>
                    <td  style="text-align: center; font-size: 11px; padding: 2px 5px 0px 0px;">{{obj.tipo_proveedor.descripcion}}</td>
                    <td  style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">
                    {% if obj.tipo_identificacion.id == 3 %}
                    Pasaporte
                    {% else %}
                    {{obj.tipo_identificacion.descripcion}}
                    {% endif %}
                    </td>
                    <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">{{obj.ruc}}</td>
                    <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">{{obj.razon_social}}</td>
                    {% if obj.actividad %}
                    <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">{{ obj.actividad.descripcion }}</td>
                   {% else %}
                    <td style="text-align: left;font-size: 11px; padding: 2px 5px 0px 0px;">No Definida</td>
                   {% endif %}

                    {% if obj.direccion %}
                    <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">{{ obj.direccion }}</td>
                   {% else %}
                    <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">No Definida</td>
                   {% endif %}

                    {% if obj.telefono %}
                    <td style="text-align: left;">{{ obj.telefono }}</td>
                   {% else %}
                    <td style="text-align: left;">No Definido</td>
                   {% endif %}

                    {% if obj.email %}
                    <td style="text-align: left;">{{ obj.email }}</td>
                   {% else %}
                    <td style="text-align: left;">No Definido</td>
                   {% endif %}

                    <td style="text-align: left;">
                    {% if obj.status == 1 %}
                    Activo
                    {% else %}
                    Inactivo
                    {% endif %}
                   </td>


                 {% endfor%}
                </tr>

            </tbody>
        </table>
{% endblock %}