{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Saldos por Proveedor{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Reporte Saldos por Proveedor{% endblock %}
{% block tabla_contenido %}

    <div class="div-centrar div-info-basica">
        <table class="table table-hover  tabla table-striped" border="0">
            <thead>
                <tr>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 220px;">Proveedor</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Saldo Compras</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">N/D</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">N/C</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Anticipos</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in lista %}
                    <tr>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.proveedor.razon_social}} ({{ obj.proveedor.ruc }})</td>
                        <td  style="text-align: right;padding: 2px 5px; font-size: 9px">{{obj.otdoc|floatformat:"2"}}</td>
                        <td  style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.nd|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.nc|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.ant|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.total|floatformat:"2"}}</td>
                    </tr>
                {% endfor%}
            <tr>
                <td style="text-align: left; border-bottom: 1px solid gray; padding: 2px 5px; width: 220px;">
                    Totales:
                </td>
                <td style="text-align: right; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">
                    {{ total_saldo_compras|floatformat:"2" }}
                </td>
                <td style="text-align: right; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">
                    {{ total_nd|floatformat:"2" }}
                </td>
                <td style="text-align: right; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">
                    {{ total_nc|floatformat:"2" }}
                </td>
                <td style="text-align: right; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">
                    {{ total_ant|floatformat:"2" }}
                </td>
                <td style="text-align: right; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">
                    {{ total|floatformat:"2" }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}