{% extends "base.html" %}
{% block title %}Centro de Costos{% endblock %}
{% load snnipet_generales %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_contabilidad/lista_centro_costos.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
{% endblock %}
{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"
 {% endblock %}
 {% block ruta-principal %}Contabilidad{% endblock %}
 {% block ruta-actual %}Buscar Centros de Costo{% endblock %}

{% block content %}
     {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>


         {% endfor %}
    {% endif %}
    <div class="container-buscador container-buscador-hide">
         <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
         </div>
        <form id="formulario" action="" class="row form-group" method="GET">
            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera" style="color: #9A9A9A;">
                            <tr>
                                <td>
                                    <label class="label-td">Descripción: </label>
                                </td>

                                <td>
                                    <input type="text" id="busqueda_centro_costo" class="form-control" data-name="buscador"  value="{{ request.GET.q }}" name="q">
                                </td>
                            </tr>
                        </table>
                        {{ buscador.page }}
                    </div>
                </div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                <input class="boton boton-ok btn-buscadores" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
            </div>
        </form>
    </div>

     <div class="div div-agregar">
        <a class="boton boton-ok" href="{% url "registrar_centro_costo" %}">Agregar</a>
        <a class="boton boton-ok" href="{% url "rectificar_centro_costo" %}">Reasignar</a>
     </div>

     <div class="botones-administracion">
        {% if objetos %}
        <a id ="editar"class="boton boton-administrador" href="#">Editar</a>
        <a id ="estado"class="boton boton-administrador" href="#">Cambiar Estado</a>
        <a id ="eliminar" class="boton boton-administrador" href="#">Eliminar</a>
        {% endif %}
        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
     </div>

     <div class="table-responsive">
            {% if objetos %}




            <table id ="lista" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th></th>
                        <th>Descripción</th>
                        <th  style="width: 120px;">Fecha Creación</th>
                        <th>Usuario Creación</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in objetos %}
                        <tr>
                            <td  style="width: 51px; text-align: center;">
                                <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                    data-eliminar = "{% url "eliminar_centro_costo" obj.id %}"
                                    data-editar ="{% url "modificar_centro_costo" obj.id %}"
                                    data-estado="{% url "cambiar_estado_centro_costo" obj.id %}"/>
                            </td>
                            <td title="{{obj.descripcion}}" class="nombre">{{ obj.descripcion|slice:"0:27" }}{% if obj.descripcion|length > 27 %}...{% endif %}</td>
                            <td>{{obj.fecha_creacion|date:"d-m-Y"}}</td>
                            <td>{{obj.usuario_creacion}}</td>

                            <td style="text-align: center;" class="td_enlace_crud">
                                 {% if obj.status == 1 %}
                                 <label class="enlace_crud estado" data-pro_estado="Inactivar" id="{{obj.id}}"  name="{{obj.nombre}}">Activo</label>
                                 {% else %}
                                 <label class="enlace_crud estado" data-pro_estado="Activar" id="{{obj.id}}"   name="{{obj.nombre}}">Inactivado</label>
                                 {% endif %}
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
            {% else %}
            <p class="resultado-vacio">Su consulta no generó resultados.</p>
            {% endif %}
         {% paginacion_html  objetos arreglo_paginado muestra_paginacion %}

     </div>



    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}