{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
    {% if  tipo == 1 %}
        Agregar Centro de Costo
    {% elif tipo == 2 %}
        Editar Centro de Costo
    {% else %}

    {% endif %}
{% endblock %}
{% load formulario_base %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }

    </style>
{% endblock %}
{% block script %}
    <script type="text/javascript">

        $(document).ready(function(e){
            // Inhabilita el boton de submit evitando que se haga más de una petición
            $("input[type='submit']").click(function(){
                $(this).attr("disabled", false);
                $("form").submit(function(){
                  $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
                  return true;
                });
            });
        });
    </script>
 {% endblock %}

{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"{% endblock %}
{% block ruta-principal %}Contabilidad{% endblock %}
{% block ruta-actual %}
    Centro de Costo
{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="
                                {% if tipo == 1 %}
                                    {% url "registrar_centro_costo" %}
                                {% elif tipo == 2 %}
                                    {% url "modificar_centro_costo" id %}
                                {% else %}

                                {% endif %}
                                " enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}

         <div class="row row-persona-cabecera" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                {% if tipo == 1 %}
                    <h3  class="sub-title-comprobante">
                          AGREGAR CENTRO DE COSTO
                    </h3>
                {%  elif tipo == 2  %}
                    <h3  class="sub-title-comprobante">
                          EDITAR CENTRO DE COSTO
                    </h3>
                {% else %}
                    <h3  class="sub-title-comprobante">
                          VER CENTRO DE COSTO
                    </h3>
                {% endif %}

                <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                    <tr>
                        <td style="width: 150px; vertical-align: top; padding-top: 10px;">
                             <label class="control-label" for="{{ formulario.descripcion.label }}">
                            {% if formulario.descripcion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.descripcion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.descripcion.errors %}{{ formulario.descripcion|add_class:"txt-100pc textarea-cc campo_requerido" }}{% else %}{{ formulario.descripcion|add_class:"textarea-cc txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
         </div>

         <div class="text-center" style="margin-top: 20px;">

             {% if tipo != 3 %}
                <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
             {% else %}

             {% endif %}
             <a class="boton boton-gray" href="{% url "lista_centro_costos" %}">Cancelar</a>
        </div>

    </form>


{% endblock %}