{% extends "base.html" %}
{% load formulario_detalle_comp_asiento %}
{% load formulario_comp_caja_chica %}
{% load widget_tweaks %}
{% block title %}
    {% if tipo == 1 %}Agregar Compra sin Retención{% endif %}
    {% if tipo == 2 %}Anular y Generar Compras sin Retención{% endif %}
    {% if tipo == 3 %}Copiar Compra sin Retención{% endif %}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <style type="text/css">
     #id_concepto{
        height: 100px !important;
        width: 500px;
        padding: 10px;
        max-width: 500px;
        min-width: 500px;
    }

     #total_detalle{
        float: right;
        border-left: 1px solid #dd4814;
        margin-bottom: 12px;
     }

      .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .col-md-12{
        float: left;
    }

    #iva_ret_detalle{
        padding-right:30px;
    }

    #contenedor_detalle_comp div[class^="col-"] > div[class^="col-"]{
        padding: 2px;
    }

    .alin_der{
        text-align: right;
    }
    .alin_izq{
        text-align: left;
    }
     .alin_der{
        text-align: right;
    }

    h6{
        color: #dd4814;
        padding-bottom: 20px;
        text-align: justify;
        font-size: 16px;
    }
    #add{
        margin: 0px -13px ;
        padding: 7px 14px;
        margin-bottom: 10px;
        font-size: 13px;
    }

    #add2{
        margin: 0px 5px ;
        padding: 7px 14px;
        margin-bottom: 0px;
    }

    #total{
        margin: auto;
        margin-top: 10px;
    }

    #tabla-detalle-caja{
        margin-bottom: 35px;
    }

    .popover {
        background-color: #F2DEDE;
    }

    .popover fade right in{

        top: 698.5px;
        left: 379.875px;
        display: block;
        background-color: #F2DEDE;
    }

    .popover.bottom .arrow:after{
        border-bottom-color: #F2DEDE;
    }

    .popover-title{
        padding: 5px;
        margin-bottom: -8px;
        color:#B94A48;
        background-color: #F2DEDE;
    }

    .popover-content{
        padding-top: 1px;
        background-color: #F2DEDE;
        border-color: #F2DEDE;
    }

    .col-sm-3{
        width: 18%;
    }

    #colocar-div-add{
        margin-top: 16px;
    }
    #colocar-div-add2{
        margin-top: 16px;
    }

    .dospuntos{
        color: #dd4814;
    }

    .numerico{
        text-align: right;
    }

    .proveedor{
        text-align: left;
    }

    </style>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_caja_chica/caja_chica.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    var fecha_emision = $(".fecha_emision").val();
    var fecha_vencimiento = $(".fecha_vencimiento").val();
    var dia = "{{ fecha_actual }}";
    var fecha_comp = dia.replace(",","-");

    $( "#id_fecha" ).datepicker();
    $( ".fecha_emision" ).datepicker();
    $( ".fecha_vencimiento" ).datepicker();

    $("#id_fecha").val(fecha_comp);
    $("#id_fecha").html(fecha_comp);

    $(".fecha_emision").datepicker().on('changeDate', function(ev){
        validar_fecha_em(this);
    });

    $( ".fecha_vencimiento" ).datepicker().on('changeDate', function(ev){
        var stringfecha_emision =  $(".fecha_emision").val();
        var fecha_comp_emision = stringfecha_emision.split("-");
        var dia_fecha_emision = new Date(parseInt(fecha_comp_emision[0]),parseInt(fecha_comp_emision[1]),parseInt(fecha_comp_emision[2]));
        var stringfecha_vencimiento =  $(this).val();
        var fecha_comp = stringfecha_vencimiento.split("-");
        var dia_fecha_vencimiento = new Date(parseInt(fecha_comp[0]),parseInt(fecha_comp[1]),parseInt(fecha_comp[2]));

        if(dia_fecha_vencimiento < dia_fecha_emision){
            $("#tit-alert").html("Alerta");
            $("#body-alert").html("<strong>NO</strong> puede ingresar una fecha inferior a la <strong>fecha de emisión</strong>");
            $("#alert-yn").modal();
            $(this).val("");
        }
    });

    // Poner la Fecha para la copia
    if ($("#id_fecha").val()==""){
        $("#id_fecha").val(dia);
        $("#id_fecha").val($("#id_fecha").attr("value"));
    }
     fechasDefault();
     calcularValores();
});
</script>
{% endblock %}
{% block content %}
    {% if messages %}
             {% for message in messages %}
               <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                   {{ message }}.
               </div>
             {% endfor %}
    {% endif %}

    <h2 class="titulo-vista" style="text-decoration: underline;">Caja Chica</h2>

   <form method="POST" action="{% if tipo == 1 %}{% url "vista_caja_chica" %}
                               {% elif  tipo == 2 %}{% url "anular_generar_compra_caja_chica" id %}
                               {% else %}{% url "copiar_caja_chica" id %}
                               {% endif %}"
   enctype="multipart/form-data" class="form-horizontal" role="form"  >{% csrf_token %}
           <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-xs-4 alin_izq"><label class="control-label" for="{{ formulario.fecha.label }}">
                        {% if formulario.fecha.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.fecha.label }}  </b>
                        <span class="dospuntos">:</span></label>
                    </div>
                    <div class="col-xs-8">{% if formulario.fecha.errors %}{{ formulario.fecha|add_class:"form-control cab_form_cont campo_requerido" }}{% else %}{{ formulario.fecha|add_class:"form-control cab_form_cont" }}{% endif %}</div>
                </div>
              </div>
           </div>

           <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-xs-4 alin_izq"><label class="control-label" for="{{ formulario.responsable.label }}">
                        {% if formulario.responsable.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.responsable.label }}  </b>
                        <span class="dospuntos">:</span></label>
                    </div>
                    <div class="col-xs-8">{% if formulario.responsable.errors %}{{ formulario.responsable|add_class:"form-control cab_form_cont campo_requerido" }}{% else %}{{ formulario.responsable|add_class:"form-control cab_form_cont" }}{% endif %}</div>
                </div>
              </div>
           </div>

           <div class="row tabla-detalle-asiento" id="table-scroll" style="margin-top:5px;">
                <div class="row detalle-compra-asiento tabla-detalle-asiento table-responsive" >
                     <h6><b>Detalle de Compra</b></h6>
                         {% formulario_comp_caja_chica multiform %}

                     <div id="colocar-div-add2">
                         <a class="boton boton-add" id="add2">+</a>
                    </div>
                </div>
           </div>

     <div style="margin-top: 40px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-xs-4 alin_izq"><label class="control-label" for="{{ formulario.concepto.label }}">
                        {% if formulario.concepto.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.concepto.label }}  </b>
                        <span class="dospuntos">:</span></label>
                    </div>
                    <div class="col-xs-8">{% if formulario.concepto.errors %}{{ formulario.concepto|add_class:"form-control cab_form_cont campo_requerido" }}{% else %}{{ formulario.concepto|add_class:"form-control cab_form_cont" }}{% endif %}</div>
                </div>
            </div>

               <div class="col-md-4" id="total_detalle">
                    <div class="col-md-3">
                        <label  class="boton boton-retencion">Total</label>
                    </div>
                        <div class="col-md-12" style="margin-top: 15px;">
                            <div class="col-md-6">
                                <label><b>Compra IVA 12%</b></label>
                            </div>
                            <div class="col-md-6 ">
                                <label id="total_iva_12">0.0</label>
                            </div>
                            <div class="col-md-6">
                                <label><b>Compra IVA 0%</b></label>
                            </div>
                            <div class="col-md-6 ">
                                <label id="total_iva_0">0.0</label>
                            </div>
                            <div class="col-md-6">
                                <label><b>IVA</b></label>
                            </div>
                            <div class="col-md-6" style="border-bottom: 1px solid #dd4814; width:52px;">
                                <label id="total_iva">0.0</label>
                            </div>

                            <div class="col-md-6">
                                <label><b>Total a Pagar</b></label>
                            </div>
                            <div class="col-md-6 ">
                                <label id="total_pagar">$ 0.0</label>
                            </div>
                        </div>
                </div>
       </div>

        <div class="text-center" style="margin-top: 35px;">
            <button class="boton boton-ok guardar" type="submit">Guardar</button>
            <a class="boton boton-cancel" href={% url "lista_compras_caja_chica" %} >Salir</a>
        </div>
   </form>

  <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default yes" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}