<!DOCTYPE html>
{% load formulario_comp_contable %}
{% load operaciones_template %}
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Naremaster" />
	<title>Comprobante Compra sin Retención</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/comprobante.css" rel="stylesheet" type="text/css">
    <style type="text/css">
     *{
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
     }

    #page-comprobante{
        margin: auto;
        width: 1000px;
        margin-top: 30px;
    }

    .div-centrar{

        margin: auto;

    }

    .div-cabecera{
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
    }

    #logo{
        float: left;
    }

    #logo img{
        max-height: 44px;
        width: auto;
    }

    #detalle-empresa{
        float: right;
    }

    #detalle-empresa ul{
        list-style: none;
    }

    #detalle-empresa ul li{
        text-align: right;
        font-size: 12px;
    }

    #detalle-empresa ul li.li-em-bold{
        font-weight: bold;
    }

    .div-centrar h3{
        text-align: center;
        padding: 30px 0;
        font-size: 20px;
        font-weight: bold;
    }

    #table-info-basica{
        width: 100%;
        font-size: 11px;
    }

    #table-info-basica tr .td-label1{
        width: 20%;
        font-weight: bold;
        font-size: 11px;
        vertical-align: top;

    }

    #table-info-basica tr .td-info1{
        width: 40%;
        font-size: 11px;
        vertical-align: top;
    }

    #table-info-basica tr .td-label2{
        width: 20%;
        font-weight: bold;
        font-size: 11px;
        vertical-align: top;
    }

    #table-info-basica tr .td-info2{
        width: 20%;
        font-size: 11px;
        vertical-align: top;
    }

    .div-info-basica{
        padding-bottom: 30px;
    }

    .div-tabla{
        margin-bottom: 30px
    }
    .div-tabla h4{
        font-size: 14px;
        text-align: left;
        font-style: italic;
        text-decoration: underline;

        font-weight: bold;
    }

    #table-info-registro{
         width: 100%;
        font-size: 13px;
        margin-top: 5px;
    }


    #table-info-registro tr th{
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        padding: 3px;
        text-align: center;
    }

    #table-info-registro tr th:last-child{
        border-right: 1px solid gray;


    }

    #table-info-registro tr td{
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        padding: 3px;
    }

    #table-info-registro tr td:last-child{
        border-right: 1px solid gray;
        text-align: right;

    }
    #table-info-registro tr:last-child td{
        border-bottom: 1px solid gray;


    }

    #table-info-retencion{
        width: 100%;
        margin: auto;
    }

    #table-info-retencion .td-label{
        width: 16%;
        font-weight: bold;
        font-size: 13px;
    }


    #table-info-retencion .td-info{
        width: 16%;
        font-size: 13px;
    }

    #table-info-registro tr td.td-haber-cuenta{
        padding-left: 20px;
    }

    #table-info-registro tr td.td-derecha{
        text-align: right;
        padding-right: 3px;
    }

    .desc-label{
        font-weight: bold;
        font-size: 13px;
        padding-top: 30px;
    }


    .desc-info{
        font-weight: normal;
        font-size: 13px;
    }

    #div-totales{
        width: 100%;
        margin: auto;
        font-size: 13px;
    }

    #table-totales{
        float: right;
    }

    #table-totales tr td.td-label{
        font-weight: bold;
        text-align: right;
        padding-right: 20px;
    }
    #table-totales tr td.td-info{
        text-align: right;
        padding-left: 20px;
    }

    #div-firmas{
        width: 100%;
        margin: auto;
        font-size: 13px;
        margin-top: 60px;
    }

    #table-firmas{
       margin: auto;
       width: 100%;
    }

    #table-firmas tr td{
       padding: 0px 30px;
    }

    #table-firmas tr td hr{
       border-top: 1px solid black;
    }

    #table-firmas tr td p{
       padding-top: 3px;
       font-weight: bold;
    }

    .div-footer label.lbl-empresa{
        float: left;
        font-size: 11px;
        font-weight: bold;
    }


    .div-footer label.lbl-indice{
        float: right;
        font-size: 11px;
        font-weight: bold;
    }

    #table-cobro{
         margin: auto;
       width: 100%;
    }

    #table-info-registro  tr td.td-total{
        text-align: right;
        padding-right: 10px;
        font-weight: bold;
    }
    </style>
    <style type="text/css">
        @page {
        size: a3 landscape;
        margin: 1cm;
        @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 0cm;
            height: 1cm;
        }
    </style>
  </head>

<body>
<div id="page-comprobante">
         <div class="div-centrar div-cabecera" >
            <table border="0" id="table-cabecera" style="border: none;">
                <tr>
                    <td style="width: 200px;"></td>
                    <td style="border: none; padding-bottom: 5px;text-align: center;border-bottom: 2px solid #A2A3A5;">
                        <p style="text-align: center;">
                            <img style="text-align: center; margin: auto;" height="44" src="clipmaestro/static/img/logo_tmp.jpg"/>
                        </p>
                         <p style="text-align: center;">
                            <span style="font-weight: bold;font-size: 10px; display: block;">Inpulso S.A.</span>
                        </p>
                         <p style="text-align: center;">
                            <span style="font-size: 10px;display: block;"><strong>Usuario:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</span>
                        </p>
                         <p style="text-align: center;">
                           <span style="font-size: 10px;display: block;"><strong>Fecha de Impresión:</strong> {{ fecha_actual|date:"d/m/Y" }}</span>
                        </p>

                    </td>
                    <td style="width: 200px;"></td>
                </tr>
            </table>
        </div>

        <div class="div-centrar div-info-basica">
            <h2 style="text-align: center; color: #000000; padding-bottom: 10px; padding-top: 10px; font-size: 18px;">Comprobante de Compra sin Rentención: {{ compra.numero_comprobante }}</h2>
            <table id="table-info-basica">
                <tr>
                    <td class="td-label1" style="width: 150px;">
                        Fecha de Registro:
                    </td>
                    <td class="td-info1">

                        {{ compra.fecha|date:"d-m-Y" }}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1"  style="width: 150px;">
                        Responsable (Cuenta):
                    </td>
                    <td class="td-info1">
                        {{ compra.plan_cuenta.descripcion }}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1"  style="width: 150px;">
                        Concepto:
                    </td>
                    <td class="td-info1">
                        {{ compra.concepto }}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1"  style="width: 150px;">
                        Estado:
                    </td>
                    <td class="td-info1">

                        {% if compra.status == 2 %}Anulada{% else %}Activa{% endif %}
                    </td>
                    <td class="td-label2">
                        {% if compra.pago == 2 %}
                            Sujeto retención:
                        {% endif %}
                    </td>
                </tr>
            </table>

            <div style="clear: both"></div>
        </div>
         <div class="div-centrar div-tabla">
                <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; padding-top: 10px;">Detalle de la Compra</p>
                <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px;">
                    <thead style="background: #E9E8E6;">
                        <tr>
                            <th style="padding-top: 8px;">Código Cuenta</th>
                            <th style="padding-top: 8px;">Nº de Id.</th>
                            <th style="padding-top: 8px;">Sust. Trib.</th>
                            <th style="padding-top: 8px;">Tipo Doc.</th>
                            <th style="padding-top: 8px;"># Documento</th>
                            <th style="padding-top: 8px;">Autorización</th>
                            <th style="padding-top: 8px;">Fecha E.</th>
                            <th style="padding-top: 8px;">Fecha V.</th>
                            <th style="padding-top: 8px;">Código IVA</th>
                            <th style="padding-top: 8px;">% IVA</th>
                            <th style="padding-top: 8px;">Costo/Gasto</th>
                            <th style="padding-top: 8px;">Base 0%</th>
                            <th style="padding-top: 8px;">Base IVA%</th>
                        </tr>
                     </thead>
                <tbody style="background: #F5F4F2;">
                    </tr>
                    {% for obj_reem in ats %}
                        <tr>
                            <td>{{ obj_reem.getDatos.plan_cuenta.codigo|slice:":1" }}.{{ obj_reem.getDatos.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_reem.getDatos.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_reem.getDatos.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_reem.getDatos.plan_cuenta.codigo|slice:"6:9" }}</td>
                            <td>{{ obj_reem.num_id }}</td>
                            <td>{{ obj_reem.sustento_tributario_sri.codigo }}</td>
                            <td>{{ obj_reem.documento.descripcion_documento }}</td>
                            <td>{{ obj_reem.num_doc }}</td>
                            <td>{{ obj_reem.autorizacion }}</td>
                            <td>{{ obj_reem.fecha_emi|date:"d-m-Y" }}</td>
                            <td>{{ obj_reem.vence|date:"d-m-Y" }}</td>
                            <td>{{ obj_reem.getDatos.codigo_sri.codigo }}</td>
                            <td>{{ obj_reem.getDatos.codigo_sri.porcentaje}}  </td>

                            {% if obj_reem.getDatos.iva_cg == 1 %}
                                <td>Costo</td>
                            {% else %}
                                <td>Gasto</td>
                            {% endif %}

                            {% if obj_reem.getDatos.codigo_sri.porcentaje == 0.0 %}
                                <td>{{ obj_reem.base0 }}</td>
                            {% else %}
                                <td>0,0</td>
                            {% endif %}

                            {% if obj_reem.getDatos.codigo_sri.porcentaje == 12.0 %}
                                <td>{{ obj_reem.baseiva }}</td>
                            {% else %}
                                <td>0,0</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                 </tbody>
                </table>
            </div>

        <div class="div-centrar div-tabla">

            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; padding-top: 10px;">Asiento Contable</p>
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px;">
            <thead style="background: #E9E8E6;">
                <tr>
                    <th style="width: 120px;padding-top: 8px;">Código</th>
                    <th style="padding-top: 8px;">Cuenta</th>
                    <th style="width: 100px;padding-top: 8px;">Debe</th>
                    <th style="width: 100px;padding-top: 8px;">Haber</th>
                    <th style="padding-top: 8px;">Centro de Costos</th>

                </tr>
                </thead>
                <tbody style="background: #F5F4F2;">
                {% for obj_asiento in detalle_may%}
                    <tr>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{{ obj_asiento.centro_costo.descripcion }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p style="font-size: 11px; font-weight: bold;">Descripción: <span class="desc-info"  style="font-size: 11px; font-weight: normal;">Ilustración Plan B</span></p>
            <div id="div-totales" style="width:100%;float: right; height: 100px; text-align: right;">
                <table id="table-totales" style="font-size: 11px;">
                    <tr>
                            <td style="width: 1000px;">

                            </td>
                        <td class="td-label">
                            Subtotal 12%:
                        </td>
                        <td class="td-info">
                            $ {{ compra.getBaseTotalBaseIVA|floatformat:2 }}
                        </td>
                    </tr>
                    <tr>
                         <td style="width: 1000px;">

                            </td>
                        <td class="td-label">
                            Subtotal 0%:
                        </td>
                        <td class="td-info">
                            $ {{ compra.getBaseTotalBase0 |floatformat:2 }}
                        </td>
                    </tr>

                    <tr>
                         <td style="width: 1000px;">

                            </td>
                        <td class="td-label">
                            IVA:
                        </td>
                        <td class="td-info">
                           {% multiplicacion_snippet compra.getBaseTotalBaseIVA 0.12 %}
                        </td>
                    </tr>

                    <tr>
                         <td style="width: 1000px;">

                            </td>
                        <td class="td-label">
                            Total:
                        </td>
                        <td class="td-info">
                            $ {{ compra.total_pagar|floatformat:2 }}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="div-centrar div-tabla">

                <div id="div-firmas">
                    <table id="table-firmas" style="margin-top: 70px; text-align: center">

                         <tr>

                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                            </td>
                            <td style="border: none; width: 30px;">

                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                            </td>
                            <td style="border: none; width: 30px; ">

                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Revisado por:</p>
                            </td>
                        </tr>

                    </table>

                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>

   </div>
</div>
<div id="footerContent" style="text-align: right; padding-right: 30px; padding-left: 30px;">
     Página: <pdf:pagenumber>
</div>
</body>
</html>