{% load variables_globales_pdf %}
{% load snnipet_generales %}
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="author" content="Naremaster" />
        <title>{% block titulo %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/comprobante.css" rel="stylesheet" type="text/css">

        <style type="text/css">
            *{
                margin: 0;
                padding: 0;
                font-family: sans-serif;
            }


            #page-comprobante{
                margin: auto;
                width: 1000px;
                margin-top: 30px;
            }

            p{
                border: none;
                margin: 0px;
            }

        </style>
        <style type="text/css">
            @page {
                size: {% block sizepage %}A4{% endblock %};
                margin: {% block margin %}1cm 1cm 2cm 1cm{% endblock %};
                @frame footer {
                -pdf-frame-content: footerContent;
                left: 1cm;
                right: 1cm;
                bottom: 0cm;
                height: 1cm;

                }
            }
        </style>
    </head>

    <body>
        <div>
            <table>
                <tr>
                    <td style="padding-right: 5px; width: 350px; vertical-align: bottom">
                        <table>
                            <tr>
                                <td style="text-align: center;">
                                    {% if url_logotipo %}
                                        <img src="{{ MEDIA_URL }}{{ url_logotipo }}" style="text-align: center; margin: auto;" height="200" width="300">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #000000; padding: 10px; height: 1000px; font-size: 13px;"  height="500px">
                                    <p>{{ empresa_general.razon_social }} </p>
                                    {% if empresa_general.nombre_comercial %}
                                        <p>{{ empresa_general.nombre_comercial }}</p>
                                    {% endif %}
                                    <p>Dirección: {{ empresa_general.direccion }}</p>
                                    <p>Matriz: {{ empresa_general.direccion }}</p>
                                    {% if empresa_general.num_resolucion %}
                                        <p>Contribuyente especial No {{ empresa_general.num_resolucion }}</p>
                                    {% endif %}
                                    {% if empresa_general.telefono %}
                                        <p>Teléfono: {{ empresa_general.telefono }}</p>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #000000; padding: 5px">
                        <table style="height: 1000px">
                            <tr>
                                <td style="font-size: 13px;">
                                    <p><span>RUC: </span>{{ info_tributaria.ruc }}</p>
                                    <p>NOTA DE CRÉDITO</p>
                                    <p>No. {{ info_tributaria.establecimiento }}-{{ info_tributaria.pto_emision }}-{{ info_tributaria.secuencial }}</p>
                                    <p>NÚMERO DE AUTORIZACIÓN</p>
                                    <p>{{ numero_auto }}</p>
                                    <p>FECHA Y HORA DE AUTORIZACIÓN: {{ fecha_auto }}</p>
                                    <p>AMBIENTE: {% if info_tributaria.ambiente == "1" %}PRUEBAS{% else %}PRODUCCION{% endif %}</p>
                                    <p>EMISIÓN: {% if info_tributaria.tipo_emision == "1" %}NORMAL{% else %}POR INDISPONIBILIDAD DEL SISTEMA{% endif %}</p>
                                    <p>CLAVE DE ACCESO:</p>
                                    <p style="text-align: center; height: 210px">
                                        <img src="image.png" style="text-align: center; margin: auto;" height="210">
                                    </p>
                                    <p>{{ info_tributaria.clave_acceso }}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table style="margin-top: 5px; border: 1px solid #000000">
                <tr style="border: none; font-size: 13px;">
                    <td style="padding-top: 5px; padding-left: 3px">Razón Social/Nombres y Apellidos:</td>
                    <td style="padding-top: 5px">{{ info_nota_credito.razon_social_comprador }}</td>
                    <td style="padding-top: 5px">Identificación:</td>
                    <td style="padding-top: 5px">{{ info_nota_credito.identificacion_comprador }}</td>
                </tr>
                <tr style="border: none; font-size: 13px;">
                    <td style="padding-left: 3px">Fecha de Emisión:</td>
                    <td>{{ info_nota_credito.fecha_emision }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="border: none; font-size: 13px;">
                    <td colspan="2" style="padding-left: 3px">Comprobante que modifica</td>
                    <td>{% get_nombre_doc_sri_by_cod_tag info_nota_credito.cod_doc_modificado %}</td>
                    <td>{{ info_nota_credito.num_doc_modificado }}</td>
                </tr>
                <tr style="border: none; font-size: 13px;">
                    <td colspan="2" style="padding-left: 3px">Fecha Emisión(Comprobante a Modificar)</td>
                    <td colspan="2">{{ info_nota_credito.fecha_emision_doc_sustento }}</td>
                </tr>
                <tr style="border: none; font-size: 13px;">
                    <td colspan="2" style="padding-left: 3px">Razón de Modificación</td>
                    <td colspan="2">{{ info_nota_credito.motivo }}</td>
                </tr>
            </table>

            <table style="margin-top: 10px; border: 1px solid #000000">
                <tr>
                    <td style="padding-top: 5px; padding-left:3px; width: 70px">Código</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 50px">Código Auxiliar</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 80px;">Cantidad</td>
                    <td style="padding-top: 5px; padding-left:3px;">Descripción</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 80px">Descuento</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 80px">Precio Unitario</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 80px">Precio Total</td>
                </tr>
                {% for obj in lista_detalle_nota_credito %}
                    <tr>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.codigo_interno }}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right"></td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.cantidad|floatformat:4 }}</td>
                        <td style="padding-top: 5px; padding-left: 3px;">{{ obj.descripcion }}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.descuento|floatformat:2 }}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.precio_unit|floatformat:2 }}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.precio_total_sin_imp|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </table>

            <table style="margin-top: 10px">
                <tr>
                    <td style="width: 400px; border: 1px solid #000000; padding: 10px; vertical-align: top">
                        <table style="width: 100%">
                            <tr>
                                <td style="text-align: left; font-size: 13px">Información Adicional</td>
                            </tr>
                            {% for obj in concepto %}
                                <tr style="font-size: 13px">
                                    <td>{{ obj }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td style="padding-left: 10px">
                        <table style="border: 1px solid #000000;">
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">Subtotal 12%</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ subtotal_12|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">Subtotal 0%</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ subtotal_0|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">Subtotal No objeto de IVA</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ no_objeto_imp|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">Subtotal</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ subtotal|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">Total Descuento</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ datos_fact.total_descuento|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">Subtotal Exento de IVA</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ excento_iva|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">ICE</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ ice|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">IVA 12%</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ iva|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">IRBPNR</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ irbpnr|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2px; padding-left: 2px">Valor Total</td>
                                <td style="text-align: right; padding-top: 2px; padding-right: 2px">{{ total|floatformat:2 }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="div-centrar div-info-basica">
                <p style="text-align: center; color: #000000; line-height: 1em; font-size: 14px; font-weight: normal;">{% block reporte_titulo %}{% endblock %}</p>
                {% block tabla_contenido %}
                {% endblock %}

            </div>

            <div id="footerContent" style="text-align: right;">
                 Página: <pdf:pagenumber>
            </div>
        </div>
    </body>
</html>