{% load variables_globales_pdf %}
{% load snnipet_generales %}
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="author" content="Naremaster" />
        <title>{% block titulo %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/comprobante.css" rel="stylesheet" type="text/css">

        <style type="text/css">
            *{
                margin: 0;
                padding: 0;
                font-family: sans-serif;
            }

            #page-comprobante{
                margin: auto;
                width: 1000px;
                margin-top: 30px;
            }

            p{
                border: none;
                margin: 0px;
            }

        </style>
        <style type="text/css">
            @page {
                size: {% block sizepage %}A4{% endblock %};
                margin: {% block margin %}1cm 1cm 2cm 1cm{% endblock %};
                @frame footer {
                -pdf-frame-content: footerContent;
                left: 1cm;
                right: 1cm;
                bottom: 0cm;
                height: 1cm;

                }
            }
        </style>
    </head>

    <body>
        <div>
            <table>
                <tr>
                    <td style="padding-right: 5px; width: 350px; vertical-align: bottom">
                        <table>
                            <tr>
                                <td style="text-align: center;">
                                    {% if url_logotipo %}
                                        <img src="{{ MEDIA_URL }}{{ url_logotipo }}" style="text-align: center; margin: auto;" height="200" width="300">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #000000; padding: 10px; height: 1000px; font-size: 13px;"  height="500px">
                                    <p>Emisor: {{ info_tributaria.razon_social }}</p>
                                    <p>Matriz: {{ info_tributaria.direccion_matriz }}</p>
                                    <p>Obligado a llevar contabilidad: {{ info_comp_ret.obligado_contabilidad }}</p>
                                    {% if empresa_general.num_resolucion %}
                                        <p>Contribuyente especial No {{ empresa_general.num_resolucion }}</p>
                                    {% endif %}
                                    {% if empresa_general.telefono %}
                                        <p>Teléfono: {{ empresa_general.telefono }}</p>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid #000000; padding: 5px">
                        <table style="height: 1000px">
                            <tr>
                                <td  style="font-size: 13px">
                                    <p><span>RUC: </span>{{ info_tributaria.ruc }}</p>
                                    <p>COMPROBANTE DE RETENCIÓN</p>
                                    <p>No. {{ info_tributaria.establecimiento }}-{{ info_tributaria.pto_emision }}-{{ info_tributaria.secuencial }}</p>
                                    <p>NÚMERO DE AUTORIZACIÓN</p>
                                    <p>{{ info_tributaria.num_autorizacion }}</p>
                                    <p>FECHA Y HORA DE AUTORIZACIÓN: {{ info_tributaria.fecha_autorizacion }}</p>
                                    <p>AMBIENTE: {% if info_tributaria.ambiente == "1" %}PRUEBAS{% else %}PRODUCCION{% endif %}</p>
                                    <p>EMISIÓN: {% if info_tributaria.emision == "1" %}NORMAL{% else %}POR INDISPONIBILIDAD DEL SISTEMA{% endif %}</p>
                                    <p>CLAVE DE ACCESO:</p>
                                    <p style="text-align: center; height: 210px">
                                        <img src="image.png" style="text-align: center; margin: auto;" height="210">
                                    </p>
                                    <p>{{ info_tributaria.clave_acceso }}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table style="margin-top: 5px; border: 1px solid #000000">
                <tr style="border: none; font-size: 13px">
                    <td style="padding-top: 5px; padding-left: 3px">Razón Social/Nombres y Apellidos:</td>
                    <td style="padding-top: 5px">{{ info_comp_ret.razon_social_sujet_retenido }}</td>
                    <td style="padding-top: 5px">Identificación:</td>
                    <td style="padding-top: 5px">{{ info_comp_ret.identificacion_suj_ret }}</td>
                </tr>
                <tr style="border: none; font-size: 13px">
                    <td style="padding-left: 3px">Fecha de Emisión:</td>
                    <td>{{ info_comp_ret.fecha_emi }}</td>
                    <td>Ejercicio Fiscal:</td>
                    <td>{{ info_comp_ret.periodo_fiscal }}</td>
                </tr>
            </table>

            <table style="margin-top: 10px; border: 1px solid #000000">
                <tr>
                    <td style="padding-top: 5px; padding-left:3px; text-align: center">Comprobante</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 120px; text-align: center">Número</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 80px; text-align: center">Fecha Emisión</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 80px; text-align: center">Base Imponible</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 70px; text-align: center">Impuesto</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 70px; text-align: center">Código</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 70px; text-align: center">Pct. %</td>
                    <td style="padding-top: 5px; padding-left:3px; width: 80px; text-align: center">Retenido</td>
                </tr>
                {% for obj in lista_impuestos %}
                    <tr>
                        <td style="padding-top: 5px; padding-left: 2px; text-align: left">{% get_nombre_doc_sri_by_cod_tag obj.cod_doc_sustento %}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.num_doc_sustento|slice:"0:3" }}-{{ obj.num_doc_sustento|slice:"3:6" }}-{{ obj.num_doc_sustento|slice:"6:15" }}</td>
                        <td style="padding-top: 5px; padding-left: 3px;">{{ obj.fecha_emi_sust }}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.base_imponible|floatformat:2 }}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{% if obj.codigo == "1" %}Renta{% elif obj.codigo == "2" %}IVA{% else %}ISD{% endif %}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.codigo_ret }}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.porcentaje_retener|floatformat:2 }}</td>
                        <td style="padding-top: 5px; padding-right: 2px; text-align: right">{{ obj.valor_retenido|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </table>

            <table style="margin-top: 10px">
                <tr>
                    <td style="width: 400px; border: 1px solid #000000; padding: 10px; vertical-align: top">
                        <table style="width: 100%">
                            <tr>
                                <td style="text-align: left">Información Adicional</td>
                            </tr>
                            {% for obj in concepto %}
                                <tr>
                                    <td>{{ obj }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
            <div class="div-centrar div-info-basica">
                <p style="text-align: center; color: #000000; line-height: 1em; font-size: 14px; font-weight: normal;">{% block reporte_titulo %}{% endblock %}</p>
                {% block tabla_contenido %}
                {% endblock %}

            </div>

            <div id="footerContent" style="text-align: right;">
                 Página: <pdf:pagenumber>
            </div>
        </div>
    </body>
</html>