{% extends "base.html" %}
{% load widget_tweaks %}
{% load formulario_comp_ventas %}
{% load permisostag %}
{% block title %}
    {% if tipo == 1 %}Agregar Venta{% endif %}
    {% if tipo == 2 %}Anular y Generar Venta{% endif %}
    {% if tipo == 3 %}Copiar Venta{% endif %}
    {% if tipo == 4 %}Provisión Venta{% endif %}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/compras.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        .row-comprobante-retencion{
            margin-left: 0px !important;
            width: 1274px !important;
        }
        #tabla_formset_detalle_stock tbody td{
            padding-top: 0px;
            vertical-align: top;
        }
        .tabla-venta-item-final .slc-primary, .tabla-venta-item-final .slc-c-c{
            background: url("{{ STATIC_URL }}cm_html/images/combo_vineta.png") #FFF no-repeat right 0px !important;
            font-size: 12px !important;
            border-radius: 0px !important;
            border: 1px solid #E5E5E5 !important;
            height: 28px;
            position: relative;
        }

        #tabla_formset_detalle_stock tbody tr td input[type="text"]{
            width: 100% !important;
            border-top: 1px solid #DBDBDB;
        }

        #tabla_formset_detalle_stock tbody tr td input.detalle_vent{
            width: 290px !important;
        }


       .tabla-comprobante-detalle tbody tr td:last-child {
            border: 0px !important;

       }

        #tabla_forma_pago{
            width: 850px;
            float: left;
        }

        .tabla-comprobante-detalle-externa{
            width: 1274px;
            margin-left: 10px;
        }

        .row-comprobante-retencion{
        margin-left: 0px !important;
        width: 1274px !important;
        }

        .td-concepto{
            vertical-align: top;
        }

        .tabla-venta-item-final .lista-concepto .concepto{
            background: white;
            width: 280px;
            position: relative;
            top: -8px;
            height: 26px !important;
        }

         .lista-concepto li:first-child .concepto{
            background: white;
            position: relative;
            top: 0px;

        }

        .td-concepto .li-concepto{
            height: 32px;
        }

        .tr-agregar-concepto{
            position: relative;
            top: 3px;
        }
        .oculto{
            display: none;
        }

        #tabla_formset_venta_test tbody td{

        }
        .tabla-venta-item-final .slc-primary, .tabla-venta-item-final .slc-c-c{
            background: url("{{ STATIC_URL }}cm_html/images/combo_vineta.png") #FFF no-repeat right 0px !important;
            font-size: 12px !important;
            border-radius: 0px !important;
            border: 1px solid #E5E5E5 !important;
            height: 28px;
            position: relative;

            }

        .lista-concepto li:first-child .detalle_vent{
            position: relative;
            top: -2px;
        }

        .alerta-ocultar{
            display: none !important;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script type="text/javascript">
        var num_filas = 1;
        var deli = "!=.$";

        function getURLBusquedaItem(){
            return "{% url "buscar_item_venta" %}"
        }

        function getCantidadBodega(){
            return "{% url "get_cantidades_bodega" %}"
        }

        function getExisteItemBodega(){
            return "{% url "get_existe_item_bodega" %}"
        }

        function getClienteItemVenta(){
            return "{% url "buscar_cliente_item_venta" %}"
        }

        function getURLBusquedaDocuementos(){
            return "{% url "ajax_seleccionar_documentos" %}"
        }

        function getURLSeleccionarDocumento(){
            return "{% url "ajax_seleccionar" %}"
        }

        function getIdSerie(){
            return "{{ id_serie }}";
        }

        function getContratos(){
            return "{%  url "ajax_seleccion_contratos_cliente" %}";
        }

        var fecha_actual = "{% now "Y-m-d" %}";
        var url_get_cantidad_disponible_stock = "{% url "cantidad_disponible_bodega_stock" %}";
        var flag_post_venta = "{{ flag_post_venta }}";
        var url_detalle_imp = "{% url "detalle_venta_reportepdf" 0 %}";
        var url_detalle_factura = "{% url "factura" 0 %}";
        var tipo = "{{ tipo }}";
        var es_stock = "{{ flag_es_stock }}";
        var ID_TABLA_VENTA = "#tabla_formset_venta_test";
        var ID_TABLA_VENTA_STOCK = "#tabla_formset_detalle_stock";
        var provision = {% if tipo == 4 %}true; {% else %} false;{% endif %}
    </script>
    <script src="{{ STATIC_URL }}js/validar_rucs.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_ventas/funciones_venta.js"></script>
    <script src="{{ STATIC_URL }}js/js_ventas/comprobante_ventas.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            $("input[type='submit']").click(function(){

                 var boton_cancelar = $(".cancelar");
                 $(this).attr("disabled", false);
                 $("form").submit(function(){
                      $(".transaccion").hide();
                      $(boton_cancelar).attr('title', 'Por favor, espere...');
                      $(boton_cancelar).text("Por favor, espere...");
                      $(boton_cancelar).click(function(e){
                          e.preventDefault();
                          return false;
                      });
                      return true;
                 });
            });
            presentar_formset_venta(es_stock);

            $("#id_fecha").focusout(function(){
               validar_fecha_actual(this);
                if (provision == false){
                    ValidaDocumentoSerie(URLbusquedaDocumentos);
                }
            });

            $(".detalle_vent").bind('keydown', function(event){
                var li = $(this).parent();
                adjust(event, li);
                liminar_fila_concepto(this);
            });
            /*Validar key uo and down*/
            $(".detalle_vent").keyup(function(){
                liminar_fila_concepto(this);
            });

            $('.selectpicker').selectpicker();

            $(".tr-eliminar-concepto").click(function(){
                eliminarconcepto(this);
            });

            if (es_stock==1){
                columnahide(ID_TABLA_VENTA_STOCK);
                MostrarDescuento(ID_TABLA_VENTA_STOCK);
                iteraccionCombosDescuento(ID_TABLA_VENTA_STOCK);
                calcularSubtotalesStock();
                DescuetosPorVentaStock();
            }else{
                columnahide(ID_TABLA_VENTA);
                MostrarDescuento(ID_TABLA_VENTA);
                calcularSubtotalesPepa();
                DescuetosPorVenta();
            }

            presentaForm();
            seleccionarDirecciones();
            getSelectContratos(getContratos());

            $("#id_monto_descuento_doce").val($("#id_monto_descuento_doce").attr("value"));
            $("#id_monto_descuento_cero").val($("#id_monto_descuento_cero").attr("value"));

            {% if tipo == 3%}
                var dia = "{{ dia_actual }}";
                var fecha_comp = dia.replace(",","-");
                $("#id_fecha").val(fecha_comp);
                $("#id_fecha").html(fecha_comp);
                calcularSubtotalesPepa();
                DescuetosPorVenta();
                calcularSubtotalesStock();
                DescuetosPorVentaStock();
            {% endif %}


            if($('#alerta-info').length){
                var fc = "{{ fc }}";
                var fn = "{{ fn }}";
                $("#id_fecha").focus();

                if(fc < fn){
                    $('#alerta-info-msn').text('Le informamos que la Fecha del campo es la del último comprobante, si desea la puede cambiar o sólo continuar.');
                    $('#alerta-info').removeClass('alerta-ocultar');
                }

            }


        });

        $(function(){
            var dia = "{{ dia_actual }}";
            var fecha_comp = dia.replace(",","-");

            $("#id_fecha").val(fecha_comp);
            $("#id_fecha").html(fecha_comp);

            $("#id_fecha_inicio").val(fecha_comp);
            $("#id_fecha_inicio").html(fecha_comp);

            if($("#id_fecha").attr("value") != undefined){
                if(fecha_comp != $("#id_fecha").attr("value")){
                    $("#id_fecha").val($("#id_fecha").attr("value"));
                }
            }

            {% if tipo != 1 %}
                DisabledServicioCantEntrega();
            {% endif %}

            {% if tipo != 4 %}
                ValidaDocumentoSerie(getURLBusquedaDocuementos());
                 $('#id_fecha').mask("9999-99-99").datepicker({
                     todayBtn: true,
                     autoclose: true
                    }).on('changeDate', function (ev) {
                        validar_fecha_actual(this);
                        if (provision == false){
                            ValidaDocumentoSerie(URLbusquedaDocumentos);
                        }
                    });
            {% endif %}

            SelectSerieNum();

            {# Cuando es provisión venta la fecha de regsitro no se puede modificar #}
            {% if tipo == 4 %}
                $("#id_fecha").attr("readonly", "readonly");
                $("#id_fecha").attr("title", "Fecha de registro, no es modificable");
                $("#id_fecha").css({"color":"#B3B0B0", "background-color": "#ECECEC"});
            {% endif %}
            imprimir_factura(url_detalle_factura); // Imprime la factura
            imprimir_comprobante(url_detalle_imp); // Imprime el comprobante
        });
    </script>
{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
{% block ruta-principal %}Ventas{% endblock %}
{% block ruta-actual %}
{% if tipo == 1 %}
    Agregar Venta
{% elif tipo == 2 %}
    Anular y Generar Venta
{% elif tipo == 3 %}
    Copiar Venta
{% else %}
    Provision Venta
{% endif %}

{% endblock %}

{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="media">
                        <figure class="pull-left alert--icon">
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        </figure>
                        <div class="media-body">
                            <p class="alert--text">{{ message }}.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div id="alerta-info" class="alert alert-info alert-dismissable alerta-ocultar">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <div class="media">
                <figure class="pull-left alert--icon">
                        <i class="pe-7s-info"></i>
                </figure>
                <div class="media-body">
                    <p id="alerta-info-msn" class="alert--text"></p>
                </div>
            </div>
        </div>



    <form role="form" id="formulario" enctype="multipart/form-data" action="{% if tipo == 1 %}{% url "agregar_ventas" %}{% elif tipo == 2 %}{% url "anular_generar" id %}{% elif tipo == 3 %}{% url "copia_ventas" id %}{% else %}{% url "provision_venta" id %}{% endif %}" method="POST">{% csrf_token %}
         <div class="row row-comprobante-cabecera" style="margin-right: 0px; margin-left: 0px; margin: auto !important;">
                <div class="comprobante-cabecera-left"  style="height: 254px; float: left; padding-right: 20px;">
                    <table class="tabla-comprobante-cabecera">
                        {% if tipo == 4 %}
                            {% if venta.numero_comprobante %}
                                <tr>
                                    <td class="td-label1">
                                        <label class="control-label">
                                            <b># de Comprobante</b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td class="td-control1 td-relative text-right">
                                        {{ venta.numero_comprobante }}
                                    </td>
                                    <td class="td-label2">
                                        <label class="control-label">
                                            <b># de Doc.</b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td class="td-control2 td-relative text-right">
                                        {{ venta.num_documento }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario_cabecera.fecha.label }}">
                                {% if formulario_cabecera.fecha.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.fecha.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" colspan="3">
                                {% if formulario_cabecera.fecha.errors %}{{ formulario_cabecera.fecha|add_class:"campo_requerido input-calendario"}}{% else %}{{ formulario_cabecera.fecha|add_class:"input-calendario" }}{% endif %}
                            </td>
                        </tr>

                        {% if tipo != 4 %}
                            <tr class="presenta_anular_generar">
                                <td class="td-label1">
                                    <label class="control-label" for="{{ formulario_cabecera.numero_documento.label }}">
                                    {% if formulario_cabecera.numero_documento.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario_cabecera.numero_documento.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control1" colspan="3">
                                    {{ formulario_cabecera.numero_documento }}
                                </td>
                            </tr>
                            <tr class="ocultar_anular_generar">
                                <td class="td-label1">
                                    <label class="control-label" for="{{ formulario_cabecera.serie.label }}">
                                    {% if formulario_cabecera.serie.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario_cabecera.serie.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>

                                <td class="td-label1">
                                    {{ formulario_cabecera.serie|add_class:"combo" }}
                                </td>

                                <td class="td-label2">
                                    <label class="control-label" style="margin-left: 11px;">
                                    <b># Doc. Anterior:</b>
                                </td>
                                <td class="td-control2" style="font-weight: bold;">
                                    <div id="doc_anterior" class="txt-100" style="font-weight: bold;"></div>
                                </td>
                            </tr>

                            {% if_emite_docs_electronicos %}
                                 <tr></tr>
                            {% else %}
                                <tr class="ocultar_anular_generar">
                                    <td class="td-label1">
                                        <label class="control-label" style="margin-left: -12px;" for="{{ formulario_cabecera.num_autorizacion.label }}">
                                        {% if formulario_cabecera.num_autorizacion.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_cabecera.num_autorizacion.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td class="td-control1">
                                        <label id="autorizacion" class="txt-100pc label-texto lbl-border"></label>
                                    </td>

                                    <td class="td-label2">
                                        <label class="control-label" for="{{ formulario_cabecera.fecha_vencimiento.label }}">
                                        {% if formulario_cabecera.fecha_vencimiento.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_cabecera.fecha_vencimiento.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td class="td-control2">
                                        <label id="fecha_vencimiento" class="txt-100pc label-texto lbl-border"></label>
                                    </td>
                                </tr>
                            {% endif_emite_docs_electronicos %}

                        {% else %}

                        {% endif %}
                        <tr>
                            <td class="td-label1">
                               <label class="control-label" for="{{ formulario_cabecera.cliente.label }}">
                                {% if formulario_cabecera.cliente.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.cliente.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario_cabecera.cliente.errors %}{{ formulario_cabecera.cliente|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.cliente|add_class:"fcombo" }}{% endif %}
                            </td>
                            <td>
                                {% if_tiene_permiso request "registrar_cliente" %}
                                    <a id="add_cliente" class="enlace_add_cliente" style="margin-left:0; padding: 8px 12px;" title="Agregar Cliente">
                                        +
                                    </a>
                                {% endif_tiene_permiso %}
                            </td>
                            <td>
                                <a id="editar_cliente" class="enlace_add_cliente" style="margin-left:0; padding: 8px 12px;" title="Editar Cliente">
                                    -
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                               <label class="control-label" for="{{ formulario_cabecera.direccion.label }}">
                                {% if formulario_cabecera.direccion.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.direccion.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario_cabecera.direccion.errors %}{{ formulario_cabecera.direccion|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.direccion|add_class:"fcombo" }}{% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario_cabecera.forma_pago.label }}">
                                {% if formulario_cabecera.forma_pago.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.forma_pago.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>

                            <td class="td-control1" colspan="3">
                                <div class="row" style="margin: 0px;">
                                    <div style="width: 120px; float: left; padding-right: 20px; padding-top: 5px;">
                                        {% if formulario_cabecera.forma_pago.errors %}{{ formulario_cabecera.forma_pago|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.forma_pago|add_class:"combo" }}{% endif %}
                                    </div>

                                    <div style="width: 110px; float: left; padding-top: 5px; color: #9A9A9A; padding-right: 0px; padding-left: 0px;">
                                        <label class="control-label" for="{{ formulario_cabecera.plazo.label }}">
                                        {% if formulario_cabecera.plazo.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_cabecera.plazo.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                        {% if formulario_cabecera.plazo.errors %}{{ formulario_cabecera.plazo|add_class:"txt-50 campo_requerido" }}{% else %}{{ formulario_cabecera.plazo|add_class:"txt-50" }}{% endif %}
                                    </div>

                                    <div style="width: 164px; float: left; padding-right: 0px; color: #9A9A9A; padding-left: 0px; padding-top: 5px; ">
                                         <span class="no-requerido"  style="position: relative; top: 7px;"></span>
                                         <b style="position: relative; top: 7px;">Vence</b>
                                        <span  style="position: relative; top: 7px;" class="dospuntos">:</span></label>
                                        <label id="dia_vencimiento" class="label-texto" style="width: 100px !important; float: right;"></label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="comprobante-cabecera-right" style="height: 254px;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td class="td-label1" style="width: 100px;">
                               <label class="control-label" for="{{ formulario_cabecera.vendedor.label }}">
                                {% if formulario_cabecera.vendedor.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.vendedor.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3" colspan="3">
                                {% if formulario_cabecera.vendedor.errors %}{{ formulario_cabecera.vendedor|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.vendedor|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1" style="width: 100px;">
                               <label class="control-label" for="{{ formulario_cabecera.contrato.label }}">
                                {% if formulario_cabecera.contrato.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.contrato.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3" colspan="3">
                                {% if formulario_cabecera.contrato.errors %}{{ formulario_cabecera.contrato|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.contrato|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr id="pago_exterior">
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario_cabecera.nota.label }}">
                                {% if formulario_cabecera.nota.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.nota.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" style="width: 160px;">
                                {% if formulario_cabecera.nota.errors %}{{ formulario_cabecera.nota|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario_cabecera.nota|add_class:"txt-100pc" }}{% endif %}
                            </td>
                            <td colspan="2" class="td-label2">
                                 <label class="control-label" for="{{ formulario.reembolso_gasto.label }}">
                                {% if formulario_cabecera.reembolso_gasto.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.reembolso_gasto.label }}  </b>
                                <span class="dospuntos">:</span></label>
                                {% if formulario_cabecera.reembolso_gasto.errors %}{{ formulario_cabecera.reembolso_gasto }}{% else %}{{ formulario_cabecera.reembolso_gasto }}{% endif %}

                                <!--Descuento de Ventas-->
                                 <label class="control-label">
                                <b>Desc. Venta </b>
                                <span class="dospuntos">:</span></label>
                                    {% if formulario_cabecera.select_desc.errors %}{{ formulario_cabecera.select_desc }}{% else %}{{ formulario_cabecera.select_desc }}{% endif %}
                                <!--Fin Descuento Ventas-->
                            </td>
                        </tr>
                        <tr id="show-descuento">
                            <td class="td-label1">
                                 <span class="requerido">*</span>
                                <b>Descuento</b>
                                    <span class="dospuntos">:</span>
                            </td>
                            <td>
                                {% if formulario_cabecera.descuento_porc.errors %}{{ formulario_cabecera.descuento_porc|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.descuento_porc|add_class:"form-control cab_form_cont" }}{% endif %}
                            </td>
                            <td class="td-label2" style="text-align: right; padding-right: 20px;">
                               <span class="requerido">*</span>
                                <b>Tipo</b>
                                    <span class="dospuntos">:</span>
                            </td>
                            <td class="td-control2">
                                {% if formulario_cabecera.tipo_descuento.errors %}{{ formulario_cabecera.tipo_descuento|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.tipo_descuento|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label3" style="vertical-align: top; padding-top:10px;">
                                <label class="control-label" for="{{ formulario_cabecera.concepto.label }}">
                                    {% if formulario_cabecera.concepto.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario_cabecera.concepto.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3" colspan="3">
                                {% if formulario_cabecera.concepto.errors %}{{ formulario_cabecera.concepto|add_class:"textarea-concepto campo_requerido" }}{% else %}{{ formulario_cabecera.concepto|add_class:"textarea-concepto" }}{% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
        </div>

       <div id="div_formset_stock">
             <div class="row row-comprobante-detalle comprobante-venta" style="margin-bottom: 0px;">
                {% formulario_detalle_venta_stock formset_detalle_test_stock %}
            </div>
        </div>

       <div id="div_formset_venta_test">
            <div class="row row-comprobante-detalle comprobante-venta" style="margin-bottom: 0px;">
                {% formulario_detalle_venta_test formulario_detalle_test %}
            </div>
       </div>

        {% if_controla_stock %}

        {% else %}
            <div>
                <div class="row">
                    <div class="form-group row" style="position: relative; top: -16px; left: 300px; width: 190px;">
                        <div class=" alin_izq">
                            <label class="control-label" for="{{ formulario_cabecera.guia_remision.label }}">
                            <b style="text-align: center;">{{ formulario_cabecera.guia_remision.label }}</b>
                        </div>
                        <div style="float: right; position: relative; top: -16px;">{% if formulario_cabecera.guia_remision.errors %}{{ formulario_cabecera.guia_remision }}{% else %}{{ formulario_cabecera.guia_remision }}{% endif %}</div>
                    </div>
                </div>
             </div>
        {% endif_controla_stock %}


        <div id="contenedor_detalle_comp">
                <div class="row row-comprobante-retencion">
                    <div class="col-retencion-detalle">
                        <div class="retencion-detalle" id="guia_remision" >
                            <h3 class="sub-title-comprobante">GUÍA DE REMISIÓN </h3>
                            <table class="tabla-retencion-detalle">
                                <tr>
                                    <td colspan="8" style="text-align: right;color: #E75300; padding-bottom: 10px;">
                                        Fecha de Traslado:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 80px;">
                                       <label class="control-label" for="{{ formulario_guia.serie_guia.label }}">
                                        {% if formulario_guia.serie_guia.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.serie_guia.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td style="width: 120px; padding-right: 20px;">
                                        {% if formulario_guia.serie_guia.errors %}{{ formulario_guia.serie_guia|add_class:"campo_requerido" }}{% else %}{{ formulario_guia.serie_guia|add_class:"" }}{% endif %}
                                    </td>

                                   <td class="td-label" style="width: 30px; display: none;">
                                       <label class="control-label" for="{{ formulario_guia.num.label }}">
                                        {% if formulario_guia.num.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.num.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td class="td-control" style="display: none;">
                                        {% if formulario_guia.num.errors %}{{ formulario_guia.num|add_class:"txt-100 campo_requerido" }}{% else %}{{ formulario_guia.num|add_class:"txt-100" }}{% endif %}
                                    </td>

                                   <td class="td-label" style="width: 75px;">
                                       <label class="control-label" for="{{ formulario_guia.fecha_inicio.label }}">
                                        {% if formulario_guia.fecha_inicio.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.fecha_inicio.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                   </td>
                                   <td class="td-control">
                                        {% if formulario_guia.fecha_inicio.errors %}{{ formulario_guia.fecha_inicio|add_class:"txt-120 input-calendario campo_requerido" }}{% else %}{{ formulario_guia.fecha_inicio|add_class:"txt-120 input-calendario" }}{% endif %}
                                   </td>
                                   <td class="td-label">
                                        <label class="control-label" for="{{ formulario_guia.fecha_final.label }}">
                                        {% if formulario_guia.fecha_final.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.fecha_final.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td class="td-control" style="text-align: right;">
                                        {% if formulario_guia.fecha_final.errors %}{{ formulario_guia.fecha_final|add_class:"input-calendario txt-120 campo_requerido" }}{% else %}{{ formulario_guia.fecha_final|add_class:"txt-120 input-calendario" }}{% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-label">
                                       <label class="control-label" for="{{ formulario_guia.direccion_guia.label }}">
                                        {% if formulario_guia.direccion_guia.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{formulario_guia.direccion_guia.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td colspan="7">
                                        {% if formulario_guia.direccion_guia.errors %}{{ formulario_guia.direccion_guia|add_class:"txt-100pc combo campo_requerido" }}{% else %}{{ formulario_guia.direccion_guia|add_class:"txt-100pc combo" }}{% endif %}
                                    </td>
                                </tr>
                            </table>

                            <h3 class="sub-title-comprobante" style="padding-top: 40px;">TRANSPORTISTA</h3>
                            <table class="tabla-retencion-detalle">
                                <tr style="height: 30px;">
                                    <td style="width: 120px;">
                                       <label class="control-label" for="{{ formulario_guia.compania.label }}">
                                        {% if formulario_guia.compania.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.compania.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                     <td style="width: 230px;">
                                        {% if formulario_guia.compania.errors %}{{ formulario_guia.compania|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario_guia.compania|add_class:"txt-100pc" }}{% endif %}
                                    </td>

                                    <td style="width: 130px; padding-left: 20px;">
                                       <label class="control-label" for="{{ formulario_guia.ruc_remision.label }}">
                                        {% if formulario_guia.ruc_remision.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.ruc_remision.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td >
                                        {% if formulario_guia.ruc_remision.errors %}{{ formulario_guia.ruc_remision|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario_guia.ruc_remision|add_class:"txt-100pc" }}{% endif %}
                                    </td>

                                </tr>
                                 <tr>
                                     <td style="width: 120px;">
                                       <label class="control-label" for="{{ formulario_guia.ciudad.label }}">
                                        {% if formulario_guia.ciudad.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.ciudad.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td >
                                        {% if formulario_guia.ciudad.errors %}{{ formulario_guia.ciudad|add_class:"combo campo_requerido" }}{% else %}{{ formulario_guia.ciudad|add_class:"combo" }}{% endif %}
                                    </td>

                                    <td style="width: 130px; padding-left: 20px;">
                                       <label class="control-label" for="{{ formulario_guia.direccion_conductor.label }}">
                                        {% if formulario_guia.direccion_conductor.field.required %}
                                            <span class="requerido">*</span>
                                        {% else %}
                                            <span class="no-requerido"></span>
                                        {% endif %}
                                        <b>{{ formulario_guia.direccion_conductor.label }}  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td >
                                        {% if formulario_guia.direccion_conductor.errors %}{{ formulario_guia.direccion_conductor|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario_guia.direccion_conductor|add_class:"txt-100pc" }}{% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                     </div>

                <div class="col-retencion-total">
                    <div class="retencion-total" style="min-height: 319px;">
                        <h3 class="sub-title-comprobante">Totales</h3>

                        <table class="tabla-retencion-detalle tabla-retencion-totales">
                            <tr>
                                <td>
                                    <label><b>SubTotal 12%</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="subtotal">0.0</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <label><b>SubTotal 0%</b></label>
                                </td>
                                <td style="text-align: right;">
                                     <label id="subtotal_cero">0.0</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <label><b>Total SubTotal</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="total_subtotal">0.0</label>
                                </td>
                            </tr>

                            <tr id="hide_tr_1">

                                <td>
                                    <label class="control-label" for="{{ formulario_cabecera.monto_descuento.label }}">
                                        <b>{{ formulario_cabecera.monto_descuento.label }}  </b>
                                    </label>
                                </td>
                                <td style="text-align: right;">
                                    <span id="camuflado" style="padding-right: 5px;"></span>
                                    {% if formulario_cabecera.monto_descuento.errors %}{{ formulario_cabecera.monto_descuento|add_class:"txt-70 campo_requerido" }}{% else %}{{ formulario_cabecera.monto_descuento|add_class:"txt-70" }}{% endif %}
                                </td>
                            </tr>

                             <tr id="hide_tr_2">

                                <td>
                                    <label class="control-label" for="{{ formulario_cabecera.monto_descuento_doce.label }}">
                                        <b>{{ formulario_cabecera.monto_descuento_doce.label }}  </b><span id="tarifa12"></span>
                                    </label>
                                </td>
                                <td style="text-align: right;">
                                    {% if formulario_cabecera.monto_descuento_doce.errors %}{{ formulario_cabecera.monto_descuento_doce|add_class:"txt-70 campo_requerido" }}{% else %}{{ formulario_cabecera.monto_descuento_doce|add_class:"txt-70" }}{% endif %}
                                </td>
                            </tr>

                             <tr id="hide_tr_3">

                                <td>
                                    <label class="control-label" for="{{ formulario_cabecera.monto_descuento_cero.label }}">
                                        <b>{{ formulario_cabecera.monto_descuento_cero.label }}  </b> <span id="tarifa0"></span>
                                    </label>
                                </td>
                                <td style=" text-align: right;">
                                    <span id="camuflado2" style="padding-right: 5px;"></span>
                                    {% if formulario_cabecera.monto_descuento_cero.errors %}{{ formulario_cabecera.monto_descuento_cero|add_class:"txt-70 campo_requerido" }}{% else %}{{ formulario_cabecera.monto_descuento_cero|add_class:"txt-70" }}{% endif %}
                                </td>
                            </tr>
                        <tr>
                            <td>
                               <label><b>Total Descuento</b></label>
                            </td>
                            <td style="text-align: right;">
                                <label id="descuento">0.0</label>
                            </td>
                       </tr>
                       <tr>
                            <td>
                               <label><b>IVA</b></label>
                            </td>
                            <td style="text-align: right;">
                                <label id="iva">0.0</label>
                            </td>
                       </tr>
                       <tr>
                            <td>
                               <label><b>ICE</b></label>
                            </td>
                            <td style="text-align: right;">
                                <label id="ice">0.0</label>
                            </td>
                       </tr>
                        <tr>
                            <td>
                               <label><b>Total a Pagar</b></label>
                            </td>
                            <td style="text-align: right;">
                                <label id="total_pagar">0.0</label>
                            </td>
                       </tr>
                        </table>
                    </div>
                </div>
            </div>
         </div>

        <div class="text-center" style="margin-top: 60px; margin-bottom: 30px;">
            <input class="boton boton-ok guardar transaccion" type="submit"  id="guardar" value="Grabar" title="Graba la venta"/>
            <input  class="boton boton-silver transaccion" id="grabar_facturar" name="grabar_facturar" type="button" value="Grabar y Facturar" title="Graba la venta y genera la factura"/>
            <input  class="boton boton-silver transaccion" id="grabar_imprimir" name="grabar_imprimir" type="button" value="Grabar e Imprimir" title="Graba la venta e imprima el comprobante"/>
            <input  class="boton boton-silver transaccion" id="grabar_agregar" name="grabar_agregar" type="button" value="Grabar y Agregar Otra" title="Graba la venta y agrega una nueva"/>
            <a class="boton boton-gray cancelar" href="{% url "lista_ventas" %}" title="Cancelar">Cancelar</a>
        </div>
    </form>
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal" id="enviar" data-href="{% url "agregar_vigencia_documento_empresa" %}?param=1">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Div para los formulario Popup-->
    <div id="div-cliente" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="tit-ret">Agregar Cliente</h4>
                    </div>
                <div class="modal-body" id="body-ret">
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                        <form id="form_cliente" method="POST" action="{% url "registrar_cliente" %}" data-search="{% url "get_clientes" %}">
                            <div class="row row-formulario-modal">
                                {% for form in form_cliente %}
                                    {% if form.field.required or form.html_name == "tipo_cliente" %}
                                        {% if form.html_name == "tipo_cliente" %}
                                            <div id="select_tipo_cliente">
                                                <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                                    <label class="label-modal">{{ form.label }}</label>
                                                </div>
                                                <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                                    {{ form|add_class:"text-modal txt-100pc" }}
                                                </div>
                                            </div>

                                        {% else %}

                                                <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                                    <label class="label-modal">{{ form.label }}</label>
                                                </div>
                                                <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                                    {{ form|add_class:"text-modal txt-100pc" }}
                                                </div>

                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for form2 in form_direccion %}
                                    {% if form2.field.required %}
                                        <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                            <label class="label-modal">{{ form2.label }}</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                            {{ form2|add_class:"text-modal txt-100pc" }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="send_form_cliente">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                        <div id="error" class="alert alert-danger alert-dismissable" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p id="error-cliente" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Div para los formulario Popup-->
    <div id="div-cliente-editar" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="tit-ret">Editar Cliente</h4>
                    </div>

                <div class="modal-body" id="body-ret">
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>

                        <form id="form_cliente" method="POST" action="{% url "registrar_cliente" %}" data-search="#">
                            <div class="row row-formulario-modal">
                                {% for form in form_cliente_editar %}
                                    {% if form.field.required or form.html_name == "tipo_cliente" %}
                                        {% if form.html_name == "tipo_cliente" %}
                                            <div id="select_tipo_cliente">
                                                <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                                    <label class="label-modal">{{ form.label }}</label>
                                                </div>
                                                <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                                    {{ form|add_class:"text-modal txt-100pc" }}
                                                </div>
                                            </div>
                                        {% else %}
                                                <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                                    <label class="label-modal">{{ form.label }}</label>
                                                </div>
                                                <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                                    {{ form|add_class:"text-modal txt-100pc" }}
                                                </div>

                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for form2 in form_direccion %}
                                    {% if form2.field.required %}
                                        <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                            <label class="label-modal">{{ form2.label }}</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                            {{ form2|add_class:"text-modal txt-100pc" }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="edit_form_cliente">Aceptar</button>

                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-editar-cliente">Cancelar</button>

                        <div id="error" class="alert alert-danger alert-dismissable" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p id="error-cliente" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}