{% extends "base.html" %}
{% block title %}Detalle Venta{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% load snnipet_cabecera_transaccion_id %}
{% load snnipet_generales %}
{% load permisostag %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style type="text/css">
        .td-derecha{
            width: 120px !important;
        }

         .linea-total{
            border-top: 2px solid !important;
         }

    </style>
{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
{% endblock %}

{% block ruta-principal %}Ventas{% endblock %}
{% block ruta-actual %}Detalles de la Venta{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
      <div class="row row-cabecera">
        <div class="cabecera-left"  style="height: 235px;">
            <table>
                <tr>
                    <td style="width:140px;">
                        <label>Comp. de Venta:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ venta.numero_comprobante }}</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Fecha:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ venta.fecha|date:"d-m-Y" }}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Documento: </label>
                    </td>
                    <td class="td-dato">
                        <label> Nº: {{ venta.vigencia_doc_empresa.serie }}-{{  venta.num_documento }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Cliente: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ venta.cliente.razon_social }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> RUC: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ venta.cliente.ruc }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Dirección: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ venta.cliente.getDirecciones }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Estado: </label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {% if venta.status == 1 %}
                                Activa
                            {% elif venta.status == 2 %}
                                Anulada
                            {% else %}
                                Pendiente
                            {% endif %}
                        </label>
                    </td>
                </tr>

            </table>
        </div>
        <div class="cabecera-right" style="height: 235px;">
            <table>
                <tr>
                    <td style="width:150px;">
                        <label>Forma de Pago:</label>
                    </td>
                    <td class="td-dato">

                        <label>
                             {% if venta.pago_cont_credito.id == 1 %}
                                Contado

                             {% else %}
                                 Crédito
                             {% endif %}
                        </label>
                    </td>
                </tr>

                {% if venta.pago_cont_credito.id == 2 %}
                    <tr>
                        <td style="width:150px;">
                            <label>Vencimiento:</label>
                        </td>
                        <td class="td-dato">
                            <label>
                                 {{ venta.plazo }} Días
                            </label>
                        </td>
                    </tr>
                {% endif %}

                {% if venta.vendedor %}
                    <tr>
                        <td>
                            <label> Vendedor:</label>
                        </td>
                        <td class="td-dato">
                            <label>{{ venta.vendedor.nombres_completos }} - {{ venta.vendedor.apellidos_completos }}
                            </label>
                        </td>
                    </tr>
                {% endif %}

                {% if_emite_docs_electronicos %}
                    {% if venta.estado_firma >= 2 %}
                        <tr>
                            <td style="width:175px;">
                                <label>Estado Factura Electrónica:</label>
                            </td>
                            <td class="td-dato">
                                <label>
                                     {% if venta.estado_firma == 2 %}
                                        Firmado
                                     {% elif venta.estado_firma == 3 %}
                                         Enviado al SRI
                                     {% elif venta.estado_firma >= 4 %}
                                         Autorizado por el SRI
                                     {% endif %}
                                </label>
                            </td>
                        </tr>
                    {% endif %}

                {% endif_emite_docs_electronicos %}

                <tr>
                    <td>
                        <label> Usuario Creación: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ venta.usuario_creacion }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Fecha Creación: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ venta.fecha_creacion|date:"Y-m-d" }}</label>
                    </td>
                </tr>
            </table>
        </div>

    {% if detalles %}
            <h3 class="sustitulo-comprobante" style="text-decoration: underline;">Detalle de la Venta</h3>
            <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Cantidad</th>
                    <th>Item</th>
                    <th>Concepto</th>
                    <th>Centro de Costo</th>
                    <th>Precio U.</th>
                    <th>% IVA</th>
                    <th>% ICE</th>
                    <th>Subtotal</th>
                </tr>
                    {% for obj_det in detalles %}
                        <tr>
                            <td>{{ obj_det.cantidad}}</td>
                            <td>{{ obj_det.item.codigo }} - {{ obj_det.item.nombre }}</td>
                            {% if obj_det.concepto %}
                                <td>{% getDelimitadorConcepto obj_det.concepto %}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {%  if obj_det.centro_costo.descripcion %}
                                <td>{{ obj_det.centro_costo.descripcion}}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            <td  class="td-derecha">{{ obj_det.precio_unitario}}</td>
                            <td  class="td-derecha">{{ obj_det.item.iva }}</td>
                            {% if obj_det.porcentaje_ice != None%}
                                <td  class="td-derecha">{{ obj_det.porcentaje_ice }}</td>
                            {% else %}
                                <td>    </td>
                            {% endif %}
                            <td  class="td-derecha"> $ {% multiplicacion_snippet obj_det.cantidad obj_det.precio_unitario %}</td>
                        </tr>
                    {% endfor %}
            </table>
    {% endif %}

         <div id="div-totales" style="margin-bottom: 20px;">
                <table id="table-totales">
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Subtotal 12%:
                        </td>
                        <td class="td-info">
                            $ {{ venta.subtotal_tarifa12|floatformat:2 }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Subtotal 0%:
                        </td>
                        <td class="td-info">
                            $ {{ venta.subtotal_tarifa0|floatformat:2 }}
                        </td>
                    </tr>
                    {% if venta.descuento_tarifa12 and venta.descuento_tarifa0 %}
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Descuento 12 %:
                        </td>
                        <td class="td-info">
                            $ {{ venta.descuento_tarifa12|floatformat:2 }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Descuento 0%:
                        </td>
                        <td class="td-info">
                            $ {{ venta.descuento_tarifa0|floatformat:2 }}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Total Descuento:
                        </td>
                        <td class="td-info">
                            $ {{ venta.getDescuentoTotal|floatformat:2 }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            IVA:
                        </td>
                        <td class="td-info">
                            $ {{  venta.iva_total|floatformat:2  }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            ICE:
                        </td>
                        <td class="td-info">
                            $ {{  venta.total_ice|floatformat:2  }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Total:
                        </td>
                        <td class="td-info">
                            $ {{ venta.getTotalPagar|floatformat:2 }}
                        </td>
                    </tr>
                </table>
        </div>

    {% if detalle_may %}
        <div class="div-centrar div-tabla">
            <h3 class="sustitulo-comprobante" style="text-decoration: underline;">Asiento Contable</h3>
            <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Código</th>
                    <th>Cuenta</th>
                    <th>Concepto</th>
                    <th>Debe</th>
                    <th>Haber</th>
                    <th>Centro de Costos</th>
                </tr>
                {% for obj_asiento in detalle_may %}
                    <tr>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td> {{ obj_asiento.detalle }}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{{ obj_asiento.centro_costo.descripcion}}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="3" style="text-align: right; font-weight: bold;"> TOTALES: </td>
                        <td class="linea-total" style="text-align: right">{{ mayor_cab.get_total_debe|floatformat:"2" }}</td>
                        <td class="linea-total" style="text-align: right">{{ mayor_cab.get_total_haber|floatformat:"2" }}</td>
                    <td colspan="3"></td>
                </tr>

            </table>

            {% if venta.getRetencionVenta %}
                <h3 class="sustitulo-comprobante" style="text-decoration: underline;">Retención:</h3>
                <p class="sustitulo-comprobante" style="font-weight: b"> {{ venta.getNumCompRetVta }}</p>
                <div class="div-centrar div-tabla">
                    <h5 class="sustitulo-comprobante">Detalle del cobro</h5>
                     <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>Documento</th>
                                <th>Fecha</th>
                                <th>Concepto</th>
                                <th>Saldo Anterior</th>
                                <th>A cobrar</th>
                                <th>Saldo Actual</th>
                            </tr>
                            {% for obj_det in lista_cxc_cobros %}
                                <tr>
                                    <td>{{ obj_det.cuentas_x_cobrar.num_doc}}</td>
                                    <td>{{ obj_det.cuentas_x_cobrar.fecha_reg|date:"d-m-Y" }}</td>
                                    <td>{{ obj_det.cuentas_x_cobrar.venta_cabecera.concepto }}</td>
                                    <td class="td-derecha">$ {{ obj_det.monto }}</td>
                                    <td class="td-derecha">$ {{ obj_det.cuentas_x_cobrar.monto }}</td>
                                    <td class="td-derecha">$ {% subtract obj_det.cuentas_x_cobrar.monto obj_det.cuentas_x_cobrar.cobrado %}</td>
                                </tr>
                            {% endfor %}

                     </table>

                    <h5 class="sustitulo-comprobante">Asiento Contable Retención:
                        <a href="{% url "detalle_cobro_pdf" venta.getIdCobro %}" target="_blank"><ins>{{ venta.getRetencion.num_comp }}</ins></a>
                    </h5>

                    <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>Código</th>
                                <th>Cuenta</th>
                                <th>Debe</th>
                                <th>Haber</th>
                            </tr>
                            {% for obj_asiento in detalle_may_retencion_venta %}
                                <tr>
                                    <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                                    <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                                    <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                                    <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                    </table>
                </div>
            {% endif %}

            {% if venta.existeGuiaREm %}
                <div id="guia_rem">
                    <h3 class="sustitulo-comprobante" style="text-decoration: underline;">Guía Remisión</h3>
                    <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>Número Documento</td>
                        </tr>
                        {% for guia in guia_rem %}
                            <tr>
                                <td><a href="{% url "detalle_guia_remision_pdf" guia.id %}" target="_blank"><ins>{{ guia.num_doc }}</ins></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            {% if contrato %}
                <div class="div-centrar div-tabla">
                    <h3 class="sustitulo-comprobante" style="text-decoration: underline;">Contrato</h3>
                    <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                        <tr>
                            <td># Contrato</td>
                            <td>{{ contrato.num_cont }}</td>
                        </tr>
                        <tr>
                            <td>Cliente</td>
                            <td>{{contrato.cliente.ruc}}  -  {{contrato.cliente.razon_social}}</td>
                        </tr>
                        <tr>
                            <td>Fecha Reg.</td>
                            <td>{{ contrato.fecha_reg|date:"Y-m-d" }}</td>
                        </tr>
                        <tr>
                            <td>Fecha Entrega</td>
                            <td>{{contrato.fecha_entrega|date:"Y-m-d"}}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}

            <p class="desc-label">Descripción: <span class="desc-info"> {{ venta.concepto }}</span></p>

            <div class="text-center div-botones-alto" style="margin-top: 30px;">

                <a class="boton boton-ok" href="{% url 'detalle_venta_reportepdf'  venta.id %}" target="_blank">Generar PDF</a>

                {% if_emite_docs_electronicos %}

                    {% if venta.estado_firma >= 4 %}
                        <a class="boton boton-silver" href="{% url 'ride_factura_electronica'  venta.id %}" target="_blank">Generar Factura RIDE</a>
                    {% endif %}

                {% else %}

                    {% if flag_stock %}

                        <a class="boton boton-ok" href="{% url 'funcion_formato_factura' venta.id %}" target="_blank">Imprimir Factura</a>

                    {% else %}
                        <a class="boton boton-ok" href="{% url 'factura' venta.id %}" target="_blank">Imprimir Factura</a>
                    {% endif %}

                {% endif_emite_docs_electronicos %}

                <a class="boton boton-gray" href="{% url "lista_ventas" %}">Regresar</a>
            </div>
        </div>

    </div>

    {% else %}
        <div class="text-center div-botones-alto" style="margin-top: 30px;">
            <a class="boton boton-gray" href="{% url "lista_ventas" %}">Regresar</a>
        </div>
    {% endif %}


{% endblock %}