<!DOCTYPE html>
{% load formulario_comp_contable %}
{% load operaciones_template %}
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Naremaster" />
	<title>Detalle de Guía Remisión</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/comprobante.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    *{
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
    }


    #page-comprobante{
        margin: auto;
        width: 1000px;
        margin-top: 30px;
    }

    .div-centrar{

        margin: auto;

    }

    .div-cabecera{
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
    }

    #logo{
        float: left;
    }

    #logo img{
        max-height: 44px;
        width: auto;
    }

    #detalle-empresa{
        float: right;
    }

    #detalle-empresa ul{
        list-style: none;
    }

    #detalle-empresa ul li{
        text-align: right;
        font-size: 12px;
    }

    #detalle-empresa ul li.li-em-bold{
        font-weight: bold;
    }

    .div-centrar h3{
        text-align: center;
        padding: 30px 0;
        font-size: 20px;
        font-weight: bold;
    }

    #table-info-basica{
        width: 100%;
        font-size: 11px;
    }

    #table-info-basica tr .td-label1{
        width: 20%;
        font-weight: bold;
        font-size: 11px;
        vertical-align: top;

    }

    #table-info-basica tr .td-info1{
        width: 40%;
        font-size: 11px;
        vertical-align: top;
    }

    #table-info-basica tr .td-label2{
        width: 20%;
        font-weight: bold;
        font-size: 11px;
        vertical-align: top;
    }

    #table-info-basica tr .td-info2{
        width: 20%;
        font-size: 11px;
        vertical-align: top;
    }

    .div-info-basica{
        padding-bottom: 30px;
    }

    .div-tabla{
        margin-bottom: 30px
    }
    .div-tabla h4{
        font-size: 14px;
        text-align: left;
        font-style: italic;
        text-decoration: underline;

        font-weight: bold;
    }

    #table-info-registro{
         width: 100%;
        font-size: 13px;
        margin-top: 5px;
    }


    #table-info-registro tr th{
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        padding: 3px;
        text-align: center;
    }

    #table-info-registro tr th:last-child{
        border-right: 1px solid gray;


    }

    #table-info-registro tr td{
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        padding: 3px;
    }

    #table-info-registro tr td:last-child{
        border-right: 1px solid gray;
        text-align: right;

    }
    #table-info-registro tr:last-child td{
        border-bottom: 1px solid gray;


    }

    #table-info-retencion{
        width: 100%;
        margin: auto;
    }

    #table-info-retencion .td-label{
        width: 16%;
        font-weight: bold;
        font-size: 13px;
    }


    #table-info-retencion .td-info{
        width: 16%;
        font-size: 13px;
    }

    #table-info-registro tr td.td-haber-cuenta{
        padding-left: 20px;
    }

    #table-info-registro tr td.td-derecha{
        text-align: right;
        padding-right: 3px;
    }

    .desc-label{
        font-weight: bold;
        font-size: 13px;
        padding-top: 30px;
    }


    .desc-info{
        font-weight: normal;
        font-size: 13px;
    }

    #div-totales{
        width: 100%;
        margin: auto;
        font-size: 13px;
    }

    #table-totales{
        float: right;
    }

    #table-totales tr td.td-label{
        font-weight: bold;
        text-align: right;
        padding-right: 20px;
    }
    #table-totales tr td.td-info{
        text-align: right;
        padding-left: 20px;
    }

    #div-firmas{
        width: 100%;
        margin: auto;
        font-size: 13px;
        margin-top: 60px;
    }

    #table-firmas{
       margin: auto;
       width: 100%;
    }

    #table-firmas tr td{
       padding: 0px 30px;
    }

    #table-firmas tr td hr{
       border-top: 1px solid black;
    }

    #table-firmas tr td p{
       padding-top: 3px;
       font-weight: bold;
    }

    .div-footer label.lbl-empresa{
        float: left;
        font-size: 11px;
        font-weight: bold;
    }


    .div-footer label.lbl-indice{
        float: right;
        font-size: 11px;
        font-weight: bold;
    }

    #table-cobro{
         margin: auto;
       width: 100%;
    }

    #table-info-registro  tr td.td-total{
        text-align: right;
        padding-right: 10px;
        font-weight: bold;
    }

  </style>
  <style type="text/css">
    @page {
        size: {{ pagesize }};
        margin: 1cm;
        @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 0cm;
            height: 1cm;

        }
    }
  </style>
</head>

<body>
<div id="page-comprobante">
         <div class="div-centrar div-cabecera" >
            <table border="0" id="table-cabecera" style="border: none;">
                <tr>
                    <td style="width: 100px;"></td>
                    <td style="border: none; padding-bottom: 5px;text-align: center;border-bottom: 2px solid #A2A3A5;">
                        <p style="text-align: center;">
                            <img style="text-align: center; margin: auto;" height="44" src="clipmaestro/static/img/logo_tmp.jpg"/>
                        </p>
                         <p style="text-align: center;">
                            <span style="font-weight: bold;font-size: 10px; display: block;">Inpulso S.A.</span>
                        </p>
                         <p style="text-align: center;">
                            <span style="font-size: 10px;display: block;"><strong>Usuario:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</span>
                        </p>
                         <p style="text-align: center;">
                           <span style="font-size: 10px;display: block;"><strong>Fecha de Impresión:</strong> {{ now|date:"d/m/Y" }}</span>
                        </p>

                    </td>
                    <td style="width: 100px;"></td>
                </tr>
            </table>
        </div>

        <div class="div-centrar div-info-basica">
            <h2 style="text-align: center; color: #000000; padding-bottom: 10px; padding-top: 10px; font-size: 18px; font-weight: normal;">Comprobante de {{ mayor_cab.tipo_comprobante.descripcion }}:  {{ mayor_cab.numero_comprobante }}</h2>
            <table id="table-info-basica">

                <tr>
                    <td class="td-label1">
                        Fecha de Registro:
                    </td>
                    <td class="td-info1">
                        {{ cabecera_guia_rem.fecha_reg|date:"d-m-Y" }}
                    </td>
                    <td class="td-label2">
                        Fecha de Pago
                    </td>
                    <td class="td-info2">
                         {% if detalle_pago.forma_pago.id == 1 %}
                            {{ detalle_pago.fecha_cheque }}
                         {% else %}
                             {{ cobro.fecha_pago|date:"d-m-Y" }}
                         {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Cliente:
                    </td>
                    <td class="td-info1">

                        {{ cobro.cliente.razon_social }}
                    </td>
                    <td class="td-label2">
                        Forma de Pago:
                    </td>
                    <td class="td-info2">
                        {{ cobro.forma_pago.descripcion }}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Con cargo a cuenta:
                    </td>
                    <td class="td-info1">
                        {{ cuenta.descripcion }}
                    </td>
                    <td class="td-label2">
                        El valor de:
                    </td>
                    <td class="td-info2">
                        $ {{ cobro.monto|floatformat:2 }}({{ cobro.monto_to_word }} {{ decimal }}/100 dólares)
                    </td>
                </tr>
                <tr>
                   <td class="td-label1">
                        {% if detalle_pago.forma_pago.id == 1 %}
                            Cheque N°:
                        {% else %}
                            Referencia:
                        {% endif %}
                    </td>
                    <td class="td-info1">
                        {% if detalle_pago.forma_pago.id == 1 %}
                            {{ detalle_pago.num_cheque }}
                        {% else %}
                            {{ detalle_pago.referencia }}
                        {% endif %}
                    </td>
                    <td class="td-label2">
                        Descripción:
                    </td>
                    <td class="td-info2">
                        {{ cobro.concepto }}
                    </td>
                </tr>
            </table>
            <div style="clear: both"></div> 
        </div>
        <div class="div-centrar div-tabla">
            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px;">Detalle del Cobro</p>
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none">
                <thead style="background: #E9E8E6;">
                        <th style="width: 120px;border: none; padding-top: 8px;">Tipo Doc.</th>
                        <th style="width: 120px;border: none; padding-top: 8px;">Documento</th>
                        <th style="border: none; padding-top: 8px;">Fecha</th>
                        <th style="border: none; padding-top: 8px;">Concepto</th>
                        <th style="border: none; padding-top: 8px;">Monto</th>
                </thead>
                <tbody style="background: #F5F4F2;">
                    {% for obj_det in detalle_pago %}
                        <tr>
                            <td style="border: none;padding-top: 5px;">{{ obj_det.cuentas_x_cobrar.documento.descripcion_documento}}</td>
                            <td style="border: none;padding-top: 5px;">{{ obj_det.cuentas_x_cobrar.num_doc}}</td>
                            <td style="border: none;padding-top: 5px;">{{ obj_det.cuentas_x_cobrar.fecha_emi|date:"d-m-Y" }}</td>
                            <td style="border: none;padding-top: 5px;">{{ obj_det.cuentas_x_cobrar.venta_cabecera.concepto }}</td>
                            <td style="border: none;padding-top: 5px; text-align: right">$ {{ obj_det.monto }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="div-centrar div-tabla">

            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; padding-top: 10px;">Asiento Contable</p>
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none;">
                <thead style="background: #E9E8E6;">
                    <tr>
                        <th style="width: 120px; border: none; padding-top: 8px;">Código</th>
                        <th style="border: none;padding-top: 8px;">Cuenta</th>
                        <th style="width: 100px;border: none;padding-top: 8px;">Debe</th>
                        <th style="width: 100px;border: none;padding-top: 8px;">Haber</th>
                    </tr>
                </thead>
                <tbody style="background: #F5F4F2;">
                {% for obj_asiento in detalle_may%}
                    <tr>
                        <td style="border: none;padding-top: 5px;" {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td style="border: none;padding-top: 5px;"> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td style="border: none;padding-top: 5px;" class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td style="border: none;padding-top: 5px;" class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p style="font-size: 11px; font-weight: bold;">Descripción: <span class="desc-info"  style="font-size: 11px; font-weight: normal;">Ilustración Plan B</span></p>

            <div class="div-centrar div-tabla">

               <div id="div-firmas">
                    <table id="table-firmas" style="margin-top: 70px; text-align: center">

                         <tr>

                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                            </td>
                            <td style="border: none; width: 30px;">

                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                            </td>
                            <td style="border: none; width: 30px; ">

                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Revisado por:</p>
                            </td>
                        </tr>

                    </table>

                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>

   </div>
</div>
<div id="footerContent" style="text-align: right; padding-right: 30px; padding-left: 30px;">

     Página: <pdf:pagenumber>
</div>
</body>
</html>