{% extends "base.html" %}
{% block title %}Detalle Venta{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
{% endblock %}


{% block item-venta %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
{% endblock %}

{% block ruta-principal %}VENTAS{% endblock %}
{% block ruta-actual %}Detalle de la Venta{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
      <div class="row row-cabecera">
        <div class="cabecera-left"  style="height: 210px;">
            <table>
                <tr>
                    <td style="width:140px;">
                        <label>Comp. de Venta:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ venta.numero_comprobante }}</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Fecha:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ venta.fecha|date:"d-m-Y" }}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Documento: </label>
                    </td>
                    <td class="td-dato">
                        <label> Nº: {{  venta.num_documento }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Cliente: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ venta.cliente.nombre }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Dirección: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ venta.cliente.getDirecciones }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Estado: </label>
                    </td>
                    <td class="td-dato">
                        <label>{% if compra.status == 2 %}Anulada{% else %}Activa{% endif %}</label>
                    </td>
                </tr>

            </table>
        </div>
        <div class="cabecera-right" style="height: 210px;">
            <table>
                <tr>
                    <td style="width:150px;">
                        <label>Forma de Pago:</label>
                    </td>
                    <td class="td-dato">

                        <label>
                             {% if venta.pago_cont_credito.id == 1 %}
                                Contado

                             {% else %}
                                 Crédito
                             {% endif %}
                        </label>
                    </td>
                </tr>

                {% if venta.pago_cont_credito.id == 2 %}
                    <tr>
                        <td style="width:150px;">
                            <label>Vencimiento:</label>
                        </td>
                        <td class="td-dato">
                            <label>
                                 {{ venta.plazo }} Días
                            </label>
                        </td>
                    </tr>
                {% endif %}

                {% if venta.vendedor.nombre %}
                    <tr>
                        <td>
                            <label> Vendedor:</label>
                        </td>
                        <td class="td-dato">
                            <label>{{ venta.vendedor.nombre }}</label>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <h3 class="sustitulo-comprobante">Detalle de la Venta</h3>
        <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
        <tr>
            <th>Cantidad</th>
            <th>Item</th>
            <th>Concepto</th>
            <th>Centro de Costo</th>
            <th>Precio U.</th>
            <th>% IVA</th>
            <th>% ICE</th>
            <th>Subtotal</th>
        </tr>

        {% for obj_det in detalles %}
            <tr>
                <td>{{ obj_det.cantidad}}</td>
                <td>{{ obj_det.item.codigo }} - {{ obj_det.item.nombre }} </td>
                <td>{{ obj_det.concepto}}</td>
                <td>{{ obj_det.centro_costo.descripcion }}</td>
                <td  class="td-derecha">{{ obj_det.precio_unitario}}</td>
                <td  class="td-derecha">{{ obj_det.item.iva }}</td>
                {% if obj_det.porcentaje_ice != None%}
                    <td  class="td-derecha">{{ obj_det.porcentaje_ice }}</td>
                {% else %}
                    <td>    </td>
                {% endif %}
                <td  class="td-derecha"> $ {% multiplicacion_snippet obj_det.cantidad obj_det.precio_unitario %}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="div-centrar div-tabla">
        <h3 class="sustitulo-comprobante">Asiento Contable</h3>

        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
            <tr>
                <th>Código</th>
                <th>Cuenta</th>
                <th>Concepto</th>
                <th>Debe</th>
                <th>Haber</th>
                <th>Centro de Costos</th>

            </tr>
            {% for obj_asiento in detalle_may%}
                <tr>
                    <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                    <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                    <td> {{ obj_asiento.detalle }}</td>
                    <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    <td class="td-derecha">{{ obj_asiento.centro_costo.descripcion }}</td>
                </tr>
            {% endfor %}

        </table>
       <p class="desc-label">Descripción: <span class="desc-info"> {{ venta.concepto }}</span></p>

        <div id="div-totales">
                <table id="table-totales">
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Subtotal 12%:
                        </td>
                        <td class="td-info">
                            $ {{ venta.subtotal_tarifa12|floatformat:2 }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Subtotal 0%:
                        </td>
                        <td class="td-info">
                            $ {{ venta.subtotal_tarifa0|floatformat:2 }}
                        </td>
                    </tr>
                    {% if venta.descuento_tarifa12 and venta.descuento_tarifa0 %}
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Descuento 12 %:
                        </td>
                        <td class="td-info">
                            $ {{ venta.descuento_tarifa12|floatformat:2 }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Descuento 0%:
                        </td>
                        <td class="td-info">
                            $ {{ venta.descuento_tarifa0|floatformat:2 }}
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td></td>
                        <td class="td-label">
                            Total Descuento:
                        </td>
                        <td class="td-info">
                            $ {{ venta.getDescuentoTotal|floatformat:2 }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            IVA:
                        </td>
                        <td class="td-info">
                            $ {{  venta.iva_total|floatformat:2  }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            ICE:
                        </td>
                        <td class="td-info">
                            $ {{  venta.total_ice|floatformat:2  }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Total:
                        </td>
                        <td class="td-info">
                            $ {{ venta.getTotalPagar|floatformat:2 }}
                        </td>
                    </tr>
                </table>
            </div>

        <div class="text-center div-botones-alto" style="margin-top: 30px;">
            <a class="boton boton-ok" href="{% url 'detalle_venta_reportepdf'  venta.id %}" target="_blank">Generar PDF</a>
            <a class="boton boton-gray" href="{% url "lista_ventas" %}">Regresar</a>
        </div>
    </div>
    </div>
{% endblock %}