{% extends "base.html" %}
{% block title %}Ventas{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}
{% load snnipet_ventas %}
{% load snnipet_generales %}
{% load permisostag %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <style type="text/css">
        .anular_generar, .anular{
           cursor: pointer; cursor: hand;
        }
        td a span{
            cursor: pointer; cursor: hand;
        }
        .div-botones
        {
            padding: 0px;
        }

        .factura-final{
            float: left;
            padding-left: 14px;
        }
        .comprobante-final{
            float: left;
            padding-left: 14px;
        }

        .bootstrap-filestyle label{
            width: 40%;
            margin-right: 0;
            margin-left: 0;
        }
        #foto_usuario #foto_usuario_int .bootstrap-filestyle label.btn span {
            top: -8px !important;
        }
        #foto_usuario #foto_usuario_int .input-large {
            width: 239px;
        }

        .check-rembolso{
            margin-left: 12px !important;
            margin-right: 20px !important;
        }

         .check-iva{
             margin-left: 10px !important;
         }

    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
        var url_anular_factura = "{% url "rectificar_venta" %}";
        var url_ultima_factura = "{% url "get_ultima_factura_usada" %}";
        var url_ultimo_comp_venta = "{% url "get_ultima_comprobante_venta_usado" %}";
        var url_documento_vigente = "{% url "valida_documentos_vigentes" %}";
        var url_tiene_guia_remision = "{% url "tiene_guia_rem" %}";
        var url_tiene_retencion_venta = "{% url "tiene_retencion_venta" %}";
        var url_agregar_retencion_venta = "{% url "agregar_retencion" %}";
        var url_lista_ventas = "{% url "lista_ventas" %}";


        var url_validar_documento_vigente = "{% url "ajax_seleccionar_documentos" %}";


        {% if_emite_docs_electronicos %}
            var url_get_correo = "{% url "get_correo_cliente" %}";
            var url_enviar_correo = "{% url "enviar_correo_factura" %}";
        {% endif_emite_docs_electronicos %}
    </script>
    <script src="{{ STATIC_URL }}js/js_ventas/funciones_venta.js"></script>
    <script src="{{ STATIC_URL }}js/js_ventas/lista_ventas.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
 {% block ruta-principal %}Ventas{% endblock %}
 {% block ruta-actual %}Buscar Ventas{% endblock %}
{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    <form action="" class="form-group" id="formulario" method="GET">
        <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>
            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="comprobante-cabecera-left" style="height: 235px; float: left;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>

                            <td>
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Cliente:</label>
                            </td>
                            <td style="width: 150px;" colspan="3">
                               {{ buscador.cliente }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Tipo de Documento:</label>
                            </td>
                            <td>
                                {{ buscador.tipo_documento|add_class:"txt-150" }}
                            </td>
                            <td>
                                <label>Vigencia de Doc:</label>
                            </td>
                            <td>
                                {{ buscador.vigencia_doc_empresa|add_class:"txt-150" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Número:</label>
                            </td>
                            <td>
                                {{ buscador.ndocumento|add_class:"txt-150" }}
                            </td>
                            <td>
                                <label># de Compro:</label>
                            </td>
                            <td>
                                {{ buscador.num_comp|add_class:"txt-150" }}
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <label>Forma de Pago:</label>
                            </td>
                            <td >
                                {{ buscador.fpago|add_class:"txt-150" }}
                            </td>
                            <td colspan="2">
                                <label>Reembolso Gto:</label>
                                {{ buscador.reembolso|add_class:"check-rembolso" }}
                                <label>Venta con IVA:</label>
                                {{ buscador.venta_iva|add_class:"check-iva" }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="comprobante-cabecera-right" style="height: 235px; float: right;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td>
                                <label>Vendedor:</label>
                            </td>
                            <td style="width: 150px;" colspan="3">
                                {{ buscador.vendedor }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Item:</label>
                            </td>
                            <td style="width: 150px;" colspan="3">
                                {{ buscador.item }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Referencia:</label>
                            </td>
                             <td colspan="3">
                                {{ buscador.referencia}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Rango de Monto:</label>
                            </td>
                             <td style="width: 120px;">
                                {{ buscador.rango_monto_ini }}
                            </td>
                            <td style="text-align: right;">
                                <label style="padding-right: 20px;">Hasta</label>
                            </td>
                             <td style="width: 120px;">
                                {{ buscador.rango_monto_hasta}}
                            </td>
                        </tr>

                         <tr>
                             {% if_emite_docs_electronicos %}
                                <td style="width: 150px;">
                                    <label>{{ buscador.estado_doc_elect.label }}</label>
                                </td>
                                <td style="width: 201px; padding-right: 20px;">
                                        {{ buscador.estado_doc_elect }}
                                </td>
                             {% endif_emite_docs_electronicos %}

                            <td>
                                <label>Estado:</label>
                            </td>
                            <td>
                                {{ buscador.estado}}
                            </td>
                        </tr>

                        <tr style="display: none;">
                           <td>
                                {{ buscador.page}}
                            </td>
                        </tr>
                        </table>
                </div>
            </div>
            <div class="text-center" style="clear: both; margin-top: 20px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
            </div>
        </div>
    </form>

    {% if_tiene_permiso request "agregar_ventas"%}
        <div class="div div-agregar">
               <a class="boton boton-ok" href="{% url "agregar_ventas" %}">Agregar</a>
               {% if objetos %}
                   {% if_emite_docs_electronicos %}

                   {% else %}
                        {% if_tiene_permiso request "rectificar_venta" %}
                            <a id="anular-factura" class="boton boton-gray cancelar" href="#">Anular - Factura</a>
                        {% endif_tiene_permiso %}
                   {% endif_emite_docs_electronicos %}
               {% endif %}
        </div>
    {% endif_tiene_permiso %}
    <div class="botones-administracion">
    {% if objetos %}
        {% if_emite_docs_electronicos %}
            {% if_tiene_permiso request "detalle_venta" %}
                <a id="ver" class="boton boton-administrador" href="#">Ver</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "copia_ventas" %}
                <a id="copiar" class="boton boton-administrador" href="#">Copiar</a>
            {% endif_tiene_permiso %}

            <a style="display: none;" id="nota_credito" class="boton boton-administrador" href="#">N/C</a>

             {% if_tiene_permiso request "provision_venta" %}
                <a id="provision" class="boton boton-administrador" href="#">Provisión</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "anular_generar" %}
                <a id="anular_generar" class="boton boton-administrador" href="#">Anular y Generar</a>
            {% endif_tiene_permiso %}

            <div class="btn-group">
                <!-- Realizar función con jquery para quitar el button group  de Retención -->
                <a type="button" href="" class="boton boton-administrador" data-toggle="dropdown">Retención
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if_tiene_permiso request "agregar_retencion" %}
                        <li><a id="agregar_ret"  href="#">Agregar Retención</a></li>
                    {% endif_tiene_permiso %}

                    {% if_tiene_permiso request "anular_retencion_venta" %}
                        <li><a id="anular_ret" href="#">Reversar Retención</a></li>
                    {% endif_tiene_permiso %}

                    {% if_tiene_permiso request "detalle_cobro_pdf" %}
                        <li><a id="ver_ret" href="#">Ver Retención</a></li>
                    {% endif_tiene_permiso %}
                </ul>
            </div>
            <div class="btn-group">
                <!-- Realizar función con jquery para quitar el button group  de Guía de Remisión  -->
                <a type="button" href="" class="boton boton-administrador" data-toggle="dropdown">
                    Guía Remisión <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    {% if_tiene_permiso request "agregar_guia_rem_venta" %}
                        <li><a id="agregar-guia-rem"  href="#">Agregar Guía Remisión</a></li>
                    {% endif_tiene_permiso %}

                    {% if_tiene_permiso request "lista_guias_remision" %}
                        <li><a id="ver_guia_rem" href="#">Ver Guías de Remisión</a></li>
                    {% endif_tiene_permiso %}
                </ul>
            </div>

            <a id="factura_electronica" class="boton boton-administrador" href="#">Enviar Factura Electrónica</a>
            <a id="enviar_mail_factura_electronica" class="boton boton-administrador" href="#">Enviar Factura por Correo</a>


        {% else %}

            {% if_tiene_permiso request "detalle_venta" %}
                <a id="ver" class="boton boton-administrador" href="#">Ver</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "copia_ventas" %}
                <a id="copiar" class="boton boton-administrador" href="#">Copiar</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "anular_venta"%}
                <a id="anular" class="boton boton-administrador" href="#">Anular - Venta</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "provision_venta" %}
                <a id="provision" class="boton boton-administrador" href="#">Provisión</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "anular_generar" %}
                <a id="anular_generar" class="boton boton-administrador" href="#">Anular y Generar</a>
            {% endif_tiene_permiso %}



            <div class="btn-group">
                <!-- Realizar función con jquery para quitar el button group  de Retención -->
                <a type="button" href="" class="boton boton-administrador" data-toggle="dropdown">Retención
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if_tiene_permiso request "agregar_retencion" %}
                        <li><a id="agregar_ret"  href="#">Agregar Retención</a></li>
                    {% endif_tiene_permiso %}

                    {% if_tiene_permiso request "anular_retencion_venta" %}
                        <li><a id="anular_ret" href="#">Anular Retención</a></li>
                    {% endif_tiene_permiso %}

                    {% if_tiene_permiso request "detalle_cobro_pdf" %}
                        <li><a id="ver_ret" href="#">Ver Retención</a></li>
                    {% endif_tiene_permiso %}
                </ul>
            </div>

            <div class="btn-group">
                <!-- Realizar función con jquery para quitar el button group  de Guía de Remisión  -->
                <a type="button" href="" class="boton boton-administrador" data-toggle="dropdown">
                    Guía Remisión <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    {% if_tiene_permiso request "agregar_guia_rem_venta" %}
                        <li><a id="agregar-guia-rem"  href="#">Agregar Guía Remisión</a></li>
                    {% endif_tiene_permiso %}

                    {% if_tiene_permiso request "lista_guias_remision" %}
                        <li><a id="ver_guia_rem" href="#">Ver Guías de Remisión</a></li>
                    {% endif_tiene_permiso %}
                </ul>
            </div>

        {% endif_emite_docs_electronicos %}
   {% endif %}
        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>
        <div class="table-responsive">
        {% if objetos %}
            <table id="lista" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 79px;">F. Emisión</th>
                        <th style="width: 90px;">Nº de Comp.</th>
                        <th style="width: 127px;">Nº de Doc.</th>
                        <th>Cliente</th>
                        <th style="width: 225px;">Concepto</th>
                        <th>F. Pago</th>
                        <th style="width: 50px;">Reten.</th>
                        {% if_controla_stock %}
                        {% else %}
                            <th>Cant.x.Ent.</th>
                        {% endif_controla_stock %}

                        {% if_emite_docs_electronicos %}
                            <th style="width: 65px"><i class="fa fa-flag" title="Estado Envio SRI"></i></th>
                        {% endif_emite_docs_electronicos %}

                        <th style="width: 100px;">T. Pagar </th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in objetos %}
                    <tr>
                    <td  style="width: 51px; text-align: center;">
                            <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                data-ver="{% url "detalle_venta" obj.id %}"
                                data-copiar="{% url "copia_ventas" obj.id %}"
                                data-anular="{% url "anular_venta" obj.id %}"
                                data-anular_generar="{% url "anular_generar" obj.id %}"
                                data-anular_ret="{% url "anular_retencion_venta" obj.id%}"
                                data-ver_ret="{% url "detalle_cobro_pdf" obj.getIdCobro%}"
                                data-guia-rem-venta="{% url "agregar_guia_rem_venta" obj.id %}"
                                data-anular-guia-rem-venta="{% url "anular_guia_rem_venta"  obj.id %}"
                                data-ver-guia-rem-venta="{% url "lista_guias_remision" obj.id %}"
                                data-provision="{% url "provision_venta" obj.id %}"
                                {% if_emite_docs_electronicos %}
                                    data-enviar_factura_electronica="{% url "enviar_factura_electronica_sri" obj.id %}"
                                    data-enviar_correo="{% url "enviar_correo_factura" %}"
                                    data-estado_firma="{{ obj.estado_firma }}"
                                {% endif_emite_docs_electronicos %}
                                data-status="{{ obj.status }}"
                                data-flag-guia="{{ obj.existeItemsEntregar }}"
                                data-flag-n-c="{{ obj.ExisteDevolucionVenta }}"
                            />
                        </td>
                        <td style="text-align: center;">{{obj.fecha|date:"Y-m-d" }}</td>
                        <td class="nombre text-center">{{obj.numero_comprobante }}</td>
                        <td class="num_doc text-center">{{obj.vigencia_doc_empresa.serie}}-{{obj.num_documento}}</td>

                        <td class="razon_social">{{obj.cliente.razon_social|default_if_none:""|slice:"0:25"}}{% if obj.cliente.razon_social|length > 25 %}...{% endif %}</td>

                        <td title="{{obj.concepto}}" >{{obj.concepto|default_if_none:""|slice:"0:70"}}{% if obj.concepto|length > 70 %}...{% endif %}</td>
                        <td>{{obj.pago_cont_credito.descripcion}}</td>
                        <td class="text-center">{% tiene_retencion obj.id %}</td>
                        {% if_controla_stock %}
                        {% else %}
                            <td class="text-right">{% if obj.cantidadItemsEntregar %}{{ obj.cantidadItemsEntregar }}{% else %}0.0{% endif %}</td>
                        {% endif_controla_stock %}
                        {% if_emite_docs_electronicos %}
                            <td style="text-align: center">{% autoescape off %}{{ obj.get_estado_factura_electronica }}{% endautoescape %}</td>
                        {% endif_emite_docs_electronicos %}

                        <td class="text-right">$ {{obj.getTotalPagar|floatformat:2}}</td>
                        <td>
                        {% if obj.status == 1%}
                            <span class="item-activo">Activo</span>
                        {% elif  obj.status == 2 %}
                                <span class="sin-acceso">Anulada</span>
                        {% elif  obj.status == 3 %}
                            <span class="item-activo">Pendiente</span>
                        {% endif %}
                        </td>
                    {% endfor%}
                </tr>
            </tbody>
        </table>
        {% endif %}
       {% paginacion_html objetos arreglo_paginado muestra_paginacion %}
        </div>

   {% if not objetos %}
        <p class="resultado-vacio">Su consulta no generó resultados.</p>
   {% endif %}

    <!-- Div para los formulario Popup-->
   <div id="agregar_retencion" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Agregar Retención</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <p class="sub-titulo-modal">Datos de la nueva retención</p>
                    <h6 class="campos-requeridos" style="margin-bottom: 20px;">Todos los campos son requeridos.</h6>

                    <form id="form_retencion">
                        <input id="id_venta" style="display: none" name="id_venta" type="number"/>
                        <label>{{ retencion_cabecera.fecha_ret.label }}</label>
                        {{ retencion_cabecera.fecha_ret }}
                        <table id="retencion" class="tabla-popup" style="color: #696969;">
                            <thead>
                                <th style="width: 30px;"></th>
                                <th style="width: 300px;">Cuenta Retencion</th>
                                <th>Monto</th>
                            </thead>
                            <tbody>
                                {% for formulario in retencion %}
                                    <tr>
                                    <td>
                                        <a class="boton-eliminar-tr eliminar">
                                            <img src="/static/cm_html/images/eliminar_tr_icono.png">
                                         </a>
                                    </td>
                                    {% for form in formulario %}
                                        <td>{{ form }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ retencion.management_form }}

                        <a class="tr-agregar" id="agregar_fila" style="margin-left: 28px;">
                             <img src="/static/cm_html/images/agregar_tr_icono.png">
                                Agregar otra fila
                        </a>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="ok-ret">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <div id="error" class="alert alert-danger alert-dismissable" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" type="button" class="close"  aria-hidden="true">×</button>

                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">

                                    <p id="error-pop_up" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

   <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
   <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
   </div>

   {# Div Formulario para Anular la Factura #}
   <div id="anular_venta_modal" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title-modal" id="tit-factura">Anular N° de Factura</h4>
                </div>
                <div class="modal-body" id="body-factura">
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                    <form id="form_anular_factura" method="POST">
                        <div class="row row-formulario-modal">
                        {# Aqui se valida si el ingreso de los documentos es manual o automático #}
                            {% if False %}
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anular_factura.documento.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_factura.documento|add_class:"text-modal" }}
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anular_factura.numero_doc.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_factura.numero_doc|add_class:"text-modal" }}
                                </div>
                            {% else %}
                                <p style="padding-bottom: 20px"><label class="label-modal">Tenga en cuenta que se anulará el siguiente número de factura,
                                    como el sistema es en línea, presione
                                    el icono de actualizar para mostrarle el último número de factura utilizado, antes de aceptar verifique
                                    que el documento seleccionado corresponda a la secuencia actual presentada.
                                </label>
                                </p>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anular_factura.fecha_reg.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_factura.fecha_reg|add_class:"text-modal" }}
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anular_factura.documento.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_factura.documento|add_class:"text-modal" }}
                                </div>

                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">Último # Comp. utilizado:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    <span id="ultimo_comprobante" class="comprobante-final"></span>
                                    <a class="retencion-reload" title="Actualizar Número de Comprobante"></a>
                                </div>

                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">Último # Factura utilizada:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    <span id="ultima_factura" class="factura-final"></span>
                                    <a class="retencion-reload" title="Actualizar Número de Factura"></a>
                                </div>

                            {% endif %}
                        </div>

                    </form>

                    <div class="modal-footer">
                        <button type="button" class="boton yes boton-ok" id="ok-doc-anul">Aceptar</button>
                        <button type="button" class="boton cancel boton-gray" data-dismiss="modal" id="cancel-factura">Cancelar</button>

                        <div class="alert alert-danger alert-dismissable error-modal" style="margin-bottom:0; margin-top: 20px;">
                            <button type="button" class="close cerrar-error"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p class="alert--text mensaje-error-retencion"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
   <div id="envio_correo" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Envío de Correo Electrónico</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <p class="sub-titulo-modal">Los siguientes datos son opcionales:</p>
                        <form id="form_envio_correo" method="POST">
                            <div class="row row-formulario-modal">
                                <div style="display: none">{{ form_correo.id_venta }}</div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                    <label class="label-modal">{{ form_correo.file.label }}:</label>
                                </div>
                                <div id="foto_usuario" class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                     <div id="foto_usuario_int">
                                        {{ form_correo.file|add_class:"" }}
                                     </div>
                                </div>

                                <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                    <label class="label-modal">Correo del Cliente:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                    <p id="correo_cliente"></p>
                                </div>

                                <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                    <label class="label-modal">C.C:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                    {{ form_correo.cc|add_class:"text-modal" }}
                                </div>
                            </div>
                        </form>
                    <div class="modal-footer">
                        <button type="button" class="boton yes boton-ok" id="ok_send_mail">Enviar al Correo</button>
                        <button type="button" class="boton cancel boton-gray" data-dismiss="modal" id="cancel_envio_correo">Cancelar</button>

                        <!-- div para mostrar errores -->
                        <div class="alert alert-danger alert-dismissable error-modal" style="margin-bottom:0px; margin-top: 20px;">
                            <button type="button" class="close close-error"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p id="error-envio" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}