<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Documento Electrónico</title>
        <style type="text/css">
          *{ margin:0; padding:0;}
          body{ background-color:#FFF; font-family: "Verdana"; color: #000000;}
        </style>
    </head>

    <body>
        {% if proveedor %}
            <table align="center" border="0" style="padding-top:100px; background-color:#FFFFFF;width:630px; height:300px;  margin-left:auto; margin-right:auto;" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="630" height="300" style="width:630px; height:300px; text-align:justify; color:#000000; font-size:13px; vertical-align: top; padding: 0px 20px;">
                        Estimado(a): {{ proveedor.razon_social }}
                        <br />
                        Adjuntamos su Retención electrónica: {{ retencion.get_num_doc }}
                        <br />
                        Fecha de emisión: {{ retencion.fecha_emi }}
                    </td>
                </tr>
            </table>

        {% elif cliente %}

            {% if tipo == 1 %}
                <table align="center" border="0" style="padding-top:100px; background-color:#FFFFFF;width:630px; height:300px;  margin-left:auto; margin-right:auto;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="630" height="300" style="width:630px; height:300px; text-align:justify; color:#000000; font-size:13px; vertical-align: top; padding: 0px 20px;">
                            Estimado(a): {{ cliente.razon_social }}
                            <br />
                            Adjuntamos su Factura electrónica: {{ venta.get_num_doc }}
                            <br />
                            Fecha de emisión: {{ venta.fecha }}
                            <br />
                        </td>
                    </tr>
                </table>

            {% elif tipo == 2 %}

                <table align="center" border="0" style="padding-top:100px; background-color:#FFFFFF;width:630px; height:300px;  margin-left:auto; margin-right:auto;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="630" height="300" style="width:630px; height:300px; text-align:justify; color:#000000; font-size:13px; vertical-align: top; padding: 0px 20px;">
                            Estimado(a): {{ cliente.razon_social }}
                            <br />
                            Adjuntamos su Nota de Crédito electrónica: {{ nota_credito.get_num_doc }}
                            <br />
                            Fecha de emisión: {{ nota_credito.fecha_emi }}
                            <br />
                        </td>
                    </tr>
                </table>
            {% endif %}
        {% endif %}
    </body>
</html>