
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

html, body{
    height: 100%;
    width: 100%;
}

.container-modulos{
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;

}


.row-modulos{
    width: 100%;
    margin: auto;
    display: table-cell;
    height: 100%;
    padding: 50px;
    vertical-align: top;
}

h1{
    color: #EC5A1F;
    font-size: 35px;
    font-weight: normal;
    margin: 30px 0px 20px 0px;
}

p{
    font-size: 12px;
    color: #9A999E;
    margin-bottom: 20px;
}

.col-modulos-bienvenido{

    background: url("../img/flecha_gris.png") no-repeat 0px 90px;
    padding-left: 60px;
}

.bienvenida{
    border-left: 1px solid #9A999E;
    padding-left: 50px;
}

.col-modulos-menu{
    padding-top: 30px;
}

.modulos-menu{
    max-width: 90%;
    min-height: 100px;
    margin-top: 30px;
    border: 1px solid #949599;
    border-bottom: 5px solid #dd4814;
    margin: auto;

    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:7px;

    -webkit-box-shadow:0 0px 4px #777, 0 0 0px #000 inset;
    -moz-box-shadow:0 0px 4px #777, 0 0 0px #000 inset;
    box-shadow:0 0px 4px #777, 0 0 0px #000 inset;
}

.modulos-menu .panel-heading{
    background: #949599;
    padding: 15px 0;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
    border: none;
}

.col-modulo-item{
    text-align: center;
}

.modulo-item-icon{
    padding: 10px 0px;
    border-bottom: 1px solid  #9A999E;
    display: inline-block;
    margin-bottom: 0px;
}

.col-modulo-item a p.modulo-item-title{
    font-size: 12px;
    color: #9A999E;

    padding: 10px 0px;
    text-decoration: none;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}


.col-modulo-item a:hover p.modulo-item-title, .col-modulo-item a:hover{
    color: #EC5A1F;
    text-decoration: none;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

}

.col-modulo-item img{


    height: 80px;


}


.col-modulo-item{

    filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);

    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;

}

.col-modulo-item:hover{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


#pie-admin{
    width: 100%;
    height: 60px;
    margin: auto;

    z-index: 1000;
    background-color: #DDDBDC;
}

#left-admin{
    width: 70%;
    min-height: 100%;
    float: left;
}

#right-admin{
    width: 30%;
    min-height: 100%;
    float: right;
}

#header-admin{
    width: 100%;
    margin: auto;

    z-index: 1000;
}

.flecha-li{
    margin-right: 32px;
}

.flecha-li img{
    margin-top: 18px;
    margin-left: 10px;
}

.flecha-foot img{

    margin-right: 36px;
}


#pie-admin figure{
    float: left;
}

#pie-admin ul li{
    margin-top: 20px;
    margin-left: 20px;
    color: #949599;
}

/*Menu Item Ventas, Compras, Etc*/

.container-menu-item{
    width: 100%;

}

.row-menu-item-header{

    width: 64%;
    margin: auto;
}

.col-header-icono{
    text-align: center;
    border-right: 1px solid #9A999E;
    padding: 25px 0px;
    padding-right: 30px;
}

.col-header-icono img{
    width: 80%;
}

.container-menu-item{
    padding: 30px 0px;
}

.container-menu-item h1{
    margin: 20px 0px;
}

.col-header-detalle{
    padding-left: 60px;
}

.col-header-detalle p{
    color: #9A999E;
}

.row-menu-item-title{
    width: 94%;
    margin: auto;
}

.row-menu-item-title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-menu-item-title h4{
    font-size: 14px;
    color: #EC5A1F;
    border-bottom: 1px solid #9A999E;
    padding-bottom: 10px;
    padding-left: 3%;
}

.row-menu-items{
    width: 90%;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 50px;
}


.col-item{
    display: inline-block;
}

.col-modulo-item{
    text-align: center;
}

.col-item-enlace{
    display: inline-block;
    margin-bottom: 0px;
    background: url("../img/vineta_menu_item.png") no-repeat right 30px;
    text-align: center;
}

.col-item-enlace a p.modulo-item-title{
    font-size: 12px;
    color: #9A999E;

    padding: 10px 0px;
    text-decoration: none;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}


.col-item-enlace a:hover p.modulo-item-title, .col-item-enlace a:hover{
    color: #EC5A1F;
    text-decoration: none;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

}

.col-item-enlace{
    filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;

}

.col-item-enlace:hover{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    color: #EC5A1F;
}

.col-item-enlace img{
    height: 64px;
}

.col-item-detalle{
    padding: 10px 10px 10px 40px;
}