*{
    margin: 0;
    padding: 0;
    outline: none;
}
*:focus {outline: none;}

html,body{
    height: 100%;
}

#bg{
     background: #FFF;
}

#page{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background: #FEEFE8;
}

#tb-boton-add{
    margin-top: 20px;
}

#tb-boton-add tr td{
    border: none;
}

.boton-add-hide{
    position: relative;
    left: -5px;
    padding: 7px 14px;
    text-decoration: none;
    border-radius: 0px 5px 5px 5px;
    -moz-border-radius:0px 5px 5px 5px;
    -webkit-border-radius:0px 5px 5px 5px;
    -o-border-radius:0px 5px 5px 5px;
    font-size: 13px;
    margin: 0px 10px;
}

#ocultar{
    display: none;
}

.boton-add-hide:hover{
    text-decoration: none;
    cursor: pointer;
}

#cabecera{
    width: 100%;
    height: 60px;
    margin: auto;

}

#cabecera-min{
    min-width: 1650px;
    max-width: 100%;
    height: 60px;
    margin: auto;
}

#div-menu-vertical{
    width: 300px;
    height: 100%;
    background: url("../img/bg_menu_vertical.png") repeat;
    position: absolute;
    z-index: 1;
    left:-300px;

}

#menu-vertical{
    width: 300px;
    height: auto;
    float: left;
    margin-top: 60px;
 }

#menu-boton{
    width: 50px;
    height: 50px;
    background: #FEEFE8;
    float: right;
    margin-top: 60px;
    right: -50px;
    position: absolute;

}

#logo{
display: block;
float: left;
height: 60px;
margin-left: 32px;
}

#aside-left{
    width: 15%;
    min-height: 100%;
    float: left;
    background: #FEEFE8;
    padding: 60px 0;
}


#contenido{
    width: 100%;
    min-height: 100%;
    float: right;
    padding: 60px 20px;
    background: #ffffff;
    padding-bottom: 100px;

}


#contenido-min{
    min-width: 1650px;
    max-width: 100%;
    height: 60px;
    margin: auto;

}



#texto{
	margin: 15px 20px 10px 20px;

	height: 100%;
}
#foto{
	width: 50px;
	height: 50px;
	background-color: #D2D2D5;
}
#pie{
    clear: both;
    width: 100%;
    height: 60px;
    background-color: #DDDBDC;
    position:fixed;
    bottom: 0px;
    z-index: 1000;
}
#pie-sin-menu{
    clear: both;
    width: 100%;
    height: 60px;
    background-color: #DDDBDC;
    position:fixed;
    bottom: 0px;
    z-index: 1000;
}


#logo-pie{
    height: 60px;
    margin-left: 32px;
}
#menu-central{
    background-color: #DDDBDC;
    text-align: left;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
}
#tabs-centrales{
    display: block;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
}

.flecha-li{
    margin-right: 32px;
}

.flecha-li img{
    margin-top: 18px;
    margin-left: 10px;
}

.flecha-foot img{

    margin-right: 36px;
}


#pie figure{
    float: left;
}

#pie ul li{
    margin-top: 20px;
    margin-left: 20px;
    color: #949599;
}

.btn-buscar{
    background: url("../img/lupa.png");
    width: 24px;
    height: 24px;
    font-size: 0px;
    border: 0px;
}

.buscador-borde{
    border: 1px solid #ffffff;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -o-border-radius:7px;
    width: 182px;

}

.td-left{


}

.td-right{

    border-left: 1px solid #ffffff;
    padding-right: 8px;
}
.txt_buscar{
    background: #dd4814;
    border: 0px;
    outline: none;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -o-border-radius:7px;
    font-size: 13px;
    width: 150px;

}

#buscador{
    margin-top: 13px;
    margin-right: 20px;

}

.navbar-nav{
    margin-top: 5px;
    margin-left: 20px;
}

.nav-tabs{
    margin-left: 20px;
}



/*Controles Clip Maestro*/

.boton{
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 0px 5px 5px 5px;
    -moz-border-radius:0px 5px 5px 5px;
    -webkit-border-radius:0px 5px 5px 5px;
    -o-border-radius:0px 5px 5px 5px;
    font-size: 13px;
    margin: 0px 10px;
}

.boton:hover{

    text-decoration: none;
    cursor: pointer;
}

.boton-ok{
    background: #dd4814;
    color: #ffffff;
    border: 1px solid #dd4814;

}

.boton-add{
    background: #dd4814;
    color: #ffffff;
    border: 1px solid #dd4814;

}

.boton-delete{
    background: #FFF;
    color: #dd4814;
    border: none;
    text-decoration: none;

}


.boton-cancel{
    background: none;
    color: #dd4814;
    border: 1px solid #DDDBDC;
}


.boton-print{
    background: #4B4B4D;
    color: #FFF;
    border: 1px solid #DDDBDC;
}


.boton-retencion{
    background: #DDDBDC;
    color: #dd4814;
    border: 1px solid #DDDBDC;
}


.boton-otro{
    background: #DDDBDC;
    color: #4B4B4D;
    border: 1px solid #DDDBDC;
}


.div{
    margin: auto;
    padding: 30px 0;
    text-align: right;
}

.tabla{
    font-size: 12px;
    margin: auto;
    margin-bottom: 30px;
}

.td_enlace_crud{
    text-align: center;
    vertical-align: middle;
}

.enlace_crud{
    color: #dd4814;

    text-decoration: none;
    font-size: 12px;
}

.item_activo{
    color: #dd4814;
    text-align: center;
}

.item_inactivo{
    color: #BEBEBE;
    text-align: center;
}

.item_inactivo:hover{
    text-decoration: underline;
}

.tabla th{
    color: #dd4814;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #CACACA;

}

.tabla tr td{
    background: #ECEAEB;
}

.alert{
    margin-top: 25px;
}

.formulario{
    margin: auto;
    margin-top: 30px;
}


.formulario_cliente{
    width: 900px;
}

.titulo-uno{
    color: #dd4814;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    width: 78%;
}

.titulo-vista{
    color: #dd4814;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding-top: 20px;
}

.tabla_detalle_cliente{
    width: 600px;
}

.controles-uno{
    width: 82%;
    text-align: center;
    margin-top: 20px;
}

.controles-vista{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/*Errores Form*/

span ul.errorlist{
    list-style: none;
    text-align: center;
    padding-bottom: 20px;



}

.frm-vigencia span ul.errorlist{
    padding-bottom: 0px;
}

span ul.errorlist li{
    color: #dd4814;
    font-size: 12px;
    padding-top: 5px;
    margin-left: -280px;
}

/*Login*/
#contendio_login{
    width: 400px;
    margin: auto;
}

#contendio_login .errorlist{
    display: none;
}

.controles-login{
    margin: auto;
    width: 400px;
    text-align: center;
    margin-left: 40px;
}

.titulo-login{
    color: #dd4814;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    width: 400px;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

.paginacion{
    float:right;
}

.btn-filtro{

    width: 70px;
    height: 24px;
}

/*Buscadores*/
#buscadores{
    margin: auto;
}

#buscadores table{
    margin: auto ;
    margin-top: 20px;
}

.btn-buscadores{
    background: url("../img/lupa.png") #E75524;
    width: 30px;
    height: 30px;
    font-size: 0px;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
    -o-border-radius:0px 5px 5px 0px;
    margin-right: 90px;
    margin-left: 5px;
}

#buscadores table tr td table tr td{

    vertical-align: top;
}

.label-td{
    position: relative;
    top: 5px;
    margin-right: 10px;
}

#plan-cuentas ul li span{
    padding-left: 30px;
}

/*Iconos de Lista de Cuentas*/

.icon{
    display: inline-block;
    width: 20px;
    height: 16px;
}

.add-icon-principal{

    background: url("../img/add_cuenta_principal.png");
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.add-icon-principal:hover{
    cursor: pointer;
    background: url("../img/add_cuenta_principal_over.png");
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.add-icon{

    background: url("../img/add_cuenta.png");
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.add-icon:hover{
    cursor: pointer;
    background: url("../img/add_cuenta_over.png");
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.delete-icon{

    background: url("../img/delete_cuenta.png");
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.delete-icon:hover{
    cursor: pointer;
    background: url("../img/delete_cuenta_over.png");
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}


.edit-icon{

    background: url("../img/edit_cuenta.png");
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.edit-icon:hover{
    cursor: pointer;
    background: url("../img/edit_cuenta_over.png");
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.ui-dialog .ui-dialog-titlebar-close{
    background: url("../img/cerrar.png");
}

.ui-datepicker-month{
    color: #ffffff;
}

.ui-datepicker-year{
    color: #ffffff;
}

select.selectpicker{
    width: 100px;
}

.slc-primary{
    color: #000000;
    background: url("../img/vineta_select.png") #FFF no-repeat right;
    border: 1px solid #ccc;
    outline: none;
    color: #333;
    font-size: 13px;
    height: 36px;

}

.slc-primary .caret{
    border-top: none;
}

.slc-primary:hover,.slc-primary:focus{
    color: #000000;
}

.dropdown-menu.inner{
    background: #ffffff;
    color: #333;
    font-size: 13px;
}


.btn-group .dropdown-menu > li > a:hover, .btn-group .dropdown-menu > li > a:focus{
    background: #4C4C4E;
    color: #ffffff;
}

.requerido{
    padding-right: 5px;
    color: #dd4814;
    font-weight: bold;
}

.no-requerido{
    padding-left: 15px;
}

.paginacion .pager b{
    font-weight: normal;
    color: #c0c0c0;
    padding: 4px;
}

.paginacion span.current b{
    color: #dd4814;
    padding: 5px;
}

.paginacion a{
    color: #333;
    padding: 5px;

    margin: 0px 2px;
}


.paginacion a:hover{
    color: #dd4814;
    text-decoration: none;

}


#rol-ingresar{
    margin: auto;
    margin-top: 40px;
}

#rol-ingresar form{
    margin-top: 30px;
}

#rol-ingresar form table tr td{
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    padding-right: 20px;
    vertical-align: top;

}

#rol-ingresar form table{
    margin-bottom: 30px;
    margin: auto;
}

#rol-ingresar form h4.sub-titulo-rol{
    color: #dd4814;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 16px;

}

.form-text-area{
    display: block;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 100px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-add{
    background: #dd4814;
    color: #FFF;
    margin: 0px 10px;
}

.btn-eliminar{
    background: #dd4814;
    color: #ffffff;
    margin: 0px 5px;
    font-weight: bold;
}

.btn-eliminar:hover{
    color: #dd4814;
}
.tabla-detalle-compra{
    margin: 30px 0px;
}
.tabla-detalle-compra input[type="text"]{

    border: none;
    padding: 5px 3px;
    height: 30px;
    width: 100%;
}

ul.ui-autocomplete{
    background: #ffffff;

    border-radius: 0px;
}


ul.ui-autocomplete li{
    background: #ffffff;
    padding: 0;
    border: none;
}


ul.ui-autocomplete li:hover{
    border: none;
}

ul.ui-autocomplete li a{
    background: #ffffff;
    color: #333333;
    padding: 0;
    text-align: justify;
    padding: 5px;
}

ul.ui-autocomplete li a:hover,ul.ui-autocomplete li a:active{
    background: #333333;
    color: #FFF;
    border: none;
    padding: 5px;
    border-radius: 0px;
}


.slc-b-s{
    color: #000000;
    background: url("../img/vineta_select.png") #FFF no-repeat right;
    border: 1px solid #ccc;
    outline: none;
    color: #333;
    font-size: 13px;
    height: 36px;

}

.tabla-detalle-compra .btn-group>.btn:first-child{
    border: none;
}

.tabla-detalle-compra .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]){
    width: 100px;

}


.bootstrap-select.btn-group .dropdown-menu li:first-child a {
    background: #FFF;
    height: 24px;
 }

.bootstrap-select.btn-group .dropdown-menu li:first-child a:hover {
    background: #4C4C4E;
    color: #FFF;
 }

.slc-b-s .caret{
    border-top: none;
}

.slc-b-s:hover,.slc-b-s:focus{
    color: #000000;
}


.tabla-detalle-compra{
        margin-top: 30px;
    }

    .tabla-detalle-compra thead th{
        color: #dd4814;
        border: 1px solid  #a1a1a1;
        text-align: center;
        font-weight: normal;
        padding: 5px 10px;
    }
    .tabla-detalle-compra td{
        border: 1px solid  #a1a1a1;
    }

#encabezado .row{
    width: 600px;
}

/*

.tabla-detalle-asiento .btn-group>.btn:first-child{
    width: 130px;
    border: none;
}

.tabla-detalle-asiento .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]){
    width: 130px;

}
*/
.tabla-detalle-asiento{
    margin: 30px 0px;
}
.tabla-detalle-asiento input[type="text"]{

    border: none;
    padding: 5px 3px;
    height: 30px;
    width: 100%;
}

.tabla-detalle-caja{
    margin: 30px 0px;
}
.tabla-detalle-caja input[type="text"]{

    border: none;
    padding: 5px 3px;
    height: 30px;
    width: 100%;
}


.slc-c-c{

    background: url("../img/vineta_select.png") #FFF no-repeat right;
    border: 1px solid #ccc;
    outline: none;
    color: #333;
    font-size: 13px;
    height: 36px;
}


.slc-c-c .caret{
    border-top: none;
}

.slc-c-c:hover,.slc-c-c:focus{
    color: #000000;
}



.tabla-detalle-asiento{
    margin: 30px 0px;
        margin-top: 30px;
    }

    .tabla-detalle-asiento thead th{
        color: #dd4814;
        border: 1px solid  #a1a1a1;
        text-align: center;
        font-weight: normal;
        padding: 5px 10px;
    }
    .tabla-detalle-asiento td{
        border: 1px solid  #a1a1a1;
    }

.tabla-cuenta-retencion{
    width: 730px;
}


.tabla-cuenta-retencion .nom_cta{
    padding: 5px;
    border: none;
    background: none;
}

.tabla-cuenta-retencion .numerico{
    padding: 5px;
    border: none;
    background: none;
    text-align: right;
    border: 1px solid #C2C2C2;
}


.tabla-cuenta-retencion tr td:first-child,.tabla-cuenta-retencion tr th:first-child{
    display: none;
}

tabla-cuenta-retencion tr td{
    height: 20px;
}

.slc-c-r{

    background: url("../img/vineta_select.png") #FFF no-repeat 210px;
    border: 1px solid #ccc;
    outline: none;
    color: #333;
    font-size: 13px;
    height: 36px;
}


.slc-c-r .caret{
    border-top: none;
}

.slc-c-r:hover,.slc-c-r:focus{
    color: #000000;
}

.cab_form_cont{
    width: 100%;
}


.div-pais{
    background: #EEE;
    padding: 0px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.div-pais-size{
    width: 40%;
}

#pago_hide .col-xs-2{
    width: 18.3%;
}

#pago_hide .col-md-10{
    width: 79.7%;
}

.div-pais .slc-primary{

    background: url("../img/vineta_select.png") #BDBDBD no-repeat right;
}


#doc_mofi_hide .col-xs-2{
    width: 18.6%;
}

#doc_mofi_hide .col-xs-10{
    width: 81.3%;
}

.div-doc-update{
    background: #EEE;
    padding: 0px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.div-doc-update .col-md-6 .form-group .lbl-tipo-doc{
    width: 28%;
}


.div-doc-update .col-md-6 .form-group .scl-tipo-doc{
    width: 52%;
}

.div-aut-doc .form-group .lbl-aut-doc{
    width: 14%;
}


.div-aut-doc .form-group .txt-aut-doc{
    width: 85.9%;
}

#doc_mofi_hide .slc-primary{
    background: url("../img/vineta_select.png") #BDBDBD no-repeat right;

}


#doc_mofi_hide input[type="text"]{
    background: #BDBDBD;
}

.tabla-detalle-compra #tabla_formset{
    margin: auto;
}

.tabla-detalle-compra #tabla_formset thead tr th:first-child, .tabla-detalle-compra #tabla_formset tr td:first-child{
    border: 0px;
}

.tabla-detalle-asiento #tabla_formset thead tr th:first-child, .tabla-detalle-asiento #tabla_formset tr td:first-child{
    border: 0px;
}

 .tabla-detalle-asiento tr td:first-child .btn-eliminar:hover,  .tabla-detalle-compra tr td:first-child .btn-eliminar:hover{
     background: #dd4814;
     color: #ffffff;
     margin: 0px 5px;
     font-weight: bold;
     cursor: pointer;
}



#tabla_formset2{

    width: 100%;
}


.detalle-compra-asiento {

    padding-bottom: 20px;
}


.bootstrap-select .btn{
    border-radius: 0px;
}

.calendario-gris{
    background: url("../img/calendario-silver.png") no-repeat right;
}

.centrar-cdt{
    margin-left:28px;
    width: 45px;
}

.centrar-sr{
    margin-left:16px;
    width: 30px;
}

.boton-add{
    padding: 7px 12px;
}
.tabla-detalle-reembolso thead th {
color: #dd4814;
border: 1px solid #a1a1a1;
text-align: center;
font-weight: normal;
padding: 5px 10px;
}
.tabla-detalle-reembolso input[type="text"] {
border: none;
padding: 5px 3px;
height: 30px;
width: 100%;
}
.tabla-detalle-reembolso td {
border: 1px solid #a1a1a1;
}
.tabla-detalle-reembolso {
margin-top: 30px;
}
.tabla-detalle-reembolso {
margin: 30px 0px;
}
