label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }

.icons{
    display: inline-block;
    width: 12px;
    height: 11px;
    margin-left: 5px;
    cursor:pointer
}
.opciones:hover{
    border:0.5px solid;
    background:#003366;
}
#eliminar{
    width: 10px;
}
#eliminar:hover {
    border:0.5px solid;
    background:#003366;
}

.opciones{
    display: block;
    height: 10px;
    width: 10px;
}
