{% load widget_tweaks %}
<div class="panel panel-danger">
    <div class="panel-heading">Datos del Contador</div>
    <div class="panel-body">
        <div class="row">
            <section class="col-xs-12 col-sm-12 col-md-12">
                {% for form in forms %}
                    <div class="row">
                        <div class="col-xs-5 col-md-5">
                            <div class="input-group">
                                <label class="form-label">
                                    {% if form.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span style="margin-right: 14px;"></span>
                                    {% endif %}<b>
                                    {{ form.label }}
                                    </b>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-7 col-md-7">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {% if form.html_name == "razon_social" or form.html_name == "representante_legal" or form.html_name == "nombre_contador" %}
                                        <i class="icon-prepend fa fa-user"></i>
                                    {% elif form.html_name == "correo" %}
                                        @
                                    {% elif form.html_name == "rucci" or form.html_name == "ruc_contador"%}
                                        <i class="fa fa-credit-card"></i>
                                    {% elif form.html_name == "fecha_inicio_actividades" %}
                                        <i class="fa fa-calendar"></i>
                                    {% elif form.html_name == "telefono" %}
                                        <i class="fa fa-phone"></i>
                                    {% elif form.html_name == "logotipo" %}
                                        <i class="fa fa-picture-o"></i>
                                    {% elif form.html_name == "direccion" %}
                                        <i class="fa fa-home"></i>
                                    {% endif %}
                                </span>
                                {{ form|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>