{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Comprobante contable{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Comprobante de {{ mayor_cab.tipo_comprobante.descripcion }}:  {{ mayor_cab.numero_comprobante }}{% endblock %}
{% block tabla_contenido %}

            <table id="table-info-basica">
                <tr>
                    <td class="td-label1">
                        Fecha de Emisión:
                    </td>
                    <td class="td-info1">
                        {{ pago.fecha_reg|date:"d-m-Y" }}
                    </td>
                    <td class="td-label2">
                        Fecha de Pago:
                    </td>
                    <td class="td-info2">
                         {% if detalle_pago.forma_pago.id == 1 %}
                            {{ detalle_pago.fecha_cheque }}
                         {% else %}
                             {{ pago.fecha_reg|date:"d-m-Y" }}
                         {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Proveedor:
                    </td>
                    <td class="td-info1">
                        {{ pago.proveedor.razon_social }}
                    </td>
                    <td class="td-label2">
                        Págese a la orden de:
                    </td>
                    <td class="td-info2">
                        {{ pago.proveedor.razon_social }}
                    </td>
                </tr>
                <tr>
                    {% if pago.num_cheque %}
                        <td class="td-label1">
                        Número de Cheque:
                        </td>
                        <td class="td-info1">
                        {{ pago.num_cheque }}
                        </td>
                    {% else %}
                        <td class="td-label1">
                        </td>
                        <td class="td-info1">
                        </td>
                    {% endif %}
                    <td class="td-label2">
                        El valor de:
                    </td>
                    <td class="td-info2">
                        $ {{ pago.monto|floatformat:2 }}({{ pago.monto_to_word }})
                    </td>
                </tr>
                    <tr>
                        <td class="td-label1">
                            <label> Estado: </label>
                        </td>
                        <td class="td-dato">
                            {% if pago.status == 1 %}
                                <label>Activo</label>
                            {% elif pago.status == 2 %}
                                <label>Anulado</label>
                            {% endif %}
                        </td>
                    </tr>


                <tr>
                   <td class="td-label1">
                        {% if detalle_pago.forma_pago.id == 1 %}
                            Cheque N°:
                        {% else %}
                            Referencia:
                        {% endif %}
                    </td>
                    <td class="td-info1">
                        {% if detalle_pago.forma_pago.id == 1 %}
                            {{ detalle_pago.num_cheque }}
                        {% else %}
                            {{ detalle_pago.referencia }}
                        {% endif %}
                    </td>
                    <td class="td-label2">
                        Descripción:
                    </td>
                    <td class="td-info2">
                        {{ pago.concepto }}

                    </td>
                </tr>
            </table>
            <div style="clear: both"></div>

        <div class="div-centrar div-tabla" style="margin-top: 15px;">
            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px;">Detalle del Pago</p>
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: 0px;" border="0">
                <thead style="">
                    <tr>
                        <th style="border:0px;width: 120px;border-bottom: 1px solid silver;">Documento</th>
                        <th style="border:0px;width: 120px;border-bottom: 1px solid silver;"># Documento</th>
                        <th style="border:0px;border-bottom: 1px solid silver;">Fecha</th>
                        <th style="border:0px;border-bottom: 1px solid silver;">Concepto</th>
                        <th style="border:0px;border-bottom: 1px solid silver;">Saldo Anterior</th>
                        <th style="border:0px;border-bottom: 1px solid silver;">A pagar</th>
                        <th style="border:0px;border-bottom: 1px solid silver;">Saldo Actual</th>
                </thead>
                <tbody style="">
                    {% for obj_det in detalle_pago %}
                        <tr>
                            <td style="border: none;">{{ obj_det.cuentas_x_pagar.documento.descripcion_documento}}</td>
                            <td style="border: none;">{{ obj_det.cuentas_x_pagar.num_doc}}</td>
                            <td style="border: none;">{{ obj_det.cuentas_x_pagar.fecha_reg|date:"Y-m-d" }}</td>
                            <td style="border: none;">{{ obj_det.cuentas_x_pagar.compra_cabecera.concepto }}</td>
                            <td style="border: none;"  class="td-derecha">$ {% saldo_anterior  obj_det.id%}</td>
                            <td style="border: none;"  class="td-derecha">$ {{ obj_det.cuentas_x_pagar.monto }}</td>
                            <td style="border: none;" class="td-derecha">$ {% subtract obj_det.cuentas_x_pagar.monto obj_det.cuentas_x_pagar.pagado %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="div-centrar div-tabla">

            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; padding-top: 10px;">Asiento Contable</p>
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none;">
                <thead style="">
                    <tr>
                        <th style="width: 120px; border: none; ">Código</th>
                        <th style="border: none;">Cuenta</th>
                        <th style="width: 100px;border: none;">Debe</th>
                        <th style="width: 100px;border: none;">Haber</th>
                    </tr>
                </thead>
                <tbody style="">
                {% for obj_asiento in detalle_may%}
                    <tr>
                        <td style="border: none;" {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td style="border: none;"> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td style="border: none;" class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td style="border: none;" class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>



            <div class="div-centrar div-tabla">
               <div id="div-firmas">
                    <table id="table-firmas" style="margin-top: 40px; text-align: center">
                         <tr>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                            </td>
                            <td style="border: none; width: 30px;">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                            </td>
                            <td style="border: none; width: 30px; ">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Recibí conforme:</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
{% endblock %}