{% extends "base.html" %}
{% block title %}Comprobante Pago{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% load permisostag %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
{% endblock %}


{% block item-compra %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Detalle de Cuenta por Pagar{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}






{% block content %}

     <div class="row row-cabecera">
        <div class="cabecera-left"  style="height: 190px;">
            <table>
                <tr>
                    <td style="width:140px;">
                        <label>Comp. de {{ mayor_cab.tipo_comprobante.descripcion }}:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ mayor_cab.numero_comprobante }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Fecha de Emisión:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ pago.fecha_reg|date:"d-m-Y" }}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Proveedor: </label>
                    </td>
                    <td class="td-dato">
                        <label> {{ pago.proveedor.razon_social }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Estado: </label>
                    </td>
                    <td class="td-dato">
                        {% if pago.status == 1 %}
                            <label>Activo</label>
                        {% elif pago.status == 2 %}
                            <label>Anulado</label>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                        {% if pago.forma_pago.id == 1 %}
                            Cheque N°:
                        {% else %}
                            Referencia:
                        {% endif %}
                        </label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {% if pago.forma_pago.id == 1 %}
                            {{ pago.num_cheque }}
                            {% else %}
                                {{ pago.referencia }}
                            {% endif %}
                        </label>
                    </td>
                </tr>
            </table>
        </div>
     <div class="cabecera-right"  style="height: 190px;">
            <table>
                <tr>
                    <td style="width: 140px">
                        <label> Fecha de Pago:</label>
                    </td>
                    <td class="td-dato">
                        <label>
                         {% if pago.forma_pago.id == 1 %}
                            {{ pago.fecha_pago|date:"d-m-Y" }}
                         {% else %}
                             {{ pago.fecha_reg|date:"d-m-Y" }}
                         {% endif %}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Págese a la orden de: </label>
                    </td>
                    <td class="td-dato">
                        <label> {{ pago.proveedor.razon_social }}</label>
                    </td>
                </tr>
                    <tr>
                        <td>
                            <label>El valor de: </label>
                        </td>
                        <td class="td-dato">
                            <label>
                             $ {{ pago.monto|floatformat:2 }}({{ pago.monto_to_word }})
                            </label>
                        </td>
                    </tr>
                <tr>
                    <td>
                        <label>
                       Descripción:
                    </td>
                    <td class="td-dato">
                        <label>
                             {{ pago.concepto }}
                        </label>
                    </td>
                </tr>
            </table>
        </div>


     <h3 class="sustitulo-comprobante">Detalle del pago</h3>

        <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">

               <tr>
                    <th>Documento</th>
                    <th># Documento</th>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Saldo Anterior</th>
                    <th>A pagar</th>
                    <th>Saldo Actual</th>
                </tr>
                {% for obj_det in detalle_pago %}
                    <tr>
                        <td>{{ obj_det.cuentas_x_pagar.documento.descripcion_documento}}</td>
                        <td>{{ obj_det.cuentas_x_pagar.num_doc }}</td>
                        <td>{{ obj_det.cuentas_x_pagar.fecha_reg|date:"Y-m-d" }}</td>
                        <td>{% if obj_det.cuentas_x_pagar.naturaleza == 1 %}{{ obj_det.cuentas_x_pagar.num_doc }}{% else %}{{ obj_det.cuentas_x_pagar.compra_cabecera.concepto }}{% endif %}</td>
                        <td class="td-derecha">$ {% saldo_anterior  obj_det.id%}</td>
                        <td class="td-derecha">$ {{ obj_det.monto }}</td>
                        <td class="td-derecha">$ {% subtract obj_det.cuentas_x_pagar.monto obj_det.cuentas_x_pagar.pagado %}</td>
                    </tr>
                {% endfor %}
        </table>

         <div class="div-centrar div-tabla">
        <h3 class="sustitulo-comprobante">Asiento Contable</h3>

        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
             <tr>
                    <th>Código</th>
                    <th>Cuenta</th>
                    <th>Debe</th>
                    <th>Haber</th>
                </tr>
                {% for obj_asiento in detalle_may%}
                    <tr>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    </tr>
                {% endfor %}

        </table>
       </div>

     <div class="text-center div-botones-alto" style="margin-top: 30px;">
        {% if_tiene_permiso request "detalle_pago_proveedores_pdf"%}
            <a class="boton boton-ok" href="{% url 'detalle_pago_proveedores_pdf' pago.id%}" target="_blank">Generar PDF</a>
        {% endif_tiene_permiso %}

        <a class="boton boton-gray" href="{% url "lista_pago_proveedores" %}"><i class="fa fa-reply fa-lg"></i>  Regresar</a>

     </div>

     </div>
{% endblock %}