{% extends "base.html" %}
{% block title %}Cruce de Documentos/Cta{% endblock %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load cuentas_x_pagar.snnipet_pagos %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
     <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>

    html,body{
        height: 100%;
    }


        .th_forma_pago
        {
            width: 300px;
        }
        .th_bancos{
            width: 375px;
        }
        .th_tarjetas{
            width: 340px;
        }
        .th_termino
        {
            width: 130px;
        }
        .th_plazo
        {
            width: 90px;
        }
        #contenedor_detalle_comp
        {
            margin-bottom: 10px;
        }
        .btn-buscadores{
            margin: 0px;
        }
        .alin_izq{
            text-align: left;
        }
        .btn-buscadores{
            float: right;
            position: relative;
            top: -31px;
            z-index: 1;
        }
    #pagar{
        float: left;
        position: relative;
        text-align: left;
    }
    .sel_forma_pago, label[for="Observaciones"] b
    {
        color: #DD4814;
        font-size: 14px;

        text-align: center;
        width: 100%;
        font-weight: normal;
    }
    #pagos{
        clear: both;
        padding-top: 25px;
    }
    .observaciones
    {
        padding-top: 30px;
    }
    dt{
        color: #DD4814;
        border-bottom: 1px solid #DDDBDC;
        font-weight: normal;
        text-align: left;
    }
    .selectpicker a{
        text-align: left;
    }
    input{
        background: transparent;
    }
    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .tick{
        color: #DD4814;
    }
    .tick-text{
        color: #000000;
    }
    .cabecera{
        margin-top: 20px;
    }
    .boton-grabar{
        margin-top: 20px;
    }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script>
    var fecha_actual = "{% now "Y-m-d" %}"
    </script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_cuentas_pagar/funciones.js"></script>
    <script src="{{ STATIC_URL }}js/js_cuentas_pagar/cuentas_pagar_pago_proveedor_cruce_doc.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>

        function cargar_datos(url)
        {
            var lista_doc = $("#lista_documentos");
            $.ajax(
            {
                url:url,
                type: 'POST',
                async: false,
                cache: false,
                timeout: 300,
                data:{id:$("#id_proveedor").val()},
                beforeSend: function(msj){
                    $('#loading').show();
                    $('body').css('display', '0.5');
                },
                error: function(err){
                    alert(err.responseText);
                    $('#loading').fadeOut();
                    $('body').css('opacity', '1');
                    return true;
                },
                success: function(data)
                {
                    var div = $($.parseHTML(data)).filter("#tiene_docs");
                    lista_doc.html(data).hide();
                    if(div.attr("data-error") == "1"){
                        $("#mensajes").html(data);
                        $("#grabar").hide();
                        $("#total_observacion").hide();
                    }
                    else
                    {
                        $("#grabar").show();
                        $("#total_observacion").show();
                        $("#mensajes").empty();
                        lista_doc.show();
                    }
                    lista_doc.find(".selectpicker").selectpicker();
                    AgregarFunciones();
                    $('#loading').fadeOut();
                    $('body').css('opacity', '1');
                }
            });
        }

        $(function(){
            var opt = $("#id_forma_pago_cabecera");

            {% if flag_cc or flag_cd%}

                AgregarFunciones();

            {% else %}

                if (opt.val()=="1" && $("#id_proveedor").val()!="")
                {
                    cargar_datos("{% url "cargar_cruce_doc" %}");
                }
                else
                {
                    if($("#id_proveedor").val() != "")
                    {
                        cargar_datos("{% url "cargar_cruce_cta" %}");
                    }
                    else
                    {
                        $("#grabar").hide();
                        $("#total_observacion").hide();
                    }
                }

            {% endif %}
            $("#id_proveedor").change(function(){
                if ($(opt).val()=="1" && $(this).val()!="")
                {
                    cargar_datos("{% url "cargar_cruce_doc" %}");
                }
                else
                {
                    if($(this).val()!="")
                    {
                        cargar_datos("{% url "cargar_cruce_cta" %}");
                    }
                    else
                    {
                        $("#grabar").hide();
                    }
                }
            });

            opt.change(function(){
                if ($(this).val()=="1")
                {
                    cargar_datos("{% url "cargar_cruce_doc" %}");
                    $("#saldo_anterior").text("$ 0.00");
                    $("#total_pago").text("$ 0.00");
                    $("#saldo_actual").text("$ 0.00");
                }
                else
                {
                    cargar_datos("{% url "cargar_cruce_cta" %}");
                    $("#saldo_anterior").text("$ 0.00");
                    $("#total_pago").text("$ 0.00");
                    $("#saldo_actual").text("$ 0.00");
                }

            });
            $(".selectpicker").selectpicker();

           

            $('#id_proveedor').change(function(){
                validar_fecha_vencimiento_documento_tabla("#tabla_cruce_cuenta");
                validar_fecha_vencimiento_documento_tabla("#tabla_formset_detalle_doc");

            });
            $('#id_forma_pago_cabecera').change(function(){
                validar_fecha_vencimiento_documento_tabla("#tabla_cruce_cuenta");
            });



        });
    </script>
{% endblock %}
{% block item-compra %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Cruce de Documentos y Cuentas{% endblock %}

{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
         {% for message in messages %}

            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>


         {% endfor %}
    {% endif %}
    <div id="mensajes"></div>
    <form role="form" class="container-fluid row" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: inherit;">
            <div class="col-lg-12">
                <div class="comprobante-cabecera-total">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 180px; padding-left: 50px;">
                                <label class="control-label" for="{{ cabecera.forma_pago_cabecera.label }}">
                                    {% if cabecera.forma_pago_cabecera.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ cabecera.forma_pago_cabecera.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                            </td>
                            <td style="width: 260px;  text-align: right; padding-right: 20px;">
                                {% if cabecera.forma_pago_cabecera.errors %}{{ cabecera.forma_pago_cabecera|add_class:"form-control cab_form_cont campo_requerido" }}{% else %}{{ cabecera.forma_pago_cabecera|add_class:"form-control cab_form_cont" }}{% endif %}
                            </td>
                           <td style="text-align: right; padding-right: 20px;">
                                <label class="control-label" for="{{ cabecera.fecha.label }}">
                                    {% if cabecera.fecha.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ cabecera.fecha.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                            </td>
                            <td style="width: 150px;">
                                {% if cabecera.fecha.errors %}{{ cabecera.fecha|add_class:"input-calendario txt-150 campo_requerido" }}{% else %}{{ cabecera.fecha|add_class:"input-calendario txt-150" }}{% endif %}
                            </td>

                            <td style="width: 140px; text-align: right; padding-right: 20px;">
                                <label class="control-label" for="Fecha Asiento">
                                    <b>{{ cabecera.proveedor.label }}</b>
                                    <span class="dospuntos">:</span>
                                </label>
                            </td>
                            <td style="width: 400px; padding-right: 60px;">
                                {{ cabecera.proveedor|add_class:"txt-100pc" }}
                            </td>


                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center">

            <div id="lista_documentos" class="tabla-detalle-compra col-md-12" style="padding: 0px;">
                {% if flag_cc %}
                    {% t_cruce_de_cuentas_pago detalle_cruce_cta %}
                {% endif %}
                {% if flag_cd %}
                    {% t_cruce_de_doc_pago detalle_docs detalle_doc_cobrar %}
                {% endif %}
            </div>
            <div  id="total_observacion" class="text-center observaciones" style="display: inline-block; width: 1300px;; padding: 40px; margin-top: 30px; background: white;border: 2px solid #E5E5E5;">

                <table class="tabla tabla-observaciones-cruce">
                    <tr>
                        <td colspan="3" style="padding-bottom: 20px;">
                            <label class="control-label" for="{{ cabecera.observaciones.label }}">
                            {% if cabecera.observaciones.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b class="sub-title-comprobante">{{ cabecera.observaciones.label }}</b>
                            <span class="dospuntos">:</span></label>
                        </td>
                    </tr>
                <tr>
                    <td rowspan="4">
                        {% if cabecera.observaciones.errors %}{{ cabecera.observaciones|add_class:"textarea textarea-cruce campo_requerido" }}{% else %}{{ cabecera.observaciones|add_class:"textarea textarea-cruce" }}{% endif %}
                    </td>
                    <td style="width: 150px; text-align: right;">
                        Saldo Anterior
                    </td>
                    <td id="saldo_anterior" style="width: 150px; text-align: right;">$ 0.00</td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right;">Total Pago</td>
                    <td id="total_pago" style="width: 150px; text-align: right;">$ 0.00</td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right;">Saldo Actual</td>
                    <td id="saldo_actual" style="width: 150px; text-align: right;">$ 0.00</td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right;">Saldo Proveedor</td>
                    <td id="saldo_proveedor" style="width: 150px; text-align: right;">$ 0.00</td>
                </tr>

                </table>


            </div>
            <div class="text-center" style="margin-top: 30px; margin-bottom:30px;">
                <input class="boton boton-ok btn_grabar" id="grabar" type="submit" value="Grabar">
                <a class="boton boton-gray btn_cancelar" href="{% url "lista_pago_proveedores" %}" >Cancelar</a>
            </div>
        </div>
    </form>


    <!-- Divs para los alert -->

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}