{% extends "base.html" %}
{% block title %}Comprobante Pago{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% load permisostag %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
{% endblock %}


{% block item-compra %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Detalle de Cheque en Cuenta Por Pagar{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}






{% block content %}
<script src="{{ STATIC_URL }}cm_html/js/jquery.PrintArea.js"></script>
    <div class="row row-cabecera">
           <style>
        *{
			margin:0px;
			padding: 0px;
		}
		.div-cheque{
            background: url("{{ STATIC_URL }}cm_html/images/cheque.jpeg") no-repeat #dfdfdf;
			background-size:593px 265px;
        }
    </style>
     <div class="row row-cabecera" >
        <div class="cabecera-left"  style="height: 190px; display: none; ">
            <table>
                <tr>
                    <td style="width:140px;">
                        <label>Comp. de {{ mayor_cab.tipo_comprobante.descripcion }}:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ mayor_cab.numero_comprobante }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Fecha de Emisión:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ pago.fecha_reg|date:"d-m-Y" }}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Proveedor: </label>
                    </td>
                    <td class="td-dato">
                        <label> {{ pago.proveedor.razon_social }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Estado: </label>
                    </td>
                    <td class="td-dato">
                        {% if pago.status == 1 %}
                            <label>Activo</label>
                        {% elif pago.status == 2 %}
                            <label>Anulado</label>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                        {% if pago.forma_pago.id == 1 %}
                            Cheque N°:
                        {% else %}
                            Referencia:
                        {% endif %}
                        </label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {% if pago.forma_pago.id == 1 %}
                            {{ pago.num_cheque }}
                            {% else %}
                                {{ pago.referencia }}
                            {% endif %}
                        </label>
                    </td>
                </tr>
            </table>
        </div>
     <div class="cabecera-right"  style="height: 190px; display: none; ">
            <table>
                <tr>
                    <td style="width: 140px">
                        <label> Fecha de Pago:</label>
                    </td>
                    <td class="td-dato">
                        <label>
                         {% if pago.forma_pago.id == 1 %}
                            {{ pago.fecha_pago|date:"d-m-Y" }}
                         {% else %}
                             {{ pago.fecha_reg|date:"d-m-Y" }}
                         {% endif %}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Págese a la orden de: </label>
                    </td>
                    <td class="td-dato">
                        <label> {{ pago.proveedor.razon_social }}</label>
                    </td>
                </tr>
                    <tr>
                        <td>
                            <label>El valor de: </label>
                        </td>
                        <td class="td-dato">
                            <label>
                             $ {{ pago.monto|floatformat:2 }}({{ pago.monto_to_word }})
                            </label>
                        </td>
                    </tr>
                <tr>
                    <td>
                        <label>
                       Descripción:
                    </td>
                    <td class="td-dato">
                        <label>
                             {{ pago.concepto }}
                        </label>
                    </td>
                </tr>
            </table>
        </div>




     <div class="div-centrar div-tabla div-cheque" id="areaimprime_visor"  style="width: 593px; height: 265px; margin: auto;">
            <table id="table-info-basica" style="width: 100%;"  cellspacing="0" cellpadding="0">
                <tr>
                    <td style="height: 54px;">

                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 15%;">

                                </td>
                                <td class="a-la-orden-de" style="width: 45%; font-size: 14px; vertical-align: bottom;">
                                    {{ pago.proveedor.razon_social|default_if_none:"" }}
                                </td>
                                <td style="width: 13.5%;">

                                </td>
                                <td class="valor" style="width: 30%; font-size: 14px !important; vertical-align: bottom;">
                                    {{ pago.monto|floatformat:2 }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 10%;">

                                </td>
                                <td class="a-la-orden-de" style="width: 72%; font-size: 14px; vertical-align: top; height: 40px;line-height: 21px;">
                                    {{ pago.monto_to_word }} {% splits pago.valor "." 1 %}/100 XXXXXXXXXX.
                                </td>
                                <td style="width: 18%;">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 2%;"></td>
                                <td style="width: 17%;font-size: 14px; text-align: center; vertical-align: bottom;">
                                    Guayaquil
                                </td>
                                <td style="width: 1%;"></td>
                                <td class="a-la-orden-de" style="width: 18%; font-size: 14px; text-align: center;height: 24px; vertical-align: bottom;">
                                    {% if pago.forma_pago.id == 1 %}
                                        {{ pago.fecha_pago|date:"d-m-Y" }}
                                    {% else %}
                                        {{ pago.fecha_reg|date:"d-m-Y" }}
                                    {% endif %}
                                </td>
                                <td style="width: 62%;font-size: 14px; vertical-align: bottom;">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="div-centrar div-tabla div-cheque" id="areaimprime_real" style="display:none; width: 593px; height: 265px; margin: auto; font-size: 12px !important;">
            <table id="table-info-basica" style="width: 100%;"  cellspacing="0" cellpadding="0">
                <tr>
                    <td style="height: 55px;">

                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 12%;">

                                </td>
                                <td class="a-la-orden-de" style="width: 35%; font-size: 12px; vertical-align: middle;">
                                    {{ pago.proveedor.razon_social|default_if_none:"" }}
                                </td>
                                <td style="width: 8%;">

                                </td>
                                <td class="valor" style="width: 53%; height: 26px; font-size: 14px !important; vertical-align: middle;">
                                    {{ pago.monto|floatformat:2 }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 10%;">

                                </td>
                                <td class="a-la-orden-de" style="width: 72%; font-size: 12px; vertical-align: top; height: 43px;line-height: 21px;">
                                    {{ pago.monto_to_word }} {% splits pago.valor "." 1 %}/100 XXXXXXXXXX.
                                </td>
                                <td style="width: 18%;">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 14%; font-size: 12px; text-align: center; vertical-align: middle;">
                                    Guayaquil
                                </td>
                                <td style="width: 14%; font-size: 12px; text-align: center;height: 22px; vertical-align: middle;">
                                   {% if pago.forma_pago.id == 1 %}
                                        {{ pago.fecha_pago|date:"d-m-Y" }}
                                    {% else %}
                                        {{ pago.fecha_reg|date:"d-m-Y" }}
                                    {% endif %}
                                </td>
                                <td style="width: 72%;font-size: 12px; vertical-align: top;">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="div-centrar div-tabla"  >
                <h3 class="sustitulo-comprobante">Detalle del Cheque</h3>


                    <p class="desc-label">Descripción: <span class="desc-info">{{ pago.concepto }}</span></p>

                   <div class="text-center div-botones-alto" style="margin-top: 30px;">
                       <a class="boton boton-ok" href="#"   id="btnPrint">Imprimir</a>

                       <a class="boton boton-gray" href="{% url "lista_pago_proveedores" %}">Regresar</a>
                   </div>
            </div>
    </div>

<script type="text/javascript">
                 $("#btnPrint").click(function () {
                   $("#areaimprime_real").printArea();
                });
           </script>








        <table class="table tabla tabla-comprobante table-striped" style="display: none;" cellpadding="0" cellspacing="0">

               <tr>
                    <th>Documento</th>
                    <th># Documento</th>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Saldo Anterior</th>
                    <th>A pagar</th>
                    <th>Saldo Actual</th>
                </tr>
                {% for obj_det in detalle_pago %}
                    <tr>
                        <td>{{ obj_det.cuentas_x_pagar.documento.descripcion_documento}}</td>
                        <td>{{ obj_det.cuentas_x_pagar.num_doc }}</td>
                        <td>{{ obj_det.cuentas_x_pagar.fecha_reg|date:"Y-m-d" }}</td>
                        <td>{% if obj_det.cuentas_x_pagar.naturaleza == 1 %}{{ obj_det.cuentas_x_pagar.num_doc }}{% else %}{{ obj_det.cuentas_x_pagar.compra_cabecera.concepto }}{% endif %}</td>
                        <td class="td-derecha">$ {% saldo_anterior  obj_det.id%}</td>
                        <td class="td-derecha">$ {{ obj_det.monto }}</td>
                        <td class="td-derecha">$ {% subtract obj_det.cuentas_x_pagar.monto obj_det.cuentas_x_pagar.pagado %}</td>
                    </tr>
                {% endfor %}
        </table>

         <div class="div-centrar div-tabla" style="display: none;">
        <h3 class="sustitulo-comprobante">Asiento Contable</h3>

        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
             <tr>
                    <th>Código</th>
                    <th>Cuenta</th>
                    <th>Debe</th>
                    <th>Haber</th>
                </tr>
                {% for obj_asiento in detalle_may%}
                    <tr>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    </tr>
                {% endfor %}

        </table>
       </div>

     <div class="text-center div-botones-alto" style="margin-top: 30px; display: none;">
        {% if_tiene_permiso request "detalle_pago_proveedores_pdf"%}
            <a class="boton boton-ok" href="{% url 'detalle_pago_proveedores_pdf' pago.id%}" target="_blank">Generar PDF</a>
        {% endif_tiene_permiso %}

        <a class="boton boton-gray" href="{% url "lista_pago_proveedores" %}"><i class="fa fa-reply fa-lg"></i>  Regresar</a>

     </div>

     </div>
{% endblock %}