{% extends "base.html" %}
{% load widget_tweaks %}
{% load permisostag %}
{% load snnipet_generales %}
{% block title %}Cuentas por Pagar{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <style>
        .concepto_reversar{
            width: 100%;
            margin-top: 5px;
        }
        .control-fecha{
            width: 100%;
            text-align: left;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>
</script>

    <script>
        var url_esta_reversado = "{% url "esta_reversado_pago" %}";
        var url_get_fecha_reversar = "{% url "get_fecha_reversar_pago" %}";
        function esta_reversado(url, id)
        {
            var estado = true;

            $.ajax(
                {
                    url: url,
                    type: 'POST',
                    async: false,
                    cache: false,
                    timeout: 300,
                    data: {"id": id},
                    error: function(){
                        return true;
                    },
                    success: function(data){
                        if (data.status == 1)
                            estado = data.esta_reversado;
                    }
                });
            return estado;
        }

        function get_fecha_reversado()
        {
            var fecha;

            $.ajax(
                {
                    url: url_get_fecha_reversar,
                    type: 'POST',
                    async: false,
                    cache: false,
                    timeout: 300,
                    error: function(){
                        return true;
                    },
                    success: function(data){
                        if (data.status == 1)
                            fecha = data.fecha;
                    }
                });
            return fecha;
        }
        jQuery(document).ready(function($) {

            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });

            $(".buscador-cerrar").click(function(){

                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").removeClass("opcion-buscar-hide");

            });

            $(".selectpicker").selectpicker();
            $("#id_fecha_ini").mask('9999-99-99');
            $("#id_fecha").mask('9999-99-99').datepicker().on('changeDate', function (ev){$(this).datepicker('hide')});
            $("#id_num_doc").mask('999-999-999999999');
            $("#id_num_doc").focusout(function(){
                var valor = $(this).val();
                var valor_final = valor.replace(/_/g , "");
                var separador = valor_final.split("-");
                var a= ("00000000"+separador[2]);
                $(this).val(separador[0]+"-"+separador[1]+"-"+a.slice(-9));
            });
            $(".numerico").keydown(function(event) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190,127]) !== -1 ||
                     // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                     // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39) || (event.keyCode == 110))
                    {
                         // let it happen, don't do anything
                         return;
                }
                else {
                    // Ensure that it is a number and stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });

            $("#ver").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    window.location.href = $("#lista input[type='radio']:checked").attr("data-ver");
                }else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para ver el datalle del pago</p>');
                    $("#alert-ok").modal();
                }
            });
            $("#anular").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();

                    var url = $("#lista input[type='radio']:checked").attr("data-anular");
                    if($("#lista input[type='radio']:checked").attr("data-status") == "2")
                    {
                        $("#tit-alert-ok").html("Alerta");
                        $("#body-alert-ok").html('<p>El pago seleccionado ya se encuentra anulado</p>');
                        $("#alert-ok").modal();
                    }
                    else
                    {
                        $("#tit-alert").html("Anular Pago");
                        $("#body-alert").html('<p>Desea anular el pago con # comprobante"<strong>'+nombre+'</strong>"?</p>');
                        $("#alert-yn").attr("data-tipo", 0);
                        $("#alert-yn").attr("data-href", url);
                        $("#alert-yn").modal();
                    }
                }
                else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para anular un pago</p>');
                    $("#alert-ok").modal();
                }
            });
            $("#reversar").click(function()
            {
                var lista = $("#lista input[type='radio']:checked");
                if (lista.length != 0){
                    var tr = lista.parent().parent();
                    var nombre = tr.find(".nombre").text();
                    var url = lista.attr("data-reversar");

                    var tipodocformapago = lista.attr("data-tipodoc");//esta cosa mira si es un documento creado por reversion
                    //alert(tipodocformapago)
                    var id = $(lista).val();

                    var num_comp = $(tr).find(".nombre").text();
                    var cliente = $(tr).find(".proveedor").text();
                    var fecha_reg = $(tr).find(".fecha_reg").text();
                    var detalleviejo = $(tr).find(".td_descripcion").text();
                    var numerocheque = "No posee";//$(tr).find(".td_descripcion").text().substring(3,$(tr).find(".td_descripcion").text().indexOf('-'));
                    var formadepago = $(tr).find(".td_formadepago").text();
                    var fecha_rever = get_fecha_reversado();

                    if (formadepago == "Cheque"){
                       numerocheque = $(tr).find(".td_descripcion").text().substring(3,$(tr).find(".td_descripcion").text().indexOf('-'));
                        $("#id_concepto").val("Reverso al cheque: "+numerocheque+", "+detalleviejo);
                    }else{
                        $("#id_concepto").val("Reverso: "+num_comp+", "+detalleviejo);

                    }


                    //alert(numerocheque+"pepin");
                    $("#cheque_rev").html(numerocheque);
                    //$("#id_fecha").val(numerocheque);
                    $("#id_fecha").val(fecha_rever);
                    $("#form_reversar_cobro").attr("action", url);
                    $("#num_comp_rev").text(num_comp);
                    $("#cliente_reversar").text(cliente);
                    $("#fecha_reg_reversar").text(fecha_reg);
                    //si la forma de pago es 'Cheque' hago una cosa




                    if(lista.attr("data-status") == "2")
                    {
                        mensaje_alerta('El pago seleccionado se encuentra anulado');
                    }
                    else
                    {
                        if (esta_reversado(url_esta_reversado, id))
                        {
                            mensaje_alerta("El pago que seleccionó ya se encuentra reversado, por favor verifique")
                        }
                        else if (tipodocformapago== 27 ){
                          mensaje_alerta("El pago que seleccionó fue creado por reverso, por favor verifique")

                        }else if (tipodocformapago== 28 ){
                          mensaje_alerta("El pago que seleccionó fue creado por reverso, por favor verifique")

                        }

                        else
                        {
                            $("#reversar_cobro_modal").modal();
                        }
                    }
                }
                else{
                    mensaje_alerta('Seleccione un item para reversar un pago');
                }
            });
            $("#aceptar_reversar").click(function(){
                var form = $("#form_reversar_cobro");
                var url = form.attr("action");
                var datos = form.serialize();
                var div_mensaje = $(".div_error");
                div_mensaje.empty();

                $.ajax(
                {
                    url: url,
                    type: 'POST',
                    async: false,
                    cache: false,
                    timeout: 300,
                    data: datos,
                    error: function(){
                        return true;
                    },
                    success: function(data){
                        if (data.status == 1){
                            $("#reversar_cobro_modal").modal('hide');
                            mensaje_alerta("Se ha reversado exitosamente el pago");
                            setTimeout(function(){
                              location.reload();
                            }, 2000);
                        }
                        else
                        {
                            mensaje_error(data.mensaje, div_mensaje);
                        }
                    }
                });
            });
            $("#ok-alert").on("click",function(){
                var url = $("#alert-yn").attr("data-href");
                window.location.href = url;
            });

        });

    </script>

{% endblock %}
{% block item-compra %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Buscar Cuentas por Pagar{% endblock %}



{% block content %}
     {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}

    <form action="" class="form-group" id="formulario" method="GET">
        <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>

            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td style="width: 150px;">
                                    <label>Rango de Fechas:</label>
                                </td>

                                <td style="width: 150px; padding-right: 20px;">
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>

                                <td style="width: 120px;">
                                    <label>Hasta</label>
                                </td>

                                <td>
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Proveedor:</label>
                                </td>

                                <td colspan="3">
                                    {{ buscador.proveedor }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label># de Comprobante:</label>
                                </td>
                                <td>
                                    {{ buscador.num_comp|add_class:"txt-150" }}
                                </td>
                                <td>
                                    <label># de Documento:</label>
                                </td>
                                <td>
                                    {{ buscador.num_doc|add_class:"txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Rango Monto:</label>
                                </td>
                                <td>
                                    {{ buscador.valor_ini|add_class:"txt-150" }}
                                </td>
                                <td>
                                    <label>Hasta:</label>
                                </td>
                                <td>
                                    {{ buscador.valor_final|add_class:"txt-150" }}
                                </td>
                            </tr>
                            <tr>
                            <td style="width: 150px;">
                                <label>{{ buscador.estado.label }}</label>
                            </td>
                            <td  colspan="3">
                                {{ buscador.estado }}
                            </td>

                        </tr>
                        <tr>
                            <td style="width: 150px;">
                               <label>{{ buscador.concepto.label }}</label>
                            </td>
                            <td  colspan="3">
                                {{ buscador.concepto }}
                            </td>
                        </tr>

                        </table>
                    </div>
                </div>
                <div style="display: none">{{ buscador.page }}</div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 20px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" value="Limpiar" onclick="limpiar_form()" title="Limpiar">
            </div>
        </div>
    </form>

    <div class="div div-agregar">
        {% if_tiene_permiso request "pago_proveedores" %}
            <a class="boton boton-ok" href="{% url "pago_proveedores" %}">Registrar Pago</a>
        {% endif_tiene_permiso %}
        {% if_tiene_permiso request "cruce_documentos_cuentas" %}
            <a class="boton boton-ok" href="{% url "cruce_documentos_cuentas" %}">Cruce de Cta/Doc</a>
        {% endif_tiene_permiso %}
    </div>
    <div class="botones-administracion">
    {% if objetos %}
        {% if_tiene_permiso request "detalle_pago_proveedores" %}
            <a id="ver" class="boton boton-administrador" href="#">Ver</a>
        {% endif_tiene_permiso %}
        <a id="reversar" class="boton boton-administrador" href="#">Reversar</a>
    {% endif %}

        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>


    {% if objetos %}
     <div class="table-responsive">
         <table id="lista" class="table tabla table-striped tabla-formato">
              <thead>
                    <tr>
                        <th style="width: 60px;"></th>
                        <th style="width: 90px;">Fecha</th>
                        <th style="width: 120px;"># Comprobante</th>
                        <th style="width: 180px;">Forma de Pago</th>
                        <th>Proveedor</th>
                        <th>Concepto</th>

                        <th style="width: 120px;">Monto</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in objetos %}
                        <tr>
                            <td  style="width: 51px; text-align: center;"><input type="radio" name="seleccion" value="{{ obj.id }}" class="table-radio"
                                    data-ver="{% url "detalle_pago_proveedores" obj.id%}"
                                    data-anular="{% url "anular_pago" obj.id%}"
                                    data-forma_pago="{{ obj.forma_pago.id }}"
                                    data-tipodoc="{{ obj.tipo_comprobante.id }}"
                                    data-reversar="{% url "reversar_pago" obj.id %}"
                                    data-status="{{ obj.status }}"></td>
                            <td class="fecha_reg" style="text-align: center;">{{obj.fecha_reg|date:"Y-m-d"}}</td>
                            <td class="nombre">{{obj.num_comp}}</td>
                            <td class="td_formadepago">{{obj.get_str_forma_pago }}</td>
                            <td class="proveedor">{{obj.proveedor.razon_social|slice:"0:30"}}</td>
                            <td class="td_enlace_crud td_descripcion">{{ obj.concepto|default_if_none:"" }}</td>
                            <td class="text-right">{% float_con_comas_snippet obj.monto %}</td>
                            <td class="td_enlace_crud">{{ obj.get_status }}</td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>

            {% paginacion_html objetos arreglo_paginado muestra_paginacion %}

    </div>

    {% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}
     <!-- Div para los alert-->

  <!-- Alerta-->
     <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="reversar_cobro_modal" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Reversar Pago</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <form id="form_reversar_cobro">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <label>{{ reversion_pago_form.fecha.label }}</label>
                                </td>
                                <td>
                                    {{ reversion_pago_form.fecha }}
                                </td>
                                <td>
                                    Número de Comprobante:
                                </td>
                                <td id="num_comp_rev">CCO0001223</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 7px; padding-top: 7px">
                                    <label>Cliente</label>
                                </td>
                                <td id="cliente_reversar">
                                </td>
                                <td>
                                    Fecha de Registro:
                                </td>
                                <td id="fecha_reg_reversar"></td>
                            </tr>

                            <!-- los datos del cheque  -->
                            <tr id ="tr_cheque">
                                <td style="padding-bottom: 7px; padding-top: 7px">
                                    <label>Cheque</label>
                                </td>
                                <td id="cheque_rev"></td>
                                <td>

                                </td>
                                <td></td>
                            </tr>


                            <tr>
                                <td>
                                    <label>{{ reversion_pago_form.concepto.label }}</label>
                                </td>
                                <td colspan="3">
                                    {{ reversion_pago_form.concepto }}
                                </td>
                            </tr>
                        </table>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="aceptar_reversar">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                        <div class="div_error"></div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}