{% load widget_tweaks %}
{% if not flag %}
    <div id="cta_por_cruzar" class="table-responsive">
        <table id="tabla_cruce_cuenta" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-cuentas-pagar tabla-cruce-doc" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th style="display: none"></th>
                    <th style="width: 40px;"></th>
                    <th class="text-center" style="width: 150px;">Tipo de Documento</th>
                    <th class="text-center" style="width: 150px;"># Documento</th>
                    <th class="text-center" style="width: 120px;">Fecha de Registro</th>
                    <th class="text-center" style="width: 120px;">Fecha de Vencimiento</th>
                    <th class="text-center" style="width: 90px;">Total</th>
                    <th class="text-center" style="width: 90px;">Saldo</th>
                    <th class="text-center">Referencia</th>
                    <th class="text-center" style="width: 220px;">Cuenta</th>
                    <th class="text-center" style="width: 120px;">Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for formularios in formularios_ctas %}
                    <tr>
                        <td style="display: none">{{ formularios.id_cuenta_pagar }}</td>
                        <td>{{ formularios.check }}</td>
                        <td>{{ formularios.tipo_doc|add_class:"text-center" }}</td>
                        <td>{{ formularios.numero_doc|add_class:"text-center" }}</td>
                        <td>
                            {% if formularios.fecha_reg.errors %}
                                {{ formularios.fecha_reg|add_class:"text-center campo_requerido" }}
                            {% else %}
                                {{ formularios.fecha_reg|add_class:"text-center" }}
                            {% endif %}
                        </td>
                        <td>{{ formularios.fecha_ven|add_class:"text-center" }}</td>
                        <td>{{ formularios.total|add_class:"text-right" }}</td>
                        <td>{{ formularios.saldo|add_class:"text-right" }}</td>
                        <td>{{ formularios.referencia|add_class:"text-left" }}</td>
                        <td>
                            {% if formularios.cuenta.errors %}
                                {{ formularios.cuenta|add_class:"campo_requerido" }}
                            {% else %}
                                {{ formularios.cuenta }}
                            {% endif %}
                        </td>

                        <td>{{ formularios.valor|add_class:"text-right" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {{ formularios_ctas.management_form }}
        </table>
    </div>
    <div id="tiene_docs" style="display: none" data-error="0"></div>

{% else %}
    <div id="tiene_docs" style="display: none" data-error="1"></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endif %}