{% extends "base.html" %}
{% load formulario_base %}
{% load widget_tweaks %}
{% block title %}
    {% if tipo == 1 %}
        Agregar Categoria Item
    {% elif tipo == 2 %}
        Editar Categoría Item
    {% elif tipo == 3 %}
        Detalle Categoría Item
    {% endif %}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        function ProductoServicio(){
            if($("#id_tipo").val() == "1"){
                $(".invetario").show();
            }else{
                $(".invetario").hide();
            }
        }

        $(document).ready(function(e){
            // Inhabilita el boton de submit evitando que se haga más de una petición
            $("input[type='submit']").click(function(){
                $(this).attr("disabled", false);
                $("form").submit(function(){
                  $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
                  return true;
                });
            });
            $('.selectpicker').selectpicker();

             ProductoServicio();

            $("#id_tipo").change(function(){
                ProductoServicio();
            });

        });


        $(function(){
         /***** Autocompletado ******/
            $( "#id_cuenta_compra" ).autocomplete({
                source: "/categoria_item/buscar_cuenta/inventario/",
                data:{tag:$(this).val()},
                minLength: 2,
                select: function( event, ui ) {
                    event.preventDefault();
                    var padres = jQuery(event.target).parent().parent();
                    var padre = padres[0];
                    var padre_detalle_cta = padre.children[1];
                    var cuenta = $(padre_detalle_cta.firstElementChild);
                    var cuenta_string = ui.item.value.split("-")[1]
                    $(this).val(cuenta_string);
                    cuenta.val(ui.item.key);
                    }
            });
            $( "#id_cuenta_venta" ).autocomplete({
                source: "/categoria_item/buscar_cuenta/venta/",
                data:{tag:$(this).val()},
                minLength: 2,
                select: function( event, ui ) {
                    event.preventDefault();
                    var padres = jQuery(event.target).parent().parent();
                    var padre = padres[0];
                    var padre_detalle_cta = padre.children[1];
                    var cuenta = $(padre_detalle_cta.firstElementChild);
                    var cuenta_string = ui.item.value.split("-")[1]
                    $(this).val(cuenta_string);
                    cuenta.val(ui.item.key);
                    }
            });
            $( "#id_cuenta_costo_venta" ).autocomplete({
                source: "/categoria_item/buscar_cuenta/costo_venta/",
                data:{tag:$(this).val()},
                minLength: 2,
                select: function( event, ui ) {
                    event.preventDefault();
                    var padres = jQuery(event.target).parent().parent();
                    var padre = padres[0];
                    var padre_detalle_cta = padre.children[1];
                    var cuenta = $(padre_detalle_cta.firstElementChild);
                    var cuenta_string = ui.item.value.split("-")[1]
                    $(this).val(cuenta_string);
                    cuenta.val(ui.item.key);
                    }
            });
        });
    </script>
{% endblock %}
{% block item-inventario %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"{% endblock %}

{% block ruta-principal %}Inventarios{% endblock %}
{% block ruta-actual %}Categoría de Item{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}


    <form method="POST" action="{% if tipo == 1 %}
                                    {% url "registrar_categoria_item" %}
                                {% elif tipo == 2 %}
                                    {% url "editar_categoria_item" id %}
                                {% elif tipo == 3 %}
                                    {% url "detalle_categoria_item" id %}
                                {% endif %}" enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}


        <div class="row row-persona-cabecera" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                {% if tipo == 1 %}
                    <h3  class="sub-title-comprobante">
                          AGREGAR CATEGORÍA ITEM
                    </h3>
                {% elif tipo == 2 %}
                    <h3  class="sub-title-comprobante">
                      EDITAR CATEGORÍA ITEM
                    </h3>
                {% elif tipo == 3 %}
                    <h3  class="sub-title-comprobante">
                      VER CATEGORÍA ITEM
                    </h3>
                {% endif %}

                    <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                        <tr>
                            <td style="width: 210px;">
                                 <label class="control-label" for="{{ formulario.nombre.label }}">
                                {% if formulario.nombre.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.nombre.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.nombre.errors %}{{ formulario.nombre|add_class:"combo txt-100pc campo_requerido" }}{% else %}{{ formulario.nombre|add_class:"combo  txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 210px;">
                                <label class="control-label" for="{{ formulario.tipo.label }}">
                            {% if formulario.tipo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.tipo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.tipo.errors %}{{ formulario.tipo|add_class:" combo campo_requerido" }}{% else %}{{ formulario.tipo|add_class:" combo"}}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 210px;">
                              <label class="control-label" for="{{ formulario.cuenta_venta.label }}">
                            {% if formulario.cuenta_venta.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.cuenta_venta.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.cuenta_venta.errors %}{{ formulario.cuenta_venta|add_class:" combo campo_requerido" }}{% else %}{{ formulario.cuenta_venta|add_class:" combo"}}{% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 210px;">
                              <label class="control-label" for="{{ formulario.cuenta_devolucion_venta.label }}">
                            {% if formulario.cuenta_devolucion_venta.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.cuenta_devolucion_venta.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.cuenta_devolucion_venta.errors %}{{ formulario.cuenta_devolucion_venta|add_class:" combo campo_requerido" }}{% else %}{{ formulario.cuenta_devolucion_venta|add_class:" combo"}}{% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 210px;">
                              <label class="control-label" for="{{ formulario.cuenta_descuento_venta.label }}">
                            {% if formulario.cuenta_descuento_venta.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.cuenta_descuento_venta.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.cuenta_descuento_venta.errors %}{{ formulario.cuenta_descuento_venta|add_class:" combo campo_requerido" }}{% else %}{{ formulario.cuenta_descuento_venta|add_class:" combo"}}{% endif %}
                            </td>
                        </tr>

                        <tr class="invetario">
                            <td style="width: 210px;">
                             <label class="control-label" for="{{ formulario.cuenta_compra.label }}">

                                <span class="requerido">*</span>

                            <b>{{ formulario.cuenta_compra.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                 {% if formulario.cuenta_compra.errors %}{{ formulario.cuenta_compra|add_class:"combo campo_requerido" }}{% else %}{{ formulario.cuenta_compra|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>

                        <tr class="invetario">
                            <td style="width: 210px;">
                              <label class="control-label" for="{{ formulario.cuenta_costo_venta.label }}">
                              <span class="requerido">*</span>

                            <b>{{ formulario.cuenta_costo_venta.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.cuenta_costo_venta.errors %}{{ formulario.cuenta_costo_venta|add_class:" combo campo_requerido" }}{% else %}{{ formulario.cuenta_costo_venta|add_class:" combo"}}{% endif %}
                            </td>
                        </tr>

                        <tr  style="display: none;">
                            <td style="width: 210px;">
                              <label class="control-label" for="{{ formulario.cuenta_inv_proceso.label }}">
                            {% if formulario.cuenta_inv_proceso.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.cuenta_inv_proceso.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.cuenta_inv_proceso.errors %}{{ formulario.cuenta_inv_proceso|add_class:" combo campo_requerido" }}{% else %}{{ formulario.cuenta_inv_proceso|add_class:" combo"}}{% endif %}
                            </td>
                        </tr>

                        <tr  style="display: none;">
                            <td style="width: 210px;">
                              <label class="control-label" for="{{ formulario.cuenta_producto_terminado.label }}">
                            {% if formulario.cuenta_producto_terminado.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.cuenta_producto_terminado.label }}  </b>
                            <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                                {% if formulario.cuenta_producto_terminado.errors %}{{ formulario.cuenta_producto_terminado|add_class:" combo campo_requerido" }}{% else %}{{ formulario.cuenta_producto_terminado|add_class:" combo"}}{% endif %}
                            </td>
                        </tr>
                   </table>
         </div>

      </div>

    <div class="text-center" style="margin-top: 20px;">
        {% if tipo != 3 %}
            <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
        {% endif %}

        {% if tipo == 3 %}
             <a class="boton boton-gray" href="{% url "lista_categoria" %}" title="Cancelar">Regresar</a>
        {% else %}
              <a class="boton boton-gray" href="{% url "lista_categoria" %}" title="Cancelar">Cancelar</a>
        {% endif %}
    </div>

    </form>
{% endblock %}
