{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Detalle Block Documento Empresa{% endblock %}
{% load formulario_base %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script>
        $(document).ready(function()
        {
            $(".selectpicker").selectpicker();
            $('body').find(':input').each(function()
            {
                $(this).attr('disabled', true);
            });
        });
    </script>
{% endblock %}

{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"
 {% endblock %}
 {% block ruta-principal %}Contabilidad{% endblock %}
 {% block ruta-actual %}Detalle de Block de Documentos{% endblock %}



{% block content %}

    {% if messages %}
        {% for message in messages %}
           <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
               {{ message }}.
           </div>
        {% endfor %}
    {% endif %}
    <div class="space"></div>
        <div class="formulario formulario_cliente">

            <div class="comprobante-cabecera-left" style="margin: auto; width: 680px;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 130px;">
                                <label class="control-label">



                                <b>Tipo de Documento</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                 <label class="control-label">
                                    {{ obj.documento_sri.descripcion_documento }}
                                 </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">

                                <b># Serie </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" style="width: 200px;">
                                <label class="control-label">
                                    {{ obj.serie }}
                                 </label>
                            </td>

                            <td class="td-label12">
                                <label class="control-label">

                                <b>Autorización  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control12">
                                <label class="control-label">
                                    {{ obj.autorizacion }}
                                 </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label">
                                    <b>F. Emisión</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                <label class="control-label">
                                    {{ obj.fecha_emi }}
                                 </label>
                            </td>

                            <td class="td-label12">
                                <label class="control-label">
                                <b>F. Vencimiento</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control12">
                                <label class="control-label">
                                    {{ obj.fecha_vencimiento }}
                                 </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label">
                                <b>Sec. Inicial</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                <label class="control-label">
                                    {{ obj.sec_inicial }}
                                 </label>
                            </td>
                            <td class="td-label12">
                                <label class="control-label">
                                <b>Sec. Final</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control12">
                                <label class="control-label">
                                    {{ obj.sec_final }}
                                 </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">
                                <b>Sec. Actual</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">

                                <label class="control-label">
                                    {{ obj.sec_actual }}
                                 </label>
                            </td>
                        </tr>
                    </table>
                </div>




            <div class="controles-uno" style="text-align: center; margin-bottom: 50px;">
                <a style="position: relative; top: 30px;" class="boton boton-gray" href="{% url "lista_vigencia_documento_empresa" %}">Regresar</a>
            </div>
        </div>
{% endblock %}