{% extends "base.html" %}
{% block title %}Editar Block Documento{% endblock %}
{% load widget_tweaks %}
{% load formulario_base %}
{% load permisostag %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
        .td-label12{
            padding-left: 5px;
            width: 110px;
        }
        .td-label1{
            padding-left: 0px;
            width: 110px;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script>
        var fecha_actual = "{% now "Y-m-d" %}";
    </script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_vigencia_doc_empresa/vigencia_doc_empresa.js"></script>
    <script>
        $(function()
        {
            $(".numerico").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 46 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });

            $('#id_serie').mask('999-999');
            $('#id_fecha_emision').mask('9999-99-99');
            $( "#id_fecha_emision" ).datepicker();
            $('#id_fecha_vencimiento').mask('9999-99-99');
            $( "#id_fecha_vencimiento" ).datepicker();
            $(".selectpicker").selectpicker();
        });
    </script>
{% endblock %}
{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"
 {% endblock %}
 {% block ruta-principal %}Contabilidad{% endblock %}
 {% block ruta-actual %}Editar Block de documentos{% endblock %}
{% block superior-iconos %}
{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if_emite_docs_electronicos %}
        <form role="form" id="formulario" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
            <div class="row row-comprobante-cabecera" style="width: inherit">
                <div class="col-lg-12">
                    <div class="comprobante-cabecera-left" style="margin: auto; width: 680px;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td style="width: 130px;">
                                    <label class="control-label" for="{{ formulario.tipo_documento.label }}">
                                    {% if formulario.tipo_documento.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.tipo_documento.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td colspan="3">
                                    {% if formulario.tipo_documento.errors %}{{ formulario.tipo_documento|add_class:"campo_requerido combo" }}{% else %}{{ formulario.tipo_documento|add_class:"combo" }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label1">
                                    <label class="control-label" for="{{ formulario.establecimiento.label }}">
                                    {% if formulario.establecimiento.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.establecimiento.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control1">
                                    {% if formulario.establecimiento.errors %}{{ formulario.establecimiento|add_class:"campo_requerido" }}{% else %}{{ formulario.establecimiento }}{% endif %}
                                </td>

                                <td class="td-label12">
                                    <label class="control-label" for="{{ formulario.punto_emision.label }}">
                                    {% if formulario.punto_emision.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.punto_emision.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control12">
                                    {% if formulario.punto_emision.errors %}{{ formulario.punto_emision|add_class:"campo_requerido" }}{% else %}{{ formulario.punto_emision }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label1">
                                    <label class="control-label" for="{{ formulario.fecha_emision_elect.label }}">
                                    {% if formulario.fecha_emision_elect.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.fecha_emision_elect.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control1">
                                    {% if formulario.fecha_emision_elect.errors %}{{ formulario.fecha_emision_elect|add_class:"campo_requerido" }}{% else %}{{ formulario.fecha_emision_elect }}{% endif %}
                                </td>
                                <td class="td-label1">
                                    <label class="control-label" for="{{ formulario.sec_actual.label }}">
                                    {% if formulario.sec_actual.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.sec_actual.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control1">
                                    {% if formulario.sec_actual.errors %}{{ formulario.sec_actual|add_class:"campo_requerido" }}{% else %}{{ formulario.sec_actual }}{% endif %}
                                </td>
                            </tr>

                        </table>
                    </div>

                </div>
            </div>
            <div class="text-center" style="padding: 30px 0px;">
                <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
                <a class="boton boton-gray" href="{% if param == "1" %}{% url "agregar_ventas" %}{% else %}{% url "lista_vigencia_documento_empresa" %}{% endif %}" title="Cancelar">Cancelar</a>
            </div>
        </form>
    {% else %}
        <form role="form" id="formulario" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: inherit">
            <div class="col-lg-12">
                <div class="comprobante-cabecera-left" style="margin: auto; width: 680px;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 130px;">
                                <label class="control-label" for="{{ formulario.tipo_documento.label }}">
                                {% if formulario.tipo_documento.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.tipo_documento.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.tipo_documento.errors %}{{ formulario.tipo_documento|add_class:"campo_requerido combo" }}{% else %}{{ formulario.tipo_documento|add_class:"combo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.serie.label }}">
                                {% if formulario.serie.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.serie.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario.serie.errors %}{{ formulario.serie|add_class:"campo_requerido" }}{% else %}{{ formulario.serie }}{% endif %}
                            </td>

                            <td class="td-label12">
                                <label class="control-label" for="{{ formulario.autorizacion.label }}">
                                {% if formulario.autorizacion.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.autorizacion.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control12">
                                {% if formulario.autorizacion.errors %}{{ formulario.autorizacion|add_class:"campo_requerido" }}{% else %}{{ formulario.autorizacion }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.fecha_emision.label }}">
                                {% if formulario.fecha_emision.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.fecha_emision.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario.fecha_emision.errors %}{{ formulario.fecha_emision|add_class:"campo_requerido" }}{% else %}{{ formulario.fecha_emision }}{% endif %}
                            </td>

                            <td class="td-label12">
                                <label class="control-label" for="{{ formulario.fecha_vencimiento.label }}">
                                {% if formulario.fecha_vencimiento.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.fecha_vencimiento.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control12">
                                {% if formulario.fecha_vencimiento.errors %}{{ formulario.fecha_vencimiento|add_class:"campo_requerido" }}{% else %}{{ formulario.fecha_vencimiento }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.sec_ini.label }}">
                                {% if formulario.sec_ini.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.sec_ini.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario.sec_ini.errors %}{{ formulario.sec_ini|add_class:"campo_requerido" }}{% else %}{{ formulario.sec_ini }}{% endif %}
                            </td>
                            <td class="td-label12">
                                <label class="control-label" for="{{ formulario.sec_final.label }}">
                                {% if formulario.sec_final.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.sec_final.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control12">
                                {% if formulario.sec_final.errors %}{{ formulario.sec_final|add_class:"campo_requerido" }}{% else %}{{ formulario.sec_final }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="{{ formulario.sec_actual.label }}">
                                {% if formulario.sec_actual.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.sec_actual.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if formulario.sec_actual.errors %}{{ formulario.sec_actual|add_class:"campo_requerido" }}{% else %}{{ formulario.sec_actual }}{% endif %}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="text-center" style="padding: 30px 0px;">
            <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
            <a class="boton boton-gray" href="{% if param == "1" %}{% url "agregar_ventas" %}{% else %}{% url "lista_vigencia_documento_empresa" %}{% endif %}" title="Cancelar">Cancelar</a>
        </div>
    </form>
    {% endif_emite_docs_electronicos %}
     <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}