{% extends "base.html" %}
{% block title %}Blocks de Documentos de la Empresa{% endblock %}
{% load formulario_base %}
{% load permisostag %}
{% load snnipet_generales %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <style>
        .td-label12{
            padding-left: 5px;
            width: 110px;
        }
        .td-label1{
            padding-left: 0px;
            width: 110px;
        }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script>
        $(document).ready(function()
        {
            $(".selectpicker").selectpicker();

            $("#limpiar").click(function(){
                var form = $("#formulario");
                limpiar_form(form)
            });

            $("#ver").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    window.location.href = $("#lista input[type='radio']:checked").attr("data-ver");
                }
                else{
                    mensaje_alerta('Seleccione un item para ver');
                }
            });
            $("#editar").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    window.location.href = $("#lista input[type='radio']:checked").attr("data-editar");
                }
                else{
                    mensaje_alerta('Seleccione un item para editar');
                }
            });
            $("#eliminar").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var doc = tr.find(".documento").text();
                    var serie = tr.find(".serie").text();
                    var autorizacion = tr.find(".autorizacion").text();
                    var url = $("#lista input[type='radio']:checked").attr("data-eliminar");

                    var msn = '<p>Desea eliminar el block de "' + doc + '" serie: ' + serie + ' ?</p>';
                    mensaje_alerta_yn(msn, "Eliminar Block de Documento", "data-href", url);
                }
                else{
                    mensaje_alerta('Seleccione un item para eliminar');
                }
            });

            $("#ok-alert").on("click",function(){
                window.location.href = $("#alert-yn").attr("data-href");
            });
        });
    </script>

    <script>
        jQuery(document).ready(function($) {
            $("#id_serie").mask("999-999");
            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });

            $('input[name=tipo_doc]').change(function(){


            });

            $(".selectpicker option").each(function(){
                //alert('opcion '+$(this).text()+' valor '+ $(this).attr('value'));
               // $(this).attr('value',$(this).attr('value'));
                //esto recorre todoo lo de un combobox, debo decir por cada uno ponerle un title al elemento
             });


            $(".buscador-cerrar").click(function(){

                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").removeClass("opcion-buscar-hide");

            });

        });

    </script>

{% endblock %}
{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"
 {% endblock %}
 {% block ruta-principal %}Contabilidad{% endblock %}
 {% block ruta-actual %}Buscar Blocks de Documentos{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form action="" class="form-group" id="formulario" method="GET">
        <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>
            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto; width: 680px;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td style="width:100px">
                                    <label class="control-label" for="{{ buscador.tipo_doc.label }}">
                                        <b>{{ buscador.tipo_doc.label }}</b>
                                        <span class="dospuntos">:</span>
                                    </label>
                                </td>
                                <td colspan="3">
                                    {{ buscador.tipo_doc }}
                                </td>

                            </tr>
                            <tr>
                                <td class="td-label1">
                                    <label class="control-label" for="{{ buscador.autorizacion.label }}">
                                        <b>{{ buscador.autorizacion.label }}</b>
                                        <span class="dospuntos">:</span>
                                    </label>
                                </td>
                                <td class="td-label1">
                                    {{ buscador.autorizacion }}
                                </td>
                                <td class="td-label12" style="padding-left: 20px;">
                                    <label class="control-label" for="{{ buscador.serie.label }}">
                                        <b>{{ buscador.serie.label }}</b>
                                        <span class="dospuntos">:</span>
                                    </label>
                                </td>

                                <td class="td-label12">
                                    {{ buscador.serie }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label1">
                                    <label class="control-label" for="{{ buscador.fecha_emision.label }}">
                                        <b>{{ buscador.fecha_emision.label }}</b>
                                        <span class="dospuntos">:</span>
                                    </label>
                                </td>

                                <td class="td-label1">
                                    {{ buscador.fecha_emision }}
                                </td>
                                <td class="td-label12" style="padding-left: 20px;">
                                    <label class="control-label" for="{{ buscador.fecha_vencimiento.label }}">
                                        <b>{{ buscador.fecha_vencimiento.label }}</b>
                                        <span class="dospuntos">:</span>
                                    </label>
                                </td>

                                <td class="td-label12">
                                    {{ buscador.fecha_vencimiento }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>{{ buscador.estado.label }}</label>
                                </td>

                                <td colspan="3">
                                    {{ buscador.estado }}
                                </td>

                            </tr>
                        </table>
                        {{ buscador.page }}
                    </div>
                </div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 20px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input id="limpiar" type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar">
            </div>
        </div>
    </form>

    <div class="div div-agregar">
        {% if_tiene_permiso request "agregar_vigencia_documento_empresa" %}
            <a class="boton boton-ok" href="{% url "agregar_vigencia_documento_empresa" %}">Agregar</a>
        {% endif_tiene_permiso %}
     </div>

    <div class="botones-administracion">
<!--  si la lista de datos a mostrar existe entonces pregunta si puedes gestionarlos :o  -->
        {% if objetos %}
            {% if_tiene_permiso request "detalle_vigencia_documento_empresa" %}
                <a id="ver" class="boton boton-administrador" href="#">Ver</a>
            {% endif_tiene_permiso %}
            {% if_tiene_permiso request "editar_vigencia_retencion_empresa" %}
                <a id="editar" class="boton boton-administrador" href="#">Editar</a>
            {% endif_tiene_permiso %}
            {% if_tiene_permiso request "eliminar_vigencia_documento_empresa" %}
                <a id="eliminar" class="boton boton-administrador" href="#">Eliminar</a>
            {% endif_tiene_permiso %}
        {% endif %}
        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>
{% if objetos %}
    <table  id="lista" class="table tabla table-striped tabla-formato">
        <thead>
            <tr>
                <th></th>
                <th>Tipo de Documento</th>
                <th>Serie</th>
                <th style="width: 120px;">Fecha de Emisión</th>
                {% if_emite_docs_electronicos %}
                    <th style="width: 130px;">Secuencia Actual</th>
                {% else %}
                    <th style="width: 150px;">Fecha de Vencimiento</th>
                    <th style="width: 110px;">Autorización</th>
                    <th style="width: 120px;">Secuencia Inicial</th>
                    <th style="width: 130px;">Secuencia Final</th>
                    <th style="width: 130px;">Secuencia Actual</th>
                {% endif_emite_docs_electronicos %}
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>
            {% for obj in objetos %}
                <tr>
                    <td  style="width: 51px; text-align: center;"><input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio" data-ver="{% url "detalle_vigencia_documento_empresa" obj.id %}"
                                data-editar="{% url "editar_vigencia_retencion_empresa" obj.id %}"
                                data-eliminar="{% url "eliminar_vigencia_documento_empresa" obj.id%}"/>
                    </td>
                    <td class="documento">{{ obj.documento_sri.descripcion_documento }}</td>
                    <td class="serie">{{obj.serie}}</td>
                    <td style="text-align: center;">{{obj.fecha_emi|date:"Y-m-d"}}</td>
                    {% if_emite_docs_electronicos %}
                        <td style="text-align: right;">{{obj.sec_actual}}</td>
                    {% else %}
                        <td style="text-align: center;">{{obj.fecha_vencimiento|date:"Y-m-d"}}</td>

                        <td class="autorizacion" style="text-align: right;">{{obj.autorizacion}}</td>
                        <td style="text-align: right;">{{obj.sec_inicial}}</td>
                        <td style="text-align: right;">{{obj.sec_final}}</td>
                        <td style="text-align: right;">{{obj.sec_actual}}</td>
                    {% endif_emite_docs_electronicos %}
                    <td style="text-align: center;">{{ obj.actualizar_estado }}{% get_estado obj.status %}</td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
{% endif %}
    {% paginacion_html objetos arreglo_paginado muestra_paginacion %}
        {% if not objetos %}
         <p class="resultado-vacio">Su consulta no generó resultados.</p>
        {% endif %}
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}