{% extends "base.html" %}
{% block title %}Reporte de Items{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var formulario = $("#formaulario");
            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');
            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center td-item");
                    }
                })
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_param = document.URL.split("?")[1]
                var url = $(this).attr("href");
                window.location.href = url + "?" + url_param;
            });
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();
        });
    </script>



{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}
 {% block container-navigation-media %}container-navigation-media{% endblock %}
 {% block container-contenido-media %}container-contenido-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Inventarios / Lista de Items{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if objetos %}
        {{ objetos.content|safe  }}
    {% endif %}

    {% if items %}
        <div class="div div-descargas" style="margin-bottom: 10px;">
            <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_items_excel" %}">Excel</a>
            <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_items_pdf" %}">PDF</a>
        </div>

        <div class="table-responsive">
            <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th style="width: 140px; text-align: center;">Código</th>
                        <th>Item</th>
                        <th style="width: 110px;">Unidad</th>
                        <th style="width: 110px;">Precio</th>
                        <th style="width: 60px;">Iva</th>
                        <th style="width: 110px;">Precio Final</th>
                        <th style="width: 110px;">Stock</th>
                    </tr>
                </thead>

                <tbody>
                    {% for obj in items %}
                    <tr>
                       <td title="{{obj.codigo}}" style="text-align: center;">{{ obj.codigo |slice:"0:10"}}{% if obj.codigo|length > 7 %}...{% endif %}</td>
                       <td title="{{obj.nombre}}" style="text-align: left;">{{obj.nombre|slice:"0:50"}}{% if obj.nombre|length > 47 %}...{% endif %}</td>
                       <td style="text-align: left;">{{ obj.unidad.descripcion|slice:"0:15" }}</td>
                       <td  style="text-align: right;">
                           {% if obj.precio1 %}
                               {{ obj.precio1|floatformat:2 }}
                           {% else %}
                               0.00
                           {% endif %}
                       </td>
                       <td  style="text-align: right;">
                           {% if obj.iva and obj.iva == 12 %}
                               {% multiplicacion_snippet 0.12 obj.precio1 %}
                           {% else %}
                               0.00
                           {% endif %}
                       </td>
                       <td  style="text-align: right;">
                            {% if obj.precio1 %}
                               {% if obj.iva and obj.iva == 12 %}
                                   {% multiplicacion_snippet 1.12 obj.precio1 %}
                               {% else %}
                                   {{ obj.precio1|floatformat:2 }}
                               {% endif %}
                           {% else %}
                               0.00
                           {% endif %}
                       </td>

                       {% if obj.TipoItem == 1 %}
                           {% if obj.cantidadBodega %}
                               <td>{{ obj.cantidadBodega }}</td>
                           {% else %}
                               <td>0.0</td>
                           {% endif %}
                       {% elif obj.TipoItem == 2 %}
                            <td style="text-align: right;">NO APLICA</td>
                       {% endif %}

                    </tr>
                    {% endfor%}
                </tbody>
            </table>
    </div>
    {% else %}
        <p style="padding: 30px 0px; text-align: center;">Actualmente no existen Items registrados en el sistema.</p>
    {% endif %}
    <div class="div div-agregar" style="padding-bottom: 60px;">
        <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar</a>
    </div>
{% endblock %}