{% extends "base_reporte_pdf.html" %}
{% load operaciones_template %}
{% block titulo %}Reporte Kardex por Item{% endblock %}
{% block sizepage %}a4 landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{usuario}}{% endblock %}
{% block reporte_titulo %}Kardex por Item{% endblock %}
{% block tabla_contenido %}
        {% for obj in objetos %}
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato" style="margin-top: 15px;">
            <thead>
                <tr>
                    <th colspan="6" style="text-align: left; padding: 0px 2px 0px 2px; ">
                        Item: {{ obj.item.nombre }} - {{ obj.item.codigo }}
                    </th>

                </tr>
                <tr>
                    <th style="text-align: center; width: 70px; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 2px 0px 2px;">Fecha Reg</th>
                    <th style="text-align: center; width: 100px;  border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Tipo Comp.</th>
                    <th style="text-align: center; width: 80px;  border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Num Comp.</th>
                    <th style="text-align: center; width: 80px;  border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Tipo Mov.</th>
                    <th style="text-align: center; width: 90px;   border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Num Doc</th>
                    <th style="text-align: center;width: 200px;   border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Descripción</th>
                    <th style="text-align: center; width: 60px;  border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Cantidad</th>
                    <th style="text-align: center; width: 70px;  border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Costo Inventario</th>
                    <th style="text-align: center; width: 75px;  border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Debito</th>
                    <th style="text-align: center; width: 75px;  border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Credito</th>
                    <th style="text-align: center; width: 90px;  border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Saldo</th>
                    <th style="text-align: center; width: 60px;  border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 3px 2px 0px 2px;">Stock</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td colspan="6" style="border-bottom: 1px solid gray; padding: 2px 5px; font-size: 9px;">Saldos Iniciales: </td>
                    <td style="border-bottom: 1px solid gray; padding: 2px 5px; font-size: 9px; text-align: right;"></td>
                    <td colspan="4" class="text-right" style="text-align: right; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 9px;">{{ obj.saldo_inicial|floatformat:2  }}</td>
                    <td style="border-bottom: 1px solid gray; padding: 2px 5px; font-size: 9px; text-align: right;">{{ obj.cantidad_inicial|floatformat:2  }} </td>
                </tr>
                {% for obj_list in obj.lista %}
                    <tr>
                        <td style="text-align: center;padding: 2px 5px; font-size: 9px;"> {{ obj_list.inv_detalle.inventario_cabecera.fecha_reg|date:"Y-m-d" }}</td>
                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;"> {{ obj_list.inv_detalle.inventario_cabecera.tipo_comprobante.descripcion }}</td>
                        <td style="text-align: center;padding: 2px 5px; font-size: 9px;"> {{ obj_list.inv_detalle.inventario_cabecera.num_comp }}</td>
                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;"> {{ obj_list.inv_detalle.inventario_cabecera.tipo_mov_inventario.descripcion }}</td>
                        <td style="text-align: center;padding: 2px 5px; font-size: 9px;"> {{ obj_list.inv_detalle.inventario_cabecera.num_doc }}</td>
                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;"> {{ obj_list.inv_detalle.inventario_cabecera.detalle }}</td>
                        <td style="padding: 2px 5px; font-size: 9px;text-align: right;" class="text-right"> {{ obj_list.inv_detalle.cantidad|floatformat:2 }}</td>
                        <td style="padding: 2px 5px; font-size: 9px;text-align: right;"> {{ obj_list.inv_detalle.costo }}</td>
                        {% if obj_list.inv_detalle.inventario_cabecera.tipo_comprobante_id == 14%}
                            <td style="padding: 2px 5px; font-size: 9px; text-align: right;"> {%multiplicacion_snippet obj_list.inv_detalle.cantidad obj_list.inv_detalle.costo %}</td>
                            <td style="padding: 2px 5px; font-size: 9px; text-align: right;">0.00</td>
                        {% else %}
                            <td style="padding: 2px 5px; font-size: 9px; text-align: right;">0.00</td>
                            <td style="padding: 2px 5px; font-size: 9px; text-align: right;"> {% multiplicacion_snippet obj_list.inv_detalle.cantidad obj_list.inv_detalle.costo %}</td>
                        {% endif %}
                        <td style="padding: 2px 5px; font-size: 9px; text-align: right;"> {{ obj_list.saldo|floatformat:2 }}</td>
                        <td style="padding: 2px 5px; font-size: 9px; text-align: right;"> {{ obj_list.cantidad|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
{% endblock %}