{% extends "base.html" %}
{% block title %}Reporte de Cuenta{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <style>

    td a span{
        cursor: pointer; cursor: hand;
    }

    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
<script>
$(document).ready(function()
    {
        /*****************************************
         * Autocomplete de proveedores
         *****************************************/
        $("#buscar_cuenta").autocomplete({
        source: "/reportes/reporte_cuentas_lista/buscar_cuenta/",
        data:{tag:$(this).val()},
        minLength: 2,
        select: function( event, ui ) {
            event.preventDefault();
            var padres = jQuery(event.target).parent().parent();
            var padre = padres[0];
            var padre_detalle_cta = padre.children[1];
            var cuenta = $(padre_detalle_cta.firstElementChild);
            $(this).val(ui.item.value);
                cuenta.val(ui.item.key);
            }
        });
    });
</script>
    <!---
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
    -->
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}.
            </div>
        {% endfor %}
    {% endif %}
     <div id="buscadores">
            <table>
                <tr>
                    <td >
                        <form action="" class="row form-group" method="GET">
                            <table>
                                <tr>
                                    <td>
                                        <label class="label-td"> Código o Nombre</label>
                                    </td>
                                    <td>
                                        <input type="text" id="buscar_cuenta" class="form-control"  value="{{ request.GET.q }}" name="q">
                                    </td>
                                    <td>
                                        <input type="submit" class="btn-buscadores"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

    <div class="table-responsive">
        <!-- Default panel contents -->
         <!-- Table -->
        <h2 class="titulo-vista">Busqueda de Cuenta</h2>

         <table class="table table-hover  tabla table-striped">
              <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Naturaleza</th>
                        <th>Agregar Fechas</th>

                    </tr>
                </thead>
                <tbody>
                        {% for obj in objetos %}
                    <tr>
                        <td>{{obj.codigo}}</td>
                        <td>{{obj.descripcion}}</td>
                        <td>
                            {% if obj.naturaleza == 'D' %}
                            <span>Deudora</span>
                            {% endif %}
                            {% if obj.naturaleza == 'C' %}
                            <span>Acredora</span>
                            {% endif %}
                         </td>
                         <td class="td_enlace_crud">
                            <a href="{% url "reporte_cuenta_fechas" obj.id%}" title="Agragar Fechas">
                               <span class="glyphicon glyphicon-calendar"></span>
                            </a>
                       </td>
                    {% endfor%}
                    </tr>
                </tbody>
            </table>
    <div class="paginacion">
        <ul  class="pager">
        {% if objetos.has_previous %}
          <span class="page"><a href="?page={{ previous }}">&lt;< </a></span>{% else %}<b><<</b>{% endif %}

        {% if objetos.has_previous %}
          <span class="page"><a href="?page={{ objetos.previous_page_number }}" > < </a></span>{% else %}<b><</b>{% endif %}

        {% for num in objetos.paginator.page_range %}
            {% ifequal num objetos.number %}
             <span class="current"> <b>{{ num }}</b></span>
            {% else %}
                <a  href="?page={{ num }}"> {{ num }} </a>
            {% endifequal %}
        {% endfor %}

        {% if objetos.has_next %}
          <span class="page"><a href="?page={{ objetos.next_page_number }}">></a></span>{% else %}<b>></b>{% endif %}

        {% if objetos.has_next %}
          <span class="page"><a href="?page={{ total_paginas }}" >&gt;> </a></span>{% else %} <b>>></b> {% endif %}
        </ul>
    </div>

</div>


{% endblock %}