{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Balance de Comprobación{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Reporte Balance de Comprobación{% endblock %}
{% block tabla_contenido %}
        <table class="table table-hover  tabla table-striped" border="0">
            <thead>
                <tr>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 85px;">Cuenta</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;">Descripción</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;  width: 100px;">Saldo Inicial</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;  width: 100px;">Total Débito</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;  width: 100px;">Total Crédito</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;  width: 100px">Saldo Final</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in lista %}
                    <tr>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.plan_cuenta.codigo }}</td>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px">{{ obj.plan_cuenta.descripcion }}</td>
                        <td  style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.saldo_inicial|floatformat:"2" }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.saldo_deudor|floatformat:"2" }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.saldo_acreedor|floatformat:"2" }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.saldo_final|floatformat:"2" }}</td>
                    </tr>
                {% endfor%}
                <tr>
                    <td style="font-weight: bold !important;" colspan="2">Totales:</td>
                    <td style="text-align: right; padding: 2px 5px; font-size: 9px;">{{ total_saldo_ini|floatformat:"2" }}</td>
                    <td style="text-align: right; padding: 2px 5px; font-size: 9px;">{{ total_debe|floatformat:"2" }}</td>
                    <td style="text-align: right; padding: 2px 5px; font-size: 9px;">{{ total_haber|floatformat:"2" }}</td>
                    <td style="text-align: right; padding: 2px 5px; font-size: 9px;">{{ total_saldo_final|floatformat:"2" }}</td>
                </tr>
            </tbody>
        </table>
{% endblock %}