{% extends "base.html" %}
{% block title %}Balance de Comprobación{% endblock %}
{% load formulario_base %}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_reportes %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_contabilidad/libro_mayor.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_contabilidad/balance_comprobacion.js"></script>
    <script>
        jQuery(document).ready(function($) {
            var formulario = $('#formulario');
            $('#limpiar').click(function(){

               limpiar_form(formulario);
            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function()
                {
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });
            $("#limpiar").click(function(){
                limpiar_form();
                show_hide_prov($("#id_sel_all"));
                $('.div-descargas').remove();
                $('.row-cabecera').remove();

            });
            show_hide_prov($("#id_sel_all"));
            //saldo_cuenta();

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(e){
                EliminarFila(e, this, "#cuenta");
            });
            $("#id_sel_all").click(function(){
                show_hide_prov(this);
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $('#id_anio').mask('9999');
            $("#id_anio").datepicker( {
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years"
            }).on('changeDate', function(ev) {
            $(this).datepicker("hide")});

            $(".selectpicker").selectpicker();
        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Contabilidad General / Balance de Comprobación{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_balance_comprobacion" %}" data-action="{% url "reporte_balance_comprobacion" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td width="80">
                                <label>* Mes</label>
                            </td>
                            <td width="200">
                                {% if buscador.mes.errors %}
                                    {{ buscador.mes|add_class:"combo campo_requerido" }}
                                {% else %}
                                    {{ buscador.mes|add_class:"combo" }}
                                {% endif %}
                            </td>
                            <td style="padding-left: 20px; width: 90px">
                                <label>* Año</label>
                            </td>
                            <td>
                                {% if buscador.anio.errors %}
                                    {{ buscador.anio|add_class:"campo_requerido calendario-gris input-calendario txt-100pc" }}
                                {% else %}
                                    {{ buscador.anio|add_class:"calendario-gris input-calendario txt-100pc" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Reporte Acumulado</label>
                            </td>
                            <td>{{ buscador.sel_all|add_class:"check" }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>
    {% if lista %}
        <div class="div div-descargas">
            <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_balance_comprobacion_excel" %}"></a>
            <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_balance_comprobacion_pdf" %}"></a>
        </div>
        <div class="row row-cabecera">
            <div class="div-centrar div-tabla">

                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped tabla_saldos" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="text-center">Cuenta</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Saldo Inicial</th>
                        <th class="text-center">Total Débito</th>
                        <th class="text-center">Total Crédito</th>
                        <th class="text-center">Saldo Final</th>
                    </tr>
                    {% for obj in lista %}
                        <tr>
                            <td>{{ obj.plan_cuenta.codigo }}</td>
                            <td>{{ obj.plan_cuenta.descripcion }}</td>
                            <td style="text-align: right" >{{ obj.saldo_inicial|floatformat:"2" }}</td>
                            <td style="text-align: right" >{{ obj.saldo_deudor|floatformat:"2" }}</td>
                            <td style="text-align: right">{{ obj.saldo_acreedor|floatformat:"2" }}</td>
                            <td style="text-align: right">{{ obj.saldo_final|floatformat:"2" }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td style="font-weight: bold !important;" colspan="2">Totales:</td>
                        <td style="text-align: right">{{ total_saldo_ini|floatformat:"2" }}</td>
                        <td style="text-align: right">{{ total_debe|floatformat:"2" }}</td>
                        <td style="text-align: right">{{ total_haber|floatformat:"2" }}</td>
                        <td style="text-align: right">{{ total_saldo_final|floatformat:"2" }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
        {% mensaje_no_data request %}
    {% endif %}

    <div class="div div-agregar">
            <a class="boton boton-gray " href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}