{% extends "base.html" %}
{% block title %}Reporte Libro Mayor{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load snnipet_cabecera_transaccion_id %}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .jrPage{
        width: 100% !important;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_contabilidad/libro_mayor.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/funciones_reportes.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function($) {

            $(".limpiar").click(function(){
                show_hide_prov($("#id_sel_all"));

            });

             //esta cosa tenia otro class de boton de cancelar, tuve que poner este manejador para ocultar mi div que valida el clic del cancelar
            $(".limpiar_form").click(function(){
                $('.datos-mostrar-ocultar').remove();
                //alert("he clicado");
                //show_hide_prov($("#id_sel_all"));
                //implementar esto para que el div datos-mostrar-ocultar se vaya

            });

            $('td[width="50%"]').each(function(){
                $(this).remove();
            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function()
                {
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });

            show_hide_prov($("#id_sel_all"));

            $("#add_cuenta").click(function(e){
                AgregarCuenta(e);
            });

            $(".eliminar").click(function(e){
                EliminarFila(e, this, "#cuenta");
            });

            $("#id_sel_all").click(function(){
                show_hide_prov(this);
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var formulario = $('#formulario');
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#buscar").click(function(e){
                e.preventDefault();
                var formulario = $("#formulario");
                var url_action = formulario.attr("data-action");
                formulario.attr("target", "");
                formulario.attr("method", "POST");
                formulario.attr('action', url_action).submit();
            });
        });
    </script>

{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block container-navigation-media %}container-navigation-media{% endblock %}
 {% block container-contenido-media %}container-contenido-media{% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Contabilidad General / Libro Mayor{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url "reporte_libro_mayor" %}" data-action="{% url "reporte_libro_mayor" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {% if buscador.fecha_ini.errors %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>

                            <td>
                                {% if buscador.fecha_final.errors %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Todas las Cuentas</label>
                            </td>
                            <td colspan="3">{{ buscador.sel_all|add_class:"check" }}</td>
                        </tr>
                    </table>
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table class="tabla-comprobante-cabecera" id="cuenta">
                                    {{ cuentas.management_form }}
                                    <tbody>
                                    {% for form in cuentas %}
                                        <tr>
                                            <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                            </td>
                                            <td class="td-label1" style="text-align: left;width: 116px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.cuenta.label }}">
                                                {% if form.cuenta.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.cuenta.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.cuenta.errors %}{{ form.cuenta|add_class:"campo_requerido combo" }}{% else %}{{ form.cuenta|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="margin: 0; padding: 0;">
                            <td style="border: none; margin: 0; padding: 0;">
                                <table id="tb-boton-add" style="margin: 0">
                                    <tr>
                                        <td  style="border: 0;">
                                            <a class="tr-agregar" id="add_cuenta"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otra Cuenta</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray limpiar_form" value="Limpiar" title="Limpiar">
        </div>
    </form>

    {% if lista %}
        <div class ="datos-mostrar-ocultar">
        <div class="div-content-report-jasper">
            <div class="div div-descargas" style="padding: 0">
                <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_libro_mayor_excel" %}"></a>
                <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_libro_mayor_pdf" %}"></a>
            </div>
            <div style="border: 2px solid #E5E5E5;">
                {{ lista.content|safe }}
            </div>
        </div>
        </div>
    {% else %}
        {% mensaje_no_data request %}
    {% endif %}
    <div class="div div-agregar">
            <a class="boton boton-gray " href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}