{% extends "base.html" %}
{% block title %}Reporte 104{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script>

        function limp_rep()
        {
            $(".t_104").each(function(){
                var i = 0;
                var num_comp_ini = $(this).find(".num_comp:first").text();

                $(this).find(".num_comp").each(function(){
                    if (i != 0)
                    {
                        var num_comp = $(this).text();
                        if(num_comp == num_comp_ini)
                        {
                            $(this).empty();
                        }
                        else
                        {
                            num_comp_ini = num_comp;
                        }
                    }
                    i++;
                });
            });
        }
    </script>

    <script>
        jQuery(document).ready(function($) {
            var formulario = $('#formulario');

            $('#limpiar').click(function(){
               limpiar_form(formulario);
                /*esto ayuda para que no se caigan los reportes al generarlos a partir de un espacio nulo*/
                $('.div-descargas').remove();
                $('.row-cabecera').remove();
            });

            $("#id_fecha_final").datepicker().mask('9999-99-99');
            $("#id_fecha_ini").datepicker().mask('9999-99-99');
            limp_rep();
            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });

            $(".excel").click(function(e){
                cambiar_action_form(e, formulario, this);
                formulario.submit();
            });

            $("#buscar").click(function(e){
                cambiar_action_form(e, formulario, null);
                formulario.submit();
            });
        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}SRI / Formulario 104{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_104" %}" data-action="{% url "reporte_104" %}" class="form-group" id="formulario" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">


                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {% if buscador.fecha_ini.errors %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>
                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>
                            <td>
                                {% if buscador.fecha_final.errors %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="display: none">
                            <td>{{ buscador.page }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
        </div>
    </form>
    {% if lista %}
        <div class="div div-descargas" style="padding: 0">
            <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_104_excel" %}"></a>
            <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_104_pdf" %}"></a>
        </div>

        <div class="row row-cabecera">
            <div class="div-centrar div-tabla">
                {% for obj_cab in lista %}
                    <h4 class="reporte-subtitle">Codigo: {{ obj_cab.codigo.codigo }}</h4>
                    <h4  class="reporte-subtitle">Descripción: {{ obj_cab.codigo.descripcion }}</h4>
                    <table id="table-info-registro" class="table tabla tabla-comprobante table-striped t_104" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="text-center" style="width: 100px"># Comprobante</th>
                            <th class="text-center" style="width: 100px">Fecha</th>
                            <th class="text-center" style="width: 120px">Tipo Doc.</th>
                            <th class="text-center" style="width: 140px"># Documento</th>
                            <th class="text-center" style="width: 320px">Concepto</th>
                            <th class="text-center" style="width: 190px"># Retención</th>
                            <th class="text-center">Base0</th>
                            <th class="text-center">BaseIva</th>
                            <th class="text-center">MontoIva</th>
                            <th class="text-center">30%</th>
                            <th class="text-center">70%</th>
                            <th class="text-center">100%</th>
                        </tr>
                        {% for obj in obj_cab.lista %}
                                <tr>
                                    <td>
                                        <a href="{% url "detalle_compra_pdf" obj.compra_cabecera.id%}" target="_blank" title="ver comprobante">
                                            <ins class="num_comp">
                                                {{ obj.compra_cabecera.num_comp }}
                                            </ins>
                                        </a>
                                    </td>
                                    <td style="text-align: center;">{{ obj.compra_cabecera.fecha_reg|date:'d-m-Y' }}</td>
                                    <td>{{ obj.compra_cabecera.documento.descripcion_documento }}</td>
                                    <td>{{ obj.compra_cabecera.num_doc }}</td>
                                    <td>{{ obj.compra_cabecera.concepto|slice:"0:50" }}</td>
                                    <td style="text-align: left;">{{ obj.compra_cabecera.getRetencion.vigencia_doc_empresa.serie }}-{{ obj.compra_cabecera.getRetencion.numero_ret }}</td>
                                    {% if obj.codigo_iva.porcentaje == 0%}
                                        <td style="text-align: right;">{{ obj.valor|floatformat:"2" }}</td>
                                        <td style="text-align: right;">0.00</td>
                                    {% else %}
                                        <td style="text-align: right;">0.00</td>
                                        <td style="text-align: right;">{{ obj.valor|floatformat:"2" }}</td>
                                    {% endif %}
                                    <td style="text-align: right;">{{ obj.monto_iva|floatformat:"2" }}</td>
                                    {% if obj.monto_ret_iva %}
                                        {% if obj.codigo_ret_iva.porcentaje == 30 %}
                                            <td style="text-align: right">{{ obj.monto_ret_iva|floatformat:"2" }}</td>
                                            <td style="text-align: right">0.00</td>
                                            <td style="text-align: right">0.00</td>
                                        {% elif obj.codigo_ret_iva.porcentaje == 70 %}
                                            <td style="text-align: right">0.00</td>
                                            <td style="text-align: right">{{ obj.monto_ret_iva|floatformat:"2" }}</td>
                                            <td style="text-align: right">0.00</td>
                                        {% else %}
                                            <td style="text-align: right">0.00</td>
                                            <td style="text-align: right">0.00</td>
                                            <td style="text-align: right">{{ obj.monto_ret_iva|floatformat:"2" }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td style="text-align: right">0.00</td>
                                        <td style="text-align: right">0.00</td>
                                        <td style="text-align: right">0.00</td>
                                    {% endif %}
                                </tr>
                        {% endfor%}
                        <tr>
                            <td></td>
                            <td colspan="5" style="text-align: right; padding-right: 20px;">Totales</td>
                            <td style="text-align: right">{{ obj_cab.total_base_0|floatformat:"2" }}</td>
                            <td style="text-align: right">{{ obj_cab.total_base_iva|floatformat:"2" }}</td>
                            <td style="text-align: right">{{ obj_cab.total_monto_iva|floatformat:"2" }}</td>
                            <td style="text-align: right">{{ obj_cab.total_ret_iva_30|floatformat:"2" }}</td>
                            <td style="text-align: right">{{ obj_cab.total_ret_iva_70|floatformat:"2" }}</td>
                            <td style="text-align: right">{{ obj_cab.total_ret_iva_100|floatformat:"2" }}</td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
            <table id="table-info-registro" style="margin-top: 55px;width: 570px !important; float: right" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="text-center">Total Base0</th>
                    <th class="text-center">Total Basei</th>
                    <th class="text-center">Total Montoi</th>
                    <th class="text-center">Total Ret 30</th>
                    <th class="text-center">Total Ret 70</th>
                    <th class="text-center">Total Ret 100</th>
                <tr>
                    <td style="text-align: right; border: 0;background: #E6E6E6 !important;">{{ total_base_0|floatformat:"2" }}</td>
                    <td style="text-align: right;border: 0;background: #E6E6E6 !important;">{{ total_base_iva|floatformat:"2" }}</td>
                    <td style="text-align: right;border: 0;background: #E6E6E6 !important;">{{ total_monto_iva|floatformat:"2" }}</td>
                    <td style="text-align: right;border: 0;background: #E6E6E6 !important;">{{ total_ret_iva_30|floatformat:"2" }}</td>
                    <td style="text-align: right;border: 0;background: #E6E6E6 !important;">{{ total_ret_iva_70|floatformat:"2" }}</td>
                    <td style="text-align: right;border: 0;background: #E6E6E6 !important;">{{ total_ret_iva_100|floatformat:"2" }}</td>
                </tr>
            </table>
        </div>
    {% else %}
        {% mensaje_no_data request %}
    {% endif %}

    <div class="div div-agregar">
            <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}