{% extends "base.html" %}
{% block title %}Reporte Código Formulario SRI 103{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{
        margin-bottom: 0px;
    }



    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>

    <script>
        jQuery(document).ready(function($) {
            var formulario = $('#formulario');

            $('#limpiar').click(function(){
               limpiar_form(formulario);
            });


            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center td-item");
                    }
                })
            });

             $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $("#id_fecha").datepicker();
            $('#id_fecha').mask('9999-99-99');
            $(".selectpicker").selectpicker();



        });

    </script>



{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}

 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Contabilidad General / Código Formulario SRI{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
 <form action="{% url "reporte_codigo_formulario_sri" %}" data-action="{% url "reporte_codigo_formulario_sri" %}" class="form-group" id="formulario" method="post">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 70px;">
                                <label>*Código</label>
                            </td>
                            <td>
                                {{ buscador.codigo }}
                            </td>
                            <td style="width: 80px; text-align: right; padding-right: 20px;">
                                <label>*Fecha</label>
                            </td>
                            <td style="width: 100px;">
                                {{ buscador.fecha }}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>
    {% if codigos %}
        <div class="div div-agregar">
            <a class="boton boton-ok excel" href="{% url "reporte_codigo_formulario_sri_excel" %}">Excel</a>
            <a class="boton boton-ok excel" href="{% url "reporte_codigo_formulario_sri_pdf" %}">PDF</a>
        </div>
        <div class="row row-cabecera">
            <div class="div-centrar div-tabla">


            </div>
        </div>
    {% else %}
        <p style="text-align: center; padding: 30px 0px;">{{ mensaje }}</p>
    {% endif %}
    {% if codigos %}
     <div class="table-responsive">
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    <th>Código de Cuenta</th>
                    <th>Descripción de Cuenta</th>
                    <th>Porcentaje</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in codigos %}
                <tr>
                    <td style="text-align: left;">{{ obj.codigo }}</td>
                    <td style="text-align: left;">{{ obj.descripcion }}</td>
                    <td style="text-align: right;">
                        {% if obj.porcentaje %}
                            {{ obj.porcentaje|floatformat:2 }}%
                        {% else %}
                        0.00%
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
     </div>
    {% endif %}
    <div class="div div-agregar" style="padding-bottom: 60px; ">
            <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>


{% endblock %}