{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte 104{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Reporte 104{% endblock %}
{% block tabla_contenido %}

    {% for obj_cab in lista %}
        <p class="tabla-pre-detalles"><label class="detalle-codigo">Codigo: </label> {{ obj_cab.codigo.codigo }} </p>
        <p class="tabla-pre-detalles"><label class="detalle-codigo">Descripción: </label> {{ obj_cab.codigo.descripcion }}</p>
        <table class="table table-hover  tabla table-striped" border="0" style="width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;  width: 100px;"># Comprobante</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;  width: 70px;">Fecha</th>
                    <th style="text-align: center;   border-bottom: 1px solid gray; padding: 2px 5px;  width: 80px;">T. Doc.</th>
                    <th style="text-align: center;   border-bottom: 1px solid gray; padding: 2px 5px;  width: 100px;"># Documento</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;  width: 150px">Concepto</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;  width: 100px;"># Retención</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; ">Base0</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; ">BaseIva</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; ">MontoIva</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; ">30%</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; ">70%</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; ">100%</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in obj_cab.lista %}
                    <tr>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.compra_cabecera.num_comp }}</td>
                        <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{ obj.compra_cabecera.fecha_reg|date:"Y-m-d" }}</td>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.compra_cabecera.documento.descripcion_documento|slice:"0:4" }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.compra_cabecera.num_doc }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.compra_cabecera.concepto|slice:"0:30" }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.compra_cabecera.getRetencion.vigencia_doc_empresa.serie }}-{{ obj.compra_cabecera.getRetencion.numero_ret }}</td>

                        {% if obj.codigo_iva.porcentaje == 0%}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.valor|floatformat:"2" }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                        {% else %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.valor|floatformat:"2" }}</td>
                        {% endif %}
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.monto_iva|floatformat:"2" }}</td>
                        {% if obj.monto_ret_iva %}
                            {% if obj.codigo_ret_iva.porcentaje == 30 %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.monto_ret_iva|floatformat:"2" }}</td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                            {% elif obj.codigo_ret_iva.porcentaje == 70 %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.monto_ret_iva|floatformat:"2" }}</td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                            {% else %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.monto_ret_iva|floatformat:"2" }}</td>
                            {% endif %}
                        {% else %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                        {% endif %}
                    </tr>
                {% endfor%}
                <tr>
                    <td></td>
                    <td colspan="5" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;">Totales</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj_cab.total_base_0|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj_cab.total_base_iva|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj_cab.total_monto_iva|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj_cab.total_ret_iva_30|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj_cab.total_ret_iva_70|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj_cab.total_ret_iva_100|floatformat:"2" }}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
<br>
    <table>
    <tr>
                    <td></td>
                    <td colspan="5" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;"></td>
                    <td style="padding: 2px 3px; text-align: right; font-weight: bold;">Total Base 0</td>
                    <td style="padding: 2px 3px; text-align: right; font-weight: bold;">Total Base IVA</td>
                    <td style="padding: 2px 3px; text-align: right; font-weight: bold;">Total Monto IVA</td>
                    <td style="padding: 2px 3px; text-align: right; font-weight: bold;">Total Ret 30</td>
                    <td style="padding: 2px 3px; text-align: right; font-weight: bold;">Total Ret 70</td>
                    <td style="padding: 2px 3px; text-align: right; font-weight: bold;">Total Ret 100</td>
                </tr>
    <tr>
                    <td></td>
                    <td colspan="5" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;"></td>
                    <td style="padding: 2px 5px; text-align: right;">{{ totalfinal1|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ totalfinal2|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ totalfinal3|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ totalfinal4|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ totalfinal5|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ totalfinal6|floatformat:"2" }}</td>
                </tr>
    </table>
{% endblock %}
