{% extends "base.html" %}
{% block title %}Reporte Retención Fuente{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <style>

    td a span{
        cursor: pointer; cursor: hand;
    }

    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>

    <script>

        $(function($){

            $('#fecha-inicio').datepicker({
                todayBtn: true,
                autoclose: true
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

            $('#fecha-fin').datepicker({
                todayBtn: true,
                autoclose: true
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });


        });

</script>
<script>
    $(document).ready(function()
        {
            /*****************************************
             * Autocomplete de proveedores
             *****************************************/
            $("#buscar_cuenta").autocomplete({
            source: "/reportes/reportes_retenciones/buscar_proveedor_retencion/",
            data:{tag:$(this).val()},
            minLength: 2,
            select: function( event, ui ) {
                event.preventDefault();
                var padres = jQuery(event.target).parent().parent();
                var padre = padres[0];
                var padre_detalle_cta = padre.children[1];
                var cuenta = $(padre_detalle_cta.firstElementChild);
                $(this).val(ui.item.value);
                    cuenta.val(ui.item.key);
                }
            });
        });
</script>
    <!---
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
    -->
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}.
            </div>
        {% endfor %}
    {% endif %}

    <script>

    function limpiar(){
        document.form_proveedor_compra.proveedor_ruc.value="";
        document.form_proveedor_compra.fecha_inicio.value="";
        document.form_proveedor_compra.fecha_fin.value="";
    }

    </script>
    <div id="buscadores"  style="max-width: 100%;">
        <table>
            <tr>
                <td>
                    <form action="" id="form_proveedor_compra" name="form_proveedor_compra" class="row form-group" method="GET">
                        <table>
                            <tr>
                                <td>
                                    <label class="label-td"> RUC, Nombre o Factura: </label>
                                </td>
                                <td>
                                    <input type="text" id="buscar_cuenta" class="form-control" style="margin-right: 40px;"  value="{{ request.GET.proveedor_ruc }}" name="proveedor_ruc">
                                </td>
                                <td>
                                    <label class="label-td" style="margin-left: 60px;"> Fecha Inicial: </label>
                                </td>
                                <td>
                                    <input type="text" id="fecha-inicio" class="form-control control-fecha" data-date-format="yyyy-mm-dd" style="width: 200px; margin-right: 50px;"  value="{{ request.GET.fecha_inicio }}" name="fecha_inicio">

                                </td>
                                <td>
                                    <label class="label-td"> Fecha Fin: </label>
                                </td>
                                <td>
                                    <input type="text" id="fecha-fin" class="form-control control-fecha" data-date-format="yyyy-mm-dd" style="width: 200px;"  value="{{ request.GET.fecha_fin }}" name="fecha_fin">
                                </td>
                                <td>
                                    <input type="submit" class="btn-buscadores" style="margin-right: 10px;"/>

                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </div>


    <div class="table-responsive">
        <!-- Default panel contents -->
         <!-- Table -->
        <h2 class="titulo-vista">Reporte Retención Fuente</h2>

        {% if objetos %}
         {% if proveedor_ruc != "" and fecha_inicio != "" %}
            <p style="text-align: center; font-weight: bold;">Proveedor: {{ proveedor_ruc }} | Fechas:  {{ fecha_inicio|date:"d-m-Y"}} - {{fecha_fin|date:"d-m-Y"}}

            </p>

        {% endif %}
        {% if proveedor_ruc == "" and total_registros > 0 and fecha_inicio %}
            <p style="text-align: center; font-weight: bold;">Fechas:  {{ fecha_inicio|date:"d-m-Y"}} - {{fecha_fin|date:"d-m-Y"}}

            </p>

        {% endif %}

        <div class="total-registros">
            <p><span>Registros:</span> {{total_registros}}</p>
        </div>

        <table class="table table-hover  tabla table-striped">
            <thead>
                <tr>

                    <th>Fecha</th>
                    <th>Código Retención</th>
                    <th># Comprobante</th>
                    <th>Glosa</th>
                    <th>Proveedor</th>
                    <th># Documento</th>


                    <th>Base</th>
                    <th>Retención</th>
                    <th>Verificación</th>
                    <th>Diferencia</th>

                </tr>
            </thead>
             <tbody>
                {% if objetos %}
                    {% for obj in objetos %}
                    <tr>

                        <td>{{obj.retencion_cabecera.fecha_emision|date:"d-m-Y" }}</td>
                        <td>{{obj.codigo_retencion_fte.codigo }}</td>
                        <td>{{obj.retencion_cabecera.numero_comprobante}}</td>
                        <td>{{obj.retencion_cabecera.compra_cabecera.concepto}}</td>
                        <td>{{obj.retencion_cabecera.compra_cabecera.proveedor.nombre}}</td>
                        <td>{{obj.retencion_cabecera.numero_retencion }}</td>

                        <td style="text-align: right;">{{obj.valor|floatformat:2}}</td>

                        <td style="text-align: right;">{{obj.total|floatformat:2}}</td>
                        <td style="text-align: right;">{% verificacion_retencion_snippet obj.valor obj.porcentaje%}</td>
                        <td style="text-align: right;">{% diferencia_retencion_snippet obj.total obj.valor obj.porcentaje%}</td>



                    {% endfor%}
                     </tr>

                {% endif %}

            </tbody>
        </table>


        <div class="paginacion">
            <ul  class="pager">

            {% if objetos.has_previous %}
              <span class="page">
              <a href="?page={{ previous }}&proveedor_ruc={{ request.GET.proveedor_ruc }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}">&lt;< </a>
              </span>
            {% else %}
                <b><<</b>
            {% endif %}


            {% if objetos.has_previous %}
              <span class="page">
              <a href="?page={{ objetos.previous_page_number }}&proveedor_ruc={{ request.GET.proveedor_ruc }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}" > < </a>
              </span>

            {% else %}
                <b><</b>
            {% endif %}


            {% for num in objetos.paginator.page_range %}
                {% ifequal num objetos.number %}
                 <span class="current"> <b>{{ num }}</b></span>

                {% else %}
                    <a  href='?page={{ num }}&proveedor_ruc={{ request.GET.proveedor_ruc }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}'> {{ num }} </a>
                {% endifequal %}
            {% endfor %}


            {% if objetos.has_next %}
              <span class="page">
              <a href="?page={{ objetos.next_page_number }}&proveedor_ruc={{ request.GET.proveedor_ruc }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}"> >  </a>
              </span>

            {% else %}
                 <b>></b>
            {% endif %}

            {% if objetos.has_next %}
              <span class="page">
              <a href="?page={{ total_paginas }}&proveedor_ruc={{ request.GET.proveedor_ruc }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}" >&gt;> </a>
              </span>
            {% else %}
                <b>>></b>
            {% endif %}

            </ul>
        </div>

        <div class="div-botones" style="text-align: center;">
            <!---
                <a class="boton boton-print" href="{% url 'reporte_compra_pdf'%}?proveedor_ruc={{ request.GET.proveedor_ruc }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}" target="_blank">Generar PDF</a>
            -->
            {% if total_registros > 0 %}
            <a class="boton boton-ok" href="{% url "reporte_retencion_fuente_proveedor_fechas_excel" %}?proveedor_ruc={{ provedor_ruc }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}" target="_blank">Generar XLS</a>
            <a class="boton boton-ok" href="{% url "reporte_retencion_fuente_pdf" %}?proveedor_ruc={{ provedor_ruc }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}" target="_blank">Generar PDF</a>

            {% endif %}
        </div>
     {% else %}
            <p style="text-align: center;">Actualmente no existen datos para presentar.</p>
     {% endif %}
    </div>

{% endblock %}