{% extends "base.html" %}
{% block title %}Pérdidas y Ganancias Detallado{% endblock %}
{% load snnipet_cabecera_transaccion_id %}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
        .titulo-balance{
            font-weight: bold;
            padding-left: 20px;
        }
        .titulo-balance-d{
            font-weight: bold;
            padding-left: 40px;
        }
        .titulo-balance-g{
            font-size: 16px;
            font-weight: bold;
        }
        .linea-total{
            border-bottom: 3px solid !important;
        }
        .sub_cuenta1{
            padding-left: 60px;
        }
        .sub_cuenta2{
                padding-left: 80px;
            }
        .sub_cuenta3{
            padding-left: 100px;
        }
        .sub_cuenta4{
            padding-left: 120px;
        }
        .row-cabecera{
            width: 60% !important;
        }
        .linea-total{
            border-top: none !important;
        }

        #id_sel_all{
            margin-left: 12px !important;
        }


    </style>

{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_bancos/movimientos_bancarios.js"></script>
    <script>
        function ocultar_centro_costo(obj)
        {
            if($(obj).is(":checked")){
                $(".centro_costo_tab").hide();
            }
            else{
                $(".centro_costo_tab").show();
            }
        }

        jQuery(document).ready(function($) {
            var formulario = $('#formulario');
            var all_centro_costo = $("#id_all_centro_costo");
            $('#limpiar').click(function(){
               limpiar_form(formulario);
                /*para que no se caiga el sistema con los reportes que no traen datos*/
               $('.div-descargas').remove();
               $('.row-cabecera').remove();
            });

            $(".totales").each(function(){
                var tr = $(this).parent().parent();
                var tr_tot = $(tr).prev();
                var index = $(this).attr("data-index");
                $(tr).remove();
                $($(tr_tot).find("td").get(index)).addClass("linea-total");
            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text().split(",").join(""))){
                        $(this).addClass("text-right");
                    }
                    else{
                        $(this).addClass("text-left");
                    }
                })
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $(".selectpicker").selectpicker();

            $('#id_anio').mask('9999').datepicker( {
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years"
            }).on('changeDate', function(ev) {
            $(this).datepicker("hide")});

            ocultar_centro_costo(all_centro_costo);

            $(all_centro_costo).click(function(){
                ocultar_centro_costo(this)
            })
        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Financiero / Pérdidas y Ganancias por Centro de Costo{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_perdidas_ganacias_detallado" %}" data-action="{% url "reporte_perdidas_ganacias_detallado" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 130px;">
                                <label>* Mes</label>
                            </td>
                            <td style="width: 170px">
                                {% if buscador.mes.errors %}{{ buscador.mes|add_class:"combo campo_requerido" }}{% else %}{{ buscador.mes|add_class:"combo" }}{% endif %}
                            </td>
                            <td style="text-align: right; padding-right: 20px;">
                                <label>* Año</label>
                            </td>
                            <td style="width: 130px;">
                                {% if buscador.anio.errors %}{{ buscador.anio|add_class:"combo campo_requerido txt-100pc" }}{% else %}{{ buscador.anio|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label>Saldo Mensual</label>
                                {{ buscador.sel_all|add_class:"check" }}
                            </td>

                            <td>
                                <label style="margin-left: 66px;">Formato</label>
                            </td>
                            <td>
                                {{ buscador.tipo_reporte|add_class:"combo btn dropdown-toggle selectpicker slc-primary" }}

                            </td>


                            <td colspan="2" style="display:none;   padding-left: 10px">
                                <label>Todos Centros Costo</label>
                                {{ buscador.all_centro_costo|add_class:"check" }}
                            </td>

                        </tr>
                    </table>
                    <table class="tabla-comprobante-detalle-externa centro_costo_tab">
                        <tr>
                            <td style="border: none;">
                                <table class="tabla-comprobante-cabecera">
                                    {{ centro_costos.management_form }}
                                    <tbody>
                                    {% for form in centro_costos %}
                                        <tr>
                                            <td class="td-label1" style="text-align: left; width: 130px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.centro_costo.label }}">
                                                {% if form.centro_costo.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.centro_costo.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.centro_costo.errors %}{{ form.centro_costo|add_class:"campo_requerido combo" }}{% else %}{{ form.centro_costo|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>

    {% if lista %}
            <div class ="datos-mostrar-ocultar">
            <div class="div-content-report-jasper">
                <div class="div div-descargas" style="padding: 0; ">
                    <a  class="img_report img_excel excel" href="{% url "reporte_perdidas_ganacias_detallado_excel" %}"></a>
                    <a  class="img_report img_pdf excel" href="{% url "reporte_perdidas_ganacias_detallado_pdf" %}"></a>
                </div>

                <div style="border: 2px solid #E5E5E5;">
                    {{ lista.content|safe }}
                </div>
            </div>
            </div>
        {% else %}
            <p class="resultado-vacio"></p>
        {% endif %}

    <!--  para inemca  -->

    {% if balance %}
        <div class="div div-descargas">
            <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_perdidas_ganacias_detallado_excel" %}"></a>
            <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_perdidas_ganacias_detallado_pdf" %}"></a>
        </div>

        <div class="row row-cabecera">
            <div class="div-centrar div-tabla">
                <table id="tabla_reporte" class="table tabla tabla-comprobante table-striped tabla_saldos" cellpadding="0" cellspacing="0">
                    {% for obj in balance %}
                        <tr>
                            {% for obj_balance in obj %}
                                <td>{{ obj_balance|safe }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        {% mensaje_no_data request %}
    {% endif %}



    <div class="div div-agregar">
            <a class="boton boton-gray " href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}