{% extends "base_administracion.html" %}
{% block title %}Administración Clip Maestro{% endblock %}
{% block aside_right %}

{% endblock %}
{% block contenedor_admin %}
    <div class="container container-modulos">
        <div class="row row-modulos">
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-modulos-menu">

                <div class="panel panel-primary modulos-menu">
                  <div class="panel-heading">
                    <h3 class="panel-title">Menú Principal</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row row-modulo-item">


                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3  col-modulo-item">
                            <a href="{% url "contabilidad_menu" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/contabilidad_general.png">
                                </p>
                                <p class="modulo-item-title">
                                    Contabilidad General
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="{% url "ventas_menu" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/ventas.png">
                                </p>
                                <p class="modulo-item-title">
                                    Ventas
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="{% url "compras_menu" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/compras.png">
                                </p>
                                <p class="modulo-item-title">
                                    Compras
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="{% url "proveedores" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/proveedores.png">
                                </p>
                                <p class="modulo-item-title">
                                   Proveedores
                                </p>
                            </a>

                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/contabilidad_general.png">
                                </p>
                                <p class="modulo-item-title">
                                    XCostos
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="{% url "lista_bancos" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/bancos.png">
                                </p>
                                <p class="modulo-item-title">
                                    Bancos
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/compras.png">
                                </p>
                                <p class="modulo-item-title">
                                    XSRI
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/cobranzas.png">
                                </p>
                                <p class="modulo-item-title">
                                   Cobranzas
                                </p>
                            </a>

                        </div>




                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/inventarios.png">
                                </p>
                                <p class="modulo-item-title">
                                    Inventarios
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/ventas.png">
                                </p>
                                <p class="modulo-item-title">
                                    XCRM
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/compras.png">
                                </p>
                                <p class="modulo-item-title">
                                    Requisiones
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/administracion_proyectos.png">
                                </p>
                                <p class="modulo-item-title">
                                   Administración de Proyectos
                                </p>
                            </a>

                        </div>



                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/rol_pagos.png">
                                </p>
                                <p class="modulo-item-title">
                                    Rol de Pagos
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/activos_fijos.png">
                                </p>
                                <p class="modulo-item-title">
                                    Activos Fijos
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/importaciones.png">
                                </p>
                                <p class="modulo-item-title">
                                    Importaciones
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}img/modulos/balance_scorecard.png">
                                </p>
                                <p class="modulo-item-title">
                                   Balance ScoreCard
                                </p>
                            </a>

                        </div>


                    </div>
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4  col-modulos-bienvenido">
                <div class="bienvenida">
                    <h1>Bienvenidos</h1>
                    <p>
                        La confianza en internet sufrió un nuevo revés con el hallazgo de una importante falla en materia de seguridad en un programa de encriptado
                        que usan la mitad de los sitios destinado a proteger claves y otros datos como los bancarios.
                    </p>
                    <p>
                        El error, llamado "Heartbleed", afecta algunas versiones de OpenSSL, un programa de uso libre muy común en conexiones seguras en internet, que se
                        identifica por ejemplo con una dirección que empieza con https o un candado durante operaciones bancarias o de identificación on line.
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}