<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ClipMaestro - Ingreso al Sistema</title>

    <!--
	<link rel="apple-touch-icon" href="touch-icon-iphone.png" /> 
	<link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png" /> 
	<link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png" />
	-->
    <link rel="icon" href="{{ STATIC_URL }}cm_html/images/favicon.ico" type="image/x-icon"/>


	<link href="{{ STATIC_URL }}cm_html/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/font-awesome-4.0.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.css"/>
	<link href="{{ STATIC_URL }}cm_html/css/helper.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}cm_html/css/style.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}cm_html/css/cm_login.css" rel="stylesheet" />

</head>
<body>


	<div class="wrapper login-page">

		<div class="row mtop-100">
			<div class="col-md-4 col-md-offset-4 clearfix bg--dark">
				
				<div class="main-logo">
                    <p><img src="{{ STATIC_URL }}cm_html/images/logo.png"></p>
					<p>Bienvenidos a su Sistema en línea</p>
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="pe-7f-user pe-fw"></i></span>
					<input type="text" class="input-text form-control" placeholder="Username" />
				</div>
				<div class="input-group mtop-25">
					<span class="input-group-addon"><i class="pe-7f-lock pe-fw"></i></span>
					<input type="password" class="input-text form-control" placeholder="Password" />
				</div>
				<div class="clearfix"></div>
				<a href="index.html" class="btn btn-skyorange pull-right">Login</a>

			</div>
		</div>

	</div> <!-- /wrapper -->


	<!-- Scripts -->
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/bootstrap.min.js"></script>
     <!--
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/amcharts/amcharts.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/amcharts/serial.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/amcharts/pie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/chart.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/map.js"></script>
	<script src="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-us-aea-en.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/main.js"></script>
   -->



</body>
</html>