{% extends "base_administracion.html" %}
{% block title %}Administración Clip Maestro{% endblock %}
{% block aside_right %}

{% endblock %}
{% block contenedor_admin %}
  <div class="container container-menu-item">
    <div class="row row-menu-item-header">

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-header-icono">
            <img src="{{ STATIC_URL }}img/menu_icono.png" alt="Icono"/>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-header-detalle">

            <h1>Compras</h1>

            <p>
                Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                disputados entre 1977 y 2011 en Lima, Quito y Guayaquil, con 6 partidos ganados, 4 empatados y 1 perdido.

            </p>

            <p>
                Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                disputados entre 1977 y 2011 en Lima, Quito y Guayaquil, con 6 partidos ganados, 4 empatados y 1 perdido.

            </p>

        </div>

    </div>

    <div class="row row-menu-item-title">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-title">
            <h4>Menú Compras</h4>
        </div>
    </div>

    <div class="row row-menu-items">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{%  url "proveedores" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Buscar Proveedores
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{%  url "registrar_proveedor" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Ingresar Proveedores
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "lista_compras" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                           Buscar Compras
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "agregarcompras" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Ingresar Compras
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "lista_compras_caja_chica" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Buscar Caja Chica
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "vista_caja_chica" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                             Ingresar Caja Chica
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "lista_pago_proveedores" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Buscar Pagos
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Registrar Pagos
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Cuentas por Pagar
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                           Cruce de Documentos
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "reporte_retencion_fuente" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                           Reporte Retención Fuente
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                           Ver Estado de Cuenta
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "reporte_compra" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                           Reporte de Compras por Proveedor
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>



    </div>

  </div>
{% endblock %}