{% extends "base_administracion.html" %}
{% block title %}Administración Clip Maestro{% endblock %}
{% block aside_right %}

{% endblock %}
{% block contenedor_admin %}
  <div class="container container-menu-item">
    <div class="row row-menu-item-header">

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-header-icono">
            <img src="{{ STATIC_URL }}img/menu_icono.png" alt="Icono"/>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-header-detalle">

            <h1>Compras</h1>

            <p>
                Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                disputados entre 1977 y 2011 en Lima, Quito y Guayaquil, con 6 partidos ganados, 4 empatados y 1 perdido.

            </p>

            <p>
                Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                disputados entre 1977 y 2011 en Lima, Quito y Guayaquil, con 6 partidos ganados, 4 empatados y 1 perdido.

            </p>

        </div>

    </div>

    <div class="row row-menu-item-title">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-title">
            <h4>Menú Compras</h4>
        </div>
    </div>

    <div class="row row-menu-items">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{%  url "lista_plan_cuenta" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                           Plan de Cuentas
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{%  url "lista_asientos" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Buscar Asientos
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "registrar_asiento_contable" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                          Agregar Asientos
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "lista_centro_costos" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Buscar Centro de Costos
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "registrar_centro_costo" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Agregar Centro de Costos
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "ver_libro_diario" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                             Mayor
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="{% url "reporte_cuentas_lista" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Reportes por cuentas
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                            Balance General
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                           Estado de Resultados
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-item">
            <div class="row-fluid">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-item-enlace">

                     <a href="">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}img/item_cliente_add.png" alt="Icono"/>
                        </p>
                        <p class="modulo-item-title">
                           Flujo de Caja
                        </p>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-item-detalle">
                    <p>
                       Mientras que las estadísticas favorecen claramente a Ecuador en los últimos once partidos por eliminatorias,
                       disputados entre 1977 y 2011 en Lima, Quito y Guayaquil.</p>
                </div>
            </div>
        </div>

    </div>

  </div>
{% endblock %}