{% extends "base.html" %}
{% block title %}Reporte Cuentas por Pagar Pendiente{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load snnipet_cabecera_transaccion_id %}
{% load snnipet_ventas %}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_proveedores/estado_cuenta_proveedores.js"></script>
    <script>
      jQuery(document).ready(function($) {

            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

        });

        jQuery(document).ready(function($) {

            var formulario = $('#formulario');
            $('#limpiar').click(function(){
               limpiar_form(formulario);
               show_hide_prov($("#id_all_prov"));
               $('.div-descargas').remove();
               $('.row-cabecera').remove();
            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function()
                {
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });

            show_hide_prov($("#id_all_prov"));
            //saldo_proveedor(2);

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(e){
                EliminarFila(e, this, "#proveedores");
            });

            $("#id_all_prov").click(function(){
                show_hide_prov(this);
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();
        });

    </script>


{% endblock %}

{% block item-rol %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Proveedores / Cuentas y Documentos Pendientes por Pagar{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_cuentas_por_pagar_pendientes" %}" data-action="{% url "reporte_cuentas_por_pagar_pendientes" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label style="padding-left: 4px">Fecha Hasta:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                            <td style="width: 150px;">
                                <label>{{ buscador.all_prov.label }}:</label>
                            </td>
                            <td class="text-center">{{ buscador.all_prov }}</td>
                        </tr>
                    </table>
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table class="tabla-comprobante-cabecera" id="proveedores">
                                    {{ proveedores.management_form }}
                                    <tbody>
                                    {% for form in proveedores %}
                                        <tr>
                                            <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                            </td>
                                            <td class="td-label1" style="text-align: left; width: 120px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.proveedor.label }}">
                                                {% if form.proveedor.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.proveedor.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.proveedor.errors %}{{ form.proveedor|add_class:"campo_requerido combo" }}{% else %}{{ form.proveedor|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="margin: 0; padding: 0;">
                            <td style="border: none; margin: 0; padding: 0;">
                                <table id="tb-boton-add" style="margin: 0">
                                    <tr>
                                        <td  style="border: 0;">
                                            <a class="tr-agregar" id="add_proveedor"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otro Proveedor</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>
    {% if objetos %}
        <div class="div div-descargas" style="padding: 0">
            <a class="img_report img_excel excel" title="Descargar en Excel" href="{% url "reporte_cuentas_por_pagar_pendientes_excel" %}"></a>
            <a class="img_report img_pdf excel" title="Descargar en PDF" href="{% url "reporte_cuentas_por_pagar_pendientes_pdf" %}"></a>
        </div>
        <div class="row row-cabecera">
            {% for obj_provee in objetos %}
                <div class="div-centrar div-tabla">
                    <h4 class="reporte-subtitle">Proveedor: {{ obj_provee.proveedor.razon_social }} ({{ obj_provee.proveedor.ruc }})</h4>
                    <table id="table-info-registro" class="table tabla tabla-comprobante table-striped tabla_saldos" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="text-center" style="width: 150px">Fecha Registro</th>
                            <th class="text-center" style="width: 150px">Fecha Emisión</th>
                            <th class="text-center" style="width: 300px">Tipo Doc.</th>
                            <th class="text-center"># Documento</th>
                            <th class="text-center" style="width: 120px">Débito</th>
                            <th class="text-center" style="width: 120px">Crédito</th>
                            <th class="text-center" style="width: 120px">Cobrado/Cruzado</th>
                            <th class="text-center" style="width: 120px">Saldo Pendiente</th>
                        </tr>
                        {% for obj in obj_provee.lista_saldo %}
                            <tr>
                                <td class="text-center">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                                <td class="text-center">{{ obj.fecha_emi|date:"Y-m-d" }}</td>
                                <td class="text-center">{{ obj.documento.descripcion_documento }} </td>
                                <td class="text-left">{{ obj.num_doc }}</td>
                                {% if obj.naturaleza == 1 %}
                                    <td class="text-right">{{ obj.monto|floatformat:"2" }}</td>
                                    <td class="text-right"></td>
                                {% else %}
                                    <td class="text-right"></td>
                                    <td class="text-right">{{ obj.monto|floatformat:"2" }}</td>
                                {% endif %}
                                <td class="text-right">{% get_monto_pagado_fecha obj.id fecha_final %}</td>
                                <td class="text-right">{% get_monto_saldo_cxp_fecha obj.id fecha_final %}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4" class="text-right">Totales:</td>
                            <td class="text-right">{{ obj_provee.saldo_deudor|floatformat:"2" }}</td>
                            <td class="text-right">{{ obj_provee.saldo_acreedor|floatformat:"2" }}</td>
                            <td class="text-right">{{ obj_provee.saldo|floatformat:"2" }}</td>
                            <td class="text-right">{{ obj_provee.total_saldo_pendiente|floatformat:"2" }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
            <table id="table-info-registro" class="table tabla tabla-comprobante table-striped tabla_saldos" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="4" class="text-right">Totales</td>
                    <td class="text-right" style="width: 120px">{{ total_debito }}</td>
                    <td class="text-right" style="width: 120px">{{ total_credito }}</td>
                    <td class="text-right" style="width: 120px">{{ total_pagado_cruzado }}</td>
                    <td class="text-right" style="width: 120px">{{ total_pagar }}</td>
                </tr>
            </table>
        </div>
    {% else %}
        {% if cantidad == 0 %}
         <p class="resultado-vacio">Su consulta no generó resultados.</p>
        {% endif %}

    {% endif %}
    <div class="div div-agregar">
            <a class="boton boton-gray" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}