{% extends "base.html" %}
{% block title %}Reporte Saldos por Proveedor{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .saldos{
        width: 100px;
    }
    .cambio_tabla{
        margin: auto !important;
        width: auto !important;
    }

    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_bancos/movimientos_bancarios.js"></script>
    <script>

      jQuery(document).ready(function($) {

           var formulario = $('#formulario');

            $('#limpiar').click(function(){
               limpiar_form(formulario);
                /*para los formularios el boton y la tabla que no se deberian mostrar*/
               $('.div-descargas').remove();
               $('.table-responsive').remove();
            });

          show_hide_prov($("#id_all_items"));

            $("#id_all_items").click(function(){
                show_hide_prov(this);
            });


            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

        });
    </script>

    <script>
        jQuery(document).ready(function($) {
            var formulario = $('#formulario');
            $(".selectpicker").selectpicker();

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(){
                EliminarFila(this);
            });

            $("#id_all_items").click(function(){
                show_hide_prov(this);
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });
            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();

            $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
            });

        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Proveedores / Saldos por Proveedor{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_saldos_por_proveedores" %}" data-action="{% url "reporte_saldos_por_proveedores" %}" class="form-group" id="formulario" method="POST">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                     <table class="tabla-comprobante-cabecera cambio_tabla">
                        <tr>
                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>
                            <td>
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>

    {% if objetos%}
        <div class="div-content-report-jasper">
            <div class="div div-descargas" >
                <a class="img_report img_excel excel" title="Descagar en Excel" target="_blank" href="{% url "reporte_saldos_por_proveedores_excel" %}"></a>
                <a class="img_report img_pdf excel " title="Descagar en PDF" target="_blank" href="{% url "reporte_saldos_por_proveedores_pdf" %}">sss</a>
            </div>
            <div style="border: 2px solid #E5E5E5;">
                {{ objetos.content|safe }}
            </div>
        </div>
    {% else %}
        {% if post %}
            <p class="resultado-vacio">Su consulta no generó resultados.</p>
        {% endif %}
    {% endif %}
    <div class="div div-agregar" style="margin-bottom: 10px;">
            <a class="boton boton-gray" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>
    <!-- Div para los alert-->
    <div id="cambio_ret" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Cambion de Retención</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <p class="sub-titulo-modal">Datos de la nueva retención</p>
                    <form id="form-nueva-ret" method="POST">
                        <h6 style="color: #DD4814">* Todos los Campos son requeridos</h6>
                            <div class="row">
                                {% for form in formulario_retencion %}
                                    {% if form.html_name == "id_ret" %}
                                        <div style="display: none">
                                            {{ form|add_class:"form-control text-modal numerico" }}
                                        </div>
                                    {% else %}
                                        <div class="col-xs-5 col-sm-5 ">
                                            <label class="label-modal">{{ form.label }}</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7">
                                            {{ form|add_class:"form-control text-modal numerico" }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </form>
                    <p id="error-retencion" class="sub-titulo-modal"></p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="ok-ret">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}