{% load widget_tweaks %}

<div class="row">
{% for form in forms %}
    <div class="col-md-6">
        <div class="form-group row">
            <div class="col-xs-6" style="text-align: left"><label class="control-label" for="{{ form.label }}">
                {% if form.field.required %}
                    <span class="requerido">*</span>
                {% else %}
                    <span class="no-requerido"></span>
                {% endif %}
                <b>{{ form.label }}  </b>
                <span class="dospuntos">:</span></label></div>
            <div class="col-xs-6">{{ form|add_class:"form-control" }}</div>
            <span class="error">
                {{ form.errors }}
            </span>
        </div>
    </div>
{% endfor %}
</div>

