{% extends "base.html" %}
{% load widget_tweaks %}
{% load formulario_comp_contable %}
{% load permisostag %}
{% load compras.tabla_retenciones %}

{% block title %}
    {% if tipo == 1 %}Agregar Compra
    {% elif tipo == 2 %}Anular y Generar Compras
    {% elif tipo == 3 %}Copiar Compra
    {% elif tipo == 4 %}Provisión de Compra{% endif %}
{% endblock %}
{% block stylesheet %}

    <noscript>
        <META HTTP-EQUIV="Refresh" CONTENT="1;URL=http://www.google.es/">
    </noscript>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/compras.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">

    <!--
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    -->
        <style>
        .tabla-comprobante-detalle-externa{

            width: 1280px;
            margin-left: 10px;
        }

        .row-comprobante-retencion{
            margin-left: 0px !important;
            width: 1278px !important;
        }

        #detalle_retenciones .base,
        #detalle_retenciones .porcentaje,
        #detalle_retenciones .total,
        .tabla-comprobante-cabecera #dia_vencimiento,
        #detalle_retenciones .bootstrap-select .selectpicker{
            background: #FFF;

        }

        #detalle_retenciones .codigo_ret{
            padding-left: 0px;
        }

        .tabla-comprobante-rembolso .num_autorizacion{
               width: 100%;
        }
        .tabla-comprobante-rembolso .fecha_emision,
        .tabla-comprobante-rembolso .base_cero,
        .tabla-comprobante-rembolso .base_iva{
            width: 150px !important;
            height: 28px !important;
        }

        .tabla-comprobante-rembolso input[type="text"]{

            height: 28px !important;
        }

        .bootstrap-select.sust_tribut:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
            float: left !important;
            width: 80% !important;
        }

        .check_sust_div{
            float: right !important;
            width: 20% !important;
        }

        table td input{
            width: 100%;
        }
        .td_proveedor .ac_container{
            width: 93% !important;
        }
        #add_prov:hover{
            cursor: pointer;
        }
        .comprobante-documento{
            width: 100%;
        }
    </style>

{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
    <script src="{{ STATIC_URL }}js/validar_rucs.js"></script>
    <script>
        var str_dia = "{{ dia }}";
        var str_dia_split = "{{ dia }}".split("-");
        var dia_actual_servidor = new Date(parseInt(str_dia_split[0]),parseInt(str_dia_split[1]),parseInt(str_dia_split[2]));
        var url_detalle_imp = "{% url "detalle_compra_pdf" 0%}";
        var url_verificar_fecha_ret = "{% url "verificar_fecha_vencimiento_retencion" %}";
        var url_es_n_c = "{% url "es_nota_credito" %}";
        var url_es_n_d = "{% url "es_nota_debito" %}";
        var url_tiene_doc_mod = "{% url "tiene_doc_modifica" %}";
        var url_compra_exterior = "{% url "es_compra_exterior" %}";
        var url_es_reebolso = "{% url "es_reembolso_gasto" %}";
        var url_calcular_totales = "{% url "calcular_totales_detalle_compra" %}";
        var url_es_pago_credito = "{% url "es_pago_credito" %}";
        var ee = 0;
        var provision = {% if tipo == 4 %}true; {% else %} false;{% endif %}
        var url_tabla_retenciones = "{% url "calcular_totales_detalle_retencion" %}";
        var url_add_fila_det_comp = "{% url "agregar_fila_det_compra" %}";
        var dir_combo_vineta = "{{ STATIC_URL }}cm_html/images/combo_vineta.png";
        var url_get_datos_codigo_sri = "{% url "get_datos_codigo_sri" %}";
    </script>

    <!--
    <script src="{{ STATIC_URL }}js/js_compras/funciones.js"></script>
    <script src="{{ STATIC_URL }}js/js_compras/comprobante_compras.js"></script>

    <script src="{{ STATIC_URL }}js/js_compras/comprobante_compras_detalle_ret.js"></script>

    -->
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>

    <script src="{{ STATIC_URL }}js/js_compras/funciones_new.js"></script>

    <script src="{{ STATIC_URL }}js/js_compras/comprobante_compras_detalle_ret_new.js"></script>

    <script type="text/javascript">
        var tipo_id = 0; // Para el tipo de identidicación del servidor

        $(document).ready(function()
        {
            // Imprime en pdf la compra, si fuera el caso

            // Prueba con ajaxcombobox
            $('.ajaxcombobox').ajaxComboBox(
                '',
                {
                    lang: 'es',
                    per_page: 10,
                    db_table: "fff",
                    button_img: dir_combo_vineta,
                    init_record: "",
                    bind_to: "change_ajaxcombo",
                    scrollWindow: true
                }
            );

            $('.ret_fte').ajaxComboBox(
                '',
                get_data_ajaxcb({"fecha_asiento": "#id_fecha_asiento", "tipo_documento": "#id_tipo_de_doc"}, true)
            ).bind('change_ajaxcombo', function(){
                        cambio_retenciones(this, ".porc_ret_fte");
                    });

            $('.ret_iva').ajaxComboBox(
                '',
                get_data_ajaxcb({"fecha_asiento": "#id_fecha_asiento"}, true)
            ).bind('change_ajaxcombo', function(){
                        cambio_retenciones(this, ".porc_ret_iva");
                    });

        $('#id_serie_ret').ajaxComboBox(
                '',
                get_data_ajaxcb({"fecha_asiento": "#id_fecha_asiento"}, false)
            ).bind('change_ajaxcombo', function(){
                        CargarAutorizacion();
                    });

            // Imprime en pdf la compra, si fuera el caso
            imprimir_comprobante(url_detalle_imp);
            {# Cuando es provisión de compra la fecha de regsitro no se puede modificar #}
            {% if tipo == 4 %}
                $("#id_fecha_asiento").attr("readonly", "readonly");
                $("#id_fecha_asiento").attr("title", "Fecha del asiento, no modificable");
                $("#id_fecha_asiento").css({"color":"#B3B0B0", "background-color": "#ECECEC"});
            {% endif %}


            $('.combo-delete div.slc-primary').removeClass('slc-primary');
        });

    </script>
    <script src="{{ STATIC_URL }}js/js_compras/comprobante_compras_new.js"></script>
    <script src="{{ STATIC_URL }}js/js_compras/compras_onload_new.js"></script>
{% endblock %}

{% block item-compra %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}{% if tipo == 1 %}
                            Agregar Compra
                        {% elif tipo == 2%}
                            Anular y Generar Compra
                        {% elif tipo == 3%}
                            Copiar Compra
                        {% elif tipo == 4%}
                            Provisión de Compra
                        {% endif %}
 {% endblock %}
{% block superior-iconos %}


{% endblock %}

{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form role="form" id="formulario" enctype="multipart/form-data" action="{% if tipo == 1 %}{% url "agregarcompras" %}{% endif %}" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="margin-left: 0px; margin-right: 0px;">

                <div class="comprobante-cabecera-left" style="float: left; padding-right: 20px;">
                    <table class="tabla-comprobante-cabecera">
                        {% if tipo == 4 %}
                            {% if compra.num_comp %}
                                <tr>
                                    <td class="td-label1" colspan="2">
                                        <label class="control-label" for="{{ formulario.proveedor.label }}">
                                            <b>Número de Comprobante  </b>
                                        <span class="dospuntos">:</span></label>
                                    </td>
                                    <td class="td-control1 td-relative text-right" colspan="2">
                                        {{ compra.num_comp }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}

                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.fecha_asiento.label }}">
                                {% if formulario.fecha_asiento.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.fecha_asiento.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario.fecha_asiento.errors %}{{ formulario.fecha_asiento|add_class:"campo_requerido txt-150 input-calendario" }}{% else %}{{ formulario.fecha_asiento|add_class:"txt-150 input-calendario" }}{% endif %}
                            </td>
                            <td class="td-label2">
                                <label class="control-label" for="{{ formulario.fecha.label }}">
                                {% if formulario.fecha.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.fecha.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control2" style="text-align: right">
                                {% if formulario.fecha.errors %}{{ formulario.fecha|add_class:"campo_requerido txt-150 input-calendario" }}{% else %}{{ formulario.fecha|add_class:"txt-150 input-calendario" }}{% endif %}
                            </td>
                            <td style="width: 20px;">

                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.proveedor.label }}">
                                {% if formulario.proveedor.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.proveedor.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative td_proveedor" colspan="3" data-errors='{{ formulario.proveedor.errors }}'>
                                {% if formulario.proveedor.errors %}{{ formulario.proveedor|add_class:"campo_requerido combo"}}{% else %}{{ formulario.proveedor|add_class:"combo" }}{% endif %}

                            </td>
                            <td>
                                {% if_tiene_permiso request 'registrar_proveedor'%}
                                    <a id="add_prov" title="Agregar Proveedor" class="enlace_add_proveedor" style="margin-left:0; padding: 8px 12px;">
                                        +
                                    </a>
                                {% endif_tiene_permiso %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.sust_tribut.label }}">
                                {% if formulario.sust_tribut.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.sust_tribut.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" colspan="3">
                                {% if formulario.sust_tribut.errors %}
                                    {{ formulario.sust_tribut|add_class:"campo_requerido" }}
                                {% else %}
                                    {{ formulario.sust_tribut|add_class:"combo" }}
                                {% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.tipo_de_doc.label }}">
                                {% if formulario.tipo_de_doc.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.tipo_de_doc.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" colspan="3">
                                {% if formulario.tipo_de_doc.errors %}
                                    {{ formulario.tipo_de_doc|add_class:"combo campo_requerido" }}
                                {% else %}
                                    {{ formulario.tipo_de_doc|add_class:"combo" }}
                                {% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.serie.label }}">
                                {% if formulario.serie.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.serie.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" data-errors='{{ formulario.serie.errors|default_if_none:"" }}'>
                                {% if formulario.serie.errors%}{{ formulario.serie|add_class:"campo_requerido txt-150" }}{% else %}{{ formulario.serie|add_class:"txt-150" }}{% endif %}
                            </td>
                            <td class="td-label2">
                                <label class="control-label label-sin-requerido" for="{{ formulario.vence.label }}">
                                {% if formulario.vence.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.vence.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control2"  style="text-align: right;">
                                {% if formulario.vence.errors %}{{ formulario.vence|add_class:"input-calendario campo_requerido txt-150" }}{% else %}{{ formulario.vence|add_class:"input-calendario txt-150" }}{% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.autorizacion.label }}">
                                {% if formulario.autorizacion.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.autorizacion.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" colspan="3">
                                <a style="display: none" class="error-input">{{ formulario.autorizacion.errors }}</a>
                                {% if formulario.autorizacion.errors%}{{ formulario.autorizacion|add_class:"campo_requerido txt-auto"}}{% else %}{{ formulario.autorizacion|add_class:"txt-auto" }}{% endif %}
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>


                <div class="comprobante-cabecera-left" style="float: right;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td class="td-label3">
                                <label class="control-label" for="{{ formulario.forma_pago.label }}">
                                {% if formulario.forma_pago.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.forma_pago.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3" colspan="3">
                                {{ formulario.forma_pago|add_class:"combo" }}
                            </td>
                        </tr>
                        <tr id="tr_plazo" style="display: none">
                            <td class="td-label3" style="padding-top: 5px;">
                                <label class="control-label" for="{{ formulario.plazo.label }}">
                                <span class="requerido">*</span>
                                <b>{{ formulario.plazo.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3">
                                {% if formulario.plazo.errors %}
                                    {{ formulario.plazo|add_class:"campo_requerido txt-150" }}
                                {% else %}
                                    {{ formulario.plazo|add_class:"txt-150" }}
                                {% endif %}
                            </td>
                            <td colspan="2" id="dia_vencimiento" class="td-control4" style="text-align: right;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="td-label3">
                                <label class="control-label" for="{{ formulario.pago.label }}">
                                {% if formulario.pago.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.pago.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3 combo-delete" colspan="3">
                                {{ formulario.pago|add_class:"combo" }}
                            </td>
                        </tr>
                        <tr class="pago_exterior">
                            <td class="td-label3">
                                <label class="control-label" for="{{ formulario.pais.label }}">
                                    <span class="requerido">*</span>
                                <b>{{ formulario.pais.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3" colspan="3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% if formulario.pais.errors %}
                                            {{ formulario.pais|add_class:"combo campo_requerido" }}
                                        {% else %}
                                            {{ formulario.pais|add_class:"combo" }}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="pago_exterior">
                            <td>
                                <label class="control-label" for="{{ formulario.convenio_doble_tr.label }}">
                                {% if formulario.convenio_doble_tr.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.convenio_doble_tr.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>{{ formulario.convenio_doble_tr }}</td>
                            <td>
                                <label class="control-label" for="{{ formulario.sujeto_retencion.label }}">
                                {% if formulario.sujeto_retencion.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.sujeto_retencion.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>{{ formulario.sujeto_retencion}}</td>
                        </tr>
                        <tr>
                            <td class="td-label3" style="vertical-align: top; padding-top:10px;">
                                <label class="control-label" for="{{ formulario.contrato.label }}">
                                {% if formulario.contrato.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.contrato.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3" colspan="3">
                                {% if formulario.contrato.errors %}{{ formulario.contrato|add_class:"campo_requerido" }}{% else %}{{ formulario.contrato }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label3" style="vertical-align: top; padding-top:10px;">
                                <label class="control-label" for="{{ formulario.concepto.label }}">
                                {% if formulario.concepto.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.concepto.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3" colspan="3">
                                {% if formulario.concepto.errors %}{{ formulario.concepto|add_class:"campo_requerido textarea-concepto" }}{% else %}{{ formulario.concepto|add_class:"textarea-concepto" }}{% endif %}
                            </td>
                        </tr>
                    </table>
                </div>

        </div>

        <div id="documento_modifica" class="row row-comprobante-documento">
            <div class="col-lg-12">
                <div class="comprobante-documento">
                    <table class="tabla-comprobante-documento">
                        <tr>
                            <td style="width: 140px;">
                                <span class="requerido">*</span>
                                <label>Tipo de Documento <span class="dospuntos">:</span></label>
                            </td>
                            <td style="width: 300px;">
                                 {% if formulario.tipo_de_doc_modif.errors %}{{ formulario.tipo_de_doc_modif|add_class:"combo"|attr:"data-style: slc-primary campo_requerido" }}{% else %}{{ formulario.tipo_de_doc_modif|add_class:"combo" }}{% endif %}
                            </td>
                            <td style="width: 150px; padding-left: 50px;">
                                <span class="requerido">*</span>
                                <label> # Documento <span class="dospuntos">:</span></label>
                            </td>
                            <td style="width: 200px;">
                                {% if formulario.serie_modif.errors %}{{ formulario.serie_modif|add_class:"campo_requerido" }}{% else %}{{ formulario.serie_modif|add_class:"txt-100pc" }}{% endif %}
                            </td>
                            <td style="width: 150px; padding-left: 50px;">
                                <span class="requerido">*</span>
                                <label> Autorización <span class="dospuntos">:</span></label>

                            </td>
                            <td>
                                {% if formulario.autorizacion_modif.errors %}{{ formulario.autorizacion_modif|add_class:"campo_requerido" }}{% else %}{{ formulario.autorizacion_modif|add_class:"txt-100pc" }}{% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row row-comprobante-detalle" style="padding: 0px;">
            {% formulario_detalle_comp_com detalleform id %}
        </div>
        <div id="detalle_reembolso" class="row row-comprobante-reembolso" style="display: none">
            <h5 class="sub-title-comprobante" style="padding-left: 96px;">Detalle de Reembolso</h5>
            {% formulario_reembolso reembolso %}
            <div style="float: right">
                <h6  class="sub-title-comprobante" style="padding: 0px; padding-bottom: 10px;"><b>Totales de Reembolso</b></h6>
                <table id="total_reembolso" class="tabla">
                    <thead>
                        <tr >
                            <th></th>
                            <th style="background: #A9A9A9; color: white; text-align: center;padding: 8px 10px;">Base 0%</th>
                            <th style="background: #A9A9A9; color: white; text-align: center;padding: 8px 10px;">Base IVA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="background: #FFF; color: #A9A9A9; text-align: right; padding: 8px 10px;" id="total_reemb_b" class="rembolso-error">Totales</td>
                            <td style="background: #FFF; color: #A9A9A9; text-align: right; padding: 8px 10px;" id="trbase0"></td>
                            <td style="background: #FFF; color: #A9A9A9; text-align: right; padding: 8px 10px;" id="trbase12"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="contenedor_detalle_comp">
            <div class="row row-comprobante-retencion" style="padding: 0px; width: 1300px !important; margin-left: 0px; margin-right: 0px;">
                <div id="div_retencion" class="col-retencion-detalle">
                    <div class="retencion-detalle">
                        <h3 class="sub-title-comprobante">Detalle de la Retención </h3>
                        <table class="tabla-retencion-detalle">
                            {% if not compra.getRetencion %}
                                <tr>
                                    <td style="width: 170px;">
                                        <label><b>Serie<span class="dospuntos">:</span></b></label>
                                    </td>
                                    <td style=" width: 350px; padding-right: 20px;">
                                        {% if form_ret.serie_ret.errors %}{{ form_ret.serie_ret|add_class:"campo_requerido" }}{% else %}{{ form_ret.serie_ret }}{% endif %}
                                    </td>
                                   <td class="td-label" style="width: 170px; padding-right: 10px;">
                                        <label><span class="requerido">*</span><b>Fecha de Emisión<span class="dospuntos">:</span></b></label>
                                    </td>
                                    <td class="td-control">
                                        {% if form_ret.fecha_emision_retencion.errors %}{{ form_ret.fecha_emision_retencion|add_class:"calendario-gris txt-150 input-calendario campo_requerido" }}{% else %}{{ form_ret.fecha_emision_retencion|add_class:"calendario-gris txt-150 input-calendario" }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label><b>Retención Anterior<span class="dospuntos">:</span></b></label></td>
                                    <td class="td-control">
                                        <label id="num_ret_ant" style="margin-top: 10px"></label>
                                    </td>
                                    {% if_emite_docs_electronicos %}
                                    {% else %}
                                        <td class="td-label" style="width: 120px; padding-right: 10px;">
                                            <label><b># Autorización<span class="dospuntos">:</span></b></label>
                                        </td>
                                        <td class="td-control">
                                            {{ form_ret.autorizacion_retencion|add_class:"txt-desactivado" }}
                                        </td>
                                    {% endif_emite_docs_electronicos %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td style="width: 200px; text-align: left; padding-right: 10px;">
                                        <label><b># Retención de la compra<span class="dospuntos">:</span></b></label>
                                    </td>
                                    <td style="width: 100px; text-align: right; padding-right: 10px;">
                                        <label>{{ compra.getRetencion.get_num_doc }}</label>
                                    </td>
                                    <td class="td-label" style="width: 100px; text-align: right; padding-right: 10px;">
                                        <label><span class="requerido">*</span><b>F. Emisión<span class="dospuntos">:</span></b></label>
                                    </td>
                                    <td class="td-control">
                                        {% if form_ret.fecha_emision_retencion.errors %}{{ form_ret.fecha_emision_retencion|add_class:"calendario-gris txt-150 input-calendario campo_requerido" }}{% else %}{{ form_ret.fecha_emision_retencion|add_class:"calendario-gris txt-150 input-calendario" }}{% endif %}
                                    </td>
                                    <td></td>
                                    <td style="display:none">
                                        <div id="id_vigencia_ret_anular_generar">{{ form_ret.serie_ret.value }}</div>
                                    </td>
                                </tr>
                            {% endif %}
                        </table>

                        <div id="detalle_retenciones">
                            {% tabla_retenciones detalle_ret %}
                        </div>
                    </div>
                 </div>

                <div class="col-retencion-total">
                    <div class="retencion-total">
                        <h3 class="sub-title-comprobante">Totales</h3>
                        <table class="tabla-retencion-detalle tabla-retencion-totales">
                            <tr>
                                <td>
                                    <label><b>Compra IVA 0%</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="total_iva_0">0</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Compra IVA</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="total_iva_12">0</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>IVA</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="total_iva">0</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Retenciones</b></label>
                                </td>
                                <td style="text-align: right;border-bottom: 1px solid #dd4814;">
                                    <label id="total_retencion_det">0</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 20px;">
                                   <label><b style="font-weight: bold;">Total por pagar</b></label>
                                </td>
                                <td style="text-align: right;padding-top: 20px;">
                                     <label id="total_pagar">$ 0</label>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
           </div>
        </div>
        <div class="text-center div-botones-alto">
            <input class="boton boton-ok btn_grabar" id="grabar" type="submit" value="Grabar" title="Graba la compra">
            <input class="boton boton-silver btn_grabar" id="grabar_pagar" name="pagar" type="submit" value="Grabar y Pagar" title="Graba la compra y lleva al módulo de cuentas por pagar"/>
            <input class="boton boton-silver btn_grabar" id="grabar_imprimir" name="pagar" type="submit" value="Grabar e Imprimir" title="Graba la compra e imprima en pdf"/>
            <input class="boton boton-silver btn_grabar" id="grabar_agregar" name="grabar_agregar" type="submit" value="Grabar y Agregar Otra" title="Graba y agrega una nueva compra"/>
            <a class="boton boton-gray btn_cancelar" href="{% url "lista_compras" %}" title="Cancelar">Cancelar</a>
        </div>
        <div id="formas_pago">

        </div>
    </form>

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                           <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <!-- AQUI VA EL MENSAJE -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Div para los formulario Popup-->
    <div id="div-proveedor" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Agregar Proveedor</h4>
                </div>
                <div class="modal-body" id="body-ret">

                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                    <form id="form_prov" method="POST" action="{% url "registrar_proveedor" %}" data-search="{% url "get_proveedores" %}">
                        <div class="row row-formulario-modal">
                            {% for form in form_proveedor %}
                                {% if form.field.required %}
                                    <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                        <label class="label-modal">{{ form.label }}</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                        {{ form|add_class:"text-modal txt-100pc" }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-xs-5 col-sm-5 tipo_identificacion_prov" style="padding: 0; display:none">
                                <label class="label-modal">{{ form_proveedor.tipo_proveedor.label }}</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 control-modal tipo_identificacion_prov" style="padding: 0; display:none">
                                {{ form_proveedor.tipo_proveedor|add_class:"text-modal txt-100pc" }}
                            </div>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="send_form_prov">Aceptar</button>
                        <button type="button" class="boton cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <div class="alert alert-danger alert-dismissable pop-error" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" class="close" aria-hidden="true" type="button">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p id="error-proveedor" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}
{% block script-bootstrap %}
    <!--
    <script src="{{ STATIC_URL }}js/js_compras/compras_onload.js"></script>
    -->

{% endblock %}