{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Comprobante de Compra{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block datos_empresa %}
    <span>{{ empresa.empresa_general.direccion }} Teléfonos: {{ empresa.empresa_general.telefono }}</span>
{% endblock %}
{% block razon_social %}{{ empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Comprobante de Compras: {{ compra.num_comp }}{% endblock %}
{% block tabla_contenido %}


            <table id="table-info-basica">
                <tr>
                    <td class="td-label1">
                        Fecha de Emisión:
                    </td>
                    <td class="td-info1">
                        {{ compra.fecha_emi|date:"Y-m-d" }}
                    </td>
                    <td class="td-label2">
                       Forma de Pago:
                    </td>
                    <td class="td-info2">
                         {% if compra.tipo_pago.id == 1 %}
                             Contado
                         {% elif compra.tipo_pago.id == 2 %}
                             Crédito
                         {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Fecha de Registro:
                    </td>
                    <td class="td-info1">
                        {{ compra.fecha_reg|date:"Y-m-d" }}
                    </td>
                    <td class="td-label2">
                        Autorizaci&oacuten:
                    </td>
                    <td class="td-info2">
                        {{ compra.get_ats.autorizacion }}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Documento:
                    </td>
                    <td class="td-info1">
                        {{ compra.documento.descripcion_documento }}: N° {{ compra.num_doc }}
                    </td>
                    <td class="td-label2">
                        Pago:
                    </td>
                    <td class="td-info2">
                        {% if compra.get_ats.tipo_pago_sri.id == 1 %}
                            Local
                        {% elif compra.get_ats.tipo_pago_sri.id == 2 %}
                            Exterior
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Proveedor:
                    </td>
                    <td class="td-info1">
                        {{ compra.proveedor.razon_social }}
                    </td>
                    <td class="td-label2">
                        {% if compra.get_ats.tipo_pago_sri.id == 2 %}País:{% endif %}

                    </td>
                    <td class="td-info2">
                        {% if compra.get_ats.tipo_pago_sri.id == 2 %}{{ compra.get_ats.pais.descripcion }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        RUC:
                    </td>
                    <td class="td-info1">
                        {{ compra.proveedor.ruc }}
                    </td>
                    <td class="td-label2">
                        {% if compra.get_ats.tipo_pago_sri.id == 2 %}Conv. doble tributación:{% endif %}
                    </td>
                    <td class="td-info2">
                        {% if compra.get_ats.tipo_pago_sri.id == 2 %}{% if compra.get_ats.doble_tributacion %}Sí{% else %}No{% endif %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Estado:
                    </td>
                    <td class="td-info1">
                        {% if compra.status == 1 %}
                            Activa
                        {% elif compra.status == 2 %}
                            Anulada
                        {% elif compra.status == 3%}
                            Pendiente
                        {% endif %}
                    </td>
                    <td class="td-label2">
                        {% if compra.get_ats.tipo_pago_sri.id == 2 %}
                            Sujeto retención:
                        {% endif %}
                    </td>
                    <td class="td-info2">
                        {% if compra.get_ats.tipo_pago_sri.id == 2 %}{% if compra.get_ats.sujeto_retencion %}Sí{% else %}No{% endif %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Sustento tributario:
                    </td>
                    <td class="td-info1" style="padding-right: 20px;">
                        {{ compra.get_ats.sustento_tributario_sri.descripcion }}
                    </td>
                    {% if compra.get_ats.vence %}
                        <td class="td-label2">
                            Fecha Vencimiento;
                        </td>
                        <td class="td-info2">
                            {{ compra.get_ats.vence|date:"Y-m-d" }}
                        </td>
                    {% endif %}
                </tr>
            </table>
            <div style="clear: both"></div>

        {% if detalles %}
            <div class="div-centrar div-tabla">
                <p style="font-size: 12px; font-style: italic; line-height: 1em; font-weight: bold; text-decoration: underline; padding: 0px;">Bienes y Servicios</p>
                <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none">
                    <thead style="">
                        <tr>
                            <th style="width: 120px; border: none; border-bottom: 1px solid #A2A3A5;">Código</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5; ">Cuenta</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5; ">Valor</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5; ">IVA</th>
                        </tr>
                    </thead>
                    <tbody style="">
                        {% for obj_det in detalles %}
                            <tr>
                                <td style="border: none;">{{ obj_det.plan_cuenta.codigo|slice:":1" }}.{{ obj_det.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_det.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_det.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_det.plan_cuenta.codigo|slice:"6:9" }}</td>
                                <td style="border: none;">{{ obj_det.plan_cuenta.descripcion }}</td>
                                <td style="border: none;" class="td-derecha">$ {{ obj_det.valor|floatformat:2 }}</td>
                                <td style="border: none;" class="td-derecha">$ {{ obj_det.monto_iva }}  {% if obj_det.bien_servicio == 1 %}B{% else %}S{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if ret_cab != None %}
            <div class="div-centrar div-tabla">
            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px;line-height: 1em; ">Retención</p>
                <table id="table-info-retencion" style="padding: 0px;font-size: 11px;">

                    <tr>
                        <td class="td-label1" style="font-weight: bold;">
                            Fecha de Emisión:
                        </td>
                        <td class="td-info1">
                            {{ ret_cab.fecha_emi|date:"d-m-Y" }}
                        </td>
                        <td class="td-label1"  style="font-weight: bold; width: 140px;">
                            Número de documento:
                        </td>
                        <td class="td-info1" style="width: 150px;">
                            {{ ret_cab.vigencia_doc_empresa.serie }}-{{ ret_cab.numero_ret }}
                        </td>
                        <td class="td-label1"  style="font-weight: bold; width: 100px; text-align: right; padding-right: 10px;">
                            Autorización:
                        </td>
                        <td class="td-info1">
                            {{ ret_cab.vigencia_doc_empresa.autorizacion }}
                        </td>
                    </tr>

                </table>
                <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px;">
                     <thead style="">
                    <tr>
                        <th style="width: 80px;border: none; border-bottom: 1px solid #A2A3A5;">Código SRI</th>
                        <th style="border: none; border-bottom: 1px solid #A2A3A5;">Retención</th>
                        <th style="border: none; border-bottom: 1px solid #A2A3A5;">Tipo</th>
                        <th style="width: 100px;border: none; border-bottom: 1px solid #A2A3A5;">Base</th>
                        <th style="width: 80px;border: none; border-bottom: 1px solid #A2A3A5;">%</th>
                        <th style="width: 80px;border: none; border-bottom: 1px solid #A2A3A5;">Valor</th>
                    </tr>
                    </thead>
                <tbody style="">
                    {% for obj_ret in ret_det %}
                        <tr>
                            <td style="border: none;">{{ obj_ret.codigo_sri.codigo }}</td>
                            <td style="border: none;">{{ obj_ret.plan_cuenta.descripcion }}</td>
                            <td style="border: none;">{{ obj_ret.codigo_sri.vigencia_retencion.tipo_codigo_sri.descripcion }}</td>
                            <td style="width: 100px;border: none;"  class="td-derecha">$ {{ obj_ret.base|floatformat:2 }}</td>
                            <td style="width: 80px;border: none;" class="td-derecha">{{ obj_ret.get_porcentaje_ret|floatformat:2 }}</td>
                            <td style="width: 80px;border: none;" class="td-derecha">$ {{ obj_ret.valor_retenido|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}
        {% if reembolso != None %}
            <div class="div-centrar div-tabla">
                <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; line-height: 1em; ">Reembolso de Gastos</p>

                <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px;">
                     <thead style="">
                        <tr>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5;">Tipo Documento</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5;"># Documento</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5;">Autorización</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5;">Fecha Emisión</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5;">Base 0%</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5;">Base 12%</th>
                        </tr>
                      </thead>
                    <tbody style="">
                    {% for obj_reem in reembolso %}
                        <tr>
                            <td style="border: none;">{{ obj_reem.documento.descripcion_documento }}</td>
                            <td style="border: none;">{{ obj_reem.serie }}</td>
                            <td style="border: none;">{{ obj_reem.autorizacion }}</td>
                            <td style="border: none;">{{ obj_reem.fecha_emision|date:"d-m-Y" }}</td>
                            <td style="border: none;" class="td-derecha">{{ obj_reem.base0|floatformat:2 }}</td>
                            <td style="border: none;" class="td-derecha">$ {{ obj_reem.baseiva|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if detalle_may %}
            <div class="div-centrar div-tabla">
                <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; line-height: 1em; ">Asiento Contable</p>
                <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none;">
                    <thead style="">
                        <tr>
                            <th style="width: 120px; border: none; border-bottom: 1px solid #A2A3A5;">Código</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5;">Cuenta</th>
                            <th style="width: 100px;border: none; border-bottom: 1px solid #A2A3A5;">Debe</th>
                            <th style="width: 100px;border: none; border-bottom: 1px solid #A2A3A5;">Haber</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5;">Centro de Costos</th>

                        </tr>
                    </thead>
                    <tbody style="">
                    {% for obj_asiento in detalle_may%}
                        <tr>
                            <td style="border: none;" {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                            <td style="border: none;"> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                            <td style="border: none;" class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                            <td style="border: none;" class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                            <td style="border: none;" class="td-derecha">{{ obj_asiento.centro_costo.descripcion }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if contrato %}
            <div class="div-centrar div-tabla">
                <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; line-height: 1em; ">Contrato</p>
                <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none;">
                    <tr>
                        <td style="border: none;"># Contrato</td>
                        <td style="border: none;">{{ contrato.num_cont }}</td>
                    </tr>
                    <tr>
                        <td style="border: none;">Fecha Reg.</td>
                        <td style="border: none;">{{ contrato.fecha_reg }}</td>
                    </tr>
                    <tr>
                        <td style="border: none;">Fecha Entrega</td>
                        <td style="border: none;">{{contrato.fecha_entrega}}</td>
                    </tr>
                    <tr>
                        <td style="border: none;">Cliente</td>
                        <td style="border: none;">{{contrato.cliente.razon_social}}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
        <div class="div-centrar div-tabla">
            <p style="font-size: 11px; font-weight: bold; line-height: 1em; ">Descripción: <span class="desc-info"  style="font-size: 11px; font-weight: normal;">{{ compra.concepto }}</span></p>
            <div id="div-totales">
                <table id="table-totales" style="font-size: 11px;">
                    <tr>
                        <td style="width: 500px;"></td>
                        <td class="td-label">
                            Sub IVA:
                        </td>
                        <td class="td-info">
                            $ {% calcular_subtotal_iva compra %}
                        </td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td class="td-label">
                            Sub 0%:
                        </td>
                        <td class="td-info">$ {% calcular_subtotal_cero compra %}</td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td class="td-label">
                            IVA:
                        </td>
                        <td class="td-info">
                            $ {% calcular_iva compra %}
                        </td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td class="td-label">
                            Retencion:
                        </td>
                        <td class="td-info">
                            $ {% calcular_total_retenciones compra %}
                        </td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td class="td-label">
                            A pagar:
                        </td>
                        <td class="td-info">
                            $ {{ compra.getTotal|floatformat:2 }}
                        </td>
                    </tr>
                </table>

            </div>
            <div class="div-centrar div-tabla">
               <div id="div-firmas">
                    <table id="table-firmas" style="margin-top: 40px; text-align: center">
                         <tr>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                            </td>
                            <td style="border: none; width: 30px;">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                            </td>
                            <td style="border: none; width: 30px; ">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Revisado por:</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
{% endblock %}