{% extends "base.html" %}
{% block title %}Comprobante Compra{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% load permisostag %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">

{% endblock %}
<style>
    .desc-label{
        padding-top: 10px;
    }
</style>
{% block item-compra %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Detalle de la Compra{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}

    <div class="row row-cabecera">
        <div class="row">
        <div class="cabecera-left"  style="height: 268px;">
            <table>
                <tr>
                    <td style="width:140px;">
                        <label>Comp. de Compra:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ compra.num_comp }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Fecha de Emisión:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ compra.fecha_emi|date:"d-m-Y" }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Fecha de Registro:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ compra.fecha_reg|date:"d-m-Y" }}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Documento: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ compra.documento.descripcion_documento }}: N° {{ compra.num_doc }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Proveedor: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ compra.proveedor.razon_social }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>RUC: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ compra.proveedor.ruc }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Estado: </label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {% if compra.status == 1 %}
                                Activa
                            {% elif compra.status == 2%}
                                Anulada
                            {% elif compra.status == 3%}
                                Pendiente
                            {% endif %}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Sustento Tributario: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ compra.get_ats.sustento_tributario_sri.descripcion }}</label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="cabecera-right" style="height: 268px;">
            <table>
                {% if compra.tipo_pago.id == 2 %}
                <tr>
                    <td style="width:150px;">
                        <label> Plazo Hasta:</label>
                    </td>
                    <td class="td-dato">
                        <label>
                             {{ fecha_vencimiento }}
                        </label>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <label> Autorización:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ compra.get_ats.autorizacion }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Pago:</label>
                    </td>
                    <td class="td-dato">
                        <label> {% if compra.get_ats.tipo_pago_sri.id == 1 %}
                                    Local
                                {% elif compra.get_ats.tipo_pago_sri.id == 2%}
                                    Exterior
                                {% endif %}
                        </label>
                    </td>
                </tr>
                {% if compra.get_ats.tipo_pago_sri.id != 1 %}
                 <tr>
                    <td>
                        <label>País:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ compra.get_ats.pais.descripcion }}
                        </label>
                    </td>
                </tr>
                {% endif %}
                {% if compra.get_ats.tipo_pago_sri.id == 2 %}
                 <tr>
                    <td>
                        <label>Conv. doble tributación:</label>
                    </td>
                    <td class="td-dato">
                        <label> {% if compra.get_ats.doble_tributacion %}Sí{% else %}No{% endif %}
                        </label>
                    </td>
                </tr>
                {% endif %}
                {% if compra.get_ats.tipo_pago_sri.id == 2 %}
                <tr>
                    <td>
                        <label>Sujeto retención:</label>
                    </td>
                    <td class="td-dato">
                        <label> {% if compra.get_ats.sujeto_retencion %}Sí{% else %}No{% endif %}
                        </label>
                    </td>
                 </tr>

                {% endif %}
                 <tr>
                    <td>
                        <label>Fecha de Vencimiento:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ compra.get_ats.vence|date:"d-m-Y" }}
                        </label>
                    </td>
                 </tr>
            </table>
        </div>
        </div>
        {% if detalles %}
            <h3 class="sustitulo-comprobante">Bienes y Servicios</h3>

            <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Cuenta(Bien/Servicio)</th>
                    <th class="text-center" style="width: 380px">Sustento Trib.</th>
                    <th class="text-center">Valor</th>
                    <th class="text-center">IVA</th>
                </tr>
                {% for obj_det in detalles %}
                    <tr>
                        <td>{{ obj_det.plan_cuenta.codigo|slice:":1" }}.{{ obj_det.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_det.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_det.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_det.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td>{{ obj_det.plan_cuenta.descripcion }}</td>
                        <td>{{ obj_det.sustento_tributario.codigo }}-{{ obj_det.sustento_tributario.descripcion|slice:"0:60" }}</td>
                        <td class="td-derecha">$ {{ obj_det.valor|floatformat:2 }}</td>
                        <td class="td-derecha">$ {{ obj_det.monto_iva }}  {% if obj_det.bien_servicio == 1 %}B{% else %}S{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}


        {% if ret_cab != None %}
            <div class="div-centrar div-tabla">
            <h3 class="sustitulo-comprobante">Retención</h3>
                  <table id="table-info-retencion">
                    <tr>
                        <td class="td-label">
                            Fecha de Emisión:
                        </td>
                        <td class="td-info">
                            {{ ret_cab.fecha_emi|date:"d-m-Y" }}
                        </td>
                        <td class="td-label">
                            Número de documento:
                        </td>
                        <td class="td-info">
                            {{ ret_cab.vigencia_doc_empresa.serie }}-{{ ret_cab.numero_ret }}
                        </td>
                        <td class="td-label">
                            Autorización:
                        </td>
                        <td class="td-info">
                            {% if_emite_docs_electronicos %}
                                {{ ret_cab.autorizacion }}
                            {% else %}
                                {{ ret_cab.vigencia_doc_empresa.autorizacion }}
                            {% endif_emite_docs_electronicos %}
                        </td>
                    </tr>

                </table>
                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Código SRI</th>
                        <th>Descripción</th>
                        <th>Tipo</th>
                        <th>Base</th>
                        <th>%</th>
                        <th>Valor</th>
                    </tr>
                    {% for obj_ret in ret_det %}
                        <tr>
                            <td>{{ obj_ret.codigo_sri.codigo }}</td>
                            <td>{{ obj_ret.codigo_sri.descripcion }}</td>
                            <td>{{ obj_ret.codigo_sri.vigencia_retencion.tipo_codigo_sri.descripcion }}</td>
                            <td class="td-derecha">$ {{ obj_ret.base|floatformat:2 }}</td>
                            <td class="td-derecha">{{ obj_ret.get_porcentaje_ret|floatformat:2 }}</td>
                            <td class="td-derecha">$ {{ obj_ret.valor_retenido|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {% if reembolso != None %}
            <h3 class="sustitulo-comprobante">Reembolso de Gastos</h3>
            <div class="div-centrar div-tabla">
                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Tipo Documento</th>
                        <th># Documento</th>
                        <th>Autorización</th>
                        <th>Fecha Emisión</th>
                        <th>Base 0%</th>
                        <th>Base 12%</th>
                    </tr>
                    {% for obj_reem in reembolso %}
                        <tr>
                            <td>{{ obj_reem.documento.descripcion_documento }}</td>
                            <td>{{ obj_reem.num_doc }}</td>
                            <td>{{ obj_reem.autorizacion }}</td>
                            <td>{{ obj_reem.fecha_emi|date:"d-m-Y" }}</td>
                            <td class="td-derecha">{{ obj_reem.base0|floatformat:2 }}</td>
                            <td class="td-derecha">$ {{ obj_reem.baseiva|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {% if detalle_may %}
            <div class="div-centrar div-tabla">
                <h3 class="sustitulo-comprobante">Asiento Contable</h3>

                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Código</th>
                        <th>Cuenta</th>
                        <th style="width: 130px;">Debe</th>
                        <th style="width: 130px;">Haber</th>
                        <th>Centro de Costos</th>
                    </tr>
                    {% for obj_asiento in detalle_may %}
                        <tr>
                            <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                            <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                            <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                            <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                            <td class="td-derecha">{{ obj_asiento.centro_costo.descripcion }}</td>

                        </tr>
                    {% endfor %}

                </table>
            </div>
        {% endif %}
        {% if contrato %}
            <div class="div-centrar div-tabla">
                <h3 class="sustitulo-comprobante">Contrato</h3>
                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <td># Contrato</td>
                        <td>{{ contrato.num_cont }}</td>
                    </tr>
                    <tr>
                        <td>Fecha Reg.</td>
                        <td>{{ contrato.fecha_reg }}</td>
                    </tr>
                    <tr>
                        <td>Fecha Entrega</td>
                        <td>{{contrato.fecha_entrega}}</td>
                    </tr>
                    <tr>
                        <td>Cliente</td>
                        <td>{{contrato.cliente.razon_social}}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
        <div class="div-centrar div-tabla">
            <p class="desc-label">Descripción: <span class="desc-info" title="{{ compra.concepto }}">{{ compra.concepto|slice:"0:100" }}...</span></p>
            <div id="div-totales">
                <table id="table-totales">
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Subtotal IVA:
                        </td>
                        <td class="td-info">
                            $ {% calcular_subtotal_iva compra %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Subtotal 0%:
                        </td>
                        <td class="td-info">$ {% calcular_subtotal_cero compra %}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            IVA:
                        </td>
                        <td class="td-info">
                            $ {% calcular_iva compra %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            Retenciones:
                        </td>
                        <td class="td-info">
                            $ {% calcular_total_retenciones compra %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="td-label">
                            A pagar:
                        </td>
                        <td class="td-info">
                            $ {{ compra.getTotal|floatformat:2 }}
                        </td>
                    </tr>
                </table>

            </div>
            <div style="clear: both"></div>
            <div class="text-center div-botones-alto" style="margin-top: 30px;">
                {% if_tiene_permiso request "detalle_compra_pdf" %}
                    <a class="boton boton-ok" href="{% url 'detalle_compra_pdf'  compra.id %}" target="_blank">Generar PDF</a>
                {% endif_tiene_permiso %}
                {% if compra.getRetencion and compra.getRetencion.estado_firma >= 4%}
                    <a class="boton-silver" href="{% url 'ride_retencion_electronica'  compra.getRetencion.web_url %}" target="_blank">Generar RIDE Retencion</a>
                {% endif %}
                <a class="boton boton-gray" href="{% url "lista_compras" %}">Regresar</a>
            </div>
        </div>

    </div>


{% endblock %}