{% extends "base.html" %}
{% block title %}Compras{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.si.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <style>
        .cargar_ret{
            cursor: pointer;
            display: block;
            left: 50px;
            padding-left: 12px;
            position: absolute;
            top: 6px;
            width: 30px;

        }

        .pre-retencion-final{

            display: inline-block;
            height: 30px;

            position: relative;
            width: 60px;
        }

        .retencion-final{
            left: -12px;
            position: relative;
            top: 8px;

        }
        .bootstrap-filestyle label{
            width: 40%;
            margin-right: 0;
            margin-left: 0;
        }
        #foto_usuario #foto_usuario_int .bootstrap-filestyle label.btn span {
            top: -8px !important;
        }
        #foto_usuario #foto_usuario_int .input-large {
            width: 239px;
        }
    </style>

{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.si.js"></script>
    <script>
        var url_camb_ret = "{% url "cambiar_retencion" %}";
        var url_tien_ret = "{% url "tiene_retencion_compra" %}";
        var url_comp = "{% url "lista_compras" %}";
        var url_dat_ret = "{% url "obtener_datos_retencion" %}";
        var url_anul_ret = "{% url "anular_retencion" %}";
        var url_get_ult_ret = "{% url "get_ultima_ret_usada" %}";
        {% if_emite_docs_electronicos %}
            var url_get_correo = "{% url "get_correo_proveedor" %}";
            var url_enviar_correo = "{% url "enviar_correo_retencion_electronica_view" %}";
        {% endif_emite_docs_electronicos %}
    </script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_compras/funciones.js"></script>
    <script src="{{ STATIC_URL }}js/js_compras/lista_compras.js"></script>
{% endblock %}

{% block item-compra %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Buscar Compras{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    <form action="" class="form-group" id="formulario" method="GET">
        <div class="container-buscador container-buscador-hide">
           <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>
           <div class="row row-comprobante-cabecera" style="width: auto;">
                    <div class="comprobante-cabecera-left" style="height: 250px; float: left;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td style="width: 150px;">
                                    <label>Rango de Fechas:</label>
                                </td>

                                <td style="width: 150px; padding-right: 20px;">
                                    {{ buscador.fecha|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>

                                <td style="width: 120px;">
                                    <label>Hasta</label>
                                </td>

                                <td>
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <label>Proveedor:</label>
                                </td>

                                <td style="width: 150px;" colspan="3">
                                    {{ buscador.prov }}
                                </td>
                            </tr>

                             <tr>
                                <td>
                                    <label>Tipo de Documento:</label>
                                </td>

                                <td>
                                    {{ buscador.tipo_documento|add_class:"txt-150" }}
                                </td>

                                <td>
                                    <label>Número:</label>
                                </td>

                                <td>
                                    {{ buscador.ndocumento|add_class:"txt-150" }}
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <label>Rango de Monto:</label>
                                </td>

                                <td>
                                    {{ buscador.rango_monto_ini|add_class:"txt-150" }}
                                </td>

                                <td>
                                    <label>Hasta</label>
                                </td>

                                <td>
                                    {{ buscador.rango_monto_hasta|add_class:"txt-150" }}
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <label># de Comprobante:</label>
                                </td>
                                <td>
                                    {{ buscador.num_comprobante|add_class:"txt-150" }}
                                </td>

                                <td>
                                    <label># de Retención:</label>
                                </td>

                                <td>
                                    {{ buscador.num_retencion|add_class:"txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>{{ buscador.concepto.label }}</label>
                                </td>
                                <td colspan="3" >
                                    {{ buscador.concepto }}
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="comprobante-cabecera-right" style="height: 250px; float: right;">
                    <table class="tabla-comprobante-cabecera">

                         <tr>
                            <td style="width: 120px;">
                                <label>{{ buscador.cuenta.label }}</label>
                            </td>

                            <td style="width: 150px;" colspan="3">
                                {{ buscador.cuenta }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{ buscador.codigo_iva.label }}</label>
                            </td>
                            <td style="width: 150px;" colspan="3">
                                {{ buscador.codigo_iva }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{ buscador.codigo_ret_fte.label }}</label>
                            </td>
                            <td style="width: 150px;" colspan="3">
                                {{ buscador.codigo_ret_fte }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{ buscador.codigo_ret_iva.label }}</label>
                            </td>
                            <td style="width: 150px;" colspan="3">
                                {{ buscador.codigo_ret_iva }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{ buscador.fpago.label }}</label>
                            </td>
                            <td style="width: 150px;" colspan="3">
                                {{ buscador.fpago }}
                            </td>
                        </tr>
                         <tr>
                            {% if_emite_docs_electronicos %}
                                <td style="width: 150px;">
                                    <label>{{ buscador.estado_doc_elect.label }}</label>
                                </td>
                                <td style="width: 190px; padding-right: 20px;">
                                    {{ buscador.estado_doc_elect }}
                                </td>
                            {% endif_emite_docs_electronicos %}
                            <td style="width: 80px;">
                                <label>{{ buscador.estado.label }}</label>
                            </td>

                            <td>
                                {{ buscador.estado }}
                            </td>
                        </tr>

                    </table>
                    <div style="display: none">{{ buscador.page }}</div>
                </div>

            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 20px;">
           <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
           <input id="limpiar" type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar">
        </div>


        </div>

    </form>

        {% if_tiene_permiso request "agregarcompras"%}
            <div class="div div-agregar">
                    <a class="boton boton-ok" href="{% url "agregarcompras" %}">Agregar
                </a>
            </div>
        {% endif_tiene_permiso %}


    <div class="botones-administracion">
    {% if objetos %}
        {% if_emite_docs_electronicos %}
            {% if_tiene_permiso request "detalle_compra" %}
                <a id="ver" class="boton boton-administrador" href="#">Ver</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "copiar_compra" %}
                <a id="copiar" class="boton boton-administrador" href="#">Copiar</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "anular_compra"%}
                <a id="anular" class="boton boton-administrador" href="#">Anular</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "anular_generar_compra" %}
                <a id="anular_generar" class="boton boton-administrador" href="#">Anular y Generar</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "uso_provision_compra" %}
                <a id="provision" class="boton boton-administrador" href="#">Provisión</a>
            {% endif_tiene_permiso %}

            <a id="enviar_reten_electronica" class="boton boton-administrador" href="#">Enviar Retención Electrónica</a>

            <a id="enviar_mail_reten_electronica" class="boton boton-administrador" href="#">Enviar Retención por Correo</a>

        {% else %}
            {% if_tiene_permiso request "detalle_compra" %}
                <a id="ver" class="boton boton-administrador" href="#">Ver</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "copiar_compra" %}
                <a id="copiar" class="boton boton-administrador" href="#">Copiar</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "anular_compra"%}
                <a id="anular" class="boton boton-administrador" href="#">Anular</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "uso_provision_compra" %}
                <a id="provision" class="boton boton-administrador" href="#">Provisión</a>
            {% endif_tiene_permiso %}

            {% if_tiene_permiso request "anular_generar_compra" %}
                <a id="anular_generar" class="boton boton-administrador" href="#">Anular y Generar</a>
            {% endif_tiene_permiso %}

            <div class="btn-group">
                <a type="button" href="" class="boton boton-administrador" data-toggle="dropdown">
                    Retención <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a id="cambiar_ret"  href="#" style="display: none">Cambiar Retención</a></li>
                    {% if_tiene_permiso request "anular_retencion" %}
                        <li><a id="anular_ret"  href="#">Anular Retención</a></li>
                    {% endif_tiene_permiso %}
                </ul>
            </div>
        {% endif_emite_docs_electronicos %}
    {% endif %}
        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>
    {% if objetos %}
        <div class="table-responsive">
            <!-- Default panel contents -->
             <!-- Table -->

            <table id="lista" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 90px;">Fecha Reg.</th>
                        <th style="width: 98px;">#Comprobante</th>
                        <th style="width: 110px;">Tipo Doc.</th>
                        <th style="width: 126px;">Nº Doc.</th>
                        <th style="width: 78px;">Fecha Emi.</th>
                        <th style="width: 155px">Proveedor</th>
                        <th style="width: 120px">Concepto</th>
                        <th style="width: 74px">#Retención</th>
                        {% if_emite_docs_electronicos %}
                            <th style="width: 65px"><i class="fa fa-flag" title="Estado Envio SRI"></i></th>
                        {% endif_emite_docs_electronicos %}
                        <th style="width: 74px">Valor Ret.</th>
                        <th style="width: 60px">Total</th>
                        <th style="width: 62px">A Pagar</th>
                        <th>Estado</th>
                    </tr>
                </thead>

                <tbody>
                    {% for obj in objetos %}
                        <tr>
                            <td  style="width: 51px; text-align: center;"><input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                    data-ver="{% url "detalle_compra" obj.id%}"
                                    data-anular="{% url "anular_compra" obj.id%}"
                                    data-anular_generar="{% url "anular_generar_compra" obj.id%}"
                                    data-copiar="{% url "copiar_compra" obj.id%}"
                                    data-provision="{% url "uso_provision_compra" obj.id%}"
                                    data-cambiar_ret="{% url "cambiar_retencion" %}"
                                    data-status="{{ obj.status }}"
                                    {% if_emite_docs_electronicos %}

                                        data-enviar_ret_elect="{% url "enviar_retencion_electronica_sri" obj.id %}"
                                        data-enviar_mail_ret_elect="{% url "enviar_correo_retencion_electronica_view" %}"
                                        {% if obj.getRetencion %}
                                            data-estado_firma="{{ obj.getRetencion.estado_firma }}"
                                        {% else %}
                                            data-estado_firma="-1"
                                        {% endif %}

                                    {% endif_emite_docs_electronicos %}>
                            </td>

                            <td style="text-align: center;">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                            <td class="num_comp">{{ obj.num_comp }}</td>
                            <td class="text-center">{{ obj.documento.descripcion_documento|slice:"0:12" }}</td>
                            <td class="nombre">{{obj.num_doc}}</td>
                            <td style="text-align: center;">{{obj.fecha_emi|date:"Y-m-d" }}</td>
                            {% if obj.proveedor.razon_social %}
                                <td title="{{obj.proveedor.razon_social}}">{{obj.proveedor.razon_social|slice:"0:14"}}{% if obj.proveedor.razon_social|length > 14 %}...{% endif %}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td title="{{obj.concepto}}">{{obj.concepto|slice:"0:10"}}{% if obj.concepto|length > 10 %}...{% endif %}</td>
                            <td style="text-align: center" class="num_retencion">{% if obj.getRetencion %}{{ obj.get_num_retencion|slice:"0:17" }}{% endif %}</td>
                            {% if_emite_docs_electronicos %}
                                <td style="text-align: center">{% if obj.getRetencion %}{% autoescape off %}{{ obj.get_estado_retencion_electronica }}{% endautoescape %}{% endif %}</td>
                            {% endif_emite_docs_electronicos %}
                            <td style="text-align: right">{{ obj.get_total_ret|floatformat:"2" }}</td>
                            <td style="text-align: right; padding-right: 10px;">{% suma_n obj.baseiva obj.base0 obj.monto_iva%}</td>
                            {# Crea las lista para el Snnipet SumaResta #}
                            {% make_list obj.base0 obj.baseiva obj.monto_iva as sum_list %}
                            {% make_list obj.get_total_ret as rest_list %}
                            {# Recibe dos listas, la cual la primera es para los valores que se van a summar y la segunda #}
                            {# los que se van a restar #}
                            <td style="text-align: right">{% SumaResta sum_list rest_list %}</td>

                            <td style="text-align: center;">
                            {% if obj.status == 1 %}
                                    <span class="item_activo">Activo</span>
                            {% elif obj.status == 2 %}
                                    <span class="sin-acceso">Anulada</span>
                            {% elif obj.status == 3 %}
                                    <span class="item_activo">Pendiente</span>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>

            {% paginacion_html objetos arreglo_paginado muestra_paginacion %}

        </div>
    {% else %}
        <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}


    <!-- Div para los formulario Popup-->
    <div id="cambio_ret" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Cambion de Retención</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <p class="sub-titulo-modal">Datos de la nueva retención</p>
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                    <form id="form-nueva-ret" method="POST">
                        <div class="row row-formulario-modal">
                            {% for form in formulario_retencion %}
                                {% if form.html_name == "id_ret" %}
                                    <div style="display: none">
                                        {{ form|add_class:"form-control text-modal numerico" }}
                                    </div>
                                {% else %}
                                    <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                        <label class="label-modal">{{ form.label }}</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                        {{ form|add_class:"text-modal" }}
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>


                    </form>

                    <div class="modal-footer">
                        <button type="button" class="boton yes boton-ok" id="ok-ret">Aceptar</button>
                        <button type="button" class="boton cancel boton-gray" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <div class="alert alert-danger alert-dismissable error-modal" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" type="button" class="close"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">

                                    <p id="error-retencion" class="alert--text"></p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="anular_ret_modal" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title-modal" id="tit-ret">Anular Retención</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                    <form id="form_anular_ret" method="POST">
                        <div class="row row-formulario-modal">
                        {# Aqui se valida si el ingreso de los documentos es manual o automático #}
                            {% if False %}
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    {% if form_anular_ret.documento.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <label class="label-modal">{{ form_anular_ret.documento.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_ret.documento|add_class:"text-modal" }}
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    {% if form_anular_ret.numero_ret.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <label class="label-modal">{{ form_anular_ret.numero_ret.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_ret.numero_ret|add_class:"text-modal" }}
                                </div>
                            {% else %}
                                <p style="padding-bottom: 20px"><label class="label-modal">Tenga en cuenta que se anulará la siguiente retención, como el sistema es en línea, presione
                                   el icono de actualizar para mostrarle el último número de retención utilizado antes de aceptar</label>
                                </p>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    {% if form_anular_ret.documento.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <label class="label-modal">{{ form_anular_ret.documento.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_ret.documento|add_class:"text-modal" }}
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    {% if form_anular_ret.fecha_retencion.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <label class="label-modal">{{ form_anular_ret.fecha_retencion.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_ret.fecha_retencion|add_class:"text-modal" }}
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">Última retención utilizada:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    <a class="cargar_ret" title="Actualizar Número de Retención">
                                        <i id="icon-load" class="fa fa-cog" style="font-size: 18px;"></i>
                                    </a>
                                    <label class="pre-retencion-final">
                                        <span id="ultima_ret" class="retencion-final"></span>
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="boton yes boton-ok" id="ok-ret-anul">Aceptar</button>
                        <button type="button" class="boton cancel boton-gray" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                        <div class="alert alert-danger alert-dismissable error-modal" style="margin-bottom:0; margin-top: 20px;">
                            <button type="button" class="close cerrar-error"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">

                                    <p class="alert--text mensaje-error-retencion"></p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="envio_correo" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Envío de Correo Electrónico</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <p class="sub-titulo-modal">Los siguientes datos son opcionales:</p>
                    <form id="form_envio_correo" method="POST">
                        <div class="row row-formulario-modal">
                            <div style="display: none">{{ form_correo.id_compra }}</div>
                            <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                <label class="label-modal">{{ form_correo.file.label }}:</label>
                            </div>
                            <div id="foto_usuario" class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                 <div id="foto_usuario_int">
                                    {{ form_correo.file|add_class:"" }}
                                 </div>
                            </div>

                            <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                <label class="label-modal">Correo del Proveedor:</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                <p id="correo_proveedor"></p>
                            </div>

                            <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                <label class="label-modal">C.C:</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                {{ form_correo.cc|add_class:"text-modal" }}
                            </div>
                        </div>

                    </form>

                    <div class="modal-footer">
                        <button type="button" class="boton yes boton-ok" id="ok_send_mail">Enviar al Correo</button>
                        <button type="button" class="boton cancel boton-gray" data-dismiss="modal" id="cancel_envio_correo">Cancelar</button>
                        <!-- div para mostrar errores -->

                        <div class="alert alert-danger alert-dismissable error-modal" style="margin-bottom:0px; margin-top: 20px;">
                            <button type="button" class="close close-error"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">

                                    <p id="error-envio" class="alert--text"></p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}