{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Lista de Cheques Girados{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Reporte Lista de Cheques Girados{% endblock %}
{% block tabla_contenido %}


        {% if lista %}
           <div>
               <p>
                 Fecha Inicial:<label> {{ fecha_ini }}</label>
               </p>
               <p>
                 Fecha Final:<label> {{ fecha_final }}</label>
               </p>
           </div>
        {% endif %}
            {% for obj_list in lista %}
                {% if obj_list.lista %}
                    <p class="tabla-pre-detalles"><label class="detalle-codigo">{{ obj_list.banco.descripcion }}</label></p>
                    <table class="table table-hover  tabla table-striped" border="0" width="100%">
                        <thead>
                            <tr>
                                <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;"># Comprobante</th>
                                <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 70px;">Fecha Registro</th>
                                <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;"># Cheque</th>
                                <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 150px;">Benificiario</th>
                                <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 220px;">Concepto</th>
                                <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Valor</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for obj in obj_list.lista %}
                                {% if obj.num_cheque %}
                                    <tr>
                                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px"> {{ obj.num_comp }}</td>
                                        <td  style="text-align: center;padding: 2px 5px; font-size: 9px;">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;"> {{ obj.num_cheque }}</td>
                                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;"> {{ obj.persona|default_if_none:""|slice:"0:30" }}</td>
                                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;"> {{ obj.concepto }}</td>
                                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;"> {{ obj.valor|floatformat:"2" }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td colspan="5" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;">Totales</td>
                                <td style="padding: 2px 5px; text-align: right;">{{ obj_list.total|floatformat:"2" }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
{% endblock %}