{% extends "base.html" %}
{% block title %}Reporte Conciliación Bancaria{% endblock %}
{% load snnipet_cabecera_transaccion_id %}
{% load operaciones_template %}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <style>
    #id_saldo_banco{
        width: 95% !important;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_bancos/movimientos_bancarios.js"></script>
    <script>
      jQuery(document).ready(function($) {
            $('#id_fecha_corte').mask('9999-99-99');
            $("#id_fecha_corte").datepicker();
      });

      jQuery(document).ready(function($) {
        var formulario = $('#formulario');
        $('#limpiar').click(function(){
           limpiar_form(formulario);
            //esto de abajo quita los componentes que hacen los reportes si es que he limpiado el buscador, para que el sitio no trate de hacer reportes con nulls y asi no se caiga
               $('.div-descargas').remove();
               $('.row-cabecera').remove();

        });

        $('[data-toggle="tooltip"]').tooltip();

        calcular_totales();


        $(".excel").click(function(e){
            e.preventDefault();
            var url_action = formulario.attr("data-action");
            formulario.attr('data-action', formulario.attr("action"));
            if($(this).attr("href")!=url_action)
            {
                formulario.attr('data-action', url_action);
                formulario.attr('action', $(this).attr("href")).submit();
            }
            else
                $('#formulario').submit();
        });

        $("#buscar").click(function(e){
            e.preventDefault();
            var url_action = formulario.attr("data-action");
            formulario.attr('data-action', $(this).attr("action"));
            formulario.attr('action', url_action).submit();
        });

        $(".selectpicker").selectpicker();

        $("#id_saldo_banco").each(function(){
           $(this).keydown(function(event){
                Numerico(event);
           }).change(function(event){
                redondear(this);
           });
        });
        });
    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Bancos / Conciliación Bancaria{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url "reporte_transacciones_bancarias_por_conciliar" %}" data-action="{% url "reporte_transacciones_bancarias_por_conciliar" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Fecha Corte:</label>
                            </td>
                            <td style="width: 380px; padding-right: 20px;">
                                {{ buscador.fecha_corte|add_class:"calendario-gris input-calendario" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Cuenta Bancaria:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.banco }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Saldo Banco:</label>
                            </td>
                            <td class="td-saldo">
                                {{ buscador.saldo_banco }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" id="limpiar" title="Limpiar">
        </div>
    </form>

        {% if lista %}
            <div class="div div-descargas">
                <a class="img_report img_excel excel" title="Descargar en Excel" href="{% url "reporte_transacciones_bancarias_por_conciliar_excel" %}"></a>
                <a class="img_report img_pdf excel" title="Descargar en PDF" href="{% url "reporte_transacciones_bancarias_por_conciliar_pdf" %}"></a>
            </div>

        <div class="row row-cabecera">
            <table id="table-info-registro" style=" border-spacing:  20px; margin-bottom: 20px;">
                 <tr>
                    <td>
                        <p class="tabla-pre-detalles" style="text-decoration: underline;">SALDO INICIAL:
                            <label class="detalle-codigo" style="font-weight: bold">{{ saldo_ini }}</label>
                        </p>
                    </td>
                 </tr>
            </table>

            {% for obj in lista %}
                {% if obj.lista %}
                    <div class="div-centrar div-tabla">
                        <h4>Tipo Comprobante: {{ obj.tipo_comp.descripcion }}</h4>
                        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped tabla_reporte" cellpadding="0" cellspacing="0">
                            <tr>
                                <th class="text-center" style="width: 120px"># Comprobante</th>
                                <th class="text-center" style="width: 110px">Fecha</th>
                                <th class="text-center" style="width: 170px">Referencia</th>
                                <th class="text-center" style="width: 195px">Recibido/Pagado</th>
                                <th class="text-center" style="width: 400px">Concepto</th>
                                <th class="text-center" style="width: 400px"></th>
                                <th class="text-center" style="width: 100px">Valor</th>
                            </tr>

                            {% for ob in obj.lista %}
                                <tr>
                                    <td><a href="{% get_url_detalle_comp_num_comp ob.num_comp %}" target="_blank"><ins>{{ ob.num_comp }}</ins></a></td>
                                    <td style="text-align: right">{{ ob.fecha_reg|date:"Y-m-d" }}</td>
                                    {% if ob.forma_pago_id == 1 and ob.tipo_comprobante_id == 4 %}
                                        <td>Cheque # {{ ob.num_cheque }}</td>
                                    {% else %}
                                        <td>{{ ob.num_referencia|default_if_none:"" }}</td>
                                    {% endif %}
                                    <td>{{ ob.persona|slice:"0:30"|default_if_none:"" }}</td>
                                    <td>{{ ob.concepto|slice:"0:40"}}</td>

                                    {% if ob.naturaleza == 1 %}
                                          <td style="text-align: right;">
                                            <i class="fa fa-plus" style="font-size: 14px; color: #E75300;"></i>
                                        </td>
                                    {% else %}
                                        <td style="text-align: right;">
                                            <i class="fa fa-minus" style="font-size: 14px; color: #E75300;"></i>
                                        </td>
                                    {% endif %}
                                    <td style="text-align: right" class="haber">{{ ob.valor|floatformat:"2" }}</td>
                                </tr>

                            {% endfor %}

                            <tr>
                                <td colspan="3">Total</td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right">{{ obj.total|floatformat:"2" }}</td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}

               <div class="div-centrar div-tabla">
                    <h3 style="text-decoration: underline; text-align: center">Cuadre Contable </h3>
                    <table id="table-info-registro" style="margin-top: 15px;background: #FFFFFF;" class="table tabla tabla-comprobante table-striped tabla_reporte" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="text-center" style="width: 120px">Total Saldo Libros</th>
                            <th class="text-center" style="width: 110px">Total Saldo Cuenta</th>
                            <th class="text-center" style="width: 110px">Estado</th>
                        </tr>
                        <tr>
                            <td style="text-align: center">{{ saldo_final|floatformat:"2" }}</td>
                            <td style="text-align: center">{{ saldo_cuenta|floatformat:"2" }}</td>

                            {%  if saldo_final|floatformat:"2" == saldo_cuenta|floatformat:"2" %}
                                <td class="text-center"><i data-toggle="tooltip" title="Cuadre Contable" class="fa fa-check" style="font-size: 14px;"></i></td>
                            {% else %}
                                <td class="text-center"><i data-toggle="tooltip" title="Existe un descuadre contable" class="fa fa-warning"  style="font-size: 14px; color: #E75300;"></i></td>
                            {% endif %}
                        </tr>
                    </table>
               </div>
        </div>
    {% endif %}
    {% if not lista %}
        <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}
    <div class="div div-agregar">
            <a class="boton boton-gray " href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}