{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Saldo Bancos{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 portrait{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Reporte Saldo Bancos{% endblock %}
{% block tabla_contenido %}


        {% if lista_saldo %}
           <div>
               <p>
                 Fecha Inicial:<label> {{ fecha_ini }}</label>
               </p>
               <p>
                 Fecha Final:<label> {{ fecha_final }}</label>
               </p>
           </div>
        {% endif %}


        <table class="table table-hover  tabla table-striped" border="1" style=" width: 100%; margin: auto">
            <thead>
                <tr>
                    <th style="text-align: center; padding: 5px">Cuenta Banco</th>
                    <th style="text-align: center; padding: 5px; width: 70px;">Saldo Inicial</th>
                    <th style="text-align: center;  padding: 5px; width: 70px;">Débito</th>
                    <th style="text-align: center;  padding: 5px; width: 70px;">Crédito</th>
                    <th style="text-align: center; padding: 5px; width: 70px;">Saldo Final</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in lista_saldo %}
                    <tr>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.banco.descripcion }} - cta. #{{ obj.banco.numero_cuenta }}</td>
                        <td  style="text-align: right;padding: 2px 5px; font-size: 9px">{{ obj.saldo_ini|floatformat:"2" }}</td>
                        <td  style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.debe|floatformat:"2" }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.haber|floatformat:"2" }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.saldo|floatformat:"2" }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">Total</td>
                    <td style="text-align: right"></td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ total_debe }}</td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ total_haber }}</td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ total_saldo }}</td>
                </tr>
            </tbody>
        </table>
{% endblock %}