{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Conciliación Bancaria{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 Landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}

{% endblock %}

{% block reporte_titulo %}Reporte Conciliación Bancaria{% endblock %}
{% block tabla_contenido %}


       {% if lista %}
       <div style="margin-top: 20px !important;">
            <p class="tabla-pre-detalles" style="text-align: left; font-weight: bold;">Cuenta Bancaria:
                <label class="detalle-codigo" style="font-weight: normal;" >{{ nombrecta }}</label>
            </p>
            <p class="tabla-pre-detalles" style="text-align: left; font-weight: bold;">Fecha de Corte:
                <label class="detalle-codigo" style="font-weight: normal;" >{{ fechacortedescriptiva }}</label>
            </p>
            <p class="tabla-pre-detalles" style="text-align: left; font-weight: bold;">Saldo Inicial:
                <label class="detalle-codigo" style="font-weight: normal;" >{{ saldo_ini }}</label>
            </p>
        </div>
       {% endif %}



   {% for obj_list in lista %}
        {% if obj_list.lista %}

            <p class="tabla-pre-detalles"><label class="detalle-codigo">TIPO COMPROBANTE: {{ obj_list.tipo_comp.descripcion }}</label></p>
            <table class="table table-hover  tabla table-striped" border="0" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;"># Comprobante</th>
                        <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 90px;">Fecha</th>
                        <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 200px;">Referencia</th>
                        <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 300px;">Recibido/Pagado</th>
                        <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 300px;">Concepto</th>
                        <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 40px; "></th>
                        <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 120px;">Valor</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in obj_list.lista %}
                        <tr>
                            <td  style="text-align: left;padding: 2px 5px; font-size: 11px;">{{ obj.num_comp }}</td>
                            <td  style="text-align: center;padding: 2px 5px; font-size: 11px">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                            {% if obj.forma_pago_id == 1 and obj.tipo_comprobante_id == 4 %}
                                <td  style="text-align: left;padding: 2px 5px; font-size: 11px;">Cheque # {{ obj.num_cheque|default_if_none:"" }}</td>
                            {% else %}
                                <td style="text-align: left;padding: 2px 5px; font-size: 11px;">{{ obj.num_referencia|default_if_none:"" }}</td>
                            {% endif %}
                            <td style="text-align: left;padding: 2px 5px; font-size: 11px;">{{ obj.persona|slice:"0:30"|default_if_none:"" }}</td>
                            <td style="text-align: left;padding: 2px 5px; font-size: 11px;">{{ obj.concepto|slice:"0:40"|default_if_none:""}}</td>
                            <td style="text-align: right; padding: 2px 5px; font-size: 11px;"></td>
                            {% if obj.naturaleza == 1 %}
                                <td style="text-align: right; padding: 2px 5px; font-size: 11px;"> + {{ obj.valor }}</td>
                            {% else %}
                                <td style="text-align: right; padding: 2px 5px; font-size: 11px;"> - {{ obj.valor }}</td>
                            {% endif %}
                        </tr>
                {% endfor%}
                <tr style="border-top: 1px solid gray;">
                    <td colspan="3" style="text-align: right; padding: 2px 5px;  font-size: 10px; font-weight: bold;">Totales</td>
                    <td style="padding: 2px 5px; text-align: right;"></td>
                    <td style="padding: 2px 5px; text-align: right;"></td>
                    <td style="padding: 2px 5px; text-align: right;"></td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj_list.total }}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    {% endfor %}
    <div class="div-centrar div-tabla">
        <h3 style="text-decoration: underline; text-align: center">Cuadre Contable</h3>

        <table id="table-info-registro" style="margin-top: 15px;background: #FFFFFF;" class="table tabla tabla-comprobante table-striped tabla_reporte" cellpadding="0" cellspacing="0">
            <tr>
                <th class="text-center" style="width: 120px">Total Saldo Libros</th>
                <th class="text-center" style="width: 110px">Total Saldo Cuenta</th>
                <th class="text-center" style="width: 110px">Estado</th>
            </tr>
            <tr>
                <td style="text-align: center;width: 400px;">{{ saldo_final|floatformat:"2" }}</td>
                <td style="text-align: center;width: 400px;">{{ saldo_cuenta|floatformat:"2" }}</td>
                {%  if saldo_final|floatformat:"2" == saldo_cuenta|floatformat:"2" %}
                    <td class="text-center" style="text-align: center;width: 400px;">Correctamente Cuadrado</td>
                {% else %}
                    <td class="text-center" style="text-align: center;width: 400px;">Existe un Descuadre Contable</td>
                {% endif %}
            </tr>
        </table>
   </div>

{% endblock %}


