{% extends "base_reporte_pdf.html" %}
{% load snnipet_generales %}
{% load operaciones_template %}
{% block titulo %}Balance General PDF{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{usuario}}{% endblock %}
{% block reporte_titulo %}
    <table style="margin-top: 10px">
        <tr>
            <td>BALANCE GENERAL</td>
        </tr>
        <tr>
            <td>{% get_mes_num mes %}/{{ anio }}</td>
        </tr>
        {% if acumulado %}
        <tr>
            <td>ACUMULADO</td>
        </tr>
        {% endif %}
    </table>
{% endblock %}
{% block tabla_contenido %}

    <div style="clear: both"></div>
    <table id="tabla_reporte" class="table tabla table-striped tabla-formato" style="margin-top: 15px;">
        <tbody>
            {% for obj in balance %}
                <tr>
                    {% for obj_balance in obj %}
                        <td {% if forloop.counter0 == 0 %}
                                        style="width: 800px"  width=800
                                   {% else %}
                                        style="width: 250px"  width=250
                                   {% endif %}
                                >{{ obj_balance|safe }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="tabla_reporte" class="table tabla table-striped tabla-formato" style="margin-top: 100px;">
        <tbody>
            <tr>
                <td><p style="border-top: 1px solid">&nbsp;</p></td>
                <td></td>
                <td><p style="border-top: 1px solid">&nbsp;</p></td>
            </tr>
            <tr>
                <td style="text-align: center">Gerente General</td>
                <td></td>
                <td style="text-align: center">Contador(a)</td>
            </tr>

        </tbody>
    </table>
{% endblock %}