{% extends "base.html" %}
{% block title %}Detalle de Permisos{% endblock %}
{% load snnipet_generales %}
{% load Base_templates_tags %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
{% endblock %}
{% block script %}
<script>
$(document).ready(function()
{
    $('body').find(':input').each(function()
    {
        var type = this.type || this.tagName.toLowerCase();
            $(this).prop('disabled', true);
    });
});
</script>
{% endblock %}
{% block item-administracion %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
    {{ STATIC_URL }}cm_html/images/ruta/administracion_icono.png"
{% endblock %}
{% block ruta-principal %}Administración{% endblock %}
{% block ruta-actual %}Detalle de Permisos{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}

    <div class="container container-comprobante-pagos">
        <div class="row row-comprobante-medio-pagos">
            <div class="comprobante-cabecera">
                <h3  class="sub-title-comprobante">DETALLES DEL GRUPO DE PERMISOS</h3>
                 <table class="tabla-comprobante-cabecera">
                    <tr>
                        <td class="td-label1">
                            <label class="control-label" for="{{ cabecera.nombre.label }}">
                            {% if cabecera.nombre.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ cabecera.nombre.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1" colspan="3">
                            {% if cabecera.nombre.errors %}{{ cabecera.nombre|add_class:"campo_requerido" }}{% else %}{{ cabecera.nombre}}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label1" style="vertical-align: top; padding-top: 10px;">
                            <label class="control-label" for="{{ cabecera.descripcion.label }}">
                            {% if cabecera.descripcion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ cabecera.descripcion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1 td-relative" colspan="3">
                            {% if cabecera.descripcion.errors %}{{ cabecera.descripcion|add_class:"campo_requerido" }}{% else %}{{ cabecera.descripcion }}{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>


         {% for mod in gmodulos.get_modulos_empresa %}
            <div class="row row-comprobante-medio-pagos" style="margin-bottom: 30px; margin-top: 30px;">
                <h3 class="sub-title-comprobante">{{ mod.nombre }}</h3>
                {% for obj in mod.get_app %}
                    <div class="row row-modulo">
                         <div class="modulo-label">
                            <label class="modulo">{{ obj.nombre }}</label>
                         </div>
                        {% for perm in obj.get_permisos %}
                            <div class="cell-aplicacion">
                                <div class="aplicacion-label">
                                    <label>{{ perm.nombre }}</label>
                                </div>
                                <div class="aplicacion-check">
                                    <input type="checkbox" disabled="disabled" name="{{ perm.id }}-{{ obj.id }}" {% activar_permiso lista_permisos perm.id%} />
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="text-center" style="margin-bottom: 30px;">
            <a class="boton boton-gray" href="{% url "lista_grupos" %}">Regresar</a>
        </div>


    </div>
{% endblock %}