{% extends "base.html" %}
{% load formulario_base %}
{% block title %}Grupos / Roles{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script>
        $(document).ready(function()
        {
            $(".selectpicker").selectpicker();
            $("#ver").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    window.location.href = $("#lista input[type='radio']:checked").attr("data-ver");
                }else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para Ver</p>');
                    $("#alert-ok").modal();
                }
            });
            $("#editar").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    window.location.href = $("#lista input[type='radio']:checked").attr("data-editar");
                }
                else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para Editar</p>');
                    $("#alert-ok").modal();
                }
            });
            $("#eliminar").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();
                    var url = $("#lista input[type='radio']:checked").attr("data-eliminar");
                    $("#tit-alert").html("Eliminar Grupo de Permisos");
                    $("#body-alert").html('<p>Desea eliminar el Grupo de Permisos "<strong>'+nombre+'</strong>"?</p>');
                    $("#alert-yn").attr("data-tipo", 0);
                    $("#alert-yn").attr("data-href", url);
                    $("#alert-yn").modal();
                }
                else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para Eliminar</p>');
                    $("#alert-ok").modal();
                }
            });
            $("#estado").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();
                    var prox_estado = tr.find(".estado").attr("data-pro_estado");
                    var url = $("#lista input[type='radio']:checked").attr("data-estado");
                    $("#tit-alert").html("Cambiar Estado");
                    $("#body-alert").html('<p>Desea '+prox_estado+' el Grupo de Permisos "<strong>'+nombre+'</strong>"?</p>');
                    $("#alert-yn").attr("data-href", url);
                    $("#alert-yn").modal();
                }
                else
                {
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para Cambiar de estado</p>');
                    $("#alert-ok").modal();
                }
            });

            $("#ok-alert").on("click",function(){
                var url = $("#alert-yn").attr("data-href");
                window.location.href = url;
            });
        });
    </script>

    <script>
        jQuery(document).ready(function($) {
            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });

            $(".buscador-cerrar").click(function(){

                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").removeClass("opcion-buscar-hide");

            });

        });



    </script>

{% endblock %}
{% block item-administracion %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/administracion_icono.png"
 {% endblock %}
 {% block ruta-principal %}Administración{% endblock %}
 {% block ruta-actual %}Grupos / Roles{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}


{% block content %}
    {% if messages %}
        {% for message in messages %}

        <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <div class="media">
                <figure class="pull-left alert--icon">
                    {% if message.tags %}
                        {% if message.tags == "error" %}
                        <i class="pe-7s-close-circle"></i>
                        {% else %}
                        <i class="pe-7s-info"></i>

                        {% endif %}
                    {% endif %}

                </figure>
                <div class="media-body">

                    <p class="alert--text">{{ message }}.</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

     <form action="" class="form-group" id="formulario" method="GET">
        <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>

            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td>
                                    <label>{{ buscador.nombre.label }}</label>
                                </td>

                                <td>
                                    {{ buscador.nombre }}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>{{ buscador.descripcion.label }}</label>
                                </td>

                                <td colspan="3">
                                    {{ buscador.descripcion }}
                                </td>
                            </tr>
                        </table>
                        {{ buscador.page }}
                    </div>
                </div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" onclick="limpiar_form();" value="Limpiar" title="Limpiar">
            </div>
        </div>
    </form>


     <div class="div div-agregar">
            <a class="boton boton-ok" href="{% url "agregar_grupo" %}">Agregar
        </a>
     </div>

     <div class="botones-administracion">
     {% if objetos %}
        <a id="ver" class="boton boton-administrador" href="#">Ver</a>
        <a id="editar" class="boton boton-administrador" href="#">Editar</a>
        <a id="eliminar" class="boton boton-administrador" href="#">Eliminar</a>
     {% endif %}
        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
     </div>
{% if objetos %}
     <div class="table-responsive">
         <table id="lista" class="table tabla table-striped tabla-formato">
                  <thead>
                        <tr>
                            <th></th>
                            <th style="width: 230px;">Nombre</th>
                            <th>Descripción</th>
                            <th style="width: 130px;">Fecha de Creación</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for obj in objetos %}
                        <tr>
                            <td  style="width: 51px; text-align: center;"><input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio" data-ver="{% url "detalle_grupo" obj.id %}"
                                    data-editar="{% url "editar_grupo" obj.id %}"
                                    data-eliminar="{% url "eliminar_grupo" obj.id%}"
                                    ></td>
                            <td title="{{obj.nombre}}"><label class="nombre">{{obj.nombre|slice:"0:27"}}{% if obj.nombre|length > 27 %}...{% endif %}</label></td>
                            <td title="{{obj.descripcion}}">{{obj.descripcion|slice:"0:47"}}{% if obj.descripcion|length > 47 %}...{% endif %}</td>
                             <td style="text-align: center;">{{ obj.fecha_creacion|date:"Y-m-d"}}</td>
                        {% endfor%}
                        </tr>
                    </tbody>
                </table>
            {% if total_paginas > 1 %}
                <div class="paginacion">
                    <ul  class="pager">
                    {% if objetos.has_previous %}
                      <span class="page">
                      <a href="?page={{ previous }}">&lt;< </a>
                      </span>
                    {% else %}
                        <b><<</b>
                    {% endif %}

                    {% if objetos.has_previous %}
                      <span class="page">
                      <a href="?page={{ objetos.previous_page_number }}" > < </a>
                      </span>

                    {% else %}
                        <b><</b>
                    {% endif %}

                    {% for numero in arreglo_paginado %}
                        {% ifequal numero objetos.number %}
                         <span class="current"> <b>{{ numero }}</b></span>

                        {% else %}
                            <a  href="?page={{ numero }}"> {{ numero }} </a>
                        {% endifequal %}
                    {% endfor %}

                    {% if objetos.has_next %}
                      <span class="page">
                      <a href="?page={{ objetos.next_page_number }}"> >  </a>
                      </span>

                    {% else %}
                         <b>></b>
                    {% endif %}

                    {% if objetos.has_next %}
                      <span class="page">
                      <a href="?page={{ total_paginas }}" >&gt;> </a>
                      </span>
                    {% else %}
                        <b>>></b>
                    {% endif %}

                    </ul>
            </div>
            {% else %}

            {% endif %}




     </div>
{% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
{% endif %}
    <!-- Div para los alert-->

    <!-- Alerta-->

    <div id="dialog-form" style="display: none" title="Plan de Cuenta">
            <p class="validateTips">Todos los campos son requeridos</p>
            <form>
                {% formulario_popup formulario %}
            </form>
        </div>

<div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}