{% load widget_tweaks %}
{{ forms.management_form }}
<table class="tabla-comprobante-detalle-externa" style="width: 1037px; margin-left: 0px; position: relative; left: -18px;">
   <tr>
       <td style="border: none;">
            <table id="tabla_formset" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle" style="max-width: 100%; margin: auto;">
                <thead>
                    <tr>
                        <th style="background: #F6F6F6; width: 35px;"></th>
                        <th style="width: 300px;">Cuenta</th>
                        <th>Concepto</th>
                        <th style="width: 112px;">Debe</th>
                        <th style="width: 112px;">Haber</th>
                        <th style="width: 140px;">Centro de Costo</th>
                    </tr>
                </thead>
                <tbody>

                {% for formularios in forms %}
                    <tr>
                          <td style="background: #F6F6F6 !important;"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                <img src="/static/cm_html/images/eliminar_tr_icono.png">
                            </a>
                          </td>
                        {% for form in formularios %}
                                <td>{% if form.errors %}{{ form|add_class:"campo_requerido" }}{% else %}{{ form }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
       </td>

   </tr>

    <tr style="margin: 0px; padding: 0px;">
       <td style="border: none; margin: 0px; padding: 0px;" colspan="3">
           <table id="tb-boton-add" style="margin-left: 80px;">
             <tr>
                 <td  style="border: 0px; width: 196px;">
                     <a class="tr-agregar" id="add" style="color: #E75300;">
                         <img src="/static/cm_html/images/agregar_tr_icono.png">
                            Agregar otra fila
                     </a>
                 </td>
                 <td  style="width: 395px; text-align: right; padding-right: 20px; color: #696969;">
                    Total
                </td>
                <td style="width: 110px; text-align: right; padding-right: 10px; background: #E6E6E6;" id="total_debe">{{ total_debe }}</td>
                <td style="width: 112px; text-align: right; padding-right: 10px; background: #E6E6E6;" id="total_haber">{{ total_haber }}</td>
                <td></td>
            </tr>
           </table>
       </td>

    </tr>

</table>


