{% extends "base.html" %}
{% block title %}Reporte Contrato Detalle{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{
        margin-bottom: 0px;
    }

    #tabla_reporte th {
        background: #A9A9A9 !important;
        color: #ffffff;
        text-align: center;
    }
    .cabecera-left{
        float: none;
    }


    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>

    <script>
    /*
        jQuery(document).ready(function($) {
            var formulario = $('#formulario');

            $('#limpiar').click(function(){
               limpiar_form(formulario);
            });


            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center td-item");
                    }
                })
            });

             $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $("#id_fecha_ini").datepicker();
            $('#id_fecha_ini').mask('9999-99-99');
             $("#id_fecha_final").datepicker();
            $('#id_fecha_final').mask('9999-99-99');




        });
    */
    </script>



{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}REPORTES{% endblock %}
 {% block ruta-actual %}Contratos / Contrato Detalle{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if contrato %}
        <div class="div div-descargas">
            <a class="img_report img_excel excel" href="{% url "reporte_contrato_detalle_excel" id %}">Excel</a>
            <a class="img_report img_pdf excel" href="{% url "reporte_contrato_detalle_pdf" id %}">PDF</a>

        </div>

    {% else %}

    {% endif %}
    {% if contrato %}
        <div class="cabecera-left"  style="width: 100%; margin-bottom: 20px;">
        <table class="tabla-contrato">
            <tr>
                <td style="width:180px;">
                    <label class="label">N° de Contrato:</label>
                </td>
                <td class="td-dato" style="width: 400px;">
                    {{ contrato.num_cont }}
                </td>
                <td style="width:100px;">
                    <label class="label">Valor:</label>
                </td>
                <td  class="td-numero" style="padding-right: 140px;">
                    <label>{% suma_2_snippet contrato.base0 contrato.baseiva %}</label>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label">  Fecha de Registro:</label>
                </td>
                <td class="td-dato">
                    <label>  {{ contrato.fecha_reg|date:"Y-m-d" }}
                    </label>
                </td>
                <td>
                    <label class="label">Iva:</label>
                </td>
                <td class="td-numero"  style="padding-right: 140px;">
                    <label>{{ contrato.monto_iva|floatformat:2  }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label">Código del Cliente: </label>
                </td>
                <td class="td-dato">
                    <label>
                        {{ contrato.cliente.ruc }}
                    </label>
                </td>
                <td>
                    <label class="label">Total:</label>
                </td>
                <td class="td-numero" style="padding-right: 140px;">
                    <label>{% suma_n contrato.base0 contrato.baseiva contrato.monto_iva|floatformat %}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label">Razón Social del Cliente: </label>
                </td>
                <td class="td-dato">
                    <label>
                        {{ contrato.cliente.razon_social }}
                    </label>
                </td>
                 <td>
                    <label class="label">Costo:</label>
                </td>
                <td class="td-numero" style="padding-right: 140px;">
                    <label>{{ contrato.getTotalDetallesCabecera|floatformat:2 }}</label>
                </td>
            </tr>



        </table>
    </div>
        <div class="table-responsive">
        {% if detalles %}
                {% for detalle in detalles %}
                    {% detalle_contrato detalle.id %}
                {% endfor %}
        {% else %}
            <p class="msn-vacio">El Contrato actual no posee detalles.</p>
        {% endif %}

    {% else %}
        <p class="msn-vacio">El Contrato actual no se encuentra disponible.</p>
        </div>
    {% endif %}


{% endblock %}