{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Clipmaestro - Conversión de item{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/angucomplete-alt.css" media="screen">

    <style type="text/css">
       .td-cantidad input{
           width: 75px;
       }
        #loading-conversion{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 300000;
            /* display: none; */
            background: rgba(0,0,0,0.8);
        }

        #loading-img{
            width: 50px;
            position: absolute;
            top: 48%;
            left: 48%;
        }
        .error-tr-table{
            border: 1px solid #FF0000;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/angucomplete-alt.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular-input-masks/angular-input-masks-standalone.min.js"></script>
    <script src="{{ STATIC_URL }}js/conversion_items.js?2.0"></script>
    <script>
        var buscar_item_conversion = "{%  url 'buscar_item_conversion' %}";
        var get_datos_conversion = "{% url 'get_datos_conversion' %}";
        var get_factor_conversion = "{% url 'get_factor_conversion' %}";
        var url_validar_cabecera = "{% url 'validar_cabecera' %}";
        var url_actualizar_stock_item = "{% url 'actualizar_stock_item' %}";
        var url_validar_detalle = "{% url 'validar_detalle' %}";
        var url_grabar_conversion = "{% url 'grabar_conversion' %}";
        var url_lista_inventario ="{% url 'lista_inventario' %}";
    </script>
    <script type="text/javascript">
        $(function(){
            $('#id_fecha').mask("9999-99-99").datepicker({
                    todayBtn: true,
                    autoclose: true
                }).on('changeDate', function (ev) {
                    console.log(ev.date.toISOString().substring(0, 10));
                    $('#id_fecha').val(ev.date.toISOString().substring(0, 10));
                    $('#id_fecha').datepicker('hide');
                    angular.element(document.getElementById('id_div_conversion')).scope().validateCabecera();
                });
        });
    </script>

 {% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"{% endblock %}

{% block ruta-principal %}Inventarios{% endblock %}
{% block ruta-actual %}Item{% endblock %}
{% block container-contenido-700 %}container-contenido-1200{% endblock %}

{% block content %}
    <div id="loading-conversion"><img id="loading-img" src="{{ STATIC_URL }}img/loading-new.gif"></div>
    {% verbatim %}
    <div ng-app="appConversion" ng-controller="controllerConversion" ng-init="init()" id="id_div_conversion">
        <div ng-if="mensaje.visible" class="alert alert-{{ mensaje.tipo }}  alert-dismissable">
            <button type="button" class="close" ng-click="mensaje.visible = false;">×</button>
            <div class="media">
                <figure class="pull-left alert--icon">
                    <i ng-if="mensaje.tipo == 'danger'" class="pe-7s-close-circle"></i>
                    <i ng-if="mensaje.tipo != 'danger'"class="pe-7s-info"></i>
                </figure>
                <div class="media-body">
                    <p ng-if="mensaje.lista.length > 0" class="alert--text">
                    <ul>
                        <li class="alert--text" ng-repeat="e in mensaje.lista track by $index">{{ e.mensaje }}</li>
                    </ul>
                    </p>
                    <p ng-if="mensaje.lista.length == 0" class="alert--text">
                        {{ mensaje.texto }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row row-persona-cabecera">
            <h3 class="sub-title-comprobante">CONVERSIÓN DE ÍTEMS</h3>
            <table class="tabla-persona-cabecera" style="margin-top: 50px;">
                <tr>
                    <td class="td-label1">
                        <label class="control-label" for="Bodega"><span class="requerido">*</span>
                            <b>Bodega  </b><span class="dospuntos">:</span></label>
                    </td>
                    <td class="td-control1" style="width: 200px;" onclick='$(".bodega").selectpicker("refresh");$("#id_bodega").parent().css("border","none");'>
                        <select  id="id_bodega" class="selectpicker show-tick bodega" data-name="combo_bodega"
                                data-style="slc-b-s" data-width="100%" name="bodega"
                                ng-change="validateCabecera();" ng-model="cabecera.bodega" style="width:150px;">
                                <option ng-repeat="b in bodegas"  value="{{ b.id }}" >{{ b.label }}</option>
                        </select>
                    </td>
                    <td class="td-label2" style="padding-left: 30px;">
                        <label class="control-label" for="Fecha">
                            <span class="requerido">*</span><b>Fecha  </b>
                            <span class="dospuntos">:</span>
                        </label>
                    </td>
                    <td class="td-control2" onclick='$("#id_fecha").parent().css("border","none");'>
                        <input ng-model="cabecera.fecha" ng-change="validateCabecera();"
                               class="calendario-gris input-calendario" data-date-format="yyyy-mm-dd"
                               data-width="100%" id="id_fecha" name="fecha" placeholder="aaaa-mm-dd" style="width: 150px"
                               type="text" />
                    </td>
                    <td class="td-label1">
                        <label class="control-label" for="# Doc. Anterior">
                            <b># Doc. Anterior  </b>
                            <span class="dospuntos">:</span>
                        </label>
                    </td>
                    <td class="td-control1">
                        <input disabled="disabled" class="numerico " id="id_doc_anterior" style="width:150px;"
                               ng-model="cabecera.secuencia" name="doc_anterior" readonly="True" type="text">
                    </td>

                </tr>
            </table>
            <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th class="text-center" colspan="3" style="width: 400px;padding-bottom: 25px;"><h3 style="color: #E75300 !important;">EGRESO</h3></th>
                        <th style="width: 100px;">&nbsp;</th>
                        <th class="text-center" colspan="3" style="width: 400px;padding-bottom: 25px;"><h3 style="color: #E75300 !important;">INGRESO</h3></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="width: 400px;">Item</th>
                        <th class="text-center">Cantidad</th>
                        <th style="width: 100px;" class="text-center">Unidad</th>
                        <th style="width: 100px;">&nbsp;</th>
                        <th style="width: 400px;">Item</th>
                        <th class="text-center">Cantidad</th>
                        <th style="width: 100px;" class="text-center">Unidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="item_detalle_{{ $index }}" ng-repeat="item in items track by $index">
                        <td>
                            <angucomplete-alt id="id_item1_{{ $index }}"
                                                  ng-model="item.id"
                                                  valor_index="{{ $index }}"
                                                  placeholder="Código o nombre" pause="100"
                                                  selected-object="item_seleccionado1"
                                                  remote-url="/buscar_item_conversion/?q="
                                                  remote-url-data-field="items"
                                                  title-field="label"
                                                  input-class="form-control item1_{{ $index }}"
                                                  description-field="codigo"
                                                  input-class="form-control "
                                                  match-class="highlight"
                                                  text-searching="Buscando..."
                                                  text-no-results="No se encontró item"
                                                  disable-input="!pass_validacion_cabecera"/>
                        </td>

                        <td class="td-cantidad" style="padding-left: 5px;">
                            <input id="id_ini_cantidad_{{ $index }}" ng-blur="modificar_cantidad_entrada($index);"
                                   name="ini_cantidad_{{ $index }}" ng-model="item.inicio_cantidad"
                                   type="text" ui-number-mask="2" ng-disabled="!pass_validacion_cabecera" class="cantidad_inicial_{{ $index }}"/>
                        </td>
                        <td style="padding: 5px;">
                            <input type="text" id="id_ini_unidad_{{ $index }}" name="ini_unidad_{{ $index }}"
                                   ng-disabled="true" ng-model="item.inicio_unidad" />
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <angucomplete-alt id="id_item2_{{ $index }}"
                                              ng-model="item.id"
                                              valor_index="{{ $index }}"
                                              placeholder="Código o nombre" pause="100"
                                              selected-object="item_seleccionado2"
                                              remote-url="/buscar_item_conversion/?q="
                                              remote-url-data-field="items"
                                              title-field="label"
                                              input-class="form-control item2_{{ $index }}"
                                              description-field="codigo"
                                              input-class="form-control "
                                              match-class="highlight"
                                              text-searching="Buscando..."
                                              text-no-results="No se encontró item"
                                              disable-input="item.disabled"/>
                        </td>
                        <td class="td-cantidad" style="padding-left: 5px;">
                            <input id="id_fin_cantidad_{{ $index }}" type="text" name="fin_cantidad_{{ $index }}"
                                   ng-disabled="true" ng-model="item.fin_cantidad" />
                        </td>
                        <td style="padding: 5px;">
                            <input type="text" id="id_fin_unidad_{{ $index }}" name="fin_unidad_{{ $index }}"
                                   ng-disabled="true" ng-model="item.fin_unidad"  />
                        </td>
                        <td>
                            <a ng-if="!$first" class="boton-eliminar-tr eliminar" title="Eliminar fila" ng-click="eliminar_item($index);">
                                <img src="/static/cm_html/images/eliminar_tr_icono.png">
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>

             <table id="tb-boton-add">
                 <tbody><tr>
                     <td style="border: 0px;">
                         <a class="tr-agregar" id="add" ng-click="agregar_fila();">
                             <img src="/static/cm_html/images/agregar_tr_icono.png">
                                Agregar otra fila
                        </a>

                     </td>
                 </tr>
             </tbody></table>

            <div class="text-center" style="margin-top: 20px;">
                <input class="boton boton-ok guardar" id="grabar" type="button" ng-click="grabar();" title="Grabar" value="Grabar">
                {% endverbatim %}
                <a class="boton boton-gray cancelar" href="{% url 'lista_inventario' %}" title="Cancelar">Cancelar</a>
                {% verbatim %}
            </div>
        </div>
    </div>
    {% endverbatim %}
    </form>
    </div>

    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="boton-close-alert" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="/static/cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="0" id="id_item">
                    <button type="button" class="btn btn-primary yes boton boton-ok"  data-dismiss="modal" id="boton-ok-alert">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

