{% extends "base.html" %}
{% load formulario_base %}
{% load widget_tweaks %}
{% block title %}
    {% if tipo == 1%}
        Registrar Item
    {% elif tipo == 2 %}
        Editar Item
    {% else %}
        Detalles del Item
    {% endif %}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
       #id_descripcion{

        height: 80px;
       }

        .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }
        .campo_requerido:hover{
            border: 1px solid rgb(221, 72, 20);
            outline: none 0px;
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
        }

    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(e){
        $('.selectpicker').selectpicker();
        // Inhabilita el boton de submit evitando que se haga más de una petición
        $("input[type='submit']").click(function(){
            $(this).attr("disabled", false);
            $("form").submit(function(){
              $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
              return true;
            });
        });
        $(".numerico").each(function(){
            $(this).keydown(function(event){
                Numerico(event);
            }).change(function(event){
                    redondear(this);
            });
        });
        $(".numerico2").keydown(function(event) {
            if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                (event.keyCode == 65 && event.ctrlKey === true) ||
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                     return;
            }
            else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });
        $("#id_iva").change(function(){
            if ($(this).val()!="01"){
                $("#hide_ice").hide();

            }else{
                $("#hide_ice").show();
            }
        });
        $("#id_ice_valor").focusout(function(){
            if($(this).val() > 100){
                alert("Ingrese un porcentaje de ICE válido");
                $("#id_ice_valor").val(0.0);
            }
        });

        if($('.inactivo').length){
            $('.inactivo button.slc-primary').addClass('disabled');
        }

    });
    </script>

 {% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"{% endblock %}

{% block ruta-principal %}Inventarios{% endblock %}
{% block ruta-actual %}Item{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="space"></div>
    <form method="POST" action="{% if tipo == 1 %}
                                    {% url "registrar_items" %}
                                {% elif tipo == 2 %}
                                    {% url "editar_items" id%}
                                {% elif tipo == 3 %}
                                    {% url "detalle_item" id%}
                                {% endif %}
                                " enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}

        <div class="row row-persona-cabecera" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                {% if tipo == 1 %}
                    <h3  class="sub-title-comprobante">
                          AGREGAR ITEM
                    </h3>
                {% elif tipo == 2 %}
                    <h3  class="sub-title-comprobante">
                         EDITAR ITEM
                    </h3>
                {% else %}
                     <h3  class="sub-title-comprobante">
                      VER ITEM
                    </h3>
                {% endif %}
                    <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                    <tr>
                        <td style="width: 150px;">
                        <label class="control-label" for="{{ formulario.codigo.label }}">
                        {% if formulario.codigo.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.codigo.label }}  </b>
                        <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.codigo.errors %}{{ formulario.codigo|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.codigo|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                            <label class="control-label" for="{{ formulario.nombre.label }}">
                            {% if formulario.nombre.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.nombre.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                           {% if formulario.nombre.errors %}{{ formulario.nombre|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.nombre|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                            <label class="control-label" for="{{ formulario.categoria.label }}">
                            {% if formulario.categoria.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.categoria.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                           {% if formulario.categoria.errors %}{{ formulario.categoria|add_class:" combo campo_requerido" }}{% else %}{{ formulario.categoria|add_class:" combo"}}{% endif %}
                        </td>
                    </tr>
                     <tr>
                        <td style="width: 150px; vertical-align: top; padding-top: 5px;" >
                             <label class="control-label" for="{{ formulario.descripcion.label }}">
                            {% if formulario.descripcion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.descripcion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                           {% if formulario.descripcion.errors %}{{ formulario.descripcion|add_class:" textarea campo_requerido" }}{% else %}{{ formulario.descripcion|add_class:" textarea"}}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                            <label class="control-label" for="{{ formulario.min_inventario.label }}">
                            {% if formulario.min_inventario.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.min_inventario.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                           {% if formulario.min_inventario.errors %}{{ formulario.min_inventario|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.min_inventario|add_class:" txt-100pc"}}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 150px;">
                           <label class="control-label" for="{{ formulario.unidad.label }}">
                            {% if formulario.unidad.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.unidad.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                           {% if formulario.unidad.errors %}{{ formulario.unidad|add_class:" combo campo_requerido" }}{% else %}{{ formulario.unidad|add_class:" combo"}}{% endif %}
                        </td>
                    </tr>
                     {% if tipo == 2 %}
                        {% if obj.getEditar %}
                        <tr class="inactivo">
                            <td style="width: 150px;">
                               <label class="control-label" for="{{ formulario.iva.label }}">
                                {% if formulario.iva.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.iva.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                               {% if formulario.iva.errors %}{{ formulario.iva|add_class:" combo campo_requerido" }}{% else %}{{ formulario.iva|add_class:" combo"}}{% endif %}
                            </td>
                        </tr>
                        {% else %}
                            <tr class="editar">
                                <td style="width: 150px;">
                                   <label class="control-label" for="{{ formulario.iva.label }}">
                                    {% if formulario.iva.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.iva.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td>
                                   {% if formulario.iva.errors %}{{ formulario.iva|add_class:" combo campo_requerido" }}{% else %}{{ formulario.iva|add_class:" combo"}}{% endif %}
                                </td>
                            </tr>
                        {% endif %}
                     {% else %}
                        <tr class="agregar">
                            <td style="width: 150px;">
                               <label class="control-label" for="{{ formulario.iva.label }}">
                                {% if formulario.iva.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.iva.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td>
                               {% if formulario.iva.errors %}{{ formulario.iva|add_class:" combo campo_requerido" }}{% else %}{{ formulario.iva|add_class:" combo"}}{% endif %}
                            </td>
                        </tr>
                     {% endif %}
                    <tr>
                        <td style="width: 150px;">
                            <label class="control-label" for="{{ formulario.precio1.label }}">
                            {% if formulario.precio1.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.precio1.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                           {% if formulario.precio1.errors %}{{ formulario.precio1|add_class:" txt-100pc campo_requerido" }}{% else %}{{ formulario.precio1|add_class:" txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                            <label class="control-label" for="{{ formulario.precio2.label }}">
                        {% if formulario.precio2.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.precio2.label }}  </b>
                        <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                           {% if formulario.precio2.errors %}{{ formulario.precio2|add_class:" txt-100pc campo_requerido" }}{% else %}{{ formulario.precio2|add_class:" txt-100pc" }}{% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                            <label class="control-label" for="{{ formulario.precio3.label }}">
                        {% if formulario.precio3.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ formulario.precio3.label }}  </b>
                        <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                           {% if formulario.precio3.errors %}{{ formulario.precio3|add_class:" txt-100pc campo_requerido" }}{% else %}{{ formulario.precio3|add_class:" txt-100pc" }}{% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;">
                            <label class="control-label" for="{{ formulario.costo.label }}">
                            {% if formulario.costo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.costo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                           {% if formulario.costo.errors %}{{ formulario.costo|add_class:" txt-100pc campo_requerido" }}{% else %}{{ formulario.costo|add_class:" txt-100pc" }}{% endif %}

                        </td>
                    </tr>
                    <tr id="hide_ice">
                        <td style="width: 150px;">
                            <label class="control-label" for="{{ formulario.ice_valor.label }}">
                            {% if formulario.ice_valor.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.ice_valor.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                          {% if formulario.ice_valor.errors %}{{ formulario.ice_valor|add_class:" txt-100pc campo_requerido" }}{% else %}{{ formulario.ice_valor|add_class:" txt-100pc"}}{% endif %}

                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="text-center" style="margin-top: 20px;">
            {% if tipo != 3 %}
                <input class="boton boton-ok guardar" id="grabar" type="submit" value="Grabar">
            {% else %}

            {% endif %}

            {% if tipo == 3 %}
                 <a class="boton boton-gray" href="{% url "lista_items" %}" title="Cancelar">Regresar</a>

            {% else %}
                  <a class="boton boton-gray" href="{% url "lista_items" %}" title="Cancelar">Cancelar</a>
            {% endif %}
        </div>

    </form>
{% endblock %}

