<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Clipmaestro - ERROR 500</title>

	<link rel="icon" href="{{ STATIC_URL }}cm_html/images/favicon.ico" type="image/x-icon"/>
	<link href="{{ STATIC_URL }}cm_html/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.css"/>
	<link href="{{ STATIC_URL }}cm_html/css/helper.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}cm_html/css/style.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}cm_html/css/cm_administracion.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}cm_html/css/estilos.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


</head>
<body>

	<header class="top-bar err-page" style="text-align: center;">
		<div class="main-logo" style="float: inherit; margin-left:inherit;">
            <a href="{% url "administracion" %}">
                <img src="{{ STATIC_URL }}cm_html/images/logo.png">
            </a>
		</div>
	</header> <!-- /top-bar -->

   <div class="container container-home">
      <div class="row row-header">

      </div>
    </div>


	<div class="wrapper err-page" style="height: inherit; min-height: 600px;">

		<div class="row mtop-100">
			<div class="center" style="width: 600px; margin: auto; padding: 40px; background: white;border: 2px solid #E5E5E5;">
				<i class="pe-7s-close-circle color--red"></i>
				<h1 class="color--dark mtop-10">ERROR 500</h1>
                <p style="font-size: 12px !important; color: #9A9A9A; padding-top: 20px;">Lo sentimos, el sistema no está disponible por el momento, favor intentar en breve.</p>

			</div>
		</div>

	</div> <!-- /wrapper -->


	
	

	<!-- Scripts -->
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/bootstrap.min.js"></script>
    <!--
	<script type="text/javascript" src="amcharts/amcharts.js"></script>
	<script type="text/javascript" src="amcharts/serial.js"></script>
	<script type="text/javascript" src="amcharts/pie.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/chart.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/map.js"></script>
	<script src="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-us-aea-en.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/main.js"></script>
    -->

</body>
</html>