{% extends "base.html" %}


<!-- Título -->
{% block title %}ClipMaestro - Administración{% endblock %}
<!-- Fin Título -->


<!-- CSS -->
{% block stylesheet %}
{% endblock %}
<!-- Fin CSS -->


<!-- Scripts -->
{% block script %}
    <script type='text/javascript' src='{{ STATIC_URL }}cm_html/js/grayscale.js'></script>
    <script type='text/javascript' src="{{ STATIC_URL }}cm_html/js/functions.js"></script>
{% endblock %}
<!-- Fin Scripts -->


<!-- Ruta -->
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/home_icono.png"
{% endblock %}
{% block ruta-principal %}Inicio{% endblock %}
{% block ruta-actual %}Página Principal{% endblock %}
<!-- Fin Ruta -->


<!-- Contenido -->
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row row-items">
        <div class="col-items">
            <div class="items">
            <div class="col-modulo-item">
                    <a href="{% url "lista_asientos" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/contabilidad_general.png">
                        </p>
                        <p class="modulo-item-title">
                            Contabilidad General
                        </p>
                    </a>

                </div>
                <div class="col-modulo-item">
                    <a  href="{% url "lista_ventas" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/ventas.png">
                        </p>
                        <p class="modulo-item-title">
                            Ventas
                        </p>
                    </a>

                </div>
                <div class="col-modulo-item">
                    <a  href="{% url "lista_compras" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/compras.png">
                        </p>
                        <p class="modulo-item-title">
                            Compras
                        </p>
                    </a>

                </div>
                <div class="col-modulo-item">
                    <a  href="{% url "proveedores" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/proveedores.png">
                        </p>
                        <p class="modulo-item-title">
                           Proveedores
                        </p>
                    </a>

                </div>


                <div class="col-modulo-item">

                    <a href="{% url "lista_contrato" %}">

                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/costos.png">
                        </p>
                        <p class="modulo-item-title">
                            Contratos
                        </p>

                    </a>

                </div>
                <div class="col-modulo-item">
                    <a  href="{% url "lista_bancos" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/bancos.png">
                        </p>
                        <p class="modulo-item-title">
                            Bancos
                        </p>
                    </a>

                </div>
                <div class="col-modulo-item item-inactivo">
                    <!--
                    <a href="#">
                    -->
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/sri.png">
                        </p>
                        <p class="modulo-item-title">
                            SRI
                        </p>
                    <!--
                    </a>
                    -->

                </div>
                <div class="col-modulo-item">
                    <a  href="{% url "lista_cobro" %}">

                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/cobranzas.png">
                        </p>
                        <p class="modulo-item-title">
                           Cobranzas
                        </p>
                    </a>

                </div>




                <div class="col-modulo-item">
                    <a href="{% url "lista_inventario" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/inventarios.png">
                        </p>
                        <p class="modulo-item-title">
                            Inventarios
                        </p>
                    </a>

                </div>

                <div class="col-modulo-item item-inactivo">
                    <!--
                    <a href="#">
                    -->
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/crm.png">
                        </p>
                        <p class="modulo-item-title">
                            CRM
                        </p>
                    <!--
                    </a>
                    -->

                </div>
                <div class="col-modulo-item item-inactivo">
                    <!--
                    <a href="#">
                    -->
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/requisiciones.png">
                        </p>
                        <p class="modulo-item-title">
                            Requisiciones
                        </p>
                   <!--
                    </a>
                    -->

                </div>
                <!--
                <div class="col-modulo-item item-inactivo">

                    <a href="#">

                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/proyectos.png">
                        </p>
                        <p class="modulo-item-title">
                           Administración de Proyectos
                        </p>

                    </a>


                </div>
                -->



                 <div class="col-modulo-item item-inactivo">
                    <!--
                    <a href="#">
                    -->
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/rol_de_pagos.png">
                        </p>
                        <p class="modulo-item-title">
                            Rol de Pagos
                        </p>
                    <!--
                    </a>
                    -->

                </div>

                 <div class="col-modulo-item item-inactivo">
                    <!--
                    <a href="#">
                    -->
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/activos_fijos.png">
                        </p>
                        <p class="modulo-item-title">
                            Activos Fijos
                        </p>
                   <!--
                    </a>
                    -->

                </div>

                 <div class="col-modulo-item item-inactivo">
                    <!--
                    <a href="#">
                    -->
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/importaciones.png">
                        </p>
                        <p class="modulo-item-title">
                            Importaciones
                        </p>
                   <!--
                    </a>
                    -->

                </div>

                 <div class="col-modulo-item item-inactivo">
                        <!--
                        <a href="#">
                        -->
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/balance_scorcard.png">
                        </p>
                        <p class="modulo-item-title">
                           Balanced ScoreCard
                        </p>
                    <!--
                    </a>
                    -->

                </div>
                <div class="col-modulo-item">
                    <a href="{% url "reporte_inicio" %}">
                        <p class="modulo-item-icon">
                            <img src="{{ STATIC_URL }}cm_html/images/modulos/reportes.png">
                        </p>
                        <p class="modulo-item-title">
                           Reportes
                        </p>
                    </a>
                </div>

             </div>
        </div>
        <div class="col-mensaje">
                <h2>BIENVENIDOS</h2>
            <p>
                Clipmaestro no es un producto, sino un servicio que ha sido diseñado de manera escalable para satisfacer las necesidades de los negocios,
                tanto emergentes como establecidos. Es un sistema ERP que permite administrar y utilizar de forma sencilla y eficiente la información de su
                empresa en tiempo real mediante una conexión segura en internet.
            </p>
            <p>
                Clip maestro es una herramienta fundamental para incrementar la eficiencia y productividad de cualquier compañía, ya que todos los módulos se
                integran entre sí para generar información.
            </p>
            <p style="padding-bottom: 10px;">
                Consta de los siguientes beneficios:
            </p>
            <p   style="padding: 0px;">
               <table id="tabla-beneficios" style="width: 100%; color: #9A9A9A;">
                    <tr>
                        <td style="width: 50%;  vertical-align: top; padding-right: 10px;">
                            <ul style="list-style: initial; margin-left: 16px;">
                                <li>
                                    No necesita instalar el sistema en una computadora (sólo tener acceso a internet).
                                </li>
                                <li>
                                    Disponibilidad las 24 horas del día.
                                </li>
                                <li>
                                    Organización y control de tareas de todos los departamentos de su empresa.
                                </li>
                                <li>
                                    No necesita personal calificado en el área técnica para controlar su aplicación.
                                </li>

                            </ul>
                        </td>
                        <td style="width: 50%; vertical-align: top; padding-left: 10px;">
                            <ul style="list-style: initial; margin-left: 16px;">
                                <li>
                                    Le da información en tiempo real, desde cualquier lugar que se encuentre.
                                </li>
                                <li>
                                    Seguridad de la información.
                                </li>
                                <li>
                                    Aumento de la productividad del equipo de trabajo.
                                </li>
                                <li>
                                    Fácil uso, no necesita ser una persona experta en sistemas para el ingreso y manejo de información.
                                </li>

                            </ul>
                        </td>
                    </tr>
               </table>
            </p>

        </div>
    </div>
{% endblock %}
<!-- Fin Contenido -->


<!-- Scripts Bootstrap -->
{% block script-bootstrap %}

{% endblock %}
<!-- Fin Scripts Bootstrap -->