<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Inicio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">	
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/administracion.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/widgets.css">
      {% block stylesheet %}

      {% endblock %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery-2.0.3.js"></script>
	<script src="{{ STATIC_URL }}js/bsa.js"></script>
	<script src="{{ STATIC_URL }}js/tab.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="../bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->

    {% block script %}

    {% endblock %}
    <script type="text/javascript">
		 var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23019901-1']);
		  _gaq.push(['_setDomainName', "bootswatch.com"]);
			_gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		 (function() {
		   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		 })();
		$('#myTab a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		});
    </script>
  </head>
  <body>
<header id="header-admin">

         <nav class="navbar navbar-default" role="navigation">
          <!-- El logotipo y el icono que despliega el menú se agrupan
               para mostrarlos mejor en los dispositivos móviles -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
              <span class="sr-only">Desplegar navegación</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img id="logo" src="{{ STATIC_URL }}img/logo-blanco.png" height="60px"/>
            </a>
          </div>

          <!-- Agrupar los enlaces de navegación, los formularios y cualquier
               otro elemento que se pueda ocultar al minimizar la barra -->
          <div class="collapse navbar-collapse navbar-ex1-collapse div-menu-principal">
            <ul class="nav navbar-nav nav-principal">
              <li class="active"><a href="{% url "administracion" %}">Inicio</a></li>
              <li><a href="#">Configuración</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Información</a></li>
              <li>
                     {% if user.is_authenticated %}
                        <li>
                        <a href="{% url "salir" %}" style="text-decoration: underline; ">Salir </a>

                        </li>

                        {% else %}
                        <li>
                        <a href="{% url "login" %}">Iniciar Sesión </a>
                        </li>
                    {% endif %}
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-cliente">
              <li class="perfil-cliente">
                <img class="logo-cliente" src="{{ STATIC_URL }}img/logo_cliente.png" height="50"/>
                <label class="nombre-cliente">Nombre de la Compañía</label>
              </li>
            </ul>
          </div>
        </nav>




    </header>
    {% block contenedor_admin %}
    {% endblock %}
      </aside>
        <div style="clear: both"></div>

    <footer id="pie-admin" class="navbar-fixed-bottom">
        <figure>
            <img id="logo-pie" src="{{ STATIC_URL }}img/logo-blanco.png"/>
        </figure>
        <ul class="nav navbar-nav navbar-right">

				<li>Ayuda</li>
                <li>Tutorial</li>
                <li>Soporte: +(593) 4 263 9605</li>
                  <li class="flecha-foot"><img src="{{ STATIC_URL }}img/flecha_blanca.png"/></li>
			  </ul>
    </footer>

	<script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap.min.js"></script>

	</body>
</html>