{% load permisostag %}
{% load snnipet_generales %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ClipMaestro - Administración{% endblock %}</title>
	<!--
	<link rel="apple-touch-icon" href="touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png" />
	-->
    <link rel="icon" href="{{ STATIC_URL }}cm_html/images/favicon.ico" type="image/x-icon"/>
	<link href="{{ STATIC_URL }}cm_html/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!--
	<link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/font-awesome-4.0.3/css/font-awesome.min.css">
	-->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.css"/>
	<link href="{{ STATIC_URL }}cm_html/css/helper.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}cm_html/css/style.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}cm_html/css/cm_administracion.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}cm_html/css/estilos.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery.ajax-combobox-master/lib/jquery.ajax-combobox.css" media="screen">

    <style>
        .img_pdf{
            background: url({{ STATIC_URL }}img/PDF.png) no-repeat 0 0;
            background-size: 45px;/*estaban contain*/
            height: 45px;
            width: 45px;
            float: right;
        }

        .div-descargas{
            width: 95px !important;
            height: 55px !important;
        }
        .img_report {
            width: 45px;
            height: 46px;
        }
        .img_excel{
            background: url({{ STATIC_URL }}img/XLS.png) no-repeat 0 0;
            background-size: 45px;/*estaban contain*/
            float: left;
        }
    </style>
    {% block stylesheet %}

    {% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/strftime.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}jquery.ajax-combobox-master/lib/jquery.ajax-combobox.js"></script>

    {% block script %}

    {% endblock %}
    <script>
        $( window ).load(function() {
            var contenido = "Campo Requerido";

            /***
            $("input[type='text'].campo_requerido").change(function(){
                $(this).popover('destroy');
            });
            $("input[type='text'].campo_requerido").popover({content: contenido, placement:'top', trigger:'hover'});
            $("input[type='text'].campo_requerido").on('hidden.bs.popover', function () {$(this).popover('destroy')}).popover('show');

            $("div.campo_requerido").popover({content: contenido, placement:'top', trigger:'hover'});
            $("div.campo_requerido").on('hidden.bs.popover', function () {$(this).popover('destroy')}).popover('show');
             *****/
        });
    </script>
</head>

<body>

	<header class="top-bar">
        <div class="container container-header">
            <div class="main-logo">
                <a href="{% url "administracion" %}">
                    <img src="{{ STATIC_URL }}cm_html/images/logo.png">
                </a>
            </div>

            <div class="col-perfil">
                <ul class="profile">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;" class="profile__user">
                            <i class="pe-7f-config"><img src="{{ STATIC_URL }}cm_html/images/perfil_icon.png"></i>
                        </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{% url "perfil" request.user.id %}"><i class="icon pe-7s-info pe-fw"></i> Perfil</a></li>
                                <li><a href="{% url "cambiar_contrasenia" %}"><i class="icon pe-7s-lock pe-fw"></i> Cambiar Contraseña</a></li>
                                <li><a href="{% url "salir" %}"><i class="icon pe-7s- pe-fw"></i> Salir</a></li>
                            </ul>
                    </li>
                  </ul>
            </div>

            <div class="div-avatar" style="width: 170px !important;margin-right: 16%;height: 70px;">

                <figure class="pull-left rounded-image profile__img">
                    <img id="foto_mini" class="media-object" src="{% get_avatar request.user.persona.fotografia %}" alt="user">
                </figure>
                <span class="profile__name">
                    {{ request.user.username }}
                </span>
            </div>

            <div class="col-buscador div-buscador">
                <div class="main-search">
                    <input type="text" placeholder="Ingrese su búsqueda" id="msearch">
                    <label for="msearch">
                        <i class="pe-7s-search">
                            <img src="{{ STATIC_URL }}cm_html/images/buscardor_icon.png">
                        </i>
                    </label>
                </div>
            </div>
        </div>
    </header>

    <div class="container container-nav">
        <div class="div-menu">
                <ul class="nav navbar-nav nav-principal">

                     {% if_tiene_permiso_menu request "cont" %}
                         <li>
                            <ul class="profile">
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                                        <figure class="pull-left item-icon {% block item-contabilidad %}{% endblock %}">
                                            <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/cont_m_g.png">
                                            <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/cont_m_b.png">

                                        </figure>
                                        <span class="profile__name">
                                            Contabilidad  <i class="pe-7s-angle-down"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu pull-left menu-lista-contabilidad">
                                        {% if_tiene_permiso_submenu request "lista_plan_cuenta" %}
                                            <li><a href="{% url "lista_plan_cuenta" %}">Plan de Cuentas</a></li>
                                        {% endif_tiene_permiso_submenu %}
                                        {% if_tiene_permiso_submenu request "lista_centro_costos" %}
                                            <li><a href="{% url "lista_centro_costos" %}">Centro de Costos</a></li>
                                        {% endif_tiene_permiso_submenu %}
                                        {% if_tiene_permiso_submenu request "lista_asientos" %}
                                            <li><a href="{% url "lista_asientos" %}">Asientos Contables</a></li>

                                            {% if_estado_asiento_inicial %}
                                            {% else %}
                                                <li><a href="{% url "agregar_asiento_inicial" %}">Asientos Contables Iniciales</a></li>
                                            {% endif_estado_asiento_inicial %}

                                        {% endif_tiene_permiso_submenu %}


                                        <li><a href="{% url "cierre_mes_contable" %}">Cierre Mensual Contable</a></li>

                                        {% if_tiene_permiso_submenu request "lista_vigencia_documento_empresa" %}
                                            <li><a href="{% url "lista_vigencia_documento_empresa" %}">Blocks de Documentos</a></li>
                                        {% endif_tiene_permiso_submenu %}
                                        {% if_tiene_permiso_submenu request "lista_empleados" %}
                                            <li><a href="{% url "lista_empleados" %}">Empleados</a></li>
                                        {% endif_tiene_permiso_submenu %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                     {% endif_tiene_permiso_menu %}
                     {% if_tiene_permiso_menu request "cmp" %}
                         <li>
                            <ul class="profile">
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                                        <figure class="pull-left item-icon {% block item-compra %}{% endblock %}">
                                            <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/comp_m_g.png">
                                            <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/comp_m_b.png">
                                        </figure>
                                        <span class="profile__name">
                                            Compras  <i class="pe-7s-angle-down"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu pull-left menu-lista-compra">

                                        <li><a href="{% url "proveedores" %}">Proveedores</a></li>

                                        {% if_tiene_permiso_submenu request "lista_compras" %}
                                            <li><a href="{% url "lista_compras" %}">Compras</a></li>
                                        {% endif_tiene_permiso_submenu %}
                                        <!--
                                         <li><a href="{% url "lista_compras_caja_chica" %}">Caja Chica</a></li>
                                        -->
                                        {% if_tiene_permiso_submenu request "lista_pago_proveedores" %}
                                            <li><a href="{% url "lista_pago_proveedores" %}">Cuentas por Pagar</a></li>
                                        {% endif_tiene_permiso_submenu %}
                                        <li>
                                            <a href="{% url "lista_cuentas_x_pagar_iniciales" %}">
                                                Cuentas por Pagar Iniciales
                                            </a>
                                        </li>

                                        <!--<li><a href="#">Reportes</a></li>-->
                                        {% if_tiene_permiso_submenu request "cuentas_retenciones" %}
                                            <li><a href="{% url "cuentas_retenciones" %}">Cuentas de Retención</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        {% if_tiene_permiso_submenu request "provision_compra" %}
                                            <li><a href="{% url "provision_compra" %}">Provisionamiento en Compras</a></li>
                                         {% endif_tiene_permiso_submenu %}

                                    </ul>
                                </li>
                            </ul>
                        </li>
                     {% endif_tiene_permiso_menu %}
                    {% if_tiene_permiso_menu request "vta"%}
                        <li>
                            <ul class="profile">
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                                        <figure class="pull-left item-icon {% block item-venta %}{% endblock %}">
                                            <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/vent_m_g.png">
                                            <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/vent_m_b.png">

                                        </figure>
                                        <span class="profile__name">
                                            Ventas  <i class="pe-7s-angle-down"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu pull-left menu-lista-venta">
                                        {% if_tiene_permiso_submenu request "clientes" %}
                                            <li><a href="{%  url "clientes" %}">Clientes</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        {% if_tiene_permiso_submenu request "lista_vendedores" %}
                                            <li><a href="{%  url "lista_vendedores" %}">Vendedores</a></li>
                                        {% endif_tiene_permiso_submenu %}
                                        <!--
                                        <li><a href="#">Cotizaciones</a></li>
                                        -->
                                        {% if_tiene_permiso_submenu request "lista_ventas" %}
                                            <li><a href="{% url "lista_ventas" %}">Ventas</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        {% if_tiene_permiso_submenu request "lista_cobro" %}
                                            <li><a  href="{% url "lista_cobro" %}">Cuentas por Cobrar</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        <li><a  href="{% url "lista_cuentas_x_cobrar_iniciales" %}">
                                            Cuentas por Cobrar Iniciales
                                            </a>
                                        </li>

                                        <li><a  href="{% url "lista_nota_credito" %}">Nota de Crédito</a></li>

                                        {% if_tiene_permiso_submenu request "provision_doc_venta" %}
                                            <li><a   href="{% url "provision_doc_venta" %}">Provisionamiento en Ventas</a></li>
                                        {% endif_tiene_permiso_submenu %}



                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endif_tiene_permiso_menu %}

                    {% if_tiene_permiso_menu request "bco"%}
                       <li>
                            <ul class="profile">
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                                        <figure class="pull-left item-icon {% block item-banco %}{% endblock %}">
                                            <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/ban_m_g.png">
                                            <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/ban_m_b.png">

                                        </figure>
                                        <span class="profile__name">
                                            Bancos  <i class="pe-7s-angle-down"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu pull-left menu-lista-banco">
                                        {% if_tiene_permiso_submenu request "lista_bancos" %}
                                            <li><a href="{% url "lista_bancos" %}">Cuentas Bancarias</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        {% if_tiene_permiso_submenu request "lista_transaccion_banco" %}
                                            <li><a href="{% url "lista_transaccion_banco" %}">Transacciones</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        {% if_tiene_permiso_submenu request "conciliacion_bancaria" %}
                                            <li><a title="Conciliación Bancaria" href="{% url "conciliacion_bancaria" %}">Conciliación Bancaria</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        <li><a href="{% url "provision_cheque" %}">Provisionamiento de Cheques</a></li>

                                        <li style="display: none;"><a href="#">Control de Cheques</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endif_tiene_permiso_menu %}

                    {% if_tiene_permiso_menu request "sri"%}
                        <li>
                            <ul class="profile">
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                                        <figure class="pull-left item-icon {% block item-sri %}{% endblock %}">
                                            <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/sri_m_g.png">
                                            <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/sri_m_b.png">

                                        </figure>
                                        <span class="profile__name">
                                            SRI  <i class="pe-7s-angle-down"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu pull-left menu-lista-sri">
                                        <li style="display: none"><a href="#">101</a></li>
                                        <li style="display: none"><a href="#">103</a></li>
                                        <li style="display: none"><a href="#">104</a></li>
                                        {% if_tiene_permiso_submenu request "vista_ATS" %}
                                            <li><a href="{% url "vista_ATS" %}">ATS</a></li>
                                        {% endif_tiene_permiso_submenu %}
                                    </ul>
                                </li>
                            </ul>
                       </li>
                    {% endif_tiene_permiso_menu %}

                   {% if_tiene_permiso_menu request "inv"%}
                       <li>
                            <ul class="profile">
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                                        <figure class="pull-left item-icon {% block item-inventario %}{% endblock %}">
                                            <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/inventario_m_g.png">
                                            <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/inventario_m_b.png">
                                        </figure>
                                        <span class="profile__name">
                                            Inventarios  <i class="pe-7s-angle-down"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu pull-left menu-lista-inventarios">
                                        {% if_tiene_permiso_submenu request "lista_categoria" %}
                                            <li><a href="{% url "lista_categoria" %}">Categoría de Item</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        {% if_tiene_permiso_submenu request "lista_items" %}
                                            <li><a href="{% url "lista_items" %}">Item</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        <li style="display: none;"><a href="#">Bodegas</a></li>
                                        {% if_tiene_permiso_submenu request "listado_todas_guias_remision" %}
                                            <li><a href="{% url "listado_todas_guias_remision" %}">Guías de Remisión</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        {% if_tiene_permiso_submenu request "lista_inventario" %}
                                            <li><a href="{% url "lista_inventario" %}">Movimiento de Inventario</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        {% if_tiene_permiso_submenu request "lista_contrato" %}
                                            <li><a href="{% url "lista_contrato" %}">Contratos</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                        <li><a href="{% url "costo_contrato" %}">Costos Adicionales Contrato</a></li>

                                        {% if_tiene_permiso_submenu request "cierre_anual_inventario" %}
                                            <li style="display: none;"><a href="{% url "cierre_anual_inventario" %}">Cierre Anual de Inventario</a></li>
                                        {% endif_tiene_permiso_submenu %}

                                    </ul>
                                </li>
                            </ul>
                       </li>
                   {% endif_tiene_permiso_menu %}

                <!--
                  <li>
                    <ul class="profile">
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                                <figure class="pull-left item-icon {% block item-rol %}{% endblock %}">
                                    <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/rol_m_g.png">
                                    <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/rol_m_b.png">

                                </figure>
                                <span class="profile__name">
                                    Rol de Pagos  <i class="pe-7s-angle-down"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu pull-left menu-lista-rol">
                                <li><a  href="#">Buscar Empleados</a></li>
                                <li><a  href="#">Ingresar Empleados</a></li>
                                <li><a  href="#">General Rol</a></li>
                                <li><a  href="#">Buscar Rol</a></li>

                            </ul>
                        </li>
                     </ul>
                   </li>


                   <li>
                        <ul class="profile">
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                                    <figure class="pull-left item-icon {% block item-proyecto %}{% endblock %}">
                                        <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/proy_m_g.png">
                                        <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/proy_m_b.png">

                                    </figure>
                                    <span class="profile__name">
                                        Proyectos  <i class="pe-7s-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="dropdown-menu pull-left menu-lista-proyectos">
                                    <li><a href="#">Buscar proyectos</a></li>
                                   <li><a href="#">Ingresar proyectos</a></li>
                                   <li><a href="#">Tareas</a></li>
                                   <li><a href="#">Internos</a></li>
                                   <li><a  href="#">Participantes Externos</a></li>
                                   <li><a href="#">Asignar Tareas</a></li>
                                   <li><a href="#">Agregar Costos</a></li>

                                </ul>
                            </li>
                        </ul>
                   </li>
                    -->
                     {% if_tiene_permiso_menu request "rep"%}
                       <li>
                            <ul class="profile">
                                <li>
                                    <a class="dropdown-toggle"  href="{% url "reporte_inicio" %}">
                                        <figure class="pull-left item-icon {% block item-reportes %}{% endblock %}">
                                            <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/proy_m_g.png">
                                            <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/proy_m_b.png">

                                        </figure>
                                        <span class="profile__name">
                                            Reportes  <i class="pe-7s-angle-down" style="visibility: hidden;"></i>
                                        </span>
                                    </a>

                                </li>
                            </ul>
                         </li>
                     {% endif_tiene_permiso_menu %}
                    {% if request.user.persona.es_admin %}
                        <li>
                            <ul class="profile">
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                                        <figure class="pull-left item-icon {% block item-administracion %}{% endblock %}">
                                            <img class="item-menu-g" src="{{ STATIC_URL }}cm_html/images/menu/bal_m_g.png">
                                            <img class="item-menu-b" src="{{ STATIC_URL }}cm_html/images/menu/bal_m_b.png">

                                        </figure>
                                        <span class="profile__name">
                                            Administración  <i class="pe-7s-angle-down"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu pull-left menu-lista-admin">
                                        <li><a href="{% url "configuracion_empresa" %}">Configuración de Empresa</a></li>
                                        <li><a href="{% url "lista_persona" %}">Usuarios</a></li>
                                        <li><a href="{% url "lista_grupos" %}">Grupos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>


        </div>
    </div>

    <div class="container container-navigation {% block container-navigation-media %}{% endblock %} {% block container-navigation-700 %}{% endblock %}">

            <div class="row row-navigator">
                <span class="contenedor-ruta">

                    <img class="ruta-imagen" src="{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/home_icono.png"{% endblock %}>

                    <span class="ruta-principal">{% block ruta-principal %}INICIO{% endblock %}
                    <span class="ruta-divisor">/</span><span class="ruta-actual">{% block ruta-actual %}Página Principal{% endblock %}</span></span>
                </span>
                <span class="contenedor-superior-iconos">
                    {% block superior-iconos %}{% endblock %}
                </span>

            </div>
    </div>
    <div class="container container-externo">
        <div class="container container-contenido {% block container-contenido-media %}{% endblock %} {% block container-contenido-700 %}{% endblock %}">

        {% block content %}
            <div class="row row-items">
                <div class="col-lg-7 col-items">
                    <div class="items">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3  col-modulo-item">
                            <a href="{% url "contabilidad_menu" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/contabilidad_general.png">
                                </p>
                                <p class="modulo-item-title">
                                    Contabilidad General
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="{% url "ventas_menu" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/ventas.png">
                                </p>
                                <p class="modulo-item-title">
                                    Ventas
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="{% url "compras_menu" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/compras.png">
                                </p>
                                <p class="modulo-item-title">
                                    Compras
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="{% url "proveedores" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/proveedores.png">
                                </p>
                                <p class="modulo-item-title">
                                   Proveedores
                                </p>
                            </a>

                        </div>


                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/costos.png">
                                </p>
                                <p class="modulo-item-title">
                                    XCostos
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="{% url "lista_bancos" %}">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/bancos.png">
                                </p>
                                <p class="modulo-item-title">
                                    Bancos
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/sri.png">
                                </p>
                                <p class="modulo-item-title">
                                    XSRI
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/cobranzas.png">
                                </p>
                                <p class="modulo-item-title">
                                   Cobranzas
                                </p>
                            </a>

                        </div>




                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/inventarios.png">
                                </p>
                                <p class="modulo-item-title">
                                    Inventarios
                                </p>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/crm.png">
                                </p>
                                <p class="modulo-item-title">
                                    XCRM
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/requisiciones.png">
                                </p>
                                <p class="modulo-item-title">
                                    Requisiciones
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/reportes.png">
                                </p>
                                <p class="modulo-item-title">
                                   Administración de Proyectos
                                </p>
                            </a>

                        </div>



                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/rol_de_pagos.png">
                                </p>
                                <p class="modulo-item-title">
                                    Rol de Pagos
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/activos_fijos.png">
                                </p>
                                <p class="modulo-item-title">
                                    Activos Fijos
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/importaciones.png">
                                </p>
                                <p class="modulo-item-title">
                                    Importaciones
                                </p>
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-modulo-item">
                            <a  href="">
                                <p class="modulo-item-icon">
                                    <img src="{{ STATIC_URL }}cm_html/images/modulos/balance_scorcard.png">
                                </p>
                                <p class="modulo-item-title">
                                   Balanced ScoreCard
                                </p>
                            </a>

                        </div>

                     </div>
                </div>
                <div class="col-lg-5 col-mensaje">
                        <h2>BIENVENIDOS</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, mollitia incidunt ipsa unde alias assumenda laboriosam delectus qui
                        eos iure ipsum dolor sit amet, consectetur adipisicing elit. Quia, mollitia incidunt ipsa unde alias assumenda laboriosam delectus qui
                        eos iure laboriosam delectus qui eos iure ipsum dolor sit amet, consectetur adipisicing.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, mollitia incidunt ipsa unde alias assumenda laboriosam delectus qui
                        eos iure ipsum dolor sit amet, consectetur adipisicing elit. Quia, mollitia incidunt ipsa unde alias assumenda laboriosam delectus qui
                        eos iure laboriosam delectus qui eos iure ipsum dolor sit amet, consectetur adipisicing.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, mollitia incidunt ipsa unde alias assumenda laboriosam delectus qui
                        eos iure ipsum dolor sit amet, consectetur adipisicing elit. Quia, mollitia incidunt ipsa unde alias assumenda laboriosam delectus qui
                        eos iure laboriosam delectus qui eos iure ipsum dolor sit amet, consectetur adipisicing.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, mollitia incidunt ipsa unde alias assumenda laboriosam delectus qui
                        eos iure ipsum dolor sit amet, consectetur adipisicing elit. Quia, mollitia incidunt ipsa unde alias assumenda laboriosam delectus qui
                        eos iure laboriosam delectus qui eos iure ipsum dolor sit amet, consectetur adipisicing.
                    </p>

                </div>
            </div>
        {% endblock %}
	</div>
    </div>




	<!-- Scripts -->

	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/bootstrap.min.js"></script>

    <script src="{{ STATIC_URL }}cm_html/js/js_old/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}cm_html/js/js_old/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}cm_html/js/js_old/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}cm_html/js/js_old/tab.js"></script>
    <script src="{{ STATIC_URL }}cm_html/js/js_old/bootstrap-scrollspy.js"></script>
     <script src="{{ STATIC_URL }}cm_html/js/js_old/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}cm_html/js/js_old/bootstrap-filestyle.min.js"></script>

    {% block script-bootstrap %}

    {% endblock %}
    <!--
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/amcharts/amcharts.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/amcharts/serial.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/amcharts/pie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/chart.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/map.js"></script>

	<script src="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="{{ STATIC_URL }}cm_html/jquery-jvectormap-1.2.2/jquery-jvectormap-us-aea-en.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cm_html/js/main.js"></script>
    -->

</body>
</html>