<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Inicio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/docs.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/estilo-sin-menu.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/widgets.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">

      {% block stylesheet %}

      {% endblock %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery-ui.js"></script>
    <script type="text/javascript">

        $(function()
    {
        $('#menu-boton').click(function(){

                if ($('#div-menu-vertical').css('left') == '0px'){

                   $('#div-menu-vertical').stop(true).animate({
                    left: '-300px'

                    }, 1000, function() {
                        // Fin de Animación.
                    });

                }else{

                    $('#div-menu-vertical').stop(true).animate({
                    left: '0px'

                    }, 1000, function() {
                        // Fin de Animación.
                    });

                }




        });
        }
    );
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% block script %}

    {% endblock %}
  </head>
  <body id="bg" style="background: #FFF;">
    <div id="div-menu-vertical">
        <div id="menu-vertical">
            <ul class="navbar-collapse collapse nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Clientes<br/>y Productos<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a tabindex="-1" href="#">Proforma</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Agregar Clientes</a></li>
                <li><a tabindex="-1" href="#">Editar Clientes</a></li>
                <li><a tabindex="-1" href="#">Agregar Productos</a></li>
                <li><a tabindex="-1" href="#">Editar Productos</a></li>
                <li><a tabindex="-1" href="#">Agregar Servicios</a></li>
                <li><a tabindex="-1" href="#">Editar Servicios</a></li>

              </ul>
            </li>
        </ul>
        </div>
        <div id="menu-boton">

        </div>
    </div>
     <header id="cabecera">

		    <div class="navbar-default">
			<img id="logo" src="{{ STATIC_URL }}img/logo-blanco.png"/></a>
			<div class="navbar-header">
			  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<div class="navbar-default navbar-collapse collapse" id="navbar-main">
			  <ul class="nav navbar-nav">
				<li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Inicio <span class="caret"></span></a>
				  <ul class="dropdown-menu" aria-labelledby="themes">
					<li><a tabindex="-1" href="../default/">Default</a></li>
					<li class="divider"></li>
					<li><a tabindex="-1" href="{% url "clientes"%}">Clientes</a></li>
					<li><a tabindex="-1" href="{% url "proveedores"%}">Proveedores</a></li>
				  </ul>
				</li>
				<li>
				  <a href="#">Configuraci&oacuten</a>
				</li>
				<li>
				  <a href="#">Soporte</a>
				</li>
				<li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Informaci&oacuten <span class="caret"></span></a>
				</li>

                  {% if user.is_authenticated %}
                    <li>
				    <a href="{% url "salir" %}" style="text-decoration: underline; ">Salir </a>

                    </li>

                    {% else %}
                    <li>
				    <a href="{% url "login" %}">Iniciar Sesión </a>
                    </li>
                {% endif %}

			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li id="buscador">
                   <div class="buscador-borde">
                    <form>
                        <table>
                            <tr>
                                <td class="td-left"><input type="text" name="buscar" class="txt_buscar"/></td>
                                <td class="td-right"><input type="submit" name="enviar" value="" class="btn-buscar"/></td>
                            </tr>
                        </table>
                    </form>
                   </div>
				</li>
                  <li id="foto"><a><img /></a></li>
				<li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">Nombre de la Compañ&iacutea </a></li>
                  <li class="flecha-li"><img src="{{ STATIC_URL }}img/flecha_naranja.png"/></li>
			  </ul>
			</div>
		</div>

    </header>


      <section id="contenido" style="width: 100%;">

        <div id="texto">
            <div id="menu-central">
                <div id="tabs-centrales">
                    <ul class="nav nav-tabs" >
                      <li><a href="#clientes_productos" data-toggle="tab">Clientes y Productos</a></li>
                      <li><a href="#cotizaciones" data-toggle="tab">Cotizaciones</a></li>
                      <li><a href="#pedidos" data-toggle="tab">Pedidos</a></li>
                      <li><a href="#despacho_pedidos" data-toggle="tab">Despacho de Pedidos</a></li>
                      <li><a href="#facturacion_pedidos" data-toggle="tab">Facturaci&oacuten de Pedidos</a></li>
                      <li><a href="#lista_precios" data-toggle="tab">Lista de Precios</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">


                {% block content %}

                {% endblock %}

            </div>
        </div>

      </section>
      <div style="clear: both"></div>

    <footer id="pie">
        <figure>
            <img id="logo-pie" src="{{ STATIC_URL }}img/logo-blanco.png"/>
        </figure>
        <ul class="nav navbar-nav navbar-right">

				<li>Ayuda</li>
                <li>Tutorial</li>
                <li>Soporte: +(593) 4 263 9605</li>
                  <li class="flecha-foot"><img src="{{ STATIC_URL }}img/flecha_blanca.png"/></li>
			  </ul>
    </footer>

    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/tab.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-scrollspy.js"></script>
	</body>
</html>