{% load widget_tweaks %}
{{ forms.management_form }}
<table class="tabla-comprobante-detalle-externa" style="width: 1000px;">
   <tr>
       <td style="border: none;">
            <table id="tabla_formset_guia_remision" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle">
                <thead>
                    <tr>
                        <th style="background: #F6F6F6; width: 35px;"></th>
                        <th style="width: 300px;">Item</th>
                        <th style="width: 150px;">Cant.Venta</th>
                        <th style="width: 150px;">Unidad Medida</th>
                        <th style="width: 106px;">Cant. Entregada</th>
                        <th style="width: 106px;">Cant. por Entregar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for formularios in forms %}
                        <tr>
                            <td style="background: #F6F6F6 !important;"></td>
                            {% for form in formularios %}
                                {% if form.label == "id_item" or form.label == "id_detalle"%}
                                        <td style="display: none">{{ form }}</td>
                                {% else %}
                                    <td>{% if form.errors %}{{ form|add_class:"campo_requerido" }}{% else %}{{ form }}{% endif %}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
       </td>
   </tr>
</table>