{% extends "base.html" %}
{% block title %}Cobro a Clientes{% endblock %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load cuentas_x_cobrar.snnipet_cobros %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">

    <style>
        .th_forma_pago
        {
            width: 300px;
        }
        .th_bancos{
            width: 375px;
        }
        .th_tarjetas{
            width: 340px;
        }
        .th_termino
        {
            width: 130px;
        }
        .th_plazo
        {
            width: 90px;
        }
        .th_caja
        {
            width: 375px;
        }
        .referencia{
            width: 100%;
        }
        #contenedor_detalle_comp
        {
            margin-bottom: 10px;
        }
        .btn-buscadores{
            margin: 0px;
        }
        .alin_izq{
            text-align: left;
        }
        .btn-buscadores{
            float: right;
            position: relative;
            top: -31px;
            z-index: 1;
        }
    #pagar{
        float: left;
        position: relative;
        text-align: left;
    }

    #pagos{
        clear: both;
        padding-top: 25px;
    }
    .observeciones
    {
        padding-top: 25px;
    }
    dt{
        color: #DD4814;
        border-bottom: 1px solid #DDDBDC;
        font-weight: normal;
        text-align: left;
    }
    .selectpicker a{
        text-align: left;
    }
    input{
        background: transparent;
    }
    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .tick{
        color: #DD4814;
    }
    .tick-text{
        color: #000000;
    }
    .tabla-cuentas-pagar input{
        width: 100%;
    }

    #tabla_formset_detalle_doc tbody tr:last-child td{
        background: #BCBCBC !important;
        color: white !important;
    }

    #tabla_formset_detalle_doc tbody tr:last-child td input{
        /*color: white !important;*/
        border: none !important;
    }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script>
        var fecha_actual = "{% now "Y-m-d" %}"
    </script>
    <script src="{{ STATIC_URL }}js/js_cuentas_cobrar/cuentas_por_cobrar_clientes.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        var url_cargar_documentos_cobrar = "{% url "cargar_documentos_cobrar" %}";
        $(function(){
            {% if flag %}
            if($("#id_cliente").val() != "")
                {
                    $.ajax(
                    {
                        url:"{% url "cargar_documentos_cobrar" %}",
                        type: 'POST',
                        async: false,
                        cache: false,
                        timeout: 300,
                        data:{id:$("#id_cliente").val()},
                        beforeSend: function(msj){
                            $('#loading').show();
                            $('body').css('display', '0.5');
                        },
                        error: function(){
                            return true;
                        },
                        success: function(data)
                        {
                            $("#documentos_cobrar").html(data).show();
                            AgregarFuncionesDoc();
                            $("#detalle_forma_pago").show();
                            $("#grabar").show();
                            $('#loading').fadeOut();
                            $('body').css('opacity', '1');
                        }
                    });
                }
                else
                {
                    $("#documentos_cobrar").hide();
                    $("#detalle_forma_pago").hide();
                    $("#grabar").hide();
                }
            {% else %}
                AgregarFuncionesDoc();
                totales();
            {% endif %}

        });
    </script>
{% endblock %}


{% block item-venta %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
 {% block ruta-principal %}Ventas{% endblock %}
 {% block ruta-actual %}Cobro a Clientes{% endblock %}
{% block superior-iconos %}

{% endblock %}


{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
         {% for message in messages %}

            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>


         {% endfor %}
    {% endif %}
 <form role="form" class="container-fluid row" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}

     <div class="container container-comprobante-pagos">
        <div class="row row-comprobante-medio-pagos">
            <h3 class="sub-title-comprobante">COBRO A CLIENTES</h3>
            <table class="tabla-100pc">
                <tr>
                    <td style="width: 130px;">

                        <label class="control-label" for="{{ cabecera.cliente.label }}">
                        {% if cabecera.cliente.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ cabecera.cliente.label }}  </b>
                        <span class="dospuntos">:</span></label>

                    </td>
                    <td style="width: 500px;">

                         {% if cabecera.cliente.errors %}{{ cabecera.cliente|add_class:"campo_requerido" }}{% else %}{{ cabecera.cliente}}{% endif %}
                    </td>
                    <td style="width: 170px; padding-left: 50px;">
                        <label class="control-label" for="{{ cabecera.fecha.label }}">
                        {% if cabecera.fecha.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ cabecera.fecha.label }}  </b>
                        <span class="dospuntos">:</span></label>
                    </td>
                    <td>
                        {% if cabecera.fecha.errors %}{{ cabecera.fecha|add_class:"control-fecha txt-100pc input-calendario campo_requerido" }}{% else %}{{ cabecera.fecha|add_class:"control-fecha txt-100pc input-calendario" }}{% endif %}

                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ cabecera.observaciones.label }}">
                        {% if cabecera.observaciones.field.required %}
                            <span class="requerido">*</span>
                        {% else %}
                            <span class="no-requerido"></span>
                        {% endif %}
                        <b>{{ cabecera.observaciones.label }}</b>
                        <span class="dospuntos">:</span></label>
                    </td>
                    <td colspan="3">
                        {% if cabecera.observaciones.errors %}{{ cabecera.observaciones|add_class:"textarea-concepto campo_requerido" }}{% else %}{{ cabecera.observaciones|add_class:"textarea-concepto" }}{% endif %}
                    </td>
                </tr>
            </table>

        </div>

        <div class="row row-comprobante-detalle" style="margin-right: 0px; margin-left: 0px; margin: auto; margin-top: 20px;">
             <div id="documentos_cobrar" class="tabla-detalle-compra col-md-12" style="margin-bottom: 30px; padding: 0px;">
                 {% t_pago_clientes forms %}
            </div>
            <table id="detalle_forma_pago" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-comprobante-pago">
                <thead>
                    <tr>
                        <th class="th_forma_pago th_forma_pago_trans">Forma de Pago</th>
                        <th class="th_caja">Caja Chica</th>
                        <th class="th_bancos">Banco</th>
                        <th class="th_tarjetas" >Tarjetas</th>
                        <th class="th_termino">Termino</th>
                        <th class="th_plazo">Plazo</th>
                        <th class="th_interes">Interes</th>
                        <th class="th_referencia">Referencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th_forma_pago">{{ formularios.forma_pago }}</td>
                        <th class="th_caja">
                            {% if formularios.caja.errors %}
                                {{ formularios.caja|add_class:"campo_requerido" }}
                            {% else %}
                                {{ formularios.caja }}
                            {% endif %}
                        </th>
                        <td class="th_bancos">
                            {% if formularios.bancos.errors %}
                                {{ formularios.bancos|add_class:"campo_requerido" }}
                            {% else %}
                                {{ formularios.bancos }}
                            {% endif %}
                        </td>
                        <td class="th_tarjetas">
                            {% if formularios.tarjetas.errors %}
                                {{ formularios.tarjetas|add_class:"campo_requerido" }}
                            {% else %}
                                {{ formularios.tarjetas }}
                            {% endif %}
                        </td>
                        <td class="th_termino">
                            {% if formularios.termino.errors %}
                                {{ formularios.termino|add_class:"campo_requerido" }}
                            {% else %}
                                {{ formularios.termino }}
                            {% endif %}
                        </td>
                        <td class="th_plazo">{{ formularios.plazo }}</td>
                        <td class="th_interes">{{ formularios.interes }}</td>
                        <td class="th_referencia">{{ formularios.referencia }}</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>

    <div class="text-center" style="text-align: center; padding: 30px 0px;">
       <input class="boton boton-ok btn_grabar" id="grabar" type="submit" value="Grabar">
        <a class="boton boton-gray btn_cancelar" href="{% url "lista_cobro" %}" >Cancelar</a>
    </div>
</form>

    <!-- Divs para los alert -->
      <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}