{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Comprobante contable{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Comprobante de {{ mayor_cab.tipo_comprobante.descripcion }}:  {{ mayor_cab.numero_comprobante }}{% endblock %}
{% block tabla_contenido %}
            

            <table id="table-info-basica">

                <tr>
                    <td class="td-label1" style="width: 200px;">
                        Fecha de Registro:
                    </td>
                    <td class="td-info1" style="padding-right: 20px;width: 300px;">
                        {{ cobro.fecha_reg|date:"d-m-Y" }}
                    </td>
                    <td class="td-label2" style="width: 150px;">
                        Cliente:
                    </td>
                    <td class="td-info2">
                         <label> {{ cobro.cliente.razon_social }}</label>
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                         Con cargo a cuenta:
                    </td>
                    <td class="td-info1" style="padding-right: 20px;">
                        <label> {{ cuenta.descripcion }}</label>
                    </td>
                    <td class="td-label1">
                        Forma de Pago:
                    </td>
                    <td class="td-info1">
                        <label>
                            {{ cobro.forma_pago.descripcion }}
                        </label>
                    </td>
                </tr>
                <tr>

                    <td class="td-label2">
                        El valor de:
                    </td>
                    <td class="td-info2" style="padding-right: 20px;">
                        $ {{ cobro.monto|floatformat:2 }}({{ cobro.monto_to_word }} {% splits cobro.monto "." 1 %}/100 dólares)
                    </td>
                    <td class="td-label2">
                        <label>Descripción:</label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {{ cobro.concepto }}
                        </label>
                    </td>
                </tr>
            </table>
            <div style="clear: both"></div> 

        <div class="div-centrar div-tabla">
            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px;">Detalle del Cobro</p>
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: 0px" border="0">
                <thead style="">
                        <th style="width: 120px;border: none; border-bottom: 1px solid #c0c0c0;">Tipo Doc.</th>
                        <th style="width: 120px;border: none; border-bottom: 1px solid #c0c0c0;">Documento</th>
                        <th style="border: none; border-bottom: 1px solid #c0c0c0;">Fecha</th>
                        <th style="border: none; border-bottom: 1px solid #c0c0c0;">Concepto</th>
                        <th style="border: none; border-bottom: 1px solid #c0c0c0;">Monto</th>
                </thead>
                <tbody style="">
                    {% for obj_det in detalle_pago %}
                        <tr>
                            <td style="border: none;">{{ obj_det.cuentas_x_cobrar.documento.descripcion_documento}}</td>
                            <td style="border: none;">{{ obj_det.cuentas_x_cobrar.num_doc}}</td>
                            <td style="border: none;">{{ obj_det.cuentas_x_cobrar.fecha_emi|date:"d-m-Y" }}</td>
                            <td style="border: none;">{{ obj_det.cuentas_x_cobrar.venta_cabecera.concepto }}</td>
                            <td style="border: none; text-align: right">$ {{ obj_det.monto }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="div-centrar div-tabla">

            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; padding-top: 10px;">Asiento Contable</p>
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none;">
                <thead style="">
                    <tr>
                        <th style="width: 120px; border: none; ">Código</th>
                        <th style="border: none;">Cuenta</th>
                        <th style="width: 100px;border: none;">Debe</th>
                        <th style="width: 100px;border: none;">Haber</th>
                    </tr>
                </thead>
                <tbody style="">
                {% for obj_asiento in detalle_may%}
                    <tr>
                        <td style="border: none;" {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td style="border: none;"> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td style="border: none;" class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td style="border: none;" class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

              <div class="div-centrar div-tabla">
               <div id="div-firmas">
                    <table id="table-firmas" style="margin-top: 40px; text-align: center">
                         <tr>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                            </td>
                            <td style="border: none; width: 30px;">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                            </td>
                            <td style="border: none; width: 30px; ">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Revisado por:</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
{% endblock %}