{% extends "base.html" %}
{% block title %}Cruce de Documentos/Cta{% endblock %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load cuentas_x_cobrar.snnipet_cobros %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
        .th_forma_pago
        {
            width: 300px;
        }
        .th_bancos{
            width: 375px;
        }
        .th_tarjetas{
            width: 340px;
        }
        .th_termino
        {
            width: 130px;
        }
        .th_plazo
        {
            width: 90px;
        }
        #contenedor_detalle_comp
        {
            margin-bottom: 10px;
        }
        .btn-buscadores{
            margin: 0px;
        }
        .alin_izq{
            text-align: left;
        }
        .btn-buscadores{
            float: right;
            position: relative;
            top: -31px;
            z-index: 1;
        }
    #pagar{
        float: left;
        position: relative;
        text-align: left;
    }
    .sel_forma_pago, label[for="Observaciones"] b
    {
        color: #DD4814;
        font-size: 14px;

        text-align: center;
        width: 100%;
        font-weight: normal;
    }
    #pagos{
        clear: both;
        padding-top: 25px;
    }
    .observaciones
    {
        padding-top: 30px;
    }
    dt{
        color: #DD4814;
        border-bottom: 1px solid #DDDBDC;
        font-weight: normal;
        text-align: left;
    }
    .selectpicker a{
        text-align: left;
    }
    input{
        background: transparent;
    }
    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .tick{
        color: #DD4814;
    }
    .tick-text{
        color: #000000;
    }
    .cabecera{
        margin-top: 20px;
    }
    .boton-grabar{
        margin-top: 20px;
    }

    .container-contenido{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .totales_cruce_doc{
        width: 150px;
        text-align: right;
    }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script>
        var fecha_actual = "{% now "Y-m-d" %}";
        var url_cruce_doc = "{% url "cargar_cruce_documentos_cobros" %}";
        var url_cruce_cuenta = "{% url "cargar_cruce_cuentas_cobros" %}";
        {% if flag %}
            var flag = true;
        {% else %}
            var flag = false;
        {% endif %}
    </script>
    <script src="{{ STATIC_URL }}js/js_cuentas_cobrar/funciones.js"></script>
    <script src="{{ STATIC_URL }}js/js_cuentas_cobrar/cuentas_por_cobrar_clientes_cruce_doc.js"></script>
    <script>

    </script>
{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
 {% block ruta-principal %}Ventas{% endblock %}
 {% block ruta-actual %}Cruce de Documento y Cuentas{% endblock %}

{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
         {% for message in messages %}

            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>


         {% endfor %}
    {% endif %}
    <div id="mensajes"></div>


    <form role="form" class="container-fluid row" style="margin-right: 0px; margin-left: 0px;" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}

    <div class="row row-comprobante-cabecera" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-lg-12" style="padding: 0px;">
            <div class="comprobante-cabecera-total">

                <table class="tabla-comprobante-cabecera">
                    <tr>
                         <td style="width: 90px;">
                            <label class="control-label" for="{{ cabecera.forma_pago.label }}">
                                {% if cabecera.forma_pago.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ cabecera.forma_pago.label }}  </b>
                                <span class="dospuntos">:</span></label>
                         </td>
                         <td style="width: 200px;">
                            {% if cabecera.forma_pago.errors %}{{ cabecera.forma_pago|add_class:"txt-150 campo_requerido" }}{% else %}{{ cabecera.forma_pago|add_class:"txt-150" }}{% endif %}
                         </td>

                         <td style="width: 120px;text-align: right; padding-right: 20px;">
                            <label class="control-label" for="{{ cabecera.fecha.label }}">
                                {% if cabecera.fecha.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ cabecera.fecha.label }}  </b>
                                <span class="dospuntos">:</span></label>
                         </td>
                         <td style="width: 150px;">
                            {% if cabecera.fecha.errors %}{{ cabecera.fecha|add_class:"input-calendario txt-150 campo_requerido" }}{% else %}{{ cabecera.fecha|add_class:"input-calendario txt-150" }}{% endif %}
                         </td>


                         <td style="width: 80px; text-align: right; padding-right: 20px;">
                            <label class="control-label" for="Cliente">
                                {% if cabecera.fecha.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ cabecera.cliente.label }}</b>
                                <span class="dospuntos">:</span>
                            </label>
                         </td>
                         <td style="width: 260px">
                            {% if cabecera.cliente.errors %}{{ cabecera.cliente|add_class:"txt-100pc campo_requerido" }}{% else %}{{ cabecera.cliente|add_class:"txt-100pc" }}{% endif %}
                         </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="lista_documentos" class="tabla-detalle-compra col-md-12" style="padding: 0px;">
        {% if detalle_docs|length > 0 %}
            {% t_cruce_de_doc detalle_docs detalle_doc_cobrar %}
        {% endif %}
        {% if detalle_cta_cruzar|length > 0 %}
            {% t_cruce_de_cuentas detalle_cta_cruzar %}
        {% endif %}
    </div>

    <div  id="total_observacion" class="text-center observaciones" style="display: inline-block; width: 1300px;; padding: 40px; margin-top: 30px; background: white;border: 2px solid #E5E5E5;">

        <table class="tabla tabla-observaciones-cruce">
            <tr>
                <td colspan="3" style="padding-bottom: 20px;">
                    <label class="control-label" for="{{ cabecera.observaciones.label }}">
                    {% if cabecera.observaciones.field.required %}
                        <span class="requerido">*</span>
                    {% else %}
                        <span class="no-requerido"></span>
                    {% endif %}
                    <b class="sub-title-comprobante">{{ cabecera.observaciones.label }}</b>
                    <span class="dospuntos">:</span></label>
                </td>
            </tr>
            <tr>
                <td rowspan="4">
                    {% if cabecera.observaciones.errors %}
                        {{ cabecera.observaciones|add_class:"campo_requerido" }}
                    {% else %}
                        {{ cabecera.observaciones }}
                    {% endif %}
                </td>
                <td class="totales_cruce_doc">
                    Saldo Anterior
                </td>
                <td id="saldo_anterior" class="totales_cruce_doc">$ 0.00</td>
            </tr>
            <tr>
                <td class="totales_cruce_doc">Total Pago</td>
                <td id="total_pago" class="totales_cruce_doc">$ 0.00</td>
            </tr>
            <tr>
                <td class="totales_cruce_doc">Saldo Actual</td>
                <td id="saldo_actual" class="totales_cruce_doc">$ 0.00</td>
            </tr>
            <tr>
                <td class="totales_cruce_doc">Saldo Proveedor</td>
                <td id="saldo_proveedor" class="totales_cruce_doc">$ 0.00</td>
            </tr>
        </table>
    </div>
    <div class="text-center" style="margin-top: 30px; margin-bottom:30px;">
        <input class="boton boton-ok btn_grabar" id="grabar" type="submit" value="Grabar">
        <a class="boton boton-gray btn_cancelar" href="{% url "lista_cobro" %}" >Cancelar</a>
    </div>


    </form>
    <!-- Divs para los alert -->
   <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}