{% extends "base.html" %}
{% load widget_tweaks %}
{% load permisostag %}
{% load snnipet_generales %}
{% block title %}Cuentas por Cobrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <style>
        .concepto_reversar{
            width: 100%;
            margin-top: 5px;
        }
        .control-fecha{
            width: 100%;
            text-align: left;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script>
        var url_esta_reversado = "{% url "esta_reversado" %}";
        var url_get_fecha_reversar = "{% url "get_fecha_reversar" %}";

    </script>
    <script src="{{ STATIC_URL }}js/js_cuentas_cobrar/lista_cobros.js"></script>
{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
 {% block ruta-principal %}Ventas{% endblock %}
 {% block ruta-actual %}Buscar Cuentas por Cobrar{% endblock %}


{% block content %}
     {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>

         {% endfor %}
    {% endif %}

    <form action="" class="form-group" id="formulario" method="GET">
        <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>

            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="width: 680px; margin: auto;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td style="width: 150px;">
                                    <label>F. Inicial:</label>
                                </td>

                                <td >
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>

                                <td>
                                    <label>Hasta</label>
                                </td>

                                <td  style="width: 140px;">
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Cliente:</label>
                                </td>

                                <td colspan="3">
                                    {{ buscador.cliente }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label># de Comprobante:</label>
                                </td>
                                <td>
                                    {{ buscador.num_comp|add_class:"txt-150" }}
                                </td>
                                <td>
                                    <label># de Documento:</label>
                                </td>
                                <td>
                                    {{ buscador.num_doc|add_class:"txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Rango Monto:</label>
                                </td>
                                <td>
                                    {{ buscador.valor_ini|add_class:"txt-150" }}
                                </td>
                                <td>
                                    <label>Hasta:</label>
                                </td>
                                <td>
                                    {{ buscador.valor_final|add_class:"txt-150" }}
                                </td>
                            </tr>
                            <tr>
                            <td>
                                <label>{{ buscador.estado.label }}</label>
                            </td>
                            <td colspan="3">
                                {{ buscador.estado }}
                            </td>

                        </tr>

                        </table>
                    </div>
                </div>

                <div style="display: none">{{ buscador.page }}</div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 20px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input id="limpiar" type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar">
            </div>
        </div>
    </form>

    <div class="div div-agregar">
        {% if_tiene_permiso request "cobro_clientes"%}
            <a class="boton boton-ok" href="{% url "cobro_clientes" %}">Registrar Cobro</a>
        {% endif_tiene_permiso %}
        {% if_tiene_permiso request "cruce_documentos_cobros"%}
            <a class="boton boton-ok" href="{% url "cruce_documentos_cobros" %}">Cruce de Doc/Cta</a>
        {% endif_tiene_permiso %}
    </div>

    <div class="botones-administracion">
    {% if objetos %}
        {% if_tiene_permiso request "detalle_cobro"%}
            <a id="ver" class="boton boton-administrador" href="#">Ver</a>
        {% endif_tiene_permiso %}
        <a id="reversar" class="boton boton-administrador" href="#">Reversar</a>
    {% endif %}

        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>

    {% if objetos %}
        <div class="table-responsive">
        <table id="lista" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    <th style="width: 60px;"></th>
                    <th style="width: 90px;">Fecha</th>
                    <th style="width: 120px;"># Comprobante</th>
                    <th style="width: 180px;">Forma de pago</th>
                    <th>Concepto</th>
                    <th>Cliente</th>
                    <th style="width: 120px;">Monto</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objetos %}
                    <tr>
                        <td  style="width: 51px; text-align: center;"><input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                data-ver="{% url "detalle_cobro" obj.id%}"
                                data-anular="{% url "anular_cobro" obj.id%}"
                                data-reversar="{% url "reversar_cobro" obj.id%}"
                                data-status="{{ obj.status }}"></td>
                        <td class="text-left fecha_reg">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                        <td class="nombre text-left">{{ obj.num_comp }}</td>
                        <td class="text-left">{{ obj.forma_pago.descripcion }}</td>
                        <td>{{ obj.concepto }}</td>
                        <td class="cliente">{{ obj.cliente.razon_social }}</td>
                        <td class="text-right">{% float_con_comas_snippet obj.monto %}</td>
                        <td>{{ obj.get_status }}</td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>

        {% paginacion_html objetos arreglo_paginado muestra_paginacion %}

        </div>
    {% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}
    <!-- Div para los alert-->

 <!-- Alerta-->
     <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="reversar_cobro_modal" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Reversar Cobro</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <form id="form_reversar_cobro">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <label>{{ reversion_cobro_form.fecha.label }}</label>
                                </td>
                                <td>
                                    {{ reversion_cobro_form.fecha }}
                                </td>
                                <td>
                                    Número de Comprobante:
                                </td>
                                <td id="num_comp_rev">CCO0001223</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 7px; padding-top: 7px">
                                    <label>Cliente</label>
                                </td>
                                <td id="cliente_reversar">
                                </td>
                                <td>
                                    Fecha de Registro:
                                </td>
                                <td id="fecha_reg_reversar"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>{{ reversion_cobro_form.concepto.label }}</label>
                                </td>
                                <td colspan="3">
                                    {{ reversion_cobro_form.concepto }}
                                </td>
                            </tr>
                        </table>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="aceptar_reversar">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                        <div class="div_error"></div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}