{% load widget_tweaks %}
{% if not bandera_doc_cruzar or snnipet%}
    <div id="cta_por_cruzar" class="table-responsive" style="width: 1300px;">
        <table id="tabla_formset_detalle_cta" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-cuentas-pagar tabla-cruce-doc" style="margin-top: 20px;">
            <thead>
                <tr>
                   <th style="display: none"></th>
                    <th style="width: 40px;"></th>
                    <th class="text-center" style="width: 150px;">Tipo de Documento</th>
                    <th class="text-center" style="width: 150px;"># Documento</th>
                    <th class="text-center" style="width: 120px;">Fecha de Registro</th>
                    <th class="text-center" style="width: 120px;">Fecha de Vencimiento</th>
                    <th class="text-center" style="width: 90px;">Total</th>
                    <th class="text-center" style="width: 90px;">Saldo</th>
                    <th class="text-center">Referencia</th>
                    <th class="text-center" style="width: 220px;">Cuenta</th>
                    <th class="text-center" style="width: 130px;">Valor</th>
                </tr>
            </thead>
            <tbody>
            {{ detalle_docs.management_form }}
            {% for form in detalle_docs %}
                <tr>
                    <td style="display: none">{{ form.id_cuenta_cobrar }}</td>
                    <td>{{ form.check }}</td>
                    <td>{{ form.tipo_doc }}</td>
                    <td>{{ form.numero_doc }}</td>
                    <td>
                        {% if form.fecha_reg.errors %}
                            {{ form.fecha_reg|add_class:"campo_requerido" }}
                        {% else %}
                            {{ form.fecha_reg }}
                        {% endif %}
                    </td>
                    <td>
                        {{ form.fecha_ven|add_class:"text-center" }}
                    </td>
                    <td>{{ form.total|add_class:"text-right" }}</td>
                    <td>{{ form.saldo|add_class:"text-right" }}</td>
                    <td title="{{ form.referencia.value }}">{{ form.referencia }}</td>
                    <td>{% if form.cuenta.errors %}{{ form.cuenta|add_class:"campo_requerido" }}{% else %}{{ form.cuenta }}{% endif %}</td>
                    <td>{% if form.valor.errors %}
                            {{ form.valor|add_class:"campo_requerido" }}
                        {% else %}
                            {{ form.valor|add_class:"text-right" }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

             <tr>
                <td colspan="8" style="text-align: right; padding-right: 20px; background: #F6F6F6 !important;"><label class="sel_forma_pago" style="text-align: right;"><b>Total Cruce</b></label></td>
                <td style="background: #E6E6E6 !important; padding-right:8px;text-align: right;"><label id="total_cruce_cta" style="background: #E6E6E6;text-align: right;">$ 0</label></td>
            </tr>
         </tbody>
        </table>
    </div>
    <div id="tiene_docs" style="display: none" data-error="0"></div>

{% else %}

    <div id="tiene_docs" style="display: none" data-error="1"></div>

    {% if messages %}
        {% for message in messages %}

        <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <div class="media">
                <figure class="pull-left alert--icon">
                    {% if message.tags %}
                        {% if message.tags == "error" %}
                        <i class="pe-7s-close-circle"></i>
                        {% else %}
                        <i class="pe-7s-info"></i>

                        {% endif %}
                    {% endif %}

                </figure>
                <div class="media-body">

                    <p class="alert--text">{{ message }}.</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

{% endif %}
