{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Movimientos Bancarios{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 Landscape{% endblock %}
{% block logo_url %}{{ empresa.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Reporte Movimientos Bancarios{% endblock %}
{% block tabla_contenido %}
    {% if lista %}
        {% for obj_list in lista %}
            {% if obj_list.lista %}
                <p class="tabla-pre-detalles"><label class="detalle-codigo">{{ obj_list.banco.descripcion }}</label></p>
                <table class="table table-hover  tabla table-striped" border="0">
                    <thead>
                        <tr>
                            <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 110px;"># Comprobante</th>
                            <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 70px;">Fecha</th>
                            <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 200px;">Referencia</th>
                            <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 120px;">Recibido/Pagado</th>
                            <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 80px">Estado</th>
                            <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 200px;">Concepto</th>
                            <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px; ">Débitos</th>
                            <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px; ">Créditos</th>
                            <th style="text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;" colspan="8">Saldo:</td>
                        <td  style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj_list.saldo_ini }}</td>
                    </tr>
                    {% for obj in obj_list.lista %}
                        {% if obj.banco.status == 1%}
                            <tr>
                                <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.banco.num_comp }}</td>
                                <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{ obj.banco.fecha_reg|date:"Y-m-d" }}</td>
                                {% if obj.banco.num_cheque %}
                                    <td>Cheque # {{ obj.banco.num_cheque }}</td>
                                {% else %}
                                    <td>{{ obj.banco.num_referencia|default_if_none:"" }}</td>
                                {% endif %}
                                <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.banco.persona|default_if_none:""|slice:"0:30"|default_if_none:"" }}</td>

                                <td style="text-align: center;padding: 2px 5px; font-size: 9px;">Activo</td>
                                <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.banco.concepto|slice:"0:40"|default_if_none:""}}</td>
                                {% if obj.banco.naturaleza == 1 %}
                                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.banco.valor|floatformat:"2" }}</td>
                                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                                {% else %}
                                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.banco.valor|floatformat:"2" }}</td>
                                {% endif %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.saldo }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.banco.num_comp }}</td>
                                <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{ obj.banco.fecha_reg|date:"Y-m-d" }}</td>
                                {% if obj.banco.num_cheque %}
                                    <td>Cheque # {{ obj.banco.num_cheque }}</td>
                                {% else %}
                                    <td>{{ obj.banco.num_referencia|default_if_none:"" }}</td>
                                {% endif %}
                                <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.banco.persona|default_if_none:""|slice:"0:30" }}</td>

                                <td style="text-align: center;padding: 2px 5px; font-size: 9px;">Anulado</td>
                                <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.banco.concepto|slice:"0:40"}}</td>
                                {% if obj.banco.naturaleza == 1 %}
                                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                                    <td></td>
                                {% else %}
                                    <td></td>
                                    <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                                {% endif %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;"></td>
                            </tr>
                        {% endif %}
                    {% endfor%}
                    <tr>
                        <td colspan="6" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;">Totales</td>
                        <td style="padding: 2px 5px; text-align: right;">{{ obj_list.total_debe }}</td>
                        <td style="padding: 2px 5px; text-align: right;">{{ obj_list.total_haber }}</td>
                        <td style="padding: 2px 5px; text-align: right;"></td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}
{% endblock %}