{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
     <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/print/css/960.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/print/css/screen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/print/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/src/css/print-preview.css" type="text/css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{
        margin-bottom: 0px;
    }
    #tabla_reporte{
        width: 100% !important;
    }
    #tabla_reporte th {
        background: #A9A9A9 !important;
        color: #ffffff;
        text-align: center;
    }

    .top-bar, .container-nav, .container-navigation, .div-agregar{
        display: none;
    }

    .container-externo
    {
        margin-top: 30px;
    }
    body{
        background: transparent;
    }

    #tabla_reporte tbody tr td{
        background: #ffffff !important;
        color: #000000 !important;
        font-size: 13px;
    }
    .cabecera-left{
        border: 0px;
    }

     .tabla-contrato tbody tr td{
         color: #000000 !important;
         font-size: 13px;
     }
     #aside a{
         color: #000000;
     }
   </style>
    <script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
    <script src="{{ STATIC_URL }}cm_html/print/src/jquery.print-preview.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            /*
             * Initialise example carousel
             */
            $("#feature > div").scrollable({interval: 2000}).autoscroll();

            /*
             * Initialise print preview plugin
             */
            // Add link for print preview and intialise
            $('#aside').prepend('<a class="print-preview">Print this page</a>');
            $('a.print-preview').printPreview();


        });
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% if contrato %}
    <div  style="width: 1000px; margin: auto; margin-bottom: 20px;">
        <table class="tabla-contrato" width="100%">
            <tr>
                <td style="width:180px;">
                    <label class="label">N° de Contrato:</label>
                </td>
                <td class="td-dato" style="width: 400px;">
                    {{ contrato.num_cont }}
                </td>
                <td style="width:100px;">
                    <label class="label">Valor:</label>
                </td>
                <td  class="td-numero" style="padding-right: 140px;">
                    <label>{% suma_2_snippet contrato.base0 contrato.baseiva %}</label>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label">  Fecha de Registro:</label>
                </td>
                <td class="td-dato">
                    <label>  {{ contrato.fecha_reg|date:"Y-m-d" }}
                    </label>
                </td>
                <td>
                    <label class="label">Iva:</label>
                </td>
                <td class="td-numero"  style="padding-right: 140px;">
                    <label>{{ contrato.monto_iva|floatformat:2  }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label">Código del Cliente: </label>
                </td>
                <td class="td-dato">
                    <label>
                        {{ contrato.cliente.ruc }}
                    </label>
                </td>
                <td>
                    <label class="label">Total:</label>
                </td>
                <td class="td-numero" style="padding-right: 140px;">
                    <label>{% suma_n contrato.base0 contrato.baseiva contrato.monto_iva|floatformat %}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label">Razón Social del Cliente: </label>
                </td>
                <td class="td-dato">
                    <label>
                        {{ contrato.cliente.razon_social }}
                    </label>
                </td>
                 <td>
                    <label class="label">Costo:</label>
                </td>
                <td class="td-numero" style="padding-right: 140px;">
                    <label>{{ contrato.getTotalDetallesCabecera|floatformat:2 }}</label>
                </td>
            </tr>



        </table>
    </div>

        {% if detalles %}
         <div class="table-responsive" style="width: 1000px; margin: auto; margin-bottom: 20px;">
            {% for detalle in detalles %}
                {% detalle_contrato detalle.id %}

            {% endfor %}
         </div>
        {% else %}
            <p class="msn-vacio">El Contrato actual no posee detalles.</p>
        {% endif %}

        {% else %}
            <p class="msn-vacio">El Contrato actual no se encuentra disponible.</p>
        {% endif %}

        <div id="aside" class="grid_3 push_1" style="color: #ffffff; background: #000000;"></div>


  </body>
</html>

