{% extends "base_comprobante.html" %}
{% block title %}Administración Clip Maestro{% endblock %}
{% block aside_right %}

{% endblock %}


{% block contenedor_left %}
    <div id="menu-principal">
        <h1>Menú Principal</h1>
    </div>
{% endblock %}

{% block contenedor_right %}
    <div id="bienvenida">
        <div id="bienvenida-int">
            <h2>Bienvenidos</h2>
            <p>
                Ingenieros de programas informáticos en blue jeans prueban aplicaciones para teléfonos celulares,
                asdsadsadsadasasd

            </p>
            <p>
                Ingenieros de programas informáticos en blue jeans prueban aplicaciones para teléfonos celulares.

            </p>

        </div>
    </div>
{% endblock %}
