{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Saldos Iniciales Cuentas por Cobrar{% endblock %}
{% load permisostag %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){
            $(".selectpicker").selectpicker();

            $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
            });
            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });

            $(".buscador-cerrar").click(function(){

                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").removeClass("opcion-buscar-hide");

            });

            $(".numerico").keydown(function(event) {
                Numerico(event)
            }).change(function(){
                redondear(this);
            });

            $(".numero_natural").keydown(function(event){
                NumeroEntero(event)
            });

            $("#eliminar").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();
                    var url = $("#lista input[type='radio']:checked").attr("data-eliminar");
                    $("#tit-alert").html("Eliminar Vendedor");
                    $("#body-alert").html('<p>¿ Está seguro de eliminar esta cuenta por pagar?</p>');
                    $("#alert-yn").attr("data-href", url);
                    $("#alert-yn").modal();
                }

                else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para eliminarlo.</p>');
                    $("#alert-ok").modal();
                }

            });
            $("#ok-alert").on("click",function(){
                 var url = $("#alert-yn").attr("data-href");
                 window.location.href = url;
             });

            $("#limpiar").click(function(){
                var form = $("#formulario");
                limpiar_form(form);
            });

        });
    </script>
{% endblock %}
{% block item-venta %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
    {{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
{% endblock %}
{% block ruta-principal %}Ventas{% endblock %}
{% block ruta-actual %}Saldos Iniciales Cuentas por Cobrar{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
       <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>
            <form action="" class="form-group" id="formulario" method="GET">
                <div class="row row-comprobante-cabecera" style="width: auto;">
                    <div class="col-lg-12 contenedor">
                        <div class="comprobante-cabecera-left" style="margin: auto;">
                            <table class="tabla-comprobante-cabecera" style="color: #9A9A9A;">
                                <tr>
                                    <td>
                                        <label><b>{{ buscador.tipo_doc.label }}</b></label>
                                    </td>
                                    <td colspan="3">
                                       {{ buscador.tipo_doc|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 140px;">
                                        <label><b>{{ buscador.num_doc.label }}</b></label>
                                    </td>
                                    <td colspan="3">
                                       {{ buscador.num_doc|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b>{{ buscador.cliente.label }}</b></label>
                                    </td>
                                    <td colspan="3">
                                        {{ buscador.cliente|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b>{{ buscador.monto_ini.label }}</b></label>
                                    </td>
                                    <td style="width: 180px">
                                        {{ buscador.monto_ini|add_class:"txt-100pc" }}
                                    </td>
                                    <td style="padding-left: 10px">
                                        <label><b>{{ buscador.monto_final.label }}</b></label>
                                    </td>
                                    <td style="width: 180px">
                                        {{ buscador.monto_final|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b>{{ buscador.pagado_ini.label }}</b></label>
                                    </td>
                                    <td style="width: 180px">
                                        {{ buscador.pagado_ini|add_class:"txt-100pc" }}
                                    </td>
                                    <td style="padding-left: 10px">
                                        <label><b>{{ buscador.pagado_final.label }}</b></label>
                                    </td>
                                    <td style="width: 180px">
                                        {{ buscador.pagado_final|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b>{{ buscador.plazo.label }}</b></label>
                                    </td>
                                    <td colspan="3">
                                        {{ buscador.plazo|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                            </table>
                            <div style="display: none;">
                                {{ buscador.page }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                    <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                    <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
                </div>
            </form>
       </div>

       <div class="div div-agregar">
            <a class="boton boton-ok" href="{% url "cuentas_x_cobrar_iniciales" %}">Agregar</a>
       </div>

    <div class="botones-administracion">
        {% if objetos %}
        <a id = "eliminar" class="boton boton-administrador" href="#">Eliminar</a>
        {% endif %}
        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>

{% if objetos %}
     <div class="table-responsive">
         <table id = "lista" class="table tabla table-striped tabla-formato">
              <thead>
                    <tr>
                        <th></th>
                        <th>Cliente</th>
                        <th>Tipo Documento</th>
                        <th># Documento</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Cobrado/Cruzado</th>
                        <th>Plazo</th>
                    </tr>
              </thead>

             <tbody>
                 {% for obj in objetos %}
                     <tr>
                         <td  style="width: 51px; text-align: center;">
                             <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                 data-eliminar = "{% url "eliminar_cuentas_x_cobrar_iniciales" obj.id %}"
                                 data-ver = "{% url "ver_vendedores" obj.id  %}"
                             />
                         </td>
                         <td class="nombre">{{obj.cliente.razon_social}}</td>
                         <td class="text-center">{{ obj.documento.descripcion_documento }}</td>
                         <td class="text-center">{{ obj.num_doc }}</td>
                         <td class="text-center">{{ obj.fecha_reg }}</td>
                         <td class="text-center">{{ obj.monto|floatformat:"2" }}</td>
                         <td class="text-center">{{ obj.cobrado|floatformat:"2" }}</td>
                         <td class="text-center">{{ obj.plazo }}</td>
                     </tr>
                 {% endfor%}
             </tbody>
         </table>

            <div class="paginacion">
                <ul  class="pager">
                    {% if objetos.has_previous %}
                      <span class="page">
                      <a data-page="">&lt;< </a>
                      </span>
                    {% else %}
                        <b><<</b>
                    {% endif %}

                    {% if objetos.has_previous %}
                      <span class="page">
                            <a data-page="{{ objetos.previous_page_number }}" class="evento_page" > < </a>
                      </span>

                    {% else %}
                        <b><</b>
                    {% endif %}

                    {% for numero in arreglo_paginado %}
                        {% ifequal numero objetos.number %}
                         <span class="current"> <b>{{ numero }}</b></span>

                        {% else %}
                            <a  data-page="{{ numero }}"  class="evento_page"> {{ numero }} </a>
                        {% endifequal %}
                    {% endfor %}

                    {% if objetos.has_next %}
                      <span class="page">
                        <a data-page="{{ objetos.next_page_number }}" class="evento_page"> >  </a>
                      </span>

                    {% else %}
                         <b>></b>
                    {% endif %}

                    {% if objetos.has_next %}
                      <span class="page">
                      <a data-page="{{ total_paginas }}" class="evento_page">&gt;> </a>
                      </span>
                    {% else %}
                        <b>>></b>
                    {% endif %}
                 </ul>
            </div>
     </div>

{% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
{% endif %}

    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}