{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Estado de Cuenta Cliente{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 Landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Reporte Estado de Cuenta Cliente{% endblock %}
{% block tabla_contenido %}

    {% for obj_saldo in lista_saldo_client %}
        <p class="tabla-pre-detalles" style="font-weight: bold">SALDOS DE: {{ obj_saldo.cliente.razon_social }} ({{ obj_saldo.cliente.ruc }})</p>
        <table class="table table-hover  tabla table-striped" border="0">
            <thead>
                <tr>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 80px;">Fecha</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Tipo Doc.</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 120px;"># Documento</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Débito</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Crédito</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; ">Forma Pago</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Saldo Documento</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Saldo cliente</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: right; padding: 2px 5px; padding-right: 4px" colspan="7">Saldo Inicial</td>
                    <td style="text-align: right; padding: 2px 5px; font-size: 9px;">{{ obj_saldo.saldo|floatformat:"2" }}</td>
                </tr>
                {% for obj in obj_saldo.lista_saldo %}
                    {% if obj.tipo == 1 %}
                        <tr>
                            <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                            <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{ obj.cuentas_x_cobrar.documento.descripcion_documento }}</td>
                            <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.num_doc }}</td>
                            {% if obj.cuentas_x_cobrar.naturaleza == 1 %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.cuentas_x_cobrar.monto|floatformat:"2" }}</td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;"></td>
                            {% else %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;"></td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.cuentas_x_cobrar.monto|floatformat:"2" }}</td>
                            {% endif %}
                            <td></td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.cuentas_x_cobrar.monto|floatformat:"2" }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.saldo|floatformat:"2" }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                            <td  style="text-align: center;padding: 2px 5px; font-size: 9px"></td>
                            <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.num_doc }}</td>
                            {% if obj.cxc_cobro.cuentas_x_cobrar.naturaleza == 2 %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.cxc_cobro.monto|floatformat:"2" }}</td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;"></td>
                            {% else %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;"></td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.cxc_cobro.monto|floatformat:"2" }}</td>
                            {% endif %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">
                                {{ obj.cxc_cobro.cobro.forma_pago.descripcion }}
                                {% if obj.cxc_cobro.cobro.num_cheque %}
                                    # {{ obj.cxc_cobro.cobro.num_cheque }}
                                {% elif obj.cxc_cobro.cobro.referencia %}
                                    {{ obj.cxc_cobro.cobro.referencia }}
                                {% else %}

                                {% endif %}
                                - {{ obj.cxc_cobro.cobro.num_comp }}
                            </td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.cxc_cobro.get_saldo_doc|floatformat:"2" }}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.saldo|floatformat:"2" }}</td>
                        </tr>
                    {% endif %}
                {% endfor%}
                <tr>
                    <td colspan="3" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;">Totales:</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj_saldo.saldo_deudor|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ obj_saldo.saldo_acreedor|floatformat:"2" }}</td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
 {% endblock %}