{% extends "base.html" %}
{% block title %}Reporte de Clientes{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }



    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        function limpiar_form(){
            $(".filter-option" ).empty();
            $('#formulario').find('input[type=text]').each(function(){
                $(this).val("");
            });
        }
    </script>

    <script>
        jQuery(document).ready(function($) {
            var formulario = $("#formaulario");

            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center td-item");
                    }
                })
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_param = document.URL.split("?")[1]
                var url = $(this).attr("href");
                window.location.href = url + "?" + url_param;
            });

            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();



        });

    </script>



{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Clientes / Datos Generales{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if items %}
    <div class="div div-descargas" style="margin-bottom: 10px;">
        <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_clientes_excel" %}"></a>
        <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_clientes_pdf" %}"></a>
    </div>

    <div class="table-responsive">
        <!-- Default panel contents -->
        <!-- Table -->

        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    <th style="width: 100px; text-align: center;">Tipo de Persona</th>
                    <th style="width: 100px; text-align: left;">Tipo Identificación</th>
                    <th style="width: 100px; text-align: left;">Identificación</th>
                    <th style="width: 150px;">Razón Social</th>
                    <th style="width: 60px; text-align: left;">Actividad</th>
                    <th style="width: 60px; text-align: left;">Dirección</th>
                </tr>
            </thead>

            <tbody>

                {% for obj in items %}
                <tr>
                   <td style="text-align: center;">{{ obj.tipo_cliente.descripcion }}</td>
                   <td title="{{ obj.tipo_identificacion.descripcion}}" style="text-align: left;">{{ obj.tipo_identificacion.descripcion|slice:"0:12"}}{% if obj.tipo_identificacion.descripcion|length > 12 %}...{% endif %}</td>
                   <td style="text-align: left;">{{ obj.ruc }}</td>
                   <td title="{{ obj.razon_social}}" style="text-align: left;">{{ obj.razon_social|slice:"0:27" }}{% if obj.razon_social|length > 27 %}...{% endif %}</td>
                  {% if obj.actividad %}
                    <td style="text-align: left;">{{ obj.actividad.descripcion }}</td>
                   {% else %}
                    <td style="text-align: left;">No Definida</td>
                   {% endif %}
                   {% if obj.direccion %}
                    <td title="{{ obj.direccion}}" style="text-align: left;">{{ obj.direccion|slice:"0:27" }}{% if obj.direccion|length > 27 %}...{% endif %}</td>
                   {% else %}
                    <td style="text-align: left;">Dirección No Definida</td>
                   {% endif %}



                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    {% else %}
        <p style="padding: 30px 0px; text-align: center;">Actualmente no existen Clientes registrados en el sistema.</p>
    {% endif %}
    <div class="div div-agregar" style="padding-bottom: 30px;">
            <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>


{% endblock %}