{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% load snnipet_generales %}
{% block titulo %}Reporte Saldos por Cliente{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Reporte Saldos por Cliente{% endblock %}
{% block tabla_contenido %}

    <div class="div-centrar div-info-basica">
        <table class="table table-hover  tabla table-striped" border="0">
            <thead>
                <tr>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 220px;">Cliente</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Saldo Ventas</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">N/D</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">N/C</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Anticipos</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in lista %}
                    <tr>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.cliente.razon_social}} ({{ obj.cliente.ruc }})</td>
                        <td  style="text-align: right;padding: 2px 5px; font-size: 9px">{{obj.otdoc|floatformat:"2"}}</td>
                        <td  style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.nd|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.nc|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.ant|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.total|floatformat:"2"}}</td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
        <table class="table table-hover  tabla table-striped" border="0" style="margin-top: 60px">
            <tbody>
                <tr>
                    <td  style="text-align: left;padding: 2px 5px; font-size: 9px; width: 220px; font-weight: bold">Totales</td>
                    <td  style="text-align: right;padding: 2px 5px; font-size: 9px; width: 100px; font-weight: bold">{{total_saldo_ventas|floatformat:"2"}}</td>
                    <td  style="text-align: right;padding: 2px 5px; font-size: 9px; width: 100px; font-weight: bold">{{total_nd|floatformat:"2"}}</td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px; width: 100px; font-weight: bold" >{{total_nc|floatformat:"2"}}</td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px; width: 100px; font-weight: bold">{{total_ant|floatformat:"2"}}</td>
                    <td style="text-align: right;padding: 2px 5px; font-size: 9px; width: 100px; font-weight: bold">{{total|floatformat:"2"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}