
{# Tabla generada por el sistema para la retención en compras #}

<table id="detalle_retenciones" class="tabla-retencion-detalle tabla-retencion-detalle2" style="margin-top: 30px;" border="1">
    <thead>
        <tr>
            <th style="display: none"></th>
            <th style="display: none"></th>
            <th style="width: 140px;"></th>
            <th><label>Cuenta</label></th>
            <th style="width: 100px;"><label>Base</label></th>
            <th style="width: 100px;"> <label>%</label></th>
            <th style="width: 100px;"><label>Total</label></th>
        </tr>
    </thead>
    {{ forms.management_form }}
    <tbody>
        {% for form in forms %}
            <tr>
                <td style="display:none">{{ form.tipo }}</td>
                <td style="display:none">{{ form.cod_sri }}</td>
                <td>{{ form.codigo_ret }}</td>
                <td>{{ form.cod_cta }}</td>
                <td>{{ form.base }}</td>
                <td>{{ form.porcentaje }}</td>
                <td>{{ form.total }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>