{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte cuentas por fecha{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 Landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario}}{% endblock %}
{% block reporte_titulo %}Reporte cuentas por fecha{% endblock %}
{% block tabla_contenido %}
            <table border="0" id="table-cabecera" style="border: none;">
                <tr>
                    <td style="width: 100px;"></td>
                    <td style="border: none; padding-bottom: 5px;text-align: center;border-bottom: 2px solid #A2A3A5;">
                        <p style="text-align: center;">
                            <img style="text-align: center; margin: auto;" height="44" src="clipmaestro/static/img/logo_tmp.jpg"/>
                        </p>
                         <p style="text-align: center;">
                            <span style="font-weight: bold;font-size: 10px; display: block;">Inpulso S.A.</span>
                        </p>
                         <p style="text-align: center;">
                            <span style="font-size: 10px;display: block;"><strong>Usuario:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</span>
                        </p>
                         <p style="text-align: center;">
                           <span style="font-size: 10px;display: block;"><strong>Fecha de Impresión:</strong> {{ fecha_actual|date:"d/m/Y" }}</span>
                        </p>

                    </td>
                    <td style="width: 100px;"></td>
                </tr>
            </table>
        </div>

        <div class="div-centrar div-info-basica">

            <h5 style="text-align: center; color: #000000;  font-size: 18px; font-weight: normal;">Reporte de Cuenta</h5>
            <table id="table-info-basica">
                {% if cuenta_id %}
                 <tr>
                    <td class="td-label1">
                        Cuenta:
                    </td>
                    <td class="td-info1">
                       {{ cuenta_id.descripcion }}
                    </td>

                 </tr>
                    <tr>
                    <td class="td-label1">
                        Código:
                    </td>
                    <td class="td-info1">
                       {{ cuenta_id.codigo }}
                    </td>

                 </tr>
                {% endif %}
                 <tr>
                      {% if fecha_inicio == "0001-01-01" %}
                            <td class="td-label1">
                                Fecha Final:
                            </td>

                            <td class="td-info1">
                           {{ fecha_fin|date:"d-m-Y" }}

                            </td>
                         {% else %}
                            <td class="td-label1">
                               Rango de Fechas:
                            </td>

                            <td class="td-info1">
                            {{ fecha_inicio|date:"d-m-Y" }} - {{ fecha_fin|date:"d-m-Y" }}

                            </td>

                         {% endif %}

                </tr>
                <tr>
                    <td class="td-label1">Total:</td>
                    <td  class="td-info1">${{total_cuenta|floatformat:2}}</td>
                </tr>

            </table>
        </div>

         <div class="div-centrar div-tabla">
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 10px; border: none;">
                <thead style="background: #E9E8E6;">
                    <tr>
                        <th style="border: none;padding-top: 8px; width: 80px">F. Creación</th>
                        <th style="border: none;padding-top: 8px;width: 60px">Naturaleza</th>
                        <th style="border: none;padding-top: 8px;">Total Pagar</th>


                    </tr>
                </thead>
                <tbody style="background: #F5F4F2;">
                 {% if cuentas %}
                    {% for cuenta in cuentas %}
                     <tr>

                            <td style="border: none;padding-top: 2px;text-align: center;">{{ cuenta.fecha_creacion|date:"d-m-Y" }}</td>

                            <td style="border: none;padding-top: 2px; text-align: center;">
                                {% if cuenta.dbcr == 'D' %}
                                    <span>Deudora</span>
                                {% endif %}
                                {% if cuenta.dbcr == 'H' %}
                                    <span>Acredora</span>
                                {% endif %}
                            </td>
                            <td style="border: none;padding-top: 2px;" class="td-derecha">$ {{ cuenta.valor|floatformat:2 }}</td>
                        </tr>
                    {% endfor%}
                 {% endif %}

                 </tbody>
            </table>
         </div>
        <br>

         <div class="div-centrar div-tabla">

               <div id="div-firmas">
                    <table id="table-firmas" style="text-align: center">

                         <tr>

                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                            </td>
                            <td style="border: none; width: 30px;">

                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                            </td>
                            <td style="border: none; width: 30px; ">

                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Revisado por:</p>
                            </td>
                        </tr>

                    </table>

                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
{% endblock %}