{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Ventas por Fechas{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 Landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Reporte Ventas por Fechas{% endblock %}
{% block tabla_contenido %}

        <table class="table table-hover  tabla table-striped" border="0">
            <thead>
                <tr>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;"># Comprobante</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 70px;">Fecha</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Tipo Doc.</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;"># Documento</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 140px;">Cliente</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Base 0%</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Base IVA</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Monto IVA</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Monto ICE</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Descuento</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Total Venta</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Total Retención</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 60px;">Por Cobrar</th>
                    <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 60px;">Estado</th>
                </tr>
            </thead>
          <tbody>
                {% for obj in objetos %}
                <tr>
                    {% if obj.status == 1 %}
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.numero_comprobante }}</td>
                        <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{obj.fecha|date:"Y-m-d"}}</td>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.documento.descripcion_documento}}</td>
                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.num_documento}}</td>
                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.cliente.razon_social|slice:"0:30"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.subtotal_tarifa0|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.subtotal_tarifa12|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.iva_total|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.total_ice|floatformat:"2" }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% suma_2_snippet obj.descuento_tarifa12 obj.descuento_tarifa0%}</td>
                        {# Crea las lista para el Snnipet SumaResta #}
                        {% make_list obj.subtotal_tarifa0 obj.subtotal_tarifa12 obj.iva_total obj.total_ice as sum_list %}
                        {% make_list obj.descuento_tarifa12 obj.descuento_tarifa0 as rest_list %}
                        {# Recibe dos listas, la cual la primera es para los valores que se van a summar y la segunda #}
                        {# los que se van a restar #}
                        <td style="text-align: center;padding: 2px 5px;  font-size: 9px;">{% SumaResta sum_list rest_list %}</td>

                        {% if obj.getRetencion %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.getRetencion.monto|floatformat:"2" }}</td>
                            {% make_list obj.getRetencion.monto as rest_list %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% SumaResta sum_list rest_list %}</td>
                        {% else %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% SumaResta sum_list rest_list %}</td>
                        {% endif %}

                        <td style="text-align: center;padding: 2px 5px; font-size: 9px;">Activa</td>

                    {% elif obj.status == 2 %}
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.numero_comprobante }}</td>
                        <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{obj.fecha|date:"Y-m-d"}}</td>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.documento.descripcion_documento}}</td>
                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.num_documento}}</td>
                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.cliente.razon_social|slice:"0:30"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                        <td style="text-align: center;padding: 2px 5px;  font-size: 9px;">0.00</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                        <td style="text-align: center;padding: 2px 5px; font-size: 9px;">Anulada</td>
                    {% else %}
                        <!-- Ventas Provisionado no se muestran -->
                        <td></td>
                    {% endif %}
                {% endfor%}
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;">Total de Ventas activas: </td>
                    <td style="padding: 2px 5px; text-align: right;">{{ base0|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ baseiva|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ monto|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ total_ice|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ total_ice|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ total_venta|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ total_ret|floatformat:"2" }}</td>
                    <td style="padding: 2px 5px; text-align: right;">{{ cobrar|floatformat:"2" }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

{% endblock %}