{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Ventas Pendientes{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Reporte Ventas Pendientes por Entregar{% endblock %}
{% block tabla_contenido %}

         {% if query %}
             <table style="padding: 5px; width: 100px; border-style: none; margin-top: 20px;">
                {% if parametro == 2 %}
                    <tr>
                        <td>
                            <p>CLIENTE: <label>{{ cliente.razon_social }}</label></p>
                        </td>
                    </tr>
                {% elif parametro == 3 %}
                    <tr>
                        <td>
                            <p>ITEM: <label>{{ item.codigo }}-{{ item.nombre }}</label></p>
                        </td>
                    </tr>
                {% elif parametro == 4 %}
                    <tr>
                        <td>
                            <p>CLIENTE: <label>{{ cliente.razon_social }}</label></p>
                        </td>
                         <td>
                            <p>ITEM: <label>{{ item.codigo }}-{{ item.nombre }}</label></p>
                        </td>
                    </tr>
                {% endif %}
             </table>
             <table class="table table-hover  tabla table-striped" border="0">
                <thead>
                    <tr>
                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;">F. Emisión</th>
                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;"># Documento</th>
                        <!--
                        {% if parametro == 1 or parametro == 2 %}
                            <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;">Item</th>
                        {% endif %}
                        {% if parametro == 3 %}
                            <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;">Cliente</th>
                        {% endif %}
                        -->
                        {% if parametro == 2%}
                        <th class="text-center">Item</th>
                        {% endif %}
                        {% if parametro == 1%}<!--  si no he seleccionado cosas en los combos muestra ambos el cliente y el items -->
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Item</th>
                        {% endif %}
                        {% if parametro == 3 %}
                            <th class="text-center">Cliente</th>
                        {% endif %}

                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;">Cant. Vendida</th>
                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;">Cant. Entregada</th>
                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px;">Cant. Pendiente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in query %}
                        <tr>
                            <td style="text-align: center; padding: 2px 5px;  font-size:9px;">{{obj.venta_cabecera.fecha|date:"Y-m-d"}}</td>
                            <td style="text-align: center; padding: 2px 5px;  font-size:9px;">{{ obj.venta_cabecera.num_documento }}</td>
                            <!--
                            {% if parametro == 1 or parametro == 2 %}
                                <td style="text-align: center; padding: 2px 5px;  font-size:9px;">{{ obj.item.codigo }}-{{ obj.item.nombre }}</td>
                            {% endif %}
                            {% if parametro == 3 %}
                                <td style="text-align: left; padding: 2px 5px;  font-size:9px;">{{ obj.cabecera_venta.razon_social }}</td>
                            {% endif %}
                            -->
                            {% if parametro == 2 %}
                            <td>{{ obj.item.codigo }}-{{ obj.item.nombre}}</td>
                            {% endif %}
                            {% if parametro == 1  %}
                                <td >{{ obj.venta_cabecera.cliente.razon_social }}</td>
                                <td  >{{ obj.item.codigo }}-{{ obj.item.nombre}}</td>
                            {% endif %}
                            {% if parametro == 3 %}
                                <td >{{ obj.venta_cabecera.cliente.razon_social }}</td>
                            {% endif %}
                            <td style="text-align: right; padding: 2px 5px;  font-size:9px; ">{{ obj.cantidad }}</td>
                            <td style="text-align: right; padding: 2px 5px;  font-size:9px;">{{ obj.cant_entregada }}</td>
                            <td style="text-align: right; padding: 2px 5px;  font-size:9px;">{% resta_snippet obj.cantidad obj.cant_entregada  %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
             </table>
         {% endif %}

{% endblock %}