{% extends "base.html" %}
{% block title %}Reporte de Ventas por Fecha{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>

      jQuery(document).ready(function($) {

            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

        });



    </script>

    <script>
        jQuery(document).ready(function($) {
            var formulario = $('#formulario');
            $('#limpiar').click(function(){
               limpiar_form(formulario);
               $('.div-descargas').remove();
               $('.row-cabecera').remove();
            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });
            var total = 0.0;
            $(".total").each(function(){
                total += parseFloat($(this).text());
            });


            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });

            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();

             $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Ventas / Ventas por Fecha{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url "reporte_venta_por_fecha" %}" data-action="{% url "reporte_venta_por_fecha" %}" class="form-group" id="formulario" method="POST">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {% if buscador.fecha_ini.errors %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>

                            <td>
                                {% if buscador.fecha_final.errors %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="display: none">
                            <td>{{ buscador.page }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
        </div>
    </form>

    {% if objetos %}
        <div class="div div-descargas" style="padding: 0px">
            <a class="img_report img_excel excel" title="Descagar en EXCEL" target="_blank" href="{% url "reporte_venta_por_fecha_excel" %}"></a>
            <a class="img_report img_pdf excel" title="Descagar en PDF" target="_blank" href="{% url "reporte_venta_por_fecha_pdf" %}"></a>
        </div>

        <div class="row row-cabecera">
            <div class="div-centrar div-tabla">
                <h3 class="sustitulo-comprobante">Reporte de Ventas desde: {{ buscador.fecha_ini.value }} hasta:{{ buscador.fecha_final.value }}</h3>
                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="text-center"># Comprobante</th>
                        <th class="text-center" style="width: 84px;">Fecha</th>
                        <th class="text-center">Tipo Doc.</th>
                        <th class="text-center" style="width: 170px;"># Documento</th>
                        <th class="text-center" style="width: 130px;">Cliente</th>
                        <th class="text-center">Base 0%</th>
                        <th class="text-center">Base IVA</th>
                        <th class="text-center">Monto IVA</th>
                        <th class="text-center">Monto ICE</th>
                        <th class="text-center">Descuento</th>
                        <th class="text-center" style="width: 86px;">Total Vta.</th>
                        <th class="text-center">Total Ret.</th>
                        <th class="text-center">Por Cobrar</th>
                        <th class="text-center">Estado</th>
                    </tr>
                    {% for obj in objetos %}
                        <tr>
                            {% if obj.status == 1 %}
                                <td><a target="_blank" href="{% url "detalle_venta_reportepdf" obj.id%}"><ins>{{ obj.numero_comprobante }}</ins></a></td>
                                <td>{{ obj.fecha|date:'Y-m-d' }}</td>
                                <td>{{ obj.documento.descripcion_documento }}</td>
                                <td>{{ obj.vigencia_doc_empresa.serie }}-{{ obj.num_documento }}</td>
                                <td>{{ obj.cliente.razon_social|slice:"0:30" }}</td>
                                <td style="text-align: right;">{{ obj.subtotal_tarifa0|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj.subtotal_tarifa12|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj.iva_total|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj.total_ice|floatformat:"2" }}</td>
                                <td style="text-align: right;">{% suma_2_snippet obj.descuento_tarifa12 obj.descuento_tarifa0%}</td>
                                {# Crea las lista para el Snnipet SumaResta #}
                                {% make_list obj.subtotal_tarifa0 obj.subtotal_tarifa12 obj.iva_total  obj.total_ice as sum_list %}
                                {% make_list obj.descuento_tarifa12 obj.descuento_tarifa0 as rest_list %}
                                {# Recibe dos listas, la cual la primera es para los valores que se van a summar y la segunda #}
                                {# los que se van a restar #}
                                <td style="text-align: right;">{% SumaResta sum_list rest_list %}</td>

                                {% if obj.getRetencion %}
                                    <td style="text-align: right;">{{ obj.getRetencion.monto|floatformat:"2" }}</td>
                                    {% make_list obj.getRetencion.monto as rest_list %}
                                    <td style="text-align: right;">{% SumaResta sum_list rest_list %}</td>
                                {% else %}
                                    <td style="text-align: right;">0.00</td>
                                    <td style="text-align: right;">{% SumaResta sum_list rest_list %}</td>
                                {% endif %}
                                <td>Activa</td>

                            {% elif obj.status == 2 %}
                                <td><a target="_blank" href="{% url "detalle_venta" obj.id%}"><ins>{{ obj.numero_comprobante }}</ins></a></td>
                                <td>{{ obj.fecha|date:'Y-m-d' }}</td>
                                <td>{{ obj.documento.descripcion_documento }}</td>
                                <td>{{ obj.vigencia_doc_empresa.serie }}-{{ obj.num_documento }}</td>
                                <td>{{ obj.cliente.razon_social|slice:"0:30" }}</td>
                                <td style="text-align: right;">0.00</td>
                                <td style="text-align: right;">0.00</td>
                                <td style="text-align: right;">0.00</td>
                                <td style="text-align: right;">0.00</td>
                                <td style="text-align: right;">0.00</td>
                                <td style="text-align: right;">0.00</td>
                                <td style="text-align: right;">0.00</td>
                                <td style="text-align: right;">0.00</td>
                                <td>Anulada</td>
                            {% else %}
                                <!-- VEntas con estado Provisionadas no se muestran en el reporte-->
                            {% endif %}
                        </tr>
                    {% endfor%}
                        <tr>
                            <td  style="text-align: right; padding-right: 30px;" colspan="5">Total de Ventas Activas</td>
                            <td  style="text-align: right;">{{ base0|floatformat:"2" }}</td>
                            <td style="text-align: right;">{{ baseiva|floatformat:"2" }}</td>
                            <td style="text-align: right;">{{ monto|floatformat:"2" }}</td>
                            <td style="text-align: right;">{{ total_ice|floatformat:"2" }}</td>
                            <td style="text-align: right;">{{ total_desc|floatformat:"2" }}</td>
                            <td style="text-align: right;">{{ total_venta|floatformat:"2" }}</td>
                            <td style="text-align: right;">{{ total_ret|floatformat:"2" }}</td>
                            <td style="text-align: right;">{{ cobrar|floatformat:"2" }}</td>
                            <td></td>
                        </tr>
                </table>
            </div>
        </div>
    {% else %}
        {% mensaje_no_data request %}
    {% endif %}
    <div class="div div-agregar">
        <a class="boton boton-gray" href="{% url "reporte_inicio" %}" >
            Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}