{% extends "base.html" %}
{% block title %}Reporte de Ventas por Item{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_proveedores/estado_cuenta_proveedores.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');
            var formulario = $('#formulario');
            $('#limpiar').click(function(){
               limpiar_form(formulario);
            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });
            var total = 0.0;
            $(".total").each(function(){
                total += parseFloat($(this).text());
            });

            show_hide_prov($("#id_all_items"));
            //saldo_proveedor(2);

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(e){
                EliminarFila(e,this,"#proveedores");
            });
            $("#id_all_items").click(function(){
                show_hide_prov(this);
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();

            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });
            $(".selectpicker").selectpicker();
        });
    </script>
{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Ventas / Ventas por Item {% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_ventas_item" %}" data-action="{% url "reporte_ventas_item" %}" class="form-group" id="formulario" method="POST">{% csrf_token %}
            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td style="width: 150px;">
                                    <label>Rango de Fechas:</label>
                                </td>

                                <td style="width: 150px; padding-right: 20px;">
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>

                                <td style="width: 120px;">
                                    <label>Hasta</label>
                                </td>

                                <td>
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px;">
                                    <label>{{ buscador.all_items.label }}</label>
                                </td>
                                <td colspan="3">{{ buscador.all_items }}</td>
                            </tr>
                        </table>
                        <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                            <tr>
                                <td style="border: none;">
                                    {{ items.management_form }}
                                    <table class="tabla-comprobante-cabecera" id="proveedores">
                                        <tbody>
                                        {% for form in items %}
                                            <tr>
                                                <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                    <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                                </td>
                                                <td class="td-label1" style="text-align: left; width: 116px;">
                                                    <label class="control-label" style="text-align: left;" for="{{ form.item.label }}">
                                                    {% if form.item.field.required %}
                                                        <span class="requerido">*</span>
                                                    {% else %}
                                                        <span class="no-requerido" style="display: none;"></span>
                                                    {% endif %}
                                                    <b>{{ form.item.label }}  </b>
                                                    <span class="dospuntos">:</span></label>
                                                </td>
                                                <td class="td-control1 td-relative" colspan="3">
                                                    {% if form.item.errors %}{{ form.item|add_class:"campo_requerido combo" }}{% else %}{{ form.item|add_class:"combo" }}{% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="margin: 0; padding: 0;">
                                <td style="border: none; margin: 0; padding: 0;">
                                    <table id="tb-boton-add" style="margin: 0">
                                        <tr>
                                            <td  style="border: 0;">
                                                <a class="tr-agregar" id="add_proveedor"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otro item</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
            </div>
    </form>


    {% if lista %}
            <div class ="datos-mostrar-ocultar">
                <div class="div-content-report-jasper">
                <div class="div-descargas" style="padding: 0; ">
                    <a class="img_report img_excel excel" title="Descagar en EXCEL" target="_blank" href="{% url "reporte_ventas_item_excel" %}"></a>
                    <a class="img_report img_pdf excel" title="Descagar en PDF" target="_blank" href="{% url "reporte_ventas_item_pdf" %}"></a>
                </div>

                <div style="border: 2px solid #E5E5E5;">
                    {{ lista.content|safe }}
                </div>
            </div>
            </div>
        {% else %}
            <p class="resultado-vacio"></p>
        {% mensaje_no_data request %}
        {% endif %}

    <div class="div div-agregar">
            <a class="boton boton-gray" href="{% url "reporte_inicio" %}" >Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}