{% extends "base.html" %}
{% block title %}Reporte de Ventas por Cliente{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_proveedores/estado_cuenta_proveedores.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');
            var formulario = $('#formulario');
            $('#limpiar').click(function(){
               limpiar_form(formulario);
            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });
            var total = 0.0;
            $(".total").each(function(){
                total += parseFloat($(this).text());
            });

            show_hide_prov($("#id_all_client"));
            //saldo_proveedor(2);

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(e){
                EliminarFila(e,this,"#proveedores");
            });
            $("#id_all_client").click(function(){
                show_hide_prov(this);
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();

            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });
            $(".selectpicker").selectpicker();
        });
    </script>
{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Ventas / Ventas por Cliente{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_ventas_cliente" %}" data-action="{% url "reporte_ventas_cliente" %}" class="form-group" id="formulario" method="post">
            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td style="width: 150px;">
                                    <label>Rango de Fechas:</label>
                                </td>

                                <td style="width: 150px; padding-right: 20px;">
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>

                                <td style="width: 120px;">
                                    <label>Hasta</label>
                                </td>

                                <td>
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px;">
                                    <label>{{ buscador.all_client.label }}</label>
                                </td>
                                <td colspan="3">{{ buscador.all_client }}</td>
                            </tr>
                        </table>
                        <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                            <tr>
                                <td style="border: none;">
                                    {{ clientes.management_form }}
                                    <table class="tabla-comprobante-cabecera" id="proveedores">
                                        <tbody>
                                        {% for form in clientes %}
                                            <tr>
                                                <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                    <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                                </td>
                                                <td class="td-label1" style="text-align: left; width: 116px;">
                                                    <label class="control-label" style="text-align: left;" for="{{ form.cliente.label }}">
                                                    {% if form.cliente.field.required %}
                                                        <span class="requerido">*</span>
                                                    {% else %}
                                                        <span class="no-requerido" style="display: none;"></span>
                                                    {% endif %}
                                                    <b>{{ form.cliente.label }}  </b>
                                                    <span class="dospuntos">:</span></label>
                                                </td>
                                                <td class="td-control1 td-relative" colspan="3">
                                                    {% if form.cliente.errors %}{{ form.cliente|add_class:"campo_requerido combo" }}{% else %}{{ form.cliente|add_class:"combo" }}{% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="margin: 0; padding: 0;">
                                <td style="border: none; margin: 0; padding: 0;">
                                    <table id="tb-boton-add" style="margin: 0">
                                        <tr>
                                            <td  style="border: 0;">
                                                <a class="tr-agregar" id="add_proveedor"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otro cliente</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
            </div>
    </form>
    {% if objetos %}
        <div class="div div-descargas" style="padding: 0px">
            <a class="img_report img_excel excel" title="Descagar en EXCEL" target="_blank" href="{% url "reporte_ventas_clientes_excel" %}">Excel</a>
            <a class="img_report img_pdf excel" title="Descagar en EXCEL" target="_blank" href="{% url "reporte_ventas_cliente_pdf" %}">PDF</a>
        </div>

        <div class="row row-cabecera">
            {% for obj_cliente in objetos %}
                {% if obj_cliente.lista_ventas %}
                    <div class="div-centrar div-tabla">
                    <h4 class="reporte-subtitle">Cliente: {{ obj_cliente.cliente.razon_social }} -  ({{ obj_cliente.cliente.ruc }})</h4>
                    <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="text-center"># Comprobante</th>
                            <th class="text-center" style="width: 84px;">Fecha</th>
                            <th class="text-center" style="width: 170px;"># Documento</th>
                            <th class="text-center">Base 0%</th>
                            <th class="text-center">Base IVA</th>
                            <th class="text-center">Descuento</th>
                            <th class="text-center">Monto IVA</th>
                            <th class="text-center">Monto ICE</th>
                            <th class="text-center" style="width: 86px;">Total Vta.</th>
                            <th class="text-center">Total Ret.</th>
                            <th class="text-center">Por Cobrar</th>
                            <th class="text-center">Estado</th>
                        </tr>
                        {% for obj in obj_cliente.lista_ventas %}
                            <tr>
                                <td><a target="_blank" href="{% url "detalle_venta_reportepdf" obj.id%}"><ins>{{ obj.numero_comprobante }}</ins></a></td>
                                <td>{{ obj.fecha|date:'Y-m-d' }}</td>
                                <td>{{ obj.vigencia_doc_empresa.serie }}-{{ obj.num_documento }}</td>
                                <td style="text-align: right;">{{ obj.subtotal_tarifa0|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj.subtotal_tarifa12|floatformat:"2" }}</td>
                                <td style="text-align: right;">{% suma_2_snippet obj.descuento_tarifa12 obj.descuento_tarifa0%}</td>
                                <td style="text-align: right;">{{ obj.iva_total|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj.total_ice|floatformat:"2" }}</td>
                                {# Crea las lista para el Snnipet SumaResta #}
                                {% make_list obj.subtotal_tarifa0 obj.subtotal_tarifa12 obj.iva_total  obj.total_ice as sum_list %}
                                {% make_list obj.descuento_tarifa12 obj.descuento_tarifa0 as rest_list %}
                                {# Recibe dos listas, la cual la primera es para los valores que se van a summar y la segunda #}
                                {# los que se van a restar #}
                                <td style="text-align: right;">{% SumaResta sum_list rest_list %}</td>

                                {% if obj.getRetencion %}
                                    <td style="text-align: right;">{{ obj.getRetencion.monto|floatformat:"2" }}</td>
                                    {% make_list obj.getRetencion.monto as rest_list %}
                                    <td style="text-align: right;">{% SumaResta sum_list rest_list %}</td>
                                {% else %}
                                    <td style="text-align: right;">0.00</td>
                                    <td style="text-align: right;">{% SumaResta sum_list rest_list %}</td>
                                {% endif %}
                                <td>Activa</td>

                            </tr>
                        {% endfor%}
                            <tr>
                                <td  style="text-align: right; padding-right: 30px;" colspan="3">Total de Ventas Activas</td>
                                <td  style="text-align: right;">{{ obj_cliente.base0|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj_cliente.baseiva|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj_cliente.total_desc|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj_cliente.monto|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj_cliente.total_ice|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj_cliente.total_venta|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj_cliente.total_ret|floatformat:"2" }}</td>
                                <td style="text-align: right;">{{ obj_cliente.cobrar|floatformat:"2" }}</td>
                                <td></td>
                            </tr>
                    </table>
                {% endif %}
            </div>


            {% endfor %}

        </div>
    {% else %}
        <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}
    <div class="div div-agregar">
            <a class="boton boton-gray" href="{% url "reporte_inicio" %}" >Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}