{% extends "base.html" %}
{% block title %}Reporte de Ventas Pendientes{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load snnipet_cabecera_transaccion_id %}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
        .numero{
            text-align: right;
        }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
       function limp_rep(){
            $(".tabla_cliente").each(function(){
                var i = 0;
                var num_comp_ini = $(this).find(".num_doc:first").text();
                $(this).find(".num_doc").each(function(){
                    if (i != 0)
                    {
                        var num_comp = $(this).text();
                        if(num_comp == num_comp_ini)
                        {
                            $(this).empty();
                        }
                        else
                        {
                            num_comp_ini = num_comp;
                        }
                    }
                    i++;
                });
            });
       }
       jQuery(document).ready(function($) {
           var formulario = $('#formulario');
           $('#limpiar').click(function(){
               limpiar_form(formulario);
               /*esto oculta los panales para que no se caiga al limpiar el excel y el pdf*/
               $('.div-descargas').remove();
               $('.row-cabecera').remove();

            });
            limp_rep();
            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();
           $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function()
                {
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
           });
           $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action){
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
           });
           $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

       });
    </script>

{% endblock %}
{% block item-reportes %}item-activo-menu{% endblock %}
{% block ruta-icono %}
    {{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
{% endblock %}
{% block ruta-principal %}Reportes{% endblock %}
{% block ruta-actual %}Ventas / Ventas Pendientes por Entregar{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_ventas_pendientes" %}" data-action="{% url "reporte_ventas_pendientes" %}" class="form-group" id="formulario" method="post">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>

                            <td style="width: 150px;">
                                {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>

                            <td>
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                        </tr>
                    </table>
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Cliente:</label>
                            </td>
                            <td>
                                {{ buscador.cliente|add_class:"combo" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Item:</label>
                            </td>
                            <td>
                                {{ buscador.item|add_class:"combo" }}
                            </td>
                        </tr>
                    </table>
                    <table class="tabla-comprobante-cabecera" style="display: none;">
                        <tr>
                            <td style="width: 150px;">
                                <label>Ordenado por:</label>
                            </td>
                            <td colspan="3">
                                {{ buscador.ordenamiento|add_class:"combo" }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="limpiar" id="limpiar" title="Limpiar">
        </div>
    </form>
        {% if query  %}
            <div class="div div-descargas">
                    <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_ventas_pendientes_excel" %}"></a>
                    <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_ventas_pendientes_pdf" %}"></a>
            </div>
            <div class="row row-cabecera">
                <table id="table-info-registro" style="border-collapse: separate; border-spacing:  20px;">
                            {% if parametro == 2 %}
                                <tr>
                                    <td>
                                        <p class="tabla-pre-detalles">CLIENTE: <label class="detalle-codigo">{{ cliente.razon_social }}</label></p>
                                    </td>
                                </tr>
                            {% elif parametro == 3 %}
                                <tr>
                                    <td>
                                        <p class="tabla-pre-detalles">ITEM: <label class="detalle-codigo">{{ item.codigo }}-{{ item.nombre }}</label></p>
                                    </td>
                                </tr>
                            {% elif parametro == 4 %}
                                <tr>
                                    <td>
                                        <p class="tabla-pre-detalles">CLIENTE: <label class="detalle-codigo">{{ cliente.razon_social }}</label></p>
                                    </td>
                                     <td>
                                        <p class="tabla-pre-detalles">ITEM: <label class="detalle-codigo">{{ item.codigo }}-{{ item.nombre }}</label></p>
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    <div class="div-centrar div-tabla">
                        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped tabla_saldos tabla_cliente" cellpadding="0" cellspacing="0">
                            <tr>
                                <th class="text-center">Fecha Emisión</th>
                                <th class="text-center"># Documento</th>
                                {% if parametro == 2%}
                                    <th class="text-center">Item</th>
                                {% endif %}
                                {% if parametro == 1%}<!--  si no he seleccionado cosas en los combos muestra ambos el cliente y el items -->
                                    <th class="text-center">Cliente</th>
                                    <th class="text-center">Item</th>
                                {% endif %}
                                {% if parametro == 3 %}
                                    <th class="text-center">Cliente</th>
                                {% endif %}
                                <th class="text-center">Cant. Vendida</th>
                                <th class="text-center">Cant. Entregada</th>
                                <th class="text-center">Cant. Pendiente</th>
                            </tr>

                            {% for obj in query %}
                                <tr>
                                    <td>{{ obj.venta_cabecera.fecha|date:"Y-m-d" }}</td>
                                    <td class="num_doc">{{ obj.venta_cabecera.num_documento }}</td>
                                    {% if parametro == 2 %}
                                        <td>{{ obj.item.codigo }}-{{ obj.item.nombre|slice:"0:17" }}{% if obj.item.nombre|length > 17 %}...{% endif %}</td>
                                    {% endif %}
                                    {% if parametro == 1  %}
                                        <td title="{{ obj.venta_cabecera.cliente.razon_social}}">{{ obj.venta_cabecera.cliente.razon_social|slice:"0:17" }}{% if obj.venta_cabecera.cliente.razon_social|length > 17 %}...{% endif %}</td>
                                        <td title="{{ obj.item.codigo }}-{{ obj.item.nombre }}"  >{{ obj.item.codigo }}-{{ obj.item.nombre|slice:"0:17" }}{% if obj.item.nombre|length > 17 %}...{% endif %}</td>
                                    {% endif %}
                                    {% if parametro == 3 %}
                                        <td title="{{ obj.venta_cabecera.cliente.razon_social}}">{{ obj.venta_cabecera.cliente.razon_social|slice:"0:17" }}{% if obj.venta_cabecera.cliente.razon_social|length > 17 %}...{% endif %}</td>
                                    {% endif %}
                                    <td class="numero">{{ obj.cantidad }}</td>
                                    <td class="numero">{{ obj.cant_entregada }}</td>
                                    <td class="numero">{% resta_snippet obj.cantidad obj.cant_entregada  %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
            </div>

        {% else %}

            {% if parametro == 1 %}
                <div style="text-align: center; margin-top: 40px;">
                    <p class="tabla-pre-detalles"> No existen ventas pendientes de entrega</p>
                </div>
            {% elif parametro == 2 %}
                <div style="text-align: center; margin-top: 40px;">
                    <p class="tabla-pre-detalles"> La presente consulta con el  CLIENTE: <label class="detalle-codigo">{{ cliente.razon_social }}</label>
                    <p class="tabla-pre-detalles">No ha generado resultados</p>
                </div>
            {% elif parametro == 3 %}
                <div style="text-align: center; margin-top: 40px;">
                    <p class="tabla-pre-detalles"> La presente consulta del ITEM: <label class="detalle-codigo">{{ item.codigo }} - {{ item.nombre }}</label>
                    <p class="tabla-pre-detalles">No ha generado resultados</p>
                </div>
            {% elif parametro == 4 %}
                <div style="text-align: center; margin-top: 40px;">
                    <p class="tabla-pre-detalles"> La presente consulta con el  CLIENTE: <label class="detalle-codigo">{{ cliente.razon_social }}</label> e
                    ITEM: <label class="detalle-codigo">{{ item.codigo}}-{{ item.nombre }}.</label></p>
                    <p class="tabla-pre-detalles">No ha generado resultados, por favor intente con otros criterios</p>
                </div>
            {% endif %}

        {% endif %}




    <div class="div div-agregar" style="margin-top: 20px;">
            <a class="boton boton-gray" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}