/*Diseño cm_login.html*/
body, html{
    height: 100%;
}

.wrapper {
    display: table;
    height: 100%;
    min-height: inherit !important;
    width: 100%;
    margin: auto;
}

.login-page {
    background: #444;
    border-top: 4px solid #E65525;

}

.main-logo img{
    width: 290px;
    height: auto;
}

.login-page .main-logo p{
    color: #999;
}

.btn-skyorange{
    background: #E65525;
}

.login-page .btn {
    width: 100%;
}

input[type="text"],input[type="password"]{
    color: #999999;
}

.mensajes-login{
    padding: 30px 0px;
}

.alert--text{
    margin-top: 10px;
}

.alert {
    padding: 10px 25px;
}

.pe-7s-close-circle{
    color: #ff0000 !important;
}
