/********************************************
*  Hoja de estilos para agregar, copiar y
*  anular y generar compra
*  10/04/2014
********************************************/

#total_reembolso thead td{
    border: 1px solid #A1A1A1;
    color: #DD4814;
    font-weight: normal;
    padding: 5px 10px;
    text-align: center;
}
#total_reembolso td{
    width: 90px;
    height: 35px;
    text-align: right;
}
#detalle_reembolso h6{
    text-align: right;
}
#total_reembolso thead td:first-child{
    border: none;
    color: #DD4814;
    font-weight: normal;
    padding: 5px 10px;
    text-align: center;
}
#forma_pago:not(.selectpicker){
    float: right;
    position: relative;
    right: -24px;
    top: -26px;
}
#forma_pago *{
    text-align: left;
}
#forma_pago table td{

    color: #9A9A9A;
    font-weight: normal;
    padding: 5px 10px;
    text-align: center;
}
#detalle_retencion
{

    text-align: center;
}
#total_detalle{
    float: right;
    border-left: 1px solid #dd4814;
}
#detalle_retencion > a
{
    margin: auto;
    height: 100%;
    background-color:#DD4814;
    color:#FFF;
    text-decoration:none;
    text-transform:uppercase;
    text-align: center;
    border-radius: 4px;
}

.dospuntos{
    color: #dd4814;
}
.col-sm-12, .col-md-12, .col-xs-12, .col-lg-12 {
    float: left;
}
#pago_hide, #doc_mofi_hide, #doc_modifica_title{
    display: none;
}
#iva_ret_detalle{
    padding-right:30px;
}
#contenedor_detalle_comp{
    margin-top: 35px;
    margin-bottom: 35px;
}
#detalle_retencion  .row > div[class^="col-"] :not(#id_autorizacion_retencion){
   padding: 1px;
}
#contenedor_detalle_comp div[class^="col-"] > div[class^="col-"]{
    padding: 2px;
}
.form-group > input{
    padding: 0px;
}
.alin_der{
    text-align: right;
}
.alin_izq{
    text-align: left;
}

.oculto{
    display: none;
}

.popover {
    background-color: #F2DEDE;
}

.popover fade right in{

    top: 698.5px;
    left: 379.875px;
    display: block;
    background-color: #F2DEDE;
}

.popover.bottom .arrow:after{
    border-bottom-color: #F2DEDE;
}
.popover-title{
    padding: 5px;
    margin-bottom: -8px;
    color:#B94A48;
    background-color: #F2DEDE;
}
.popover-content{
    padding-top: 1px;
    background-color: #F2DEDE;
    border-color: #F2DEDE;
}


.rembolso-ok{
    background: #DFF0D8 !important;
}

.rembolso-error{
    background: #FEF2F2 !important;
}