
.row-cabecera{


    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
    width: 100%;
}

.cabecera-left{
    background: #FFF;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 40px;
    width: 480px;
    float: left;

}

.cabecera-right{
    background: #FFF;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 40px;
    width: 480px;
    float: right;

}

.row-cabecera table{
    width: 100%;
}

.row-cabecera table td label{
    font-weight: 600 !important;
    font-size: 12px !important;
    color: #9A9A9A !important;
}

.row-cabecera table td{
    height: 22px;
    vertical-align: top;
    padding-top: 5px;
}

.sustitulo-comprobante{
    font-size: 14px;
    color: #444;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
}

.row-cabecera .tabla-comprobante>tbody>tr:nth-child(odd)>th {
    background: #A9A9A9 !important;
    padding: 8px 10px;
    text-align: center;
    color: white;
    line-height: inherit;
    font-weight: normal;

}

.row-cabecera .tabla-comprobante td{
    padding: 8px 10px;
    line-height: inherit;
}

.row-cabecera .tabla-comprobante>tbody>tr:nth-child(odd)>td{
    background: #F9F9F9 !important;
}

.row-cabecera .tabla-comprobante>tbody>tr>td{
    background: #FFF;
    border-top: 0px !important;
}

#div-totales .td-label{
    width: 150px;
    text-align: left;
    color: #9A9A9A;
}

#div-totales .td-info{
    width: 150px;
    text-align: right;
}

#div-totales #table-totales td:last-child{
    border: 1px solid silver;
    padding-right: 10px;
}

.td-haber-cuenta{
    padding-left: 30px !important;
}

.td-derecha{
    text-align: right;
}

.td-centrar{
    text-align: center;
}

.row-cabecera table td.td-dato label{
    color: #444547 !important;
}

.sustitulo-comprobante{

}

.reporte-subtitle{
    font-size: 13px;
    padding-bottom: 10px;
}