/*Estilos Plan de Cuentas */
a.boton-add{
    width: 20px;
    height: 20px;
    background: url("../images/add_cuenta.png");
    display: inline-block;
    position: relative;
}

a.boton-edit{
    width: 20px;
    height: 20px;
    background: url("../images/edit_cuenta.png");
    display: inline-block;
}

a.boton-delete{
    width: 20px;
    height: 20px;
    background: url("../images/delete_cuenta.png");
    display: inline-block;
}

.filetree li.expandable span.folder{
    position: relative;
    top: 0px;
    padding-left: 40px;
    background: url("../images/folder_cuenta.png")10px 8px no-repeat;
}

.filetree li span.folder-up{
    background: url("../images/folder_cuenta.png")10px 8px no-repeat;
     padding-left: 40px;
}


.filetree li.collapsable span.folder{
    position: relative;
    top: 0px;
    padding-left: 40px;
    background: url("../images/folder_cuenta.png")10px 8px no-repeat;
}

ul li.expandable span, ul li.last span {
    padding-left: 0px;
}

.treeview ul{
    margin-top: 0px;
}

.boton{
    padding: 10px 20px !important;
    color: white;
    cursor: pointer;
}

.boton-ok, .boton-ok:hover, .boton-ok:focus{
    color: #FFF;
    background: #E75300;
    border: none;
    display: inline-block;
}

a.boton-gray, a.boton-gray:hover {
    color: #FFF;
    background: #696969;
    border: none;
    display: inline-block;

}



a.boton-silver, a.boton-silver:hover {
    color: #FFF;
    background: silver;
    border: none;
    display: inline-block;

}

.row-plan-cuentas{
    background: #FFF;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 40px;
    width: 625px;
}

input[type="text"], input[type="password"] {
    height: 25px !important;
    padding: 2px 10px;
    font-size: 12px !important;
    color: #696969;
    border-radius: 0px;
    border: 1px solid #E5E5E5;
}

.row-formulario-modal #id_descripcion{
    width: 100%;
    resize: none;
    border: 1px solid #E5E5E5 !important;
    color: #696969;
    font-size: 12px;
    padding: 5px 10px;
}


.slc-b-s{
    background: url("../../cm_html/images/combo_vineta.png") transparent no-repeat right 0px;
    border: 0px !important;
}


.slc-primary, .slc-b-s{
    background: url("../../cm_html/images/combo_vineta.png") transparent no-repeat right 0px !important;
    font-size: 12px !important;
    border-radius: 0px !important;
    border: 1px solid #E5E5E5 !important;
    height: 25px;

}


.bootstrap-select .caret{
    display: none;
}

.txt-100pc {
    width: 100%;
}