{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Items{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario}}{% endblock %}
{% block reporte_titulo %}Reporte Items{% endblock %}
{% block tabla_contenido %}

        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px; width: 100px;">Código</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; width: 350px; font-size: 11px;">Item</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Unidad</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Precio</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Iva</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Precio F.</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Stock</th>
                </tr>
            </thead>

            <tbody>
                {% for obj in items %}
                <tr>
                   <td style="text-align: left; font-size: 10px; padding: 2px 5px 0px 0px;">{{ obj.codigo }}</td>
                   <td style="text-align: left; font-size: 10px; padding: 2px 5px 0px 5px;">{{ obj.nombre }}</td>
                   <td style="text-align: left; font-size: 10px; padding: 2px 5px 0px 5px;">{{ obj.unidad.descripcion }}</td>
                   <td  style="text-align: right; font-size: 10px; padding: 2px 5px 0px 5px;">
                       {% if obj.precio1 %}
                           {{ obj.precio1|floatformat:2 }}
                       {% else %}
                           0.00
                       {% endif %}
                   </td>
                   <td  style="text-align: right; font-size: 11px;  padding: 2px 5px 0px 5px;">
                       {% if obj.iva and obj.iva == 12 %}
                           {% multiplicacion_snippet 0.12 obj.precio1 %}
                       {% else %}
                           0.00
                       {% endif %}
                   </td>
                   <td  style="text-align: right; font-size: 11px; padding: 2px 0px 0px 5px;">
                        {% if obj.precio1 %}
                           {% if obj.iva and obj.iva == 12 %}
                               {% multiplicacion_snippet 1.12 obj.precio1 %}
                           {% else %}
                               {{ obj.precio1|floatformat:2 }}
                           {% endif %}

                       {% else %}
                           0.00
                       {% endif %}
                   </td>

                   <td style="text-align: right; font-size: 10px; padding: 2px 5px 0px 5px;">
                       {% if obj.TipoItem == 1 %}
                           {% if obj.cantidadBodega %}
                                {{ obj.cantidadBodega }}
                           {% else %}
                                0.0
                           {% endif %}
                       {% elif obj.TipoItem == 2 %}
                            N/A
                       {% endif %}
                   </td>

                </tr>
                {% endfor%}
            </tbody>
        </table>
{% endblock %}