{% extends "base.html" %}
{% block title %}Reporte Saldo por Item{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }

    #tabla_reporte tbody tr td.numero:first-child{
        text-align: center;
    }

    .td-item{
        text-align: left;
    }

    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>


    <script>
        jQuery(document).ready(function($) {
            var formulario = $("#formulario");
             $('#limpiar').click(function(){
               limpiar_form(formulario);
                 $('.div-descargas').remove();
                $('.tabla-formato').remove();
            });


            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center td-item");
                    }
                })
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();


            var codigos = $('#tabla_reporte thead tr th:first-child').html().split('0000000000_');
            $('#tabla_reporte thead tr th:first-child').html(codigos[1]);

        });

    </script>



{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}
 {% block container-navigation-media %}container-navigation-media{% endblock %}
 {% block container-contenido-media %}container-contenido-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Inventarios / Saldos por Item{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url "reporte_saldo_por_item" %}" class="form-group" id="formulario" method="POST">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Fecha Hasta:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;" title="Los datos mostrados en la consulta son los de fechas menores o iguales a la seleccionada">
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-100pc" }}
                            </td>
                        </tr>

                        <tr style="display: none">
                            <td>{{ buscador.page }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>

    {% if objetos %}
            <div class ="datos-mostrar-ocultar">
            <div class="div-content-report-jasper">
                <div class="div div-descargas" style="margin-bottom: 10px;">
                    <a class="img_report img_excel excel" title="Descagar en EXCEL" href="{% url "reporte_saldo_por_item_excel" %}"></a>
                    <a class="img_report img_pdf excel" title="Descagar en PDF" href="{% url "reporte_saldo_por_item_pdf" %}"></a>
                </div>

                <div style="border: 2px solid #E5E5E5;">
                    {{ objetos.content|safe }}
                </div>
            </div>
            </div>
        {% else %}
            <p class="resultado-vacio"></p>
        {% endif %}

    <div class="div div-agregar" style="padding-bottom: 30px;">
            <a class="boton boton-gray" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

{% endblock %}